@full-size: 100%;
.main {
	background: @white;

	.wrapper {
		padding: 0;
		width: 960px;
	}
}

// header var
@header-height: 50px;

.header {
	// верхний блок шапки
	&_t {
		background: #f4f4f4;
		border-color: #bbbbbb;
		border-style: solid;
		height: @header-height;
		border-width: 0 1px 0 1px;
		padding: 0 0 0 10px;
	}

	&_i {
		.inline-block-middle();
	}

	&_c {
		background: @black;
		padding: 5px 10px;
		height: 60px;
	}

	&_b {
		height: 85px; 
		padding: 5px 10px 0;
		border-left: 1px solid #c7c7c7;
		border-right: 1px solid #c7c7c7;
	}
}
// контакты
.hdcontacts {
	margin: 0 10px 0 0;
	&_lk {
		color: #808080;
	}
	&_phone {
		color: #424242;
		font-size: 14px;
		font-weight: bold;
	}
}
// ссылки в шапке
.hdlk {
	&_i {
		.inline-block();
		margin: 0 0 0 20px;
		line-height: @header-height;
	}
	&_lk {
		color: #424242;
	}
}
// звонок с сайта
.hdcall {
	padding: 2px 3px 2px 4px;
	border: 1px solid #f99b1c;
	.rounded(3px);
	color: #f99b1c;
	font-weight: bold;
	&:hover {
		text-decoration: none;
	}

	&_tx {
		.inline-block();
		line-height: 1.2;
	}
}

// логотип
.sitelogo {
	background: url("@{base-url}/index/img/logo.png") no-repeat 0 50%;
	width: 71px;
	height: 60px;
	margin: 0 85px 0 0;
}

// пользовательские контролы
.userbtn {
	float: right;
	&_i {
		float: left;
		padding: 0 10px;
		border-left: 1px dotted #bbbbbb;
		&-lk {
			.userbtn_lk {
				.table-cell();
				vertical-align: middle;
				background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAOElEQVQIW2NgYDisdmDdgU9AuO6wGgOY+37/fwg88B4odGAdjAsWWsdw4BOKwCcsAuhaMAxFtxYAK6VexT+uZA8AAAAASUVORK5CYII=") no-repeat 0 50%;
				padding-left: 14px;
				height: @header-height;
			}
		}
		&-cart {
			.userbtn_count {
				background: #f99b1c;
			}
			.userbtn_icon {
				margin-top: 9px;
			}
		}
		&-act {
			background: @white;
		}
	}
	&_lk {
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	&_tx {
		.inline-block();
		margin: 0 2px 0 0;
		line-height: 50px;
	}

	&_count {
		.inline-block();
		color: @white;
		font-weight: bold;
		text-align: center;
		.rounded(3px);
		background: #797979;
		height: 20px;
	    line-height: 1.5;
	    margin: 15px 0 0;
	    width: 20px;
	}

	&_icon {
		margin: 15px 0 0;
	}
}

// форма поиска
.hdsearch {
	&_lbl {
		color: @white;
		display: block;
		line-height: 1;
    	margin: 0 0 3px;
	}
	&_itw {
		position: relative;
		.inline-block();
		&:after {
			background-position: -186px 4px;
		    background-repeat: no-repeat;
		    display: inline-block;
		    height: 100%;
		    vertical-align: top;
		    width: 27px;
		    top: 0;
		    left: 8px;
		    background-image: url("/styles/index/img/i-header.png");
		    .pseudo-class();
		}
	}
	&_it {
		border: 1px solid #a0a0a0;
		line-height: 1.2;
    	padding: 5px 10px 5px 35px;
	    width: 450px;
    	font-size: 16px;
		margin: 0 5px 0 0;
		background: @white;
		.rounded(4px);
		.inline-block();
		&:focus {
			border-color: @firmOrange;
		}
	}
	&_btn {
		font-size: 16px;
	    line-height: 1;
    	padding: 6px 20px 7px;
	    .inline-block();
	    border-color: #f99b1c;
	}
}

// энтерпрайз
.hdep {
	color: #dbdbdb;
	float: right;
	text-align: center;
	margin: 7px 0 0;
	&_h {
		margin: 0 0 10px;
		line-height: 1;
	}
}

// навигация по сайту
.navsite {
	.table();
	height: @full-size;
	&_i {
		.table-cell();
		text-align: center;
		position: relative;
		vertical-align: top;
		padding: 0 5px;
		&:hover {
			.navsite2 {
				display: block;
			}
			.navsite_lk {
				&:after {
					.pseudo-corner-top(6px, #292929, 80px);
					left: 50%;
					margin-left: -6px;
				}
			}
		}
		&:first-child {
			&:hover {
				.navsite2 {
					left: -11px;
				}
			}
		}
	}
	&_icon {
		font-size: 95px;
	    height: 40px;
	    line-height: 0.5;
		margin: 0 0 10px -5px;
		color: @black;
		font-family: 'menuIconFont';
	}
	&_imgw {
		height: 45px;
	    margin: 5px 0 0;
	    overflow: hidden;
	}
	&_img {
		.inline-block();
	}
	&_tx {
		text-transform: uppercase;
		font-family: "Enter type";
		font-size: 11px;
		line-height: 1;
	}
	&_lk {
		display: block;
		height: 85px;
		line-height: 1;
		&:hover {
			text-decoration: none;
		}
	}
}

.navsite2 {
	display: none;
	position: absolute;
	top: 85px;
	left: -50px;
	z-index: 20;
	border: 1px solid #292929;
	border-top-width: 6px;
	background: @white;
	width: 205px;
	text-align: left;
	.transition(all .3s ease);
	&:hover {
		width: 415px;
	}
	&_i {
		&:hover {
			.navsite3 {
				display: block;
				.opacity(1);
			}
			.navsite2_lk {
				background: #e3e3e3;
				text-decoration: none;

				&:after {
					.pseudo-corner-right(8px, @white, 5px);
					right: -3px;
				}
			}
		}
	}
	&_lk {
		font-size: 14px;
		padding: 5px 10px;
		width: 185px;
		line-height: 1.2;
		display: block;
		position: relative;
		z-index: 2;
	}
}

.navsite3 {
	display: none;
	border: 1px solid #292929;
	border-top-width: 6px;
	background: url("@{base-url}/index/img/nav-shadow.png") repeat-y 204px 0 @white;
	left: -1px;
    min-height: 100%;
    padding-left: 215px;
    padding-right: 5px;
    position: absolute;
    top: -6px;
    width: 195px;
    .transition(all .3s ease);
    .opacity(0);

    &_i {
    	padding: 5px 10px;
    	&-tl {
    		text-align: center;
    		font-size: 14px;
    		margin: 0 0 5px;
    	}
    }
    &_lk {
    	font-size: 12px;
    	&:hover {
    		border-bottom: 1px solid #a0a0a0;
    		text-decoration: none;
    	}
    }
}

.navitem {
	text-align: center;
	margin: 5px 0 0;
	&_tl {
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 5px;
	}
	&_cnt {
		display: block;
		&:hover {
			text-decoration: none;
			.navitem_n {
	    		border-bottom: 1px solid #a0a0a0;
	    		text-decoration: none;
	    	}
    	}
	}
	&_img {
		width: 120px;
		height: 120px;
		display: block;
		margin: 0 auto 2px;
	}
	&_pr {
		font-size: 21px;
	}
}

// иконки в шапке
.sprite-main(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    background-repeat: no-repeat;
    .inline-block();
    height: @height;
}

.i-header {
    background-image: url("@{base-url}/index/img/i-header.png");    

    &-cart {
        .sprite-main(-2px, -2px, 25px, 33px);
    }

    &-compare {
        .sprite-main(-31px, -2px, 25px, 25px);
    }

    &-ep {
        .sprite-main(-60px, -2px, 97px, 24px);
    }

    &-phone {
        .sprite-main(-161px, -2px, 21px, 28px);
    }

    &-search {
        .sprite-main(-186px, -2px, 27px, 20px);
    }
}

.i-shopInfo {
    background-image: url("@{base-url}/index/img/i-delivery.png");    

    &-delivery {
        .sprite-main(0, 0, 33px, 33px);
    }

    &-deliveryself {
        .sprite-main(-33px, 0, 33px, 33px);
    }

    &-payment {
        .sprite-main(0, -33px, 33px, 33px);
    }

    &-wow {
        .sprite-main(-33px, -33px, 33px, 33px);
    }
}

.i-shopinfo {
    background-image: url("@{base-url}/index/img/i-shopinfo.png");  

    &-delivery1 {
        .sprite-main(-10px, -10px, 101px, 87px);
    }

    &-delivery2 {
        .sprite-main(-131px, -10px, 100px, 64px);
    }

    &-delivery3 {
        .sprite-main(-160px, -106px, 120px, 113px);
    }

    &-delivery4 {
        .sprite-main(-10px, -227px, 87px, 88px);
    }

    &-payment1 {
        .sprite-main(-117px, -227px, 88px, 72px);
    }

    &-payment2 {
        .sprite-main(-251px, -10px, 92px, 64px);
    }

    &-payment3 {
        .sprite-main(-225px, -227px, 62px, 78px);
    }

    &-payment4 {
        .sprite-main(-363px, -10px, 67px, 77px);
    }

    &-payment5 {
        .sprite-main(-339px, -107px, 60px, 77px);
    }

    &-selfdelivery1 {
        .sprite-main(-339px, -204px, 86px, 72px);
    }

    &-selfdelivery2 {
        .sprite-main(-307px, -296px, 76px, 68px);
    }

    &-selfdelivery3 {
        .sprite-main(-10px, -384px, 85px, 54px);
    }

    &-selfdelivery4 {
        .sprite-main(-115px, -384px, 60px, 60px);
    }
}

.i-share {
    background-image: url("@{base-url}/index/img/i-share.png");

    &-fb {
        .sprite-main(0, 0, 28px, 28px);
    }

    &-od {
        .sprite-main(-28px, 0, 28px, 28px);
    }

    &-tw {
        .sprite-main(-56px, 0, 28px, 28px);
    }

    &-vk {
        .sprite-main(-84px, 0, 28px, 28px);
    }

    &-yt {
        .sprite-main(-112px, 0, 28px, 28px);
    }
}



// слайдер вертикальный
.slidesbnnr {
	border: 1px solid #c7c7c7;
	border-top: none;
	position: relative;
	height: 299px;
	overflow: hidden;
	&_lst {
		position: relative;
		top: 0;
	}
	&_i {

	}
	&_img {
		display: block;
	}
	&_lk {
		display: block;
	}
	&_thmbs {
		position: absolute;
		top: 5px;
		right: 5px;

		&_i {
			margin: 0 0 3px;
		}

		&_img {
			border: 1px solid transparent;
			.opacity(0.6);
			.rounded(3px);
			.transition(all .3s ease-out);
			width: 83px;
			height: 53px;
			overflow: hidden;
			cursor: pointer;
			display: block;
			&-act,
			&:hover {
				border-color: @white;
				.opacity(1);
			}
		}
	}
}

@shopInfo-item-width: 235px;
.shopInfo {
	margin: 15px 10px;
	&_i {
		border: 1px dotted @black;
		width: 205px;
		height: 35px;
		padding: 4px 6px;
		margin: 0 8px;
		float: left;
		cursor: pointer;
		&:last-child {
			margin-right: 0;
		}
	}
	&_r {
		.inline-block-middle();
	}
	&_l {
		.inline-block-middle();
		margin: 0 2px 0 0;
	}
	&_tx {
		margin: 0;
	}
	&_tl {
		font-size: 14px;
		font-weight: bold;
		line-height: 1.2;
	}
}

@shopInfoTab-corner-left: @shopInfo-item-width/2 - 40;
.shopInfoTab {
	padding: 15px 15px 20px;
	margin: 20px 0;
	text-align: center;
	border: 1px solid @black;
	position: relative;
	display: none;
	&:before {
		.pseudo-corner-top(12px, @black, -12px);
		left: @shopInfoTab-corner-left;
	}
	&:after {
		.pseudo-corner-top(10px, @white, -10px);
		left: @shopInfoTab-corner-left + 2;
	}
	&-v2 {
		&:before {
			left: @shopInfo-item-width + @shopInfoTab-corner-left;
		}
		&:after {
			left: @shopInfo-item-width + @shopInfoTab-corner-left + 2;
		}
	}
	&-v3 {
		&:before {
			left: 2*@shopInfo-item-width + @shopInfoTab-corner-left;
		}
		&:after {
			left: 2*@shopInfo-item-width + @shopInfoTab-corner-left + 2;
		}
	}
	&-v4 {
		&:before {
			left: 3*@shopInfo-item-width + @shopInfoTab-corner-left;
		}
		&:after {
			left: 3*@shopInfo-item-width + @shopInfoTab-corner-left + 2;
		}
	}
	&_lst {
		.table();
		width: @full-size;
		margin: 0 0 20px;
	}
	&_i {
		.table-cell();
		vertical-align: top;
	}
	&_iconw {
		width: 120px;
		margin: 0 auto;
	}
	&_icon {
		border: 1px solid @black;
		.rounded(50%);
		width: 120px;
		height: 120px;
		overflow: hidden;
		.table-cell();
		vertical-align: middle;
		text-align: center;
	}
	&_tx {
		text-transform: uppercase;
		margin: 10px 0 0;
		text-align: center;
	}

	&_btn {
		padding: 5px 20px;
		line-height: 1;
		border: 1px solid @black;
		.rounded(3px);
		.inline-block();
		font-size: 14px;
		&:hover {
			text-decoration: none;
		}
	}
}


.slidesBox {
	border: 1px solid #c1d837;
	&-items {
		height: 533px;
		width: 473px;
		.inline-block();

		.slidesBox_inn {
			width: 473px;
			height: 483px;
		}

		.slidesBox_lst {
			width: 2000px;
		}

		.slidesBox_i {
			width: 473px;
			height: 483px;

			.item {
			    float: left;
			    margin: 7px 19px 0 10px;
			    width: 207px;
			}
		}
	}
	&_h {
		background: #c1d837;
		text-align: center;
		height: 50px;
		&_c {
			.inline-block-middle();
			margin: 0 20px;
			height: 50px;
		}
	}
	&_t {
		font-size: 18px;
		text-transform: uppercase;
		.inline-block-middle();
		color: @white;
		margin: 5px 0;
	}
	&_btn {
		.inline-block-middle();
		width: 10px;
		height: 22px;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: 0 0;
		&-l {
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAoUlEQVQY02NgQAG/DP/t/SiEIvSY89+1f7+/y6EI/p3y7//fWhShP57//v87tooZSeiz6L/n/z79UEJR92/jv/9/ElG1pgK1rkER+qH678u/pyhO2c/y7+S/f79dUR3SBHRIP4rQd4V/f/5dvs2ORfA+B6p3IdonoAlitQjmpE/CaMJYHA/25gYMb0ID5DNagGANOngg16EJQqNDngFbxAEAZfV2DQiSf2EAAAAASUVORK5CYII=");
		}
		&-r {
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAj0lEQVQY02P4KPRv7y9DBlTwXf7f73/XHnOiCf+t+/f/7xQ0wVXM/479+//HE034h9K/z/+efxZFE/6T+O//v40M6ODfGqARqWiCn4T/Pf335YcqmvBv13///p3cz4LuuH6g45rQBO9z/Lv87893BcKCfydgaMdiEVYnYXE82JsbCAUI1qDDEshYowNbxAEA2ud2F3hMdY8AAAAASUVORK5CYII=");
		}
	}
	&_dott {
		line-height: 7px;
		cursor: pointer;
		&_i {
			.inline-block();
			width: 7px;
			height: 7px;
			.rounded(50%);
			background: @white;
			.opacity(0.5);
			margin: 0 1px;
			font-size: 7px;
			line-height: 7px;
			&-act {
				.opacity(1);
			}
		}
	}
	&_inn {
		overflow: hidden;
	}
	&_lst {
		position: relative;
		left: 0;
	}
	&_i {
		float: left;
	}
	&-bg2 {
		border-color: #49c7ed;
		.slidesBox_h {
			background: #49c7ed;
		}
	}
	&-bg3 {
		border-color: #292929;
		.slidesBox_h {
			background: #292929;
		}
	}
	&-full {
		width: @full-size;
		.box-sizing();

		.slidesBox_t {
			text-transform: none;
		}

		.slidesBox_inn {
			height: 320px;
		}

		.slidesBox_lst {
			width: 2000px;
		}

		.slidesBox_i {
			height: 320px;
			position: relative;
		}
	}

	// превью товаров на слайдере
	&_items {
		position: absolute;
		width: @full-size;
		text-align: center;
		bottom: 20px;

		&_i {
			.inline-block();
			background: @white;
			.rounded(3px);
			padding: 5px;
			margin: 0 7px;
		}

		&_img {
			width: 50px;
			height: 50px;
		}
	}

	&_btnview {
		background: #292929;
		.opacity(0.8);
		.rounded(3px);
		color: @white;
		font-size: 14px;
		line-height: 1.2;
		text-align: center;
		padding: 5px 20px;
		position: absolute;
		right: 40px;
		bottom: 30px;
		.transition(all .3s ease-out);
		&:hover {
			.opacity(0.9);
			text-decoration: none;
		}
	}
}

.item {
	margin: 0 0 10px;
	&_imgw {
		display: block;
		text-align: center;
	}
	&_n {
		height: 34px;
	    margin: 0 0 7px;
	    overflow: hidden;

	    a {
	    	&:hover {
		    	border-bottom: 1px solid #a0a0a0;
		    	text-decoration: none;
		    }
	    }
	}

	&_pr {
		font-size: 21px;
		.inline-block();
		line-height: 24px;
	}

	&_btn {
		float: right;
		font-size: 14px;
	}
}

.infoBox {
	margin: 15px 20px;
	&_tl {
		font-size: 18px;
		text-transform: uppercase;
		margin: 0 0 20px;
	}
}

.lstitem {
	margin: 0 0 20px;
	&_i {
		.inline-block-middle();
		margin: 0 15px 10px 0;
	}
	&-7i {
		.lstitem_i {
			width: @full-size/7;
			float: left;
			display: block;
			margin: 0;
		}
	}
	&-center {
		text-align: center;
		* {
			display: block;
		}
		.lstitem_img {
			width: 120px;
			margin: 0 0 10px;
		}
	}

	&_lk {
		font-size: 14px;
		&:hover {
	    	text-decoration: none;

	    	.lstitem_n {
			    border-bottom: 1px solid #a0a0a0;
	    	}
	    }
	}

	&_n {
		display: inline;
	}
}

// подвал
.footer {
    width: 960px;
    margin: -284px auto 0;
    height: 284px;
    border: 1px solid #e6e6e6;
    position: relative;
    &_t {
        background: @white;
    }
    &_b {
        width: 100%;
        padding-bottom: 5px;
    }
    //копирайт
    &_cpy {
        width: 940px;
        padding: 0 10px;
        height: 20px;
        line-height: 20px;
        margin: 0 auto;
        color: @white;
        &_l {
            float: left;
        }
        &_r {
            float: right;
            color: #c7c7c7;
            text-decoration: none;
            &:hover {
                color: #c7c7c7;
                text-decoration: underline;
            }
        }
        &_c {
            margin: 0 auto;
            text-align: center;
        }
        &_mbl {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAQAAAAXSy9vAAAAI0lEQVR4AWP8/58BDyAonYZfmgG/tDEBuymSNqbIaWm0cxoA/xwTLdo5eG4AAAAASUVORK5CYII") no-repeat 0 4px;
            .inline-block();
            text-decoration: underline;
            color: @white;
            padding: 0 0 0 22px;
        }
    }
    // информация о компании
    &_cmpn {
        margin: 0 0 15px;
        padding: 11px 10px;
        background-color: #e6e6e6;
        &_i {
            float: left;
            margin: 0 61px 0 0;
            &:last-child,
            &-last {
                margin-right: 0;
                float: right;
            }
        }
    }
    // правовая информация
    &_inf {
        float: left;
        &_lst {
            &_i {
                .inline-block();
                color: #515151;
                margin-right: 35px;
            }
            &_lk {
                color: #515151;
            }
        }
        &_tx {
            color: #929292;
            margin: 3px 0 25px;
            display: inline-block;
            vertical-align: top;
        }
    }
    // ссылки на соц сети
    &_socnet {
        float: right;
        .inline-block();
        margin: 5px 0 0;
        &_i {
            .inline-block();
            color: #515151;
            width: 26px;
            height: 26px;
            margin-right: 2px;
        }
        &_lk {
            display: block;
            width: 26px;
            height: 26px;
        }
    }
    // баннерки
    &_bnnr {
        float: left;
        &_i {
            float: left;
            .opacity(0.5);
            margin-right: 20px;
            .transition(all .2s ease);
            &:hover {
                .opacity(1);
            }
            &:last-child {
                margin-right: 0;
            }
            .teleportator {
                width: 130px;
            }
        }
    }
    //ссылки на приложения
    &_app {
        float: right;
        width: 360px;
        &_i {
            float: right;
            margin: 0 0 5px 5px;
            
            &:hover {
            	.footer_app_img {
					.opacity(1);
            	}
            }
            &-t {
                width: 160px;
                padding: 3px 5px 0;
                .opacity(1);
                color: #515151;
                height: 37px;
                line-height: 34px;
                color: #515151;
                background: #e6e6e6;
                .rounded(4px);
            }
        }
        &_img {
            display: block;
            .rounded(4px);
            .opacity(0.5);
        	.transition(opacity .2s ease);
        }
    }
}