.fadeIn {
    visibility: visible;
    overflow: visible;

    height: auto;

    .animation(fadeIn, .3s, 0, ease);
    .opacity(1);
}

@keyframes fadeIn {
    0% {
        .opacity(0);
    }
    100% {
        .opacity(1);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        .opacity(0);
    }
    100% {
        .opacity(1);
    }
}
@-moz-keyframes fadeIn {
    0% {
        .opacity(0);
    }
    100% {
        .opacity(1);
    }
}


@-webkit-keyframes heightDown {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
@-moz-keyframes heightDown {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
@keyframes heightDown {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@-webkit-keyframes heightUp {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}
@-moz-keyframes heightUp {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}
@keyframes heightUp {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}