.fadeIn {
    visibility: visible;
    overflow: visible;

    height: auto;

    .animation(fadeIn, .3s, 0, ease);
    .opacity(1);
}

@keyframes fadeIn {
    0% {
        .opacity(0);
    }
    100% {
        .opacity(1);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        .opacity(0);
    }
    100% {
        .opacity(1);
    }
}
@-moz-keyframes fadeIn {
    0% {
        .opacity(0);
    }
    100% {
        .opacity(1);
    }
}

.blink {
    .animation(blink, 1.9s, 0, ease-in, infinite);
}

@keyframes blink {
    0% {
        .opacity(0);
    }
    25% {
        .opacity(1);
    }
    50% {
        .opacity(1);
    }
    75% {
        .opacity(0);
    }
    100% {
        .opacity(0);
    }
}
@-webkit-keyframes blink {
    0% {
        .opacity(0);
    }
    25% {
        .opacity(1);
    }
    50% {
        .opacity(1);
    }
    75% {
        .opacity(0);
    }
    100% {
        .opacity(0);
    }
}
@-moz-keyframes blink {
    0% {
        .opacity(0);
    }
    25% {
        .opacity(1);
    }
    50% {
        .opacity(1);
    }
    75% {
        .opacity(0);
    }
    100% {
        .opacity(0);
    }
}

.blink-revers {
    .animation(blinkRevers, 1.9s, 0, ease-in, infinite);
}

@keyframes blinkRevers {
    0% {
        .opacity(1);
    }
    25% {
        .opacity(0);
    }
    50% {
        .opacity(0);
    }
    75% {
        .opacity(1);
    }
    100% {
        .opacity(1);
    }
}
@-webkit-keyframes blinkRevers {
    0% {
        .opacity(1);
    }
    25% {
        .opacity(0);
    }
    50% {
        .opacity(0);
    }
    75% {
        .opacity(1);
    }
    100% {
        .opacity(1);
    }
}
@-moz-keyframes blinkRevers {
    0% {
        .opacity(1);
    }
    25% {
        .opacity(0);
    }
    50% {
        .opacity(0);
    }
    75% {
        .opacity(1);
    }
    100% {
        .opacity(1);
    }
}