.table {
    width: 100%;

    .table();
    &-row {
        .table-row();
    }
    &-cell {
        padding: 10px;

        vertical-align: middle;

        .table-cell();
    }
    &--border-cell-hor {

        .table-row {
            .table-cell {
                border-bottom: 1px solid #eaeaea;
            }
        }
    }
}