//product shop description box
.bProductDesc {
    float: right;

    width: 280px;
    margin: 0 0 0 15px;

    .bProductDescText {
        margin: 23px 0 25px;

        font-size: 14px;
    }

    .bTextMore {
        margin: 5px 0 0 7px;
        
        a {
            text-decoration: underline;

            color: #a6a6a6;

			font-size: 12px;
        }
    }
    .creditbox {
		margin: 8px 0 10px;
        padding: 3px 0 3px 10px;

		border: none;

		font-size: 14px;

        background: #fff7e6;

        width: 150px;

        .rounded(4px);

		&__sum {
			display: block;
		}
	}

    &.mNoCredit {

        .priceOld {
            margin-left: 0;
        }

        .bPrice {
            margin: 0 0 15px;
        }

        .bCustomLabel {
            background: none;
            padding-left: 0;
            cursor: text;
        }
    }
}

.priceOld {
    margin: 0 0 3px 10px;

    color: @typBoxShadowColor;

    font-size: 21px;
    
    span:not(.rubl) {
        text-decoration: line-through;
    }
}

// SITE-3321
.bPrice5321a13ebb1e5 {
    margin-left: 10px;
}