.dotted {
	border-bottom: 1px dotted @black;
}
.bProductSection {
	background: @white;
}

//head section
.bPageHead {
	&__eSubtitle {
		font-size: 24px;
	}
	&__eTitle {
		padding: 0 0 7px;

		font-family: tahoma, verdana, arial, helvetica, sans-serif;
	}
	&__eArticle {
		color: #9d9d9d;
	}
}

// content
.bProductSection {

	.bDescriptionProduct {
		font-size: 14px;
		margin: 15px 0 0;
	}

	.bHeadSection {
		margin: 21px 0 10px;
		padding: 0;

		font-size: 16px;
	}

	//right section
	&__eRight {
		float: right;
        zoom: 1;

		width: 220px;
		margin: 15px 0 0 16px;

		.btnBuy {
			margin: 0 auto;
		}
	}
}

//tags
.bTags {
	margin: 0 0 0 10px;
	font-size: 11px;
}

//left section
.bProductSectionLeftCol {
	display: inline-block;
    float: left;

    width: 700px;
    margin: 15px 0 0;
}

//product shop description box
.bProductDescShop {
    float: right;

    width: 280px;
    margin: 0 0 0 15px;
    &__eText {
        margin: 23px 0 25px;

        font-size: 14px;
    }

    .bTextMore {
        margin: 4px 0 0;
        
        a {
            text-decoration: underline;

            color: #a6a6a6;

			font-size: 12px;
        }
    }
    
    //additional product options
    .bDescSelectItem {
        .rounded(5px);
        position: relative;

        height: 40px;
        margin: 0 0 10px;
        padding: 0 17px 0 10px;

        cursor: pointer;

        border: 1px solid #c7c7c7;
        background: url("@{base-url}/bProductSection/img/ico_corner.gif") no-repeat 265px 17px;

        font-size: 14px;
        line-height: 40px;

        &__eSelect {
            .opacity(0);
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;

            width: 280px;
            height: 37px;
            padding: 5px;

            cursor: pointer;

            color: transparent;
            border: none;
            background-color: transparent;
            box-shadow: none;

            font-size: 16px;

            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            -webkit-appearance: none;
        }

        &__eOption {
            display: block;
            zoom:1;

            height: 37px;

            text-align: right;

            color: black;
            background-color: #FFFFFF;

            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
            -webkit-appearance: none;
        }

        &__eValue {
            float: right;
        }
    }
    
    .creditbox {
        display: none;

		margin: 5px 0 0;

		border: none;

		font-size: 14px;

		.bigcheck {
			font-weight: normal;
			line-height: 22px;

			&.checked {
				color: #ffa901 !important;

				.dotted {
					border: none;
				}

				b {
					background-position: 0px -54px;
				}
			}

			b {
				margin: 0px 8px 0 0px;
			}
		}

		.creditbox__sum {
			padding-left: 36px;
		}
	}
}

    .inStock {
        margin-bottom: 6px;

        color: #fb9c00;

        font-weight: 800;
        line-height: 1;
    }

    .priceOld {
        margin-bottom: 3px;

        color: #a6a6a6;

        font-size: 21px;
        span {
            text-decoration: line-through;
        }
    }

    .bPrice {
        font-size: 30px;
    }

    .priceSale {
        margin: 5px 0 10px;

        cursor: pointer;
    }



.bHint {
	zoom: 1;

	*display: inline;
}

//bottom buy line
.bBottomBuy {
	clear: both;

	margin: 0 0 20px;

	&__eHead {
		float: left;

		width: 435px;

		font-size: 14px;
		font-weight: bold;
	} 

	&__eTitle {
		font: 800 16px/1.2 tahoma, verdana, arial, helvetica, sans-serif;
	}

	.btnBuy {
		margin: 0 25px 0 12px;
	}

	.btnBuy, .bCountSection, .price {
		float: right;
	}

	.bPrice {
		text-align: right;
	}

	.bCountSection {
		margin: 7px 0 0 20px;
		padding-left: 0;
	}
}

//bottom Bread Crumbs
.bBreadCrumbsBottom {
	margin: 0 10px 0;
}
