//product specifications section
.bSpecifications {
	&__eHead {
		margin: 0 0 5px;

		font-weight: bold;
	}

	.bSpecificationsList {
		margin: 0 0 10px;

		&__eName {
			float: left;
			clear: both;

			width: 270px;
			margin: 5px 0;
			padding: 0 0 2px 0;

			border-bottom: 1px solid #ececec;

			.bName {
				position: relative;

				padding-right: 5px;

				background: @white;

				top: 4px;
			}
		}

		&__eValue {
			float: right;

			width: 425px;
			margin: 5px 0;
			padding: 4px 0 0;
		}
	}
}

.mSimpleProperty {

	.bSpecificationsList__eName .bName {
		top: 0;
	}
}