<div class="sliderCat clearfix">
    <div class="sliderCatWrap">
        <ul class="sliderCatList">
            <li class="sliderCatList__item">Популярные аксессуары<li>
            <li class="sliderCatList__item">Чехлы для iPhone<li>
            <li class="sliderCatList__item">Зарядные устройства<li>
            <li class="sliderCatList__item">Автомобильные аксессуары для телефоновv
            <li class="sliderCatList__item">Чехлы, кейсы и декор для телефонов<li>
            <li class="sliderCatList__item">Защитные пленки для телефонов<li>
            <li class="sliderCatList__item">Наушники<li>
            <li class="sliderCatList__item">Аккумуляторы <li>
            <li class="sliderCatList__item">Популярные аксессуары<li>
            <li class="sliderCatList__item">Чехлы для iPhone<li>
            <li class="sliderCatList__item">Зарядные устройства<li>
            <li class="sliderCatList__item">Автомобильные аксессуары для телефоновv
            <li class="sliderCatList__item">Чехлы, кейсы и декор для телефонов<li>
            <li class="sliderCatList__item">Защитные пленки для телефонов<li>
            <li class="sliderCatList__item">Наушники<li>
            <li class="sliderCatList__item">Аккумуляторы <li>
        </ul>
    </div>

    <div class="sliderBox">
        <div class="sliderBox__btnLeft"></div>

        <div class="sliderBox__inner">
            <ul class="sliderBoxItems">
                {{#productCards}}
                    <li class="sliderBoxItems__item">
                        <a class="productDesc" href="{{url}}">
                            <img class="productDesc__img" src="{{image}}" />
                            <span class="productDesc__name">{{name}} </span>
                        </a>
                        <div class="productPrice">{{shownPrice}} р</div>
                        <a href="" class="productBuy btnBuy">Купить</a>
                    </li>
                {{/productCards}}
            </ul>
        </div>

        <div class="sliderBox__trans"></div>

        <div class="sliderBox__btnRight"></div>
    </div>
</div>
