@NY-url:"@{base-url}/newYearTheme/img";

// Новогодние стили главной страницы
#mainPage{
	#header.newYearTheme{
		background: url("@{NY-url}/mainGarland.gif") bottom center no-repeat;
		height: 140px;
    	margin-bottom: 0;
    	#topLogo{
    		background: url("@{NY-url}/NY_logo.jpg") center center no-repeat;
    		height: 107px;
			margin-top: -15px;
    	}
	}
}

#header.newYearTheme{
	background: url("@{NY-url}/headerGarland.png") 0 0 no-repeat;
	height: 125px;
    margin-bottom: 5px;
	#topLogo{
		background: url("@{NY-url}/NY_logo_small.jpg") center center no-repeat;
	}
}