<!-- Листинг товаров -->
{{#products}}
<!-- Элемент листинга/продукт -->
<li class="bListingItem">
    <div class="bListingItem__eInner">
        <!-- Блок с именем продукта и иконками доп. просмотра товара -->
        <div class="bSimplyDesc">
            <p class="bSimplyDesc__eText"><a href="{{link}}">{{name}}</a></p>
            <ul class="bSimplyDescStikers">
                {{#label}}
                    <li class="bSimplyDescStikers__eItem mLeftStiker"><img class="SimplyDescStikers__eImg" src="{{image}}" alt="{{name}}" /></li>
                {{/label}}

                {{#hasVideo}}
                    <li class="bSimplyDescStikers__eItem"><img class="SimplyDescStikers__eImg" src="/css/bCatalog/img/video.png" /></li>
                {{/hasVideo}}

                {{#has360}}
                    <li class="bSimplyDescStikers__eItem"><img class="SimplyDescStikers__eImg" src="/css/bCatalog/img/grad360.png" /></li>
                {{/has360}}
            </ul>
        </div>
        <!-- /Блок с именем продукта и иконками доп. просмотра товара -->

        <a href="{{link}}" class="bProductImg"><img class="bProductImg__eImg" src="{{image}}" alt="" /></a>

        <div class="bPriceLine clearfix">
            {{#oldPrice}}
                <span class="bPriceOld"><strong class="bDecor">{{oldPrice}}</strong> <span class="rubl">p</span></span>
            {{/oldPrice}}
            {{#onlyInShop}}
                <span class="bAvailible">Только в магазинах</span>
            {{/onlyInShop}}
        </div>

        <div class="bPriceLine clearfix">
            <span class="bPrice"><strong>{{price}}</strong> <span class="rubl">p</span></span>
            {{#variations}}
            <span class="bOptions"><span class="bDecor">Варианты</span></span>
            {{/variations}}
        </div>

        {{#variations}}
        <div class="bOptionsSection">
            <i class="bCorner"></i>
            <i class="bCornerDark"></i>

            <ul class="bOptionsList">
            {{#variations}}
                <li class="bOptionsList__eItem">{{name}}</li>
            {{/variations}}
            </ul>
        </div>
        {{/variations}}

        <div class="bBtnLine clearfix">
            {{> cart/_button-product }}
            <a class="btnView mBtnGrey" href="{{link}}">Посмотреть</a>
        </div>
    </div>
</li>
<!-- /Элемент листинга/продукт -->
{{/products}}
{{^products}}
    <li>Товары не найдены</li>
{{/products}}
<!-- /Листинг товаров -->