{{#products}}
    {{^isBanner}}
        <li class="listing__i js-listing-item" {{#isSlot}}data-is-slot="true"{{/isSlot}} {{#isOnlyFromPartner}}data-is-only-from-partner="true"{{/isOnlyFromPartner}}>
            {{! Картинка }}
            <div class="listing-img">
                <div class="listing-stickers">
                    <ul class="listing-stickers__lst clearfix">
                        {{#label}}
                            <li class="listing-stickers__i listing-stickers__i--left"><img class="listing-stickers__img" src="{{image}}" alt="{{name}}" /></li>
                        {{/label}}

                        {{#brandImage}}
                            <li class="listing-stickers__i listing-stickers__i--right"><img class="listing-stickers__img" src="{{brandImage}}" alt="{{name}}" /></li>
                        {{/brandImage}}

                        {{#hasVideo}}
                            <li class="listing-stickers__i"><img class="listing-stickers__img" src="/css/bCatalog/img/video.png" /></li>
                        {{/hasVideo}}

                        {{#has360}}
                            <li class="listing-stickers__i"><img class="listing-stickers__img" src="/css/bCatalog/img/grad360.png" /></li>
                        {{/has360}}
                    </ul>
                </div>

                <a class="listing-img__lnk js-listing-item-img" href="{{link}}" {{#isNewWindow}}target="_blank"{{/isNewWindow}}>
                    <img class="listing-img__src" src="{{image}}" alt="" />
                </a>
            </div>
            {{! END: Картинка }}
            {{! Блок с названием и характеристиками }}
            <div class="listing__desc">
                <a class="listing__title" href="{{link}}" {{#isNewWindow}}target="_blank"{{/isNewWindow}}>{{name}}</a>

                <ul class="listing-props">
                    {{#properties}}
                        <li class="listing-props__i">
                            <span class="listing-props__name"><span class="listing-props__name-wrap">{{name}}</span></span>
                            <span class="listing-props__val">{{value}}</span>
                        </li>
                    {{/properties}}
                </ul>
            </div>
            {{! END: Блок с названием и характеристиками }}
            {{! Блок с ценой, рейтингом }}
            <div class="listing__info">
                {{#review}}{{> product/_review-compact }}{{/review}}

                <div class="listing-price-block">
                    {{#oldPrice}}
                        <span class="listing-price-block__price-old">
                            <span class="stroke-out">{{&oldPrice}}</span> <span class="rubl">p</span>
                        </span>
                    {{/oldPrice}}
                    
                    {{#showPriceSale}}
                        {{#priceSale}}
                            <span class="listing-price-block__discount">-{{priceSale}}%</span>
                        {{/priceSale}}
                    {{/showPriceSale}}
                    <span class="listing-price-block__price-current {{#priceSale}} listing-price-block__price-sale{{/priceSale}}">{{&price}} <span class="rubl">p</span></span>
                </div>

                <div class="listing__btn-group">
                    {{#showCompareButton}}
                        <a href="" class="btn-compare jsCompareListLink" data-id="{{id}}" data-bind="compareListBinding: compare" {{#isSlot}}data-is-slot="true"{{/isSlot}} {{#isOnlyFromPartner}}data-is-only-from-partner="true"{{/isOnlyFromPartner}}></a>
                    {{/showCompareButton}}

                    {{#showCartButton}}
                        {{#cartButton}}{{> cart/_button-product }}{{/cartButton}}
                    {{/showCartButton}}

                </div>

                {{#stateLabel}}
                    <div class="listing__item-state {{#inStore}}from-stock{{/inStore}}">
                        {{name}}
                    </div>
                {{/stateLabel}}
            </div>
            {{! END: Блок с ценой, рейтингом }}
    {{/isBanner}}
{{/products}}
{{^products}}
    <li class="lstn_empty">Товары не найдены</li>
{{/products}}