{{#products}}
    {{^isBanner}}
        <li class="listing__i js-listing-item"
            {{#isSlot}}data-is-slot="true"{{/isSlot}} {{#isOnlyFromPartner}}data-is-only-from-partner="true"{{/isOnlyFromPartner}}>
        {{! Картинка }}
            <div class="listing-img">
                <div class="listing-stickers">
                    <ul class="listing-stickers__lst clearfix">
                        {{#label}}
                            <li class="listing-stickers__i listing-stickers__i--left"><img class="listing-stickers__img"
                                                                                           src="{{image}}"
                                                                                           alt="{{name}}"/></li>
                        {{/label}}

                        {{#brandImage}}
                            <li class="listing-stickers__i listing-stickers__i--right"><img
                                    class="listing-stickers__img" src="{{brandImage}}" alt="{{name}}"/></li>
                        {{/brandImage}}

                        {{#hasVideo}}
                            <li class="listing-stickers__i"><img class="listing-stickers__img" src="/css/bCatalog/img/video.png"/></li>
                        {{/hasVideo}}

                        {{#has360}}
                            <li class="listing-stickers__i"><img class="listing-stickers__img" src="/css/bCatalog/img/grad360.png"/></li>
                        {{/has360}}
                    </ul>
                </div>

                <a class="listing-img__lnk js-listing-item-img" href="{{link}}"
                   {{#isNewWindow}}target="_blank"{{/isNewWindow}}>
                    <img class="listing-img__src" src="{{image}}" alt=""/>
                </a>
            </div>
        {{! END: Картинка }}
        {{! Блок с названием и характеристиками }}
            <div class="listing__desc">
                <a class="listing__title" href="{{link}}" {{#isNewWindow}}target="_blank"{{/isNewWindow}}>{{name}}</a>

                {{#review}}
                   <a href="{{link}}#reviews" class="listing__reviews">
                        <!-- Блок отзыввов -->
                        <div class="bSimplyDescReviews">
                            <div class="bSimplyDescReviews__eStars">
                                {{#stars}}
                                    <img class="bSimplyDescReviews__eStarsImg" src="{{image}}">
                                {{/stars}}
                            </div>

                            <div class="bSimplyDescReviews__eLink"><span class="review-count">{{count}}</span></div>
                        </div>
                        <!--/ Блок отзыввов -->
                    </a>
                {{/review}}

                <ul class="listing-props">
                    {{#properties}}
                        <li class="listing-props__i">
                            <span class="listing-props__name"><span
                                    class="listing-props__name-wrap">{{name}}</span></span>
                            <span class="listing-props__val">{{value}}</span>
                        </li>
                    {{/properties}}
                </ul>
                {{#hasVariations}}
                    <div class="listing-variations">
                        <span class="listing-variations__lbl">Можно выбрать:</span> {{#variations}}<span class="listing-variations__val">{{lowerName}}{{^isLast}}, {{/isLast}}</span> {{/variations}}
                    </div>
                {{/hasVariations}}
            </div>
        {{! END: Блок с названием и характеристиками }}
        {{! Блок с ценой, рейтингом }}
            <div class="listing__info">
                <div class="listing-price-block">
                    {{#oldPrice}}
                        <span class="listing-price-block__price-old">
                            <span class="stroke-out">{{&oldPrice}}</span> <span class="rubl">p</span>
                        </span>
                    {{/oldPrice}}

                    {{#showPriceSale}}
                        {{#priceSale}}
                            <span class="listing-price-block__discount">-{{priceSale}}%</span>
                        {{/priceSale}}
                    {{/showPriceSale}}

                    <span class="listing-price-block__price-current {{#priceSale}} listing-price-block__price-sale{{/priceSale}}">{{&price}}<span class="rubl">p</span></span>
                </div>

                <div class="listing__btn-group">


                    {{#showCartButton}}
                        {{#cartButton}}{{> cart/_button-product }}{{/cartButton}}
                    {{/showCartButton}}

                </div>

                {{#stateLabel}}
                    <div class="listing__item-state {{#inStore}}from-stock{{/inStore}}">
                        {{name}}
                    </div>
                {{/stateLabel}}

                <div class="listing__btns">

                    <!-- сравнить, добавить в виш лист -->
                    <ul class="product-card-tools">
                    {{#compareButton}}
                        <li class="product-card-tools__i product-card-tools__i--compare">
                            <a
                                href="{{addUrl}}"
                                class="product-card-tools__lk jsCompareListLink"
                                data-id="{{id}}"
                                data-bind="compareListBinding: compare"
                                data-is-slot="{{isSlot}}"
                                data-is-only-from-partner="{{isOnlyFromPartner}}"
                            >
                                <!-- по клику сюда цепляется класс product-card-tools__lk--active-->
                                <i class="product-card-tools__icon i-tools-icon i-tools-icon--product-compare"></i>
                                <span class="product-card-tools__tx">Сравнить</span>
                            </a>
                        </li>
                    {{/compareButton}}
                    {{#favoriteButton}}
                        {{>product/_favoriteButton}}
                    {{/favoriteButton}}
                    </ul>
                    <!--/ сравнить, добавить в виш лист -->
                </div>
            </div>
    {{! END: Блок с ценой, рейтингом }}
    {{/isBanner}}
{{/products}}
{{^products}}
    <li class="lstn_empty">Товары не найдены</li>
{{/products}}