<ul
    class="
        bListing
        lstn
        {{^isWithBottomDescription}}lstn-light{{/isWithBottomDescription}}
        {{#is3Column}}bListing-3col{{/is3Column}}
        {{#isWithOrangeBuyButton}}lstn-btn2{{/isWithOrangeBuyButton}}
        js-listing
    "
    data-category-view="{{categoryView}}"
>
    {{#products}}
        {{#isBanner}}
            <li class="lstn_i lstn_i-banner {{#isWithHoverDescription}}lstn_i-hover{{/isWithHoverDescription}}" style="background-image: url('{{image}}'); background-repeat: no-repeat;">
                {{#url}}
                    <a class="lstn_i-banner-link" href="{{url}}"></a>
                {{/url}}
                <div class="lstn_i_inn"><div class="adfoxWrapper" id="adfox215"></div></div>
            </li>
        {{/isBanner}}

        {{^isBanner}}
            {{>product/list/item/light}}
        {{/isBanner}}
    {{/products}}

    {{^products}}
        <li class="lstn_empty">Товары не найдены</li>
    {{/products}}
</ul>