.buyingpage {
  padding-bottom: 400px;
}
.bBuyingFooter{
  .rounded(7px);
  background: #f6f6f6;
  border: 1px solid #dddddd;
  font-size:  0;
  height: 232px;
  padding: 20px 0;
  position:relative;
  margin: -370px auto 0;
  width: 920px;
  li{
    width: 160px;
    padding: 0 12px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  div{
    height: 70px;
  }
  h3{
    font: 18px 'Enter';
  }
  span{
    font-family:Tahoma, sans-serif;
    font-size: 12px;
    b{
      font-size: 18px;
      font-weight: 100;
    }
  }
}
.bBuyingFooter{
  &__eEnter{
    background: url('@{base-url}/buyingFooter/img/z_enter.png') 50% 50% no-repeat;
  }
  &__eZakaz{
    background: url('@{base-url}/buyingFooter/img/z_zakaz.png') 50% 50% no-repeat;
  }
  &__ePeople{
    background: url('@{base-url}/buyingFooter/img/z_people.png') 50% 50% no-repeat;
  }
  &__eCar{
    background: url('@{base-url}/buyingFooter/img/z_car.png') 50% 50% no-repeat;
  }
  &__eFinger{
    background: url('@{base-url}/buyingFooter/img/z_finger.png') 50% 50% no-repeat;
  }
}