.bNavLoader {
  clear: both;
  height: 60px;
  position: relative;
  width: 100%;
}
.bNavLoader__eIco,
.bNavLoader__eText {
  margin: 0px;
}
.bNavLoader__eM {
  margin-top: 8px;
}
.bNavLoader__eText {
  color: @firmOrange;
  font: 14px Tahoma, sans-serif;
  padding-right: 65px;
  text-align: right;
}
.bNavLoader__eIco {
  background: url("@{base-url}/ajaxPopup/img/arrow_bg.png") no-repeat;
  float: right;
  height: 49px;
  overflow: hidden;
  text-align: center;
  width: 45px;
}
.bNavLoader__eIco img {
  margin-top: 9px;
}