 /**
  * Стили шаблона
  */
.wrapper {
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 0 10px;
	background: @white;
	width: 940px;

	//Стили шаблона главной страницы
	&.mWrapperMain {
		background: @black;
	}
}

/**
 * Шапка
 */
.header {
	position: relative;
}

/**
 * Контентная часть
 */
.content {
	padding: 0 0 195px;

	//Контентная часть страницы оформления заказа
	&.mContentOrder {
		padding-bottom: 390px;
	}

	//Контентная часть главной страницы
	&.mContentMain {
		padding-bottom: 470px;
	}
}