/**
 * Вспомогательные классы
 */

//отчистка потока
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}

//правила для плавающих блоков
.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

// размеры шрифта
.xs {
	font-size: 11px;
}

.s {
	font-size: 12px;
}

.m {
	font-size: 14px;
}

.l {
	font-size: 16px;
}

.dblock {
	display: block;
}

// выравнивание текста
.ta-c {
  text-align: center;
}

.ta-r {
	text-align: right;
}

.ta-l {
	text-align: left;
}

.va-t {
	vertical-align: top;
}

.va-m {
	vertical-align: middle;
}

.va-b {
	vertical-align: bottom;
}

// text-decoration
.td-lineth {
	text-decoration: line-through;
}

.td-underl {
	text-decoration: underline;
}

// отступы
.mb5 {
  margin-bottom: 5px;
}

.nomargin {
  margin: 0;
}

/**
 * Стили кнопок
 */

//темно-серая кнопка в фильтрах и в фиксированной плашке
.btnGrey {
	.blackGrad();
	.rounded(4px);
	.inline-block();
	padding-left: 15px;

	width: 190px;
	border: 1px solid #a1a1a1;

	color: @white;

	vertical-align: top;

	font-weight: bold;
	line-height: 30px;

	&:hover {
		background: @black;

		color: @white;
		text-decoration: none;
	}
}

.btnLightGrey {
	.grayGradDark();
	.rounded(4px);
	.inline-block();
	text-decoration: none;
	font-size: 12px;

	text-align: center;
	padding: 5px 10px;
	border: 1px solid @lightgreyBr;
}

// цвета тестов 
.colorGrey {
	color: @typGray;

	a {
		color: @typGray;
	}
}

.colorBlack {
	color: @black;

	a {
		color: @black;
	}
}

.colorRed {
	color: @firmRed;

	a {
		color: @firmRed;
	}
}

// фоны блоков 
.bgGrey {
	background: @lightgreyBg;
}