/**
 * Вспомогательные классы
 */

//отчистка потока
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}

//правила для плавающих блоков
.fl {
  float: left;
}

.fr {
  float: right;
}

// размеры шрифта
.xs {
	font-size: 11px;
}

.s {
	font-size: 12px;
}

.m {
	font-size: 14px;
}

.l {
	font-size: 16px;
}

// выравнивание текста
.ta-c {
  text-align: center;
}

.ta-r {
	text-align: right;
}

.ta-l {
	text-align: left;
}

.va-t {
	vertical-align: top;
}

.va-m {
	vertical-align: middle;
}

.va-b {
	vertical-align: bottom;
}

// text-decoration
.td-lineth {
	text-decoration: line-through;
}

.td-underl {
	text-decoration: underline;
}

// отступы
.mb5 {
  margin-bottom: 5px;
}

.nomargin {
  margin: 0;
}

// цвета тестов 
.colorGrey {
	color: @typGray;

	a {
		color: @typGray;
	}
}

.colorBlack {
	color: @black;

	a {
		color: @black;
	}
}

.colorRed {
	color: @firmRed;

	a {
		color: @firmRed;
	}
}

// фоны блоков 
.bgGrey {
	background: @lightgreyBg;
}