.notBuying{
  position: relative;
  margin-top: 10px;
  padding:7px;
  border:1px solid @typLightGray;

  .corner{
    position: absolute;
    top: -9px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 9px solid @typLightGray;
    border-left: 10px solid transparent;
    
    div{
      position: absolute;
      bottom: -9px;
      left: -8px;
      border-right: 8px solid transparent;
      border-bottom: 7px solid @white;
      border-left: 8px solid transparent;
    }
  }
}