.banner-section {
    margin: 20px auto;

    .clearfix();
}

.shop-adv {
    display: table;

    width: 100%;
    &__item {
        .font-size(14);

        display: table-cell;

        padding: 0;
    }
    &__link {
        position: relative;

        display: block;

        padding: 6px 0 0 38px;
        &:after {
            position: absolute;
            top: 3px;
            left: 0;

            width: 49px;
            height: 100%;

            content: '';

            background: url('@{base-url}/main-page/i-shop-info.png') no-repeat 0 0;

            .i-sprite(0, 0, 29px, 22px);
        }
        &_self-delivery {
            &:after {
                top: 0;

                .i-sprite(-69px, 0, 29px, 25px);
            }
        }
        &_payment {
            &:after {
                top: 0;

                .i-sprite(-101px, 0, 29px, 25px);
            }
        }
        &_wow {
            &:after {
                top: 0;

                .i-sprite(-35px, 0, 29px, 25px);
            }
        }
    }
    &__title {
        line-height: 1;

        .inline-block();
    }
    &__text {
        display: block;
    }
}

.slider-section {
    position: relative;
    &__btn {
        position: absolute;
        top: 50%;

        width: 30px;
        height: 25px;
        margin-top: -12px;

        cursor: pointer;
        text-indent: -9999px;

        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        &_prev {
            left: 0;

            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAXCAQAAACVbWY0AAAAt0lEQVR4AWP8z4AJ0lln/saQmMz+qYapnGEVVAIh/LmWsfr/H6bVcAmEMMPf/0eY/RESCOGjzH7lH5Ek2loQwgwMcIn2GoZmkPBv//oPQC5Moq2WsQkhDJGACTP8PwQRhknAhM/9dgYJwyXaKhjaQcKfXdrfI/uIsfUzI8//P/80au6CuMTo+A92KLIdCFfBpA7/9kN2FVbvEfI5IqwQUgRDFxF7NYj4wJBCjUGEgdWMFf9X4kwlAJbBleG5N8zzAAAAAElFTkSuQmCC');
        }
        &_next {
            right: 0;

            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAXCAQAAACVbWY0AAAArUlEQVR4AXXStUHFUBiG4e/IGkhNFmEIXGeA67rGNZwSaZGOCu1YI1RxP/KTlO+TowkD64qOD/Kw8Ufk4PB0SuEHThRi3yY2XOHPWKXEIoxK2jy9MAAl/eFIUQaEFGT0imVFFQADRz4q0gBssKZIA0Why/ZNwK34XWf3UcjeakaIvf/WcIPj1oWxK5XpObJMTq5yCiST2w02Vda+R7TXmNEvqLL5zaMDOwO1f0kMZkiBBz6eHzUAAAAASUVORK5CYII=');
        }
    }
}

.sticker-brand {
    position: absolute;
    top: 50%;
    left: 0;

    margin-top: -20px;
}

.sticker {
    font-family: 'GloberRegular';
    line-height: 1.41666;

    margin-bottom: 10px;
    padding: 2px 5px;

    text-align: center;
    background: @red;
    color: @white;
    &:hover {
        color: @white;
    }
    &_sale {
        color: @white;
        background: @red;

        &:hover {
            color: @white;
        }

    }
    &_info {
        color: @text-color;
        background: @stick-info;

        &:hover {
            color: @text-color;
        }

    }
    &_video {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAQAAAClWqWlAAAAOUlEQVR4AWP4v+O/NgMy+P///5//M/6LIQQg4OP/iv8cEAEEePA/AiaAAH3IAvchKhBmsGO1BcMdACx6UbJQGBRxAAAAAElFTkSuQmCC') @grey-normal no-repeat 19px 5px;
        color: @white;

        &:hover {
            color: @white;
        }

    }
}

.brand-list {
    &__item {
        padding: 5px 0;

        text-align: center;
    }
}

.banner-section {
    position: relative;

    overflow: hidden;

    margin: 0 auto 20px;

    text-align: center;
    &-list {
        width: 740px;
        margin: 0 auto;
        &__item {
            margin: 0;
        }
        &__img {
            display: block;
        }
    }
    .slick-prev ,
    .slick-next {
        position: absolute;
        top: 50%;

        width: 30px;
        height: 25px;
        margin-top: -12px;

        cursor: pointer;
        text-indent: -9999px;
        text-indent: -9999px;

        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .slick-prev {
        left: 0;

        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAZCAQAAABJTswAAAAA4UlEQVR4AVWQJVhFURCEcXfrHw4Fd0nQA1Zwl4K7XJs93IJ77zgNl4K7Q4OKZ+Lbs/FfmZm14oV8ulQ8GFB8jF3aaHVliEqMdyNVsbEsRWMBk2yt2p5UelYS2ZIegXNMK26Ww05owz6y2YwIple0VduzGWOOzkUwmxnMxCf1coM2OKWLYS+G0EB/lCvlohPcWVlLyKilP1FgJZU1julCeMurGVyR+dKDZBhKr2hR7BhqckYH9vQs+V6kcYEJ6aOKg6HjUcRJcyKOljFiusuwHG9agpRECaADrCkuskgRHZnu/4oMVUEyjKVnAAAAAElFTkSuQmCC');
    }
    .slick-next {
        right: 0;

        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAZCAQAAABJTswAAAAApklEQVQY02NovdVazYAKWte0/WrSRhFqkGr92HqUgRFFsCWr7X9LBqo6ptbjbR9aJVHN02n71boGzZKWVqBmX1TNHG23Wx818KBqdm773zoBTXPbgta/TaYoQpXCra9bzzMwoVoS2/a/LR5VL2Pb45btqFbEoanCYlbrQjQbMdyFxfWtbWh+BIfEavzh1ZqNFqot0q0f246ghH3r2rZfbVqonsCIRwB4c1NcL14UzgAAAABJRU5ErkJggg==');
    }
    .slick-dots {
        .font-size(0);

        margin: 5px 0 0;

        text-align: center;
        & > li {
            width: 6px;
            height: 6px;
            margin: 0 2px;

            vertical-align: top;
            text-indent: -9999px;

            border: none;
            background: @grey-light-2;

            .inline-block();
            .rounded(50%);
            &.slick-active {
                background: @grey-type;
            }
        }
    }
}

.main-categories {
    &__item {
        position: relative;

        overflow: hidden;
         padding: 0 10px;

        height: 250px;

        text-align: center;
        &.magenta {
            background: #ffd8ef;
        }
        &.violet {
            background: #ddcef3;
        }
        &.blue {
            background: #d8efff;
        }
        &.orange {
            background: #ffe8d8;
        }
        &.green {
            background: #d8ffe8;
        }
        &.olive {
            background: #efffd8;
        }
        &.grey {
            background: #f2f2f2;
        }

        &:hover {
            .main-categories__img {
                .scale(1);
                .rotation();
            }
        }
    }
    &__link {
        display: block;

        height: 250px;
        padding: 15px 0 0;

        .transition(all, .3s, ease);
    }
    &__name {
        display: block;

        margin-bottom: 2px;

        .font-size(16);
    }
    &__sub-name {
        display: block;

        .font-face('GloberRegular');
    }
    &__img {
        .scale(.85);
        max-width: 100%;
        margin: 15px 0 0;

        .inline-block();
        .transition(transform, .8s, cubic-bezier(0.25, 0.46, 0.33, 0.98));
    }
}