.banner-section {
    margin: 20px auto;

    .clearfix();
}

.shop-adv {
    display: table;

    width: 100%;
    &__item {
        font-size: 1.1666em;

        display: table-cell;

        padding: 0;
    }
    &__link {
        position: relative;

        display: block;

        padding: 6px 0 0 38px;
        &:after {
            position: absolute;
            top: 3px;
            left: 0;

            width: 49px;
            height: 100%;

            content: '';

            background: url('@{base-url}/main-page/i-shop-info.png') no-repeat 0 0;

            .i-sprite(0, 0, 29px, 22px);
        }
        &_self-delivery {
            &:after {
                top: 0;

                .i-sprite(-69px, 0, 29px, 25px);
            }
        }
        &_payment {
            &:after {
                top: 0;

                .i-sprite(-101px, 0, 29px, 25px);
            }
        }
        &_wow {
            &:after {
                top: 0;

                .i-sprite(-35px, 0, 29px, 25px);
            }
        }
    }
    &__title {
        line-height: 1;

        .inline-block();
    }
    &__text {
        display: block;
    }
}

.section {
    padding: 0 30px 20px;
    &__title {
        font-size: 1.3333em;
        line-height: 1.4375;

        margin: 0 0 5px;
    }
    &_bordered {
        padding-top: 10px;

        border-top: 1px solid @grey-light-3;
    }
    &_seo {
        padding-bottom: 0;
        p {
            margin: 0 0 2em;
        }
        ul {
            font-family: 'GloberRegular';
            line-height: 1.6666;

            padding: 0 0 2em 1.25em;
            & > li {
                margin: 0;

                list-style-type: disc;
            }
        }
    }
}

.slider-section {
    position: relative;
    &__btn {
        position: absolute;
        top: 50%;

        width: 30px;
        height: 25px;
        margin-top: -12px;

        cursor: pointer;
        text-indent: -9999px;

        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        &_prev {
            left: -30px;

            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAZCAQAAABJTswAAAAA4UlEQVR4AVWQJVhFURCEcXfrHw4Fd0nQA1Zwl4K7XJs93IJ77zgNl4K7Q4OKZ+Lbs/FfmZm14oV8ulQ8GFB8jF3aaHVliEqMdyNVsbEsRWMBk2yt2p5UelYS2ZIegXNMK26Ww05owz6y2YwIple0VduzGWOOzkUwmxnMxCf1coM2OKWLYS+G0EB/lCvlohPcWVlLyKilP1FgJZU1julCeMurGVyR+dKDZBhKr2hR7BhqckYH9vQs+V6kcYEJ6aOKg6HjUcRJcyKOljFiusuwHG9agpRECaADrCkuskgRHZnu/4oMVUEyjKVnAAAAAElFTkSuQmCC');
        }
        &_next {
            right: -30px;

            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAZCAQAAABJTswAAAAApklEQVQY02NovdVazYAKWte0/WrSRhFqkGr92HqUgRFFsCWr7X9LBqo6ptbjbR9aJVHN02n71boGzZKWVqBmX1TNHG23Wx818KBqdm773zoBTXPbgta/TaYoQpXCra9bzzMwoVoS2/a/LR5VL2Pb45btqFbEoanCYlbrQjQbMdyFxfWtbWh+BIfEavzh1ZqNFqot0q0f246ghH3r2rZfbVqonsCIRwB4c1NcL14UzgAAAABJRU5ErkJggg==');
        }
    }
}

.goods {
    &__item {
        position: relative;
        z-index: 2;

        margin: 0;

        text-align: center;
        &:not(:first-child) {
            margin-left: -1px;
        }
        .sticker {
            position: absolute;
            top: 10px;
            left: 2px;

            padding: 2px 20px;
        }
    }
    &_grid {
        padding-right: 1px;
        .goods__item {
            margin-left: -1px;

            border: 1px solid #f2f2f2;

            .transition();
            &:hover {
                z-index: 3;

                border-color: @orange-bright;
            }
        }
        .goods__img {
            line-height: 120px;
        }
        .slick-list {
            padding-left: 1px;
        }
    }
    &_list {
        .goods__name {
            margin-bottom: 3px;
        }
    }
    &_images {
        padding: 10px 0;
        .goods__item {
            padding: 0;
        }
        .goods__img {
            height: auto;
            margin: 0;
            &-image {
                max-width: 78px;
                max-height: 78px;
            }
        }
    }
    &_categories {
        .goods__img {
            height: 150px;

            vertical-align: 150px;
            &-image {
                max-width: 150px;
                max-height: 150px;

                vertical-align: middle;
            }
        }
    }
    &__img {
        display: block;

        height: 120px;
        margin: 0 0 10px;

        text-align: center;
        &-image {
            max-width: 120px;
            max-height: 120px;

            vertical-align: middle;
        }
    }
    &__name {
        overflow: hidden;

        height: 30px;
        margin-bottom: 10px;
    }
    &__price-old {
        font-family: 'GloberRegular';
        font-size: 1.1666em;
        line-height: 1.2857142;

        height: 18px;

        color: @grey-type;
    }
    &__price-now {
        font-size: 1.5em;
        line-height: 1.33333;
    }
    &__cat-count {
        font-family: 'GloberRegular';

        color: @grey-type;
    }
}

.sticker {
    font-family: 'GloberRegular';

    margin-bottom: 10px;
    padding: 2px 5px;

    text-align: center;

    color: @white;
    background: @red;
}

.brand-list {
    &__item {
        padding: 5px 0;

        text-align: center;
    }
}

.banner-section {
    position: relative;

    overflow: hidden;

    margin: 0 auto 20px;

    text-align: center;
    &-list {
        width: 740px;
        margin: 0 auto;
        &__item {
            margin: 0;
        }
        &__img {
            display: block;
        }
    }
    .slick-prev ,
    .slick-next {
        position: absolute;
        top: 50%;

        width: 30px;
        height: 25px;
        margin-top: -12px;

        cursor: pointer;
        text-indent: -9999px;
        text-indent: -9999px;

        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .slick-prev {
        left: -30px;

        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAZCAQAAABJTswAAAAA4UlEQVR4AVWQJVhFURCEcXfrHw4Fd0nQA1Zwl4K7XJs93IJ77zgNl4K7Q4OKZ+Lbs/FfmZm14oV8ulQ8GFB8jF3aaHVliEqMdyNVsbEsRWMBk2yt2p5UelYS2ZIegXNMK26Ww05owz6y2YwIple0VduzGWOOzkUwmxnMxCf1coM2OKWLYS+G0EB/lCvlohPcWVlLyKilP1FgJZU1julCeMurGVyR+dKDZBhKr2hR7BhqckYH9vQs+V6kcYEJ6aOKg6HjUcRJcyKOljFiusuwHG9agpRECaADrCkuskgRHZnu/4oMVUEyjKVnAAAAAElFTkSuQmCC');
    }
    .slick-next {
        right: -30px;

        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAZCAQAAABJTswAAAAApklEQVQY02NovdVazYAKWte0/WrSRhFqkGr92HqUgRFFsCWr7X9LBqo6ptbjbR9aJVHN02n71boGzZKWVqBmX1TNHG23Wx818KBqdm773zoBTXPbgta/TaYoQpXCra9bzzMwoVoS2/a/LR5VL2Pb45btqFbEoanCYlbrQjQbMdyFxfWtbWh+BIfEavzh1ZqNFqot0q0f246ghH3r2rZfbVqonsCIRwB4c1NcL14UzgAAAABJRU5ErkJggg==');
    }
    .slick-dots {
        font-size: 0;

        margin: 5px 0 0;

        text-align: center;
        & > li {
            width: 6px;
            height: 6px;
            margin: 0 2px;

            vertical-align: top;
            text-indent: -9999px;

            border: none;
            background: @grey-light-2;

            .inline-block();
            .rounded(50%);
            &.slick-active {
                background: @grey-type;
            }
        }
    }
}

.bread-crumbs {
    margin: 0 0 10px;
    &__item {
        font-size: 1.3333em;

        margin-right: 4px;
        padding-right: 13px;

        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAQAAABwz0azAAAASklEQVQIW2NQYTcUZYABMx/Th8ZGcK5JnNlbsyg418jY9KFpNwMTmKPNY7rJ7IwMJ0hcxfSy2SIFDiDT2Nz0lWkeVL2xpKk9TC8A5fUOgCPsNUkAAAAASUVORK5CYII=') no-repeat 100% 50%;

        .inline-block();
        &:last-child {
            background: none;
        }
    }
    &__link {
        color: @grey-type;
    }
}

.categories-grid {
    &__item {
        margin: 0;
        padding: 0;
    }
    &__link {
        display: table;
        width: 100%;

        padding: 5px;
        &:hover {
            background: @orange-light-4;
        }
    }
    &__img {
        display: table-cell;

        width: 50px;
        height: 50px;
        padding-right: 10px;

        text-align: center;
        vertical-align: middle;
        .image {
            max-width: 50px;
            max-height: 50px;
        }
    }
    &__text {
        font-size: 1.1666em;

        display: table-cell;

        vertical-align: middle;;
    }
}

.fltrBtn{
    position: relative;

    // шапка фильтров в рутовых категориях
    &_hd{
        margin-bottom: 30px;
        padding: 10px 30px 0;
        &_r{
            margin: 3px 0 0 30px;

            color: grey;

            .inline-block();
        }
        &_count{
            .inline-block(middle);
        }
        // отчисть фильтры в рутовых категориях
        &_clr{
            line-height: 13px;

            margin: 0 0 0 15px;

            cursor: pointer;

            .inline-block(middle);
            &_tx{
                border-bottom: 1px dotted grey;

                .inline-block(middle);
            }
            &_btn{
                .inline-block(middle);
            }
        }
    }
    // название фильтра
    &_tggl{
        font-size: 16px;

        padding: 0 0 0 15px;

        cursor: pointer;

        color: @black;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAQAAADMDLw1AAAAQUlEQVQIW2Nw3uGiy4AKnP47/3We4y6JIgSCzl+c6t24UYTAws+ckxuYUITAwpdc3PELoWl0/uLSgGQ8hiMwnQoAAEs8bqiaIsoAAAAASUVORK5CYII=') no-repeat 0 50%;

        .inline-block();
        &_tx{
            border-bottom: 1px dotted #515151;
        }
        &.opn{
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAQAAAChr3WYAAAAXElEQVQI11XKwQ0AERSE4YmrChShCSMUohAKUYg6FKECV9nN2rDre5eXPwMWc53HAqs5jjSsBsB8xIyHV+w7da/wMnEvIxYn2eauOYkPw4wBf0mwsiaBk/XWr/8G2pM8a8IWUVQAAAAASUVORK5CYII=');
        }
        &-ncorner{
            padding-left: 0;
            cursor: default;

            background: none;
            .fltrBtn_tggl_tx{
                border: none;
            }
        }
    }
    // секция фильтра
    &_kit{
        padding: 0 10px;

        border-bottom: 1px solid @grey-light-4;
        .clearfix();
        &-box{
            padding: 10px;
        }
        &-nborder{
            border-bottom: none;
        }
        &-ovrflw{
            overflow: auto;

            max-height: 165px;
            padding: 7px 10px 0;
        }
        &_l{
            float: left;

            min-width: 80px;
            margin: 15px 0 0 12px;
        }
        &_r{
            float: right;
            overflow-y:auto;
            overflow-x:hidden;

            width: 830px;
            max-height: 135px;
            padding: 10px 0 0 1px;
        }
        &--titled{
            padding: 8px 10px;
            height: 55px;

            .fltrBtnBox{
                border: 1px solid #c7c7c7;
                .rounded(2px);
            }
            .fltrBtnBox.opn{
                background: @white;
                .drop-shadow(0px, 3px, 5px, .3);
                border: none;

                .fltrBtnBox_tggl{
                    border-color: #c7c7c7;
                    padding: 5px 11px 2px;
                }
                &.actv{
                    margin: 5px 6px 0px 1px;
                    .fltrBtnBox_tggl{
                        padding: 5px 10px 2px;
                        margin-bottom: 3px;
                    }
                }
            }
            .fltrBtnBox_tggl_tx{
                border-color: transparent;
                height: 16px;
                line-height: 16px;
            }
            .fltrBtnBox{
                margin-top: 5px;
            }
            .fltrBtn_kit_l{
                margin-top: 27px;
            }
        }
    }
    &_range {
        text-align: center;
        width: 100%;
    }
    // ссекция кнопки фильтрации
    &_i{
        margin: 0 9px 9px 0;

        float: left;
    }
    // кнопка фильтра
    &_btn{
        position: relative;

        width: 100px;
        height: 43px;
        padding: 0 10px;
        margin: 0 5px 10px 0;

        cursor: pointer;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;

        border: 1px solid green;
        background: @white;

        &:hover {
            text-decoration: none;
        }

        display: table-cell;
        .rounded(4px);
        &:last-child{
            margin-right: 0;
        }
        &_img{
            vertical-align: middle;
            width: 100%;
            pointer-events: none;
            //max-width: 100px;
        }
        &_tx{
            font-size: 11px;
            line-height: 1.2;

            .inline-block();
        }
        // кнопка - ещё бренды
        &-btn{
            font-size: 14px;
            line-height: 40px;
            width: 120px;
            padding: 0;

            margin-right: 0;

            color: grey;
            border-style: dashed;

            .inline-block();
            .fltrBtn_btn_tx{
                font-size: 14px;

                vertical-align: middle;

                border-bottom: 1px dotted grey;
            }
            &:hover{
                text-decoration: none;
            }
        }
        &-mini{
            line-height: 31px;

            width: 80px;
            height: 33px;
        }
        // отметить фильтр по бренду
        &_clsr{
            position: absolute;
            top: -7px;
            right: -7px;

            display: none;
        }
        &.act{
            width: 98px;
            height: 41px;

            border-width: 2px;
            border-color: orange;
            .fltrBtn_btn_clsr{
                display: block;
            }
        }
    }
    // строка с параметрами
    &_ln{
        line-height: 14px;

        margin: 0 0 10px;
    }
    // параметры фильтрации
    &_param{
        margin-bottom: 8px;
        padding-right: 10px;

        border-bottom: 1px solid red;
        &:last-child{
            margin-bottom: 0;

            border-bottom: none;
        }
        &_n{
            font-size: 14px;

            margin: 0 0 8px;
        }
        &_lbl{
            font-size: 14px;

            .inline-block(middle);
        }
        &_it{
            font-size: 14px;
            line-height: 1;

            width: 45px;
            padding: 4px 10px;

            color: #8a8a8a;
            color: @black;
            border: 1px solid red;

            .rounded(3px);
            .inline-block(middle);

            &:-ms-input-placeholder {
                color: #8a8a8a;
            }
        }
        &-2col{
               .fltrBtn_ln{
                   width: 100%/2 - 1%;

                   .inline-block(middle);
               }
        }
    }

    &_anim-item {
        position: absolute;
        right: -8px;
        top: 300px;
        display: block;
        animation: animPuls 7s ease-in-out 1s infinite;
        -webkit-animation: animPuls 7s ease-in-out 1s infinite;
        -moz-animation: animPuls 7s ease-in-out 1s infinite;
        -o-animation: animPuls 7s ease-in-out 1s infinite;

        &:hover {
            -webkit-animation: none;
            -moz-animation: none;
            -o-animation: none;
            animation: none;

            img {
                right: 0;
                top: -10px;
            }
        }

        img {
            transition: all .2s ease;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &_lst {
            float: left;
            margin: 0 0 0 30px;

            &-i {
                float:left;
                margin: 0 10px 0 0;

                &-name {
                    font-size: 14px;
                }
                &.slash-after:after{
                    content:"/";
                    font-size: 23px;
                }

            }
        }
}

// анимация карты на странице с подарками /gift
@keyframes animPuls{
    0%,
    5%{
        transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    3%,
    7%{
        transform: scale3d(1.06, 1.06, 1.06);
        transform: scale3d(1.06, 1.06, 1.06);
    }

    9%{
        transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes animPuls{
    0%,
    5%{
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    3%,
    7%{
        -webkit-transform: scale3d(1.06, 1.06, 1.06);
        transform: scale3d(1.06, 1.06, 1.06);
    }

    9%{
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-moz-keyframes animPuls{
    0%,
    5%{
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    3%,
    7%{
        -moz-transform: scale3d(1.06, 1.06, 1.06);
        transform: scale3d(1.06, 1.06, 1.06);
    }

    9%{
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

// блок филььтра с параметрами
.fltrBtnBox{
    position: relative;

    margin: 0 5px 0 0;

    border: 1px solid @white;

    .inline-block();
    .rounded(3px);

    &.opn{
        .fltrBtnBox_tggl{
            z-index: 16;

            padding-bottom: 4px;

            border-color: #000;
            &_corner{
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAQAAAClB0z9AAAAP0lEQVQI12NgAIL/jE6T/jMywIBTgtN/pwQox4/X6TmQ+9yPF8x17gJygNC5C8RRc/4J5f50VmNw2grhgOFWABRpHkDXZMHuAAAAAElFTkSuQmCC');
            }
            &_tx{
                border: none;
            }
        }
        &.fltrBtnBox-mark{
            .fltrBtnBox_tggl_corner{
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAAV0lEQVQIW2NggIL///8zvnf0ngSiYWJw8N7JK+G9g9d/EI0i8d/Pj/eDg/dzkCSIBvHhkh8cfbrAuqAYxAdLfHIOVPvg6P0TVdL7J0gcqMt7K7IEkoKtAD3ERJ5C4w0pAAAAAElFTkSuQmCC');
            }
        }
        .fltrBtnBox_dd{
            display: block;
        }
        &.actv{
            border-width: 1px;
            border-color: @white;
            .fltrBtnBox_tggl{
                padding: 4px 10px;
            }
            &.fltrBtnBox-mark{
                border-width: 1px;
                border-color: @white;
            }
        }
    }

    &.actv{
        border-width: 2px;
        border-color: orange;
        .fltrBtnBox_tggl{
            padding: 3px 9px 2px;
        }
        .fltrBtnBox_tggl_tx{
            border: none;
        }
        &.fltrBtnBox-mark{
            border-width: 2px;
            border-color: #ef404a;
        }
    }

    //скидки - красная выпадашка
    &-mark{
        .fltrBtnBox_tggl{
            color: #ef404a;
            &_corner{
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAAVUlEQVQI12P44Oi99b2D1390DBJn+OQcqAZk/EST+AkSZwCBD44+XaiSPl0MMPDfz4/3g4P3c7AEkAbxGZDBJwfveJAkiGZAB////2d87+g9CUTDxAB+g0Sgd+vg2AAAAABJRU5ErkJggg==');
            }
            &_tx{
                border-color: #ef404a;
            }
        }
    }

    &_tggl{
        font-size: 14px;
        line-height: 1;

        position: relative;

        padding: 4px 10px 3px;

        cursor: pointer;

        border: 1px solid @white;
        border-bottom: none;
        background-color: @white;

        .inline-block(middle);
        .rounded(3px 3px 0 0);

        &_tx{
            padding: 0 0 3px;

            border-bottom: 1px dotted #515151;

            .inline-block();
        }

        &_corner{
            width: 7px;
            height: 6px;

            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAQAAAClB0z9AAAAQElEQVQI12Nw2ur0Hw63MjirOf+EcJx/OqsxMDA4d0G5XQwg4Mfr9BzIfe7HywABzvFAuXgGGPjP6DTpPyOIBQCDch5A9YNPpAAAAABJRU5ErkJggg==') no-repeat 0 0;

            .inline-block(middle);
        }

        &-dsbld {
            color: #828282;
        }
    }

    // выпадашка с параметрами фильтрации
    &_dd{
        position: absolute;
        z-index: 15;
        top: 25px;
        min-width: 100%;
        .box-sizing();

        display: none;

        white-space: nowrap;

        border: 1px solid #000;
        background: @white;

        .rounded(0 0 3px 3px);
        .drop-shadow(0, 3px, 5px, .3);
        &:after{
            top: 0;
            left: 0;

            width: 100%;
            height: 15px;
            position: absolute;
            content: '';
        }
        &:before{
            bottom: 0;
            left: 0;

            width: 100%;
            height: 15px;
            position: absolute;
            content: '';
        }
        &-r{
            right: 0;
        }
        &-l{
            left: 0;
        }
        &_inn{
            overflow-x: hidden;
            overflow-y: auto;

            box-sizing: border-box;
            width: 100%;
            max-height: 250px;
            padding: 15px 10px 5px 10px;
        }
    }
}
