.searchEmpty {
	//background: url("@{base-url}/search/img/sad.png") no-repeat 50% 0;
	//padding: 135px 0 0;
	text-align: center;
	line-height: 2;
	margin: 20px 0 30px;
	font-size: 20px;
}

.searchEmptyMark {
	color: @firmOrange;
}