@media print{
  .printPage{
    background:@white;
    h1{
      float:none;
      font-size:24px;
    }
    &__map{
      
    }
    &__desc{
      
    }
    &__comment{
      
    }
    &__printAction{
      font-size:14px;
      padding:7px;
    }
  }
}
