/* ==========================================================================
   Стили кнопок купить .btnBuy
   ========================================================================== */

.btnBuy {
    display: block;

    width: 110px;
    height: 38px;

    text-align: center;

    border: 1px solid #fb9c00;

    font-size: 21px;
    line-height: 38px;

    &:hover {
        text-decoration: none;
    }

    &:active {
        background: #f79200;
        text-decoration: none;
    }
}

.btnBuyOneClick {
    display: none;
    padding: 0 0 15px;
    margin: 0 0 15px;

    &__link {
        text-decoration: underline;
        font-size: 14px;
    }
}