<div style="border: #ededed; background: #ffffff url('/debug/grid.gif'); width: 961px; margin: 5px auto;">
{{#lines}}
    <div title="{{title}}" style="border: solid 1px #ededed; background: {{css.color1}}; margin-left: {{css.left}}%; top: {{css.top}}px; width: {{css.width1}}%; height: 28px;">
        <span style="position: absolute; z-index: 9999; font: normal 12px Tahoma; line-height: 28px;">
            {{name}}
            <span style="color: #9b59bb;">{{time}}ms</span>
            <span style="color: #9b59bb;">{{call}}call</span>
        </span>
        <div style="position: relative; background: {{css.color2}}; width: {{css.width2}}%; height: 28px;"></div>
    </div>
{{/lines}}
    <div style="margin-left: 95%;">
        <span style="color: #9b59bb;">{{time}}</span>
    </div>
</div>