<div style="border: #ededed; background: #ffffff url('/debug/grid.gif'); width: 961px; margin: 5px auto;">
{{#lines}}
    <div title="{{title}}" style="border: solid 1px #ededed; background: {{color}}; margin-left: {{left}}%; top: {{top}}px; width: {{width}}%; height: 28px; line-height: 28px;">
        <span style="white-space: nowrap; font: normal 12px Tahoma;">{{name}} <span style="color: #9b59bb;">{{time}}</span></span>
    </div>
{{/lines}}
    <div style="margin-left: 95%;">
        <span style="color: #9b59bb;">{{time}}</span>
    </div>
</div>