.grayButton{
	.rounded(3px);
	background: #2a2a2a;
	color: @white;
	padding: 10px;
	text-decoration: none;
}

.orangeButton{
	.rounded(3px);
	background: @firmOrange;
	color: @white;
	padding: 7px;
	text-decoration: none;
}