//CSS reset
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-family: Arial, sans-serif;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
input, select {
    vertical-align:middle;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
a, img, select:focus{
	outline: none;
}

//HTML5 reset
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

//clearfix
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

//modificators
.mFl{
	float: left;
}
.mFr{
	float: right;
}
.mNoTextDecor{
	text-decoration: none;
}
.mDisplayBlock{
	display: block;
}
.mHiddenText{
	text-indent: -10000px;
}
.mEnter{
	font-family: 'Enter';
}

//layout
html, body{
	background: @white;
	width: 100%;
}
html{
	height: 100%;
}
body{
	height: auto !important;
	width: 320px;
}
.bWrap{
	height: auto;
	min-height: 100%;
	width: 100%;
}

