 .bLogo{
	// high res logo image
	background: url("@{base-url}/header/img/logo_R.png") no-repeat 0 0;
	background-size: 85px 60px;
}

// root category image
.mFurniture{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_80.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mAppliances{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_1.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mBeauty{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_21.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mPerfumery{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_2545.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mHousehold{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_443.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mChildren{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_320.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mPets{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_1438.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mHandmade{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_224.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mElectronics{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_788.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mJewel{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_923.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mSport{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_647.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mGifts{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_185.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mAuto{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_225.png') no-repeat 0 0;
	background-size: 71px 71px;
}