 .bLogo{
	// high res logo image
	background: url("@{base-url}/header/img/logo_R.png") no-repeat 0 0;
	background-size: 85px 60px;
}

// root category image
.mCategoryIcon_80{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_80.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_1{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_1.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_21{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_21.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_2545{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_2545.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_443{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_443.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_320{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_320.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_1438{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_1438.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_224{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_224.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_788{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_788.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_923{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_923.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_647{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_647.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_185{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_185.png') no-repeat 0 0;
	background-size: 71px 71px;
}
.mCategoryIcon_225{
	background: url('@{base-url}/categoryMenu/img/retina/icons_id_225.png') no-repeat 0 0;
	background-size: 71px 71px;
}