/* ==========================================================================
   Карточка товара -> характеристики товара .specifications .specificationsListCol .specificationsListRow .specificationsList
   ========================================================================== */

.specifications {

}

.specificationsListCol {
	//padding-right: 350px;
}

.specificationsListRow {
	display: inline-block;
	zoom: 1;

	width: 270px;
	margin: 0 30px 0 0;

	vertical-align: top;

	*display: block;
}

.specificationsList {
	display: inline-block;
	zoom: 1;

    width: 48%;
    margin: 0 0 20px;

    vertical-align: top;

    *display: block;

	&__item {
		margin: 0 0 5px;
		padding: 0 15px 0 0;

		font-size: 14px;

		&-title {
			margin: 0 0 10px;

			font-weight: bold;
		}
	}
}

.specificationsText {
	clear: both;

	width: 100%;
	margin-top: 0;
	margin-bottom: 25px;

	font-size: 14px;
}

.specificationspMedia {
	float: right;

	width: 310px;
	height: 200px;
	margin: 0 0 10px;

	background: #ccc;
}