<div class="js-debug debug">
    <a class="js-debug-link" href="#">debug</a>
    <div class="js-widget id-debug-{{requestId}} debug__container" data-value="{{&debug}}" data-template-selector="#tpl-debug-container" style="display: none;"></div>
</div>

{{={{{ }}}=}}
<script id="tpl-debug-container" type="text/html">
    <div class="js-widget debug__container id-debug-{{requestId}} debug__container" style="display: none;">
        <div class="debug__title {{#error}}debug__error{{/error}}">
            <a class="js-debug-container-link" href="#" data-content-selector=".id-debug-{{requestId}}-content">{{requestId}}</a>
            {{#status}}<span class="debug__error" title="{{&status.text}}">{{status.code}}</span> {{/status}}{{path}}
        </div>
        <div class="js-debug-container-content id-debug-{{requestId}}-content" style="display: none;">
            <ul>
                <li class="debug__tab__title"><a class="js-debug-tab" href="#debug-{{requestId}}-content-time">time</a></li>
                {{#error}}
                    <li class="debug__tab__title"><a class="js-debug-tab" href="#debug-{{requestId}}-content-error">error</a></li>
                {{/error}}
                <li class="debug__tab__title"><a class="js-debug-tab js-debug-tab-query" href="#debug-{{requestId}}-content-query">query</a></li>
                {{#session}}
                    <li class="debug__tab__title"><a class="js-debug-tab" href="#debug-{{requestId}}-content-session">session</a></li>
                {{/session}}
                {{#git}}
                    <li class="debug__tab__title"><a class="js-debug-tab" href="#debug-{{requestId}}-content-git">git</a></li>
                {{/git}}
                {{#page}}
                    <li class="debug__tab__title"><a class="js-debug-tab" href="#debug-{{requestId}}-content-page">page</a></li>
                {{/page}}
                {{#config}}
                    <li class="debug__tab__title"><a class="js-debug-tab" href="#debug-{{requestId}}-content-config">config</a></li>
                {{/config}}
                <li class="debug__tab__title"><a href="/log/{{requestId}}" target="_blank">log</a></li>
            </ul>

            <div class="debug__tab__content" id="debug-{{requestId}}-content-time">
                <div class="debug__queryMap">
                    {{#queries}}
                        <div title="{{url}}" style="border: solid 1px #ededed; background: {{css.color1}}; margin-left: {{css.left}}%; top: {{css.top}}px; width: {{css.width1}}%; height: 28px;">
                        <span class="debug__queryMap__line">
                            <a class="js-debug-query" href="#query-{{id}}">{{path}}</a>
                            <span style="color: #9b59bb;">{{time}}ms</span>
                            <span style="color: #9b59bb;">{{call}}call</span>
                        </span>
                            <div style="position: relative; background: {{css.color2}}; width: {{css.width2}}%; height: 28px;"></div>
                        </div>
                    {{/queries}}

                    {{#times.total}}
                        <div style="margin-left: 2px;">
                            total <span style="color: #9b59bb;">{{value}}{{unit}}</span> {{memory.value}}{{memory.unit}}
                        </div>
                    {{/times.total}}
                </div>
            </div>

            {{#error}}
            <div class="debug__tab__content" id="debug-{{requestId}}-content-error" style="display: none;">
                <pre>
<strong>type:</strong> {{error.type}}
<strong>message:</strong> {{error.message}}
<strong>file:</strong> {{error.file}}
<strong>line:</strong> {{error.line}}
                </pre>
            </div>
            {{/error}}

            <div class="debug__tab__content js-debug-tab-content-query" id="debug-{{requestId}}-content-query" style="display: none; max-width: 800px;">
                <table>
                {{#queries}}
                    <tr>
                        <td id="query-{{id}}">
                            <a href="/log/{{requestId}}#{{logId}}" target="_blank">{{path}}</a>
                        </td>
                        <td><pre>{{&info}}</pre></td>
                    </tr>
                {{/queries}}
                </table>
            </div>

            {{#session}}
                <div class="debug__tab__content" id="debug-{{requestId}}-content-session" style="display: none;">
                    <pre>{{&session}}</pre>
                </div>
            {{/session}}

            {{#git}}
                <div class="debug__tab__content" id="debug-{{requestId}}-content-git" style="display: none;">
                    tag: {{tag}}<br />
                    branch: {{branch}}<br />
                </div>
            {{/git}}

            {{#page}}
                <div class="debug__tab__content" id="debug-{{requestId}}-content-page" style="display: none; max-width: 800px;">
                    <pre>{{&page}}</pre>
                </div>
            {{/page}}

            {{#config}}
                <div class="debug__tab__content" id="debug-{{requestId}}-content-config" style="display: none;">
                    <pre>{{&route}}</pre>
                    <pre>{{&config}}</pre>
                </div>
            {{/config}}
        </div>
    </div>
</script>
{{{={{ }}=}}}