<footer class="footer">
    <div class="contentBox940 clearfix">
        <ul class="aboutList">
            <li class="aboutList__item"><a href="/about_company" class="aboutList__link">О компании</a></li>
            <li class="aboutList__item"><a href="/shops" class="aboutList__link">Магазины Enter</a></li>
            <li class="aboutList__item"><a href="http://feedback.enter.ru/" class="aboutList__link">Напишите нам</a></li>
            <li class="aboutList__item"><a href="/how_get_order" class="aboutList__link">Условия доставки</a></li>
            <li class="aboutList__item"><a href="/how_pay" class="aboutList__link">Способы оплаты</a></li>
            <li class="aboutList__item"><a href="/credit" class="aboutList__link">Покупка в кредит</a></li>
            <li class="aboutList__item mLast"><a href="http://my.enter.ru/community/job" class="aboutList__link">Работа у нас</a></li>
        </ul>

        <ul class="socLink">
            <li class="socLink__item mFb"><a href="https://www.facebook.com/enter.ru" target="_blank" class="socLink__link"></a></li>
            <li class="socLink__item mTw"><a href="https://twitter.com/enter_ru" target="_blank" class="socLink__link"></a></li>
            <li class="socLink__item mVk"><a href="http://vk.com/public31456119" target="_blank" class="socLink__link"></a></li>
            <li class="socLink__item mYt"><a href="https://www.youtube.com/user/EnterLLC" target="_blank" class="socLink__link"></a></li>
        </ul>

        <ul class="publicInfoList">
            <li class="publicInfoList__item"><a href="/legal" class="publicInfoList__link">Правовая информация</a></li>
            <li class="publicInfoList__item"><a href="/terms" class="publicInfoList__link">Условия продажи</a></li>
            <li class="publicInfoList__item"><a href="/media_info" class="publicInfoList__link">Информация о СМИ</a>
            </li>
            <li class="publicInfoList__item"><a href="/refurbished-sale" class="publicInfoList__link">Уцененные товары оптом</a></li>
        </ul>

        <ul class="appList clearfix">
            <li class="appList__item"><a href="https://itunes.apple.com/ru/app/enter/id486318342?mt=8" target="_blank"><img src="/styles/footer/img/apple.png"/></a></li>

            <li class="appList__item">
                <a href="http://www.windowsphone.com/ru-ru/store/app/enter/6f4c5810-682f-47dc-87b2-aced84582787"
                   target="_blank">
                    <img src="/styles/footer/img/wind.png"/>
                </a>
            </li>

            <li class="appList__item appList__item-last">
                <a href="https://play.google.com/store/apps/details?id=ru.enter" target="_blank">
                    <img src="/styles/footer/img/google.png" alt="Get it on Google Play"/>
                </a>
            </li>
        </ul>

        <p class="publicInfoText">Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.</p>
    </div>

    <div class="footerCopy">
        <div class="contentBox940 clearfix">
            &copy; ООО «Энтер» 2011&ndash;2014. ENTER&reg; ЕНТЕР&reg; Enter&reg;. Все права защищены. <a
                href="javascript:void(0)" class="footerCopy__link" id="jira">Сообщить об ошибке</a>
        </div>
    </div>
</footer><!--/ Подвал -->