<header class="header clearfix">
    <!-- Обертка в 940 px-->
    <div class="contentBox940">
        <!-- Хлебные крошки -->
        <div class="headerCenterWrap">
            <div class="headerCenter">
                {{#breadcrumbBlock}}
                    <div class="breadCrumbs">
                    {{#breadcrumbs}}
                        <a class="breadCrumbs_link" href="{{url}}">{{name}}</a>
                    {{/breadcrumbs}}
                    </div>
                {{/breadcrumbBlock}}
            </div>
        </div>
        <!--/ Хлебные крошки -->

        <!-- Меню и логотип -->
        <div class="headerLeftAside">
            <div class="navIco"><span class="navIco_link"></span></div>

            <a class="logo" href="/"><img class="logo_img" src="/v2/css/modules/header/img/logo.gif" alt="" /></a>
        </div>
        <!--/ Меню и логотип -->

        <!-- Панель юзера - личный кабинет, поиск, корзина -->
        <div class="headerRightAside">
            <div class="transBg"></div>

            <ul class="userBox">
                <li class="userBox_item userBox_item__first"><a class="userBox_link" href=""><span class="userBox_text">Поиск</span></a></li>
                <li class="userBox_item"><a class="userBox_link userBox_link__auth" href=""><span class="userBox_text">Личный кабинет</span></a></li>
                <li class="userBox_item"><a class="userBox_link userBox_link__cart" href=""><span class="userBox_text">Корзина</span></a></li>
            </ul>
        </div>
        <!--/ Панель юзера - личный кабинет, поиск, корзина -->
    </div><!--/ Обертка в 940 px-->
</header><!--/ Шапка-->

<nav class="nav">
    {{#mainMenu}}
        {{>partial/main-menu/level-1}}
    {{/mainMenu}}
</nav>
