<header class="header clearfix">
    <div class="contentBox940">
        <!-- Хлебные крошки -->
        <div class="headerCenterWrap">
            <div class="headerCenter">
                <ul class="breadCrumbs">
                    <li class="breadCrumbs__itemImg"><img src="/v2/css/modules/header/img/breadCrumbs.gif" /></li>
                    <li class="breadCrumbs__item"><a class="breadCrumbs__link breadCrumbs__link" href="">Радиотелефоны DECT и проводные телефоны</a></li>
                </ul>
            </div>
        </div>
        <!--/ Хлебные крошки -->

        <!-- Меню и логотип -->
        {{#mainMenu}}
            {{>partial/main-menu/level-1}}
        {{/mainMenu}}
        <!--/ Меню и логотип -->

        <!-- Панель юзера - личный кабинет, поиск, корзина -->
        <div class="headerRightAside">
            <div class="transBg"></div>
            <ul class="userBox">
                <li class="userBox__item userBox__item-first"><a class="userBox__link" href=""><span class="userBox__text">Поиск</span></a></li>
                <li class="userBox__item"><a class="userBox__link userBox__link-auth" href=""><span class="userBox__text">Личный кабинет</span></a></li>
                <li class="userBox__item"><a class="userBox__link userBox__link-cart" href=""><span class="userBox__text">Корзина</span></a></li>
            </ul>
        </div>
        <!--/ Панель юзера - личный кабинет, поиск, корзина -->
    </div>
</header><!--/ Шапка-->
