<!-- Header -->
<div id="header" class="clearfix">
    <a id="topLogo" href="{{homepageUrl}}">Enter Связной</a>
    {{!> partial/mainMenu/list}}
</div>
<!-- /Header -->

{{!> partial/mainMenu/brand-list}}