<!--<div class="pageNav">
    <a class="pageNav_link" href=""><span class="pageNav_text">Электроника</span></a>
    <a class="pageNav_link" href=""><span class="pageNav_text">Планшеты</span></a>
</div><!--/ хлебные крошки -->