.errorpage503 {
  background: #fff url("@{base-url}/errors/img/error_503.png") no-repeat 50% 0px;
}
.logo503 {
  padding: 61px 0px 0px 8px;
}
.errorbox503 {
  margin: 0px auto;
  padding-top: 250px;
  width: 560px;
}