#errUnavalible{
	background: @white;
	height: 100%;
	.allpage{
		background: url('@{base-url}/errors/img/unavalible.jpg') no-repeat 50% 50%;
		height: 600px;
		position: relative;
		width: 640px;
	}
	.unavaliblePageInner{
		position: absolute;
		left:90px;
		top:200px;
		width: 310px;
		h1{
			color: @firmOrange;
			font-size: 26px;
			float: none;
			width: 310px;
		}
		p{
			color: @black;
			font-family: 'Enter Type';
			font-size: 18px;
		}
	}
}