.shops{
    &-btn{
        float: right;
        margin-top: 2px;
        margin-right: 14px;

        padding: 11px 14px 11px 0;
        border-right: 1px dotted @white;
        cursor: pointer;
        
        &__icon{
            .inline-block(middle);
        }
        &__txt{
            color: @white;
            .inline-block(middle);
        }
    }
}