<div class="btnBuy">
    <a
        class="jsBuyButton btnBuy__eLink{{#disabled}} mDisabled{{/disabled}}{{#inShopOnly}} mShopsOnly{{/inShopOnly}}"
        href="{{url}}"
    >
        {{value}}
    </a>
</div>