{{#inShowroomAsLabel}}
    {{#points.0}}
        <div class="js-buyButton-points">
            <div style="display: none" class="js-buyButton-points-content">
                <a href="#" title="Закрыть" class="js-buyButton-points-content-closer">Закрыть</a>

                {{productName}}

                <ul>
                    {{#points}}
                        <li>
                            {{#subway}}
                                <p>
                                    {{#line.color}}
                                        <i style="background-color: {{line.color}}"></i>
                                    {{/line.color}}

                                    м. {{name}}
                                </p>
                            {{/subway}}

                            <p>
                                {{#url}}
                                    <a href="{{url}}">{{name}}</a>
                                {{/url}}

                                {{^url}}
                                    {{name}}
                                {{/url}}
                            </p>

                            {{#todayWorkingTime}}
                                <p>с {{from}} до {{to}}</p>
                            {{/todayWorkingTime}}
                        </li>
                    {{/points}}
                </ul>

                <p>Чтобы купить товар с витрины, <br />нужно приехать в магазин и обратиться к продавцу.</p>
            </div>

            <div class="showroom-only js-buyButton-points-opener">
                На витрине
                <i class="i-product i-product--info-normal i-info__icon"></i>
            </div>
        </div>
    {{/points.0}}

    {{^points.0}}
        <div class="showroom-only">
            На витрине
            <i class="i-product i-product--info-normal i-info__icon"></i>
        </div>
    {{/points.0}}
{{/inShowroomAsLabel}}

{{^inShowroomAsLabel}}
    {{# surroundDiv }}<div class="{{#isSlot}}btn--slot--container{{/isSlot}} {{^isSlot}}btnBuy {{#isKit}}mBuySet{{/isKit}}{{/isSlot}}
        {{#isGiftery}}btn--container{{/isGiftery}}">{{/surroundDiv}}
        <a
            {{#id}}id="{{id}}"{{/id}}
            href="{{url}}"
            class="{{class}} {{#disabled}}mDisabled{{/disabled}} {{#inShopOnly}}mShopsOnly{{/inShopOnly}} {{#isKit}}btn-type--buy-kit{{/isKit}}"
            data-product-id="{{data.productId}}"
            data-product-ui="{{productUi}}"
            data-upsale="{{data.upsale}}"
            {{#sender}}data-sender="{{&sender}}"{{/sender}}
            {{#sender2}}data-sender2="{{sender2}}"{{/sender2}}
            {{#colorClass}}data-color-class="{{colorClass}}"{{/colorClass}}
            {{#full}}data-full="{{full}}"{{/full}}
            {{#productUrl}}data-product-url="{{productUrl}}"{{/productUrl}}
            {{#productArticle}}data-product-article="{{productArticle}}"{{/productArticle}}
            {{#productPrice}}data-product-price="{{productPrice}}"{{/productPrice}}
            {{#partnerName}}data-partner-name="{{partnerName}}"{{/partnerName}}
            {{#partnerOfferUrl}}data-partner-offer-url="{{partnerOfferUrl}}"{{/partnerOfferUrl}}
            {{#location}}data-location="{{location}}"{{/location}}
            {{#data.noUpdate}}data-no-update="{{data.noUpdate}}"{{/data.noUpdate}}
            {{#onClick}}onclick="{{onClick}}"{{/onClick}}
            data-bind="buyButtonBinding: cart"
        >{{value}}</a>
    {{# surroundDiv }}</div>{{/surroundDiv}}
{{/inShowroomAsLabel}}