<div class="popup packageSetPopup jsKitPopup">
    <a href="" class="close"></a>

    <div class="bPageHead">
        <div class="bPageHead__eSubtitle" data-bind="html: $root.productPrefix"></div>
        <div class="bPageHead__eTitle clearfix">
            <h1 itemprop="name" data-bind="html: $root.productWebname"></h1>
        </div>
    </div>

    <div class="packageSetMainImg"><img data-bind="attr: {src: $root.productImageUrl}" /></div>

    <div class="packageSet mPackageSetEdit">
        <div class="packageSetHead cleared">
            <span class="packageSetHead_title">Уточните комплектацию</span>
        </div>

        <div class="packageSet_inner" data-bind="foreach: products">
            <div class="packageSetBodyItem" data-bind="css: { mDisabled: count() < 1 }">
                <a class="packageSetBodyItem_img rown" href="" data-bind="attr: { href : url }"><img src="" data-bind="attr: { src: image }" /></a>

                <div class="packageSetBodyItem_desc rown">
                    <div class="name"><a class="" href="" data-bind="text: name, attr: { href : url }"></a></div>

                    <div class="price"><span data-bind="html: prettyItemPrice"></span>&nbsp;<span class="rubl">p</span></div>

                    <div data-bind="visible: height && width && depth">

                        <div class="column dimantion">
                            <span class="dimantion_name">Высота</span>
                            <span class="dimantion_val" data-bind="text: height"></span>
                        </div>

                        <div class="column dimantion">
                            <span class="dimantion_name">&nbsp;</span>
                            <span class="dimantion_val separation">x</span>
                        </div>

                        <div class="column dimantion">
                            <span class="dimantion_name">Ширина</span>
                            <span class="dimantion_val" data-bind="text: width"></span>
                        </div>

                        <div class="column dimantion">
                            <span class="dimantion_name">&nbsp;</span>
                            <span class="dimantion_val separation">x</span>
                        </div>

                        <div class="column dimantion">
                            <span class="dimantion_name">Глубина</span>
                            <span class="dimantion_val" data-bind="text: depth"></span>
                        </div>

                        <div class="column dimantion">
                            <span class="dimantion_name">&nbsp;</span>
                            <span class="dimantion_val">см</span>
                        </div>

                    </div>

                    <div class="column delivery" data-bind="css: { 'delivery-nodate': deliveryDate() == '' } ">
                        <span class="dimantion_val" data-bind="if: deliveryDate() != '' ">Доставка <strong data-bind="text: deliveryDate()"></strong></span>
                        <span class="dimantion_val" data-bind="if: deliveryDate() == '' ">Уточните дату доставки в Контакт-сEnter</span>
                    </div>
                </div>

                <div class="bCountSection rown">
                    <button class="bCountSection__eM" data-bind="click: minusClick, css: { mDisabled : count() == 0 }">-</button>
                    <input type="text" value="" class="bCountSection__eNum" data-bind="value: count, valueUpdate: 'input', event: { keydown: countKeydown, keyup: countKeyUp }">
                    <button class="bCountSection__eP" data-bind="click: plusClick, css: { mDisabled : count() == maxCount() }">+</button>
                    <span>шт.</span>
                </div>

                <div class="packageSetBodyItem_price rown">
                    <span data-bind="html: prettyPrice"></span>&nbsp;<span class="rubl">p</span>
                </div>
            </div>
        </div>

        <div class="packageSetFooter">
            <div class="packageSetDefault">
                <input type="checkbox" id="defaultSet" class="bInputHidden bCustomInput jsCustomRadio" data-bind="click: resetToBaseKit">
                <label for="defaultSet" class="packageSetLabel" data-bind="css: { mChecked : isBaseKit }, click: resetToBaseKit">Базовый комплект</label>
            </div>

            <div class="packageSetPrice">Итого за <span data-bind="text: totalCount"></span> предметов: <strong data-bind="html: totalPrice"></strong> <span class="rubl">p</span></div>

            <div class="packageSetBuy btnBuy">
                <a class="btnBuy__eLink jsBuyButton" href="" data-bind="css: { mDisabled: totalCount() == 0 }, attr: { href: buyLink, 'data-upsale': dataUpsale($root.productId) }">Купить</a>
            </div>
        </div>
    </div>
</div>