figure {
    margin: 0;
}
.dotted {
    border-bottom: 1px dotted #000;
}
.bMainContainer {
    width: 940px;
    padding: 0 10px;
    margin: 0 0 0 -20px;
    background: #fff;
    &__eHeader {
        font-family: tahoma;
        &-subtitle {
            font-size: 24px;
        }
        &-title {
            font-family: tahoma;
            padding: 0 0 7px;
        }
        &-article {
            color: #9d9d9d;
        }
    }
}
.bProductSection {
    &__eLeft {
        float: left;
        width: 700px;
    }
    .bProductDesc {
        margin: 0 0 25px;
        &__ePhoto {
            float: left;
            width: 400px;
            position: relative;

            &-bigImg {
                display: block;
                text-align: center;
                margin: 0 0 30px;
                .bigImgLink {
                    display: table-cell;
                    vertical-align: bottom;
                    height: 400px;
                    text-align: center;
                    width: 400px;
                }
                img {
                    max-width: 400px;
                    max-height: 400px;
                }
            }
        }

        &__eStore {
            float: right;
            width: 280px;
            margin: 10px 0 0;
            .inStock {
                color: #fb9c00;
                font-weight: 800;
                margin-bottom: 6px;
            }
            .priceOld {
                font-size: 21px;
                margin-bottom: 3px;
                span {
                    text-decoration: line-through;
                }
            }
            .price {
                font-size: 30px;
            }
            .priceSale {
                margin: 0 0 10px;
                cursor: pointer;
            }
            &-text {
                font-size: 14px;
                margin: 0 0 25px;
                .text__eAll {
                    margin: 4px 0 0;
                    a {
                        text-decoration: underline;
                    }
                }
            }
            &-select {
                .descSelectItem {
                    border: 1px solid #c7c7c7;
                    .rounded(5px);
                    background: url("@{base-url}/newProductCard/img/ico_corner.gif") no-repeat 265px 17px;
                    padding: 10px 17px 10px 10px;
                    font-size: 14px;
                    margin: 0 0 10px;
                    position: relative;
                    cursor: pointer;
                    &__eValue {
                        float: right;
                    }
                    &__eDdm {
                        position: absolute;
                        background: #fff;
                        border: 1px solid #c7c7c7;
                        .rounded(0 0 5px 5px);
                        left: -1px;
                        top: 35px;
                        z-index: 10;
                        width: 278px;
                        li {
                            padding: 5px 10px;
                            &:hover {
                                background: #e6e6e6;
                            }
                        }
                    }
                }
            }
            .creditbox {
                margin: 0 0 23px;
                border: none;
                font-size: 14px;
                .bigcheck {
                    font-weight: normal;
                    line-height: 22px;
                    &.checked {
                        border: none;
                    }
                    b{
                        margin: 0px 8px 0 0px
                    }
                }
                .creditbox__sum {
                    padding-left: 36px;
                }
            }
        }
    }

    .bPhotoAction {
        &__eOtherAction {
            float: left;
            width: 110px;
            li {
                a {
                    display: block;
                    width: 48px;
                    height: 48px;
                    border: 1px solid #e6e6e6;
                    .rounded(9px);
                    background-image: url("@{base-url}/newProductCard/img/btn_slider.png");
                    background-repeat: no-repeat;
                }
            }
            &-video {
                float: left;
                a {
                    background-position: 7px 0;
                }
            } 
            &-grad360 {
                float: right;
                a {
                    background-position: 6px -49px;
                }
            }
        }

        &__eOtherPhoto {
            float: right;
            width: 220px;
            margin-right: 5px;
            ul {
                li {
                    margin: 0 3px 0 2px;
                    a {
                        display: table-cell;
                        width: 48px;
                        height: 48px;
                        border: 1px solid #e6e6e6;
                        .rounded(9px);
                        text-align: center;
                        vertical-align: middle;
                        overflow: hidden;
                        img {
                            max-width: 45px;
                            max-height: 45px;
                        }
                    }
                }
                .active, li:hover {
                    a {
                        border: 2px solid #fb9c00;
                        width: 46px;
                        height: 46px;
                        img {
                            
                        }
                    }
                }
            }
            .bSliderAction__eBtn {
                width: 20px;
                height: 40px;
                span {
                    height: 27px;
                    width: 8px;
                }
            }
            .bSliderAction__mPrev {
                top: 5px;
                left: -23px;
                span {
                    background-position: -44px -49px;
                    margin-top: 5px;
                }
            }
            .bSliderAction__mNext {
                right: -22px;
                top: 5px;
                span {
                    margin-top: 5px;
                    background-position: -65px -49px;
                }
            }
        }
    }

    &__eRight {
        float: right;
        width: 220px;
        margin: 10px 0 0;
        .btnBuy {
            margin: 0 auto;
        }
    }
    .bDescriptionProduct {
        font-size: 14px;
    }
    .bHeadSection {
        font-size: 16px;
        margin: 21px 0 10px;
        padding: 0;
    }

    .bSpecifications {
        &__eHead {
            font-weight: bold;
            margin: 0 0 5px;
        }
        &__eList {
            margin: 0 0 10px;
            dd {
                float: left;
                width: 190px;
                border-bottom: 1px solid #ececec;
                padding: 0 0 2px 0;
                clear: both;
                margin: 5px 0;
                span {
                    background: #fff;
                    position: relative;
                    bottom: -3px;
                    padding-right: 5px;
                }
            }
            dt {
                float: right;
                width: 500px;
                padding: 3px 0 0;
                margin: 5px 0;
            }
        }
    }
}


.bCountSection {
    font-size: 14px;
    margin: 0 0 10px 59px;
    line-height: 24px;
    button {
        background: url("@{base-url}/newProductCard/img/bg_count_btn.png") no-repeat 0 0;
        display: block;
        width: 20px;
        height: 24px;
        cursor: pointer;
        text-align: center;
        border: none;
        float: left;
        margin-right: 3px;
    }
    &__eNum {
        border: 1px solid #c7c7c7;
        .rounded(3px);
        height: 22px;
        line-height: 14px;
        padding: 0;
        text-align: center;
        width: 33px;
        float: left;
        margin-right: 3px;
    }
}

.btnBuy {
    background: -moz-linear-gradient(270deg ,#ffc000 0% ,#ffaa01 100%);
    background: -ms-linear-gradient(270deg ,#ffc000 0% ,#ffaa01 100%);
    background: -o-linear-gradient(270deg ,#ffc000 0% ,#ffaa01 100%);
    background: -webkit-linear-gradient(270deg ,#ffc000 0% ,#ffaa01 100%);
    background: linear-gradient(270deg ,#ffc000 0% ,#ffaa01 100%);
    border: 1px solid #fb9c00;
    .rounded(5px);
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 170px;
    font-family: "Tahoma";
    font-size: 18px;
    .btnBuy__eLink {
        display: block;
        color: #ffffff;
        // padding-left: 10px;
        // background: url("@{base-url}/newProductCard/img/ico.png") no-repeat 19px -54px;
        &:hover {
            text-decoration: none;
        }
    }
}

.bWidgetBuy {
    border: 1px solid #c7c7c7;
    padding: 10px 5px; 
    &__eClick {
        font-size: 14px;
        text-align: center;
        margin: 24px 0 0;
        a {
            text-decoration: underline;
        }
    }
    &__eDelivery {
        margin: 30px 0 0;
        &-item {
            background: url("@{base-url}/newProductCard/img/ico.gif") no-repeat 0 1px;
            padding-left: 25px;
            margin: 0 0 12px;
            span {
                font-size: 14px;
            }
        }
        &-price {
            background-position: 0 -34px;
        }
        &-now {
            background-position: 10px -127px;
        }
    }
    .bAwardSection {
        text-align: center;
    }
}

.bWidgetService {
    border: 1px solid #41c7ef;
    padding: 0 0 10px;
    &__eHead {
        background: url("@{base-url}/newProductCard/img/ico.gif") #41c7ef no-repeat 8px -81px;
        padding: 7px 10px 8px 33px;
        color: #fff;
        font-size: 14px;
        line-height: 1.2;
        strong {
            display: block;
        }
    }
    &__eAll {
        padding: 15px 0 0 32px;
        span {
            font-size: 14px;
        }
    }
    &__eInputList {
        font-size: 14px;
        li {
            margin: 11px 0 0;
            padding: 0 0 0 11px;
            .customInput {
                cursor: pointer;
                line-height: 1.4;
                input {
                    filter: e("progid:DXImageTransform.Microsoft.Alpha(opacity=0)");
                    .opacity(0);
                    position: absolute;
                    z-index: -1;
                }
                b {
                    margin: 2px 0 0px;
                    width: 16px; 
                    height: 16px;
                    background: url("@{base-url}/newProductCard/img/ico.gif") no-repeat 0 -158px;
                    display: block;
                    float: left;
                }
                .labelText {
                    padding: 0 0 0 21px;
                }
            }
            .checkbox {
                b {
                background-position: 0 -188px;
                }
            }
            .checked { 
                color: #000;
                b {
                    background-position: 0 -176px;
                    top: 0!important;
                    height: 12px;
                }
                .deSelect {
                    padding: 3px 0 0;
                    font-size: 13px;
                    a {
                        border-bottom: 1px dotted;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                .dotted {
                    border: none;
                }
            }
        }
    }
}

.mWidget {
    .rounded(5px);
    margin: 0 0 10px;
}

.bSliderAction {
    position: relative;
    z-index: 10;
    ul {
        li {
            float: left;
        }
    }
    &__elist {
        width: 600px;
        margin: 0 auto;
        li {
            width: 120px;
            height: 210px;
            .product__inner {
                padding: 10px;
                .transition(all 0.05s linear);      
                &:hover {
                    .box-shadow(0 0 5px rgba(0,0,0,0.3));
                    background: #fff;
                    .rounded(3px);
                    .btnBuy {
                        .opacity(1);
                    }
                }    
            }
        }
        .reviewSection__star {
            float: none;
        }
        .productImg {
            display: table-cell;
            width: 100px;
            height: 100px;
            vertical-align: middle;
            img {
                max-width: 100px;
                max-height: 100px;
            }
        }
        .productName {
            margin: 5px 0 8px;
            height: 45px;
            overflow: hidden;
        }
        .productPrice {
            font-size: 14px;
            margin: 0 0 10px;
        }
        .btnBuy {
            width: 100px;
            height: 25px;
            line-height: 25px;
            font-size: 14px;
            .opacity(0);
            .transition(all 0.05s linear);
        }
    }
    &__eBtn {
        position: absolute;
        background-color: #fff7e6;
        .rounded(4px);
        height: 58px;
        width: 40px;
        top: 76px;
        cursor: pointer;
        span {
            background-image: url("@{base-url}/newProductCard/img/btn_slider.png");
            background-repeat: no-repeat;
            margin: 6px auto 0;
            height: 46px;
            width: 24px;
            display: block;
        }
    }
    &__eDisable {
        background: #f2f2f2;
        .opacity(0.3);
        span {
            cursor: default;
        }
    }
    &__mNext {
        right: 0;
        span {
            background-position: -54px 0px;
        }
    }
    &__mPrev {
        span {
            background-position: -37px 0px;
        }
    }
}

.bAccessory {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    height: 220px;
    &__eCat {
        float: left;
        width: 219px;
        height: 215px;
        overflow: scroll;
        border-right: 1px solid #c7c7c7;
        padding: 5px 0 0;
        li {
            cursor: pointer;
            span {
                display: inline-block;
                padding: 5px;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.active {
                cursor: default;
                span {
                    background: #e4e4e4;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .bSliderAction {
        width: 460px;
        float: right;
        margin: 5px 0 0;
        &__elist {
            width: 360px;
        }
    }
}