.error-page {
    position: relative;

    width: 500px;
    margin: 90px auto;

    background: no-repeat 50% 0 @white;
    &__title {
        .inline-block(middle);
        margin-right: 30px;
    }
    &__code {
        line-height: 1;

        color: @orange-bright;

        .font-size(120);
    }
    &__text {
        line-height: 1;

        margin-top: -25px;

        color: @orange-bright;

        .font-size(21);
        .font-face('GloberRegular');
    }
    &__continue {
        .inline-block(middle);
    }
}
