.bPlanner3D{
	position:relative;

	width: 700px;
	height: 550px;
}
#planner3D table{
	border-collapse: separate;
}
#Planner3d_TabInfo2Header,
#Planner3d_TabInfo1Header{
	font-size: 14px;
}
#coupeError{
	display: block;

	width: 110px;
	margin: 0 auto;
	padding-left: 25px;

	text-align: left;

	background: url("/css/user/img/attention.gif") no-repeat scroll left top;
}