.order {
  width: 100%;
}
.order th {
  font-size: 14px;
  padding: 0px 10px 15px 0px;
  text-align: left;
}
.order td {
  padding: 0px 0px 15px 10px;
  text-align: right;
}
.bSet{
  margin-bottom: 40px;
}
.bSet__eImage {
  display: inline-block;
  *display: inline;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 500px;
  zoom: 1;
}
.bSet__eInfo {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  width: 405px;
  zoom: 1;
}
.bSet__eDescription {
  font: 14px Tahoma, sans-serif;
  margin: 0px 0px 15px 15px;
  padding: 0px;
}
.bSet__ePrice {
  font: 16px Tahoma, sans-serif;
  margin: 0px 0px 15px 15px;
  padding: 0px;
}
.bSet__ePrice strong {
  margin-right: 10px;
  vertical-align: middle;
}
.bSet__eImage.mServiceBig {
  position: relative;
}
.bServiceCard__eLogo {
  background: url("@{base-url}/item/img/icon_f1_image.png") no-repeat scroll 0px 0px transparent;
  height: 41px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39px;
}
.mServiceBig .bServiceCard__eLogo {
  background: url("@{base-url}/item/img/icon_f1_image.png") no-repeat scroll 0px 0px transparent;
  height: 41px;
  width: 39px;
}