@itemSprite-url:"@{base-url}/item/img/itemSprite.png";
.goodsphoto {
  float: left;
  padding-bottom: 10px;
  position: relative;
  width: 500px;
  &_eVideoShield{
    background: url('@{base-url}/item/img/videoStiker.png') no-repeat 0 0;
    position: absolute;
    height: 85px;
    right: 25px;
    top: 0px;
    width: 100px;
    z-index: 3;
    &:hover{
      background: url('@{base-url}/item/img/videoStikerHover.png') no-repeat 0 0;
    }
  }
}
.bGood__eArticle {
  font-size:12px;
  font-family:Tahoma, sans-serif;
  color: #a6a6a6;
  a, img {
    vertical-align: middle;
  }
  img{
    padding-right: 5px;
    &.rating {
    padding: 0px;
    }
  }
}
.bGood .goodsbarbig {
  margin-bottom: 14px;
  margin-top: 3px;
}
.goodsinfo {
  float: left;
  padding: 0px 0px 40px 20px;
  width: 400px;
  .notBuying{
    .corner{
      right: 8px;
    }
  }
}
.goodsbarbig {
  height: 31px;
  margin: 26px 0px 17px;
  position: relative;
  width: 137px !important;
  a {
    display: block;
    height: 31px;
  }
  &.mSmallBtns {
    display: inline-block;
    *display: inline;
    width: 137px;
    zoom: 1;
    a{
      &.link1{
        background: url("@{itemSprite-url}") 0px 0px no-repeat;
        font-size: 0px;
        height: 31px;
        text-decoration:none;
        text-indent: -10000px;
        width: 137px;
        &:hover {
          background: url("@{itemSprite-url}") 0px -31px no-repeat;
        }
        &.active {
          background: url("@{itemSprite-url}") 0px -62px no-repeat;
        }
        &.disabled {
          background: url("@{itemSprite-url}") 0px -93px no-repeat;
          cursor: default;
        }
      }
    }
  }
}
.bCountSet {
  .rounded(5px);
  border: 1px solid #ddd;
  color: #959595;
  left: -90px;
  margin: 0px 5px 0px 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  width:78px;
  zoom: 1;
  behavior: url(@pie);
  a {
    color: #959595;
    cursor: pointer;
    height: auto;
    line-height:30px;
    text-align: center;
    text-decoration: none;
    width: 14px;
  }
  span {
    line-height:30px;
    //text-align:center;
  }
  .bCountSet__eM {
    background: url("@{itemSprite-url}") no-repeat -137px 0px;
    float: left;
    margin: 0px 0px 0px 2px;
  }
  .bCountSet__eP {
    background: url("@{itemSprite-url}") no-repeat -152px 0px;
    float: right;
    margin: 0px 2px 0px 0px;
  }
}
.bDeliver2 {
  margin-bottom: 15px;
  padding: 5px 15px 5px 20px;
  position: relative;

  background: #E6E8E7;
  .price{
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  p{
    margin: 5px 0;
  }
  h4 {
    font-size:14px;
    font-family:Tahoma, sans-serif;
    font-weight:bold;
    margin: 5px 0px;
    padding: 0px;
  }
  h5 {
    font-size:12px;
    font-family:Tahoma, sans-serif;
    margin: 5px 0px;
    padding: 0px;
  }
  li {
    margin-bottom: 15px;
    div {
      font-size:12px;
      font-family:Tahoma, sans-serif;
      margin: 5px 0px 5px 10px;
      a {
        font-size:12px;
        font-family:Tahoma, sans-serif;
        text-decoration: underline;
      }
    }
  }
}
.bF1Info {
  min-height: 66px;
  h3 {
    color: @firmBlue;
    font: bold 14px Tahoma, sans-serif;
    margin: 0px 0px 7px;
  }
  div {
    font-size: 14px;
    font-family:Tahoma, sans-serif;
    margin-bottom: 10px;
  }
  .link1 {
    color: @firmBlue;
    &:hover {
      text-decoration: none;
    }
  }
}
.bF1Info_Logo {
  cursor: pointer;
  float: left;
  padding-right: 18px;
}

.previewlist{
  li {
    float: left;
    height: 48px;
    margin: 0px 6px 6px 0px;
    position: relative;
    width: 48px;
  }
  a {
    border: 2px solid @typLightGray;
    .rounded(7px);
    display: block;
    height: 44px;
    overflow: hidden;
    width: 44px;
    behavior: url(@pie);
    &:hover,
    &.current{
      border: 2px solid @firmOrange;
      cursor: pointer;
    }
    img{
      margin:-2px;
      *margin-top:-4px;
    }
  }
  
}
.bDropWrap {
  margin: 0px 10px 20px 0px;
  width: 180px;
  h5 {
    color: @typGray;
    font-size: 12px; 
    font-family:Tahoma, sans-serif;
    margin: 0px 0px 3px;
    padding: 0px;
  }
}
.bDropWrap,
.bDropMenu,
.bDropMenu div,
.bDropMenu:hover div {
  display: inline-block;
  *display: block;
  vertical-align: top;
  zoom: 1;
}
.bDropMenu,
.bDropMenu div,
.bDropMenu div span:first-child:hover {
  .rounded(7px);
}
.bDropMenu {
  background: #f5f5f5 url("@{itemSprite-url}") 100% -135px no-repeat;
  border: 2px solid @typLightGray;
  color: #010101;
  padding: 5px 40px 5px 10px;
  position: relative;
  div {
    .box-shadow(0px 0px 5px #bbb);
    background: @white;
    border: 1px solid #aeaeae;
    display: none;
    left: -1px;
    width: 100%;
    padding-bottom: 7px;
    position: absolute;
    top: -1px;
    z-index: 100;
    span {
      cursor: pointer;
      display: block;
      padding: 5px 10px;
      a {
        cursor: pointer;
        display: inline-block;
        *display: inline;
        height: 100%;
        text-decoration: none;
        width: 100%;
        zoom: 1;
      }
      &:first-child {
        background: url("@{itemSprite-url}") 100% -135px no-repeat;
        padding: 5px 0 10px 10px;
      }
      &:hover {
        background: @typLightGray;
      }
      &:first-child:hover {
        background: @white url("@{itemSprite-url}") 100% -135px no-repeat;
        cursor: default;
      }
    }
  }
}
.bigcarousel {
  float: left;
  margin-right: -15px;
  width: 935px;
  .goodsbox {
    margin-bottom: 14px;
    margin-right: 20px;
    padding: 10px;
    position: relative;
    width: 147px;
    .buy {
      .rounded(5px);
      background-color: @firmOrange;
      color: @white;
      font-size: 11px;
      left: 0px;
      padding: 3px 6px 4px;
      position: absolute;
      top: 0px;
    }
    .goodsbox__inner{
      width: 150px;
    }
  }
  .goodsrating {
    color: @typGray;
    display: block;
    font-size: 10px;
    padding-bottom: 5px;
  }
  .ratingview {
    display: inline-block;
    margin: 0px 5px 0px 0px;
    vertical-align: -1px;
    width: 63px;
  }
  .goodsbar {
    margin-top: 10px;
  }
}
.descriptionlist{
  .point {
    float: left;
    padding-bottom: 15px;
    width: 100%;
    .title {
      border-bottom: 1px solid @typLightGray;
      float: left;
      width: 320px;
      h3 {
        background-color: @white;
        display: inline-block;
        float: left;
        font-size: 12px;
        font-weight: normal;
        margin: 0 0 -5px;
        padding-right: 10px;
      }
    }
    .description {
      float: left;
      padding-left: 20px;
      width: 580px;
    }
  }
}
.mBuyButtonBottom {
  padding: 20px 120px 0px 0px;
  &.onleft {
    padding: 30px 10px 0px 0px;
    width: 470px;
  }
}
.otherRegion{
  .rounded(5px);
  border: 2px solid @firmOrange;
  padding:13px 0;
  position:relative;
  p{
    font-size:14px;
    margin:0 0 0 16px;
    a{
      font-weight:bold;
      border-bottom:1px dotted @black;
      &:hover{
        text-decoration:none;
        border-color:@typLinkColor;
      }
    }
  }
  ul{
    margin: 10px 0 0 16px;
    li{
      font-size: 14px;
      float:left;
      width:125px;
      a{
        text-decoration:underline;
      }
    }
  }
  .corner{
    border-bottom: 13px solid @firmOrange;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    height: 0;
    position: absolute;
    right: 45px;
    top: -13px;
    width: 0;
    div{
      border-bottom: 10px solid @white;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      bottom: -13px;
      left: -11px;
      position: absolute;
    }
  }
}
.likeGoodsRegion{
  display: block;
  font-size: 18px;
  font-family: "Enter";
  font-weight: 100;
  line-height: 40px;
  text-decoration:underline;
  text-transform: uppercase;
}
.carbig .scroll span {
    padding: 0px;
    vertical-align: top;
}
.mbSet{
  font: 24px Tahoma, sans-serif;
}
.bSet__eArticul{
  padding: 0;
  margin: 0 0 15px 15px;
  font: 16px Tahoma, sans-serif;
}
.bSet__eMoreInfo{
  text-decoration: none;
  border-bottom: 2px solid @black;
  font: 16px Tahoma, sans-serif;
  font-weight:bold;
  &:hover{
    text-decoration: none;
  }
}
.bSet__eG{
  padding: 0;
  margin: 0 0 7px 0;
  font: 14px Tahoma, sans-serif;
}
.bSet__eIconsWrap{
  padding: 0;
  margin: 0 0 10px 15px;
}
.bSet__eTWrap{
  clear: both;
  padding-top: 7px;
}
.vitrin{
  text-align:left;
  width: 400px;
  p{
    font-family: 'Enter';
    font-weight: 100;
    text-transform: uppercase;
  }
  span{
    font-size:14px;
    display:block;
    margin:7px 0;
  }
  ul{
   li{
      background: url('@{base-url}/item/img/shop.png') no-repeat 0 0;
      font-size:14px;
      min-height: 40px;
      margin: 10px 0;
      padding: 0 0 0 50px;
      .avalShopAddr{
        display: inline-block;
        width: 200px;
      }
   }
 }
}
.bSimilarGoods{
  background: @white;
  border-bottom: 1px solid @typLightGray;
  border-top: 1px solid @typLightGray;
  border-left: 8px solid #FFA901;
  display: none;
  margin: 10px 0 30px;
  width: 100%;
  &_eCorner{
    border-bottom: 13px solid @typLightGray;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    height: 0;
    margin-bottom: -13px;
    position: relative;
    top: -13px;
    left: 40px;
    width: 0;
    div {
      border-bottom: 11px solid #FFFFFF;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      bottom: -13px;
      left: -12px;
      position: absolute;
    }
  }
  &_eLeftCaption{
    font-size: 14px;
    padding: 15px 0 15px 10px;
    width: 150px;
  }
  &.mCatalog{
    border-left: none;
    border-top: none;
    width: 98%;
    
    .bSimilarGoodsSlider{
      border-left: none;
      width: 100%;

      &_eGoods{
        margin: 10px 0;
        padding: 0 24px;
        width: 180px;
      }
    }
  }
}
.bSimilarGoodsSlider{
  border-left: 1px solid @typLightGray;
  overflow: hidden;
  position: relative;
  width: 750px;
  &_eArrow{
    display: block;
    position: absolute;
    height: 100%;
    width: 35px;
    z-index: 2;
    &.mLeft{
      background: url('@{base-url}/item/img/leftArrSlider.png') no-repeat center;
      left:0;
      display: none;
    }
    &.mRight{
      background: url('@{base-url}/item/img/rightArrSlider.png') no-repeat center;
      right:-1px;
    }
  }
  &_eWrap{
    // margin-left:25px;
    position: relative;
    width: 4000px;
    z-index: 1;
  }
  &_eGoods{
    margin:10px 0;
    width: 250px;
  }
  &_eGoodsImg{
    margin-right: 5px;
  }
  &_eGoodsInfo{
    width: 150px;
    h3{
      font-size: 12px;
      font-weight: 100;
      margin:3px 0;
      // text-decoration: underline;
    }
  }
}
.lifted {
  .rounded(4px);
  position: relative;
  z-index: 1;
  &.mCatalog{
    width: 704px;

    &:after{
      right: 22px;
    }
  }
} 
.lifted:before,
.lifted:after {
  .box-shadow(0 12px 17px @typBoxShadowColor);
  bottom:15px;
  content:"";
  height:10%;
  max-width:300px;
  left:10px;
  position: absolute;
  width:50%;
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  -o-transform:rotate(-3deg);
  transform:rotate(-3deg);
  z-index:-2;
} 
.lifted:after {
  right:10px;
  left:auto;
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
  -o-transform:rotate(3deg);
  transform:rotate(3deg);
}

.bHint{
  margin-bottom: -5px;
  position: relative;
  &_eLink{
    background: @white url('@{base-url}/item/img/hintQ.gif') no-repeat left center;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 16px;
    text-indent: -10000px;
    width: 20px;
  }
  &_ePopup{
    display: none;
    left: -20px;
    padding: 10px 15px;
    position: absolute;
    overflow: auto;
    top: 20px;
    width: 350px;
    z-index: 2;
  }
  /*** принудительное форматирование подсказок ***/
  .bHint-text span {
    font-size: 13px !important;
    font-family: Tahoma !important;
    line-height: 1.2 !important;
  }
}

.tag-section {
  margin: 0 0 0 10px;
}
/** **/
.categoriesmenu {
  float: left;
  width: 190px;
  margin-left: -10px;
  margin-top: 12px;
}
  .categoriesmenuitem {
    margin-bottom: 2px;
    padding: 5px 5px 5px 19px;
    cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
  .categoriesmenuitem.active {
    background-color: #e6e6e6;
    cursor: default;
  &:hover {
    text-decoration: none;
  }
}
.acess-box .bigcarousel {
    float: left;
    margin-right: -15px;
    width: 760px;
    border-left: 3px solid #e6e6e6;
  .goodsbox {
    margin: 0 0 0 14px;
    padding: 10px;
    position: relative;
    width: 147px;
    height: 310px;
  }
 } 
 .acess-box-section {
    margin: 35px 0 50px;
 }
 .acess-box {
    position: relative;
    .scroll .srcoll_link_button {
      background: url("@{base-url}/item/img/btn_acess_box.png") no-repeat 4px 50%;
      width: 11px;
      height: 332px;
      position: absolute;
      top: 40px;
      z-index: 100;
      padding: 0 4px;
  }
    .scroll .srcoll_link_button.back.disabled,
    .scroll .srcoll_link_button.forvard.disabled {
      display: none;
    }
    .scroll .srcoll_link_button.back:hover {
      background: url("@{base-url}/item/img/btn_acess_box.png") no-repeat 4px 50% #f6f6f6;
    }
    .scroll .srcoll_link_button.forvard:hover {
      background: url("@{base-url}/item/img/btn_acess_box.png") no-repeat -20px 50% #f6f6f6;
    }
    .scroll .srcoll_link_button.back {
      left: 183px;
    }
    .scroll .srcoll_link_button.forvard {
      background-position: -20px 50%;
      right: -10px;
  }
 }
  .bigcarousel .goodsbox .buy {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffa901;
    color: #ffffff;
    font-size: 11px;
    left: 0px;
    padding: 3px 6px 4px;
    position: absolute;
    top: 0px;
  }
  .bigcarousel .goodsbox .goodsbox__inner {
    width: 150px;
  }
  .bigcarousel .goodsrating {
    color: #a6a6a6;
    display: block;
    font-size: 10px;
    padding-bottom: 5px;
  }
  .bigcarousel .ratingview {
    display: inline-block;
    margin: 0px 5px 0px 0px;
    vertical-align: -1px;
    width: 63px;
  }
  .bigcarousel .goodsbar {
    margin-top: 10px;
  }

.product-btn-toggle {
    border-bottom: 1px dotted;
    cursor: pointer;
    display: inline-block;
}


.bLowPriceNotifer{
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px dotted;
  display: block;
  margin: -5px 0 5px;
  &:hover{
    text-decoration: none;
  }
}
.bLowPriceNotiferPopup{
  display: none;
  position: absolute;
  z-index: 3;

  &__eTitle{

  }
  &__ePrice{

  }
  &__eInputEmail{
    background: @white;
    border: 1px solid #C9C9C9;
    .rounded(4px);
    height: 26px;
    line-height: 26px;
    padding: 0 0 0 10px;
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
