.newLayout {

    .fltrBtn-gift {
        margin-top: -20px;
        overflow: hidden;
    }
}

.fltrBtn{

    &-gift {
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 380px;
        position: relative;

        .fltrBtn_ln {
            margin: 6px 0;

            &-col {
                float: left;
                width: 205px;
            }
        }

        .customLabel {
            font-size: 14px;
        }
    }
}

.fltrBtnPosBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.fltrBtnLn {
    .table();
    margin: 0 auto 17px;
    .rounded(3px);

    &-bg {
        background: @white;
        background: rgba(255, 255, 255, .75);
        padding: 10px;
        .drop-shadow();
    }

    &-lst {
        width: 822px;
        padding: 5px 0 5px 10px;
    }
}

.fltrBtn-action-item {
    display: block;
}

// блок фильтра с параметрами
.fltrBtnBox{

    &-gift {
        border: none;
        background: @white;
        background: rgba(255, 255, 255, .75);
        padding: 8px 10px;
        margin: 0 10px 0 0;
        .drop-shadow();

        &:last-child {
            margin-right: 0;
        }

        .fltrBtnBox_tggl {
            font-size: 20px;
            padding: 0;
            border: none;
            background: none;
        }

        &.opn {
            background: @white;
            background: rgba(255, 255, 255, 1);
            .fltrBtnBox_tggl {
                padding: 0;
            }
        }

        .fltrBtnBox_dd {
            top: 46px;
            min-width: 100%;
            left: 0;
            border: none;
            .drop-shadow();
            .rounded(3px);
            font-size: 14px;

            &:before {
                .rounded(0 0 3px 3px);
            }

            &:after {
                .rounded(3px 3px 0 0);
            }
        }

        .fltrBtnBox_dd_inn {
            padding: 10px 25px 0 10px;
            max-height: 200px;
        }
    }
}