.bLinePart{
	background: @black;
	border-radius: 10px;
	padding: 20px;
	width: 1610px;
	height: 740px;
	border: 1px solid @gray;

	&__eMainInfo{
		float: left;
		width: 380px;
		margin-right: 20px;
	}

	&__eParts{
		// float: left;
	}

	.bProductListItem__eF1Block{
		border: none;
	}
	.bGoodItemKit{
		border: none;
	}
}