/* ==========================================================================
   Стили навигации сайта .nav
   ========================================================================== */

.nav {
	position: absolute;
	background: @black;
	top: 50px;
	left: -20px;
	padding: 10px 10px 20px 20px;
	margin: 0;
	z-index: 999;
	display: none;
}

.navList {
	width: 290px;

	&__item {
		margin: 0 0 20px;
	}

	&__text {
		text-transform: uppercase;
		font-size: 18px;
		height: 40px;
	    line-height: 40px;
		display: block;
		cursor: pointer;

		&:hover {
			color: @firmOrange;
		}
	}

	.navListIco {
		background-position: 0 50%;
		background-repeat: no-repeat;
		display: inline-block;
		height: 40px;
	    vertical-align: top;
	    width: 40px;
	    margin: 0 5px 0 0;

		*display: inline;
		zoom: 1;
	}

	.navListName {
		display: inline-block;
	    vertical-align: top;

	    *display: inline;
		zoom: 1;
	}
}

.navListLevel2 {
	margin: 0 0 0 52px;

	&__link {
		color: #7e7e7e;
		text-transform: uppercase;
		padding: 2px 0;
		margin: 5px 0;
		display: block;
		font-size: 14px;

		&:hover {
			color: @firmOrange;
		}
	}
}

