.cart{
	&--empty{
		background: url("@{base-url}/cart/img/cart-roll.gif") no-repeat 0 0;
		padding: 55px 0 0 200px;
		margin: 25px 0 20px 94px;
		min-height: 155px;

		.cart-text {
			font-size: 48px;
			color: #bebebe;
			float: left;
			&--grey{
				font: normal 16px/18px "Enter Type";
				text-transform: none;
			}
		}

		.cart-list {
			float: right;
			width: 250px;

			&__e{
				font: normal 22px/24px "Enter";
				text-transform: uppercase;
				margin: 0 0 20px;
			}
		}
	}

	&--ep {
		text-align: center;
	}
}