.tchiboNav {
	width: 940px;
	position: relative;
	overflow: hidden;
	height: 101px;
	//background: url("@{base-url}/tchiboNavSlider/img/shadow.png") no-repeat 50% 100%;
	font-size: 0;
	z-index: 10;

	&__title {
		background: url("@{base-url}/tchiboNavSlider/img/logo.jpg") no-repeat 0 0;
		line-height: 80px;
		min-height: 80px;
		margin-right: 20px;
		width: 80px;
		float: left;
	}

	&__titleLink {
		display: block;
		float: left;

	    height: 80px;
	    width: 80px;

	    margin: 1px 0 0;
	}

	&__list {
		width: 838px;
		border-bottom: 1px solid #e8e8e8;
		margin: 0;
		padding: 0;
		float: right;
		position: relative;

		.item {
			margin: 0 30px 0 0;
			float: left;

			&:hover,
			&.active {

				.tchiboNav__sublist {
					.opacity(1);
					z-index: 5;
					visibility: visible;
				}
			}

			&.active {

				.link {
					font-weight: bold;
				}

				.itemText {
					background: url("@{base-url}/tchiboNavSlider/img/arrow.png") no-repeat 50% 100%;

					&:hover {
						text-decoration: none;
					}
				}

				.tchiboNav__sublist.active {

					.link {
					    font-weight: normal;
					}

					.mActive {

						.link {
				    		font-weight: bold;

				    		&:hover {
				    			text-decoration: none;
				    		}
				    	}
					}
				}
			}
		}

		.item.mLast {
			float: right;

			margin: 0;
		}

		.link {
			color: @tchiboBlue;
			display: block;
			font-size: 16px;

			&:hover {				
				text-decoration: underline;
				color: @tchiboBlue;
			}
		}

		.itemText {
			display: inline-block;
			padding-bottom: 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__sublist {
		.opacity(0);
		.transition(opacity 0.2s ease-in-out);

		visibility: hidden;
	    padding: 27px 0 10px 0;

	    position: absolute;
	    top: 13px;
	    z-index: 0;

	    &.mDefault {
	    	left: 0;
	    	width: 838px;
	    }

	    &.mLast {
	    	right: 0;
	    }

		.sublistItem {
			vertical-align: top;
			display: inline-block;

			margin: 0 25px 5px 0;

			&:last-child {
				margin-right: 0;
			}
		}

        .new {
          background: url('/styles/tchibo/img/shild_new_top.png') no-repeat right 1px;
          padding-right: 36px;
        }

		.link {
			font-size: 14px;
		}
	}
}