.tchiboNav {
	width: 940px;
	position: relative;
	overflow: hidden;
	height: 101px;
	z-index: 10;

	&_t {
		background: url("@{base-url}/tchiboNavSlider/img/logo.jpg") no-repeat 0 0;
		line-height: 80px;
		min-height: 80px;
		margin-right: 20px;
		width: 80px;
		float: left;

		&_img {
			display: block;
			float: left;

		    height: 80px;
		    width: 80px;

		    margin: 1px 0 0;
		}
	}

	&_lst {
		width: 838px;
		border-bottom: 1px solid #e8e8e8;
		float: right;
		position: relative;

		&_i {
			margin: 0 12px 0 0;
			float: left;

			&:hover,
			&-act {

				.tchiboNav_slst {
					.opacity(1);
					z-index: 5;
					visibility: visible;
				}
			}

			&-act {

				.tchiboNav_lst_lk {
					font-weight: bold;
				}

				.tchiboNav_lst_tx {
					background: url("@{base-url}/tchiboNavSlider/img/arrow.png") no-repeat 50% 100%;

					&:hover {
						text-decoration: none;
					}
				}

				.tchiboNav_slst {

					&-act {

						.tchiboNav_slst_lk {
						    font-weight: normal;
						}

						.tchiboNav_slst_i-act {

							.tchiboNav_slst_lk {
					    		font-weight: bold;

					    		&:hover {
					    			text-decoration: none;
					    		}
					    	}
						}
					}
				}
			}
		}

		.tchiboNav_lst_i-last {
			float: right;

			margin: 0;
		}

		&_lk {
			color: @tchiboBlue;
			display: block;
			font-size: 16px;

			&:hover {				
				text-decoration: underline;
				color: @tchiboBlue;
			}
		}

		&_tx {
			.inline-block();
			padding-bottom: 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&_slst {
		.opacity(0);
		.transition(opacity 0.2s ease-in-out);

		visibility: hidden;
	    padding: 27px 0 10px 0;

	    position: absolute;
	    top: 13px;
	    z-index: 0;

	    &-def {
	    	left: 0;
	    	width: 838px;
	    }

	    &-last {
	    	right: 0;
	    }

		&_i {
			.inline-block();

			margin: 0 25px 5px 0;

			&:last-child {
				margin-right: 0;
			}
		}

		&_lk {
			font-size: 14px;
			color: @tchiboBlue;
		}
	}
}

.itemNew {
    background: #ef404a;
    .rounded(3px);
    margin-top: 2px;
    color: @white;
    .inline-block();
    font-family: "Arial";
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    padding: 3px 3px 2px;
    text-align: center;
}