/* ==========================================================================
   Стили отзывов в карточке товара .tabContent-reviews
   ========================================================================== */
@media only screen and (max-width: 450px) {
	.reviewsBox {
		margin: 0 0 30px;

		&__left {
			float: none;
			width: auto; 
		}

		.reviews {
			display: inline-block;
			vertical-align: top;
		}

		.reviewsName {
		    margin: 0 10px;
		    display: inline-block;
			vertical-align: top;

			*display: inline;
			zoom: 1;
		}

		.reviewsDate {
			color: @typGray;
			display: inline-block;
			vertical-align: top;
			margin: 2px 0 0;

			*display: inline;
			zoom: 1;
		}

		&__right {
			padding: 0;
		}
	}
}

@media only screen and (max-width: 700px) {
	.productDescInfo {
		border-bottom: 1px solid @tabLightGreyBorder;
	}

	.productDescTab {
		display: none;
	}

	.tabContentWrap {
		height: auto !important;
		overflow: visible;
	}

	.tabContentInner {
		width: 100% !important;
		left: 0 !important;
	}

	.tabContent {
		display: block;

		&_title {
			display: block;
			font-weight: bold;
			font-size: 20px;
			margin: 30px 0 20px;
		}
	}

	.specificationsList {
		display: block;
		width: 100%;
	}
}