/config/config-local.php
/config/databases.yml
/cache
/log
/plugins/.registry/
/plugins/.channels/
/plugins/sfWordpressPlugin/lib/vendor/wordpress/wp-content/uploads/*
/web/uploads
/data/sql/schema.sql
/lib/filter/doctrine/base/*
/lib/form/doctrine/base/*
/lib/model/doctrine/base/*
/config/databases.yml
/web/xml/*
/web/sitemap*
/web/pdf/*
erase.cmd
erase_barcode.cmd
*.nblh~
.idea
.DS_Store
/dark/config/config-local.php
/light/config/local.php
/web/js/jsHintReport
/web/js/docs
/web/survey
