/config/databases.yml
/cache
/log
/plugins/.registry/
/plugins/.channels/
/web/uploads
/data/sql/schema.sql
/lib/filter/doctrine/base/*
/lib/form/doctrine/base/*
/lib/model/doctrine/base/*
/config/databases.yml
erase.cmd
erase_barcode.cmd
*.nblh~
