// button buy
.btnBuy {
    .rounded(3px);
    overflow: hidden;
    text-align: center;

    &__eLink {
        .rounded(3px);
        background-color: #f99b1c;
        display: block;
        .box-sizing();
        .inline-block();

        width: 130px;
        padding: 6px 0;

        text-align: center;

        color: #ffffff;
        border: 1px solid #f08a00;

        font-size: 18px;

        &.mShopsOnly {
            .blackGrad();
            display: inline-block;

            border: 1px solid #a1a1a1;

            vertical-align: top;
            &:hover,
            &:active {
                background: @black;
            }
        }

        &:hover {
            .gradient(#ffa200, #f79200, #ffa200);
            text-decoration: none;
        }

        &:active {
            background: #f79200;
            text-decoration: none;
        }

        &.mBought {
            .box-shadow(none);
            color: @black;
            border: 1px solid lighten(@black, 70);
            background: @white;
        }

        &.mDisabled {
            .box-shadow(none);
            cursor: default;

            color: #cbcbcb;
            border: 1px solid #f1f0f0;
            background: #f1f0f0;

            &:hover {
                color: #cbcbcb;
                border: 1px solid #f1f0f0;
                background: #f1f0f0;
            }
        }
    }
    &.quickOrder{
        .rounded(0px);
        padding: 10px;
        border-top: 1px solid #ccc;
    }
}

.bBtnLine {
    .btnBuy__eLink {
        &.mDisabled {
            .box-shadow(none);
            cursor: default;

            color: #cbcbcb;
            border: 1px solid #f1f0f0;
            background: #f1f0f0;

            &:hover {
                color: #cbcbcb;
                border: 1px solid #f1f0f0;
                background: #f1f0f0;
            }
        }
    }
}