// button buy
.btnBuy {
    height: 35px;
    width: 170px;
    .btnBuy__eLink {
        display: block;
        color: #ffffff;
        .gradient(#ffc000, #ffaa01, #ffc000);
        border: 1px solid #fb9c00;
        .rounded(5px);
        .box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
        height: 35px;
        line-height: 35px;
        text-align: center;
        width: 170px;
        font-family: "Tahoma";
        font-size: 18px;
        border: 1px solid #fb9c00;
        // Паша Гертман сказал пока закомментировать иконку кнопки "Купить" 
        // padding-left: 10px;
        // background: url("@{base-url}/newProductCard/img/ico.png") no-repeat 19px -54px;
        &.mBought {
            background: @white;
            color: @black;
            border: 1px solid lighten(@black, 70);
            .box-shadow(none);
            &:hover {
                background: @white;
            }
        }
        &.mDisabled {
            background: @typLightGray;
            color: @typGray;
            border: 1px solid @typLightGray;
            .box-shadow(none);
            cursor: default;
            &:hover {
                background: @typLightGray;
                color: @typGray;
                border: 1px solid @typLightGray;
            }
        }
        &.mShopsOnly {
            width: 190px;
            margin-left: -11px;
        }
        &:hover {
            text-decoration: none;
            .gradient(#ffa200, #f79200, #ffa200);
        }
    }
}
.goodsbox {
    .btnBuy {
        width: 38px;
        height: 25px;
        float: right;
        a {
            text-indent: -9999px;
            display: block;
            width: 38px;
            height: 25px;
            background: url("/css/catalog/img/catalogSprite.png") -64px 0 no-repeat;
        &:hover {
          background-position: -102px 0;
        }
        &.mDisabled {
            background-position: -64px -26px;
        }
      }
    }
}