// button buy
.btnBuy {
    .rounded(5px);
    overflow: hidden;
    text-align: center;


    &.mBtnPayPal {
        width: 195px;
        height: 42px;
        margin-top: 20px;

        .bPayPalLink {
            width: 195px;
            height: 42px;
            display: block;

            &.mLoading {
                cursor: default;
                .opacity(0.5);
            }

            &.mBought {
                text-indent: -9999px;
                background: url("https://www.paypalobjects.com/ru_RU/i/btn/btn_xpressCheckout.gif");
                .opacity(0.5);
            }
        }
    }

    &__eLink {
        .gradient(#ffc000, #ffaa01, #ffc000);
        .rounded(5px);
        display: block;
        .box-sizing();
        .inline-block();

        width: 170px;
        padding: 7px 0;

        text-align: center;

        color: #ffffff;
        border: 1px solid #fb9c00;

        font-size: 18px;

        &.mShopsOnly {
            .blackGrad();
            display: inline-block;

            border: 1px solid #a1a1a1;

            vertical-align: top;

            zoom: 1;

            *display: inline;

            &:hover,
            &:active {
                background: @black;
            }
        }

        &:hover {
            .gradient(#ffa200, #f79200, #ffa200);
            text-decoration: none;
        }

        &:active {
            background: #f79200;
            text-decoration: none;
        }

        &--magenta {
            .gradient(#d063a5, #c960a0, #bf5b98);
            border-color: #a64f83;

            &:hover {
                background: #bf5b98;
            }

            &:active {
                background: #bf5b98;
            }
        }

        &--red {
            .gradient(#d63942, #d63942, #e63d47);
            border-color: #bd333a;

            &:hover {
                background: #d63942;
            }

            &:active {
                background: #d63942;
            }
        }

        &.mBought {
            .box-shadow(none);
            color: @black;
            border: 1px solid lighten(@black, 70);
            background: @white;

            &:hover {
                background: @white;
            }
        }

        &.mDisabled {
            .box-shadow(none);
            cursor: default;

            color: #cbcbcb;
            border: 1px solid #f1f0f0;
            background: #f1f0f0;

            &:hover {
                color: #cbcbcb;
                border: 1px solid #f1f0f0;
                background: #f1f0f0;
            }
        }
    }
}

.jewel {
    .btnBuy {
        &__eLink {
            &.mDisabled {
                .box-shadow(none);
                cursor: default;

                color: @typGray;
                border: 1px solid @typLightGray;
                background: @typLightGray;

                &:hover {
                    color: @typGray;
                    border: 1px solid @typLightGray;
                    background: @typLightGray;
                }
            }
        }
    }
}


.btnOneClickBuy {
    font-size: 14px;
    text-align: center;
    margin: 15px 0 0;

    &__eLink {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.bProductList {
  .goodsbox:hover .bBtnLine {
    display: block;
  }
  .goodsbox {
    height: 300px;
  }
}