.g-aboutShopBrief {
	margin-bottom: 10px; padding: 12px 21px 40px; background: url('/images/bg1.png') #f6f6f6;

	h1 { margin: 0 0 -2px 0; color: @black; font-size: 26px; }
	h2 { margin: 23px 0 18px 0; color: #868686; font-size: 19px; }
	h1+h2 { margin-top: 0; }
	p { font-size: 15px; color: #868686; }
	ul { .mixins-ul(); font-size: 15px; color: #868686; }
}