/* 
    Created on : 11.06.2014, 12:46:17
    Author     : vadim.kovalenko
*/
//основной путь всех файлов
@base-url:"/css";

//--------МИКСИНЫ----------
@import "../common/mixins.less";


/* Переопределяем некоторые правила */
.content {
	padding-top: 10px;
}

.bSortingList__eItem.mTitle {
	float: left; 
	line-height: 20px; height: 20px; 
	margin-right: 10px;
}

.pc_buttons {
	margin: 0 10px 0 0;
	float: right;
}

.pc_file {
	border: none !important;
	padding: 0;
}



/* Базовые классы которых не хватает */
.pc_left {float: left;}
.pc_right {float: right;} 

.pc_button, .pc_form button, .pc_form input[type=submit] {
	/* Скопировано с кнопки заказа */
	background: none repeat scroll 0 0 #F89B1C;
	border: 1px solid #E26500; 
	.rounded(5px); 
	color: #FFFFFF;
	display: inline-block;
	font: bold 24px Tahoma, sans-serif;
	padding: 6px 80px;
	text-align: center; 
}


label.pc_file {
	background: none repeat scroll 0 0 #F89B1C;
	border: 1px solid #E26500; 
	.rounded(5px); 
	color: #FFFFFF;
	display: inline-block;
	font: bold 14px Tahoma, sans-serif;
	padding: 6px 30px;
	text-align: center;
	> input {
		display: none;
	}
}



.pc_info {
	background: #E6E6E6;
	border: 2px dashed #E6E6E6;
	.rounded(4px);
	padding: 15px;
}

.pc_head {
	h1 {
		margin-top: 0;
	}
}


.pc_photo {
	position: relative;
	display: block;
	text-decoration: none;
	line-height: 0;

	> div {
		position: absolute;

		&.pc_date {
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
			color: #FFFFFF;
			font-size: 12px; line-height: 16px;
			.rounded(4px);
			top: 10px; left: 10px;
			padding: 3px 8px;
		}

		&.pc_vote {
			background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
			color: #000000;
			font-size: 14px; font-weight: bold;
			line-height: 22px;
			.rounded(4px); 
			bottom: 10px; right: 10px;
			min-width: 30px; height: 28px;
			padding: 0 5px;
			cursor: pointer;
			
			> i {
				background-image: url('i/icoLike.png');
				background-repeat: no-repeat;
				background-position: 0px 3px;
				display: inline-block;
				height: 24px;
				padding: 3px 0 0 26px;
			}
			
			&.disabled {
				> i {
					background-position: 0px 3px !important;
					cursor: default;
				}
			}

			&:hover {
				> i {
					background-position: -1px -25px;
				}
			}
			
			&.active {
				> i {
					background-position: -1px -25px;
				}
				&.disabled {
					> i {
						background-position: -1px -25px !important;
					}
				}
				&:hover {
					> i {
						background-position: 0px 3px;
					}
				}
			}
		}
	}
	> img {

	}
}


ul.pc_tail {
	font-size: 0;
    list-style: none outside none;
    padding-left: 0;
	width: 101%;
	
	> li {
		.rounded(6px);
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
		width: 310px; height: 310px;
		margin: 0 5px 5px 0;
	}
	
}

.pc_photostream {
	position: absolute;
	list-style: none outside none;
	margin-top: 2px;
	margin-left: 2px;
	
	li {
		float: left; 
		padding-right: 5px;
		img {
			width: 48px; height: 48px; 
			border-radius: 4px;
		}
		
		&.selected {
			img {
				border: 2px solid #ffa901; 
				margin: -2px -2px -1px;
			}
		}
	}
}


/* прокрутка фоток */
#pc_photostream {
	padding: 0; margin: 0 0 15px; 
	list-style: none outside none;
	position: relative;
	
	> li {
		float: left; 
		height: 52px;
		
		&.pc_stream-nav { 
			position: absolute; top: 0;
			cursor: pointer;
			color: #404040;
			background: #ffffff;
			i { 
				display: block;
				width: 10px; height: 52px;
				background-repeat: no-repeat;
				background-position: 0 20px;
			}
			
			&.pc_prev {
				left: 0; padding: 0;
				i {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAUklEQVQIHWWOAQrAIAwDGz9qn7a9xKd1SVhFMBBCrxGLqopTADIE21wmvUa33IiYmg1PIAg6aTeY1n7eQDn4ycN8NbTcvBZ9jpJKeuEfBCxd8gH17yW5xQaKpwAAAABJRU5ErkJggg==);}
			}
			
			&.pc_next {
				right: 0; padding: 0;
				i {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAACXBIWXMAAAsTAAALEwEAmpwYAAAATklEQVQIHWWOAQ7AIAgDi/Of+rTtJT6NtWYYnCYK3pUEAOjujnzJMP6iiPI0M+uz4xNQ/yVq2K9KbMnl87jgwy3uDCeI+LHSRWMaiYTqC8rzLpK0xDYMAAAAAElFTkSuQmCC);}
			}
		}
		
		&.pc_stream-wrapper {
			width: 900px; 
			margin: 0 18px;
			overflow: hidden;
			position: relative;
		}
	}
}

 

#pc_splash {
	background: url('i/transOtake.jpg');
	height: 380px;
	position: relative;
	> .mBtnOrange {
		font-size: 21px;
		font-weight: bold;
		line-height: 1.8em;
		display: inline-block;
		padding: 8px 40px;
		height: auto;
		position: absolute; bottom: 30px; left: 70px;
	}
}