.popupFl {
    position: absolute;
    z-index: 10;

    overflow: hidden;

    margin-bottom: 15px;

    background: @white;
    border: 1px solid #d7d7d7;
    &_clsr {
        font-family: 'GloberRegular', Tahoma, Geneva, Helvetica, sans-serif;
        font-size: 2em;
        line-height: 1;

        position: absolute;
        z-index: 22;
        top: 5px;
        right: 5px;

        padding: 0 5px;

        cursor: pointer;
        cursor: pointer;

        color: #5e5e5e;
    }
    .shopLst_i {
        cursor: pointer;
    }
}
