.selShop {
    width: 875px;
    max-height: 510px;
    padding: 10px;
    &_l {
        font-size: 14px;

        .inline-block();
    }
    &_r {
        float: right;
        overflow: hidden;

        width: 563px;
        height: 441px;

        .inline-block();
    }
    &_h {
        font-size: 0;

        margin: 0 0 5px;

        border-bottom: 1px solid @grey-light-3;
    }
    &_hh {
        font-size: 18px;

        margin: 0 0 5px 10px;
    }
    &_tab {
        font-size: 18px;

        width: 48%;
        padding: 5px 0 5px 10px;

        cursor: pointer;

        color: #616161;
        border-right: 1px solid @grey-light-3;

        .inline-block();
        &-act {
            cursor: default;

            color: @black;
        }
        &:last-child {
            border-right: 0;
        }
    }
}

.delivery-points {
    width: 932px;
    &__left {
        float: left;

        width: 420px;
    }
    &__right {
        float: right;

        width: 470px;
        height: 455px;

        background: grey;
    }
    .popup__title {
        margin: 0 0 10px;
    }
}

.point-search {
    position: relative;

    margin-right: 20px;
    &__it {
        width: 100%;
        padding-left: 35px;
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 9.5px;

        margin-top: -9.5px;
    }
}
