/* ==========================================================================
   Каталог -> слайдер цен .priceRange
   ========================================================================== */
   
@media only screen and (max-width: 770px) {
	.priceRange {

		&_slider {
			width: 300px;
		}
	}
}

@media only screen and (max-width: 600px) {

	.priceRange {
		margin: 0 0 15px;
		
		&_title {
			display: block;

    		margin: 0 0 5px;

			line-height: 1;
		}

		&_amount {
		    width: 42px;
		    height: 30px;
		    margin: 0 5px 0 0;
		    padding: 0 4px;

    		line-height: 30px;
		}

		&_slider {
			width: 290px;
			margin: 14px 14px 0 6px;
		}

		&_rubl {
			line-height: 33px;
		}
	}
}

@media only screen and (max-width: 480px) {

	.priceRange {

		&_slider {
			width: 270px;
		}
	}
}

@media only screen and (max-width: 400px) {
	.priceRange {

		&_slider {
			width: 160px;
		}
	}
}

@media only screen and (max-width: 320px) {
	.priceRange {

		&_slider {
			width: 120px;
		}
	}
}