.header {
    &__side {
        width: 90px;
        min-width: 90px;
        height: 90px;

        text-align: center;
        vertical-align: middle;
    }
    &__center {
        width: 100%;

        vertical-align: middle;
    }
    &__logotype {
        background: @orange-bright;
    }
    &-cart {
        vertical-align: top;

        background: @orange-light-3;
        &__icon {
            position: relative;

            margin: 15px 0 12px;
        }
        &__text {
            display: block;
        }
        &__count {
            position: absolute;
            top: -8px;
            right: -16px;
        }
    }
    &__line {
        padding-left: 20px;

        .clearfix();
        &--top {
            line-height: 1;

            height: 30px;
            padding-top: 11px;
            padding-right: 20px;
        }
        &--bottom {
            height: 60px;
            padding-top: 13px;

            background: @orange-light-4;
        }
    }
}
.disc-count {
    font-size: 1.1666em;
    font-weight: normal;
    font-style: normal;
    line-height: 31px;

    width: 27px;
    height: 27px;

    text-align: center;

    color: @white;
    background: @orange-bright;

    .rounded(50%);
}

.logotype {
    display: block;

    width: 58px;
    height: 39px;

    background: url('@{base-url}/logo.png') no-repeat 0 0;

    .inline-block();
}

.location {
    margin: 0 37px 0 0;

    .inline-block();
}

.header-shop-info {
    .inline-block();
    &__item {
        margin: 0 17px 0 0;

        .inline-block();
    }
    &__link {
        display: inherit;
    }
}

.search-bar {
    position: relative;

    .inline-block();
    &__icon {
        position: absolute;
        top: 9px;
        left: 11px;
    }
    &__btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    &__it {
        width: 500px;
        padding-left: 38px;
    }
}

.phone {
    float: right;
    &-order {
        .inline-block();
        &__icon {
            margin: -5px 3px 0 0;
        }
        &__text {
            .inline-block();
        }
    }
    &__text {
        font-family: 'GloberBold';
        font-size: 1.1666em;

        margin: 0 8px 0 0;

        .inline-block();
    }
}

.user-controls {
    float: right;
    &__item {
        position: relative;

        width: 120px;
        margin: 5px 0;

        .inline-block(middle);
    }
    &__icon {
        margin: 0 2px 0 0;

        .inline-block(middle);
    }
    &__text {
        .inline-block(middle);
    }
}

.i-controls {
    background: url('@{base-url}/header/i-controls.png') no-repeat 0 0;
    &--cart {
        .i-sprite(-1px, -1px, 45px, 45px);
    }
    &--compare {
        .i-sprite(-48px, -1px, 25px, 25px);
    }
    &--phone {
        .i-sprite(-52px, -32px, 17px, 17px);
    }
    &--search {
        .i-sprite(-5px, -59px, 19px, 19px);
    }
    &--user {
        .i-sprite(-30px, -55px, 25px, 25px);
    }
}


// <i class="controls controls-cart"></i>
// <i class="controls controls-compare"></i>
// <i class="controls controls-user"></i>
