//Примеси для кнопок удаления

.btn-del{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 13px;
  height: 13px;

  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAFVBMVEUAAACgnZ2enp6fnZ2gnp6gn5+gn59zJN7HAAAABnRSTlMAa2xwq/6ys9sfAAAAOUlEQVR42l2OUQoAMAhCndXuf+RYTNj0w3hEKWJBYoBFQXFMcIdcOCDMA1LuBGxnd/bzz7MuwadnA0wUANaT+7mJAAAAAElFTkSuQmCC) no-repeat center center;

  cursor: pointer;

  &:hover{
    text-decoration: none;
  }
}

.btn-del_big{
  position: static;
  display: block;
  width: 150px;
  height: 35px;
  line-height: 35px;
  margin: 20px auto auto auto;

  padding: 0;

  border: 1px solid #afafaf;
  .rounded(3px);
  outline: none;

  background: #FFFFFF;

  font-size: 18px;
  text-align: center;
}
