// форма поиска
.hdsearch{
    position: relative;
    float: left;
    margin: 2px 0 0;

    &_lbl{
        line-height: 1;

        display: block;

        margin: 0 0 3px;

        color: @white;
    }
    &_itb{
        position: relative;

        width: 450px;
        margin: 0 5px 0 0;
        padding: 0 10px 0 35px;

        border: 1px solid #a0a0a0;
        background: @white;

        .rounded(4px);
        .inline-block();
        &:after{
            top: 0;
            left: 8px;

            display: inline-block;

            width: 27px;
            height: 100%;

            vertical-align: top;

            background-image: url('/styles/mainpage/img/i-header.png');
            background-repeat: no-repeat;
            background-position: -186px 4px;
            .transition(all 0.2s ease-out);

            .pseudo-class();
        }

        &-focus {
        	border-color: @orange-2;

        	&.hdsearch_itb {
        		&:after {
        			.opacity(0.5);
        			.transition(all 0.2s ease-out);
        		}
        	}
        }
    }
    &_itw{
        overflow: hidden;

        padding: 0 0 0 10px;
    }
    &_it{
        font-size: 16px;
        line-height: 1.2;

        width: 100%;
        padding: 5px 0;

        border: none;

        .inline-block-middle();
        &:focus{
            border-color: @firmOrange;
        }
    }
    &_btn{
        font-size: 16px;
        line-height: 1;
        .text-shadow(none);

        padding: 6px 20px 7px;

        border-color: @orange-2;

        .inline-block();
    }
}

.searchdd{
    position: absolute;
    z-index: 102;
    top: 35px;
    left: 35px;

    width: 300px;

    color: @black;
    border: 1px solid #c9c9c9;
    background: @white;

    .drop-shadow(0 4px 5px -1px #616161);
    &_t{
        position: relative;

        margin: 10px 10px 5px;

        text-align: right;
        &:after{
            z-index: 1;
            top: 50%;
            right: 0;

            width: 100%;
            height: 1px;

            background: #e6e6e6;

            .pseudo-class();
        }
        &_tx{
            font-size: 11px;

            position: relative;
            z-index: 2;

            padding: 1px 0 1px 5px;

            background: @white;
        }
    }
    &_lk{
        display: block;

        padding: 5px 10px;
        overflow: hidden;
        position: relative;
        &:hover, &_iact{
            text-decoration: none;

            background: #e6e6e6;
            .undrlh{
                text-decoration: none;

                border-bottom: 1px solid #a0a0a0;
            }
        }
        // &:hover:after{
        //     .after-gradient-stub(10px,#e6e6e6);
        // }
        // &:after{
        //     .after-gradient-stub(10px);
        // }
    }
    &_img-wrap{
        width: 48px;
        height: 48px;
        text-align: center;

        .inline-block-middle();

        &:after{
            content: "";
            width: 0;
            height: 100%;
            .inline-block-middle();
        }
    }
    &_img{
        max-height: 98%;
        max-width: 90%;
        .inline-block-middle();
    }
    &_tx{
        width: 218px;
        padding: 0 5px;

        .inline-block-middle();
    }
}
