.header-slider {
    display: block;

    background: #009812;

    text-align: center;

    &__inner{
        position: relative;
        .inline-block();

        width: 960px;
    }

    &__block-items{
        display: block;
        width: 880px;
        height: 36px;
        margin: auto;

        overflow: hidden;
    }

    &__list{
        width: 10000px;

        .clearfix;
    }

    &__bann {
        float: left;

        display: block;
        width: 880px;

        line-height: 35px;
        text-align: center;
        color: #feffff;
        font-size: 22px;
        font-family: 'Enter Type';

        .payments-bann {
            .inline-block();
            height: 30px;
            margin-left: 10px;

            padding: 5px 15px;
            background-color: #007a15;
        }

        a {
            color: inherit;
            text-decoration: underline;
        }

        &:hover {
            text-decoration: none;
        }

        .header-slider__login{
            text-decoration: none;
        }
    }

    &__small {
        .inline-block();
        margin-left: 25px;

        padding: 0 10px;
        background-color: #007a15;

        font-size: 16px;
    }

    &__logo {
        vertical-align: -4px;
        margin-left: 11px;
    }

    &__ctrl-btn{
            position: absolute;
            top: 50%;
            left: 0;

            transform: translateY(-50%);

            border: 10px solid transparent;
            border-right-color: @white;

        opacity: 0.7;

        &:after{
            content: '';

            position: absolute;
            top: 50%;
            left: -6px;

            transform: translateY(-50%);

            border: 8px solid transparent;
            border-right-color: #009812;
        }

        &_next{
            left: auto;
            right: -0;

            border-right-color: transparent;
            border-left-color: @white;

            &:after{
                right: -6px;
                left: auto;

                border-right-color: transparent;
                border-left-color: #009812;
            }
        }

        &:hover{
            opacity: 1;
        }
    }

    &__login{
        display: inline-block;
        vertical-align: top;
        width: 80px;
        height: 25px;
        margin-left: 15px;
        margin-top: 6px;

        background-color: #007a15;
        border-radius: 3px;

        font-size: 16px;
        line-height: 25px;
        text-decoration: none;
    }
}