.header-slider{
    display: block;

    background: #009812;

    text-align: center;

    &__bann {
        .inline-block();

        text-align: center;

        &:hover{
            text-decoration: none;
        }
        a {
            color: inherit;
            text-decoration: underline;
        }
}


.stripe-bann{
    color: #feffff;

    height: 36px;
    line-height: 36px;
    font-size: 23px;
    font-family: 'Enter Type';
    overflow: hidden;

    &__small {
        font-size: 15px;
        .inline-block();
        margin-left: 10px;
        padding: 0 30px;
        background-color: #007a15;
    }
    .payments-bann {
        .inline-block();
        height: 30px;
        margin-left: 10px;
        padding: 3px 15px;
        background-color: #007a15;

    }
}