// header var
@header-height: 50px;
@full-size: 100%;

.header {
	margin: 0 auto;
	width: 960px;
	// верхний блок шапки
	&_t {
		background: #f4f4f4;
		border-color: #bbbbbb;
		border-style: solid;
		height: @header-height;
		border-width: 0 1px 0 1px;
		padding: 0 0 0 10px;
	}

	&_i {
		.inline-block-middle();
	}

	&_c {
		background: @black;
		padding: 5px 10px;
		height: 60px;
	}

	&_b {
		height: 85px;
		padding: 5px 10px 0;
		border-left: 1px solid #c7c7c7;
		border-right: 1px solid #c7c7c7;
	}
}
// контакты
.hdcontacts {
	margin: 0 10px 0 0;
	&_lk {
		color: #808080;
	}
	&_phone {
		color: #424242;
		font-size: 14px;
		font-weight: bold;
	}
}
// ссылки в шапке
.hdlk {
	&_i {
		.inline-block();
		margin: 0 0 0 20px;
		line-height: @header-height;
	}
	&_lk {
		color: #424242;
	}
}
// звонок с сайта
.hdcall {
	padding: 2px 3px 2px 4px;
	border: 1px solid #f99b1c;
	.rounded(3px);
	color: #f99b1c;
	font-weight: bold;
	&:hover {
		text-decoration: none;
	}

	&_tx {
		.inline-block();
		line-height: 1.2;
	}
}

// логотип
.sitelogo {
	background: url("@{base-url}/mainpage/img/logo.png") no-repeat 0 50%;
	width: 71px;
	height: 60px;
	margin: 0 85px 0 0;
}

// пользовательские контролы
.userbtn {
	float: right;
	&_i {
		float: left;
		padding: 0 10px;
		border-left: 1px dotted #bbbbbb;
		&-lk {
			.userbtn_lk {
				.table-cell();
				vertical-align: middle;
				background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAOElEQVQIW2NgYDisdmDdgU9AuO6wGgOY+37/fwg88B4odGAdjAsWWsdw4BOKwCcsAuhaMAxFtxYAK6VexT+uZA8AAAAASUVORK5CYII=") no-repeat 0 50%;
				padding-left: 14px;
				height: @header-height;
			}
		}
		&-cart {
			.userbtn_count {
				background: #f99b1c;
			}
			.userbtn_icon {
				margin-top: 9px;
			}
		}
		&-act {
			background: @white;
		}
	}
	&_lk {
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	&_tx {
		.inline-block();
		margin: 0 2px 0 0;
		line-height: 50px;
	}

	&_count {
		.inline-block();
		color: @white;
		font-weight: bold;
		text-align: center;
		.rounded(3px);
		background: #797979;
		height: 20px;
	    line-height: 1.5;
	    margin: 15px 0 0;
	    width: 20px;
	}

	&_icon {
		margin: 15px 0 0;
	}
}

// форма поиска
.hdsearch {
	&_lbl {
		color: @white;
		display: block;
		line-height: 1;
    	margin: 0 0 3px;
	}
	&_itw {
		position: relative;
		.inline-block();
		&:after {
			background-position: -186px 4px;
		    background-repeat: no-repeat;
		    display: inline-block;
		    height: 100%;
		    vertical-align: top;
		    width: 27px;
		    top: 0;
		    left: 8px;
		    background-image: url("/styles/mainpage/img/i-header.png");
		    .pseudo-class();
		}
	}
	&_it {
		border: 1px solid #a0a0a0;
		line-height: 1.2;
    	padding: 5px 10px 5px 35px;
	    width: 450px;
    	font-size: 16px;
		margin: 0 5px 0 0;
		background: @white;
		.rounded(4px);
		.inline-block();
		&:focus {
			border-color: @firmOrange;
		}
	}
	&_btn {
		font-size: 16px;
	    line-height: 1;
    	padding: 6px 20px 7px;
	    .inline-block();
	    border-color: #f99b1c;
	}
}

// энтерпрайз
.hdep {
	color: #dbdbdb;
	float: right;
	text-align: center;
	margin: 7px 0 0;
	&_h {
		margin: 0 0 10px;
		line-height: 1;
	}
}

// навигация по сайту
.navsite {
	.table();
	height: @full-size;
	&_i {
		.table-cell();
		text-align: center;
		position: relative;
		vertical-align: top;
		padding: 0 5px;
		&:hover {
			.navsite2 {
				display: block;
			}
			.navsite_lk {
				&:after {
					.pseudo-corner-top(6px, #292929, 80px);
					left: 50%;
					margin-left: -6px;
				}
			}
		}
		&:first-child {
			&:hover {
				.navsite2 {
					left: -11px;
				}
			}
		}
	}
	&_icon {
		font-size: 95px;
	    height: 40px;
	    line-height: 0.5;
		margin: 0 0 10px -5px;
		color: @black;
		font-family: 'menuIconFont';
	}
	&_imgw {
		height: 45px;
	    margin: 5px 0 0;
	    overflow: hidden;
	}
	&_img {
		.inline-block();
	}
	&_tx {
		text-transform: uppercase;
		font-family: "Enter type";
		font-size: 11px;
		line-height: 1;
	}
	&_lk {
		display: block;
		height: 85px;
		line-height: 1;
		&:hover {
			text-decoration: none;
		}
	}
}

.navsite2 {
	display: none;
	position: absolute;
	top: 85px;
	left: -50px;
	z-mainpage: 20;
	border: 1px solid #292929;
	border-top-width: 6px;
	background: @white;
	width: 205px;
	text-align: left;
	.transition(all .3s ease);
	&:hover {
		width: 415px;
	}
	&_i {
		&:hover {
			.navsite3 {
				display: block;
				.opacity(1);
			}
			.navsite2_lk {
				background: #e3e3e3;
				text-decoration: none;

				&:after {
					.pseudo-corner-right(8px, @white, 5px);
					right: -3px;
				}
			}
		}
	}
	&_lk {
		font-size: 14px;
		padding: 5px 10px;
		width: 185px;
		line-height: 1.2;
		display: block;
		position: relative;
		z-mainpage: 2;
	}
}

.navsite3 {
	display: none;
	border: 1px solid #292929;
	border-top-width: 6px;
	background: url("@{base-url}/mainpage/img/nav-shadow.png") repeat-y 204px 0 @white;
	left: -1px;
    min-height: 100%;
    padding-left: 215px;
    padding-right: 5px;
    position: absolute;
    top: -6px;
    width: 195px;
    .transition(all .3s ease);
    .opacity(0);

    &_i {
    	padding: 5px 10px;
    	&-tl {
    		text-align: center;
    		font-size: 14px;
    		margin: 0 0 5px;
    	}
    }
    &_lk {
    	font-size: 12px;
    	&:hover {
    		border-bottom: 1px solid #a0a0a0;
    		text-decoration: none;
    	}
    }
}

.navitem {
	text-align: center;
	margin: 5px 0 0;
	&_tl {
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 5px;
	}
	&_cnt {
		display: block;
		&:hover {
			text-decoration: none;
			.navitem_n {
	    		border-bottom: 1px solid #a0a0a0;
	    		text-decoration: none;
	    	}
    	}
	}
	&_img {
		width: 120px;
		height: 120px;
		display: block;
		margin: 0 auto 2px;
	}
	&_pr {
		font-size: 21px;
	}
}

.i-header {
    background-image: url("@{base-url}/mainpage/img/i-header.png");

    &-cart {
        .sprite-temp(-2px, -2px, 25px, 33px);
    }

    &-compare {
        .sprite-temp(-31px, -2px, 25px, 25px);
    }

    &-ep {
        .sprite-temp(-60px, -2px, 97px, 24px);
    }

    &-phone {
        .sprite-temp(-161px, -2px, 21px, 28px);
    }

    &-search {
        .sprite-temp(-186px, -2px, 27px, 20px);
    }
}