.bodybar {
	background: @firmBlue;
	width: 100%;
	height: 28px;
	padding: 8px 0;
	text-align: center;

	&_clsr {
		color: @white;
		font-size: 22px;
	    line-height: 1;
	    text-shadow: 0 1px 1px #333;
	    vertical-align: middle;
		.inline-block();
		cursor: pointer;
	}
}

.sbscrBar {
	.inline-block();
	vertical-align: middle;

	&_lbl {
		.inline-block();
		font-size: 16px;
		color: @white;
		padding: 5px 0 0;
		font-family: "Enter";
		text-transform: uppercase;
	}

	&_it {
		.inline-block();
		border: 1px solid #e6e6e6;
		background: @white;
		font-size: 14px;
		.rounded(4px);
		padding: 4px 10px;
		margin: 0 10px;
	    width: 210px;
	}

	&_is {
		.inline-block();
		padding: 4px 15px;
		font-size: 14px;
	}

	&_tx {
		.inline-block();
		font-size: 14px;
		padding: 3px 0 0;
		color: @white;
		text-shadow: 0 1px 1px #333;
		margin: 0 10px;
	}
}

.topbar {
	border-bottom: none;

	&_l {
		float: left;
	}

	&_r {
		float: right;
	}

	&_c {
		margin: 0 auto;
		text-align: center;
		display: block;
	}

	&_loc {
		color: @black;
		.inline-block();
	    float: left;
	    font-size: 12px;
	    line-height: 50px;
	    padding-right: 10px;
	    max-width: 80px;
	    min-width: 50px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-decoration: underline;
	    position: relative;

	    &:after {
	    	content: "";
		    height: 100%;
		    position: absolute;
		    right: 0;
		    top: 0;
		    width: 10px;
			background: rgba(246,246,246,0);
			background: -moz-linear-gradient(left, rgba(246,246,246,0) 0%, rgba(244,244,244,0.65) 46%, rgba(244,244,244,1) 71%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,246,0)), color-stop(46%, rgba(244,244,244,0.65)), color-stop(71%, rgba(244,244,244,1)));
			background: -webkit-linear-gradient(left, rgba(246,246,246,0) 0%, rgba(244,244,244,0.65) 46%, rgba(244,244,244,1) 71%);
			background: -o-linear-gradient(left, rgba(246,246,246,0) 0%, rgba(244,244,244,0.65) 46%, rgba(244,244,244,1) 71%);
			background: -ms-linear-gradient(left, rgba(246,246,246,0) 0%, rgba(244,244,244,0.65) 46%, rgba(244,244,244,1) 71%);
			background: linear-gradient(to right, rgba(246,246,246,0) 0%, rgba(244,244,244,0.65) 46%, rgba(244,244,244,1) 71%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f4f4f4', GradientType=1 );
		}
	}

	&_call {
		float: left;

		&_t {
			background: url("@{base-url}/header/img/icons.png") no-repeat 5px 3px;
			.inline-block();
			color: #f99b1c;
		    font-size: 12px;
		    font-weight: bold;
		    line-height: 1.1;
		    margin: 9px 10px 0 0;
		    vertical-align: top;
		    width: 52px;
		    border: 1px solid firmOrange;
		    border: 1px solid rgba(249, 155, 28, 0.51);
			.rounded(3px);
			padding: 2px 0 3px 20px;
		}

		&_lst {
			.inline-block();
			font-size: 14px;
			margin: 7px 20px 0 0;
			font-weight: bold;
		}

		&_i {
			display: block;

			&:last-child {
				color: #808080;
			}
		}
	}

	&_lks {
		.inline-block();
		margin: 9px 0 0;

		&_i {
			display: block;
			color: #808080;
			font-size: 12px;
			text-decoration: underline;
		}
	}

	&_ep {
		background: url("@{base-url}/header/img/icons.png") no-repeat 0 -192px;
		display: inline-block;
		height: 49px;
		line-height: 49px;
	    padding: 0 0 0 30px;
	    font-size: 22px;
	    font-family: "Enter";

	    &_mark {
	    	color: #f99b1c;
	    }

	    &:hover {
	    	text-decoration: none;
	    }
	}

	.menuItem {
		background: url("@{base-url}/header/img/bgTrans.gif") repeat-y 100% 0;
		float: right;
		margin: -10px 0 0;
		height: 49px;

		&__link {
			color: @white;
			background: url("@{base-url}/header/img/bgTopMenuItem.gif") @black no-repeat 0 0;
			display: block;
			height: 27px;
			font: normal 11px/27px 'Enter Type';
			padding: 0 15px 0 12px;
			text-transform: uppercase;
			margin: 10px 0 0;

			&:hover {
				text-decoration: none;
			}
		}

		&__text {
			background-position: 0 50%;
			background-repeat: no-repeat;
			padding-left: 20px;
			display: block;
		}
	}
}

#mainPage{
    background: @black;

    .topbar{
	    margin: 0 0 20px 0;
	    padding: 0;
	    width: 100%;
	    background: none;
	    border: none;
	    border-bottom: 1px solid @typLinkColor;
	    height: 50px;

	    &_ep {
	    	color: #fff;
	    	background-position: 0 -240px;
	    	line-height: 50px;
	    }

	    &_loc {
	    	color: @white;
	    	margin-left: 10px;

	    	&:after {
				background: rgba(246,246,246,0);
				background: -moz-linear-gradient(left, rgba(246,246,246,0) 0%, rgba(0,0,0,0.47) 28%, rgba(0,0,0,1) 59%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,246,0)), color-stop(28%, rgba(0,0,0,0.47)), color-stop(59%, rgba(0,0,0,1)));
				background: -webkit-linear-gradient(left, rgba(246,246,246,0) 0%, rgba(0,0,0,0.47) 28%, rgba(0,0,0,1) 59%);
				background: -o-linear-gradient(left, rgba(246,246,246,0) 0%, rgba(0,0,0,0.47) 28%, rgba(0,0,0,1) 59%);
				background: -ms-linear-gradient(left, rgba(246,246,246,0) 0%, rgba(0,0,0,0.47) 28%, rgba(0,0,0,1) 59%);
				background: linear-gradient(to right, rgba(246,246,246,0) 0%, rgba(0,0,0,0.47) 28%, rgba(0,0,0,1) 59%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#000000', GradientType=1 );
			}
	    }

	    &_call {

	    	&_lst {
	    		color: @white;
	    	}
	    }
	}
}

.enterprize {

	.topbar_ep {
    	background-position: 0 -240px;
    	line-height: 50px;
    }

    .topbarfix {

		&_cmpr {
			background: @black;
			border: none;

			&-full {

				.topbarfix_cmpr_tl {
					background-position: 0 -323px;
				}
			}

			&_tl {
				color: @white;
				background-position: 0 -285px;
			}
		}

		&_log {

			&:after {
				background: rgba(0,0,0,0);
				background: -moz-linear-gradient(left, rgba(0,0,0,0) 17%, rgba(0,0,0,0.58) 55%, rgba(0,0,0,1) 82%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(17%, rgba(0,0,0,0)), color-stop(55%, rgba(0,0,0,0.58)), color-stop(82%, rgba(0,0,0,1)), color-stop(93%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
				background: -webkit-linear-gradient(left, rgba(0,0,0,0) 17%, rgba(0,0,0,0.58) 55%, rgba(0,0,0,1) 82%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(left, rgba(0,0,0,0) 17%, rgba(0,0,0,0.58) 55%, rgba(0,0,0,1) 82%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 100%);
				background: -ms-linear-gradient(left, rgba(0,0,0,0) 17%, rgba(0,0,0,0.58) 55%, rgba(0,0,0,1) 82%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 100%);
				background: linear-gradient(to right, rgba(0,0,0,0) 17%, rgba(0,0,0,0.58) 55%, rgba(0,0,0,1) 82%, rgba(0,0,0,1) 93%, rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
			}
		}
	}
}