// header var
@header-height: 50px;
@full-size: 100%;

.header{
    width: 960px;
    margin: 0 auto;
    // верхний блок шапки
    &_t{
        height: @header-height;
        padding: 0 0 0 10px;

        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: @darkgrey3;
        background: @lightgrey8;
    }
    &_i{
        .inline-block-middle();
    }
    &_c{
        height: 60px;
        padding: 5px 10px;

        background: @black;
    }
    &_b{
        position: relative;
        z-index: 10;

        height: 85px;
        padding: 5px 5px 0;

        border-right: 1px solid @darkgrey3;
        border-left: 1px solid @darkgrey3;
    }
}
// контакты
.hdcontacts{
    margin: 0 10px 0 0;
    &_lk{
        color: #808080;
    }
    &_phone{
        font-size: 14px;
        font-weight: bold;

        color: #424242;
    }
}
// ссылки в шапке
.hdlk{
    &_i{
        line-height: @header-height;

        margin: 0 0 0 20px;

        .inline-block();
    }
    &_lk{
        color: #424242;
    }
}
// звонок с сайта
.hdcall{
    font-weight: bold;

    padding: 2px 3px 2px 4px;

    color: @orange-2;
    border: 1px solid @orange-2;

    .rounded(3px);
    &:hover{
        text-decoration: none;
    }
    &_tx{
        line-height: 1.2;

        .inline-block();
    }
}

// логотип
.sitelogo{
    width: 71px;
    height: 60px;
    margin: 0 85px 0 0;

    background: url('@{base-url}/mainpage/img/logo.png') no-repeat 0 50%;
}

// пользовательские контролы
.userbtn{
    float: right;
    &_i{
        float: left;

        padding: 0 10px;

        border-left: 1px dotted @darkgrey3;
        &-lk{
            .userbtn_lk{
                height: @header-height;
                padding-left: 14px;

                vertical-align: middle;

                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAOElEQVQIW2NgYDisdmDdgU9AuO6wGgOY+37/fwg88B4odGAdjAsWWsdw4BOKwCcsAuhaMAxFtxYAK6VexT+uZA8AAAAASUVORK5CYII=') no-repeat 0 50%;

                .table-cell();
            }
            &.userbtn_i-act{
                .userbtn_lk{
                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAR0lEQVQY02NgAIL/C5XUfs6WXfdrjswnEAaxQWIMMMlfc2Tf/5wt8x8Zg8TAikCq0SURWHYdA8RI7ApAcoQVELSCoCMJeRMAYK6XwUqCrYoAAAAASUVORK5CYII=') no-repeat 0 50%;
                }
            }
            &.userbtn_i-ep{
                .userbtn_lk{
                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAkUlEQVR4AX3KsQoBUBjF8VNCkcXsNZgtVp5GXoE3ICu7MljcjVLuC1gMUrfEAyj5/IdvuBnuqd9/Ovrfe9kZYgTlRBpQZoYplKmJBLQgt8UGcnXsRPY4ow3higuEJo4IIgsYIgb44oMuTjDMRSYwl2DuDnNjkT4MJT2RKl6FU0JFRIiF4wESEda4uYSne2AF/QDIMdnz26Xx7gAAAABJRU5ErkJggg==') no-repeat 0 50%;
                }
            }
        }
        &-cart{
            .userbtn_count{
                background: @orange-2;
            }
            .userbtn_icon{
                margin-top: 9px;
            }
        }
        &-act{
            background: @white;
        }
    }
    &_lk{
        display: block;

        height: 50px;
        &:hover{
            text-decoration: none;
        }
    }
    &_tx{
        line-height: 50px;

        margin: 0 2px 0 0;

        .inline-block();
    }
    &_count{
        font-weight: bold;
        line-height: 1.5;

        width: 20px;
        height: 20px;
        margin: 15px 0 0;

        text-align: center;

        color: @white;
        background: #797979;

        .inline-block();
        .rounded(3px);
    }
    &_icon{
        margin: 15px 0 0;
    }
}

// форма поиска
.hdsearch{
    position: relative;
    &-v2{
        .hdsearch_it{
            width: 340px;
            padding-left: 150px;
        }
        .searchdd {
		    left: 140px;
		}
    }
    &_lbl{
        line-height: 1;

        display: block;

        margin: 0 0 3px;

        color: @white;
    }
    &_itw{
        position: relative;

        .inline-block();
        &:after{
            top: 0;
            left: 8px;

            display: inline-block;

            width: 27px;
            height: 100%;

            vertical-align: top;

            background-image: url('/styles/mainpage/img/i-header.png');
            background-repeat: no-repeat;
            background-position: -186px 4px;

            .pseudo-class();
        }
    }
    &_it{
        font-size: 16px;
        line-height: 1.2;

        width: 440px;
        margin: 0 5px 0 0;
        padding: 5px 10px 5px 45px;

        border: 1px solid #a0a0a0;
        background: @white;

        .rounded(4px);
        .inline-block();
        &:focus{
            border-color: @firmOrange;
        }
    }
    &_btn{
        font-size: 16px;
        line-height: 1;

        padding: 6px 20px 7px;

        border-color: @orange-2;

        .inline-block();
    }
}

.searchcat{
    position: absolute;
    top: 4px;
    left: 40px;
    &_tl{
        padding-right: 18px;

        cursor: pointer;

        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAGCAYAAADzG6+8AAAAlElEQVR42o2LQQrCQBAEJyBCEHzBnmQPkYU97MzsuA/JK/KCIPETfsKjR/Hqx5y+KhEbGprualpTa62H6V+FEPrKPFaRK4yM7udJVQ8On03kZqozjIwO29chpbR1YHK/jHkppRy93sDI6LCBAUsQMw+m+lCRp5mdcs47+hA6bGDA4kNV5K7Mlxjj3pmO1tWBcXbB5w2M6ygGnJ4D4wAAAABJRU5ErkJggg==') no-repeat 100% 9px;
        &-act {
        	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAGCAYAAADzG6+8AAAAlElEQVR42o2NwQlCMRBE54MIH8EKcpIclEAO2d2sKcQqrEBEm7AJjx4/Xm3MzPXDFwcGhpm3LKrqy0RuMcYtgAHLGsh09s4biMjezSZTfbv7Mee8wUzsuJEhyxtQKaW1q567P96/l1IOAFY0MztuZMhiLjPbVdVrB55udqGZ2XHDL4UQxipy6vCDZmaHf9VaG+ml/QvaeCgG9S6UhwAAAABJRU5ErkJggg==') no-repeat 100% 11px;
        }
        &_tx{
            font-size: 16px;

            color: #7d7d7d;
            border-bottom: 1px dotted;
        }
    }
    &_dd{
        position: absolute;
        z-index: 12;
        left: -40px;
	    top: 29px;

        width: 198px;

        border: 1px solid #e3e3e3;
        background-color: @white;

        .rounded(3px);
        .drop-shadow(0, 1px, 3px, .5);
        &_lk{
            font-size: 14px;

            display: block;

            padding: 5px 10px;
            &:hover{
                text-decoration: none;

                background: #e6e6e6;
                .undrlh{
                    text-decoration: none;

                    border-bottom: 1px solid #a0a0a0;
                }
            }
        }
    }
}

.searchdd{
    position: absolute;
    z-index: 25;
    top: 46px;
    left: 35px;

    width: 300px;

    color: @black;
    border: 1px solid #c9c9c9;
    background: @white;

    .drop-shadow(0 4px 5px -1px #616161);
    &_t{
        position: relative;

        margin: 10px 10px 5px;

        text-align: right;
        &:after{
            z-index: 1;
            top: 50%;
            right: 0;

            width: 100%;
            height: 1px;

            background: #e6e6e6;

            .pseudo-class();
        }
        &_tx{
            font-size: 11px;

            position: relative;
            z-index: 2;

            padding: 1px 0 1px 5px;

            background: @white;
        }
    }
    &_lk{
        display: block;

        padding: 5px 10px;
        &:hover{
            text-decoration: none;

            background: #e6e6e6;
            .undrlh{
                text-decoration: none;

                border-bottom: 1px solid #a0a0a0;
            }
        }
    }
    &_img{
        width: 48px;
        height: 48px;

        .inline-block-middle();
        .rounded(3px);
    }
    &_tx{
        width: 218px;
        padding: 0 5px;

        .inline-block-middle();
    }
}

// энтерпрайз
.hdep{
    float: right;

    margin: 7px 0 0;

    text-align: center;

    color: #dbdbdb;
    &_h{
        line-height: 1;

        margin: 0 0 10px;
    }
}

.i-header{
    background-image: url('@{base-url}/mainpage/img/i-header.png');
    &-cart{
        .sprite-temp(-2px, -2px, 25px, 33px);
    }
    &-compare{
        .sprite-temp(-31px, -2px, 25px, 25px);
    }
    &-ep{
        .sprite-temp(-60px, -2px, 97px, 24px);
    }
    &-phone{
        .sprite-temp(-161px, -2px, 21px, 28px);
    }
    &-search{
        .sprite-temp(-186px, -2px, 27px, 20px);
    }
}
