.i-header {
    background-image: url('@{base-url}/header/img/i/i-header.png');
    &--cart {
        margin: -3px 2px 0;

        .sprite-temp(-158px, 0, 25px, 22px);
        .inline-block-middle();
    }
    &--compare {
        margin: 3px 2px 0;

        .sprite-temp(-183px, 0, 25px, 24px);
        .inline-block-middle();
    }
    &--ep {
        .sprite-temp(0, 0, 108px, 20px);
    }
    &--phone {
        .sprite-temp(-233px, 0, 21px, 28px);
    }
    &--search {
        .sprite-temp(-254px, 0, 22px, 20px);
    }
    &--person {
        .sprite-temp(-276px, 0, 22px, 22px);
    }
    &--person-ep {
        .sprite-temp(-298px, 0, 22px, 22px);
    }
    &--wishlist {
        .sprite-temp(-320px, 0, 22px, 22px);
    }
}