.i-header{
    background-image: url('@{base-url}/header/img/i-header.png');
    &--cart{
        .sprite-temp(-158px, 0, 25px, 22px);
        .inline-block-middle();
        margin: -3px 2px 0;
    }
    &--compare{
        .sprite-temp(-183px, 0, 25px, 24px);
        .inline-block-middle();
        margin: 3px 2px 0;
    }
    &--ep{
        .sprite-temp(0, 0, 108px, 20px);
    }
    &--phone{
        .sprite-temp(-233px, 0, 21px, 28px);
    }
    &--search{
        .sprite-temp(-254px, 0, 22px, 20px);
    }
}