// header var
@header-height: 50px;
@full-size: 100%;

// навигация по сайту
.navsite {
	.table();
	height: @full-size;
	&_i {
		.table-cell();
		text-align: center;
		position: relative;
		vertical-align: top;
		padding: 0 1px;
		&:hover {
			.navsite2 {
				display: block;
			}
		}
		&:first-child {
			&:hover {
				.navsite2 {
					left: -11px;
				}
			}
		}
		&-child {
			&:hover {
				.navsite_lk {
					&:after {
						.pseudo-corner-top(6px, @darkgrey4, 80px);
						left: 50%;
						margin-left: -6px;
					}
				}
			}
		}
		&-last {
			&:hover {
				.navsite2 {
					right: 0;
				}
			}
		}
	}
	&_icon {
		font-size: 90px;
	    height: 40px;
	    line-height: 0.5;
		margin: 0 0 10px 0;
		color: @black;
		font-family: 'menuIconFont';
	}
	&_imgw {
		height: 45px;
	    margin: 5px 0 0;
	    overflow: hidden;
	}
	&_img {
		.inline-block();
		width: auto;
		height: 100%;
	}
	&_tx {
		text-transform: uppercase;
		font-family: "Enter type";
		font-size: 11px;
		line-height: 1;
	}
	&_lk {
		display: block;
		height: 85px;
		line-height: 1;
		&:hover {
			text-decoration: none;
		}
	}
}

.navsite2 {
	display: none;
	position: absolute;
	top: 85px;
	left: -50px;
	z-index: 20;
	border: 1px solid @darkgrey4;
	border-top-width: 6px;
	background: @white;
	width: 205px;
	text-align: left;
	.transition(all .3s ease);
	// &:hover {
	// 	width: 415px;
	// }
	&_i {
		&:hover {
			.navsite3 {
				display: block;
				.opacity(1);
			}
			.navsite2_lk {
				background: #e3e3e3;
				text-decoration: none;
			}
		}
		&-child {
			.navsite2_lk {
				&:hover {
					&:after {
						.pseudo-corner-right(8px, @white, 50%);
						right: -3px;
						margin-top: -8px;
					}
				}
			}
		}
	}
	&_lk {
		font-size: 14px;
		padding: 5px 10px;
		width: 185px;
		line-height: 1.2;
		display: block;
		position: relative;
		z-index: 2;
	}
}

.navsite3 {
	display: none;
	border: 1px solid @darkgrey4;
	border-top-width: 6px;
	background: url("@{base-url}/mainpage/img/nav-shadow.png") repeat-y 204px 0 @white;
	left: -1px;
    min-height: 100%;
    padding-left: 215px;
    padding-right: 5px;
    position: absolute;
    top: -6px;
    width: 195px;
    .transition(all .3s ease);
    .opacity(0);

    &_i {
    	padding: 5px 10px;
    	&-tl {
    		text-align: center;
    		font-size: 14px;
    		margin: 0 0 5px;
    	}
    }
    &_lk {
    	font-size: 12px;
    	&:hover {
    		border-bottom: 1px solid @darkgrey5;
    		text-decoration: none;
    	}
    }
}

.navitem {
	text-align: center;
	margin: 5px 0 0;
	&_tl {
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 5px;
	}
	&_cnt {
		display: block;
		&:hover {
			text-decoration: none;
			.navitem_n {
	    		border-bottom: 1px solid @darkgrey5;
	    		text-decoration: none;
	    	}
    	}
	}
	&_img {
		width: 120px;
		height: 120px;
		display: block;
		margin: 0 auto 2px;
	}
	&_pr {
		font-size: 21px;
	}
}

// стили для сторой навигации - убить к чертям, после перехода на новый дизайн
.header_nav {
	float: right;
	margin: 14px 0 0;
    width: 840px;
	.navsite {
		&_i {
			padding: 0 3px;
			.navsite_lk {
				color: @white;
				&:hover {
					color: #ffa901;
					.navsite_icon {
						color: #ffa901;
					}
				}
			}
			&-child {
				&:hover {
					.navsite_lk {
						&:after {
							.pseudo-corner-top(6px, #ffa901, 80px);
						}
					}
				}
			}
		}
		&_icon {
		    color: @white;
		    font-size: 78px;
		    font-weight: normal;
		    height: 40px;
		    margin: 0 0 10px;
		}
		&_tx {
		    font-size: 11px;
		}

		&_imgw {
		    height: 45px;
		    margin: 0 0 5px;
		    overflow: hidden;
		    width: auto;
		}
	}
	.navsite2 {
		border-color: #ffa901;
		padding-top: 5px;
		padding-bottom: 5px;
		.rounded(3px);
		&_i {
			&:hover {
				.navsite2_lk {
					background: #e6e6e6;
				}
			}
			&-child {
				.navsite2_lk {
					&:hover {
						&:after {
							.pseudo-corner-right(8px, transparent, 50%);
						}
					}
				}
			}
		}
	}
	.navsite3 {
		border-color: #ffa901;
		.rounded(3px);
		background-image: url("/css/header/img/border.gif");
		background-position: 205px 0;
		padding-top: 5px;
		padding-bottom: 5px;
		&_i {
			&-tl {
				color: #ffa901;
			    font-family: "Enter";
			    font-size: 18px;
			    line-height: 1.1;
			    text-align: left;
			    text-transform: uppercase;
			}
		}
	}
}