.sbscrBar {
	.inline-block();
	vertical-align: middle;

	&_lbl {
		.inline-block();
		vertical-align: middle;
		font-size: 16px;
		color: @white;
		font-family: "Enter";
		text-transform: uppercase;
		.text-shadow(0 1px 1px #333);
		line-height: 1;
	}

	&_it {
		.inline-block();
		border: 1px solid #e6e6e6;
		background: @white;
		font-size: 14px;
		.rounded(4px);
		padding: 4px 10px;
		margin: 0 10px;
	    width: 210px;
	    &.mError {
	    	border-color: #ec5656;
	    }
	}

	&_itw {
		.inline-block();
		position: relative;

		.bErrorText {
		    right: 12px;
		    top: 13px;
		}
	}

	&_is {
		.inline-block();
		padding: 4px 15px;
		font-size: 14px;
		.orangeGradLight();
	    border: 1px solid @firmOrange;
	    border-radius: 4px;
	    color: @white;
	}

	&_tx {
		.inline-block();
		font-size: 14px;
		padding: 3px 0 0;
		color: @white;
		.text-shadow(0 1px 1px #333);
		margin: 0 10px;
	}

	&-foot {
		padding: 15px 10px 10px;
		.sbscrBar_is {
		    background: @firmBlue;
		    border: 1px solid @firmBlue;
		    .rounded(4px);
		    color: @white;
		}
		.sbscrBar_it {
		    width: 235px;
		}
	}
}