.user-account {
    &__lk {
        display: block;

        padding: 5px 20px 5px 10px;

        color: #363636;
        &:hover {
            background: #fef0de;
            text-decoration: none;
        }
    }
    &__icon {
        width: 22px;
        height: 22px;
        margin: 0 10px 0 0;

        .inline-block-middle();
    }
    &__text {
        .inline-block-middle();
    }
}
