.user-account {
    -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.30);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.30);

    &, *{
        box-sizing: border-box;
    }

    &__i{

    }

    &__lk{
        display: block;
        width: 100%;
        padding: 10px 15px 10px 10px;

        font-size: 12px;

        &:hover{
            background: #fff7e5;
            text-decoration: none;
        }
        
        &_login{
            background: #ffa400;

            font-size: 14px;
            color: @white;
            
            &:hover{
                background: #ff8600;
            }
        }

        &_exit{
            border-top: 1px solid #ebebeb;
        }
    }

    &__text{
        .inline-block(middle);
    }

    &__counter{
        .inline-block(middle);
        min-width: 17px;
        margin-left: 5px;

        background: #009925;
        padding: 2px;
        .rounded(3px);

        color: @white;
        font-size: 12px;
        text-align: center;
    }
}