// пользовательские контролы
// header var
@header-height: 50px;
@full-size: 100%;

.userbtn{
    float: right;
    &_i{
        float: left;

        padding: 0 10px;

        &-lk{
            .userbtn_lk{
                height: @header-height;
                padding-left: 14px;

                vertical-align: middle;

                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAOElEQVQIW2NgYDisdmDdgU9AuO6wGgOY+37/fwg88B4odGAdjAsWWsdw4BOKwCcsAuhaMAxFtxYAK6VexT+uZA8AAAAASUVORK5CYII=') no-repeat 0 50%;

                .table-cell();
            }
            &.userbtn_i-act{
                .userbtn_lk{
                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAR0lEQVQY02NgAIL/C5XUfs6WXfdrjswnEAaxQWIMMMlfc2Tf/5wt8x8Zg8TAikCq0SURWHYdA8RI7ApAcoQVELSCoCMJeRMAYK6XwUqCrYoAAAAASUVORK5CYII=') no-repeat 0 50%;
                }
            }
            &.userbtn_i-ep{
                .userbtn_lk{
                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAkUlEQVR4AX3KsQoBUBjF8VNCkcXsNZgtVp5GXoE3ICu7MljcjVLuC1gMUrfEAyj5/IdvuBnuqd9/Ovrfe9kZYgTlRBpQZoYplKmJBLQgt8UGcnXsRPY4ow3higuEJo4IIgsYIgb44oMuTjDMRSYwl2DuDnNjkT4MJT2RKl6FU0JFRIiF4wESEda4uYSne2AF/QDIMdnz26Xx7gAAAABJRU5ErkJggg==') no-repeat 0 50%;
                }
            }
        }
        &-cart{
            .userbtn_count{
                background: @orange-2;
            }
            .userbtn_icon{
                margin-top: 9px;
            }
        }
        &-act{
            background: @white;
        }
    }
    &_lk{
        display: block;

        height: 50px;
        &:hover{
            text-decoration: none;
        }
    }
    &_tx{
        line-height: 50px;

        margin: 0 2px 0 0;

        .inline-block();
    }
    &_count{
        font-weight: bold;
        line-height: 1.5;

        width: 20px;
        height: 20px;
        margin: 15px 0 0;

        text-align: center;

        color: @white;
        background: #797979;

        .inline-block();
        .rounded(3px);
    }
    &_icon{
        margin: 15px 0 0;
    }
}