{{#properties}}
    <div class="chooseModel__title">
        {{name}}
    </div>

    <ul class="chooseModelNum clearfix">
        {{#options}}
            <li class="chooseModelNum__item{{#isActive}} chooseModelNum__item-active{{/isActive}}">
                <a class="chooseModelNum__link" href="{{url}}">{{shownValue}}</a>
            </li>
        {{/options}}
    </ul>
{{/properties}}