.footer__order {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  background: #fff;
  height: 390px;
  margin-top: -390px;
  position: relative;
}

.footer__list{
  .rounded(7px);
  position:relative;

  padding: 20px 0;

  border: 1px solid #dddddd;
  background: #f6f6f6;
  font-size: 0;

  &__title {
    margin: 20px 0 30px 0;

    text-align: center;
    text-transform: uppercase;

    font: 36px 'Enter';
    font-weight: 100;
  }

  &__item {
    display: inline-block;
    zoom: 1;

    width: 205px;
    padding: 60px 18px 0 10px;

    font-size: 12px;

    vertical-align: top;

    *display: inline;

    &.mEnter {
      background: url('@{base-url}/footer/img/z_enter.png') 50% 0 no-repeat;
    }

    &.mSafeOder {
      background: url('@{base-url}/footer/img/z_zakaz.png') 50% 0 no-repeat;
    }

    &.mOrder {
    background: url('@{base-url}/footer/img/z_people.png') 50% 0 no-repeat;
    }

    &.mDelivery{
      background: url('@{base-url}/footer/img/z_car.png') 50% 0 no-repeat;
    }
  }

  .title {
    text-transform: uppercase;

    font: 18px 'Enter';
    font-weight: 100;

    margin: 0 0 10px;
  }

  .strong {
    font-size: 18px;
    font-weight: 100;
  }
}


.footer__order__bottom {
  font-size: 11px;
  margin: 20px 0 0;
  vertical-align: top;

  .feedback__link {
    margin: 0 0 10px;

    font-size: 10px;
  }

  .copy {
    display: inline-block;

    *display: inline;
    zoom: 1;
  }

  .creditcard__list {
    display: inline-block;
    float: right;

    *display: inline;
    zoom: 1;

    &__item {
      display: inline-block;

      *display: inline;
      zoom: 1;
    }
  }
}