// подвал
@full-size: 100%;

.footer {

    &__referral{
        display: inline-block;
        height: 23px;
        margin-left: 140px;
        margin-top: 5px;
        
        padding-left: 23px;
        
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAABCElEQVR4AY2SpVqFQRCGF3eXdBrpT7jdA+4NuZgX5wLwRCXh7lBwp1HQhDvM8Xnwb3/95p2V2TVeYdHMBo+8y70h35b5LKLo5k0A3d7Ei9KQjUMV1u0Qm7enT9An0Nkj3cpcoY5ckrAoZ8nldTsnruc0bkQkEiTPQPadc5TF0IweYtARPmPNiOhzuc2GDTSWL8FSeY/I258jl7theFTQJQES7qCNGHxo8viPxvN5LeEaI8JX7gxG9Cje3u4pJFiAFHrpZ1dDPHrntkgNoYLFEEoIc2hsw7vSc6qMiDo6ufhU4mZdt2mBQnjRgKduahdOiSJV3p9b9+c9PWboxz395wn593n7+/R+AJuahbWnoohTAAAAAElFTkSuQmCC')
        no-repeat 0 center;

        font-size: 12px;
        color: #868686;
        line-height: 23px;

        &:hover{
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABIklEQVR4Aa3UJVBFQRgF4Iu7S3qNdBNuveLekN57RfvgXkm4OxTcaRQ04b6ccMLOzv44M9/jyb9n/Tq2P9XruFAPm/AEiv83+b2r10shEdAO7wyQvLMuQgrywBGo72K9xzair4PkwAg9rF0oXIUayIYEcKEUlo26dn2xpTWa0DqMhwC+94cDYw1dh7ujBENa43NY18L7jdp6h9utBLlsWMzPo/zsC8dG7aajnSPTFfixcQs0QRR4QZ2l/smxfHnDxlXalLz5Pw1GpZnYRvYA+RDIgCTohAHYAyV4sq3ZElRBMMOiIBiCYB6UYNO2mxdQoU2xBlrhUgqieumczTAoCF7lAOOcCTfgDCIgmZ+/0v7V3TyB4e/fzf9/avz/8+xfnrQfTh7PTFrjtWsAAAAASUVORK5CYII=')
            no-repeat 0 center;

            color: #ffa401;
            text-decoration: none;
        }
    }
    
    &-menu-wrap{
        width: @full-size;
        background-color: @typLightGray;
    }

    &-wrap {
        width: 960px;
        margin: 0 auto;
    }

    &_t {
        background: @white;
    }
    &_b {
        background: @black;
        height: 20px;
        line-height: 20px;
    }
    //копирайт
    &_cpy {
        color: @lightgrey9;
        &_l {
            float: left;
        }
        &_r {
            float: right;
            color: @lightgrey9;
            &:hover {
                text-decoration: none;
            }
        }
        &_c {
            margin: 0 auto;
            text-align: center;
        }
        &_mbl {
            .inline-block();
            text-decoration: none;
            padding: 0 0 0 22px;
        }
    }
    // информация о компании
    &_cmpn {
        margin: 0 auto 10px;
        padding: 11px 0;
        .table();
        width: 960px;

        &_i {
            .table-cell();
            padding: 0 28px 0 10px;

            &:last-child,
            &-last {
                text-align: right;
                padding: 0 10px 0 0;
            }
        }
    }
    // правовая информация
    &_inf {
        font-size: 11px;
    	margin: 0 0 0 10px;

        &_lst {
            text-align: center;


            &_i {
                .inline-block();
                color: #515151;
                margin-right: 163px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        &_tx {
            color: #929292;
            margin: 3px 0 5px;
            .inline-block();
            vertical-align: top;
        }
    }
    // ссылки на соц сети
    &_socnet {
        float: right;
        margin: 0 10px;
        &_i {
            .inline-block();
            color: #515151;
            margin-right: 5px;
        }
    }
    // баннерки
    &_bnnr {
        float: left;
        margin: 20px 10px 15px;
        clear: both;

        &_i {
            float: left;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            .teleportator {

            }
        }
    }
    //ссылки на приложения
    &_app {
        float: right;
        margin: 20px 10px 15px;
        &_i {
            float: right;
            margin: 0 0 5px 10px;
        }
        &_img {
            display: block;
            .rounded(4px);
        }
    }

    &-discounts{
        float: left;
        margin: 0 10px;
        li{
            display: inline-block;
            margin-right: 16px;
        }
        &__link{
            display: inline-block;
            vertical-align: middle;
        }
    }

}

.i-share {
    background-image: url("@{base-url}/footer/img/sharing/sharing-sprite.png");

    &-fb {
        .sprite-temp(-28px, 0, 28px, 28px);

        &:hover{
            .sprite-temp(0, 0, 28px, 28px);
        }
    }

    &-od {
        .sprite-temp(-84px, 0, 28px, 28px);

        &:hover{
            .sprite-temp(-56px, 0, 28px, 28px);
        }
    }

    &-tw {
        .sprite-temp(-140px, 0, 28px, 28px);

        &:hover{
            .sprite-temp(-112px, 0, 28px, 28px);
        }
    }

    &-vk {
         .sprite-temp(-196px, 0, 28px, 28px);

        &:hover{
            .sprite-temp(-168px, 0, 28px, 28px);
        }
    }

    &-yt {
        .sprite-temp(-252px, 0, 28px, 28px);

        &:hover {
            .sprite-temp(-224px, 0, 28px, 28px);
        }
    }
}
.i-discount {
    background-image: url("@{base-url}/footer/img/discounts/disc-sprite.jpeg");

    &-mnogoru {
        .sprite-temp(-74px, 0, 73px, 26px);

        &:hover{
            .sprite-temp(0, 0, 73px, 26px);
        }
    }

    &-sb {
        .sprite-temp(-207px, 0, 60px, 34px);

        &:hover{
            .sprite-temp(-147px, 0, 60px, 34px);
        }
    }

    &-svyaznoy{
        .sprite-temp(-384px, 0, 116px, 22px);

        &:hover{
            .sprite-temp(-268px, 0, 116px, 22px);
        }
    }
}

.footer_cpy_mbl{
    color: #c7c7c7;
    .inline-block();
    zoom: 1;
}

iframe[name='google_conversion_frame'] {
    position: absolute;

    height: 0;
}