// подвал
@full-size: 100%;

.footer {

    &__referral{
        display: inline-block;
        height: 23px;
        margin-left: 150px;
        margin-top: 5px;
        
        padding-left: 23px;
        
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABpklEQVQ4y63UMWsVQRQF4O8tjwdWImhsrDQhiTY2acRKJNhY2IhYaSwUKyPa3B8wbcBGEHnxR1hoQOugoKAEA6mUNAoWARGNRSz2rqzPtyGKp9mdO3PPzD1z7vSMQSllFguYxwwG2MY6VjCMiHejeb0Rkv1YwpXRuRHs4BEWI2LrD7JSyhE8x5S9YwNnImLzF1me6OVfErUJ5yJiq8rAUgfRC1zDKUziOC5itbVmKvP1Uuy1Do2eRcTZPP0EtiLieyllgDeYbml4ospb6xJ7O4kGeNucKCK28aq1roeFSn39Xbif3/OYwKck72NuZO18pfbROHzGk/w/l7pcKqX0UFLDNmYqtSHb+IKHuBMRPzJ2PSJu41hucHfM5oN+6tIm7OMxnmZJJ3Er7TON2S59K3WLtPEaB9DY5j1u4nKW3oX1St1rbUziW0R8zfEF3MMHnN6FbKXCUO2TBodwI0vchwdq4x7chWgHw6adhrjamvyY+hz1u5+6sBwRC/0cLGYJTUsdVpt0bQ9EG5n/f1+N5sZkYA7LIxp2abSsfi02m+DYnvzXl/Yn5uOCHyPcITMAAAAASUVORK5CYII=') no-repeat 0 center;

        font-size: 12px;
        color: #868686;
        line-height: 23px;

        &:hover{
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABm0lEQVQ4y63UMWsUURQF4O+Ny4KV2MTGMiEbbSzcRixEJNhY2IjIKyQWgpX5EdoGbOzMFlP4Ayw0oGAhiEIEJSSQSkklWCyK6AquxdwNw7gTV/E0M+/NvWfePffcl0zBuLSEFSyjhy5G2MEGHqRsu5mXGiRHsIbrzW/N/2GA1ZQNfyMbl47jGRbMjl2cT9nePlmc6PVfEtUJ+ykbFrGx1kL0CjdwBvM4gSt4WYtZiHwpxN5q0ehpyi7E6ecwTNn3camLt1isaXiyiK61iT0Koi7eTU6UshE2a3EJK4Wq/W24H89LmMPHIO+g34hdLlQ+moZPeBzvF0OXq+NSwt3QsI5eR2XIOr7gIV6k7Efs3UzZz3HpNO60VNPthC51wg4e4UmUdAq3wz6LWGrTt1CNSB1vcBQT27zHLVyL0tuwU6hmrY55fEvZ11hfxj18wNkDyDbafPY8ZefGpcP4jEMORuWzmP5BszOhUW8GIhikbLsTi9UoYTJSx1Qm3ZqBaDfy/++tMemY2OhjPTT4k0brqttib59jauQ/3rS/AJeBdnIOcWFXAAAAAElFTkSuQmCC') no-repeat 0 center;

            color: #ffa401;
            text-decoration: none;
        }
    }
    
    &-menu-wrap{
        width: @full-size;
        background-color: @typLightGray;
    }

    &-wrap {
        width: 960px;
        margin: 0 auto;
    }

    &_t {
        background: @white;
    }
    &_b {
        background: @black;
        height: 20px;
        line-height: 20px;
    }
    //копирайт
    &_cpy {
        color: @lightgrey9;
        &_l {
            float: left;
        }
        &_r {
            float: right;
            color: @lightgrey9;
            &:hover {
                text-decoration: none;
            }в
        }
        &_c {
            margin: 0 auto;
            text-align: center;
        }
        &_mbl {
            .inline-block();
            text-decoration: none;
            padding: 0 0 0 22px;
        }
    }
    // информация о компании
    &_cmpn {
        margin: 0 auto 10px;
        padding: 11px 0;
        .table();
        width: 960px;

        &_i {
            .table-cell();
            padding: 0 28px 0 10px;

            &:last-child,
            &-last {
                text-align: right;
                padding: 0 10px 0 0;
            }
        }
    }
    // правовая информация
    &_inf {
        float: left;
        font-size: 11px;
    	margin: 0 0 0 10px;
        &_lst {
            &_i {
                .inline-block();
                color: #515151;
                margin-right: 163px;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        &_tx {
            color: #929292;
            margin: 3px 0 5px;
            .inline-block();
            vertical-align: top;
        }
    }
    // ссылки на соц сети
    &_socnet {
        float: right;
        margin: 0 10px;
        &_i {
            .inline-block();
            color: #515151;
            margin-right: 5px;
        }
    }
    // баннерки
    &_bnnr {
        float: left;
        margin: 20px 10px 15px;
        clear: both;

        &_i {
            float: left;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            .teleportator {

            }
        }
    }
    //ссылки на приложения
    &_app {
        float: right;
        margin: 20px 10px 15px;
        &_i {
            float: right;
            margin: 0 0 5px 10px;
        }
        &_img {
            display: block;
            .rounded(4px);
        }
    }

    &-discounts{
        float: left;
        margin: 0 10px;
        li{
            display: inline-block;
            margin-right: 16px;
        }
        &__link{
            display: inline-block;
            vertical-align: middle;
        }
    }

}

.i-share {
    background-image: url("@{base-url}/footer/img/sharing/sharing-sprite.png");

    &-fb {
        .sprite-temp(-28px, 0, 28px, 28px);

        &:hover{
            .sprite-temp(0, 0, 28px, 28px);
        }
    }

    &-od {
        .sprite-temp(-84px, 0, 28px, 28px);

        &:hover{
            .sprite-temp(-56px, 0, 28px, 28px);
        }
    }

    &-tw {
        .sprite-temp(-140px, 0, 28px, 28px);

        &:hover{
            .sprite-temp(-112px, 0, 28px, 28px);
        }
    }

    &-vk {
         .sprite-temp(-196px, 0, 28px, 28px);

        &:hover{
            .sprite-temp(-168px, 0, 28px, 28px);
        }
    }

    &-yt {
        .sprite-temp(-252px, 0, 28px, 28px);

        &:hover {
            .sprite-temp(-224px, 0, 28px, 28px);
        }
    }
}
.i-discount {
    background-image: url("@{base-url}/footer/img/discounts/disc-sprite.jpeg");

    &-mnogoru {
        .sprite-temp(-74px, 0, 73px, 26px);

        &:hover{
            .sprite-temp(0, 0, 73px, 26px);
        }
    }

    &-sb {
        .sprite-temp(-207px, 0, 60px, 34px);

        &:hover{
            .sprite-temp(-147px, 0, 60px, 34px);
        }
    }

    &-svyaznoy{
        .sprite-temp(-384px, 0, 116px, 22px);

        &:hover{
            .sprite-temp(-268px, 0, 116px, 22px);
        }
    }
}

.footer_cpy_mbl{
    color: #c7c7c7;
    .inline-block();
    zoom: 1;
}

iframe[name='google_conversion_frame'] {
    position: absolute;
}