.footer {
	height: 170px;
	margin: -170px auto 0px;
	position: relative;
	width: 100%;
	padding: 0;

	&__inner {
		width: 940px;
		padding: 0 10px 15px;
		margin: 0 auto;
		background: @white;
	}

	&__insert {
		width: 100%;
		background: @black;
	}

	&__copy {
		width: 940px;
		padding: 0 10px;
		height: 20px;
		line-height: 20px;
		margin: 0 auto;
		color: @white;

		&__link {
			float: right;
			color: #c7c7c7;
			text-decoration: underline;

			&:hover {
				color: #c7c7c7;
				text-decoration: none;
			}
		}
	}

	.aboutList {
		.rounded(4px);
		margin: 0 0 15px;
		padding: 0 10px 0 10px;
		height: 30px;
		background-color: @typLightGray;
		font-size: 0;

		&__item {
			display: inline-block;
			margin: 0 53px 0 0;
			font-size: 12px;
			line-height: 30px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.publicInfo {
		float: left;

		&__list {

			&__item {
				display: inline-block;
				color: #515151;
				margin-right: 35px;
			}

			&__link {
				color: #515151;
			}
		}

		&__text {
			color: #929292;
			margin: 3px 0 25px;
			display: inline-block;
			vertical-align: top;
		}
	}



	.socLink {
		float: right;
		font-size: 0;
		display: inline-block;
		margin: 5px 0 0;

		&__item {
			display: inline-block;
			color: #515151;
			background: url("@{base-url}/footer_new/img/socialicon.png") no-repeat 0 0;
			width: 26px;
			height: 26px;
			vertical-align: top;
			margin-right: 5px;

			&.mTw {
				background-position: -27px 0;
			} 

			&.mVk {
				background-position: -54px 0;
			}

			&.mYt {
				background-position: -81px 0;
			}
		}

		&__link {
			display: block;
			width: 26px;
			height: 26px;
		}
	}

	.bannersList {
		float: left;

		&__item {
			float: left;
			.opacity(0.5);
			margin-right: 20px;
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;

			&:hover {
				.opacity(1);
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.applist {
		float: right;

		&__item {
			float: right;
			margin-left: 5px;
			.opacity(0.5);
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;

			&:hover {
				.opacity(1);
			}

			&.mTitle {
				width: 75px;
				padding: 8px 0 0;
				.opacity(1);
				color: #515151;
			}
		}
	}
}