// подвал
@full-size: 100%;
.footer {
    width: 960px;
    height: 195px;
    margin: -195px auto 0;
    background: @black;
    position: relative;
    &_t {
        background: @white;
        padding-bottom: 5px;
    }
    &_b {
        background: @black;
        height: 20px;
        line-height: 20px;
    }
    //копирайт
    &_cpy {
        padding: 0 10px;
        color: @lightgrey9;
        &_l {
            float: left;
        }
        &_r {
            float: right;
            color: @lightgrey9;
            &:hover {
                text-decoration: none;
            }
        }
        &_c {
            margin: 0 auto;
            text-align: center;
        }
        &_mbl {
            .inline-block();
            text-decoration: none;
            padding: 0 0 0 22px;
        }
    }
    // информация о компании
    &_cmpn {
        margin: 0 0 10px;
        padding: 11px 0;
        .table();
        width: @full-size;
        background-color: @typLightGray;
        &_i {
            .table-cell();
            padding: 0 65px 0 10px;

            &:last-child,
            &-last {
                text-align: right;
                padding: 0 10px 0 0;
            }
        }
    }
    // правовая информация
    &_inf {
        float: left;
        font-size: 11px;
    	margin: 0 0 0 10px;
        &_lst {
            &_i {
                .inline-block();
                color: #515151;
                margin-right: 30px;
            }
        }
        &_tx {
            color: #929292;
            margin: 3px 0 25px;
            .inline-block();
            vertical-align: top;
        }
    }
    // ссылки на соц сети
    &_socnet {
        float: right;
        margin: 0 10px;
        &_i {
            .inline-block();
            color: #515151;
            margin-right: 5px;
        }
    }
    // баннерки
    &_bnnr {
        float: left;
        margin: 0 10px;
        &_i {
            float: left;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            .teleportator {
                width: 130px;
            }
        }
    }
    //ссылки на приложения
    &_app {
        float: right;
        margin: 0 10px;
        &_i {
            float: right;
            margin: 0 0 5px 10px;
        }
        &_img {
            display: block;
            .rounded(4px);
        }
    }
}

.i-share {
    background-image: url("@{base-url}/footer/img/sharing/sharing-sprite.png");

    &-fb {
        .sprite-temp(-28px, 0, 28px, 28px);
        &:hover{
            .sprite-temp(0, 0, 28px, 28px);
        }
    }

    &-od {
        .sprite-temp(-84px, 0, 28px, 28px);
        &:hover{
            .sprite-temp(-56px, 0, 28px, 28px);
        }
    }

    &-tw {
        .sprite-temp(-140px, 0, 28px, 28px);
        &:hover{
            .sprite-temp(-112px, 0, 28px, 28px);
        }
    }

    &-vk {
         .sprite-temp(-196px, 0, 28px, 28px);
        &:hover{
            .sprite-temp(-168px, 0, 28px, 28px);
        }
    }

    &-yt {
        .sprite-temp(-252px, 0, 28px, 28px);
        &:hover{
            .sprite-temp(-224px, 0, 28px, 28px);
        }
    }
}
.footer_cpy_mbl{
    color: #c7c7c7;
    .inline-block();
    zoom: 1;
}