.form-order-login {
    .clearfix();
    &__left {
        float: left;

        width: 500px;
    }
    &__label {
        &_str {
            padding-left: 10px;

            background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAfUlEQVQI12NgQAL/UxkmAbEPQoCBgel/KAMbVPLo/zSGdDA7gYEDJGAPFPgApBcC8T0g3gjEB4Bitxj+OzCw/E9m8AAKrAMK/Afij/9TGEqBtDKyfZuBAqeB+AeQHYyQSGEIAgq++Z/EIAWkc4D4JRBzwRzFCDRaBa4YygYAl4k+pDkf0IQAAAAASUVORK5CYII=');
        }
    }
    &__it {
        width: 300px;

        .inline-block(middle);
    }
    &__hint {
        margin-left: 25px;

        color: @grey-bright;

        .font-face('GloberRegular');
        .inline-block(middle);
        &_check {
            margin-left: 5px;
            .custom-label {
                background-position: 0 50%;
            }
        }
    }
    &__right {
        float: right;

        padding: 40px 10px 40px 130px;

        text-align: center;

        border-left: 1px solid @orange-bright;
    }
    &__log-title {
        margin: 0 0 10px;

        color: @grey-bright;

        .font-size(16);
    }
    &__btn {
        line-height: 29px;

        height: 30px;

        .font-size(16);
    }
}

.order-bonus {
    &__item {
        margin: 5px 0 25px;

        cursor: pointer;

        color: @grey-bright;
    }
    &__img {
        margin-right: 10px;

        .inline-block(middle);
    }
    &__text {
        .font-size(14);
        .inline-block(middle);
    }
    &__text-code {
        display: block;

        .font-size(14);
    }
    &__popup {
        position: absolute;
        bottom: 0;
        left: 308px;

        width: 222px;
        padding: 10px;

        border: 1px solid @grey-light-2;
        background: @white;
        &:after {
            bottom: 10px;
            left: -6px;

            width: 0;
            height: 0;

            border-top: 6px solid transparent;
            border-right: 6px solid @white;
            border-bottom: 6px solid transparent;

            .pseudo-class();
        }
        &:before {
            bottom: 8px;
            left: -8px;

            width: 0;
            height: 0;

            border-top: 8px solid transparent;
            border-right: 8px solid @grey-light-2;
            border-bottom: 8px solid transparent;

            .pseudo-class();
        }
    }
    &__popup-desc {
        line-height: 1.5;

        margin: 0 0 10px;

        color: @grey-bright;

        .font-face('GloberRegular');
    }
    &__info {
        position: absolute;
        top: 8px;
        left: 275px;

        display: block;

        width: 19px;
        height: 19px;

        cursor: pointer;

        background: no-repeat 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAA5klEQVQoz41SQQ6CMBDsjR9445+8gW9xYNKDkegFUaIHuWk4aEIVHDcIpYCJTNJk225mZ3ZXKQvtI0CEAkZOhED7aorMQ6irnCUNGzklc+oKYeY5SckKcSqfYximRJysBqb4zN84S2LHiDB1Pho++HLuwhi2wnU1lLtwK6p2PPFtS+tKzCDIbdKVxy46SNwjJwKFqLQPN9676Chxj5KIFAozE/5gIhoHxygUTDNrxEYSXVMwP9j2TsGBzdH2xdq6dLU5Tnu/Y7ROx30ja+lZPSrZ9m06BcOYz/kUFs904YYs3rf/2/sB+Dc7oEscnqEAAAAASUVORK5CYII=);
    }
}
