.order-delivery-info {
    position: relative;

    margin: 0 0 10px;
    padding: 10px;

    border: 1px solid @orange-bright;
    background: @orange-light-4;
    &-title {
        margin: 0 0 10px;

        .clearfix();
        &__left {
            float: left;

            .font-size14(16);
        }
        &__right {
            float: right;

            cursor: pointer;

            color: @grey-bright;
        }
    }
    &_point {
        border: 1px solid @grey-light-2;
        background: @white;
    }

    &_empty {
		.order-delivery-info-time,
		.order-delivery-info-address {
			display: none;
		}
    }

    &_transparent {
    	border: none;
    	padding: 0;
        background: @white;
    }

    &-time {
    	border-top: 1px solid @grey-light-2;
    	margin: 0 -10px;
    	padding: 10px 10px 0;
        &__text {
            color: @grey-bright;
            .font-face('GloberRegular');

            .inline-block(baseline);
            &:first-child {
                padding: 0;
            }
        }
        &__img {
            padding: 0 2px;

            vertical-align: top;
        }
    }
    &-address {
        position: relative;
        margin-bottom: 10px;
        &__text {
        	padding-left: 13px;
        	&-mark {
        		color: @grey-bright;
        	}
        }
        &:after {
            position: absolute;
            top: 5px;
            left: 0;

            width: 8px;
            height: 8px;

            content: '';

            background: inherit;

            .rounded(50%);
        }
        .addrsAutocmplt {
            z-index: 99;

            overflow: hidden;

            max-height: 135px;

            border: 1px solid blue;
        }
        .ui-helper-hidden-accessible {
            display: none;
        }
        .ui-autocomplete {
            z-index: 1;

            overflow-y: scroll;

            height: 125px;
            padding: 5px;

            border: 1px solid #c7c7c7;
            background: @white;
            .ui-menu-item {
                line-height: 23px;
            }
            .ui-corner-all {
                display: block;

                padding: 0 4px;

                cursor: pointer;
                &:hover ,
                &.ui-state-focus {
                    text-decoration: none;

                    background: #fde6c6;
                }
            }
        }
        input {
            border: none;
        }
        .ui-autocomplete-input {
            line-height: 24px;

            width: 205px;
            height: 24px;
            padding: 0 0 0 5px;

            border: none;

            .inline-block();
        }
        .addrsAutocmpltLbl {
            line-height: 24px;

            margin: 0 0 0 5px;

            color: red;

            .inline-block();
        }
        &__text {
            display: block;

            background: @white;
        }
        &__field {
            width: 100%;
            min-height: 32px;
            margin: 10px 0 5px;
            padding: 5px 0 0 15px;
            .clearfix();

            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAfUlEQVQI12NgQAL/UxkmAbEPQoCBgel/KAMbVPLo/zSGdDA7gYEDJGAPFPgApBcC8T0g3gjEB4Bitxj+OzCw/E9m8AAKrAMK/Afij/9TGEqBtDKyfZuBAqeB+AeQHYyQSGEIAgq++Z/EIAWkc4D4JRBzwRzFCDRaBa4YygYAl4k+pDkf0IQAAAAASUVORK5CYII=') no-repeat 5px 5px @white;
            &-item {
                line-height: 24px;

                position: relative;

                float: left;

                height: 24px;
                margin: 0 5px 5px 0;
            }
            &-name {
                display: inline;

                padding: 3px 5px;

                color: @white;
                background: #fbae47;

                .rounded(3px 0 0 3px);
            }
            &-value {
                display: inline;

                padding: 3px 5px 3px 10px;

                background: #fde6c6;

                .rounded(0 3px 3px 0);
            }
        }
    }
    &-date {
        margin: 0 10px 10px 0;
        padding: 8px 30px 6px 10px;

        cursor: pointer;

        border: 1px solid @grey-light-2;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAi0lEQVRIDe2UAQqAIAxFW3TG9Ih2StsgYeo3hRoROJB0xN/jJVGMcbGq1SpYcmc4tGuqZYMjuem9G75GIRyEckzJ/xvedC4O2SVSmfX422RnffhWSyJrPTVptZcfF1rO7dzu1/UezOhqaRGnfkWrG8wGp75Bfntbhug0abEnIbeqrvMng2c4tGeq5QTHpa3kCpv6MAAAAABJRU5ErkJggg==) no-repeat 98% 50%;

        .inline-block();
    }

    &-warn {
        width: 459px;
        padding: 10px 0;
		color: @red-normal;
        border-left-width: 5px;
        background: @red-light-4;

        .inline-block();
        &__left {
            font-weight: bold;

            float: left;

            margin-left: 5px;
        }
        &__right {
            float: right;

            margin-right: 5px;
            a {
                text-decoration: underline;
            }
        }
    }
}

.order-payments {
    margin: 0 0 10px;
    &__title {
        .font-size14(16);
        margin: 0 0 5px;
    }
    .paymentRow {
        position: relative;

        padding: 5px 0;

        .font-face('GloberRegular');
        &:last-child {
        	padding-bottom: 0;
        }
        .custom-input_radio + .custom-label {
            background-position: 0 1px;
        }
        .orderPaymentWeb_lst-sm {
            margin-left: 5px;
        }
        .customSel {
            position: relative;

            overflow: hidden;

            width: 130px;
            height: 20px;
            margin-top: 4px;
            &-inner {
                position: absolute;
                top: 0;

                width: 170px;
                height: 100%;

                border: none;
                outline: none;
                background: none;
            }
        }
    }
}
