.orderCol {

	&_delivrLst {
		margin: 0 0 15px;
		padding: 0;
		.font-size(16);

		&_i {
			.inline-block();
			list-style-type: none;
			padding: 0 20px;

			cursor: pointer;
			border-bottom: 4px solid @grey-light-3;
			&-act {
				cursor: default;

				border-color: @orange-bright;
			}
		}
	}

    .customSel_cl {
        background: none;
        border: none;
        cursor: default;
    }

	&-v2 {

		.orderCol_delivrIn {
			position: relative;
			padding: 0;
			border: none;
			background: none;

			&-empty {
				background: #fee6c6;
				padding: 10px 10px 1px;
				.rounded(4px);
			}

			&-err {
				border-color: #ED404D;
				border-width: 2px;
                border-style: solid;
			}

			.textfield-err {
				border-color: #ED404D;
				border-width: 2px;
			}

			&-pl {
				background: @white;
				border: 1px solid #d3d3d3;
				padding: 10px 10px 1px;
				.rounded(4px);
			}
			&-warn{
				border: 1px solid red;
				border-left-width: 5px;
				.rounded(0px);
			}
		}

		.orderCol_addrs {
			margin-left: 13px;
		}

		.orderCol_tm {
			.font-size(13);
			margin-bottom: 5px;
		}

		.orderCol_date,
		.customSel {
			background-color: @white;
		}

		.orderCheck {
			text-align: left;
			margin: 0 0 10px 10px;

			&_img {
				margin-left: 10px;
				vertical-align: top;
			}
		}

        .customSel_cl {
          background: none;
          border: none;
          cursor: default;
        }
	}
}

.orderOferta {

	&_tabs {

		&_i {
			.inline-block();
			.font-size(20);
			margin-right: 15px;
			border-bottom: 1px dotted;
			cursor: pointer;

			&-cur {
				font-weight: bold;
				border: none;
			}
		}
	}

	&_tabcnt {
		display: none;

		&-cur {
			display: block;
		}
	}

	&_tl {
		.font-size(16);
		margin-top: 20px;
	}
}