@font-face {
	font-family: 'Rouble';
	src: url('/v2/css/modules/mainStyles/fonts/rouble.eot');
	src: url('/v2/css/modules/mainStyles/fonts/rouble.eot?#iefix') format('embedded-opentype'),
	url('/v2/css/modules/mainStyles/fonts/rouble.ttf') format('truetype');
}

.rubl{
	font-family: "Rouble";
    font-size: 90%;
    margin: 0 0 0 -5px;
}

@font-face {
  font-family: 'menuIconFont';
  src: url('/v2/css/modules/mainStyles/fonts/iconFont/entericon-regular-webfont.eot');
  src: local('menuIconFont'),
    url('/v2/css/modules/mainStyles/fonts/iconFont/entericon-regular-webfont.woff') format('woff'),
    url('/v2/css/modules/mainStyles/fonts/iconFont/entericon-regular-webfont.ttf') format('truetype'),
    url('/v2/css/modules/mainStyles/fonts/iconFont/entericon-regular-webfont.svg#menuIconFont') format('svg');
}