.rating {
    &-state {
        .inline-block(middle);
        &__item {
            &:before {
                font-size: 1em;

                content: '\e802';

                color: @orange-bright;
            }
            &_fill {
                &:before {
                    content: '\e801';
                }
            }
        }
    }
    &-count {
        margin: 0 0 0 8px;

        color: @grey-type;

        .inline-block(middle);
    }
    &_bigger {
        .rating-state__item {
            &:before {
                .font-size(17);
            }
        }
    }
}