.header {
    position: relative;
    &__side {
        width: 90px;
        min-width: 90px;
        height: 90px;

        text-align: center;
        vertical-align: middle;
    }
    &__center {
        width: 100%;

        vertical-align: middle;
    }
    &__logotype {
        background: @orange-bright;
    }
    &-cart {
        vertical-align: top;

        background: @orange-light-3;
        &__icon {
            position: relative;

            margin: 15px 0 9px;
        }
        &__text {
            display: block;
        }
        &__count {
            position: absolute;
            top: -8px;
            right: -16px;
        }
    }
    &__line {
        padding-left: 20px;

        .clearfix();
        &--top {
            line-height: 1;

            height: 30px;
            padding-top: 8px;
            padding-right: 20px;
        }
        &--bottom {
            height: 60px;
            padding-top: 13px;

            background: @orange-light-4;
        }
    }
}
.disc-count {
    font-size: 1.1666em;
    font-weight: normal;
    font-style: normal;
    line-height: 27px;

    width: 27px;
    height: 27px;

    text-align: center;

    color: @white;
    background: @orange-bright;

    .rounded(50%);
}

.logotype {
    display: block;

    width: 58px;
    height: 39px;

    background: url('@{base-url}/logo.png') no-repeat 0 0;

    .inline-block();
}

.location {
    margin: 0 37px 0 0;

    .inline-block();
}

.header-shop-info {
    .inline-block();
    &__item {
        margin: 0 17px 0 0;

        .inline-block();
    }
}

.search-bar {
    position: relative;

    .inline-block();
    &__icon {
        position: absolute;
        top: 9px;
        left: 11px;
    }
    &__btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    &__it {
        width: 500px;
        padding-left: 40px;
    }
}

.search-suggest {
    position: absolute;
    z-index: 100;
    top: 34px;
    left: 0;

    width: 410px;

    border: 1px solid @grey-light-2;
    background: @white;
    &-list {
        &_categories {
            .search-suggest-list__item {
                padding: 4px 0;
            }
        }
        &__title {
            position: relative;

            margin: 0;

            text-align: center;
            &:after {
                position: absolute;
                z-index: 0;
                top: 11px;
                right: 0;
                left: 0;

                height: 1px;

                content: '';

                background: @orange-bright;
            }
            &-text {
                position: relative;
                z-index: 1;

                padding: 5px 10px 2px;

                background: @white;

                .inline-block();
            }
        }
        &__link {
            display: block;
        }
        &__item {
            margin: 5px 10px;
        }
        &__img {
            line-height: 40px;

            width: 40px;
            height: 40px;
            margin-right: 10px;

            vertical-align: middle;

            .inline-block(middle);
            .image {
                max-width: 100%;
                max-height: 40px;
            }
        }
        &__text {
            width: 330px;

            .inline-block(middle);
        }
        &__count {
            font-weight: 300;

            color: @grey-bright;
        }
    }
}

.phone {
    float: right;
    &-order {
        .inline-block();
        &__icon {
            margin: -2px 0 0 0;
        }
        &__text {
            .inline-block();
        }
    }
    &__text {
        font-size: 1.1666em;

        margin: 0 8px 0 0;

        .inline-block();
    }
}

.user-controls {
    float: right;
    &__item {
        width: 120px;
        margin: 5px 0;

        .inline-block(middle);
        &_compare {
            &.active {
                .i-controls {
                    .i-sprite(-105px, 0px, 25px, 25px);
                }
            }
        }
        &_user {
            &.active {
                .i-controls {
                    .i-sprite(-131px, 0px, 25px, 25px);
                }
            }
        }
    }
    &__icon {
        width: 25px;
        margin: 0 2px 0 0;

        .inline-block(middle);
    }
    &__text {
        overflow: hidden;

        width: 85px;

        white-space: nowrap;
        text-overflow: ellipsis;

        .inline-block(middle);
    }
}

.notice-show {
    height: 100%;
    &:hover {
        .notice-dd {
            display: block;
        }
    }
}

.notice-dd {
    position: absolute;
    z-index: 2;
    top: 90px;
    right: 0;

    display: none;

    width: 320px;
    padding-top: 3px;

    border: 1px solid @grey-light-2;
    border-top: none;
    background: @white;
    &:after {
        position: absolute;
        top: 0;
        right: -1px;
        left: -1px;

        height: 3px;

        content: '';

        background: @orange-bright;
    }
    &:before {
        position: absolute;
        top: -6px;

        height: 0;

        content: '';
        content: '';

        border-right: 14px solid transparent;
        border-bottom: 6px solid @orange-bright;
        border-left: 12px solid transparent;
    }
    &_cart {
        &:before {
            right: 30px;
        }
    }
    &_compare {
        width: 333px;
        padding: 15px 20px;
        &:before {
            left: 0;
        }
    }
    &__inn {
        position: relative;
        &:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;

            height: 20px;

            content: '';

            .white__bottom-transparent__top();
        }
    }
    &__height {
        overflow: auto;

        max-height: 230px;
        padding-bottom: 10px;
    }
}

.notice-compare {
    &__title {
        font-size: 1.3333em;
        margin: 0 0 15px;
    }
    &__img {
        .inline-block(middle);
        width: 40px;
        text-align: center;
        margin-right: 10px;
        .image {
            max-width: 100%;
            max-height: 40px;
        }
    }
    &__desc {
        .inline-block(middle);
        width: 235px;
    }
}

.notice-cart {
    display: table;
    &__row {
        display: table-row;
    }
    &__cell {
        display: table-cell;

        padding: 5px;

        text-align: left;
        vertical-align: middle;
    }
    &__img {
        width: 40px;
        height: 40px;
        padding-left: 10px;

        text-align: center;
        .image {
            max-width: 100%;
            max-height: 40px;
        }
    }
    &__name {
        padding-left: 10px;
    }
    &__desc {
        padding-right: 20px;

        text-align: right;
        white-space: nowrap;
    }
    &__price {
        font-size: 1.1666em;

        margin: 0 0 3px;
    }
    &__quan {
        font-weight: 300;

        margin-right: 3px;

        color: @grey-bright;

        .inline-block(middle);
    }
    &__del {
        .inline-block(middle);
    }
    &__on-cart {
        line-height: 35px;

        height: 35px;
    }
    &__icon {
        font-size: 1.4166em; // 17

        color: @grey-light-2;
    }
}

.i-controls {
    background: url('@{base-url}/header/i-controls.png') no-repeat 0 0;
    &--cart {
        .i-sprite(0px, 0px, 45px, 45px);
    }
    &--compare {
        .i-sprite(-78px, 0, 25px, 25px);
    }
    &--phone {
        .i-sprite(-72px, -29px, 17px, 17px);
    }
    &--search {
        .i-sprite(-49px, -27px, 19px, 19px);
    }
    &--user {
        .i-sprite(-50px, 0px, 25px, 25px);
    }
}
