.header {
    position: relative;
    z-index: 101;

    border-bottom: 3px solid @orange-bright;
    background: @orange-light-4;
    .wrapper {
        position: relative;
    }
    &_fix {
        position: fixed;
        top: 0;
        left: 0;
        .drop-shadow(0, 0, 20px, .6);

        width: 100%;
    }
    &__side {
        width: 90px;
        min-width: 90px;
        height: 90px;

        text-align: center;
        vertical-align: middle;
    }
    &__center {
        width: 100%;

        vertical-align: middle;
    }
    .fltrSet_tggl {
        float: left;

        margin: 12px 0 0;
        padding-bottom: 0;
    }
    &-cart {
        vertical-align: top;

        background: @orange-light-3;
        &__icon {
            position: relative;

            margin: 15px 0 9px;
        }
        &__text {
            display: block;
        }
        &__count {
            position: absolute;
            top: -8px;
            right: -16px;
        }
    }
    &__line {
        padding-left: 20px;

        .clearfix();
        &_top {
            line-height: 1;

            height: 30px;
            padding-top: 8px;
            padding-right: 20px;
        }
        &_bottom {
            height: 60px;
            padding-top: 13px;
        }
    }
}
.disc-count {
    font-size: 1.1666em;
    line-height: 27px;

    width: 27px;
    height: 27px;

    text-align: center;

    color: @white;
    background: @orange-bright;

    .rounded(50%);
}

.logotype {
    display: block;

    width: 90px;
    height: 90px;

    background: url('@{base-url}/itlogo.png') no-repeat 0 0;

    .inline-block();
}

.location {
    margin: 0 37px 0 0;

    .inline-block();
}

.header-shop-info {
    .inline-block();
    &__item {
        margin: 0 17px 0 0;

        .inline-block();
    }
}

.search-bar {
    position: relative;

    .inline-block();
    &__icon {
        position: absolute;
        top: 9px;
        left: 11px;
    }
    &__btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    &__it {
        width: 500px;
        padding-left: 40px;
    }
}

.phone {
    float: right;
    &-order {
        .inline-block();
        &__icon {
            margin: -2px 0 0 0;
        }
        &__text {
            .inline-block();
        }
    }
    &__text {
        font-family: 'GloberBold';
        font-size: 1.1666em;

        margin: 0 8px 0 0;

        .inline-block();
    }
}

// параплашка карточки товара
.header-buy {
    float: left;
    &__cell {
        .inline-block(middle);
    }
    &__product {
        &-img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            text-align: center;
            .image {
                max-width: 40px;
                max-height: 40px;
            }
        }
        &-name {
            width: 300px;
            white-space: nowrap;
            font-size: 1.1666em;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__price {
        margin: 0 20px;
        line-height: 1;
    }
}