.header {
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 1024px;

    border-bottom: 3px solid @orange-bright;
    background: @white;
    .wrapper {
        position: relative;
    }
    &_fix {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;

        .drop-shadow(0, 0, 20px, .6);
        .bread-crumbs {
            margin: 0;
        }
    }
    &__side {
        position: relative;

        width: 95px;
        min-width: 95px;
        height: 85px;
        padding: 0 10px;

        text-align: center;
        vertical-align: middle;
    }
    &__center {
        width: 100%;

        vertical-align: middle;
    }
    .fltrSet_tggl {
        float: left;

        margin: 12px 0 0;
        padding-bottom: 0;
    }
    &__line {
        .clearfix();
        &_top {
            line-height: 1;

            height: 30px;
            padding-top: 13px;
        }
        &_bottom {
            height: 55px;
            padding-top: 10px;
        }
        &-left {
            width: 165px;
            margin-right: 20px;

            .inline-block(middle);
        }
    }
}

.nav-section {
    position: relative;
    &__btn {
        line-height: 37px;

        width: 165px;
        height: 35px;
        padding: 0;

        text-align: center;

        .font-size(16);
        //.transition(height, .1s, ease);
        &:before {
            width: 15px;
            height: 10px;
            margin: 13px 5px 0 0;

            content: '';

            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAQAAADBEsxyAAAAFklEQVQY02P8/58BD2BioCFgHLJ2AwBV7wYEisvDswAAAABJRU5ErkJggg==');

            .inline-block();
        }
    }
    &:hover,
    &.show {
        .site-menu {
            // min-height: 100%;
            // max-height: 500px;
            // overflow: visible;
            display: block;
        }
        .nav-section__btn {
            height: 45px;
        }
    }
}

.header-cart {
    height: 100%;

    vertical-align: top;
    &__icon {
        position: relative;

        margin: 5px 0 2px;
    }
    &__text {
        display: block;

        .font-size(14);
    }
    &__count {
        position: absolute;
        top: 12px;
        right: 0;
        left: 0;
    }
    &__link {
        display: block;
    }
    &:not(.header-cart_full) {
        .disc-count {
            display: none;
        }
        .notice-show {
            &:hover {
                .notice-dd {
                    display: none;
                }
            }
        }
    }
    &_full {
        .i-controls--cart {
            .i-sprite(-157px, 0px, 46px, 56px);
        }
    }
}

.disc-count {
    font-style: normal;
    line-height: 29px;

    text-align: center;

    color: @white;

    .font-size(22);
}

.logotype {
    position: absolute;
    top: 27px;
    right: 0;
    left: 0;

    display: block;

    width: 75px;
    height: 90px;
    margin: auto;

    background: url('@{base-url}/logo.png') no-repeat 0 0;

    .inline-block();
}

.location {
    overflow: hidden;

    max-width: 160px;
    margin: 0 37px 0 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    .inline-block();
}

.header-shop-info {
    .inline-block();
    &__item {
        margin: 0 17px 0 0;

        .font-face('GloberRegular');
        .inline-block();
    }
}

.search-bar {
    position: relative;

    .inline-block();
    &__icon {
        position: absolute;
        top: 9px;
        left: 11px;
    }
    &__btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    &__it {
        width: 380px;
        padding-left: 40px;
    }
    &__icon-clear {
        position: absolute;
        top: 6px;
        left: 495px;

        cursor: pointer;

        color: @grey-light;
        background: @white;

        .font-size(18);
    }
}

.phone {
    float: right;
    &-order {
        .inline-block();
        &:before {
            margin: -3px 3px 0 0;

            content: '';

            background: url('@{base-url}/header/i-controls.png') no-repeat 0 0;

            .i-sprite(-72px, -29px, 17px, 17px);
            .inline-block();
        }
    }
    &__text {
        margin: 0 8px 0 0;

        .font-face('GloberBold');
        .font-size(14);
        .inline-block();
    }
}

// параплашка карточки товара
.header-buy {
    float: left;
    &__cell {
        .inline-block(middle);
    }
    &__product {
        &-img {
            width: 40px;
            height: 40px;
            margin-right: 10px;

            text-align: center;
            .image {
                max-width: 40px;
                max-height: 40px;
            }
        }
        &-name {
            overflow: hidden;

            width: 300px;

            white-space: nowrap;
            text-overflow: ellipsis;

            .font-size(14);
        }
    }
    &__price {
        line-height: 1;

        margin: 0 20px;
    }
}

// @media (max-width: 1024px) {
//     .header {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//     }
// }
