.notice-show {
    &:hover {
        .notice-dd {
            display: block;
        }
    }
}

.notice-dd {
    position: absolute;
    z-index: 2;
    top: 85px;
    right: 0;

    display: none;

    width: 320px;
    padding-top: 3px;

    border: 1px solid @grey-light-2;
    border-top: none;
    background: @white;
    &.show {
        display: block;
    }
    &:after {
        position: absolute;
        top: 0;
        right: -1px;
        left: -1px;

        height: 3px;

        content: '';

        background: @orange-bright;
    }
    &:before {
        position: absolute;
        top: -6px;

        height: 0;

        content: '';
        content: '';

        border-right: 14px solid transparent;
        border-bottom: 6px solid @orange-bright;
        border-left: 12px solid transparent;
    }
    &_cart {
        &:before {
            right: 30px;
        }
        .loader-box {
            position: absolute;
            top: 3px;

            height: 100%;
        }
    }
    &_compare {
        width: 339px;
        padding: 15px 20px;
        &:before {
            left: 123px;
        }
    }
    &_user {
        top: 40px;
        left: 0;

        width: 163px;
    }
    &__inn {
        position: relative;
        &:before {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;

            height: 20px;

            content: '';

            .white__bottom-transparent__top();
        }
        &.loader {
            min-height: 75px;
        }
    }
    &__height {
        overflow: auto;

        max-height: 230px;
        padding-bottom: 10px;
    }
}
