.notice-cart {
    display: table;
    &__row {
        display: table-row;
    }
    &__cell {
        display: table-cell;

        padding: 5px;

        text-align: left;
        vertical-align: middle;
    }
    &__img {
        width: 40px;
        height: 40px;
        padding-left: 10px;

        text-align: center;
        .image {
            max-width: 100%;
            max-height: 40px;
        }
    }
    &__name {
        width: 210px;
        padding-left: 10px;
        &-inn {
            display: block;
            overflow: hidden;

            max-height: 30px;
        }
    }
    &__desc {
        padding-right: 10px;

        text-align: right;
        white-space: nowrap;
    }
    &__price {
        .font-size(14);
    }
    &__quan {
        margin-right: 3px;

        color: @grey-bright;

        .inline-block(middle);
    }
    &__del {
        .inline-block(middle);
    }
    &__on-cart {
        line-height: 35px;

        height: 35px;

        border-top: 1px solid @grey-light-4;
    }
    &__icon {
        color: @grey-light-2;

        .font-size(17); // 17
    }
}
