.popup-left-container {
    width: 419px;
    float: left;
}
.common-wrap{

}
.selShop.pickup {
    width: 900px;
    .rounded(0px);
    height: auto;
    max-height: none;
    padding:15px 10px;

    .selShop_l {
        width: 419px;
        display: inline-block;
        position: relative;

        &:not(.nobefore):after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 40px;
            width: 405px;
            .gradient(rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
        }
        &:not(.nobefore):before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            height: 27px;
            width: 405px;
            .gradient(#fff, rgba(255, 255, 255, 0), #fff);
            z-index: 1;
        }
    }
    .selShop_r {
        width: 480px;
        height: 453px;
    }
    .pickup__title,
    .deliv__title {
        margin: 0 0 10px 10px;
        font-size: 18px;
    }
}
.pickup-nomatch {
    margin-top: 10px;
    color: #616161;
    .inline-block();
}
.pickup-list {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    max-height: 350px;
    padding: 12px 12px 0 0;
    text-align: left;

    .selShop_l &:after {
        content: '';
        height: 20px;
        width: 100%;
        display: block;
    }
    .pickup-item {
        // padding: 12px 3px 5px;
        border-bottom: 1px solid @lightgrey-2;
        cursor: pointer;
        margin: 0 6px 0 3px;
        width: 415px;

        .selShop_l &:hover {
            background: rgba(249,155,28,0.1);
        }
        .selShop_l &:hover .pickup-item__metro-inn{
            background: #fff5e8;
        }
        &:hover .pickup-item__buy{
            display: block;
        }
        &:hover .pickup-item__info:not(.pickup-item__info--nobtn) .pickup-item__date,
        &:hover .pickup-item__info:not(.pickup-item__info--nobtn) .pickup-item__price{
            display: none;
        }

        .selShop_l &:last-child {
            border-bottom: none;
            & td{
                margin-bottom: 25px;
            }
        }
        &__name {
            font-size: 10px;
            color: #616161;
            display: block;
        }
        &__addr {
            position: relative;
            width: 100%;
            min-width: 0;

            // float: left;
            margin: 0 0 5px 5px;
            // width: 204px;
            padding: 12px 3px 5px 20px;

            &-name {
                color: #616161;
                clear: both;
            }
        }
        &__logo {
            text-align: center;
            width: 70px;
            position: relative;
            padding: 12px 3px 5px;
            // float: left;
        }
        &__img {
            max-width: 100%;
        }
        &__metro {
            position: relative;
            .inline-block();
            width: 175px;

            &:after {
                .rounded(50%);
                position: absolute;
                top: 7px;
                left: -14px;
                width: 7px;
                height: 7px;
                content: '';
                background: inherit;
            }
            &-inn {
                background: @white;
            }
        }
        &__date {
            .inline-block();
            width: 80px;
            text-align: center;
            font-size: 12px;
            background: rgba(249,155,28,0.25);
            .rounded(3px);
            line-height: 1;
            padding: 2px 5px;
            margin: 10px 0 0;
            color: #424242;
        }
        &__time {
            color: #616161;
            clear: both;
            font-size: 12px;
        }
        &__price {
            color: #616161;
            clear: both;
            text-align: center;
            font-size: 12px;
            margin-top: 2px;
        }
        &__info {
            // float: right;
            padding: 12px 3px 5px 0px;

            white-space: nowrap;
            position: relative;
            &--ondisplay {
                padding-top: 8px;
            }
        }
        &__buy {
            display: none;
            float: right;
            margin: 0 2px 0;
        }
        &__ondisplay{
            &-lbl {
                color: #616161;
                font-size: 14px;
                vertical-align: middle;
            }
            &-icon {
                vertical-align: middle;
            }
            &-popup{
                position: absolute;
                top: 55px;
                right: -5px;
                width: 348px;
                height: 46px;
                padding: 10px;
                color: #616161;
                font-size: 14px;

                &:after {
                    right: 10px;

                    .pseudo-class();
                    .pseudo-corner-top(6px, #fff, -6px);
                }
                &:before {
                    right: 8px;

                    .pseudo-class();
                    .pseudo-corner-top(8px, #c7c7c7, -8px);
                }
            }
        }
    }
}

.pickup-ctrls {
    padding-left: 5px;
    margin-right:10px;
    border-bottom: 1px solid #d3d3d3;

    .pickup-sel {
        padding: 0 5px;
        margin-right: 0px;
        line-height: 24px;
        color: #515151;
        padding: 0 10px 0 0;

        &:not(.opn) .fltrBtnBox_tggl {
            margin: 2px 0;

            &.picked {
                border: 2px solid orange;
                outline: none;
                .rounded(2px);
                margin: 0px;
                padding: 6px 9px 3px;

                .fltrBtnBox_tggl_tx {
                    border-bottom-color: transparent;
                }
            }
        }
        &.fltrBtnBox.opn {

            .fltrBtnBox_tggl_tx {
                margin-top: 2px;
            }
            .picked .fltrBtnBox_tggl_tx {
                margin-top: 1px;
            }
            .fltrBtnBox_tggl {
                border-bottom: none;
            }
        }
    }
    .pickup-search {
        height: 35px;
        border: 1px solid #c7c7c7;
        padding-left: 40px;
        width: 355px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 8px;
            width: 23px;
            height: 35px;
            background: url(/styles/mainpage/img/i-header.png) no-repeat -186px 5px;
        }
        &-input {
            height: 33px;
            line-height: 33px;
            border: none;
            outline: none;
            width: 350px;
        }
        &__input-wrap{
        	position: relative;
        	width: 350px;
        	height: 33px;
        }
        &__clear{
        	cursor: pointer;
        	position: absolute;
        	right: 5px;
        	top: 50%;
        	margin-top: -9px;
        	width: 18px;
        	height: 18px;
        	line-height: 18px;
        	background: #7a7a7a;
        	color: @white;
        	font-size: 14px;
        	text-align: center;
        	cursor: pointer;
        	.rounded(9px);
        }
        .pickup-suggest {
            width: 100%;
            height: 155px;
            position: absolute;
            top: 35px;
            left: -1px;
            border: 1px solid #c7c7c7;
            background: @white;
            overflow: hidden;
            z-index: 1;

            &:after {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0px;
                height: 23px;
                width: 96%;
                .gradient(rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
            }
            &__list {
                padding: 5px 10px 0px;
                height: 155px;
                overflow-x: scroll;
            }
            &__i {
                padding: 2px 0px 2px 5px;
                font-size: 14px;
                color: #686868;
                cursor: pointer;

                &:hover {
                    background: rgba(249, 155, 28, 0.15);
                }
                &:last-child{
                    margin-bottom: 23px;
                }
            }
        }
    }
    .fltrBtn_kit-box {
        padding-left: 0px;
        border: none;
    }
    .fltrBtnBox_tggl_tx {
        color: #686868;
    }
    .fltrBtnBox_tggl {
        padding-top: 6px;
        height: 16px;
    }
    .fltrBtnBox.opn {
        .fltrBtnBox_dd {
            top: 26px;
        }
    }
    .customLabel {
        font-size: 12px;
    }
}
.deliv{
    &-info{

        &__date {
            .inline-block-middle();
            width: 80px;
            text-align: center;
            font-size: 14px;
            background: rgba(249,155,28,0.25);
            .rounded(3px);
            line-height: 1;
            padding: 2px 5px;
            color: #424242;
        }
        &__price{
            font-size: 14px;
            .inline-block-middle();

        }
        &__buy{
            .inline-block-middle();
            margin-left: 40px;
        }
        &-more-link{
            .inline-block-middle();
            margin-left: 70px;
            color: #8c8c8c;
            border-bottom: 1px solid #8c8c8c;
            font-size: 14px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.ymaps-2-1-23-balloon__content{
    width: 388px;
    padding: 10px;
    margin:0px;
    text-align: center;
    .btn-type{
        display: inline-block!important;
    }
}
.ymaps-2-1-23-balloon__content ymaps{
    height: auto!important;
    width: 100%!important;
    .pickup-list{
        padding-top: 0px;
    }
    .pickup-item{
        border: none;
        & td{
            padding-bottom: 5px;
        }
    }
}
.ymaps-2-1-23-balloon__close-button{
    display: none;
}
