.orderOneClick {

  &_t {
    font-size: 30px;
    margin: 0 0 30px;
  }

  &_hd {
    margin: 20px 0 38px;

    &_l {
      .inline-block-middle();
      max-width: 100%;
      max-height: 100%;
    }

    &_r {
      .inline-block-middle();
      margin: 0 0 0 15px;
      font-size: 20px;
      width: 318px;
      overflow: hidden;
      word-wrap: break-word;
    }
    &_wr{
      .inline-block-middle();
      width: 120px;
      height: 120px;
      text-align: center;
      &:after{
        content:"";
        height: 100%;
        width: 0;
        .inline-block-middle();
      }
    }

    &_n {
      line-height: 1.2;
      margin: 0 0 15px;
    }
  }

  &_dlvr {
    display: none;
  }

  &_cmpl {
    &_t {
      font-size: 30px;
      margin-bottom: 15px;
      margin-top:0;
    }

    .orderCompl_btn {
      .inline-block();
      height: 40px;
      line-height: 40px;

      &:hover {
        text-decoration: none;
      }
    }
  }
  &_recall{
    font-size: 14px;
  }

  .orderOneClick_cmpl.orderU_fldsbottom {
    padding-top: 0px;
    font-size: 20px;
    text-align: left;
  }

  .orderU {
    &_flds {
      display: block;
      margin: 0;
    }
    &_lgnd {
      font-size: 20px;
      margin: 0 0 15px;

      &-tggl {
        color: #808080;
        border-bottom: 1px dotted #808080;
        cursor: pointer;
        .inline-block();
        font-size: 16px;

        &-cur {
          color: @black;
          border-bottom: none;
        }
      }
      &_tgglnote {
        color: #808080;
        border-bottom: 1px dotted #808080;
        cursor: pointer;
        display: none;
        font-size: 16px;
        margin-left: 10px;
        &-cur {
          .inline-block();
        }
      }
    }
    &_lbl {
      font-size: 14px;
    }
    &_fldsbottom {
      margin: 0;
      padding: 8px 0 0;

      text-align: center;
    }
  }

  .orderCol {
    &-r {
      float: none;
      width: 450px;

      background: #f6f6f6;

    }
    &_delivrLst {
      width: 471px;
      border-bottom: 1px solid #e6e6e6;
      background: #FFFFFF;
    }
    &_lk {
      vertical-align: middle;
    }

    &_delivrIn {
      background: none;
      border: medium none;
      padding: 10px 10px 1px;
      position: relative;

      &-pl {
        background: #fff;
        .rounded(4px);
        padding: 10px 10px 1px;
        border: 1px solid #d3d3d3;
      }
      &.date{
        padding-top: 0;

      }
    }

    &_n {
      font-size: 16px;
      width: 480px;
      vertical-align: middle;
    }

    &_f {
      border-width: 1px 0;
      background: none;
      margin: 0 0 40px;
    }

    &_data {
      color: #000;
      padding-right: 10px;
      margin-top: 10px;
    }

    &_cnt {
      border-top: medium none;
      padding: 10px 0 15px;
    }

    &_addrs {
      margin: 0 0 10px 10px;
      .ui-autocomplete{
        height: 100px;
      }
    }

    &_tm {
      margin: 0 0 10px;
    }

    .customSel {
      vertical-align: middle;

      background-color: #fff;
      .rounded(4px);
    }

    .customSel_cl {
      background: none;
    }

    &_date {
      background-color: #fff;
    }

    &_summt {
      float: right;
      font-size: 16px;
      margin: 0 0 10px;
      width: 109px;
    }
    &-single{
      border-top: 1px solid #e6e6e6;
    }

    &__term{
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  .orderRow {
    border-top: medium none;
  }

  .orderCol_delivrLst_i {
    border-bottom:none;
    padding: 10px 10px 10px 0;
    width: auto;
    margin-bottom: -1px;

    &:first-child {
      border-top: 1px solid #e6e6e6;
      padding-bottom: 9px;
      &.orderCol_delivrLst_i-act {
        padding-bottom: 10px;
      }
    }

    &:last-child {
      &.orderCol_delivrLst_i-act {
        border-right: 1px solid #e6e6e6;
      }
    }
  }

  .orderCol_delivrLst_i-act {
    background: #f6f6f6;
    border-top: 1px solid #e6e6e6;
    cursor: default;
    font-weight: bold;
  }

  &__order-link{
    text-decoration: none;
    border-bottom: 1px solid;
    &:hover{
      text-decoration: none;
    }
  }

  .payment-methods{

    &__i{

      box-sizing: border-box;

      label{
        font-size: 12px;
      }
    }

    &__lst{
      box-sizing: border-box;

      &_discount-online{
        border: none;
      }
    }

    &__discount{
      box-sizing: border-box;
    }
  }

  .orderPayment{

    &_msg{
      font-size: 0;
    }
  }
}


.orderOneClick-new {

  &__fin-sum {
    margin-top: 20px;

    text-align: center;
    font-size: 14px;
  }

  &__fin-sum-num {
    font-size: 18px;
  }

  &__t {
    font-size: 20px;
    margin: 0 0 20px;
  }

  &__hd {
    margin: 20px 0 0;

    &_r {
      .inline-block-middle();
      font-size: 14px;
      width: 220px;
    }

    &_wr {
      width: 80px;
      height: 80px;
    }

    &_pr {
      font-size: 18px;
    }

    &_pr-old {
      height: 20px;
      display: block;

      font-size: 14px;
      color: #868686;
      text-decoration: line-through;
    }

    &_pr-new {
      display: block;
    }
  }

  .orderU {

    &_flds {

      &--delivery {
        margin-top: 10px;
      }
    }
    &_lgnd {
      font-size: 20px;
      margin: 0 0 15px;

      &-tggl {
        color: #363636;

        &_discount {
          border-bottom: 1px dotted #363636;
          font-size: 14px;
        }
      }
    }
  }

  .orderCol {

    width: 100%;

    &-r {
      width: 347px;

      background: none;
    }
    &_delivrLst {
      width: 100%;
      margin-left: 0;

      border-bottom: 4px solid #e8e8e8;

      &_i{
        margin-bottom: -4px;

        &:first-child{
          border-top: none;
        }

        &:last-child{

          &.orderCol_delivrLst_i-act{
            border-right: none;
          }
        }
      }
    }

    &_delivrIn {
      padding: 0;

      &-pl {
        .rounded(0);
        background: #fff;
        padding: 10px 10px 1px;
        border: 1px solid #d3d3d3;
      }
      &.date {

        .orderCol_date {
          margin-right: 10px;
        }
      }
    }
  }

  .orderCol_delivrLst_i {
    border: none;
    border-bottom: 4px solid #e8e8e8;

    &.orderCol_delivrLst_i-act {
      border-bottom: 4px solid @orange-2;
      background: #fff;

      cursor: default;
      font-weight: bold;
    }
  }

  .order-discount__current {
    position: relative;
    z-index: 5;

    border: none;
    padding: 15px 0;
  }

  .orderCnt {
    padding-bottom: 0;
  }

  .order-discount__tl {
    display: block;
    margin: 10px 0 0;

    text-align: center;
    font-size: 16px;

    &_min {
      font-size: 12px;
    }
  }

  .order-discount {
    width: 100%;

    border-top: 4px solid #e8e8e8;
  }

  .order-discount__pin {
    display: block;
    width: 50%;
    margin-top: 10px;
    margin-left: 0;

    text-align: right;
  }

  .order-discount__pin-label {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 10px;

    font-size: 12px;
  }

  .order-discount__pin-input {
    width: 70px;
    line-height: 23px;
    height: 25px;
  }

  .order-region {
    margin-left: 0;
  }

  .customSel {
    height: auto;

    padding: 7px 25px 7px 5px;

    .rounded(0);

    &_def {
      line-height: normal;
    }
  }

  .order-discount {
    .order-ctrl {
      width: 50%;
    }
  }

  .orderRow{
    margin-bottom: 10px;
  }

  .order-delivery__block {
    margin: 0;

    padding: 10px 0;
    border: none;

    &.deliv-addr{
      padding: 0 0 15px 0;
    }
  }
}