.orderOneClick {

  &_t {
    font-size: 20px;
    margin: 0 0 20px;
  }

  &_hd {
    margin: 20px 0 0;

    &_l {
      .inline-block-middle();
      max-width: 100%;
      max-height: 100%;
    }

    &_r {
      .inline-block-middle();
      margin: 0 0 0 15px;
      font-size: 14px;
      width: 260px;
      overflow: hidden;
      word-wrap: break-word;
    }
    &_wr {
      .inline-block-middle();
      width: 80px;
      height: 80px;
      text-align: center;
      &:after {
        content: "";
        height: 100%;
        width: 0;
        .inline-block-middle();
      }
    }

    &_n {
      line-height: 1.2;
      margin: 0 0 15px;
    }

    &_pr {
      font-size: 14px;
    }
  }

  &_dlvr {
    display: none;
  }

  &_cmpl {
    &_t {
      font-size: 30px;
      margin-bottom: 15px;
      margin-top: 0;
    }

    .orderCompl_btn {
      .inline-block();
      height: 40px;
      line-height: 40px;

      &:hover {
        text-decoration: none;
      }
    }
  }
  &_recall {
    font-size: 14px;
  }

  .orderOneClick_cmpl.orderU_fldsbottom {
    padding-top: 0px;
    font-size: 20px;
    text-align: left;
  }

  .orderU {
    &_flds {
      display: block;
      margin: 0;
    }
    &_lgnd {
      font-size: 20px;
      margin: 0 0 15px;

      &-tggl {
        color: #808080;
        border-bottom: 1px dotted #808080;
        cursor: pointer;
        .inline-block();
        font-size: 16px;

        &-cur {
          color: @black;
          border-bottom: none;
        }
      }
      &_tgglnote {
        color: #808080;
        border-bottom: 1px dotted #808080;
        cursor: pointer;
        display: none;
        font-size: 16px;
        margin-left: 10px;
        &-cur {
          .inline-block();
        }
      }
    }
    &_lbl {
      font-size: 14px;
    }
    &_fldsbottom {
      margin: 0;
      padding: 8px 0 0;

      text-align: center;
    }
  }

  .orderCol {

    &__inner {
      padding: 10px;
      border: 1px solid #e6e6e6;
      border-top: 0;
    }

    .orderCol_addrs_fld_i{
      width: 100%;
    }

    &-r {
      float: none;
      width: 347px;
    }
    &_delivrLst {
      background: #fff;
      width: 368px;
      border-bottom: 1px solid #e6e6e6;

      &-full{
        width: 100%;
        margin: 0;
      }
    }
    &_lk {
      vertical-align: middle;
    }

    &_delivrIn {
      background: none;
      border: medium none;
      padding: 10px 10px 1px;
      position: relative;

      &-pl {
        background: #fff;
        .rounded(4px);
        padding: 10px 10px 1px;
        border: 1px solid #d3d3d3;
      }
      &.date {
        padding-top: 0;

        .orderCol_date {
          margin-right: 10px;
        }
      }
    }

    &_n {
      font-size: 16px;
      width: 480px;
      vertical-align: middle;
    }

    &_f {
      border-width: 1px 0;
      background: none;
      margin: 0 0 40px;
    }

    &_data {
      color: #000;
      padding-right: 10px;
      margin-top: 10px;
    }

    &_cnt {
      border-top: medium none;
      padding: 10px 0 15px;
    }

    &_addrs {
      margin: 0 0 10px 10px;

      .ui-autocomplete {
        height: 100px;
      }

      .ui-menu-item {
        width: 309px;

        border: none;
      }
    }

    &_tm {
      margin: 0 0 10px;
    }

    .customSel {
      vertical-align: middle;

      background-color: #fff;
    }

    .customSel_cl {
      background: none;
    }

    &_date {
      background-color: #fff;
    }

    &_summt {
      float: right;
      font-size: 16px;
      margin: 0 0 10px;
      width: 109px;
    }
    &-single {
      border-top: 1px solid #e6e6e6;
      .orderCol_delivrIn {

      }
    }

    &__term {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    &_full{
      width: 100%;

      .box-sizing();
      padding: 0;
      border: none;
    }
  }

  .orderRow {
    border-top: medium none;
  }

  .orderCol_delivrLst_i {
    border-bottom: none;
    padding: 10px 10px 10px 0;
    width: auto;
    margin-bottom: -1px;

    &:first-child {
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      padding-bottom: 9px;
      &.orderCol_delivrLst_i-act {
        padding-bottom: 10px;
      }
    }

    &:last-child {
      &.orderCol_delivrLst_i-act {
        border-right: 1px solid #e6e6e6;
      }
    }
  }

  .orderCol_delivrLst_i-act {
    background: #f6f6f6;
    border-top: 1px solid #e6e6e6;
    cursor: default;
    font-weight: bold;
  }

  &__order-link {
    text-decoration: none;
    border-bottom: 1px solid;
    &:hover {
      text-decoration: none;
    }
  }
}