.orderOneClick {

	&_t {
		font-size: 30px;
		margin: 0 0 30px;
	}

	&_hd {
		margin: 0 0 20px;

		&_l {
			.inline-block();
			vertical-align: middle;
		}

		&_r {
			.inline-block();
			vertical-align: middle;
			margin: 0 0 0 15px;
			font-size: 20px;
			max-width: 400px;
		}

		&_n {
			line-height: 1.2;
			margin: 0 0 15px;
		}
	}

	&_dlvr {
		display: none;
	}

	&_cmpl {
		&_t {
			font-size: 25px;
			margin-bottom: 15px;
		}

		.orderCompl_btn {
		    .inline-block();
		    height: 40px;
		    line-height: 40px;

		    &:hover {
		    	text-decoration: none;
		    }
		}
	}

	.orderOneClick_cmpl.orderU_fldsbottom {
		padding-top: 10px;
		font-size: 20px;
	}

	.orderU {
		&_flds {
			display: block;
			margin: 0;
		}
		&_lgnd {
			font-size: 20px;
			margin: 0 0 15px;

			&-tggl {
				color: #808080;
				border-bottom: 1px dotted #808080;
				cursor: pointer;
				.inline-block();
				font-size: 16px;

				&-cur {
					color: @black;
					border-bottom: none;
				}
			}
			&_tgglnote {
				color: #808080;
				border-bottom: 1px dotted #808080;
				cursor: pointer;
				display: none;
				font-size: 16px;
				margin-left: 10px;
				&-cur {
					.inline-block();
				}
			}
		}
		&_lbl {
			font-size: 14px;
		}
		&_fldsbottom {
		    margin: 0 0 -20px -25px;
		    padding: 25px 10px;
		    width: 665px;
		}
	}

	.orderCol {
		&-r {
			float: none;
		    width: 614px;
		}
		&_delivrLst {
		    background: #fff;
		    width: 635px;
		    border-bottom: 1px solid #e6e6e6;
		}
		&_lk {
		    vertical-align: middle;
		}

		&_delivrIn {
		    background: none;
		    border: medium none;
		    padding: 10px 10px 1px;
		    position: relative;

		    &-pl {
		    	background: #fff;
		    	.rounded(4px);
		    	padding: 10px 10px 1px;
		    	border: 1px solid #d3d3d3;
		    }
		}

		&_n {
		    font-size: 16px;
		    width: 480px;
		    vertical-align: middle;
		}

		&_f {
			border-width: 1px 0;
			background: none;
			margin: 0 0 40px;
		}

		&_data {
    		color: #000;
    		padding-right: 10px;
    		margin-top: 10px;
    	}

		&_cnt {
		    border-top: medium none;
		    padding: 10px 0 15px;
		}

		&_addrs {
		    margin: 0 0 10px 10px;
		}

		&_tm {
		    margin: 0 0 10px;
		}

		.customSel {
			background-color: #fff;
		}

        .customSel_cl {
            background: none;
        }

		&_date {
			background-color: #fff;
		}

		&_summt {
		    float: right;
		    font-size: 16px;
		    margin: 0 0 10px;
		    width: 109px;
		}
	}

	.orderRow {
	    border-top: medium none;
	}

	.orderCol_delivrLst_i {
	    border-bottom:none;
	    padding: 10px 10px 10px 0;
	    width: auto;
	    margin-bottom: -1px;

	    &:first-child {
	    	border-top: 1px solid #e6e6e6;
	    	padding-bottom: 9px;
	    	&.orderCol_delivrLst_i-act {
	    		padding-bottom: 10px;
	    	}
	    }

	    &:last-child {
	    	&.orderCol_delivrLst_i-act {
	    		border-right: 1px solid #e6e6e6;
	    	}
	    }
	}

	.orderCol_delivrLst_i-act {
	    background: #f6f6f6;
	    border-top: 1px solid #e6e6e6;
	    cursor: default;
	    font-weight: bold;
	}
}