.orderCol {
	
	&_delivrLst {
		width: 465px;
		margin: 0 0 10px -10px;

		font-size: 16px;

		&_i {
			padding: 10px 0;
			float: left;
			list-style-type: none;
			width: 231px;
			text-indent: 10px;
			.box-sizing();

			cursor: pointer;

			border-bottom: 2px solid @typLightGray;
			border-right: 1px solid @typLightGray;
			background: @white;
			&-act {
				cursor: default;

				border-bottom: none;
				background: @lightgreyBg;

				font-weight: bold;
			}

			&:last-child {
				border-right: none;
			}
		}

        &_i_span_inactive {
            border-bottom: 1px dotted @typGray;
            padding-bottom: 3px;
        }

	}
}