/*---------Оформление заказа 3.0 -> строка перехода к следующему шагу .orderCompl ----------*/

/*
    orderCompl
        orderCompl_l
        orderCompl_btn
*/

.orderCompl {
	width: 940px;
	margin: 0 0 0 -10px;
	padding: 10px;
	clear: both;

	background: #FEEED5;

	&_l {
//		float: left;

		width: 685px;
		margin: 0;

		font-size: 14px;

		&-ln {
		    margin: 2px 0 0;
			padding: 8px 0 0 15px;
			display: inline-block;
			vertical-align: top;
		}
	}

	&_btn {
		min-width: 220px;
		height: 40px;
        margin: 0 0 0 15px;

		font-size: 20px;
		font-weight: bold;
		line-height: 32px;
	}

    &_continue_link {
        font-size: 18px;
        text-decoration: underline;
        padding: 10px 0;
        display: block;
    }

    &_final {
		text-align: center;
		background: #fff;
    }

    &-v2 {
    	.orderCompl_btn {
			margin: 0;
			font-weight: normal;
    	}
    	.orderCompl_l {
			width: auto;
			margin: 0px 0 10px;
			background-color: #fff;
			.rounded(4px);
			padding: 3px 10px 3px 20px;
			border: 2px solid #fff;
			background-position: 6px 7px;

			&.accept-err {
				border-color: #ED404D;
			}

			&_lk {
				.inline-block();
				color: #777777;
				border-bottom: 1px solid #c2c2c2;
				margin: 0 0 0 10px;
			}
		}
    }
}

.orderComplSumm {
	width: 925px;
	margin: 40px 0 0 -10px;
	padding: 10px 10px 10px 25px;

	border-top: 1px solid @typGray;
	border-bottom: 1px solid @lightgrey-7;
	background: @lightgreyBg;
}
/*===========================================================================
 Оформление заказа: оплата
============================================================================*/
.orderPayment{
	margin-top:50px;
	&_block{
		width: 380px;
		padding: 20px 25px 20px;
		margin:0 auto 10px;
		border:1px solid #ccc;
		margin-top:45px;
	}
	&_head{
		font-size: 30px;
		text-align: center;
	}
	&_num, &_num:hover{
		text-decoration: none;
		border-bottom: 1px solid @lightgreyBr;
	}
	&_msg{
		&_head{
			font-size: 20px;
		}
		&_shop{
			/*
			padding-left:20px;
			line-height: 18px;
			margin-top: 10px;
			background-repeat: no-repeat;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAfklEQVQYGYWQwQ2AIBRD/WUmwhS6i0cdQI/uolMAMwFSIgkxGnr5tDwCVFJKA+W9H2OMc/aaXkQ8gENrfRVP0Fq75bkweCsf2I0xqzjnxhDC+QZar5SawOva8GtNBvVNX0DNyKCa3gR/14OeBnD0QNYE9sQK/mDuFYY9Ur3Cb25DQ2sv9bp2AAAAAElFTkSuQmCC);
			background-position: 0px 4px;*/
			&_metro, &_addr{
				display: block;
			}
		}
		&_addr_link{
			margin-top: 5px;
			text-decoration: underline;
			.inline-block();
		}
		&_info{
			margin-top:14px;
			&_status{
				line-height: 25px;
			}
		}
		&_adding{
				margin-top:20px;
		}
	}
	&.orderPaymentCr &_block,
	&.orderPaymentWeb &_block{
		border:1px solid @firmOrange;
	}
	&.orderPaymentCr &_msg_info{
		border-top:1px solid @lightgreyBr;
		padding: 15px 20px 0px;
	}
	.markerList_row:hover{
		background:none;
	}
	&_btn{
		font-size: 16px;
		line-height: 1;
		padding: 6px 20px 7px;
		border-color: #f99b1c;
		display: inline-block;
		vertical-align: top;
		&-toggle{
			display: none;
			float:right;
			margin: -3px 0px;
		}
		&.btn3-shadow{
			.box-shadow(0px 2px 0px 0px #bf6e35);
			margin:2px 0px;
		}
	}
	&_pay{
		margin-top: 20px;
	}
	.pr-dsc{
		background: @firmOrange;
		border-radius: 4px;
		color: @white;
		font-size: 14px;
		padding: 0px 4px;
		margin-left: 6px;
	}
	.orderSum{
		&-lbl{
			.inline-block();
			width:200px;
			margin-right: 14px;
		}
	}
}
.orderPaymentCr{
	&_list{
		margin:10px 0;
		li{
			padding:13px 20px;
			&:hover{
				background: #feebd2;
				 & .orderPayment_btn-toggle{
				 	display: block;
				 }
				 & .orderPaymentCr_list_bank-logo{
				 	display: none;
				 }
			}
		}
		&_bank{
			text-decoration: underline;
			display: block;
			&-logo{
				float:right;
				width:125px;
				height:42px;
			}
		}

	}
	&_other_link{
			text-decoration: underline;
			color: @lightgrey-5;
	}
	.pb-small{
				font-size: 12px;
				line-height: 1em;
				display: block;
				color: @lightgrey-5;
			}
}
.orderPaymentWeb{
	&_list{
		margin: 15px 0px;
		li{
			padding:10px 20px;
			overflow: hidden;
			height: 24px;
			line-height: 24px;
			&:hover{
				background: #feebd2;
				 & .orderPayment_btn-toggle{
				 	display: block;
				 }
				 & .orderPaymentWeb_list_sys-logo{
				 	display: none;
				 }
			}
		}
		&_sys{
			text-decoration: underline;
			display:block;
			&-logo{
					float:right;
					width:125px;
					height:24px;
					text-align: center;
					line-height: 24px;
					img{
						max-height:100%;
						max-width: 100%;
					}
					&.noFlnoWdt{
						width:auto;
						float:none;
						.inline-block();
					}
				}
		}
		&-sm{
			.inline-block();

			margin-left: 25px;
				li{
					.inline-block();
					line-height: 30px;
					margin-right: 2px;
				}
			}

	}
}
.orderPaid{
	padding-bottom:70px;
	position: relative;
	&:before{
		content:"";
		background: url('@{base-url}/order/img/paid-stamp.png') no-repeat;
		width: 176px;
		height: 118px;
		position: absolute;
		bottom:0px;
		left:50%;
		z-index: 1;
	}
}
.orderDelivery{
	.orderPayment_msg_shop.markerList_row{
		border:none;
	}
	.orderPayment_msg_info{
		margin-top: 0px;
	}
}

