.orderCol {

	&_cnt {
		padding: 10px 0;

		border-top: 1px solid @typLightGray;
	}

	&_lk {
		.inline-block();
		width: 40px;
		margin: 0 10px;
	}

	&_img {
		display: block;

		width: 40px;
	}

	&_n {
		.inline-block();
		width: 395px;

		font-size: 14px;
	}

	&_data {
		.inline-block();
		float: right;

		margin-left: 20px;

		color: @colorActiveGrey;

		font-size: 16px;

		&-summ {
			width: 90px;
			padding-right: 10px;

			text-align: right;

			color: @black;
		}

		&-count {
			border-bottom: 1px dotted;
		}

		&-sale {
			color: @firmRed;
		}

		&-del {
			color: @black;
			border-bottom: 1px dotted;

			font-size: 14px;
		}
	}

	&_t {
		padding-left: 10px;

		border-top: 1px solid @typLightGray;
		background: @lightgreyBg;

		font-size: 12px;
		line-height: 20px;
	}
}