/*---------Оформление заказа 3.0 -> строка перехода к следующему шагу .orderCompl ----------*/

/*
    orderCompl
        orderCompl_l
        orderCompl_btn
*/
.orderCompl{
    clear: both;

    width: 940px;
    margin: 0 0 0 -10px;
    padding: 10px;

    background: #feeed5;
    &_l{
        font-size: 14px;

        width: 685px;
        margin: 0;
        &-ln{
            display: inline-block;

            margin: 2px 0 0;
            padding: 8px 0 0 15px;

            vertical-align: top;
        }
    }
    &_btn{
        font-size: 20px;
        font-weight: bold;
        line-height: 32px;
        min-width: 220px;
        height: 40px;
        margin: 0 0 0 15px;

        .orderOneClick &{
            font-size: 15px;
            font-weight: bold;
            line-height: 29px;
            height: 30px;
            margin: 0px;
            border: 1px solid #f09650;
            .rounded(2px);
            min-width: 0px;
        }

    }
    &_continue_link{
        font-size: 18px;

        display: block;

        padding: 10px 0;

        text-decoration: underline;
    }
    &_final{
        text-align: center;

        background: #fff;
    }
    &-v2{
        .orderCompl_btn{
            font-weight: normal;

            margin: 0;
        }
        .orderCompl_l{
            width: auto;
            margin: 0 0 10px;
            padding: 3px 10px 3px 20px;

            border: 2px solid #fff;
            background-color: #fff;
            background-position: 6px 7px;

            .rounded(4px);
            &.accept-err{
                border-color: #ed404d;
            }
            &_lk{
                margin: 0 0 0 10px;

                color: #777;
                border-bottom: 1px solid #c2c2c2;

                .inline-block();
            }
        }
    }
}

.orderComplSumm{
    width: 925px;
    margin: 40px 0 0 -10px;
    padding: 10px 10px 10px 25px;

    border-top: 1px solid @typGray;
    border-bottom: 1px solid @lightgrey-7;
    background: @lightgreyBg;
}
/*===========================================================================
 Оформление заказа: оплата
============================================================================*/
.orderPayment{
    width: 432px;
    margin: 15px auto 10px;
    &_block{
        width: 380px;
        padding: 20px 25px 20px;
        margin: 15px auto 10px;

        border: 1px solid #ccc;
        &--border{
            border-color: @firmOrange;
            .orderPaymentWeb_lst-i{
                padding:10px;
            }
            .orderPayment_msg_head{
                color: @firmOrange;

            }
            .orderPayment_msg_head-row:first-child{
                margin-top: 10px;
            }
            .orderSum-lbl{
                padding-left:24px;
            }

        }
        &_error{
            border-color: @red-1;
        }
        .orderSum-lbl{
            width: 200px;
            margin-right: 14px;

            .inline-block();
            .box-sizing();
        }
    }
    &_head{
        font-size: 30px;

        margin-top: 50px;

        text-align: center;
    }
    &_num
    ,
    &_num:hover{
        text-decoration: none;

        border-bottom: 1px solid @lightgreyBr;
    }
    &_msg{
        &_head{
            font-size: 20px;
        }
        &_shop{
            &_addr{
                margin-left:15px;
            }
            &_metro
            ,
            &_addr{
                display: block;
            }
            &_metro
            +
            &_addr{
                margin-left: 0px;
            }
            &.markerLst_row > &_addr{
                margin-top:15px;
            }
        }
        &_addr_link{
            margin-top: 5px;

            text-decoration: underline;

            .inline-block();
        }
        &_info{
            margin-top: 14px;
            &_status{
                line-height: 25px;
            }
            &.-short{
                font-size: 13px;
                vertical-align: middle;
            }
            &.info-phrase{
                padding: 0;
                margin: 10px 0;
            }
        }
        &_adding{
            width: 370px;
            overflow-x: hidden;
            margin-top: 20px;
        }
        &_link{
            text-decoration: underline;
            &--mid{
                line-height: 31px;
                text-decoration: underline;
                margin-left: 10px;
            }
        }
        &_hint{
            color: #5e5e5e;
            font-size: 14px;
            text-align: center;
            margin: 20px 0 0;
        }
    }
    &.orderPaymentCr &_block
    ,
    &.orderPaymentWeb &_block{
        border: 1px solid @firmOrange;

        .orderPayment_msg_head{
            text-align: center;
        }
    }
    &.orderPaymentCr &_msg_info{
        padding: 15px 20px 0;

        border-top: 1px solid @lightgreyBr;
    }
    .markerList_row:hover{
        background: none;
    }
    &_btn{
        font-size: 18px;
        line-height: 1;

        display: inline-block;

        padding: 6px 12px 7px;

        vertical-align: top;

        border-color: #f99b1c;
        &-toggle{
            display: none;
            float: right;
        }
        &.btn3-shadow{
            margin: 2px 0;

            .box-shadow(0px 2px 0px 0px #bf6e35);
        }
    }
    &_pay{
        margin-top: 15px;
        text-align: center;
    }
    .pr-dsc{
        font-size: 14px;

        margin-left: 6px;
        padding: 0 4px;

        color: @white;
        border-radius: 4px;
        background: @firmOrange;
    }
}
.orderPaymentCr{
    &_lst{
        margin: 10px 0;

	    &_l {
	    	.table-cell();
	    	vertical-align: middle;
	    	padding-left: 20px;
	    	line-height: 1.2;
	    }

	    &_r {
	    	.table-cell();
	    	text-align: right;
	    	vertical-align: middle;
	    	padding-right: 20px;
	    }

        &-i {
            margin: 5px 0;
			.table();
	    	width: 100%;
	    	padding: 5px 0;
	    	height: 40px;
	    	cursor: pointer;

            &:hover {

                background: #feebd2;
                text-decoration: none;

                & .orderPayment_btn-toggle {
                    .inline-block-middle();
                }

                & .orderPaymentCr_lst_bank-logo {
                    display: none;
                }
            }
	    }

        &_bank{
            display: block;

            text-decoration: underline;
            &-logo{
                float: right;

                width: 110px;
                height: auto;
            }
        }
    }
    &_other_link{
        text-decoration: underline;

        color: @lightgrey-5;
    }
    .pb-small{
        font-size: 12px;

        color: @lightgrey-5;
    }
}
.orderPaymentWeb {
    &_lst{
        margin: 15px 0 0;
        &-i{
            line-height: 24px;

            overflow: hidden;

            height: 24px;
            padding: 10px;
            &:hover{
                background: #feebd2;
                & .orderPayment_btn-toggle{
                    display: block;
                }
                & .orderPaymentWeb_lst_sys-logo{
                    display: none;
                }
            }

            .orderPayment_btn {
            	margin: -3px 0;
            }
        }
        &_sys{
            display: block;

            &:hover {
            	text-decoration: none;
            }

            &-logo{
                line-height: 24px;

                float: right;

                width: 125px;
                height: 24px;

                text-align: center;
                &-img{
                    max-width: 100%;
                    max-height: 100%;
                }
                &.noFlnoWdt{
                    float: none;

                    width: auto;

                    .inline-block();
                }
            }
        }
        &-sm{
            margin-bottom: 10px;

            &-i{
                line-height: 30px;

                margin-right: 2px;

                .inline-block();
            }
        }
    }
    .payment-methods__discount{
        width: 123px;
    }
}
.orderPaid{
    position: relative;

    padding-bottom: 70px;
    &:before{
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;

        width: 176px;
        height: 118px;

        content: '';

        background: url('@{base-url}/order/img/paid-stamp.png') no-repeat;
    }
}
.orderDelivery{
    .orderPayment_msg_shop.markerLst_row{
        border: none;
    }
    .orderPayment_msg_info{
        margin-top: 0;
    }
}
.rub-c{
    font-size: 10px;
    position: relative;
    bottom: 3px;
    padding-right: 2px;
}
.btn-discount-orange{
    margin-left:12px;
    border:1px solid @firmOrange;
    color: @firmOrange;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 13px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    &:hover{
        text-decoration: none;
    }
}
.btn-discount-red{
    border:1px solid @red-1;
    color: @red-1;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 13px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    &:hover{
        text-decoration: none;
    }
}

.order-payment__sum{
    font-size: 20px;
}
.order-payment__sum-msg{
    margin: 10px 0 20px;
    font-size: 16px;
    text-align: center;
}
.order-payment__choosed{
    text-align: center;
    margin-bottom: 10px;
    line-height: 25px;
    color: #363636;
    font-size: 14px;
}
.payment-block{
    float: left;
    width: 235px;
    padding: 25px 0 0;
    &__type{
        color: #868686;
        font-size: 14px;
        margin-bottom: 3px;
    }
    &__logo{

        img{
            margin-top: -5px;
        }
    }
}
.delivery-block{
    float: left;
    width: 235px;
    &__type{
        color: #868686;
        font-size: 14px;
        margin-bottom: 3px;
    }
}
.payments{
    &__lst{
        font-size: 0;
        text-align: center;
        margin-top: 10px;
    }
    &__i{
        .inline-block();
        margin-right: 2px;
        .opacity(0.5);
    }
}
.order-sum{
    white-space: nowrap;
    &__prev{
        color: #868686;
        font-size: 18px;
        text-align: right;
        line-height: 1.1em;
    }
    &__val{
        font-size: 28px;
        color: #363636;
        line-height: 1.1em;
        margin-bottom: 5px;
        text-align: right;
    }
    .orderPayment_btn{
        .rounded(3px);
        width: 170px;
        text-align: center;
        color: #fff;
        background-color: #f99b1c;
        height: 35px;
        line-height: 35px;
        border: 0;
        padding: 0;
    }
}
.payments-popup{
    width: 400px;
    height: 372px;
    padding: 20px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -220px;
    margin-top: -206px;
    z-index: 1010;
    .box-shadow(0 0 10px rgba(0,0,0,0.5));
    background-color: @white;

    &__closer{
        width: 11px;
        height: 11px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAnUlEQVQYGXWRsRHDIAxFJU3mBbJAOnoPYE+QNOnS+ui8QBbIZCY8znCKLqEBfT30hdC8bQ8xe6eUXvJn5ZwvchyTAWopexN+wOjkG0e+C0X16h2irr1YTMQYbsAEDnhW6zk6fcHnhVsVlyJyry2taH1ZP7CflWdAKhP7/IBdCzxypYU4pdZGAMe8o65R8LautR0n42fiq/0F5k4e7gMLVohBQiuzvgAAAABJRU5ErkJggg==');
    }
    &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        z-index: 1009;
    }
    &__pay{
        margin-top: 20px;
        text-align: center;
        .orderPayment_btn.btn3{
            width: 170px;
            text-align: center;
            color: #fff;
            background-color: #f99b1c;
            height: 35px;
            line-height: 35px;
            border: 0;
            padding: 0;
        }
    }
    .payment-methods__i{
        margin-bottom: 12px;
    }
    .orderPayment_btn{
        .inline-block();
        width: auto;
        padding-left: 12px;
        padding-right: 12px;
    }
    .orderPayment_msg_head{
        text-align: center;
    }
}