/* ==========================================================================
   Layout - default styles
   ========================================================================== */

@media only screen and (max-width: 900px) {
	/* Middle
	-----------------------------------------------------------------------------*/
	.contentBoxVar {
		width: auto;
		padding: 0;
		margin: 0 auto;
	}
}