<!-- Хлебные крохи -->
<ul class="bBreadcrumbs clearfix">
{{#links}}
    <li class="bBreadcrumbs__eItem{{#last}} mLast{{/last}}">
        <a class="bBreadcrumbs__eLink" href="{{url}}">{{name}}</a>
    </li>
{{/links}}
</ul>
<!-- /Хлебные крохи -->