<div class="popup popup_default popup_450 popup_noty noty-popup">
    <i class="closer js-notice-popup-closer">×</i>
    <p class="noty-popup__text">{{text}}</p>

    <a href="" class="noty-popup__btn js-notice-popup-closer">Понятно, закрыть окно</a>
</div>