&.mModelList{
	.bProductListItem{
		width: 352px;
		height: 740px;
		margin: 0 38px 20px 0;
		border-radius: 15px;

		&__eImgLink{
			width: 350px;
			height: 350px;
			margin-right: 0;
		}

		&__eImg{
			width: 350px;
			height: 350px;
		}
	
		&__eDesc{
			margin-left: 10px;
			width: 330px;
			height: 375px;
		}
		
		&__eTitle{
			margin: 10px 0;

			font-size: 33px;
		}
		
		&__ePriceBlock{
			font-size: 24px;
			margin: 15px 0;
		}

		&__ePrice{
			background: none;
			font-weight: bold;
			padding: 0;
		}
		
		&__eAboutBlock{
			font-size: 19px;
			list-style: inside;
			margin: 20px 0;
			line-height: 1.4em;
		}
		
		&__eAboutBlockItem{
			font-size: 19px;
		}
		
		&__eBtnBlock{
			width: 100%;
		}

		&__eBtn{
			margin-top: 15px;
			display: block;
			font-size: 21px;
			// font-weight: bold;
			width: 100%;
			text-transform: uppercase;
		}

		&__eF1Block{
			background: url('@{base-url}/productLine/img/f1logo.gif') no-repeat 20% 140%;
			color: @firmBlue;
			font-size: 19px;
			margin: 18px -24px 0 -23px;
			padding: 20px 0 10px;
			border-top: 1px solid @gray;
			text-align: center;
		}
	}
}

// f1logo.gif