.mModelList{
	.bProductListItem{
		width: 352px;
		height: 740px;
		margin: 0 38px 20px 0;

		border-radius: 15px;

		&__eImgLink{
			width: 350px;
			height: 350px;
			margin-right: 0;
		}

		&__eImg{
			width: 350px;
			height: 350px;
		}
	
		&__eDesc{
			width: 330px;
			height: 375px;
			margin-left: 10px;
		}
		
		&__eTitle{
			margin: 10px 0;

			font-size: 33px;
			font-weight: bold;
		}
		
		&__ePriceBlock{
			margin: 10px 0;

			font-size: 24px;
			color: @lightGray;
		}

		&__ePrice{
			padding: 0;

			background: none;

			font-weight: bold;
			color: @white;
		}
		
		&__eAboutBlock{
			margin: 20px 0;

			list-style: inside;

			font-size: 19px;
			line-height: 1.4em;
		}
		
		&__eAboutBlockItem{
			font-size: 19px;
		}
		
		&__eBtnBlock{
			width: 100%;
		}

		&__eBtn{
			display: block;

			width: 100%;
			margin-top: 15px;

			text-transform: uppercase;

			font-size: 21px;

			// font-weight: bold;
			&.mDisabled{
				color: lighten(@gray, 25%);
			}
		}

		&__eF1Block{
			margin: 18px -24px 0 -23px;
			padding: 20px 0 10px 30px;

			text-align: center;

			color: @firmBlue;
			border-top: 1px solid @gray;
			background: url('@{base-url}/productLine/img/f1logo.gif') no-repeat 25% 140%;

			font-size: 19px;
		}
	}
}

 .mLine .mModelList .bProductListItem{
	&__eTitle{
		// padding-top: 40px;
		// font-size: 24px;
		// font-weight: 100;
	}
	&__ePrice{

		// font-size: 33px;
	}
}