.delivery{
    &-page {
        &__info{
            width: 100%;

            .deliv-ctrls{
                width: 220px;
                margin-left: 56px;
                float: right;
                font-size: 14px;
            }
        }
    }
    &-region{
        width: 400px;
        float: left;
        margin: 10px 0 18px;

        &__msg{
            font-size: 16px;
            color: #686868;
        }
        &__current{
            font-size: 16px;
            margin-right: 12px;
            width: 192px;
            .inline-block();

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
        }
        &__change{
            &-lnk{
                &:hover{
                    text-decoration: none;
                }
            }
            &-inn{
                font-size: 16px;
                color: #686868;
                border-bottom: 1px dotted;
            }
        }
    }
    &-map{
        position: relative;
        margin-bottom: 30px;
        overflow-x: hidden;
    }
    &-logo{
        &-lst{
            padding: 10px 0 10px 6px;
            background-color: #e6e6e6;
            overflow: hidden;
            &-i{
                float: left;
                margin-right: 6px;
                width: 130px;
                padding: 4px 8px;
                border: 1px solid #afafaf;
                .box-sizing(border-box);
                position: relative;
                .rounded(3px);
                background-color: #fff;
                cursor: pointer;

                &__close{
                    display: none;
                    background-color: #f99b1c;
                    color: #fff;
                    .rounded(50%);
                    width: 12px;
                    height: 12px;
                    text-align: center;
                    line-height: 12px;
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    cursor: pointer;
                }
                &__img{

                }
                &.active{
                    border: 2px solid #f99b1c;
                    padding: 3px 9px;
                    .delivery-logo-lst-i__close{
                        display: block;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
            &.gradient{
                .delivery-logo-lst-i {
                    background-image: -webkit-linear-gradient(0deg ,#d7d7d7 0% ,#ebebeb 9% ,#ffffff 40% ,#ffffff 100%);
                    background-image: -moz-linear-gradient(0deg ,#d7d7d7 0% ,#ebebeb 9% ,#ffffff 40% ,#ffffff 100%);
                    background-image: -ms-linear-gradient(0deg ,#d7d7d7 0% ,#ebebeb 9% ,#ffffff 40% ,#ffffff 100%);
                    background-image: -o-linear-gradient(0deg ,#d7d7d7 0% ,#ebebeb 9% ,#ffffff 40% ,#ffffff 100%);
                    background: linear-gradient(0deg ,#d7d7d7 0% ,#ebebeb 9% ,#ffffff 40% ,#ffffff 100%);
                }
            }
        }
    }
    &-text{
        margin-bottom: 30px;
        color: #616161;
        h2{
            font-size: 17px;
            margin: 15px 0 0;
        }
        p{
            margin: 0;
        }
        a {
            color: #404040;
            text-decoration: underline;
        }
    }
}
.points{
    &-lst{
        width: 280px;
        padding-left: 20px;
        height: 100%;
        max-height: 100%;
        overflow-x: visible;
        overflow-y: scroll;
        position: absolute;
        top: 0px;
        right: -18px;
        z-index: 1;
        padding-top: 0;
        padding-right: 23px;

        &-i{
            padding: 10px 5px;
            background-color: #fff;
            overflow: hidden;
            margin: 20px 0;

            &.current{
                margin-left: -20px;
                margin-right: 20px;
            }
        }
    }
}