/* ==========================================================================
   Шапка сайта .header
   ========================================================================== */

.header {
	position: fixed;
    z-index: 1010;
    top: 0;
    left: 0;

    width: 100%;
    height: 35px;
	padding: 10px 0;

	color: @white;
	background: @black;
}

/* Иконка меню */
.headerLeftAside { 
	position: relative;

	float: left;
 
	width: 110px; 
	margin-left: -100%;
} 

.navIco {
	display: inline-block;
	zoom: 1;

    width: 33px;
	height: 28px;
	margin: 3px 20px 0 0;

	cursor: pointer;
	vertical-align: top;

	*display: inline;

	&_link {
		display: block;

    	width: 33px;
		height: 28px;

		cursor: pointer;

		background: url("@{base-url}/header/img/menuIco1024.png") no-repeat 0 0;
	}
}

/* Логотип */
.logo {
	display: inline-block;
	zoom: 1;

	width: 50px;

	vertical-align: top;

	*display: inline;

	&_img {
		width: 50px;
	}
}

/* Хлебные крошки */
.headerCenterWrap {
	float: left; 
	overflow: hidden;
 
	width: 100%;
}

.headerCenter { 
	overflow: hidden;

	min-height: 5px;
	padding: 0 285px 0 120px;
}

.breadCrumbs {
	width: 1000px;
	margin-left: 20px;
	padding: 0 0 0 20px;

	border-left: 2px solid @white;

	&_link {
		display: inline-block;
		zoom: 1;

		padding: 5px 0;

		vertical-align: top;
		text-transform: uppercase;

		color: @white;

		font-size: 17px;

		*display: inline;

		&:hover {
			text-decoration: none;

			color: @white;
		}
	}
}

/* Панель юзера */
.headerRightAside {
    position: relative;
    z-index: 5;

	float: left;

    width: 275px;
    margin-left: -275px;
}

.transBg {
	float: right;

	width: 20px;
	height: 30px;

	background: url("@{base-url}/header/img/breadCrumbsTrans.png") no-repeat 100% 0;
}

.userBox {
	float: right;

    background: @black;
    

	&_item {
		float: right;

		margin: 0 0 0 21px;

		&-last {
			margin: 0;
		}
	}

	&_link {
		display: block;

		padding: 23px 0 0;

		text-align: center;
		text-transform: uppercase;

		color: @white;
		outline: none;
		background: url("@{base-url}/header/img/menuIco1024.png") no-repeat 50% -37px;

		&-auth {
			background-position: 50% -80px;
		}

		&-cart {
			background-position: 50% -122px;
		}

		&-cartVal {
			position: relative;

			text-transform: none;

			font-size: 11px;
	
			.userBox_text {
				color: @firmOrange;

				font-size: 12px;
			}

			.rubl {
				font-size: 12px;
			}

			.qnt {

				.rounded(4px);
			    position: absolute;
			    top: -6px;
			    right: 0;

			    height: 15px;
			    padding: 0 6px;

				background: #f88a08;

			    font-size: 12px;
			    font-weight: bold;
			    line-height: 15px;
			}
		}

		&-authVal {
			position: relative;

			overflow: hidden;

			max-width: 50px;

			text-align: left;

			background-position: 50% -165px;

			.userBox_text {
				display: inline-block;

				width: 500px;

				color: @firmOrange;
			}
		}

		&:hover {
			text-decoration: none;

			color: @white;

			//animation: 0.3s linear 0s normal none 1 resize;
			outline: none;
		}
	}

	.transBg {
	    position: absolute;
	    right: 0;
	    bottom: 0;

	    width: 8px;
	    height: 15px;

		background-position: 0 0;
	}

	&_text {
		 font-size: 11px;
	}
}

//action
// @keyframes resize {
// 	0% {
// 	    transform: scale(1, 1);
// 	}
// 	50% {
// 	    transform: scale(1.2, 1.2);
// 	}
// 	100% {
// 	    transform: scale(1, 1);
// 	}
// }

// @-moz-keyframes resize {
// 	0% {
// 	    transform: scale(1, 1);
// 	}
// 	50% {
// 	    transform: scale(1.2, 1.2);
// 	}
// 	100% {
// 	    transform: scale(1, 1);
// 	}
// }

// @-webkit-keyframes resize {
// 	0% {
// 	    transform: scale(1, 1);
// 	}
// 	50% {
// 	    transform: scale(1.2, 1.2);
// 	}
// 	100% {
// 	    transform: scale(1, 1);
// 	}
// }