/* ==========================================================================
   Стили шапки сайта .header
   ========================================================================== */

.header {
	background: @black;
	color: @white;
	padding: 10px 0;
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1010;
    height: 35px;
}

/* Иконка меню */
.headerLeftAside {
	float: left; 
	margin-left: -100%; 
	position: relative; 
	width: 110px;
} 

.navIco {
	display: inline-block;
	vertical-align: top;
	height: 28px;
    width: 33px;
	margin: 3px 20px 0 0;
	cursor: pointer;

	*display: inline;
	zoom: 1;

	&_link {
		background: url("@{base-url}/header/img/menuIco1024.png") no-repeat 0 0;
		height: 28px;
    	width: 33px;
		display: block;
		cursor: pointer;
	}
}

/* Логотип */
.logo {
	display: inline-block;
	vertical-align: top;
	width: 50px;

	*display: inline;
	zoom: 1;

	&_img {
		width: 50px;
	}
}

/* Хлебные крошки */
.headerCenterWrap {
	float: left; 
	overflow: hidden; 
	width: 100%;
}

.headerCenter {
	padding: 0 285px 0 120px; 
	overflow: hidden;
}

.breadCrumbs {
	padding: 0 0 0 20px;
	border-left: 2px solid @white;
	margin-left: 20px;
	width: 1000px;

	&_link {
		text-transform: uppercase;
		color: @white;
		font-size: 17px;
		padding: 5px 0;
		display: inline-block;
		vertical-align: top;

		*display: inline;
		zoom: 1;

		&:hover {
			color: @white;
			text-decoration: none;
		}
	}
}

/* Панель юзера */
.headerRightAside {
	float: left;
    margin-left: -275px;
    position: relative;
    width: 275px;
    z-index: 5;
}

.transBg {
	float: right;
	background: url("@{base-url}/header/img/breadCrumbsTrans.png") no-repeat 100% 0;
	height: 30px;
	width: 20px;
}

.userBox {
	float: right;
    background: @black;
    

	&_item {
		float: right;
		margin: 0 0 0 21px;

		&__last {
			margin: 0;
		}
	}

	&_link {
		color: @white;
		background: url("@{base-url}/header/img/menuIco1024.png") no-repeat 50% -37px;
		display: block;
		text-align: center;
		padding: 23px 0 0;
		text-transform: uppercase;

		&__auth {
			background-position: 50% -80px;
		}

		&__cart {
			background-position: 50% -122px;
		}

		&:hover {
			color: @white;
			text-decoration: none;
			animation: 0.2s linear 0s normal none 1 resize
		}
	}

	&_text {
		 font-size: 11px;
	}
}

@keyframes resize {
0% {
    transform: scale(1, 1);
}
50% {
    transform: scale(1.1, 0.9);
}
100% {
    transform: scale(1, 1);
}
}

@-moz-keyframes resize {
0% {
    transform: scale(1, 1);
}
50% {
    transform: scale(1.1, 0.9);
}
100% {
    transform: scale(1, 1);
}
}

@-webkit-keyframes resize {
0% {
    transform: scale(1, 1);
}
50% {
    transform: scale(1.1, 0.9);
}
100% {
    transform: scale(1, 1);
}
}