/* ==========================================================================
   Шапка сайта .header
   ========================================================================== */

@media only screen and (max-width: 800px) {
	/* Панель юзера */
	.headerRightAside {
	    width: 160px;
	    margin-left: -160px;
	}

	.headerCenter {
		padding-right: 140px;
	}

	.transBg {
		float: left;

		width: 20px;
		height: 30px;

		background: url("@{base-url}/header/img/breadCrumbsTrans.png") no-repeat 100% 0;
	}
	
    .userBox {
		width: 140px;
		margin: 8px 0 0;

		&_item {
			margin: 2px 0 0 10px;
		}

		&_text {
			display: none;
		}

		&_link {
		    width: 34px;
			height: 24px;
		    padding: 0;

		    &-authVal {

		    	.userBox_text {
		    		display: none;
		    	}
		    }
		}
	}

	/* Хлебные крошки */
	.breadCrumbs {

		&_item {
			margin: 7px 0 0;
		}
	}

	.menuIco {
	    margin-top: 4px;
	}
}

@media only screen and (max-width: 580px) {
    /* Хлебные крошки */
	.breadCrumbs {
		padding: 0;

		border: none;
	}
}

@media only screen and (max-width: 500px) {
    /* Хлебные крошки */
	.headerCenterWrap {
		display: none;
	}

	.headerLeftAside {
    	float: left;

	    margin-left: 0;
	}

	.headerRightAside {
	    float: right;

	    width: 160px;
	    margin-left: 0;
	}
}