/**
* Стили кнопки наверх≠
*/

.upper {
    font-size: 14px;
    line-height: 1;

    position: fixed;
    z-index: 100;
    bottom: 60px;
    left: 50%;
    display: none;

    width: 60px;
    margin-top: -55px;
    margin-left: -560px;
    padding: 25px 0 10px;

    text-align: center;

    color: @black;
    border: 1px solid #e8e8e8;
    outline: none;
    background: rgba(255,255,255,.7);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAKCAYAAABWiWWfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAm0lEQVQoFaXMMQ6CQBCF4SGEhIKChsr7cgAOYG9PKbWlpcdZ/7dxDCi7gBYvk91581kIwXIxsxO5auZ62m1BHciD0Iyzy4FJjOOW3F+QMEXvNgWuYhw05EYcmU/9N2vgF0axJlMCclT7+hNcYBQqMm5ADqpXzcE3xqIkl52Qg+qXDkaMj4KcD0IO6q4Q6NjwI+TgEDGQ/k/Iwf4J2XI70aG1nIMAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: 50% 8px;

    .rounded(4px);
    .transition(all .2s ease-in-out);
    &:hover {
        text-decoration: none;

        outline: none;
        background-color: rgba(255,255,255,.9);

    }
    &:active ,
    &:focus {
        outline: none;
    }
}
