<div class="js-widget {{widgetId}} cartBar" data-template-selector="#tpl-cart-bar">
    <div class="contentBox940">
        <a class="btnStyleOrange cartBar_btn" href="{{orderUrl}}">Оформление заказа</a>

        <div class="cartBar_text">
            Итого <span class="visible">{{shownQuantity}} на сумму</span>: <span class="price">{{shownSum}} <span class="rubl">p</span></span>
        </div>
    </div>
</div>
