<div class="js-widget {{widgetId}}" data-template-selector="#tpl-product-buyButton">
    <a
        href="{{url}}"
        class="js-buyButton btnBuy {{id}} {{class}}"
        data-widget-selector=".{{widgetId}}"
        data-spinner-widget-selector=".{{spinnerWidgetId}}"
        data-url="{{&dataUrl}}"
        data-value="{{&dataValue}}"
    >{{text}}</a>
</div>