<div class="js-container">
    <a
        href="{{url}}"
        class="js-buyButton {{id}} btnBuy {{class}}"
        data-id-selector=".{{id}}"
        data-url="{{&dataUrl}}"
        data-value="{{&dataValue}}"
    >{{text}}</a>
</div>