<a
    class="js-deleteButton delete {{id}}"
    href="{{url}}"
    data-url="{{&dataUrl}}"
    data-value="{{&dataValue}}"
    data-parent-container-selector=".js-cartProduct-container"
    data-spinner-selector=".{{spinnerSelector}}"
>Удалить</a>