<div class="js-widget js-buySpinner {{widgetId}}" data-template-selector="#tpl-product-buySpinner"{{^hasBuyButton}} data-timer="600"{{/hasBuyButton}}>
    <div class="{{class}} counter{{#isDisabled}} mDisabled{{/isDisabled}}">
        <button
            {{#isDisabled}}disabled="disabled"{{/isDisabled}}
            class="js-buySpinner-dec counter__btn counter__btn-plus"
            data-widget-selector=".{{widgetId}}"
            data-button-selector=".{{buttonId}}"
        >-</button>
        <input class="js-buySpinner-value counter__input{{^hasBuyButton}} {{buttonId}}{{/hasBuyButton}}"
           {{#isDisabled}}disabled="disabled"{{/isDisabled}}
           type="text"
           value="{{value}}"
           data-widget-selector=".{{widgetId}}"
           data-button-selector=".{{buttonId}}"
           data-url="{{&dataUrl}}"
           data-value="{{&dataValue}}"
        />
        <button class="js-buySpinner-inc counter__btn counter__btn-minus"
            {{#isDisabled}}disabled="disabled"{{/isDisabled}}
            data-widget-selector=".{{widgetId}}"
            data-button-selector=".{{buttonId}}"
        >+</button>
        <span class="counter__num">шт.</span>
    </div>
</div>