<div class="counter" data-target="{{dataTarget}}">
    <button class="counter__btn counter__btn-plus">-</button>
    <input class="counter__input" type="text" id="" name="" value="1" />
    <button class="counter__btn counter__btn-minus">+</button>
    <span class="counter__num">шт.</span>
</div>