<div class="{{id}} {{class}} counter" data-target-selector=".{{targetId}}">
    <button class="js-inc counter__btn counter__btn-plus">-</button>
    <input class="js-value counter__input" type="text" id="" name="" value="1" />
    <button class="js-dec counter__btn counter__btn-minus">+</button>
    <span class="counter__num">шт.</span>
</div>