.bInputAddress {
  height: 30px;
  margin: 24px 0 0;

  line-height: 30px;

  display: inline-block;

  .bBuyingLine__eText {
    position: relative;

    text-indent: 45px;

    &.mInputShort {
      width: 120px;
      margin-right: 10px;
    }

    &.mInputStreet {
      width: 296px;
      margin-right: 10px;
    }

    &.mInputNumber {
      text-indent: 33px;
    }

    &.mInputFloor,
    &.mInputBuild {
      text-indent: 21px;

    }
  }
}

.bSClub {
  background: url("/css/skin/img/svyaznoi_club.png") 280px 0px no-repeat;
}

.bSClub__eWrap {
  width: 280px;

  vertical-align: top;

  .mInputShort {
    width: 200px;
  }
}