.mPayMethods {
  margin: 10px 0 20px;
  border-bottom: 1px solid #ddd;

  .bInputList {
    font-size: 12px;
  }

  .bTitle {
    margin: 15px 0 15px;
  }
  
  .bCustomLabel{
    font-weight: bold;
    font-size: 14px;
  }

  .bPayMethodTitle {
    margin: 0 0px 15px 40px;
  }
  
  .bPayMethod {
    margin: 0 0 20px 40px;
  }

  .mMethodLeft {
    margin-left: 0;
  }

  .bPayMethodDesc {
    margin: 5px 0 0 20px;

    font-size: 12px;
  }

  .bPayMethodAction {
    margin: 7px 0 20px 20px;

    color: #616161;
  }

  .bSelectWrap_eText {
    color: #616161;
  }
}