.errPage {
	position: relative;
	&_lg {
		background: url("@{base-url}/error/img/b404Logo.png") no-repeat 0 0;
	    height: 87px;
	    position: absolute;
	    right: 10px;
	    top: 10px;
	    width: 95px;
	}
	&_cnt {
		background: url("@{base-url}/errors/img/b404.png") no-repeat 0 0;
	    height: 305px;
	    padding: 120px 0 0 500px;
	    text-align: left;
	}
}