<div class="content">
    <div class="contentBox960">

        <h1 class="pageTitle">{{title}}</h1>
		
		<form action="" class="formReg">
			<fieldset class="formReg_field">
				<legend class="formReg_title legend">Мои логин и пароль</legend>

				<div class="formReg_fields">
					<label for="" class="formReg_fieldname labeltext">E-mail или мобильный телефон:</label>
					<input type="text" class="formReg_textfield textfield" />

					<label for="" class="formReg_fieldname labeltext fl-l">Пароль:</label>
					<a class="fl-r orangeText borderBs" href="">Забыли пароль?</a>
					<input type="text" class="formReg_textfield textfield" />

					<input type="submit" class="formReg_btn btnsubmit" value="Войти" />
				</div>
			</fieldset>

			<fieldset class="formReg_field">
				<legend class="formReg_title legend borderBd">Я новый пользователь</legend>

				<div class="formReg_fields" style="display: none;">
					<label for="" class="formReg_fieldname labeltext">Ваше имя:</label>
					<input type="text" class="formReg_textfield textfield" />

					<label for="" class="formReg_fieldname labeltext fl-l">Ваш e-mail:</label>
					<span class="fl-r lightGreyText borderBd">У меня нет e-mail</span>
					<input type="text" class="formReg_textfield textfield" />
					
					<div class="formReg_subscribe fl-l">
						<input class="customInput customInput-bigCheck" type="checkbox" id="subscribe" checked />
						<label class="customLabel" for="subscribe">Хочу знать об интересных предложениях</label>
					</div>

					<input type="submit" class="formReg_btn btnsubmit mb20" value="Регистрация" />

					<p class="clear">Нажимая кнопку «Регистрация», я подтверждаю свое согласие с <a class="borderBs" href="">Условиями продажи...</a></p>
				</div>
			</fieldset>
		</form>
    </div>
</div>

