.indexCatalog{
  a{
    display: inline-block;
    text-decoration:underline;
    width: 190px;
    &.indexCatalog{
      &__1{
        background:@black;
        color:@firmOrange;
        display:block;
        font-family:'Enter';
        font-size:32px;
        padding:5px 5px 5px 30px;
        &:hover{
          color:@firmOrange;
        }
      }
      &__2{
        font-size:16px;
        font-weight:bold;
      }
      &__3{
        
      }
      &__4{
        
      }
      &__5{
        
      }
    }
  }
  li{
    margin:5px 5px 5px 30px;
    ul{
      display: inline-block;
      margin: 10px;
      vertical-align: top;
    }
    &.indexCatalog{
      &__1{
        
      }
      &__2{
        background:@typLightGray;
        margin:5px 0;
        padding:10px
      }
      &__3{
        
      }
      &__4{
        
      }
      &__5{
        
      }
    }
  }
}
