.indexCatalog{
  position:relative;
  a{
    display: inline-block;
    //font-family:'Enter Type';
    text-decoration:underline;
    &.indexCatalog{
      &__1{
        background:@black;
        color:@firmOrange;
        display:block;
        font-family:'Enter';
        font-size:32px;
        padding:5px 5px 5px 60px;
        text-decoration:none;
        &:hover{
          color:@firmOrange;
        }
      }
      &__2{
        font-size:16px;
        font-weight:bold;
        width: 190px;
      }
      &__3{
        font-size:14px;
      }
      &__4{
        font-size:12px;
      }
      &__5{
        
      }
    }
  }
  li{
    margin:5px 5px 5px 30px;
    ul{
      display: inline-block;
      vertical-align: top;
    }
    &.indexCatalog{
      &__1{
        margin:0 0 20px;
        width:620px;
      }
      &__2{
        background:lighten(@typLightGray, 6%);
        margin:5px 0;
        padding:10px;
        width:600px;
      }
      &__3{
        ul{
          display:block;
        }
      }
      &__4{
        
      }
      &__5{
        
      }
    }
  }
  &__slideMenu{
    .box-shadow(0 0 7px @typLightGray);
    .rounded(6px);
    height: 250px;
    padding: 15px 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    h2{
      font-family:'Enter';
      font-size: 26px;
    }
    .bBuyingLine__eText{
      margin:0 0 20px 0;
      padding:0 10px;
      height:26px;
      width: 172px;
    }
    .searchbutton{
      background: url("/css/pagehead/img/searchBtn.png") no-repeat scroll 0 0 transparent;
      border: 0 none;
      cursor: pointer;
      height: 28px;
      margin-left: -7px;
      text-indent: -10000px;
      width: 39px;
    }
    li{
      font-size:14px;
      margin:0;
      line-height:1.8em;
    }
  }
}
