.bListing{
	// position: relative;
	// height: 820px;
	// overflow: hidden;
}

.bProductListWrap{
	margin: 0 -45px 0 -20px;
	// position: absolute;
	// top:0;
	// height: 4500px;

	@duration: 0.5s;

	.productListAnimation(){
		-webkit-transition-property: all;
		-webkit-transition-duration: @duration;
		-webkit-transition-timing-function: ease;
	}

	&.mSizeBig{
		.bProductListItem{
			width: 780px;
			height: 340px;
			margin: 0 20px 15px 0;

			.productListAnimation();

			&__eImgLink{
				width: 340px;
				height: 340px;

				.productListAnimation();
			}

			&__eImg{
				width: 340px;
				height: 340px;

				.productListAnimation();
			}
		
			&__eDesc{
				width: 420px;

				.productListAnimation();
			}
			
			&__eArticle{
				font-size: 18px;
				.productListAnimation();
			}
			
			&__eTitle{
				margin: 10px 0;

				font-size: 21px;

				.productListAnimation();
			}
			
			&__eFullDesc{
				margin: 10px 0;

				font-size: 18px;
				.productListAnimation();
			}
			
			&__ePrice{
				font-size: 26px;

				.productListAnimation();
			}
			
			&__eDlvrBlock{
				.productListAnimation();
			}
			
			&__eDlvrBlockItem{
				font-size: 16px;
				.productListAnimation();
			}
			
			&__eBtnBlock{
				.productListAnimation();
			}

			&__eBtn{
				.productListAnimation();
			}
		}
	}

	&.mSizeMid{
		.bProductListItem{
			width: 500px;
			height: 210px;
			margin: 0 29px 15px 0;

			.productListAnimation();

			&__eImgLink{
				width: 210px;
				height: 210px;

				.productListAnimation();
			}

			&__eImg{
				width: 210px;
				height: 210px;

				.productListAnimation();
			}
		
			&__eDesc{
				width: 260px;

				.productListAnimation();
			}
			
			&__eArticle{
				display: none;

				.productListAnimation();
			}
			
			&__eTitle{
				font-size: 21px;

				.productListAnimation();
			}
			
			&__eFullDesc{
				display: none;

				.productListAnimation();
			}
			
			&__ePrice{
				font-size: 21px;

				.productListAnimation();
			}
			
			&__eDlvrBlock{
				.productListAnimation();
			}
			
			&__eDlvrBlockItem{
				font-size: 16px;

				.productListAnimation();
			}
			
			&__eBtnBlock{
				.productListAnimation();
			}

			&__eBtn{
				width: 105px;
				height: 32px;

				font-size: 15px;
				line-height: 32px;

				.productListAnimation();
			}
		}
	}

	&.mSizeLittle{
		.bProductListItem{
			width: 370px;
			height: 143px;
			margin: 0 20px 15px 0;

			.productListAnimation();

			&__eImgLink{
				width: 143px;
				height: 143px;

				.productListAnimation();
			}

			&__eImg{
				width: 143px;
				height: 143px;

				.productListAnimation();
			}
		
			&__eDesc{
				width: 190px;

				.productListAnimation();
			}
			
			&__eArticle{
				display: none;

				.productListAnimation();
			}
			
			&__eTitle{
				font-size: 14px;
				font-weight: bold;
				
				.productListAnimation();
			}
			
			&__eFullDesc{
				display: none;

				.productListAnimation();
			}
			
			&__ePrice{
				font-size: 18px;

				.productListAnimation();
			}
			
			&__eDlvrBlock{
				.productListAnimation();
			}
			
			&__eDlvrBlockItem{
				display: none;

				font-size: 14px;

				.productListAnimation();
				&:first-child{
					display: list-item;
				}
			}
			
			&__eBtnBlock{
				.productListAnimation();
			}

			&__eBtn{
				width: 80px;
				height: 32px;
				margin-right: 10px;

				font-size: 12px;
				line-height: 32px;

				.productListAnimation();
				&.jsCompare{
					width: 100px;
					margin: 0px;

					.productListAnimation();
				}
			}
		}
	}
}

.bProductListItem{
	padding: 10px 12px 10px 12px;

	border: 1px solid @gray;
	border-radius: 6px;
	background: @black;

	&__eImgLink{
		background: url('@{base-url}/common/img/busy_indicator.gif') no-repeat center center;
		display: block;
		overflow: hidden;

		margin-right: 20px;

		border-radius: 6px;
	}

	&__eImg{
		display: none;
	}
	
	&__eDesc{
		position: relative;

		height: 100%;
	}
	
	&__eArticle{
		color: @white;
	}
	
	&__eTitle{
		color: @white;

		line-height: 1.2em;
	}
	
	&__eFullDesc{
		color: @lightGray;
	}
	
	&__ePrice{
		margin: 10px 0;
		padding: 0.3em 1em;

		color: @white;
		background: @darkGray;

		font-weight: bold;
	}
	
	&__eDlvrBlock{
		margin: 10px 0;
		margin-left: 20px;
	}
	
	&__eDlvrBlockItem{
		line-height: 1.3em;
	}
	
	&__eBtnBlock{
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__eBtn{
		margin-right: 20px;
	}
}