{{#links.0}}
    <ul class="catLst clearfix">
        {{#links}}
            <li class="catLst_i{{#active}} mActive{{/active}}">
                <a class="catLst_lk js-category-children-link" {{#css.link}} style="{{css.link}}" {{/css.link}} href="{{url}}">
                    <span class="bCategoriesName"{{#css.name}} style="{{css.name}}" {{/css.name}}>{{&name}}</span>
                </a>
            </li>
        {{/links}}
    </ul>
{{/links.0}}