{{#filters}}
    <ul class="fltr_slctd">
        <li class="fltr_slctd_i fltr_slctd_i-n">{{name}}:</li>

        {{^isGroup}}
            {{#links}}
                <li class="fltr_slctd_i">
                    <span>{{&name}}</span>
                    <a class="btn-closer2 js-category-filter-deleteLink" href="{{url}}"></a>
                </li>
            {{/links}}
        {{/isGroup}}

        {{#isGroup}}
            {{#properties}}
                <li class="fltr_slctd_i">
                    {{#name}}
                        {{name}}
                    {{/name}}

                    {{#links}}
                        <span>{{&name}}</span>
                        <a class="btn-closer2 js-category-filter-deleteLink" href="{{url}}"></a>
                    {{/links}}
                    
                    {{#defaultTitle}}
                        <span>{{defaultTitle}}</span>
                    {{/defaultTitle}}
                </li>
            {{/properties}}
        {{/isGroup}}
    </ul>
{{/filters}}

{{#selectedFilterCount}}
    <a class="fltr_clsr js-category-filter-deleteLink" href="{{cleanUrl}}">
        <span class="btn-closer3"></span>
        <span class="fltr_clr_tx">Очистить все</span>
    </a>
{{/selectedFilterCount}}