{{#filters}}
    <ul class="fltr_slctd">
        <li class="fltr_slctd_i fltr_slctd_i-n">{{name}}:</li>

        {{^isGroup}}
            {{#links}}
                <li class="fltr_slctd_i mParams">
                    <span>{{&name}}</span>
                    <a class="btn-closer2 jsHistoryLink" href="{{url}}">&#215;</a>
                </li>
            {{/links}}
        {{/isGroup}}

        {{#isGroup}}
            {{#properties}}
                <li>
                    <ul>
                        {{#name}}
                            <li>{{name}}</li>
                        {{/name}}

                        {{#links}}
                            <li>
                                <span>{{&name}}</span>
                                <a class="btn-closer2 jsHistoryLink" href="{{url}}">&#215;</a>
                            </li>
                        {{/links}}
                    </ul>
                </li>
            {{/properties}}
        {{/isGroup}}
    </ul>
{{/filters}}

<a class="fltr_clsr jsHistoryLink" href="{{baseUrl}}">
    <span class="btn-closer3">&#215;</span>
    <span class="fltr_clr_tx">Очистить все</span>
</a>