<!-- Списки выбранных параметров -->
{{#filters}}
    <ul class="fltr_slctd clearfix">
        <li class="fltr_slctd_i fltr_slctd_i-n">{{name}}:</li>

        {{#links}}
            <li class="fltr_slctd_i mParams">
                <span>{{&name}}</span>
                <a class="btn-closer2 jsHistoryLink" href="{{url}}">&#215;</a>
            </li>
        {{/links}}

        {{#last}}
            <li class="fltr_slctd_i fltr_slctd_i-clsr">
                <a class="fltr_clsr jsHistoryLink" href="{{baseUrl}}">
                    <span class="btn-closer3">&#215;</span>
                    <span class="fltr_clr_tx">Очистить все</span>
                </a>
            </li>
        {{/last}}
    </ul>
{{/filters}}
<!-- /Списки выбранных параметров -->