{{#selectedBrandsCount}}
    <span class="fltrBtn_hd_count">Выбраны {{selectedBrandsCount}} из {{brandsCount}}</span>

    <span class="fltrBtn_hd_clr js-category-v2-root-selectedBrands-clear">
    	<i class="fltrBtn_hd_clr_btn btn-closer3"></i>
    	<span class="fltrBtn_hd_clr_tx">Очистить</span>
    </span>
{{/selectedBrandsCount}}