.product-card-set {
    .clearfix();
    margin: 20px 0 0;
    &__left {
        padding: 20px 320px 5px 20px;
    }
    &__right {
        float: right;

        width: 300px;

        border-left: 1px solid @grey-light-3;
        padding: 0 0 10px;
    }
    .product-card-tools {
        margin: 0 0 10px 15px;
    }
    &__btn-app {
        display: block;
        margin-bottom: 15px;
        width: 200px;
    }
}

.product-card-set-buying {
    text-align: center;
    .font-size(14);
    margin: 0 0 10px;
    .vendor-offer {
        margin: 0 0 10px;
    }
    &__price {
        .font-size14(40);
    }
    &__old-price {
        color: @grey-type;
        .font-size14(20);
        .font-face('GloberRegular');
            line-height: 1;

    }
    &__delivery-time {
        color: @grey-type;

        .font-face('GloberRegular');
        margin: 0 0 10px;
    }
}

.product-card-set-recall {
    padding: 15px;
        margin: 0 0 15px;

        background: @grey-light-4;

    &__title {
        margin: 0 0 5px;
        .font-size(14);
    }
    &-list {
        margin-bottom: 15px;
        .font-size(14);
        &__item {
            margin-bottom: 0;

            list-style-position: inside;
            list-style-type: disc;
        }
    }
    &__payment-types {
        .font-face('GloberRegular');
        .font-size(14);
        text-align: center;
        line-height: 1.5;
    }
}

.set-specify-list {
    color: @grey-bright;
    .font-face('GloberRegular');
    margin: 0 15px 15px;

    &__name {
        .inline-block();
        margin: 0 0 8px;
        width: 120px;
    }
    &__value {
        .inline-block();
        margin: 0 0 8px;
        width: 130px;
    }
}