.best-price-popup {
    &__it {
        width: 100%;
        margin: 0 0 10px;
    }
    .customInput-defcheck + .customLabel {
        margin: 0 0 10px;

        background-position: 0 3px;
    }
    &__btn {
        margin: 0 auto;
    }
}

// название товара
.product-name {
    font-weight: normal;

    margin: 0;

    .font-size(26);
}

// ссылка на оффер староннего поставщика
.vendor-offer {
    &__lk {
        line-height: 1.25;

        color: @grey-type;

        .font-face('GloberRegular');
        .inline-block();
        &:hover {
            text-decoration: none;
        }
    }
}

.product-card-top {
    margin: 15px 0 20px;

    .clearfix();
}

// карточка товара
.product-card {
    padding: 0 30px 20px;
    &__l {
        float: left;

        width: 350px;

        text-align: center;
        .product-card-photo {
            display: table-cell;

            width: 350px;
            max-width: 350px;
            height: 350px;
            max-height: 350px;
            padding: 0 0 10px;

            text-align: center;
            vertical-align: middle;
            &__img {
                max-width: 90%;
                height: auto;
                max-height: 340px;

                .inline-block(middle);
            }
        }
    }
    &__c {
        width: 100%;
        padding-right: 245px;
        padding-left: 375px;

        text-align: center;

        .clearfix();
        &-inn {
            max-width: 400px;

            text-align: left;

            .inline-block();
        }
    }
    &__r {
        float: right;

        width: 220px;
        .ep {
            margin-bottom: 10px;

            cursor: pointer;
        }
    }
    .section {
        padding-right: 0;
        padding-left: 0;
    }
    // карточка товара в два столбца
    &--2col {
        .product-card__c {
            padding-right: 0;

            text-align: left;
        }
    }
    // карточка товара - нет в наличии
    &--not {
        .buy-online {
            margin: 0 20px 20px 0;

            .inline-block(middle);
        }
        .product-card-rating {
            margin: 0 0 20px;

            .inline-block(middle);
        }
        .product-card-tools {
            float: right;

            width: 155px;
            margin-bottom: 20px;
            &__i {
                &:last-child {
                    margin-left: 0;
                }
            }
        }
        .product-card-filter {
            margin-top: 0;
        }
        .product-card-not-left {
            padding-right: 165px;
        }
    }
    .btnBuy.mBuySet {
        width: 100%;
    }
    .product-card__c {
        .goods-slider {
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            &--4items {
                margin-bottom: 20px;
            }
            .product-section__h3 {
                margin: 5px 0 15px;
            }
            .goods-slider__inn {
                margin: 0 auto 15px;
            }
        }
    }
    &__base-set-list {
        margin: 0;
    }
    &__base-set-item {
        margin: 0;
        margin: 0 0 3px 15px;

        list-style-type: square;

        .font-size(14);
    }
}

// описание товара
.product-card-desc {
    line-height: 1.3;

    margin: 0 0 10px;

    color: @grey-bright;

    .font-size(14);
}

// фильтр моделей
.product-card-filter {
    margin: 10px 0;
    &__tl {
        margin: 5px 5px 0 0;

        .font-size(14);
        .inline-block();
    }
    &__box {
        margin-right: 15px;

        .inline-block(middle);
        .filter-btn-box__dd {
            padding: 0;
        }
    }
    &__link {
        border-bottom: 1px dotted;

        .inline-block(middle);
        &:hover {
            text-decoration: none;
        }
    }
}

// краткие характеристики
.product-card-prop {
    overflow: hidden;

    margin: 0 0 15px;

    color: @grey-bright;

    .font-face('GloberRegular');
    .clearfix();
    &__i {
        margin: 0 0 6px;
        &--name {
            float: left;
            clear: both;

            width: 135px;
            margin-right: 10px;
        }
        &--val {
            float: left;

            width: 165px;
        }
    }
    &__lk {
        float: left;
        clear: both;

        margin-top: 5px;

        color: @grey-bright;
        border-bottom: 1px dotted;

        .inline-block();
        &:hover {
            text-decoration: none;
        }
    }
}

// старая цена
.product-card-old-price {
    color: #9c9c9c;

    .font-size(18);
    &__inn {
        position: relative;
        &:after {
            position: absolute;
            top: 50%;
            left: 0;

            width: 100%;
            height: 1px;

            content: '';

            background: #8c8989;
        }
    }
}

// цена
.product-card-price {
    margin: 0 0 10px;
    &__val {
        line-height: 1.2;

        margin: 0 5px 0 0;

        .font-size(44);
    }
}

// блок акций
.product-card-action {
    line-height: 1.2;

    position: relative;

    margin: 0 0 10px;
    padding: 5px 10px;

    cursor: pointer;

    color: #ef404a;
    border: 1px dotted #ef404a;
    &-no-image {
        cursor: default;
    }
    &__tx {
        font-weight: bold;

        width: 177px;
        min-height: 29px;
    }
}

.buy-online {
    margin: 0 0 10px;
    .btn-primary {
        .font-size(24);
    }
}

.buy-on-credit {
    margin: 0 0 10px;
    &__tl {
        display: block;

        margin: 0 0 2px;

        color: #f99b1c;

        .font-size(18);
    }
    &__tx {
        color: #8c8c8c;

        .font-size(11);
    }
    &__mark {
        background: none;
    }
}

.section-border {
    & > div {
        border-top: 1px solid @grey-light-3;
    }
}

.buy-now-inshop {
    padding: 7px 10px 10px;

    cursor: pointer;

    border: 1px solid @green-light;
    &__tl {
        color: @green-light;
        border-bottom: 1px solid @green-light;

        .font-size(14);
        .inline-block();
    }
    &__line {
        margin: 3px 0 0;
    }
    &__mark {
        color: #9c9c9c;
    }
    &--text {
        .buy-now-inshop__tl {
            border: none;
        }
    }
}

.product-card-discount-switch {
    margin: 0 0 10px;
    &__i {
        .inline-block(middle);
        &--tx {
            max-width: 110px;
            margin: 0 2px 0 5px;

            color: #8c8c8c;
        }
    }
}

//блок с дисконтами
.product-discounts {
    text-align: center;

    border-bottom: 1px solid @grey-light-3;
    &-list {
        width: 700px;
        margin: 0 auto;
        padding: 20px 10px;

        white-space: nowrap;

        .font-size(0);
        &__i {
            width: 140px;
            height: 30px;
            margin: 0 0 0 140px;

            .inline-block();
            &:first-child {
                margin: 0;
            }
        }
        &__lk {
            &:hover {
                text-decoration: none;
            }
        }
    }
}
//блок с платежными системами
.pay-system-list {
    float: right;
    &__i {
        margin: 0 0 0 10px;

        .inline-block(middle);
        .opacity(.5);
    }
}
//блок с шарингами
.product-card-sharing-list {
    float: left;

    height: 22px;

    white-space: nowrap;

    .font-size(0);
    .addthis_toolbox {
        margin-top: 3px;
        .at4-icon {
            padding: 1px;

            background-color: #acacac !important;
            background-position: 50% 50%;

            .transition(all .3s ease);
            &:hover {
                &.aticon-facebook {
                    background-color: rgb(48, 88, 145) !important;
                }
                &.aticon-twitter {
                    background-color: rgb(44, 168, 210) !important;
                }
                &.aticon-vk {
                    background-color: rgb(50, 80, 120) !important;
                }
                &.aticon-compact {
                    background-color: rgb(252, 109, 76) !important;
                }
            }
        }
        .addthis_counter.addthis_bubble_style {
            margin: 1px 0 0 0;
        }
    }
}
.best-price-popup .customInput-defcheck {
    & + .customLabel {
        padding-left: 25px;

        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAmklEQVQ4EWO8evUq2+fPn7v+//8fx8DAIAjExIL3jIyMi3h5ectYgAZ0S0lJ5cnIyDAABYk1gAFoqeCTJ0/ynz17xsAE5MSSagDIJpCFIH0gHzAB+YKkuADZqVB9giBDKAajhmAG4WiYYA+T98CkiylDhAhU33smYNJdBMxIoDxAhDaEEpB6kD6Qfsbbt2+zv337thMoSHZRAAAF+0B8XgLClgAAAABJRU5ErkJggg==');
        background-position: 0 2px;
    }
    &:checked + .customLabel {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABnUlEQVQ4EZ2UMUgCURjH/++8uzRzOIkou4aKaC2QBIsaWtwDg6BobIjagqBoCaIcGgpsFKE5GlqdosWICKRBIikRIszBpNJ393rPHDw8S3twcN//vf/v+7537x1JpVJqsVg8YIwtAdD40+ooEELiHo9nQ+aAiM/nW9N1HVxsFQCeVMtms+u5XA4SDxbbBYhMIqHwiQ4kHmvtVFBfas2nCUhrgxmgmTPQ6y2wrzeLpyUIoyXQ5DaQmAN7OAVMaoHIlqhSgll6BnEPgCjunyn6AXq1CuUpBqpqkCejIK4ei81SiflyCXruh3ExBfM1WV1Ib3agZGIwTCdI8ARED1kAIrBApL5pSINhyO+3oIl53j9v4f4IBlSwQBSOoXADoAEChwsO/y6odwZq5RHsbg8y+QQbWYE8umwLaIRwhXT6IE0cosw0KF0GyloQjrHNpgBbSFXsHoccPIbpnYUSiPCN7P0VYv06dUul4QWw/hCI01un2r+KjS3wo2s7+xeg5itI/OjG+UUSd8AW1EwU64VP+Ek6ne7I5/P7XPz3r+AbH9mSP80JthkAAAAASUVORK5CYII=');
    }
    //ie8 fix
    &.mChecked {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABnUlEQVQ4EZ2UMUgCURjH/++8uzRzOIkou4aKaC2QBIsaWtwDg6BobIjagqBoCaIcGgpsFKE5GlqdosWICKRBIikRIszBpNJ393rPHDw8S3twcN//vf/v+7537x1JpVJqsVg8YIwtAdD40+ooEELiHo9nQ+aAiM/nW9N1HVxsFQCeVMtms+u5XA4SDxbbBYhMIqHwiQ4kHmvtVFBfas2nCUhrgxmgmTPQ6y2wrzeLpyUIoyXQ5DaQmAN7OAVMaoHIlqhSgll6BnEPgCjunyn6AXq1CuUpBqpqkCejIK4ei81SiflyCXruh3ExBfM1WV1Ib3agZGIwTCdI8ARED1kAIrBApL5pSINhyO+3oIl53j9v4f4IBlSwQBSOoXADoAEChwsO/y6odwZq5RHsbg8y+QQbWYE8umwLaIRwhXT6IE0cosw0KF0GyloQjrHNpgBbSFXsHoccPIbpnYUSiPCN7P0VYv06dUul4QWw/hCI01un2r+KjS3wo2s7+xeg5itI/OjG+UUSd8AW1EwU64VP+Ek6ne7I5/P7XPz3r+AbH9mSP80JthkAAAAASUVORK5CYII=');
    }
}
.jewel {
    .best-price-popup .customInput-defcheck {
        &:checked + .customLabel ,
        &.mChecked {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAAAAADVWsuDAAAAdUlEQVR4AWVQtwEFIQi1fOMwjVO4jovcBHaXpqCl/jkgXk6vBF7CKff1hp7VMWveoMyu3w/KqHd1PqLeT+p4P0w0ArWOE/3IfRqEz3wTKYhWgL/neZKAkAheNuUIEIg/2+QeAFS6dxeCP+WRJOvk2uLa9PINA4yO5jmsmDGRAAAAAElFTkSuQmCC');
        }
    }
}
.showroom-only {
    position: relative;

    width: 191px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 15px;

    text-align: left;

    border: 1px solid #80c342;
    border-left-width: 3px;
    background-color: #f2f9ec;

    .font-size(20);
    .i-product--info-normal {
        float: right;

        margin-top: 6px;

        background: url('@{base-url}/product/img/i/i-info-green.png') no-repeat;
    }
    .tooltip-content {
        position: absolute;
        z-index: 5;
        top: 40px;
        right: 0;

        width: 345px;
        padding: 10px;

        cursor: default;

        color: #616161;
        border: 1px solid @grey-light-3;
        background: @white;

        .font-size(14);
        .transition(all .2s ease-out);
        .box-shadow(0 0 15px rgba(0, 0, 0, .4));
        &:after {
            right: 8px;

            .pseudo-class();
            .pseudo-corner-top(8px, @white, -8px);
        }
    }
}

.i-info {
    position: relative;

    display: block;
    &__tx {
        .inline-block(middle);
    }
    &__icon {
        margin-left: 2px;

        cursor: pointer;

        .inline-block(top);
    }
}

.info-popup {
    position: absolute;
    z-index: 5;

    visibility: hidden;
    overflow: hidden;

    padding: 10px;

    cursor: default;

    border: 1px solid @grey-light-2;
    background: @white;

    .opacity(0);
    .transition(all, .2s, ease-out);
    &.show {
        visibility: visible;
        overflow: visible;

        .opacity(1);
    }
    &__inn {
        overflow: hidden;
        p {
            margin: 0;
        }
    }
    &--best-price {
        top: 50px;
        right: 0;

        width: 250px;
    }
    &--action {
        right: -1px;
        bottom: 42px;

        width: 100%;
        padding: 0;

        text-align: center;
        &:after {
            right: 10px;
            bottom: -8px;

            .pseudo-class();
            .pseudo-corner-bottom(8px, @white);
        }
        &:before {
            right: 8px;
            bottom: -10px;

            .pseudo-class();
            .pseudo-corner-bottom(10px, @grey-light-2);
        }
    }
}

.closer {
    font-style: normal;
    line-height: 1;

    position: absolute;
    top: 0;
    right: 10px;

    cursor: pointer;

    color: @grey-type;

    .font-size(24);
    .font-face('GloberRegular');
}

.action-hint {
    &__desc {
        padding: 10px;

        text-align: center;
    }
    &__img {
        display: block;

        max-width: 100%;
        margin: 0 auto 10px;
    }
    &__lk {
        cursor: pointer;

        border-bottom: 1px solid;
        &:hover {
            text-decoration: none;
        }
    }
}

.prop-hint {
    top: 20px;
    right: -23px;

    width: 300px;
    padding: 10px 20px 10px 10px;
    &:after {
        right: 22px;

        .pseudo-class();
        .pseudo-corner-top(6px, @white, -6px);
    }
    &:before {
        right: 20px;

        .pseudo-class();
        .pseudo-corner-top(8px, @grey-light-3, -8px);
    }
}

.filter-btn-box {
    position: relative;
    &__toggle {
        position: relative;
        z-index: 2;

        padding: 7px 15px 1px 10px;

        cursor: pointer;

        border: 1px solid transparent;
        border-bottom: none;
        background: @white;

        .rounded(3px 3px 0 0);
    }
    &__tx {
        line-height: 1;

        padding-bottom: 2px;

        border-bottom: 1px dotted @black;

        .font-size(14);
        .inline-block();
    }
    &__corner {
        width: 7px;
        height: 6px;
        margin: 5px 0 0 2px;

        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAQAAAClB0z9AAAAQElEQVQI12PI2JrxHw63MmSrZfyEcn5mqzEwMGR2QbiZXQwgUMab+RzIeV7GywABmfFAbjwDDPxnzJz0nxHEAgBw0yJxpwSMxgAAAABJRU5ErkJggg==') no-repeat 50% 50%;

        .inline-block();
    }
    &__dd {
        position: absolute;
        z-index: 1;
        top: 25px;

        display: none;

        box-sizing: border-box;
        width: auto;
        min-width: 100%;
        padding: 5px 0 0;

        white-space: nowrap;

        border: 1px solid #ccc;
        background: @white;

        .rounded(0 0 3px 3px);
        .filter-btn-box__inn {
            overflow-x: hidden;
            overflow-y: auto;

            max-height: 150px;
            padding: 0;
        }
    }
    &--open {
        .filter-btn-box__toggle {
            border-color: #ccc;
        }
        .filter-btn-box__tx {
            border-color: transparent;
        }
        .filter-btn-box__corner {
            margin-top: 3px;

            .rotation(@deg: 180deg);
        }
        .filter-btn-box__dd {
            display: block;
        }
    }
    &-lst {
        &__i {
            margin: 0;
        }
        &__lk {
            display: block;

            padding: 3px 0 3px 10px;
            &:hover ,
            &.active {
                text-decoration: none;

                background-color: rgba(247, 171, 47, .2);
            }
        }
    }
    &.filter-btn-box--bordered {
        .filter-btn-box__toggle {
            padding-bottom: 4px;

            .rounded(2px);
        }
        &.filter-btn-box--open .filter-btn-box__toggle {
            margin-bottom: 1px;

            .rounded(2px 2px 0 0);
        }
        &:not(.filter-btn-box--open) .filter-btn-box__toggle {
            border: 1px solid #ccc;
        }
        .filter-btn-box__tx {
            border: none;
        }
        .filter-btn-box__dd {
            top: 27px;
        }
    }
}
