.product-card-tools {
    margin: 0 0 10px 10px;

    &__i {
        margin: 5px 0 0;

        &--onclick {
            .product-card-tools__tx {
                margin-left: 1px;

                color: @grey-bright;
                border-color: @grey-bright;
            }
        }
    }
    &__lk {
        text-decoration: none;

        .inline-block();

        &.active {
            text-decoration: none;

            .i-tools-icon {
                &--wish {
                    background-position: -51px 0;
                }

                &--product-compare {
                    background-position: -75px 0;
                }
            }
        }

        &:hover {
            text-decoration: none;
        }
    }
    &__tx {
        color: @grey-bright;
        border-bottom: 1px dotted @grey-bright;

        .inline-block(middle);
    }
    &__icon {
        margin: 0 5px 0 0;

        .inline-block(middle);
    }
}
