.product-card-set {
    margin: 20px 0 0;

    .clearfix();
    &__left {
        padding: 20px 320px 5px 20px;
    }
    &__right {
        float: right;

        width: 300px;
        padding: 0 0 10px;

        border-left: 1px solid @grey-light-3;
    }
    .product-card-tools {
        margin: 0 0 10px 15px;
    }
    &__btn-app {
        display: block;

        width: 200px;
        margin-bottom: 15px;
    }
}

.product-card-set-buying {
    margin: 0 0 10px;

    text-align: center;

    .font-size(14);
    .vendor-offer {
        margin: 0 0 10px;
    }
    &__price {
        .font-size14(40);
    }
    &__old-price {
        line-height: 1;

        color: @grey-type;

        .font-size14(20);
        .font-face('GloberRegular');
    }
    &__delivery-time {
        margin: 0 0 10px;

        color: @grey-type;

        .font-face('GloberRegular');
    }
}

.product-card-set-recall {
    margin: 0 0 15px;
    padding: 15px;

    background: @grey-light-4;
    &__title {
        margin: 0 0 5px;

        .font-size(14);
    }
    &-list {
        margin-bottom: 15px;

        .font-size(14);
        &__item {
            margin-bottom: 0;

            list-style-position: inside;
            list-style-type: disc;
        }
    }
    &__payment-types {
        line-height: 1.5;

        text-align: center;

        .font-face('GloberRegular');
        .font-size(14);
    }
}

.set-specify-list {
    margin: 0 15px 15px;

    color: @grey-bright;

    .font-face('GloberRegular');
    &__name {
        width: 120px;
        margin: 0 0 8px;

        .inline-block();
    }
    &__value {
        width: 130px;
        margin: 0 0 8px;

        .inline-block();
    }
}
