.product-accessoires {
    display: block;
    float: left;
    overflow: auto;

    width: 270px;
    height: 254px;
    padding: 0;

    &-list {
        &-item {
            background: @grey-light-4;
            margin: 0 0 1px;
            padding: 13px 0 10px;

            cursor: pointer;
            &.mActive {
                cursor: default;
            }
            &.mActive {
                background: @white;
            }
            &:hover {
                background: @white;
            }
            &__name {
                display: block;
                font-family: 'GloberRegular';

                padding-left: 10px;
            }
        }
    }
}
