.product-section {
    margin: 0;
    border-bottom: 1px solid @grey-light-3;
    .clearfix();
    &__props {
        padding: 0 10px 10px;
        .product-section__tl {
            margin: 5px 0 15px;
        }
    }
    &__tl {
        font-size: 1.3333em;
        .font-face('GloberBold');

        margin: 5px 0 15px 0;
    }
    &__sbtl {
        .font-face('GloberBold');

        margin: 15px 0 5px;
    }
    &__desc {
        margin-top: 10px;
        padding: 5px 20px 10px;

        background-color: #f7f7f7;
        .product-section__tl {
            margin: 5px 0 15px;
        }
    }
    &__content {
        font-size: 14px;
        line-height: 24px;

        padding: 10px 0 0;
    }
    &__h3 {
        font-size: 1.3333em;
        font-weight: normal;
        .font-face('GloberBold');

        margin: 20px 0 15px;

    }
    &--border-top {
        margin-bottom: 0;
        padding: 5px 0 10px;

        border-top: 1px solid @grey-light-3;
    }
    &--reviews {
        border-bottom: none;
    }
}
