// изображения товара, варианта просмотра товара
.product-card-photo {
    position: relative;

    text-align: center;
    &__img {
        .inline-block(middle);
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__overlay {
        .font-size(38);

        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding-top: 47%;

        text-align: center;
        &:after {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: '';

            background: #fff;

            .opacity(.5);
        }
    }
    &-thumbs {
        position: relative;

        overflow: hidden;

        max-width: 250px;
        height: 40px;

        .noselect();
        .inline-block(middle);
        &-list {
            .font-size(0);

            margin: 0 0 0 12px;

            text-align: center;
            white-space: nowrap;
        }
        &__i {
            width: 38px;
            height: 38px;
            line-height: 38px;
            margin: 0 7px 0 0;

            cursor: pointer;
            text-align: center;

            border-bottom: 3px solid transparent;
            background-color: #fff;

            .inline-block(middle);
            .transition(all .1s ease-out);
            &.active,
            &:hover {
                border-color: @orange-bright;
            }
        }
        &__img {
            max-width: 95%;
            max-height: 95%;

            .inline-block(middle);
        }
        &__btn {
            position: absolute;
            top: 0;

            visibility: hidden;
            overflow: hidden;

            width: 10px;
            height: 40px;

            cursor: pointer;

            background-color: @white;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            .opacity(0);
            .transition(all .2s ease-out);
            &--l {
                left: 0;

                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAQCAYAAADagWXwAAAA0UlEQVQYGW3BoUrGYBQG4Hf8roj+RRSzDoYsyPed877HLQkWy4LVCxDBbPZWRCy2XYHNC9AgCEaLxWjW+DH2PMACA2os6bpuS+6fyvkCJTOr5f4g8gXABgqVzC6D/DnJ+QglMzsU+S2za5SaplmH9CzyEUCFwkrudyI/hmHYQ6nv+ybIX+Z8jjmSZ2H2pZSOsWAl8incJ0k7mCN5EO7v7n5rZjXmJPXh/sacr7Cg8pxvwv2V/zDXtu22yPuQpohYYy6ltBvuk7sLS07J/XEcN/8ArJswAJhcyRwAAAAASUVORK5CYII=');
            }
            &--r {
                right: 0;

                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAQCAYAAADagWXwAAAA1UlEQVR42m2QvQ4BQRSFR9AI2whRs8lGtpD5uXfsVhKNZgutBxCJWutZRDQ6T6DzABQSiVKhUqqdKcfs6SbfOffcO8JJC1EXZWKl5mzMM03TZhmvMdEFhr3WOpwwVmpoiT6s9QLPSmAAWCH9RnoQQJfA+INlPsdxHAU0z/MuDA9UbPGsBgZSagb4zbIsDrulHFmtX0Q09QFz2xpzwuijN9bdaIzZAN6R6v93LQFuSGc+gACuRqm19wnW2gi3uZ5dkiQtL4UedktIKTvB6kVRNCZEPVGiH+yGL//EYhxNAAAAAElFTkSuQmCC');
            }
            &--disabled {
                visibility: hidden;
                overflow: hidden;

                .opacity(0);
            }
        }
        &--slides {
            .product-card-photo-thumbs__btn {
                visibility: visible;
                overflow: visible;

                .opacity(.5);
                &--disabled {
                    visibility: hidden;
                    overflow: hidden;

                    .opacity(0);
                }
                &:hover {
                    .opacity(.9);
                }
            }
        }
    }
}

.product-card-media {
    position: relative;

    &__i {
        width: 60px;
        height: 18px;
        margin: 0 0 4px;

        cursor: pointer;

        background: @grey-normal;
        background-repeat: no-repeat;
        background-position: 5px 50%;

        .inline-block();
        &--video {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAALCAQAAACTtsZiAAABeElEQVR4AZ2TQ6AcURAAl7Ftn2Lbtm1dYtu2bfMe4xbb+FZsu9LzdtbeGvRTdw0NgaAHNu4y2BApnKRUQEEHyrCZP+SLVIAkbyaXX0E5iY2A9hLPMU/OlXhIH4lGoohVW03pFeYs7zlKGWkX5TxfeEBjJVB8ZDJpfAqmM4hrvNEugSR2Kw2Ml5gZWMVSoKH0jvOaEaI+JO1TPGeoykpvwEk83X0InpMMXCODEuykGe91QTGgOnU0AVb+sg4zM/hEamkvkPkWQH0D7qz0+4jGKMF2brJEF9QAiuiCAtj5R0FghMxXBHq4CuLo7ucdpOUvy5XgCW/Ipwv6817ONkE6YCclZCsmq2GazNQDmrm+g9Q+30FXKrIcqKEEMJxMmoB0nOCiyDpoa2TuJsm0ogGlpH1LttLs5zu5gn9FGg/ligWiuI2FjPxgJP1xxUIVYoGfzJR11UkAvjAo4H8QGCUwq1Y/TaBa2WREhxyYJEQOZZiFUbVKS8tvsf9xYMQeNmMFzwAAAABJRU5ErkJggg==');
        }
        &--3d {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAOCAQAAADk1dY5AAABoElEQVQoz53TPUjVcRTG8XNvaiQlRYaXoAsWlVH0IpWBveDS4K1FqyUiIqyIILKoocIIozsEIr2gXUi4UN5BInAxENKGhraWIGzoZYiGpoaGwk/DvYV/dYjO+nvO9zzP4fwiIiJCylbjcvF/JW2HkjG3daiZ9bbIYdflHVUdEaEXTPugaHlZskCbR1oNaHDJRYsTgIxfyvVCugIY0ecl3quJCO0KsrKe22yFM64kXWi3QZsptFQA+yMilHAybDQoI+OOyx5q1eiB01JzYvaiMwHYh6fhlW3WKMhJW+2WNpt0WZhoTlll0rSmBGAlXoeiUWP2VKRNBk04pCoB+Anyf52UATX4FAre+m53RbpeyYQjswA9Bn3xzZYEoB5vwpSzmg3ZJaXBDV12OpeMEBHhYNnDDEAzRsNe/ZZapyBvSE7WNQfmWWIOwwnAXXRHhA5PLNNo0nZZfYoz56tzz3k93uFCBVB00zN8VhsRqp3Qb60B9U65qjYxucVX8MN9VTMu8aPHGv6IqnQaNuK4bkvmOfU6mbmhZv+GVuOOJbf/L/Ub8zV7sYSZ8c4AAAAASUVORK5CYII=');
        }
    }
}

.product-card-photo-sticker {
    position: absolute;
    top: 0;
    left: 0;
}

.product-card-photo-sticker-brand {
    position: absolute;
    top: 0;
    right: 0;
}
