.product-section {
    margin: 0 0 30px;

    .clearfix();
    &_border {
        border-bottom: 1px solid @grey-light-3;
    }
    &__props {
        padding-left: 0;
        .product-section__tl {
            margin: 15px 0 15px;
        }
    }
    &__tl {
        font-size: 1.3333em;

        margin: 5px 0 15px 0;

        .font-face('GloberBold');
    }
    &__sbtl {
        margin: 20px 0 0;

        .font-face('GloberBold');
    }
    &__desc {
        padding: 15px 20px;

        background-color: @grey-light-4;
        .product-section__tl {
            margin: 0 0 15px;
        }
    }
    &__content {
        line-height: 24px;

        .font-size(14);
    }
    &__h3 {
        font-size: 1.3333em;
        font-weight: normal;

        margin: 20px 0 15px;

        .font-face('GloberBold');
    }
    &--border-top {
        margin-bottom: 0;
        padding: 5px 0 10px;

        border-top: 1px solid @grey-light-3;
    }
    &--reviews {
        border-bottom: none;
    }
}
