.set-section {
    .product-section {
        &__tl {
            margin: 0;
            padding-bottom: 8px;
            padding-left: 10px;

            border-bottom: 2px solid @grey-light-3;

            .font-size(18);
            .font-face('GloberSemibold');
        }
    }
    &-change {
        float: right;

        padding: 0 0 0 15px;

        cursor: pointer;

        .font-size(14);
        &:before {
            width: 10px;
            height: 11px;
            margin: -2px 5px 0 0;

            content: '';

            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAQAAADsZ9STAAAAWUlEQVR4AWOMS/qf9sOOs5WB4T8jAwOYPMPy/wHDcYa//y/9+8/AwPifCSj29z5QzoGFAQ0wxhYypL/RF52DEPp/mIXhGAMHz59/qxnB2kGG/H3MgA3QzXYAjupA47eXIeoAAAAASUVORK5CYII=) no-repeat 0 0;

            .inline-block(middle);
        }
    }
    &-main-img {
        position: relative;

        float: left;

        width: 300px;
        height: 300px;
        margin: 0 10px 0 0;

        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__footer {
        padding: 15px 0 0;

        border-top: 1px solid @grey-light-3;
    }
    &__default {
        float: left;

        width: 200px;
    }
    &__price {
        font-size: 14px;

        float: right;
    }
    &__buy {
        float: right;
        clear: both;

        width: 170px;
        margin: 15px 0 0;
    }
    &__r {
        float: right;

        width: 600px;
    }
    &__inn {
        overflow-x: hidden;
        overflow-y: auto;

        max-height: 380px;
    }
    &-package {
        &__tl {
            font-size: 16px;

            padding: 5px 0;

            border-bottom: 1px solid @grey-light-3;
        }
        &-i {
            width: 100%;
            height: 80px;
            height: 80px;


            table-layout: fixed;

            border-bottom: 1px solid #e6e6e6;

            .table();
            padding: 0 10px;
            &:last-child {
                border: none;
            }
            &.mDisabled {
                a ,
                div {
                    .opacity(.6);
                }
                .bCountSection {
                    .opacity(1);
                }
                .packageSetBodyItem_price {
                    text-decoration: line-through;
                }
            }
            .rown {
                padding: 10px 5px;

                .table-cell();
            }
            &__img {
                display: table-cell;

                width: 110px;
                max-width: 110px;
                height: 110px;
                max-height: 110px;
                padding: 10px;

                text-align: center;
                vertical-align: middle;
                img {
                    display: block;

                    max-width: 100%;
                    max-height: 100%;
                    margin: auto;
                }
            }
            &__desc {
                width: 635px;
                .name {
                    overflow: hidden;

                    height: 55px;

                    .font-size(16);
                }
                .column {
                    line-height: 1.2;

                    .inline-block();
                }
                .dimention {
                    &__name {
                        margin: 0 0 2px;

                        color: @grey-type;

                        .font-face('GloberRegular');
                    }
                    &__val {
                        text-align: center;
                    }
                    span {
                        display: block;
                    }
                }
                .separation {
                    color: @grey-light-3;
                }
            }
            &__price {
                width: 90px;

                vertical-align: middle;

                .font-size(18);
                .font-face('GloberBold');
            }
            &__qnt {
                text-align: right;
                vertical-align: middle;

                color: @grey-type;
                width: 80px;

                .font-size(18);
                .font-face('GloberBold');
            }
        }
    }
}
.popup {
    .set-section-package {
        &-i {
            &__desc {
                width: 250px;
            }
        }
        .name {
            font-size: 14px;

            overflow: hidden;

            height: auto;
            max-height: 38px;
            margin: 0 0 9px;
        }
        .price {
            font-size: 14px;

            margin: 0 0 8px;
        }
    }
    .set-section__buy {
        width: auto;
    }
}
.count-group {
    width: 120px;

    vertical-align: middle;
    & button {
        display: block;
        float: left;

        width: 20px;
        height: 24px;
        margin-right: 3px;
        padding: 0;

        cursor: pointer;
        text-align: center;

        border: none;
        background: url('/css/rightBarCard/img/bg_count_btn.png') no-repeat 0 0;
    }
    &__qnt {
        line-height: 22px;

        float: left;

        width: 33px;
        height: 22px;
        margin-right: 3px;
        padding: 0;

        text-align: center;

        border: 1px solid #c7c7c7;

        .rounded(3px);
    }
}
.b-input-hidden {
    font-size: 0;
    line-height: 0;

    float: right;
    overflow: hidden;

    width: 0;
    height: 0;
    margin-top: 0;
    padding: 0;

    opacity: 0;
    & + .packageSetLabel {
        background: url('/css/customInput/img/bCustomCheckbox.png') no-repeat scroll 0 3px;
    }
    &:checked + .packageSetLabel {
        background: url('/css/customInput/img/bCustomCheckbox.png') no-repeat scroll 0 -24px;
    }
    .set-label.mChecked {
        background: url('/css/customInput/img/bCustomCheckbox.png') no-repeat scroll 0 -24px;
    }
}
.set-label {
    font-size: 14px;

    display: inline-block;

    margin: 0;
    padding: 0 0 0 20px;

    cursor: pointer;
    vertical-align: top;
    white-space: nowrap;
}
