<!-- Категории товаров -->
<div class="bFurnitureCatalog">
    <div class="banners-section clearfix">
        {{#links}}
            <div class="banners-section__item__inner">
                <div class="banners-section__item" style="background: url('{{#image}}{{image}}{{/image}}') no-repeat 50% 50%;"></div>
                <a href="{{url}}">{{name}}</a>
                <div class="bPlashSec"></div>
            </div>
        {{/links}}
    </div>
</div>
<!-- /Категории товаров -->