.bReviews {
  margin-bottom: 25px;
  .bReview {
    margin-bottom: 25px;
  }
  .bReviewsWrapper {
    border-bottom: 1px solid @typLightGray;
    margin: 0;
    padding: 0 0 10px;
  }
  .bReviewsToggle {
    margin: -10px 0 0 160px;
    font-size: 14px;
    border-bottom: 1px dotted;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .bReviewsSummary {
    margin: 0 0 10px;
    &__eColStar {
      margin: 20px 0 0 15px;
    }
    &__eCol {
      float: left;
      width: 145px;
      .reviewsBar {
        background-color: #fb9c00;
        .rounded(3px);
        height:15px ;
        margin: 0 0 4px;
        float: left;
      }
      .reviewsBarBg {
        background-color: #edecee;
      }
      .reviewsBarCount {
        text-align: right;
        padding-right: 5px;
        font-weight: bold;
        font-size: 10px;
        width: 40px;
        clear: both;
        float: left;
      }
      strong {
        margin: 0 0 6px 45px;
        display: block;
        clear: both;
      }
    }
    .bcolStarRow {
      margin: 0 0 5px;
      width: 100px;
      img {
        display: block;
        float: left;
        margin: 0 5px 0 0;
      }
    }
  }

  .bReviewsTabs {
    border-bottom: 1px solid #c7c7c7;
    margin: 0 0 10px;
    &__eTab {
      float: left;
      font-size: 14px;
      padding: 8px 10px 6px;
      span {
        border-bottom: 1px dotted;
        cursor: pointer;
      }
    }
    &__eUser {
      width: 190px; 
      text-align: center; 
      padding: 8px 0 6px;
    }
    &__eLast {
      padding-right: 0;
      float: right;
    }
    .active {
      font-weight: bold;
      border: 1px solid #c7c7c7;
      .rounded(5px 5px 0 0);
      border-bottom: none;
      background: #fff;
      margin: 0 0 -1px;
      span {
        border-bottom: none;
      }
    }
  }

  .bReview {
    .bReview__eAuthtor {
      float: left;
      width: 120px;
      margin: 5px 15px 0 0;
      &-name {
        margin: 6px 0;
        font-weight: normal;
        font-size: 14px;
      }
      &-date {
        color: @typGray;
      }
    }
    .bReview__eText {
      float: left;
      width: 445px;
      font-size: 14px;
      .mark {
        display: block;
        float: left;
        font: bold 24px/24px Tahoma;
        color: @typBoxShadowColor;
        width: 20px;
        margin-right: 5px;
        text-align: right;
        margin-top: -2px;
        clear: both;
      }
      div, p {
        float: left;
        width: 420px;
        margin: 2px 0 5px;
      }
    }
    &__eLogo {
      float: right;
      width: 120px;
      text-align: right;
      margin: 8px 0 0;
    }
  }
} 

.bReviewSection {
  margin: 0 0 25px;
  padding: 0;
  font-size: 12px;
  color: @typGray;
  line-height: 1.1;
  &__eStar {
    float: left;
    margin-right: 5px;
  }
  &__eWrite {
    cursor: pointer;
    float: right;
  } 
  span.border {
    cursor: pointer;
    border-bottom: 1px solid;
    float: left;
  }
} 

.mReviewSectionCat {
  margin: 10px 0;
}