<div class="content content-main">
	<div class="mainBanner">
		<img src="/v2/css/modules/main-page/img/kategory_960.png" />
	</div>

	<ul class="menuCat clearfix">
		<li class="menuCat_item">
			<a class="menuCat_link" href="">
				<span class="menuCat_chartWrap"><span class="menuCat_chart">A</span></span>
				<span class="menuCat_name">Товары для</span>
			</a>
		</li>

		<li class="menuCat_item">
			<a class="menuCat_link" href="">
				<span class="menuCat_chartWrap"><span class="menuCat_chart">A</span></span>
				<span class="menuCat_name">Товары для</span>
			</a>
		</li>

		<li class="menuCat_item">
			<a class="menuCat_link" href="">
				<span class="menuCat_chartWrap"><span class="menuCat_chart">A</span></span>
				<span class="menuCat_name">Товары для</span>
			</a>
		</li>

		<li class="menuCat_item">
			<a class="menuCat_link" href="">
				<span class="menuCat_chartWrap"><span class="menuCat_chart">A</span></span>
				<span class="menuCat_name">Товары для</span>
			</a>
		</li>

		<li class="menuCat_item">
			<a class="menuCat_link" href="">
				<span class="menuCat_chartWrap"><span class="menuCat_chart">A</span></span>
				<span class="menuCat_name">Товары для</span>
			</a>
		</li>

		<li class="menuCat_item">
			<a class="menuCat_link" href="">
				<span class="menuCat_chartWrap"><span class="menuCat_chart">A</span></span>
				<span class="menuCat_name">Товары для</span>
			</a>
		</li>

		<li class="menuCat_item">
			<a class="menuCat_link" href="">
				<span class="menuCat_chartWrap"><span class="menuCat_chart">A</span></span>
				<span class="menuCat_name">Товары для</span>
			</a>
		</li>

		<li class="menuCat_item">
			<a class="menuCat_link" href="">
				<span class="menuCat_chartWrap"><span class="menuCat_chart">A</span></span>
				<span class="menuCat_name">Товары для</span>
			</a>
		</li>
	</ul>
</div>