<div class="js-slider slideItem slideItem-7item {{#user.isMember}}slideItem--sale{{/user.isMember}} {{#isUserOwner}}slideItem--center{{/isUserOwner}}" data-slider="{{&dataSlider}}">
    <div class="slideItem_inn mLoader">
        <ul class="slideItem_lst clearfix">
            {{#products}}
            <li class="slideItem_i jsSliderItem" style="display: list-item;">
                <div class="slideItem_i__child">
                    {{#isUserOwner}}<a href="">{{/isUserOwner}}
                        <div class="slideItem_imgw">
                            <img alt="{{name}}" src="{{image}}" class="slideItem_img">
                        </div>

                        <div class="slideItem_n">
                            {{name}}
                        </div>
                    {{#isUserOwner}}</a>{{/isUserOwner}}
                </div>

                {{#user.isMember}}
                    {{^isUserOwner}}
                        <a class="slideItem__ep-price" href="">
                            <span class="slideItem__ep-price__inn">
                                <span class="slideItem__ep-price__i">
                                    Обычная цена<br>
                                    <span class="td-lineth">950</span> <span class="rubl">p</span>
                                </span>

                                <span class="slideItem__ep-price__i">
                                    <strong>Цена по фишке</strong><br>
                                    <span class="slideItem__ep-price__sale"><strong>950</strong> <span class="rubl">p</span></span>
                                </span>
                            </span>
                        </a>
                {{/isUserOwner}}
                {{/user.isMember}}

                {{#cartButton}}
                    {{>cart/_button-product}}
                {{/cartButton}}
            </li>
            {{/products}}
        </ul>
    </div>

    <div class="slideItem_btn slideItem_btn-prv mDisabled"></div>
    <div class="slideItem_btn slideItem_btn-nxt"></div>
</div>
