<div class="ep-hint {{^user.isMember}}ep-hint--2col{{/user.isMember}} js-enterprize-coupon-hint">
    <div class="ep-hint__row clearfix">
        <div class="ep-hint__col">
            <p class="ep-hint__lvl1">
                Фишка со скидкой <strong>{{&discount}}</strong>
                {{#link}}
                    {{#link.url}}
                        на <strong><a href="{{link.url}}" target="_blank">{{link.name}}</a></strong>
                    {{/link.url}}
                    {{^link.url}}
                        на <strong>{{link.name}}</strong>
                    {{/link.url}}
                {{/link}}
            </p>

            <p class="ep-hint__lvl2">Действует
                {{#start}}c {{start}}{{/start}}
                {{#end}}по {{end}}{{/end}}
            </p>

            <p class="ep-hint__lvl3">
                {{&description}}<br/>
                Минимальная сумма заказа {{&minOrderSum}} <span class="rubl">p</span></p>

            {{#user.isMember}}<button class="btn-def">Получить код фишки</button>{{/user.isMember}}

            <p class="ep-hint__lvl4 m"><a href="" class="undrl">Как воспользоваться кодом фишки и получить скидку?</a></p>
        </div>

        {{^user.isMember}}
        <div class="ep-hint__col ep-hint__col--r">
            <form class="jsEnterprizeForm form-reg" action="{{form.action}}" method="post">
                <input type="hidden" name="user[guid]" value="{{token}}" />

                <fieldset class="form-reg__fld">
                    <div class="form-reg__tl">МЫ ОТПРАВИМ КОД НА СКИДКУ В SMS И E-MAIL</div>

                    <div class="txFld-w">
                        <input class="txFld-it" type="text" name="user[name]" id="">
                        <label class="txFld-lbl" for="">Имя</label>
                    </div>

                    <div class="txFld-w">
                        <input class="txFld-it" type="text" placeholder="name@domain.ru" name="user[email]" id="">
                        <label class="txFld-lbl" for="">E-mail</label>
                    </div>

                    <div class="txFld-w">
                        <input class="txFld-it js-phone-mask" type="text" placeholder="8 (___) ___-__-__" data-mask="8 (xxx) xxx-xx-xx" name="user[mobile]" />
                        <label class="txFld-lbl" for="">Телефон</label>
                    </div>
                </fieldset>

                <fieldset class="form-reg__fld form-reg__sbsrb clearfix">
                    <div class="form-reg__sbsrb__i">
                        <input type="checkbox" name="user[isSubscribe]" checked="checked" id="isSubscribe" class="customInput customInput-orangecheck jsCustomRadio">
                        <label for="subscribe" class="customLabel mChecked">Получить<br/> рекламную рассылку</label>
                    </div>

                    <div class="form-reg__sbsrb__i fl-r">
                        <input type="checkbox" id="agree" name="user[agree]" class="customInput customInput-orangecheck jsCustomRadio">
                        <label for="agree" class="customLabel">Согласен<br/> <a class="agree-lk undrl" target="_blank" href="/reklamnaya-akcia-enterprize">с условиями оферты</a></label>
                    </div>
                </fieldset>

                <fieldset class="form-reg__fld form-reg__btn clearfix">
                    <div class="form-reg__login">
                        У Вас есть логин и пароль?<br/>
                        <span class="form-reg__login__lk">Войти</span>
                    </div>

                    <button type="submit" class="btn-def fl-r">Зарегистрироваться</button>
                </fieldset>
            </form>
        </div>
        {{/user.isMember}}
    </div>

    <div class="ep-hint__row ep-hint__row--cmplt">
        <div class="ep-hint__cmplt-tl">
            <strong>Спасибо!</strong>
        </div>

        <p class="ep-hint__cmplt-tx">Для завершения регистрации, пожалуйста, перейдите по ссылке в письме, отправленном на Ваш почтовый адрес.</p>
    </div>

    <div class="ep-hint__row ep-hint__row--cut">
        <div class="m ta-c mb10">
            <strong>Фишка действует на все товары из раздела
                {{^user.isMember}}{{link.name}},{{/user.isMember}}
                {{#user.isMember}}<a href="{{link.url}}" class="undrl" target="_blank">{{link.name}}</a>,{{/user.isMember}}
                например:
            </strong>
        </div>

        <div class="slideItem slideItem-7item slideItem--sale">
            <div class="slideItem_inn">
                <ul class="slideItem_lst clearfix" style="width: 1430px; left: 0px;">
                    <li class="slideItem_i jsSliderItem" style="display: list-item;">
                        <div class="slideItem_i__child">
                            <div class="slideItem_imgw">
                                <img alt="Держатель для планшетов Liberty Project C65H41" src="http://fs05.enter.ru/1/1/120/ff/269512.jpg" class="slideItem_img">
                            </div>

                            <div class="slideItem_n">
                                Держатель для планшетов Liberty Project C65H41
                            </div>
                        </div>

                        {{#user.isMember}}
                        <a class="slideItem__ep-price" href="">
                            <span class="slideItem__ep-price__inn">
                                <span class="slideItem__ep-price__i">
                                    Обычная цена<br>
                                    <span class="td-lineth">950</span> <span class="rubl">p</span>
                                </span>

                                <span class="slideItem__ep-price__i">
                                    <strong>Цена по фишке</strong><br>
                                    <span class="slideItem__ep-price__sale"><strong>950</strong> <span class="rubl">p</span></span>
                                </span>
                            </span>
                        </a>
                        {{/user.isMember}}
                    </li>

                    <li class="slideItem_i jsSliderItem" style="display: list-item;">
                        <div class="slideItem_i__child">
                            <div class="slideItem_imgw">
                                <img alt="Держатель для планшетов Liberty Project C65H41" src="http://fs05.enter.ru/1/1/120/ff/269512.jpg" class="slideItem_img">
                            </div>

                            <div class="slideItem_n">
                                Держатель для планшетов Liberty Project C65H41
                            </div>
                        </div>
                    </li>

                    <li class="slideItem_i jsSliderItem" style="display: list-item;">
                        <div class="slideItem_i__child">
                            <div class="slideItem_imgw">
                                <img alt="Держатель для планшетов Liberty Project C65H41" src="http://fs05.enter.ru/1/1/120/ff/269512.jpg" class="slideItem_img">
                            </div>

                            <div class="slideItem_n">
                                Держатель для планшетов Liberty Project C65H41
                            </div>
                        </div>
                    </li>

                    <li class="slideItem_i jsSliderItem" style="display: list-item;">
                        <div class="slideItem_i__child">
                            <div class="slideItem_imgw">
                                <img alt="Держатель для планшетов Liberty Project C65H41" src="http://fs05.enter.ru/1/1/120/ff/269512.jpg" class="slideItem_img">
                            </div>

                            <div class="slideItem_n">
                                Держатель для планшетов Liberty Project C65H41
                            </div>
                        </div>
                    </li>

                    <li class="slideItem_i jsSliderItem" style="display: list-item;">
                        <div class="slideItem_i__child">
                            <div class="slideItem_imgw">
                                <img alt="Держатель для планшетов Liberty Project C65H41" src="http://fs05.enter.ru/1/1/120/ff/269512.jpg" class="slideItem_img">
                            </div>

                            <div class="slideItem_n">
                                Держатель для планшетов Liberty Project C65H41
                            </div>
                        </div>
                    </li>

                    <li class="slideItem_i jsSliderItem" style="display: list-item;">
                        <div class="slideItem_i__child">
                            <a href="" class="slideItem_imgw" id="">
                                <img alt="Держатель для планшетов Liberty Project C65H41" src="http://fs05.enter.ru/1/1/120/ff/269512.jpg" class="slideItem_img">
                            </a>

                            <div class="slideItem_n">
                                Держатель для планшетов Liberty Project C65H41
                            </div>
                        </div>
                    </li>

                    <li class="slideItem_i jsSliderItem" style="display: list-item;">
                        <div class="slideItem_i__child">
                            <div class="slideItem_imgw">
                                <img alt="Держатель для планшетов Liberty Project C65H41" src="http://fs05.enter.ru/1/1/120/ff/269512.jpg" class="slideItem_img">
                            </div>

                            <div class="slideItem_n">
                                Держатель для планшетов Liberty Project C65H41
                            </div>
                        </div>
                    </li>

                    <li class="slideItem_i jsSliderItem" style="display: list-item;">
                        <div class="slideItem_i__child">
                            <div class="slideItem_imgw">
                                <img alt="Держатель для планшетов Liberty Project C65H41" src="http://fs05.enter.ru/1/1/120/ff/269512.jpg" class="slideItem_img">
                            </div>

                            <div class="slideItem_n">
                                Держатель для планшетов Liberty Project C65H41
                            </div>
                        </div>
                    </li>

                    <li class="slideItem_i jsSliderItem" style="display: list-item;">
                        <div class="slideItem_i__child">
                            <div class="slideItem_imgw">
                                <img alt="Держатель для планшетов Liberty Project C65H41" src="http://fs05.enter.ru/1/1/120/ff/269512.jpg" class="slideItem_img">
                            </div>

                            <div class="slideItem_n">
                                Держатель для планшетов Liberty Project C65H41
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="slideItem_btn slideItem_btn-prv mDisabled"></div>
            <div class="slideItem_btn slideItem_btn-nxt"></div>
        </div>
    </div>
</div>