.bSeoText {
	margin:20px 0;

	&__eList {
		margin: 15px 0;
	}

	.bPopularSection__eText {
		&:hover {
			text-decoration: none;
		}
	}

	.bPopularSection__eItem {
	    margin: 2px 8px;
	    display: none;

	    &.seotext-show {
	    	.inline-block();
	    }
	}

	.bPopularSection_more {
		.inline-block();
    	border-bottom: 1px dotted;
		color: #777;
		cursor: pointer;
		margin: 2px 8px;
	}

	&__eListItem, li {
		list-style: disc;
		margin: 0 0 0px 20px;
		line-height: 1.3;
	}
}