<!-- хлебные крошки -->
<ul class="bread-crumbs bread-crumbs_mini">
    {{# breadcrumbs }}
        <li class="bread-crumbs__item">{{# url }}<a href="{{ url }}" class="bread-crumbs__link underline">{{/url}}{{ name }}{{# url }}</a>{{/url}}</li>
    {{/breadcrumbs}}
</ul>
<!--/ хлебные крошки -->