<!-- хлебные крошки -->
<ul class="bread-crumbs">
    {{# breadcrumbs }}
        <li class="bread-crumbs__i">{{# url }}<a href="{{ url }}" class="bread-crumbs__lk">{{/url}}{{ name }}{{# url }}</a>{{/url}}</li>
    {{/breadcrumbs}}
</ul>
<!--/ хлебные крошки -->