<li class="set-list__item">
    <a class="set-list__left set-list__img" href="{{url}}"><img src="{{image}}"></a>

    <div class="set-list__right">
        <div class="set-list__name"><a class="" href="{{url}}">{{name}}</a></div>

        <div class="set-list__desc table">

            <div class="table-cell">
                <div class="set-list__nominal"><span>{{price_format}}</span>&nbsp;<span class="rubl">p</span></div>

                <div class="set-list__dimention">
                    <span class="set-list__dimention-name">Высота</span>
                    <span class="set-list__dimention-val">{{height}}</span>
                </div>

                <div class="set-list__dimention">
                    <span class="set-list__dimention-name">&nbsp;</span>
                    <span class="set-list__dimention-val set-list__dimention-val_separation">x</span>
                </div>

                <div class="set-list__dimention">
                    <span class="set-list__dimention-name">Ширина</span>
                    <span class="set-list__dimention-val">{{width}}</span>
                </div>

                <div class="set-list__dimention">
                    <span class="set-list__dimention-name">&nbsp;</span>
                    <span class="set-list__dimention-val set-list__dimention-val_separation">x</span>
                </div>

                <div class="set-list__dimention">
                    <span class="set-list__dimention-name">Глубина</span>
                    <span class="set-list__dimention-val">{{depth}}</span>
                </div>

                <div class="set-list__dimention">
                    <span class="set-list__dimention-name">&nbsp;</span>
                    <span class="set-list__dimention-val">см</span>
                </div>
            </div>

            <div class="set-list__counter table-cell">
                <div class="counter counter_mini js-productkit-item-counter">
                    <button class="counter__btn counter__btn_minus disabled js-counter-minus"></button>
                    <input type="text" class="counter__it js-counter-value" value="1">
                    <button class="counter__btn counter__btn_plus js-counter-plus"></button>
                    <span class="counter__num">шт.</span>
                </div>
            </div>

            <div class="set-list__price table-cell js-productkit-item-sum">
                <span>{{sum_format}}</span>&nbsp;<span class="rubl">p</span>
            </div>
        </div>
    </div>
</li>