<div class="region-confirm js-region-confirm-container " data-region-id="{{region.id}}">
    <span class="region-confirm__index"></span>
    <span class="region-confirm__title"><span class="region-confirm__title-desc">Ваш город</span><span class="region-confirm__title-city">{{region.name}}?</span></span>
    <div>
        <a href="#" class="region-confirm__btn js-region-confirm-yes">Да, верно</a>
        <a href="#" class="region-confirm__btn region-confirm__btn_other js-region-confirm-no">Другой</a>
    </div>
</div>