<div class="js-region-confirm-container" data-region-id="{{region.id}}">
    Ваш город <span>{{region.name}}?</span>
    <a href="#" class="js-region-confirm-yes">Да, верно</a>
    <a href="#" class="js-region-confirm-no">Другой</a>
</div>