.address-list {
  font-size: 14px;

  &__item {
    position: relative;

    width: 100%;
    margin: 0 0 10px;

    padding: 20px;

    background: @white;

    .box-sizing(border-box);
    .drop-shadow(0, 0, 3px, .1);
  }

  &__item-link{

    &:hover{
      text-decoration: none;
    }
  }

  &__mode {
    font-size: 16px;

    margin: 0 0 15px;
  }

  &__item-del{
    .btn-del;
    right: 15px;
    top: 15px;

    &_big{
      .btn-del_big;
    }
  }
}

//Добавление нового адреса
.new-address{
  position: relative;

  width: 370px;
  margin: 0 0 10px 85px;

  padding: 20px;

  background: @white;

  .box-sizing(border-box);
  .drop-shadow(0, 0, 3px, .1);

  &__row{
    position: relative;

    .clearfix;
    .box-sizing(border-box);
  }

  &__title{
    float: left;

    margin: 0 0 15px;

    font-size: 16px;
  }

  &__map-show{
    float: right;
    margin: 0;
    border-bottom: 1px dotted #363636;
    font-size: 14px;
    color: #363636;

    &:hover{
      text-decoration: none;

      border-bottom: none;
    }
  }

  &__map-block{
    display: none;
    margin-bottom: 20px;
    height: 320px;
  }

  &__form{
    display: block;

    font-size: 0;

    .box-sizing(border-box);
  }

  &__form-item{
    display: block;
    margin-bottom: 20px;
    .box-sizing(border-box);

    &_half{
      display: inline-block;
      width: 150px;
      margin-right: 30px;
    }

    &_half-odd{
      margin-right: 0;
    }
  }

  &__form-input{
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;

    padding-left: 10px;

    border: 1px solid @input-border;
    .rounded(3px);
    .box-sizing(border-box);

    font-size: 12px;

    &:focus{
      border-color: @input-focused-border;
    }
  }

  &__form-send{
    display: block;
    width: 150px;
    height: 35px;
    line-height: 35px;

    border: none;
    .rounded(3px);
    padding: 0;

    background: @orange-2;

    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
  }
}


.ui-menu{
  z-index: 2;
  width: 420px;

  &.ui-new-address__city{
    width: 330px;

    .ui-menu-item{
      width: 330px;
    }
  }

  &.ui-new-address__street{
    width: 330px;

    .ui-menu-item{
      width: 330px;
    }
  }
}
