@bgGrey: #f7f7f7;
@textGrey: #868686;

.personal {
    &-navs {
        padding: 0;

        border-bottom: 4px solid #e8e8e8;
        &__i {
            font-size: 16px;
            line-height: 50px;

            position: relative;

            display: inline-block;

            height: 45px;
            margin: 0 5px 0 0;
            padding: 0 20px;

            text-align: center;
            vertical-align: top;
            &.active {
                font-weight: bold;
                .personal-navs__lk {
                    border-bottom-color: transparent;
                }
                &:after {
                    position: absolute;
                    bottom: -4px;
                    left: 0;

                    width: 100%;
                    height: 4px;

                    content: '';

                    background: #f99b1c;
                }
            }
            &.right-nav {
                float: right;
            }
            &:hover {
                .personal-navs__lk {
                    color: @black;
                    border-color: @black;

                    .transition(all .3s ease-out);
                }
            }
        }
        &__lk {
            text-decoration: none;

            color: #363636;
            border-bottom: 1px solid;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__info {
        width: 345px;
        margin-bottom: 50px;

        .clearfix();
        .btn-type.btn-type--buy {
            line-height: 32px;

            float: right;

            width: 180px;
            height: 32px;
            padding: 0;

            border: 0;
        }
    }
    &__password {
        float: right;

        width: 415px;
        margin-top: 35px;
        padding: 10px 20px;

        background-color: @bgGrey;
        .form-group {
            width: 230px;
        }
        .btn-type.btn-type--buy {
            line-height: 32px;

            width: 180px;
            height: 32px;
            padding: 0;

            border: 0;
        }
    }
    &__sub-head {
        font-size: 16px;

        margin-bottom: 10px;
    }
    &__head {
        font-size: 20px;

        margin-bottom: 10px;
    }
    .personal-popup {
        position: fixed;
        z-index: 2005;
        top: 50%;
        left: 50%;

        display: none;

        width: 340px;
        margin-top: -100px;
        margin-left: -180px;
        padding: 10px 20px 20px;

        border: 1px solid #afafaf;
        background-color: @white;

        .box-shadow(0 0 20px 2px rgba(0, 0, 0, .20));
        .popup-closer {
            position: absolute;
            top: 10px;
            right: 10px;

            width: 10px;
            height: 10px;

            cursor: pointer;

            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAnklEQVQYGW3QwQ3CMAwFUDseDJYgnInUlbhUcrlSloDB0uDvKpUV1YeqTl5/nPJL9bkRvUspPzqpZZ6vLJITUGJeVfUyOl8TWd0gaWstM9EnYk+ytUZ0g7H9vYCAscG1MlkS1Zof0/SFOCAapDhAExDahEevJmKBe8V3rBwwHo20cWaHQLh5H9znGjB3hJuP/zKekizyfoYwl39oyTB/pBVhzsz6V0wAAAAASUVORK5CYII=');
        }
        &__head {
            font-size: 16px;

            margin: 10px 0;
        }
        &__content {
            .custom-select {
                line-height: 28px;

                width: 100%;
                height: 30px;
                margin-top: 10px;
                padding-top: 0;
                padding-bottom: 0;

                color: #363636;
                &__i {
                    font-size: 14px;

                    color: #363636;
                }
                &__inn {
                    font-size: 14px;

                    color: #363636;
                }
                &:after {
                    top: 13px;
                    right: 7px;

                    width: 0;
                    height: 0;

                    border-width: 7px 5.5px 0 5.5px;
                    border-style: solid;
                    border-color: #afafaf transparent transparent transparent;
                    background: none;
                }
            }
            .btn--default {
                font-size: 14px;
                line-height: 30px;

                display: block;

                width: 117px;
                height: 33px;
                margin: 20px auto 10px;

                color: #363636;
                border: 1px solid #363636;
                background-color: @white;
            }
        }
        &__list-name {
            font-size: 16px;

            overflow: hidden;

            width: 100%;
            margin: 15px 0 10px;

            white-space: nowrap;
            text-overflow: ellipsis;

            color: #5e5e5e;
        }
    }
    &__sharings {
        font-size: 0;

        margin-top: 20px;

        text-align: center;
    }
    &-share {
        margin: 0 6px;

        .inline-block(middle);
        &__icon {
            display: block;

            width: 36px;
            height: 35px;

            background: url('@{base-url}/personal-page/img/social-sprite.png') no-repeat;
            &.twitter {
                background-position: 0 0;
            }
            &.fb {
                background-position: -37px 0;
            }
            &.vk {
                background-position: -75px 0;
            }
            &.gplus {
                background-position: -112px 0;
            }
            &.ok {
                background-position: -150px 0;
            }
            &.mailru {
                background-position: -188px 0;
            }
            &.mail {
                background-position: -225px 0;
            }
        }
    }
    &__txt {
        font-size: 14px;
    }
}
.overlay {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.4);
}


.grid {
    clear: both;

    margin-right: -10px;

    .clearfix();
    &__cell {
        float: left;

        margin: 0 0 10px;
        padding: 0 10px 0 0;

        .box-sizing(border-box);
    }
    &__inner {
        padding: 10px;

        .box-sizing(border-box);
    }
    &_2col {
        .grid__cell {
            width: 50%;
            &:nth-child(2n+1) {
                clear: both;
            }
        }
    }
}

.grid-scroll {
    overflow-x: hidden;
    overflow-y: auto;

    height: 232px;
    margin: 10px -9px -9px 0;
    padding-right: 9px;
    &-list {
        &__item {
            width: 100%;
            margin: 0 0 10px;
            padding: 10px;

            background: @white;

            .box-sizing(border-box);
            .drop-shadow(0, 0, 3px, .1);
        }
        &__col {
            float: left;

            width: 50%;
            height: 222px;
            margin: 0 0 10px;
            padding-right: 10px;

            .box-sizing(border-box);
            .grid-scroll-list__item {
                height: 100%;
                margin: 0;
            }
        }
        &_2col {
            margin-right: -10px;

            .clearfix();
        }
    }
}

.order-list {
    &__item {
        font-size: 14px;

        display: table;

        width: 100%;
    }
    &__data {
        display: table-cell;

        width: 120px;
        max-width: 120px;

        text-align: center;
        vertical-align: middle;
        &-number {
            text-decoration: underline;

            color: #868686;
        }
    }
    &__price {
        display: table-cell;

        width: 80px;
        max-width: 80px;

        text-align: right;
        vertical-align: middle;
    }
    &__status {
        display: table-cell;

        padding-left: 30px;

        vertical-align: middle;
        &-payment {
            color: #f99b1c;
            &_warn {
                color: #d45745;
            }
        }
    }
}

.address-list {
    font-size: 14px;
    &__item {
        padding: 20px;
    }
    &__mode {
        font-size: 16px;

        margin: 0 0 15px;
    }
}

.favorite-list {
    font-size: 14px;
    &__item {
        display: table;
    }
    &__cell {
        display: table-cell;

        padding: 0 10px;

        vertical-align: top;
    }
    &__price {
        width: 90px;
        max-width: 90px;
        padding-right: 0;

        text-align: right;
        vertical-align: middle;
    }
    &__views {
        width: 80px;
        max-width: 80px;
        height: 80px;
        padding: 0;

        text-align: center;
        vertical-align: middle;
    }
    &__image {
        display: block;
        .image {
            max-width: 100%;
        }
    }
    &__name {
        line-height: 1.2;

        display: block;

        margin: 0 0 10px;
        &:hover {
            text-decoration: none;
        }
    }
    &__avail {
        line-height: 1.1;

        padding-left: 5px;

        border-left: 3px solid #80c342;
        &_no {
            border-color: #d45745;
        }
    }
}

.message-list {
    &__item {
        padding: 10px 22px;

        .clearfix();
    }
    &__left {
        float: left;

        width: 200px;
    }
    &__date {
        float: right;

        color: #868686;
    }
    &__title {
        font-size: 14px;
        line-height: 1.2;

        position: relative;

        margin: 0 0 10px;
        &:before {
            position: absolute;
            top: 5px;
            left: -13px;

            width: 8px;
            height: 8px;

            content: '';

            background: #f99b1c;

            .rounded(50%);
        }
    }
    &__text {
        margin: 0;

        color: #868686;
    }
}

.subscribe-list {
    font-size: 14px;
    &__item {
        padding: 20px 10px;
    }
    .customLabel {
        padding-top: 3px;
    }
    .customInput-checkbox:disabled + .customLabel {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABg0lEQVR42q3VS0sCURQHcFf1JYxKahHZA2rbunbVpn3Rrk1QFvQZWpjRSgU1oQcJSRBoRT6QCMKCIKOIrEwXgj2Y99yZfx4QNGrAx1z4bwbO717uuZyxYL+/TfFYnYq7oyS7rWgmVEsGWRbFa91Qr9ahawzNLqolg1AL6TVYSyhZFjqy4aKdC5dQ0i7I6U2w/AV03XhzsgxBnUlQb7bA+eyQYksQzxch7I1ByezQcRoHte9X8IEhsGyk8kEBezmDcLoAVrxtHFSzUfDB0V/N0j4eIceXy/BJY6D2+QQpsQohMAzlbruaayfE8DTkhAM6V6gf5P12cO5Ow/DeXrD3FAC9PlA4nKwBusH5+ug+q6DHBpZLNgF6usAfjEMTimCle4hHM62CNoiROYBKuTzk5FqLIBUHR6DmUmBvMfD+QRNA/wDktAtqZteEO6SUOyqGpyBGZlsAQxNUaJwKqOt1gspDCFJ0HlJi5W/iDlBztK/nfx+2+eOLhqKpAxbHPe1m/gJ+ALeSXeHfZ6dgAAAAAElFTkSuQmCC');
    }
}

.private-ep-list {
    &__item {
        padding-top: 20px;
    }
    .ep-coupon {
        width: 170px;
        height: 170px;
        margin: 0 auto;

        background-position: 50% 50%;
        background-size: contain;
        &__inner {
            width: 152px;
            height: 152px;
        }
        &__ico img {
            max-width: 45px;
            max-height: 32px;
        }
        &__desc {
            font-size: 11px;
            line-height: 1;

            top: 70px;
            right: 0;
            left: 0;

            width: 98px;
            margin: auto;
        }
        &__price {
            font-size: 22px;

            top: 102px;
        }
    }
    &__dutation {
        font-size: 14px;
        line-height: 16px;
        text-align: center;

        &:before {
            content: '';
            width: 16px;
            height: 16px;
            .inline-block();
            margin-right: 2px;

            background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAQlBMVEX///8AAAAyMjI1NTU1NTU2NjY2NjY1NTU1NTU1NTU0NDQ1NTU1NTUuLi41NTU1NTU2NjY2NjY0NDQ2NjY2NjY1NTUMBiYhAAAAFnRSTlMABD10i0ze/cWecP6jHFdzqrRx/2g68/sZRgAAAG5JREFUeNpljzcOgEAQA+dyJt//v4oElihwOSuHBcBY572zBinElEvJKQYe1dYHy8LorT73tgLbBqwtgIkdBOjRYNP4wEgWl/kA2eELAPsLihc4zkvgtczzQBaFTkChqgVUq2GAhmk6aPrvud/7N1V1BDKGit74AAAAAElFTkSuQmCC');
        }
    }
}

.private-sections {
    color: #363636;
    &__head {
        font-size: 20px;
    }
    &__item {
        background: #f7f7f7;
        &_order {
            background: #e5f5e9;
        }
        &_ep {
            background: #fff6e5;
        }
    }
}
