//Стили фишки
.private-ep-list {
  position: relative;

  &__cell{
    position: relative;

    float: left;

    width: 25%;
    height: 222px;
    margin: 0 0 10px;
    padding-right: 10px;

    .box-sizing(border-box);
  }

  &__item {
    width: 100%;
    height: 100%;

    margin: 0 0 10px;
    padding: 10px;

    background: @white;

    .box-sizing(border-box);
    .drop-shadow(0, 0, 3px, .1);

    padding-top: 20px;
    cursor: pointer;
  }

  &__item-info{
    margin-left: -474px;
  }

  .ep-coupon {
    width: 170px;
    height: 170px;
    margin: 0 auto;

    background-position: 50% 50%;
    background-size: contain;

    &__inner {
      width: 152px;
      height: 152px;
    }

    &__ico img {
      max-width: 45px;
      max-height: 32px;
    }

    &__desc {
      font-size: 11px;
      line-height: 1;

      top: 70px;
      right: 0;
      left: 0;

      width: 98px;
      margin: auto;
    }

    &__price {
      font-size: 22px;

      top: 102px;
    }
  }

  &__dutation {
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      .inline-block();
      margin-right: 2px;

      background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAQlBMVEX///8AAAAyMjI1NTU1NTU2NjY2NjY1NTU1NTU1NTU0NDQ1NTU1NTUuLi41NTU1NTU2NjY2NjY0NDQ2NjY2NjY1NTUMBiYhAAAAFnRSTlMABD10i0ze/cWecP6jHFdzqrRx/2g68/sZRgAAAG5JREFUeNpljzcOgEAQA+dyJt//v4oElihwOSuHBcBY572zBinElEvJKQYe1dYHy8LorT73tgLbBqwtgIkdBOjRYNP4wEgWl/kA2eELAPsLihc4zkvgtczzQBaFTkChqgVUq2GAhmk6aPrvud/7N1V1BDKGit74AAAAAElFTkSuQmCC');
    }
  }

  &__img-desc{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  &__desc{
    position: absolute;
    top: 50%;

    padding-right: 10px;

    .translate(0, -50%);
  }
}

//Стили для блока информации о фишки
.ep-info{
  display: none;
  position: relative;

  border: 1px solid #ffa400;
  padding: 10px;
  .box-sizing();

  background: #FFFFFF;

  font-size: 0;

  &__marker{
    position: absolute;
    bottom: 100%;
    left: 220px;

    border: 12px solid transparent;
    border-bottom: 9px solid #ffa400;
    z-index: 1;

    &:before{
      content: '';

      position: absolute;
      top: -9px;
      right: -10px;

      border: 10px solid transparent;
      border-bottom: 8px solid #FFFFFF;
      z-index: 2;
    }
  }

  &:first-child {
    &:after{
      right: auto;
      left: 102px;
    }

    &:before{
      right: auto;
      left: 104px;
    }
  }
  &:nth-child(2) {
    &:after{
      right: auto;
      left: 332px;
    }

    &:before{
      right: auto;
      left: 334px;
    }
  }
  &:nth-child(3) {
    &:after{
      right: auto;
      left: 562px;
    }

    &:before{
      right: auto;
      left: 564px;
    }
  }
  &:nth-child(4) {
    &:after{
      right: 102px;
    }

    &:before{
      right: 104px;
    }
  }

  &__desc{
    display: inline-block;
    vertical-align: top;
    width: 259px;
    min-height: 224px;
    margin-right: 20px;

    padding-right: 20px;
    border-right: 1px dotted #afafaf;
    .box-sizing(border-box);

    font: normal 14px Tahoma, sans-serif;
  }

  &__desc-title{
    margin: 0 0 5px 0;

    font: inherit;
  }

  &__desc-duration{
    margin: 0 0 10px 0;

    font: inherit;
    color: @darkgrey5;
  }

  &__desc-timer-desc{
    margin: 0 0 5px 0;

    font-size: 12px;
    color: #d45745;
  }

  &__desc-timer-report{
    margin: 0 0 10px 0;

    padding-left: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAQAAACRZI9xAAABQUlEQVQoz23OP0jUcRjH8Q/9EW1oyKFI2gRJaSl6tTQF0ZFFNDgENRQUkXsENdTQEC4tzi1BDUHQFARBkYh0kFiTcgcntZxCnlNLfRv8nZxXn+nN83x4nndSxX5PLWtrW9P0zJHsjFv+aHrouu/Ou+erX+73FmYU00liWKOaTSpedws3FacqPqblQOKwBTXFTBL7FLe37w2aSBLFXIJiNGZtpN9sUbuiJR9i3YO+wqxiqOKaTnQc31G4phhN7HHUuLNa0VFXN2+kcilWksSQz775oh2b7rrk4tZpu035ZNNjAwYNG9eIn67+ozttzbpDiTM24oXV/CeuGEl8tBgHFRd6VgN2bfOY4mQSj5Qt2STxzrmK9ipedsevFLWKWyaTxAm/1Xs/P1HMuWHMsjsue6t43q834Y1VK35oanjvdHfzF/nvenPSVvT6AAAAAElFTkSuQmCC) no-repeat 0 center;

    font: inherit;
    color: @product-font;
  }

  &__desc-txt{
    font-size: 12px;
    color: @product-font;
    margin: 0;
  }


  &__product{
    position: relative;

    display: inline-block;
    vertical-align: top;
    width: 609px;

    .box-sizing();

    font: normal 14px Tahoma, sans-serif;

    &_big{
      width: 639px;
    }
  }

  &__product-title{
    float: left;
    margin: 0;

    font-size: 16px;
    font-weight: normal;
    color: @product-font;
  }

  &__product-all{
    float: right;
    margin: 0;

    border-bottom: 1px dotted @product-font;

    font-size: 14px;
    color: @product-font;

    &:hover{
      text-decoration: none;
    }
  }

  &__product-list-outer{
    width: 100%;

    overflow: hidden;
  }

  &__product-list{
    position: relative;

    width: 10000px;
    margin-top: 5px;
  }

  &__product-item{
    .box-sizing();

    float: left;
    width: 145px;

    margin-right: 10px;

    border: 1px solid transparent;

    text-align: center;
    .transition(border .1s);

    &:hover{
      border: 1px solid @orange-2;

      .ep-info__product-buy{
        opacity: 1;
      }
    }

    &_min{
      width: 139px;
    }
  }

  &__product-item-inner{
    position: relative;

    min-height: 195px;

    padding: 10px 5px 30px;

    .box-sizing();

  }

  &__product-img-block{
    height: 70px;
    margin-bottom: 5px;

    text-align: center;

    img{
      max-width: 100%;
    }
  }

  &__product-img-title{
    font-size: 11px;
    text-align: center;
    margin-bottom: 5px;

    &:hover{
      text-decoration: none;
    }
  }

  &__product-price{
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__product-price-old{
    text-align: center;
    color: @darkgrey5;
    font-size: inherit;
    text-decoration: line-through;
  }

  &__product-price-new{
    text-align: center;
    color: @product-font;
    font-size: inherit;
  }

  &__product-buy{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;

    opacity: 0;
    display: block;
    width: 60px;
    height: 20px;
    margin: auto;
    line-height: 20px;

    background: @orange-2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    .transition(opacity .3s);

    &:hover{
      text-decoration: none;
    }
  }

  &__product-slide{
    position: relative;
    width: 100%;
    margin: 0;

    padding-right: 10px;

    box-sizing: border-box;
    overflow: visible;
  }

  &__product-btn{
    position: absolute;
    top: 0;
    bottom: 0;

    width: 20px;
    height: 34px;
    margin: auto;
    cursor: pointer;


    &_prev{
      left: -20px;


      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAYCAMAAAD08pwfAAAAY1BMVEUAAAAmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCToa7IzAAAAIHRSTlMACw8UFR4sNUZRUlxsbXd6iY2UlbG3ub3Lzdjp6vP0/iaH91gAAABgSURBVHjaZc83EsAgDARAcM7YOON0/3+lC45RgaodjUA6xUoOEzhjpRo8qVf2omZzgaV6OKoASvLEQI3YqQpf7qVvtGxumFRMfYUBeSafyYp4sergKDlSTpdALOtjMvwPYloGkEW4Vd4AAAAASUVORK5CYII=) no-repeat center center;
    }

    &_next{
      right: -10px;

      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAYCAMAAAD08pwfAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAYFBMVEUAAAAmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQmJCQAAACJ+ocHAAAAHnRSTlMAessPt5UU81JR9BWUsdhtNSx3zb2JHv5GXOkLjbn/U2BmAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAFtJREFUGNNlz0kSgCAQA0BU3FHcd/P/Z3oxhio59WGGZEwUJ+Z9FimZ5SjoElVNOzSkaeHJDujpAeM3MmEmlxUbveM46Qv3nxoI1vSZIoJg1VFJVQ8OsnBM1PEPMhEGPrjHk5AAAAAASUVORK5CYII=') no-repeat center center;
    }
  }





  &.active{
    display: block;
  }
}