@lightGrey: #f2f2f2;
@lightGreen: #e6f3da;
@textColor: #363636;
@textGrey: #868686;
@errorRed: #d45745;

.personal{
    &__orders{
        margin-top: 10px;
        background-color: @lightGrey;
        padding: 10px;
        &.current{
            background-color: @lightGreen;
            .personal-order__item{
                display: table;
                width: 100%;
            }
        }
        &-head{
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    &-order {
        &__toggler{
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 20;

            white-space: nowrap;
            cursor: pointer;

            &:after{
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin-top: 5px;

                border: 5px solid transparent;
                border-top-color: @textGrey;

            }

            &:hover{

                .personal-order__toggler-popup{
                    position: absolute;
                    top: 102%;
                    right: -20px;
                    z-index: 10;

                    display: block;
                    min-width: 110px;
                    min-height: 30px;
                    padding: 5px;

                    .box-sizing();
                    border: 1px solid #ebebeb;
                    background: #FFFFFF;

                    font-size: 12px;
                    color: @textGrey;
                    text-align: center;

                    &:after{
                        content: '';

                        position: absolute;
                        bottom: 100%;
                        right: 17px;

                        border: 7px solid transparent;
                        border-bottom-color: #FFFFFF;
                    }

                    &:before{
                        content: '';

                        position: absolute;
                        bottom: 100%;
                        right: 17px;

                        border: 7px solid transparent;
                        border-bottom-color: @textGrey;
                    }
                }
            }
        }

        &__toggler-txt{
            display: inline-block;
            vertical-align: middle;

            font-size: 14px;
            color: @textGrey;

            &:hover{
                text-decoration: none;
            }
        }

        &__toggler-popup{
            display: none;
        }

        &__item-link{

            &:hover{
                text-decoration: none;
            }
        }

        &__modal{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 9999;

            //display: none;

            background: rgba(0, 0, 0, 0.4);
        }

        &__modal-body{
            position: absolute;
            top: 300px;
            left: 50%;

            width: 430px;
            min-height: 255px;
            margin-left: -240px;
            .box-sizing(border-box);

            padding: 20px;

            background: #FFFFFF;

            & .address-list__item-del{
                display: none;
            }

            &_small{
                width: 341px;
                min-height: 234px;
            }
        }

        &__modal-head{
            display: block;
            .box-sizing(border-box);

            margin: 0 0 20px 0;

            font-size: 20px;
            text-align: center;
        }

        &__madal-name-item{
            display: block;
            margin-bottom: 60px;

            font-size: 24px;
            text-align: center;
        }

        &__modal-name-list{
            display: block;
            .box-sizing(border-box);
        }

        &__modal-row{
            display: block;
            .box-sizing(border-box);
        }

        &__modal-email{
            display: block;
            .box-sizing(border-box);

            width: 100%;
            height: 35px;
            margin-bottom: 5px;
            line-height: 35px;

            padding: 0 10px;
            border: 1px solid @input-border;
            .rounded(3px);

            font-size: 12px;

            &:focus{

                border-color: @input-focused-border;
            }
        }

        &__modal-email-desc{
            display: block;
            margin-bottom: 10px;

            padding-left: 11px;

            font-size: 12px;
            color: #afafaf;
        }

        &__modal-checkbox{
            position: relative;

            display: block;
            margin: 0 0 20px 0;
            .box-sizing(border-box);

            font-size: 12px;
            color: @product-font;

            cursor: pointer;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            span{
                display: inline-block;
                vertical-align: middle;
                width: 356px;
            }
        }

        &__year-link{
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }
        }

        &__modal-send{
            display: block;
            width: 170px;
            height: 35px;
            line-height: 35px;
            margin: auto;

            background: none;
            border: 1px solid #afafaf;
            .rounded(3px);
            padding: 0;

            //background: @orange-2;

            font-size: 18px;
            text-align: center;
            color: #363636;
        }

        &__modal-close{
            .btn-del;
        }

        &__status{
            width: 130px;
            .inline-block();
        }
        &__item{
            position: relative;

            //display: table;
            margin-bottom: 10px;
            width: 100%;
            background-color: @white;
            font-size: 14px;
            .box-shadow(0 0 3px 0 rgba(0, 0, 0, 0.10));
            display: none;

            &:last-child{
                margin-bottom: 0;
            }
        }
        &__cell{
            display: table-cell;
            padding: 10px;
            vertical-align: top;
            position: relative;

            .warning{
                color: @errorRed;
            }

            .multiline-ellipsis(36px,normal);
        }
        &__num{
            text-align: center;
            text-decoration: underline;
            color: @textColor;
            display: block;
            white-space: nowrap;
        }
        &__date{
            color: @textGrey;
            text-align: center;
            display: block;
        }
        &__name{
            width: 213px;

            display: block;
           
        }

        &__deliv-info{
            color: @textGrey;
            width: 240px;
            display: block;
        }
        &__price{
            width: 100px;
            white-space: nowrap;
            text-align: right;
        }
        &__more{
            color: @textGrey;
            white-space: nowrap;
            padding-left: 2px;
            cursor: pointer;
            .transition(0.5s ease all);

            &:after{
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 5.5px 0 5.5px;
                border-color: @textGrey transparent transparent transparent;
                display: inline-block;
                vertical-align: middle;
                margin-left: 4px;
                margin-right: 7px;
            }
            &:hover .personal-order__cancel{
                display: block;
            }
        }
        &__pay-status{
            display: block;
            width: 112px;
            &.online{
                color: #f99b1c;
                text-decoration: underline;
            }
            &.payed{
                color: #80c342;
            }
        }
        &__cancel{
            width: 100px;
            .box-sizing(border-box);
            position: absolute;
            border: 1px solid #afafaf;
            font-size: 12px;
            color: @textGrey;
            background-color: @white;
            padding: 5px 4px;
            text-align: center;
            right: 0px;
            top: 34px;
            display: none;

            &:before{
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                border-style: solid;
                border-width: 0 10.5px 6px 10.5px;
                border-color: transparent transparent #afafaf transparent;
                top: -7px;
                right: 11px;
            }
            &:after{
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                border-style: solid;
                border-width: 0 10.5px 6px 10.5px;
                border-color: transparent transparent @white transparent;
                top: -6px;
                right: 11px;
            }
        }
        &__block{

            &.expanded {
                margin-bottom: 10px;

                .personal-order__year-container{
                    &:before{
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 3.5px 0 3.5px;
                        border-color: #363636 transparent transparent transparent;
                        margin-right: 4px;
                    }
                }
                .personal-order__item{
                    display: table;
                }
            }
        }
        &__year-container{
            display: inline-block;
            vertical-align: middle;

            cursor: pointer;
            margin-bottom: 7px;

            &:before{
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3.5px 0 3.5px 5px;
                border-color: transparent transparent transparent #363636;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                margin-left: 3px;
            }
        }
        &__year{
            font-size: 14px;
            font-weight: bold;
            color: #363636;
            border-bottom: 1px dotted;
            display: inline-block;
            vertical-align: middle;
        }
        &__year-total{
            margin-left: 10px;
            font-size: 14px;
            color: @textGrey;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 7px;
        }
    }


}