.personalTitle {
	margin: 20px 0 15px;

	font-size: 20px;

	&_count {
		color: #7f7f7f;
	}
}

.personalTable {
	.table();
	width: 100%;
	margin: 0 0 60px;

	&_row {
		.table-row();

		&-head {
			color: #515151;

			.personalTable_cell {
				font-size: 12px;
				height: auto;
			}
		}

		&-canceled {

			.personalTable_cell {
				background: #f6f6f6;

				&-strong {
					color: #7f7f7f;

					a {
						color: #7f7f7f;
					}
				}
			}
		}

		// &-center {
		// 	text-align: center;
		// }

		&:nth-child(2) {

			.personalTable_cell {
				background: #f6f6f6;
			}
		}
	}

	&_cell {
		.table-cell();
		padding: 5px;
		line-height: 1.1;

		vertical-align: middle;

		border-bottom: 1px solid #c7c7c7;
		font-size: 14px;
		height: 40px;

		&-text {
			font-size: 12px;
			max-width: 300px
		}

		&-right {
			text-align: right;
		}
	}

	.orderItem {
		
	}

	.orderCancel {
		font-size: 12px;
	}

	.textStatus {
		display: block;
		font-size: 12px;
	}

	a {
		text-decoration: underline;
	}
}