.personalTitle {
	margin: 20px 0;

	font-size: 20px;

	&_count {
		color: #7f7f7f;
	}
}

.personalTable {
	.table();
	width: 100%;
	margin: 0 0 10px;

	border-collapse: collapse;
	
	&-border {
		margin: 0 0 60px;

		border-bottom: 1px solid @lightgreyBr;

		.personalTable_cell {
			height: 40px;
			padding: 5px 15px 5px 5px;

			vertical-align: middle;

			border-top: 1px solid @lightgreyBr;
		}
	}

	&_caption {
		display: table-caption;

	    height: 20px;
	    padding: 5px;

		background: #eff7b7;
		background: rgba(193,218,30,0.2);

		font-size: 14px;
	    line-height: 20px;
	}

	&_row {
		.table-row();

		&-head {
			color: #515151;

			.personalTable_cell {
				height: auto;

				border-top: none;

				font-size: 12px;
			}
		}

		&-canceled {

			.personalTable_cell {
				background: @lightgreyBg;
			}
		}

		&-total {

			.personalTable_cell {
				height: 36px;

				background: @lightgreyBg;
			}
		}
	}

	&_rowgroup {
		display: table-row-group;

		border-top: 1px solid @lightgreyBr;

		.personalTable_cell {
			border: none;
		}
	}

	&_cell {
		.table-cell();
		font-size: 14px;
		line-height: 1.1;

		&-text {
			max-width: 300px;

			font-size: 12px;
		}

		&-mini {
			width: 40px;
		}

		&-long {
			width: 510px;
		}
	}

	.orderCancel {
		font-size: 12px;
	}

	.textStatus {
		display: block;

		font-size: 12px;
	}

	a {
		text-decoration: underline;
	}

	.imgProd {
		width: 40px;
		height: 40px;
	}
}