.personalPage {

	&_left {
		.inline-block();
		width: 700px;
	}

	&_right {
		.inline-block();
		float: right;

		width: 210px;
		padding: 10px;

		background: #f6f6f6;
	}

	&_head {
		margin: 0 0 10px;

		font-size: 16px;

		&_left {
			float: left;

			margin: 0;

			font-size: 16px;
			font-weight: bold;
		}

		&_right {
			float: right;
		}

		.orderPrice {
			.inline-block();
			width: 100px;

			text-align: right;
		}
	}
}

.payCommandsList {

	&_item {
		margin: 0 0 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.descPay {
		display: block;

		text-align: center;
	}

	.btnPay {
		.grayGradDark();
		.rounded(4px);
		width: 200px;
		height: 32px;
		margin: 0 0 10px;
		padding: 0;

		color: #383a3c;
		border: 1px solid #c7c7c7;

		font-size: 14px;
		line-height: 3px;
	}
}

.personalInfo {
	margin: 0 0 15px;

	color: #6f7173;

	font-size: 14px;

	.decorColor {

		&-bullet {
			display: list-item;
		}
	}
}