.pagehead {
  // float: left;
  padding-bottom: 20px;
  width: 100%;
}
.breadcrumbs-footer {
  color: @typGray;
  font-size: 11px;
  padding: 0px 0px 15px 0;
  width: 750px;
  a {
    color: @typGray;
  }
}