.pagehead {
  float: left;
  padding-bottom: 20px;
  width: 100%;
}
.breadcrumbs-footer {
  color: #a6a6a6;
  font-size: 11px;
  padding: 0px 0px 14px 10px;
  a {
    color: #a6a6a6;
  }
}
.breadcrumbs {
  color: #a6a6a6;
  float: left;
  font-size: 11px;
  padding-bottom: 9px;
  a {
    color: #a6a6a6;
  }
}
.searchbox {
  float: right;
  height: 28px;
  margin-top: 2px;
  width: 343px;
  .searchtext {
    .rounded(5px);
    background: #fff;
    border: 1px solid #c9c9c9;
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0px 5px;
    width: 297px;
  }
  .searchbutton {
    background: url("@{base-url}/pagehead/img/searchBtn.png") no-repeat;
    border: 0px;
    cursor: pointer;
    float: left;
    height: 28px;
    margin-left: -5px;
    text-indent: -10000px;
    width: 39px;
  }
}