.pagehead {
  // float: left;
  padding-bottom: 20px;
  width: 100%;
}
.breadcrumbs-footer {
  color: @typGray;
  font-size: 11px;
  padding: 0px 0px 15px 0;
  width: 750px;
  a {
    color: @typGray;
  }
}
.breadcrumbs {
  color: @typGray;
  // float: left;
  font-size: 11px;
  padding: 5px 0;
  a {
    color: @typGray;
  }
}
.searchbox {
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px;

  .searchtext {
    .rounded(4px);
    background: @white;
    border: 1px solid #c9c9c9;
    float: left;
    height: 26px;
    line-height: 26px;
    // margin-right: -25px;
    padding: 0 0 0 10px;
    position: relative;
    width: 840px;
    behavior: url('@{pie}');
    -webkit-appearance: none;
  }
  .searchbutton {
    -webkit-appearance: none;
    // .orangeGradLight();
    // .darkGrad();
    .darkGradLigtenBottom();
    // background: url("@{base-url}/pagehead/img/searchBtn.png") no-repeat;
    // border: 0px;
    // cursor: pointer;
    // float: left;
    // height: 28px;
    // position: relative;
    // text-indent: -10000px;
    // width: 39px;
    // z-index: 2;
    // 
    border: 0 none;
    .rounded(4px);
    color: @white;
    cursor: pointer;
    display: block;
    float: right;
    height: 28px;
    // margin: 0 0 0 10px;
    padding: 0 19px;
    position: relative;
    z-index: 2;
  }
}