#orderMapPopup{
  background: #F1F1F1;
  //display: block;
  height: 572px;
  left: 14%;
  padding: 30px 0;
  position: absolute;
  top: 12%;
  width: 950px;
  .bMapShops__eList {
    background: @white;
    height: 100%;
    overflow-y: scroll;
    width: 287px;
    h3 {
      font: 18px Tahoma, sans-serif;
      margin-bottom: 0px;
      padding: 0px 35px 0px 20px;
    }
    ul {
      padding: 0px;
    }
    li {
      cursor: pointer;
      font: 14px Tahoma, sans-serif;
      padding: 12px 35px 12px 20px;
      &:hover {
        background: #fff1d8;
      }
      span {
        font-family:Tahoma, sans-serif;
        font-size:12px;
        line-height:26px;
      }
    }
  }
}
.bMapShops__eListNum {
  color: @white;
  float: left;
  font-family:Tahoma, sans-serif;
  font-size:12px;
  font-weight:bold;
  height: 39px;
  margin-right: 24px;
  padding-top: 4px;
  text-align: center;
  width: 24px;
}
.bMapShops__ePopupRel{
  padding: 8px;
  position: relative;
  h3 {
    font: 18px Tahoma, sans-serif;
    margin: 0px 0px 15px;
  }
  span {
    font: 12px Tahoma, sans-serif;
  }
  .bGrayButton {
    margin: 15px 0px 0px;
  }
}
/*
.bInShop__eBottom .bMapShops__eMapWrap, 
.mMapPopup .bMapShops__eMapWrap,
.bFast .bMapShops__eMapWrap {
  .inner-shadow(0px, 0px, 5px, #777);
  border: 1px solid #c7c7c7;
  float: right;
  height: 550px;
  overflow: hidden;
  position: relative;
  width: 660px;
}
*/