.popupRegion{
  @colomnW:205px;
  @colomnH:300px;
  @controlW:50px;
  @colomnMarginT:20px;
  width:(@colomnW * 4);
  overflow: visible;
  &.popup{
    padding: @controlW;
  }
  &__eTopText{
    margin: 10px 0 20px;
  }
  &__eForm{
    position: relative;
  }
  
  .popuptitle{
    font-family: "Enter";
    font-size: 30px;
    font-weight: 100;
    float:none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .hidden{
    display:none;
  }
  .bBuyingLine__eText{
    margin: 0 10px 0 0;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    width:(@colomnW*3)+20;
  }
  .inputClear{
    background: @typGray;
    .rounded(15%);
    color: @white;
    font-family: Tahoma;
    font-size: 20px;
    height: 20px;
    left: 629px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 20px;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  .bigbutton{
    //margin:-1px 0 0 -1px;  
    height: 33px;
    line-height: 33px;
  }
  .cityInline{
    margin: 20px 0 0;
    // word-spacing: 15px;
    .cityItem {
      // width: @colomnW;
      // float:left;
      display: inline;
      a {
        border-bottom: 1px dotted black;
        display: inline;
        margin-left:20px;
        &.moreCity{
          &:before{
            display: inline-block;
            content: '▶';
            margin-right: 5px;
          }

          &.mExpand{
            &:before{
              display: inline-block;
              content: '▼';
              margin-right: 5px;
            }
          }
        }
      }
    }
    a:hover{
      text-decoration: none;
    } 
  }
  .colomn{
    float:left;
    // height: @colomnH;
    margin-top: @colomnMarginT;
    width:@colomnW;
    a {
      font-family: Tahoma, sans-serif;
      line-height:1.5em;
      margin-left:20px;
      display:block;
    }
  }
  .info{
    font-size: 14px;
  }
  .BlackArrow{
    background: none;
    height: 100%;
    margin-top: @colomnMarginT;
    width: @controlW;
    position: absolute;
    top: 0;
    &.leftArr{
      background: lighten(@firmOrange, 45%) url('@{base-url}/popup/img/arrow1.png') no-repeat 50% 50%;
      display: none;
      margin-left: -@controlW;
      left: 0;
      &:hover{
        background-color: lighten(@firmOrange, 25%);
      }
    }
    &.rightArr{
      background: lighten(@firmOrange, 45%) url('@{base-url}/popup/img/arrow2.png') no-repeat 50% 50%;
      margin-right: -@controlW;
      right: 0;
      &:hover{
        background-color: lighten(@firmOrange, 25%);
      }
    }
  }
  .regionSlidesWrap{
    width: @colomnW * 4;
    // overflow: hidden;
    position: relative;
    display: none;
  }
  .regionSlides{
    position: relative;
    left:0;
    width: @colomnW * 8;
    &_slide{
      float: left;
      width: @colomnW * 4;
    }
  }
}