.popup{
  .rounded(6px);
  .box-shadow(0 0 7px @typBoxShadowColor);
  background-color:@white;
  border:2px solid @firmOrange;
  color: @black;
  cursor: default;
  display: none;
  overflow: hidden;
  padding: 20px 25px;
  position: relative;
  text-align: left;
  .close{
    background: url("@{base-url}/common/img/closeBtnOrange.png") no-repeat 0 0 ;
    cursor: pointer;
    display: block;
    height: 26px;
    position: absolute;
    right: 0;
    text-indent:-10000px;
    top: 0;
    width: 26px;
  }
}