.popupRegion {
    min-width: 460px;
    min-height: 230px;
    overflow: visible;

    &, * {
        box-sizing: border-box;
    }

    &.popup {
        padding: 30px 20px;
        border: 1px solid #d7d7d7;
        .rounded(0);

        .close {
            background: none;

            text-indent: 0;
            font-size: 22px;
            color: #afafaf;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__eTopText {
        margin: 10px 0 20px;
    }

    &__eForm {
        position: relative;
        z-index: 2;
    }

    .popuptitle {
        float: none;

        margin: 0 0 20px;

        padding: 0;

        text-align: center;
        font-size: 22px;
    }

    .hidden {
        display: none;
    }

    .bBuyingLine {

        &__eText {
            display: block;
            width: 100%;
            height: 35px;
            margin-bottom: 10px;

            border: 1px solid #d7d7d7;
            padding: 10px;
            .rounded(3px);

            font-size: 18px;
            color: #363636;

            &:focus {
                border-color: #d7d7d7;
            }
        }

    }
    .inputClear {
        position: absolute;
        top: 10px;
        left: 100%;

        width: 15px;
        height: 15px;
        margin-left: -25px;

        background: #d7d7d7;
        .rounded(50%);

        font-size: 12px;
        text-align: center;
        color: @white;
        line-height: 1.2;

        &:hover {
            text-decoration: none;
        }
    }

    .bigbutton {
        display: block;
        width: 140px;
        height: 35px;
        margin: auto;

        .rounded(3px);
        background: #ffa400;

        font-size: 20px;
        text-align: center;
        line-height: 35px;

        &:hover {
            background: #ff8600;
        }
    }

    .cityInline {
        margin: 0 0 30px 10px;

        .cityItem {
            display: inline;

            font-size: 14px;

            a {
                display: inline;
                margin-left: 5px;

                border-bottom: 1px dotted #afafaf;

                color: #868686;

                &.moreCity {
                    zoom: 1;

                    &:before {
                        display: inline-block;
                        content: '▶';
                        margin-right: 5px;
                    }

                    &.mExpand {

                        &:before {
                            display: inline-block;
                            content: '▼';
                            margin-right: 5px;
                        }
                    }
                }
            }

            &__desc {
                color: #868686;
            }
        }
        a:hover {
            text-decoration: none;
        }
    }
    .colomn {
        float: left;

        a {
            font-family: Tahoma, sans-serif;
            line-height: 1.5em;
            margin-left: 20px;
            display: block;
        }
    }
    .info {
        font-size: 14px;
    }
    .BlackArrow {
        background: none;
        height: 100%;
        position: absolute;
        top: 0;
        cursor: pointer;

        &.leftArr {
            background: lighten(@firmOrange, 45%) url('@{base-url}/popup/img/arrow1.png') no-repeat 50% 50%;
            display: none;
            left: 0;

            &:hover {
                background-color: lighten(@firmOrange, 25%);
            }
        }
        &.rightArr {
            background: lighten(@firmOrange, 45%) url('@{base-url}/popup/img/arrow2.png') no-repeat 50% 50%;
            right: 0;

            &:hover {
                background-color: lighten(@firmOrange, 25%);
            }
        }
    }
    .regionSlidesWrap {
        // overflow: hidden;
        position: relative;
        display: none;
        z-index: 1;
    }
    .regionSlides__inner {
        position: relative;
        overflow: hidden;
    }
    .regionSlides {
        position: relative;
        left: 0;
        &_slide {
            float: left;
        }
    }
    .bSelectRegionDd {
        background: @white;
        z-index: 2;
    }

    .ui-css {

        .ui-menu {
            width: 100%;
            padding: 0;
            border: 1px solid #d7d7d7;
        }

        .ui-menu-item {

            .rounded(0);
            .box-sizing();
            border: 0;

            font-size: 14px;



            a {
                display: block;
                padding: 3px 10px;
                border: 0;
                .rounded(0);

                &.ui-state-focus {
                    background: none;
                }

                &:hover {
                    background: #fff7e5;
                }
            }
        }
    }
}