.allpopupstyle() {
    position: relative;

    display: none;

    text-align: left;
    .close {
        position: absolute;
        top: 0;
        right: 0;

        display: block;

        width: 26px;
        height: 26px;

        cursor: pointer;
    }
}
.popup {
    overflow: hidden;

    padding: 20px 25px;

    cursor: default;

    color: @black;
    border: 2px solid @firmOrange;
    background-color: @white;

    .rounded(6px);
    .box-shadow(0 0 7px @typBoxShadowColor);
    .allpopupstyle();
    .close {
        text-indent: -10000px;

        background: url('@{base-url}/common/img/closeBtnOrange.png') no-repeat 0 0 ;
    }
}
.blackPopup {
    color: @white;
    background: @black;

    .allpopupstyle();
    .close {
        font-family: sans-serif;
        font-size: 18px;
        line-height: 26px;

        text-align: center;
    }
}
