// old brash
@font-face {
    font-family: 'Enter';

    src: url('/styles/common/fonts/enter_brash_01-webfont.eot');
    src: url('/styles/common/fonts/enter_brash_01-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/common/fonts/enter_brash_01-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Rouble';

    src: url('/styles/common/fonts/rouble.eot');
    src: url('/styles/common/fonts/rouble.eot?#iefix') format('embedded-opentype'),
    url('/styles/common/fonts/rouble.ttf') format('truetype');
}

@font-face {
    font-family: 'Enter Type';
    font-weight: normal;
    font-style: normal;

    src: url('/styles/common/fonts/enter_type-webfont.eot');
    src: url('/styles/common/fonts/enter_type-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/common/fonts/enter_type-webfont.woff') format('woff'),
    url('/styles/common/fonts/enter_type-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Enter Type Bold';
    font-weight: normal;
    font-style: normal;

    src: url('/styles/common/fonts/entertype_bold-webfont.eot');
    src: url('/styles/common/fonts/entertype_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/common/fonts/enter_type-webfont.woff') format('woff'),
    url('/styles/common/fonts/entertype_bold-webfont.ttf') format('truetype');
}

.rouble {
    font-family: 'Rouble';
    font-size: 36px;
}

@font-face {
    font-family: 'menuIconFont';
    font-weight: normal;
    font-style: normal;

    src: url('/styles/common/fonts/iconFont/entericon-regular-webfont.eot');
    src: local('menuIconFont'),
    url('/styles/common/fonts/iconFont/entericon-regular-webfont.woff') format('woff'),
    url('/styles/common/fonts/iconFont/entericon-regular-webfont.ttf') format('truetype'),
    url('/styles/common/fonts/iconFont/entericon-regular-webfont.svg#menuIconFont') format('svg');
}

@font-face {
    font-family: 'icons';
    font-weight: normal;
    font-style: normal;

    src: url('/styles/common/fonts/fontello/icons.eot?6989503');
    src: url('/styles/common/fonts/fontello/icons.eot?6989503#iefix') format('embedded-opentype'),
    url('/styles/common/fonts/fontello/icons.woff?6989503') format('woff'),
    url('/styles/common/fonts/fontello/icons.ttf?6989503') format('truetype'),
    url('/styles/common/fonts/fontello/icons.svg?6989503#arrow') format('svg');
}

@font-face {
    font-family: 'rate-stars';
    src: url('/styles/common/fonts/stars/rate-stars.eot?36922265');
    src: url('/styles/common/fonts/stars/rate-stars.eot?36922265#iefix') format('embedded-opentype'),
    url('/styles/common/fonts/stars/rate-stars.woff?36922265') format('woff'),
    url('/styles/common/fonts/stars/rate-stars.ttf?36922265') format('truetype'),
    url('/styles/common/fonts/stars/rate-stars.svg?36922265#rate-stars') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lst-type';
    src: url('/styles/common/fonts/listing/lst-type.eot?74670604');
    src: url('/styles/common/fonts/listing/lst-type.eot?74670604#iefix') format('embedded-opentype'),
    url('/styles/common/fonts/listing/lst-type.woff?74670604') format('woff'),
    url('/styles/common/fonts/listing/lst-type.ttf?74670604') format('truetype'),
    url('/styles/common/fonts/listing/lst-type.svg?74670604#lst-type') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kit';
    src: url('/styles/common/fonts/kit/kit.eot?');
    src: url('/styles/common/fonts/kit/kit.eot?#iefix') format('embedded-opentype'),
    url('/styles/common/fonts/kit/kit.woff?') format('woff'),
    url('/styles/common/fonts/kit/kit.ttf?') format('truetype'),
    url('/styles/common/fonts/kit/kit.svg?#kit') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alert';
    src: url('/styles/common/fonts/alert/alert.eot?');
    src: url('/styles/common/fonts/alert/alert.eot?#iefix') format('embedded-opentype'),
    url('/styles/common/fonts/alert/alert.woff?') format('woff'),
    url('/styles/common/fonts/alert/alert.ttf?') format('truetype'),
    url('/styles/common/fonts/alert/alert.svg?#kit') format('svg');
    font-weight: normal;
    font-style: normal;
}