/* ==========================================================================
   Карточка товара -> выбор модели .chooseModel, .chooseModelColor, .chooseModelNum
   ========================================================================== */

@media only screen and (max-width: 900px) {

	.chooseModel {
	    max-width: 562px;
	    margin: 0 auto 15px;
	    padding: 0 10px 10px;

		border-top: medium none;
	}
}