/* ==========================================================================
   Кнопка купить .btnBuy
   ========================================================================== */

.btnBuy {
	.gradient(#ffc000, #ffaa01, #ffc000);
    .rounded(5px);
    display: block;

    width: 120px;
    height: 38px;

    text-align: center;

    color: @white;
    border: 1px solid #fb9c00;

    font-size: 21px;
    line-height: 38px;

    &:hover {
        .gradient(#ffa200, #f79200, #ffa200);
        text-decoration: none;
        color: @white;
    }

    &:active {
        background: #f79200;
        text-decoration: none;
    }

    // в корзине
    &__incart {
        border-color: @black;
        color: @black;
        background: @white;

        &:hover,
        &:active {
            border-color: @black;
            color: @black;
            background: @white;
        }
    }

    // резерв и на витрине
    &__inshop {
        .blackGrad();

        border: 1px solid #a1a1a1;

        &:hover,
        &:active {
            background: @black;
        }
    }

    // недоступен
    &__disabled {
        background: @white;
        border-color: @white;
        color: @typGray;

        &:hover,
        &:active {
            background: @white;
            border-color: @white;
            color: @typGray;
        }
    }
}

.btnBuyOneClick {
    margin: 10px 0 0;

    &_link {
        text-decoration: underline;
        font-size: 14px;
    }
}