.checkout-comment {
    margin: 0 0 30px;
    &__title {
        margin: 0 10px 10px;

        cursor: pointer;
        padding-right: 11px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAQAAAClB0z9AAAAPklEQVQI1zWJsREAEBTFYgBrWMs27x+lXcxkBtVTIKlyIab8jYmK9sutAkR/rwPQciw5VstcVGVVPk4aTgAHJqwlnH1go4cAAAAASUVORK5CYII=') no-repeat 100% 50%;

        .font-size(14);
        .inline-block();
        &.active {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAQAAAClB0z9AAAAQElEQVR4AWMAgf+MbZP+MzLAQFt82/+2eCink7f9edv/9uedvGBuexdQDgjbu0AK1dp+QrhAWo2hfSuICZXfCgAPEiWcCrQuZgAAAABJRU5ErkJggg==') no-repeat 100% 50%;
        }
    }
    &__field {
        width: 400px;
    }
}
