.checkout-order-location {
    margin: 0 0 15px;

    .font-size(14);
    &__city {
        color: @orange-bright;
    }
    &__change {
        margin-left: 5px;

        color: @grey-bright;

        .font-size14(12);
        .inline-block(baseline);
    }
}

.checkout-order-split-info {
    margin: 0 0 10px;

    color: @orange-bright;

    .font-size(14);
}

.checkout {
    margin: 40px 32px 30px;
    &__title {
        font-weight: normal;

        margin: 0 0 20px;

        .font-size(22);
    }
}

.checkout-order {
    margin: 0 0 50px;

    .clearfix();
    &__number {
        margin-right: 20px;

        .font-size(20);
        .inline-block(middle);
    }
    &__vendor {
        vertical-align: middle;

        color: @grey-type;

        .font-size(14);
        .font-face('GloberRegular');
        &-offer {
            width: 19px;
            height: 19px;
            margin-left: 2px;

            background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAA70lEQVR4AY2SJXBEQQyGY8rgyq1X1WVVVLV15+rtumO0z/uC9zNFP28CD/S69WWG7PF9aiH5g6CkK5GRa7b8yFauI5OuQCvJiDTIYUB7tIDDtEB7GJCTRjLi68zyPZ2Hc9BEOEfnfJ/O/ivxPVbgl9x0YTU3Cb9ghe9/FaVB56pROa28lzN6p3NpfCdOzg9X2SlfltabQrt0BSKDAfQEg8iAXNMeeBSPy2HxCDxoT66BLS2Aormp2QJb4Ecc7m2Gw/w4oJrm1mLWkptW6pu1Vqp9azFr6VvrFMqZylPppGUKLTNVWmY6yIYMvm8Dbu8HCFu+2E7VJeUAAAAASUVORK5CYII=');


            .inline-block(middle);
        }
    }
    &__left {
        padding-right: 450px;
        .checkout-order__content {
            margin-right: 10px;
        }
    }
    &__right {
        float: right;

        width: 450px;
        padding: 0;
        .checkout-order__content {
            padding: 15px 10px 5px;

            border: 1px solid @grey-light-3;
            border-top: none;
        }
    }
    &__content {
        .font-size(14);
    }
}