.checkout-complete {
    &-box {
        margin-bottom: 40px;
        &__head {
            margin-bottom: 10px;
            padding: 0 10px;

            border-bottom: 4px solid @grey-light-3;

            .clearfix();
        }
        &__content {
            width: 100%;
        }
        &__title {
            float: left;
            margin-right: 20px;

            .font-size(20);
        }
        &__error {
            float: left;

            color: @red-normal;

            .font-size(20);
            &:before {
                width: 24px;
                height: 21px;

                content: '';

                background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAVCAMAAABrN94UAAAAflBMVEUAAADcRjjgRDjcRDjjRzn/gEDbRDjbRTjcRjjcRDjbRTjbRTjcRTjcRjjbRDf////++vrbSDvng3vlenHeVEjjcmj++/viamD88/LgYlf76+rfW1DdT0LdUET54uDzwr7dUkbnhHzmgHf99vbleG/mgXj54+HkdGr99vXbRjre6R9bAAAADnRSTlMASSmSEgT77W6319a2bQnQ9a0AAACUSURBVHjabc5HDsMwEARBUZFU6JVzzvn/HzRAEbCxYh9nLpX8ZUwSrajrInpYsLE9r6DKI0cGkI33tAQo09HhmPa3OU7vBh4iezCaCjORDyiyBRayBLCaykrW4MmKupEtnqypO3miyA6Aw/GEz/2ovvPlypAJ1AbfXWSCrxnIHUOv/h0OukBVBXJGpMxTVYHcEq39An7SDwns6gOIAAAAAElFTkSuQmCC');

                .inline-block();
            }
        }
        &__summ {
            float: right;
            &-title {
                color: @grey-type;

                .font-size(18);
                .font-face('GloberRegular');
                .inline-block(middle);
            }
            &-value {
                width: 105px;

                text-align: right;

                color: @orange-bright;

                .font-size(20);
                .inline-block(middle);
            }
        }
        &__right {
            width: 232px;
            padding-right: 10px;

            vertical-align: top;
        }
        &__left {
            width: 345px;
            padding-left: 10px;

            vertical-align: middle;
        }
        &__center {
            padding: 0 10px;

            vertical-align: middle;

            .font-size(14);
        }
    }
}

.checkout-complete-orders {
    &__item {
        margin: 0 0 2px;

        color: @grey-bright;

        .font-size(14);
        .font-face('GloberRegular');
    }
}

.checkout-complete-payment {
    padding: 10px;

    text-align: center;

    border: 1px solid @orange-bright;
    &__title {
        margin: 0 0 3px;

        .font-size(16);
    }
    &__btn {
        margin-right: 5px;
    }
    &__img {
        .inline-block(middle);
    }
}

.checkout-continue {
    text-align: center;
    &__link {
        color: @grey-type;

        .font-size(20);
        .font-face('GloberRegular');
    }
}
