.pick-point-nomatch {
    margin-top: 10px;

    color: @grey-type;

    .inline-block();
}

.delivery-points-lwrap {
    overflow-x: hidden;
    overflow-y: auto;

    min-height: 374px;
    max-height: 374px;
    border-bottom: 1px solid @grey-light-3;
    border-top: 1px solid @grey-light-3;
}

.delivery-points-list {
    text-align: left;
    &__row {
        width: 415px;
        margin: 0 6px 0 3px;

        cursor: pointer;

        &:not(:last-child) {
            .table-cell {
                border-bottom: 1px solid @grey-light-3;
            }
        }

        &:hover {
            .table-cell {
                background: @orange-light-4;
            }
        }
        
        &:hover .pick-point-item__buy{
            display: block;
        }

        &:hover .pick-point-item__info:not(.pick-point-item__info--nobtn, .no-hide-info) .pick-point-item__date,
        &:hover .pick-point-item__info:not(.pick-point-item__info--nobtn, .no-hide-info) .pick-point-item__price{
            display: none;
        }
    }
    &__name {
        font-size: 10px;

        display: block;

        width: 70px;

        color: @grey-type;
    }
    &__address {
        position: relative;

        width: 100%;
        min-width: 0;
        margin: 0 0 5px 5px;
        padding: 10px 5px 10px 10px;
        &-name {
            line-height: 1.3;

            clear: both;

            margin: 0 0 2px;

            color: @grey-type;

            .font-size(14);
        }
        &-time {
            clear: both;

            color: @grey-type;

            .font-face('GloberRegular');
        }
    }
    &__logo {
        position: relative;

        width: 67px;
        padding: 10px 5px;

        text-align: center;
        vertical-align: middle;
    }
    &__img {
        max-width: 100%;
        margin: 0 0 5px;
    }
    &__metro {
        position: relative;

        width: 175px;

        .inline-block();
        &:after {
            position: absolute;
            top: 7px;
            left: -14px;

            width: 7px;
            height: 7px;

            content: '';

            background: inherit;

            .rounded(50%);
        }
        &-inn {
            background: @white;
        }
    }
    &__info {
        position: relative;

        padding: 10px 10px 0 0;

        text-align: right;
        vertical-align: top;
        white-space: nowrap;
        &--ondisplay {
            padding-top: 8px;
        }
        &-date {
            line-height: 1;

            width: 96px;
            margin: 0 0 5px;
            padding: 4px 5px 1px;

            text-align: right;

            background: @orange-light-3;

            .inline-block();
        }
        &-price {
            clear: both;

            text-align: right;

            color: @grey-type;

            .font-size(14);
        }
        &-popup {
            right: 5px;
            margin-top: 5px;
            background: @grey-light-4;
            .box-shadow(none);
            border: none;
            text-align: left;
            .font-size(14);
            &:before {
                right: 7px;
                .pseudo-corner-top(6px, @grey-light-4, -6px);
            }
        }
    }
    &__buy {
        display: none;
        float: right;

        margin: 0 2px 0;
    }
    &__ondisplay {
        &-lbl {
            vertical-align: middle;

            color: @grey-type;

            .font-size(14);
        }
        &-icon {
            margin-right: 5px;

            vertical-align: middle;
        }
        &-popup {
            position: absolute;
            top: 38px;
            right: 8px;

            width: 348px;
            padding: 10px;

            text-align: left;

            color: @grey-type;

            .font-size(14);
            p {
                margin: 0;
            }
            &:after {
                right: 8px;

                .pseudo-class();
                .pseudo-corner-top(6px, #fff, -6px);
            }
            &:before {
                right: 6px;

                .pseudo-class();
                .pseudo-corner-top(8px, #c7c7c7, -8px);
            }
        }
    }
}

.deliv {
    &-info {
        &__date {
            line-height: 1;

            width: 80px;
            padding: 2px 5px;

            text-align: center;

            color: #424242;
            background: rgba(249,155,28,.25);

            .font-size(14);
            .inline-block(middle);
            .rounded(3px);
        }
        &__price {
            .font-size(14);
            .inline-block(middle);
        }
        &__buy {
            margin-left: 40px;

            .inline-block(middle);
        }
        &-more-link {
            margin-left: 70px;

            color: #8c8c8c;
            border-bottom: 1px solid #8c8c8c;

            .font-size(14);
            .inline-block(middle);
            &:hover {
                text-decoration: none;
            }
        }
    }
}


.pick-point {
    .selShop_r {
        .pick-point-list {
            line-height: 1.2;

            width: 390px;
            min-height: 50px;
            padding-top: 0;
            .pick-point-item__metro {
                width: 175px;
            }
        }
        .btn-type--buy {
            margin: 10px auto 0;
        }
        .pick-point-item {
            border: none;
            border-bottom: none;
            & td {
                padding-top: 0;
                padding-bottom: 5px;
            }
        }
    }
}


ymaps[class$='-balloon__content'] {
    height: 100% !important;
    padding: 10 !important;
    & > ymaps {
        height: 100% !important;
    }
}

.no-cssgradients {
    .selShop.pick-point {
        .selShop_l {
            &:not(.nobefore):after {
                width: 0;
                height: 0;

                background: none;
            }
            &:not(.nobefore):before {
                width: 0;
                height: 0;

                background: none;
            }
        }
    }
}
