.pick-point-nomatch {
    margin-top: 10px;

    color: @grey-type;

    .inline-block();
}

.delivery-points {
    .clearfix();

    border-bottom: 1px solid @grey-light-3;
}

.delivery-points-lwrap {
    position: relative;
    border-top: 1px solid @grey-light-3;
    &__inn {
        overflow-x: hidden;
        overflow-y: auto;

        min-height: 374px;
        max-height: 374px;
    }
    &:before {
        position: absolute;
        z-index: 12;
        top: 0;
        right: 0;
        left: 0;

        width: 100%;
        height: 10px;

        content: '';

        .gradient__top-white__bottom-transparent();
    }
    &:after {
        position: absolute;
        z-index: 12;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 10px;

        content: '';

        .gradient__top-transparent__bottom-white();
    }
}

.delivery-points-list {
    text-align: left;
    width: 97%;
    &__row {
        cursor: pointer;
        .table-cell {
            min-height: 85px;
        }
        &:not(:last-child) {
            .table-cell {
                border-bottom: 1px solid @grey-light-3;
            }
        }
        &:hover {
            .table-cell {
                background: @orange-light-4;
            }
            .delivery-points-list__address-metro__inn {
                background: @orange-light-4;
            }
        }
        // &:not(.no-hidden):hover {
        //     .delivery-points-list__info {
        //         padding-top: 0;
        //         vertical-align: middle;
        //         &-btn {
        //             display: block;
        //         }
        //         &-hidden {
        //             display: none;
        //         }
        //     }
        // }
        &.no-hidden {
            .delivery-points-list__info {
                vertical-align: top;
            }
        }
    }
    &_on-map {
        font-size: 12px;
        .delivery-points-list__address-name {
            font-size: 12px;
        }
        .delivery-points-list__address-metro {
            font-size: 14px;
        }
        .btn-primary {
            font-size: 14px;
        }
    }
    &__info-hidden {
        margin-top: 10px;
    }
    &__name {
        font-size: 10px;

        display: block;

        width: 70px;

        color: @grey-type;
    }
    &__address {
        position: relative;

        width: 219px;
        min-width: 0;
        max-width: 219px;
        margin: 0 0 5px 5px;
        padding: 10px 5px 10px 10px;
        &-name {
            line-height: 1.3;

            clear: both;

            margin: 0 0 2px;

            color: @grey-bright;

            .font-size(14);
        }
        &-time {
            clear: both;

            word-wrap: break-word;

            color: @grey-bright;

            .font-face('GloberRegular');
        }
        &-metro {
            position: relative;

            .font-size(14);
            .inline-block();
            &:after {
                position: absolute;
                top: 5px;
                left: -10px;

                width: 6px;
                height: 6px;

                content: '';

                background: inherit;

                .rounded(50%);
            }
            &__inn {
                background: @white;
            }
        }
    }
    &__logo {
        position: relative;

        width: 67px;
        max-width: 67px;
        padding: 10px 5px;

        text-align: center;
        vertical-align: middle;
    }
    &__img {
        max-width: 100%;
        margin: 0 0 5px;
    }
    &__info {
        position: relative;

        padding: 0 10px 0 0;

        text-align: right;
        vertical-align: top;
        white-space: nowrap;
        &--ondisplay {
            padding-top: 8px;
        }
        &-date {
            line-height: 1;

            width: 96px;
            margin: 0 0 5px;
            padding: 0 5px 0 0;
            line-height: 17px;

            text-align: right;

            background: @orange-light-3;

            .inline-block();
        }
        &-price {
            clear: both;

            text-align: right;

            color: @grey-bright;

            .font-size(14);
        }
        &-btn {
            display: none;
        }
    }
    &__buy {
        display: none;
        float: right;

        margin: 0 2px 0;
    }
}

.delivery-points-warning {
    clear: both;
    .font-size(16);
    margin: 20px 0 0;
    padding: 0 0 0px 30px;
    background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABE0lEQVR4Aa2UtVkFQRzEJ8Elw6EEYjxCIyLc3clfA2hKE0gXaAH0QHY5POTPDC57fvN9Z3szv/WFS7aBJltBjtcFrzteD3p+fOf0H2GybRTZKg4Z8GwZR7x6+F5nwyjUU98q13/55HeD1lBNww3NJ7aEGgRI/+WTXzlXiwTa/RecRCWvZrauHH8kv3K/WqgmqyZnK+awzMtsFjNwSDnlfw6259c1m0IXQWcEtvp1WXlxoNnRoCKFlBdHsAvNkq9xFoO8btmygQBYjzj4WD91kELHzC3lxdHLg9ZRGpjy4mTeso8xC4eFjVnobP6Ehc1m+Dr7AQtbZ6E7QBDC8jaD0ZAdELI3Q/Rzb2Z5amR/nmV60r4Cg0QdUkWNMe8AAAAASUVORK5CYII=');
}

// попап-подсказка с описание пункта самовывоза
.drop-filter-box {
    &__dd {
        &-line {
            &:first-child {
                .delivery-points-info__popup_top {
                    top: 18px;
                }
            }
        }
    }
}

.delivery-points-info {
    &_absolute {
        position: absolute;
        top: 8px;
        right: 5px;
    }
    &_inline {
        margin: 0 2px;

        .inline-block();
    }
    &:hover {
        .info-popup {
            visibility: visible;
            overflow: visible;

            .opacity(1);
        }
    }
    &__icon {
        display: block;

        width: 15px;
        height: 27px;
        margin: -6px 0;

        cursor: pointer;

        background: no-repeat 50% 50% url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAA3UlEQVQY04VRuw3CMBC1gpSaEkLFAkyC6JC8AEhkBiQQ5E40bMAMFB6BNAgp6XLnLBDECKmMcQIODVx11rv3ubMQrkxQSq244porrUppAuFLjzmjlGQeFWEekaSUMz3+gHSnWHwVxXR3AyawTAvCEC74wBts5r1mgDNrUVqphoFrWIJCg4tWIS2l0IqkF4UJGji0sA0ruMojD+MRzX7a9HnEleC6CD/gynJ371cRcv3Fxmty8kqO3fXez5JRZ7mXt0++7cMZOjFd8vfeFh5ADVt/GLf3n6v9vfmvH3sCOmOZHe79JcUAAAAASUVORK5CYII=');
    }
    &__link {
        color: @grey-type;
    }
    &__popup {
        z-index: 20;

        text-align: left;

        border: none;
        background: @grey-light-4;

        .box-shadow(none);
        &_right {
            right: 6px;

            margin-top: 6px;

            .font-size(14);
            &:before {
                right: 7px;

                .pseudo-corner-top(6px, @grey-light-4, -6px);
            }
        }
        &_left {
            top: -6px;
            left: 25px;

            padding: 7px 10px 5px;

            white-space: nowrap;
            &:before {
                left: -6px;

                .pseudo-corner-right(6px, @grey-light-4, 8px);
            }
        }
        &_top {
            top: -21px;
            right: 0;
            left: 0;

            padding: 4px 0 2px 10px;

            white-space: nowrap;
        }
    }
}

.deliv {
    &-info {
        &__date {
            line-height: 1;

            width: 80px;
            padding: 2px 5px;

            text-align: center;

            color: #424242;
            background: rgba(249,155,28,.25);

            .font-size(14);
            .inline-block(middle);
            .rounded(3px);
        }
        &__price {
            .font-size(14);
            .inline-block(middle);
        }
        &__buy {
            margin-left: 40px;

            .inline-block(middle);
        }
        &-more-link {
            margin-left: 70px;

            color: #8c8c8c;
            border-bottom: 1px solid #8c8c8c;

            .font-size(14);
            .inline-block(middle);
            &:hover {
                text-decoration: none;
            }
        }
    }
}


.pick-point {
    .selShop_r {
        .pick-point-list {
            line-height: 1.2;

            width: 390px;
            min-height: 50px;
            padding-top: 0;
            .pick-point-item__metro {
                width: 175px;
            }
        }
        .btn-type--buy {
            margin: 10px auto 0;
        }
        .pick-point-item {
            border: none;
            border-bottom: none;
            & td {
                padding-top: 0;
                padding-bottom: 5px;
            }
        }
    }
    &-suggest {
        position: relative;
        top: 0;

        width: 399px;
        .ui-autocomplete {
            position: absolute;
            z-index: 40;
            top: 34px;
            left: 0;

            overflow: auto;

            width: 100%;
            min-height: 100px;
            max-height: 160px;
            padding: 0;

            border: 1px solid @grey-light-2;
            background-color: @white;
            border-top: 0;
            & > li {
                font-family: GloberRegular;

                margin: 0;
                padding: 4px 10px 2px;

                cursor: pointer;

                color: @grey-type;

                .font-size(14);
                &.ui-state-focus,
                &:hover {
                    color: @orange-bright;
                    background: @orange-light-4;
                }
            }
        }
    }
}

.delivery-points-map {
    .btn-primary {
        font-size: 14px;
    }
    .delivery-points-list__row:hover .table-cell {
        background: @white;
    }
    .delivery-points-list__logo {
        padding-left: 0;
    }
    .delivery-points-list__info {
        padding: 0;
    }
}

ymaps[class$='-balloon__content'] {
    height: 100% !important;
    padding: 10 !important;
    & > ymaps {
        height: 100% !important;
    }
}

.no-cssgradients {
    .selShop.pick-point {
        .selShop_l {
            &:not(.nobefore):after {
                width: 0;
                height: 0;

                background: none;
            }
            &:not(.nobefore):before {
                width: 0;
                height: 0;

                background: none;
            }
        }
    }
}
