//TODO: удалить файл после перехода на новую карточку товара.
.selShop.deliv-wrap {
    width: 900px;

    .rounded(0px);
    .selShop_l {
        position: relative;

        display: block;

        width: auto;

        border-top: 1px solid #d3d3d3;
        &:not(.nobefore):after {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 96%;
            height: 60px;

            content: '';
            //.gradient(rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
        }
        &:not(.nobefore):before {
            position: absolute;
            top: 0;
            left: 0;

            width: 96%;
            height: 27px;

            content: '';
            //.gradient(#fff, rgba(255, 255, 255, 0), #fff);
        }
    }
    .selShop_r {
        width: 420px;
        height: 433px;
    }
    .selShop_hh {
        margin-bottom: 10px;
    }
    .selShop_r {
        width: 420px;
        height: 433px;
    }
}
.deliv-nomatch {
    margin-top: 10px;

    color: #616161;

    .inline-block();
}
.deliv-list {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 350px;
    &:after {
        display: block;

        width: 100%;
        height: 20px;

        content: '';
    }
    .deliv-item {
        overflow: hidden;

        padding: 12px 5px 5px;

        cursor: pointer;

        border-bottom: 1px solid green;
        &:last-child {
            margin-bottom: 10px;

            border-bottom: none;
        }
        &__name {
            display: block;

            margin: 0 0 5px;

            color: #616161;
        }
        &__addr {
            position: relative;

            margin: 0 0 5px 5px;
            padding-left: 20px;

            .font-size(14);
            &-name {
                clear: both;

                color: #616161;
            }
        }
        &__logo {
            position: relative;

            float: left;

            width: 70px;

            text-align: center;
        }
        &__img {
            max-width: 100%;
        }
        &__metro {
            position: relative;

            width: 175px;

            .inline-block();
            &:after {
                position: absolute;
                top: 4px;
                left: -10px;

                width: 6px;
                height: 6px;

                content: '';

                background: inherit;

                .rounded(50%);
            }
            &-inn {
                background: @white;
            }
        }
        &__date {
            font-size: 12px;
            line-height: 1;

            width: 80px;
            margin: 4px 0 0;
            padding: 1px 0 2px;

            text-align: center;

            color: #424242;
            background: #feeed5;

            .inline-block();
            .rounded(3px);
        }
        &__time {
            font-size: 12px;

            clear: both;

            color: #616161;
        }
        &__price {
            font-size: 12px;

            clear: both;

            margin-top: 2px;

            text-align: center;

            color: #616161;
        }
        &__info {
            float: right;
        }
    }
}

.deliv-ctrls {
    padding-left: 5px;
    .deliv-sel {
        line-height: 24px;

        margin-right: 0;
        padding: 0 5px;
        padding: 0;

        color: #515151;
        &:not(.opn) .fltrBtnBox_tggl {
            margin: 2px 0;
            &.picked {
                margin: 0;
                padding: 6px 9px 3px;

                border: 2px solid orange;
                outline: none;

                .rounded(2px);
                .fltrBtnBox_tggl_tx {
                    border-bottom-color: transparent;
                }
            }
        }
        &.fltrBtnBox.opn {
            .fltrBtnBox_tggl_tx {
                margin-top: 2px;
            }
            .picked .fltrBtnBox_tggl_tx {
                margin-top: 1px;
            }
            .fltrBtnBox_tggl {
                border-bottom: none;
            }
        }
    }
    .deliv-search {
        position: relative;

        width: 100%;
        height: 37px;
        padding-left: 35px;

        border: 1px solid #c7c7c7;

        .box-sizing(border-box);
        &:after {
            position: absolute;
            top: 8px;
            left: 8px;

            width: 23px;
            height: 35px;

            content: '';

            background: url('../images/header/i-controls.png') no-repeat -49px -27px;
        }
        &-input {
            line-height: 33px;

            width: 100%;
            height: 32px;

            border: none;
            outline: none;
        }
        &__input-wrap {
            position: relative;

            height: 35px;
        }
        &__clear {
            font-size: 14px;
            line-height: 18px;

            position: absolute;
            z-index: 1;
            top: 50%;
            right: 5px;

            width: 18px;
            height: 18px;
            margin-top: -9px;

            cursor: pointer;
            cursor: pointer;
            text-align: center;

            color: @white;
            background: #7a7a7a;

            .rounded(9px);
        }
        .deliv-suggest {
            position: absolute;
            z-index: 1;
            top: 35px;
            left: -1px;

            overflow: hidden;

            width: 100%;
            height: 155px;

            border: 1px solid #c7c7c7;
            background: @white;
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;

                width: 96%;
                height: 23px;

                content: '';
                //.gradient(rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
            }
            &__list {
                overflow-x: scroll;

                height: 155px;
                padding: 5px 10px 0;
            }
            &__i {
                font-size: 14px;

                padding: 2px 0 2px 5px;

                cursor: pointer;

                color: #686868;
                &:hover,
                &--active {
                    background: rgba(249, 155, 28, .15);
                }
                &:last-child {
                    margin-bottom: 23px;
                }
            }
        }
    }
    .fltrBtn_kit-box {
        padding-left: 0;

        border: none;
    }
    .fltrBtnBox_tggl_tx {
        color: #686868;
    }
    .fltrBtnBox_tggl {
        height: 16px;
        padding-top: 6px;
    }
    .fltrBtnBox.opn {
        .fltrBtnBox_dd {
            top: 26px;
        }
    }
    .customLabel {
        font-size: 12px;
    }
}
