.orderOneClick {
    &_t {
        font-size: 30px;

        margin: 0 0 30px;
    }
    &_hd {
        margin: 20px 0 38px;
        &_l {
            max-width: 100%;
            max-height: 100%;

            .inline-block(middle);
        }
        &_r {
            font-size: 20px;

            overflow: hidden;

            width: 318px;
            margin: 0 0 0 15px;

            word-wrap: break-word;

            .inline-block(middle);
        }
        &_wr {
            width: 120px;
            height: 120px;

            text-align: center;

            .inline-block(middle);
            &:after {
                width: 0;
                height: 100%;

                content: '';

                .inline-block(middle);
            }
        }
        &_n {
            line-height: 1.2;

            margin: 0 0 15px;
        }
    }
    &_dlvr {
        display: none;
    }
    &_cmpl {
        &_t {
            font-size: 30px;

            margin-top: 0;
            margin-bottom: 15px;
        }
        .orderCompl_btn {
            line-height: 40px;

            height: 40px;

            .inline-block();
            &:hover {
                text-decoration: none;
            }
        }
    }
    &_recall {
        font-size: 14px;
    }
    .orderOneClick_cmpl.orderU_fldsbottom {
        font-size: 20px;

        padding-top: 0;

        text-align: left;
    }
    .orderU {
        &_flds {
            display: block;

            margin: 0;
        }
        &_lgnd {
            font-size: 20px;

            margin: 0 0 15px;
            &-tggl {
                font-size: 16px;

                cursor: pointer;

                color: #808080;
                border-bottom: 1px dotted #808080;

                .inline-block();
                &-cur {
                    color: @black;
                    border-bottom: none;
                }
            }
            &_tgglnote {
                font-size: 16px;

                display: none;

                margin-left: 10px;

                cursor: pointer;

                color: #808080;
                border-bottom: 1px dotted #808080;
                &-cur {
                    .inline-block();
                }
            }
        }
        &_lbl {
            font-size: 14px;
        }
        &_fldsbottom {
            margin: 0;
            padding: 8px 0 0;
        }
    }
    .orderCol {
        &-r {
            float: none;

            width: 450px;
        }
        &_delivrlst {
            width: 471px;

            border-bottom: 1px solid #e6e6e6;
            background: #fff;
        }
        &_lk {
            vertical-align: middle;
        }
        &_delivrin {
            position: relative;

            padding: 10px 10px 1px;

            border: medium none;
            background: none;
            &-pl {
                padding: 10px 10px 1px;

                border: 1px solid #d3d3d3;
                background: #fff;

                .rounded(4px);
            }
            &.date {
                padding-top: 0;
                .orderCol_date {
                    margin-top: 10px;
                }
            }
        }
        &_n {
            font-size: 16px;

            width: 480px;

            vertical-align: middle;
        }
        &_f {
            margin: 0 0 40px;

            border-width: 1px 0;
            background: none;
        }
        &_data {
            margin-top: 10px;
            padding-right: 10px;

            color: #000;
        }
        &_cnt {
            padding: 10px 0 15px;

            border-top: medium none;
        }
        &_addrs {
            margin: 0 0 10px 10px;
            .ui-autocomplete {
                height: 100px;
            }
        }
        &_tm {
            margin: 0 0 10px;
        }
        .customSel {
            background-color: #fff;
        }
        .customSel_cl {
            background: none;
        }
        &_date {
            background-color: #fff;
        }
        &_summt {
            font-size: 16px;

            float: right;

            width: 109px;
            margin: 0 0 10px;
        }
        &-single {
            border-top: 1px solid #e6e6e6;
        }
    }
    .orderRow {
        border-top: medium none;
    }
    .orderCol_delivrLst_i {
        width: auto;
        margin-bottom: -1px;
        padding: 10px 10px 10px 0;

        border-bottom: none;
        &:first-child {
            padding-bottom: 9px;

            border-top: 1px solid #e6e6e6;
            &.orderCol_delivrLst_i-act {
                padding-bottom: 10px;
            }
        }
        &:last-child {
            &.orderCol_delivrLst_i-act {
                border-right: 1px solid #e6e6e6;
            }
        }
    }
    .orderCol_delivrLst_i-act {
        font-weight: bold;

        cursor: default;

        border-top: 1px solid #e6e6e6;
        background: #f6f6f6;
    }
    .orderPayment.orderPaymentWeb .orderPayment_block {
        border-color: #fff;
    }
    .orderCnt {
        padding-bottom: 0;
    }
    .orderPayment {
        margin-left: -25px;
        &_block {
            padding-bottom: 0;
        }
    }
    &__order-link {
        text-decoration: none;

        border-bottom: 1px solid;
        &:hover {
            text-decoration: none;
        }
    }
}
