.order-comment {
    margin: 0 0 30px;
    &__title {
        margin: 0 10px 10px;

        cursor: pointer;

        .font-size(14);
        .inline-block();
    }
    &_field {
        width: 465px;
        height: 120px;
    }
}
