.btn() {
    font-size: 1.1666em;
    line-height: 24px;

    height: 25px;
    padding: 0 17px;

    .inline-block(middle);
}

.btn-normal {
    color: @grey-bright;
    border: 1px solid @orange-bright;
    background: @white;

    .btn();
}

.btn-primary {
    color: @white;
    border: 1px solid @orange-bright;
    background: @orange-bright;

    .btn();
    &:hover {
        color: @white;
    }
    &:active {
        color: @white;
    }
    &:visited {
        color: @white;
    }
    &_bigger {
        font-size: 1.8333em;
        font-weight: 300;
        line-height: 40px;

        height: 40px;
    }
    &_normal {
        line-height: 34px;

        height: 35px;
        font-size: 1.6666em;
        font-weight: 300;
    }
}
