.btn-normal {
    font-size: 1.1666em;
    line-height: 27px;

    height: 25px;
    padding: 0px 17px;

    vertical-align: middle;

    color: @grey-bright;
    border: 1px solid @orange-bright;
    background: @white;
}
