.btn() {
    font-size: 1.1666em;
    line-height: 24px;

    height: 25px;
    padding: 0 17px;

    .inline-block(middle);
}

.btn-normal {
    color: @grey-bright;
    border: 1px solid @orange-bright;
    background: @white;

    .btn();
    &_normal {
        line-height: 34px;

        height: 35px;
    }
}

.btn-simple {
    color: @orange-bright;
    border: none;
    background: @white;

    .btn();

    &_width {
        width: 100%;
        display: block;
    }
}

.btn-primary {
    color: @white;
    border: 1px solid @orange-bright;
    background: @orange-bright;

    .btn();
    &:hover {
        color: @white;
    }
    &:active {
        color: @white;
    }
    &:visited {
        color: @white;
    }
    &_bigger {
        font-size: 1.6666em;
        line-height: 39px;

        height: 40px;
    }
    &_middle {
        font-size: 1.5em;
        line-height: 29px;

        height: 30px;
    }
    &_normal {
        line-height: 34px;

        height: 35px;
        font-size: 1.6666em;
    }
    &_width {
        width: 100%;
        display: block;
    }
}
