/* CSS Document */
HTML {width:100%; height:100%;  font-size:100.01%}
BODY {height:100%; margin:0; padding:0; font:normal 75% tahoma,verdana,arial,helvetica,sans-serif; color:#fff; background:#000}
.allpage {width:920px; height:auto; min-height:100%;padding:0 20px; margin:0 auto; background-color:#000; position:relative; z-index:2}
* html .allpage {height:100%}

FORM {margin:0}

.entry {position:absolute; left:50%; top:50%; margin:-110px 0 0 -177px; width:355px; height:219px; padding-top:113px; background:url(img/bg_entry.png) no-repeat -720px 0}
.entrybox {width:308px; height:71px; padding:35px 0 0 47px; margin:0 auto; background:url(img/bg_entry.png) no-repeat -360px 0}
.entrybox .text {float:left; width:196px; height:35px; line-height:35px; padding:0; border:0; background:none; font-size:14px; color:#333; margin-right:8px; outline:none}
.entrybutton {float:left; width:68px; height:35px; border:0; background:none; font-size:18px; color:#fff; cursor:pointer}
.entrybox:hover {background-position:0 0}
.entrybox:hover .text {color:#fff}
H1 { margin:0; font-weight:normal; font-size:46px; font-family:"Enter"; color:#F89B1C}
.openblock { text-align:center; font-family:"Enter"; color: #F89B1C; }