/* CSS Document */
HTML {overflow-x:hidden; width:100%; height:100%;  font-size:100.01%}
BODY {height:100%; margin:0; padding:0; font:normal 75% tahoma,verdana,arial,helvetica,sans-serif; color:#fff; background:#000}
.allpage {width:920px; height:auto; min-height:100%;padding:0 20px; margin:0 auto; background-color:#000; position:relative; z-index:2}
* html .allpage {height:100%}


TD, TH, UL, OL, LI, DL, DT, DD, INPUT, TEXTAREA, SELECT, LABEL, BUTTON {font:normal 1em tahoma,verdana,arial,helvetica,sans-serif}
UL, DL, DD, OL {margin:0; padding:0; list-style-type:none}
FORM {margin:0}
IMG {border:0}
A {color:#fff; text-decoration:underline; outline:none}
A:hover {text-decoration:none}
A.dotted {text-decoration:none; border-bottom:1px dashed #1c79c1}
A.dotted.green {border-bottom:1px dashed #508f01}
.fl {float:left}
.fr {float:right}
.cb {clear:both}
.clear {width:100%; clear:both; font-size:0; line-height:0}
.float100 {float:left; width:100%}
.ar {text-align:right}
.ac {text-align:center}
.al {text-align:left}
.pr {position:relative}
.db {display:block}

.font11 {font-size:11px}
.font18 {font-size:18px}


/*.logo {float:left; margin:27px 0 0 23px; width:151px; height:102px; background:url(/css/skin/img/bg_main.png) no-repeat -675px 0; text-indent:-10000px}*/

/*.topmenu {float:right; padding:45px 36px 23px 0}*/
/*.topmenu LI {float:left}*/
/*.topmenu A {display:block; height:85px; background:url(/css/skin/img/bg_main.png) no-repeat; text-indent:-10000px}*/
/*.topmenu .point1 {width:50px; background-position:0 0; margin-right:20px}*/
/*.topmenu .point1:hover {background-position:0 -90px}*/
/*.topmenu .point2 {width:50px; background-position:-70px 0; margin-right:20px}*/
/*.topmenu .point2:hover {background-position:-70px -90px}*/
/*.topmenu .point3 {width:51px; background-position:-140px 0; margin-right:24px}*/
/*.topmenu .point3:hover {background-position:-140px -90px}*/
/*.topmenu .point4 {width:52px; background-position:-215px 0; margin-right:26px}*/
/*.topmenu .point4:hover {background-position:-215px -90px}*/
/*.topmenu .point5 {width:78px; background-position:-293px 0; margin-right:17px}*/
/*.topmenu .point5:hover {background-position:-293px -90px}*/
/*.topmenu .point6 {width:67px; background-position:-388px 0; margin-right:21px}*/
/*.topmenu .point6:hover {background-position:-388px -90px}*/
/*.topmenu .point7 {width:59px; background-position:-476px 0; margin-right:18px}*/
/*.topmenu .point7:hover {background-position:-476px -90px}*/
/*.topmenu .point8 {width:58px; background-position:-553px 0; margin-right:18px}*/
/*.topmenu .point8:hover {background-position:-553px -90px}*/
/*.topmenu .point9 {width:45px; background-position:-629px 0}*/
/*.topmenu .point9:hover {background-position:-629px -90px}*/

.bigbanner {padding:0 0 0 0;}

.bannersbox {position:absolute; width:100%; overflow:hidden; top: 234px; left:0}
.bannersboxinner {position:relative;  width:920px; margin:0 auto; height: 300px; font-size: 0; line-height: 300px;}
.banner{
	position: absolute;
	cursor:pointer;
	opacity:0.5;
}
.banner3 {left:943px; bottom: 0}
.banner4 {left:-245px; bottom: 0}

@font-face {
  font-family: 'Enter';
  src: url('../fonts/enter_brash_01-webfont.eot');
  src: url('../fonts/enter_brash_01-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/enter_brash_01-webfont.ttf') format('truetype');
}

.content {float:left; width:280px; padding:7px 0 30px 29px; font-size:13px; z-index:1; position:relative; font-family:"Enter"}
.vcardtitle {font-size:18px; padding-bottom:4px}
.vcard {font-size:36px; padding-bottom:2px}
.pb10 {padding-bottom:10px}
.pb5 {padding-bottom:5px}

.searchbox {float:right; position:relative; width:336px; height:66px; padding:15px 0 0 27px; background:url(/images/bg_main.png) no-repeat -677px -108px}
.searchbox .text {float:left; width:236px; height:36px; line-height:36px; padding:0; border:0; background:none; font-size:14px; color:#fff; margin-right:12px; outline:none}
.searchbutton {float:left; width:45px; height:36px; border:0; background:none; text-indent:-10000px; cursor:pointer}

.links {float:right; padding:0 40px 0 0}
.links A {display:inline-block; *display: inline; zoom: 1; font-family:"Enter"; font-size:16px; text-decoration:none;}
.links .link1 {float:left; width:62px; padding-top:77px; background:url(/images/bg_main.png) no-repeat -830px 1px; text-align:center}
.links .link2 {width:111px; height:16px; margin:23px 0 0 108px; background:url(/images/bg_main.png) no-repeat -897px 0; text-indent:-10000px}
.links .link3 {margin:38px 0 0 108px}

.copy {clear:both; color:#a6a6a6; font-size:11px; padding-bottom: 20px}
.copy A {color:#a6a6a6; font-size: 11px;}
.copy .pb5 a{ margin: 0 5px; }

/* index card */

/* index card */
.hdn { display:none}
.bIndexCard{
	top: 234px;
	left: 58px;
	width: 797px;
	height: 352px;
	display: none;
	position: absolute;
	background: url('/images/banner_promo_2.jpg') 0 100% no-repeat;
	}
	.bIndexCard__eInfo{
		bottom: 35px;
		right: 140px;
		position: absolute;
		font: 14px Tahoma, sans-serif;
		}
	.bIndexCard__eInfo a{
		color: #fb9600;
		font-weight: bold;
		}
	.bIndexCard__eInfo span{
		font-size: 11px;
		}


/* index bottom links */

.bIndexLinks{
	width: 565px;
	}
	.bIndexLinks__eLinks{
		width: 350px;

		display: inline-block;
		*display: inline;
		zoom: 1;
		}
	.bIndexLinks__eLinks a{
		color: #fff;
		width: 175px;
		margin: 5px 0 9px 0;
		vertical-align: middle;
		}
	.bIndexLinks__eLinks a:hover{
		color: #ffa901;
		}
	.bIndexLinks__eLinks .mInlineBlock{
		width: 21px;
		height: 21px;
		margin-right: 10px;
		vertical-align: middle;

		display: inline-block;
		*display: inline;
		zoom: 1;
		}
	.mShops{ background: url('/images/icon_shop.gif') 0 0 no-repeat; }
	.bIndexLinks__eLinks a:hover .mShops{ background: url('/images/icon_shop.gif') 100% 0 no-repeat; }
	.mCo{ background: url('/images/icon_enter.gif') 0 0 no-repeat; }
	.bIndexLinks__eLinks a:hover .mCo{ background: url('/images/icon_enter.gif') 100% 0 no-repeat; }
	.mReq{ background: url('/images/icon_basket.gif') 0 0 no-repeat; }
	.bIndexLinks__eLinks a:hover .mReq{ background: url('/images/icon_basket.gif') 100% 0 no-repeat; }
	.mWork{ background: url('/images/icon_job.gif') 0 0 no-repeat; }
	.bIndexLinks__eLinks a:hover .mWork{ background: url('/images/icon_job.gif') 100% 0 no-repeat; }
	.mBuy{ background: url('/images/icon_credit.gif') 0 0 no-repeat; }
	.bIndexLinks__eLinks a:hover .mBuy{ background: url('/images/icon_credit.gif') 100% 0 no-repeat; }
	.mF1{ background: url('/images/icon_f1.gif') 0 0 no-repeat; }
	.bIndexLinks__eLinks a:hover .mF1{ background: url('/images/icon_f1.gif') 100% 0 no-repeat; }

	.bIndexLinks__eMobile{
		width: 204px;
		height: 79px;
		position: relative;
		background: url('/images/icon_mobile_apps.gif') 0 0 no-repeat;

		display: inline-block;
		*display: inline;
		zoom: 1;
		}
	.bIndexLinks__eMobile div{
		top: 35px;
		left: 90px;
		font: 16px 'Enter';
		position: absolute;
		}
  .bIndexLinks__eMobile div a{
    text-decoration: none;
  }

.social_network {
  	float: right;
  	width: 180px;
	}
.social_network span {
  	padding-right: 6px;
	}
.social_network img {
  	vertical-align: middle;
	}

.mSR{
	top: -13px;
	height: 100px;
	background: url('/images/sr_index.png') 0 0 no-repeat;
	}
	.mSR a{
		margin-top: 20px;
		margin-left: 90px;
		}

.bIndexLinks2{}
	.bIndexLinks2__eBanners{}
	.bIndexLinks2__eBan{
		width: 300px;
		height: 90px;
		vertical-align: top;

		display: inline-block;
		*display: inline;
		zoom: 1;
		}
	.bIndexLinks2__eBan:first-child{
		font-family: 'Enter';
		text-align: left;
		}
	.bIndexLinks2__eBan a,
	.bIndexLinks2__eBan img{
		border: none;
		outline: none;
		text-decoration: none;
		}
	.bIndexLinks2__eLinks{
		margin: 30px 0 15px 0;
		}
	.bIndexLinks2__eLinks a{
		width: 227px;
		color: #a6a6a6;
		vertical-align: top;
		font: 14px/20px Tahoma, sans-serif;

		display: inline-block;
		*display: inline;
		zoom: 1;
		}
	.bIndexLinks2__eLinks a:hover{
		color: #ffa901;
		text-decoration: underline;
		}

a[title="vkontakte"],
a[title="twitter"],
a[title="facebook"]{
	width: 26px;
	height: 26px;

	vertical-align: middle;
	display: inline-block;
	*display: inline;
	zoom: 1;
	}
a[title="twitter"]{ background: url('img/icon_twitter.png'); }
a[title="facebook"]{ background: url('img/icon_facebook.png'); }
a[title="vkontakte"]{ background: url('img/icon_vkontakte.png'); }

a[title="twitter"]:hover{ background: url('img/icon_twitter_color.png'); }
a[title="facebook"]:hover{ background: url('img/icon_facebook_color.png'); }
a[title="vkontakte"]:hover{ background: url('img/icon_vkontakte_color.png'); }

.bCarouselWrap{
	width: 100%;
	height: 600px;
	text-align: center;
	}
	.bCarousel{
		width: 830px;
		height: 300px;
		position: relative;
		vertical-align: bottom;
		display: inline-block;
		*display: inline;
		zoom: 1;
		}
	.bCarousel img {
		position:absolute;
		left:32px;
		cursor:pointer
	}
	.bCarousel__eBtnR,
	.bCarousel__eBtnL{
		top: 110px;
		width: 76px;
		height: 77px;
		cursor: pointer;
		position: absolute;
		}
	.bCarousel__eBtnL{ z-index:10; left: -40px; background: url('img/c_btn_left.png'); display:none }
	.bCarousel__eBtnR{ z-index:10; left: 797px; background: url('img/c_btn_right.png'); display:none }
	.bCarousel__eBtnL:hover{ background: url('img/c_btn_left_h.png'); }
	.bCarousel__eBtnR:hover{ background: url('img/c_btn_right_h.png'); }



.bHeader {
    height: 112px;
    margin: 10px 0 20px;
    padding: 20px 12px 0 0;
    text-align: justify;
}
.bHeaderWrap {
    position: relative;
    z-index: 100;
}
.bToplogo, .bToplink span, .bHeader__eLong {
    display: inline-block;
    vertical-align: top;
}
.bCorner {
    background: url("img/bg.png") no-repeat scroll 0 -218px transparent;
    display: none;
    font-size: 0;
    height: 15px;
    line-height: 0;
    width: 20px;
}
.bToplogo {
    text-indent: -1000px;
    background: url("img/logo_enter_main.gif") no-repeat scroll 50% 50% transparent;
    height: 91px;
    width: 140px;
}
.bToplink {
    color: #FFFFFF;
    display: inline-block;
    max-width: 68px;
    min-width: 41px;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.bToplink:hover {
    color: #FFA901;
    text-decoration: none;
}
.bToplink span {
    height: 71px;
    margin: 10px 0 5px;
}
.mMebel, .category-1 {
    background: url("img/header_icon_furniture.gif") no-repeat scroll 0 0 transparent;
    width: 38px;
}
.mTehn, .category-2 {
    background: url("img/header_icon_home_appliances.gif") no-repeat scroll 0 0 transparent;
    width: 43px;
}
.mZdor, .category-3 {
    background: url("img/header_icon_beauty_health.gif") no-repeat scroll 0 0 transparent;
    width: 54px;
}
.mDom, .category-4 {
    background: url("img/header_icon_home_goods.gif") no-repeat scroll 0 0 transparent;
    width: 47px;
}
.mDeti, .category-5 {
    background: url("img/header_icon_baby_goods.gif") no-repeat scroll 0 0 transparent;
    width: 45px;
}
.mZoo, .category-6 {
    background: url("img/header_icon_zoo_goods.gif") no-repeat scroll 0 0 transparent;
    width: 54px;
}
.mSam, .category-7 {
    background: url("img/header_icon_tools_goods.gif") no-repeat scroll 0 0 transparent;
    width: 72px;
}
.mElectro, .category-8 {
    background: url("img/header_icon_electronics.gif") no-repeat scroll 0 0 transparent;
    width: 61px;
}
.mUkr, .category-9 {
    background: url("img/header_icon_jewelry.gif") no-repeat scroll 0 0 transparent;
    width: 54px;
}
.mSport, .category-10 {
    background: url("img/header_icon_sport.gif") no-repeat scroll 0 0 transparent;
    width: 43px;
}
/*
.mSport i, .category-10 i { top: -3px; left: -10px; width: 61px; height: 64px; position: absolute; background: url('img/f1_credit.png') no-repeat; }


.mSad, .category-11 {
    background: url("img/header_icon_garden_orchard.gif") no-repeat scroll 0 0 transparent;
    width: 41px;
}
*/
.mPodarki, .category-11 {
    background: url("img/header_icon_hobbies_gifts_lighted.gif") no-repeat scroll 0 0 transparent;
    width: 42px;
}
.bHeader .bToplink:hover span {
    background-position: 0 -71px;
}
.bHeader__eLong {
    width: 98%;
}