<div id="create-popup" class="personal-popup">
    <div class="popup-closer"></div>
    <div class="personal-popup__head">Создать список</div>
    <div class="personal-popup__content">
        <form action="{{form.url}}" method="post">
            <div class="form-group">
                <input class="input-control" type="text" name="wishlist[title]" placeholder="Название списка">
            </div>
            <button type="submit" class="btn btn--default">Сохранить</button>
        </form>
    </div>
</div>