<div id="shareProduct-popup" class="personal-popup">
    <div class="popup-closer"></div>
    <div class="personal-popup__head">Поделиться {{countMessage}}</div>
    <div class="personal-popup__list-name">{{productNames}}</div>
    <div class="personal-popup__content">
        <noindex>
            <ul class="personal__sharings">
                {{#twitter.url}}
                <li class="personal-share">
                    <a class="js-shareLink" target="_blank" rel="nofollow" href="{{twitter.url}}"><i class="personal-share__icon twitter"></i></a>
                </li>
                {{/twitter.url}}
                <li class="personal-share">
                    <a class="js-shareLink" target="_blank" rel="nofollow" href="{{facebook.url}}"><i class="personal-share__icon fb"></i></a>
                </li>
                <li class="personal-share">
                    <a class="js-shareLink" target="_blank" rel="nofollow" href="{{vkontakte.url}}"><i class="personal-share__icon vk"></i></a>
                </li>
                <li class="personal-share">
                    <a class="js-shareLink" target="_blank" rel="nofollow" href="{{googleplus.url}}"><i class="personal-share__icon gplus"></i></a>
                </li>
                <li class="personal-share">
                    <a class="js-shareLink" target="_blank" rel="nofollow" href="{{odnoklassniki.url}}"><i class="personal-share__icon ok"></i></a>
                </li>
                <li class="personal-share">
                    <a class="js-shareLink" target="_blank" rel="nofollow" href="{{mailru.url}}"><i class="personal-share__icon mailru"></i></a>
                </li>
                <li class="personal-share">
                    <a class="js-shareLink" target="_blank" rel="nofollow" href="{{mail.url}}"><i class="personal-share__icon mail"></i></a>
                </li>
            </ul>
        </noindex>
    </div>
</div>