<div id="shareProduct-popup" class="personal-popup">
    <div class="popup-closer"></div>
    <div class="personal-popup__head">Поделиться {{countMessage}}</div>
    <div class="personal-popup__list-name">Самокат, Планшетный компьютер, Бумажный конструктор Jazwares Minecraft Papercraft «Дружелюбные мобы»</div>
    <div class="personal-popup__content">
        <ul class="personal__sharings">
            <li class="personal-share"><i class="personal-share__icon twitter"></i></li>
            <li class="personal-share"><i class="personal-share__icon fb"></i></li>
            <li class="personal-share"><i class="personal-share__icon vk"></i></li>
            <li class="personal-share"><i class="personal-share__icon gplus"></i></li>
            <li class="personal-share"><i class="personal-share__icon ok"></i></li>
            <li class="personal-share"><i class="personal-share__icon mailru"></i></li>
            <li class="personal-share"><i class="personal-share__icon mail"></i></li>
        </ul>
    </div>
</div>