<div class="goods-slider__inn ep-info__product-slide">
    <div class="ep-info__product-list-outer">
        <ul class="goods-slider-list ep-info__product-list clearfix">
            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>

            <li class="goods-slider-list__i ep-info__product-item ep-info__product-item_min">
                <div class="ep-info__product-item-inner">
                    <div class="ep-info__product-img-block">
                        <img src="#" alt="#">

                        <p class="ep-info__product-img-title">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing.</p>
                    </div>
                    <div class="ep-info__product-price">
                        <div class="ep-info__product-price-old">
                            <span>3809</span>
                            <span class="rubl">p</span>
                        </div>
                        <div class="ep-info__product-price-new">
                            <span>2809</span>
                            <span class="rubl">p</span>
                        </div>
                    </div>
                    <div class="ep-info__product-buy">
                        Купить
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="goods-slider__btn goods-slider__btn--prev ep-info__product-prev disabled mDisabled"></div>
    <div class="goods-slider__btn goods-slider__btn--next ep-info__product-next"></div>
</div>