<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">

    <script type="text/javascript">
        window.htmlStartTime = new Date().getTime();
        document.documentElement.className = document.documentElement.className.replace("no-js","js");
    </script>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/v2/img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/v2/img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/v2/img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/v2/img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="/v2/img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/v2/img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="yes">

    <link rel="stylesheet" href="/v2/css/global.min.css">

    <script src="/v2/js/vendor/ymodules-0.0.15-custom.js"></script>
    <script src="/v2/js/main.js"></script>
    
    <script src="/v2/js/vendor/jquery-1.8.3.js"></script>
    <script src="/v2/js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/v2/js/vendor/jquery.cookie-1.4.0.js"></script>
    <script src="/v2/js/vendor/jquery.touchwipe-1.6.5.js"></script>
    <script src="/v2/js/vendor/html5-3.6.2.js"></script>
    <script src="/v2/js/vendor/underscore-1.6.0.js"></script>
    <script src="/v2/js/vendor/mustache-0.8.2.js"></script>
    <script src="http://direct-credit.ru/widget/api_script_utf.js"></script>

    <script src="/v2/js/helper.js"></script>

    <script src="/v2/js/~main.js"></script>
    <script src="/v2/js/plugins/popup.js"></script>
    <script src="/v2/js/plugins/jquery.touchwipe.js"></script>
    <script src="/v2/js/plugins/jquery.enter.slides.js"></script>

    <script src="/v2/js/common/nav.js"></script>
    <script src="/v2/js/common/selectCity.js"></script>
    <script src="/v2/js/common/search.js"></script>

    <script src="/v2/js/touch/products.swipe.js"></script>

    <script src="/v2/js/card/tabs.desc.js"></script>
</head>

<body data-config="{{&bodyDataConfig}}" data-user="">
    <div class="wrapper">
        {{>partial/header}}

        {{#content}}
            {{>content}}
        {{/content}}
    </div><!--/ Оболочка -->

    {{>partial/template}}

    {{>partial/footer}}

    {{#regionBlock}}
        {{>partial/region}}
    {{/regionBlock}}
    
</body>
</html>
