<div class="popup popup_order-status js-order-status">
    <span class="close js-order-status-del">Закрыть</span>
    <div class="order-status">
        <span class="order-status__title">Проверить статус заказа</span>
        <div class="order-status__txt">Введите номер заказа</div>
        <form class="js-orderStatus-form" action="/order/status" method="post">
            <label><input class="order-status__input js-order-name" type="text" name="order[number]" value=""></label>
            <input class="order-status__submit" type="submit" value="Найти">
        </form>
    </div>
</div>
