.content-jewel {
    .goods_grid {
        .goods__item {
            &:hover {
                border-color: @grey-light;
            }
        }
    }
    .add-control {
        border-color: @grey-light;
        &_wish {
            background-position: -17px 4px;
        }
        &_compare {
            background-position: -18px -17px;
        }
        &:hover {
            border-color: @grey-normal;
            background-color: @grey-normal;
        }
    }
    .btn-primary {
        border-color: @grey-bright;
        background-color: @grey-bright;
        &:hover {
            border-color: @grey-normal;
            background-color: @grey-normal;
        }
    }
}
