.wrapper {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
    &.wrapper-content {
        margin-top: 110px;
    }
    &.wrapper-order {
        max-width: 1024px;
    }
}

.wrapper-nofixed {
    .header {
        .wrapper {
            max-width: 100%;
        }
    }
}

.section {
    .clearfix();
    &__left {
        float: left;

        width: 190px;
    }
    &__right {
        overflow: hidden;
        &-inner {
            padding-left: 25px;
        }
    }
}

.section-nav {
    margin: 0 0 20px;
    &__item {
        margin: 0;
    }
    &__link {
        position: relative;

        display: block;

        padding: 8px 5px 6px;

        .font-size(14);
        &.active {
            color: @white;
            background: @orange-bright;
            &:after {
                position: absolute;
                top: 0;
                right: -8px;

                width: 0;
                height: 0;

                content: '';

                border-top: 16px solid transparent;
                border-bottom: 17px solid transparent;
                border-left: 8px solid #f60;
            }
        }
    }
}

.footer {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
}

.section {
    padding: 0 30px 20px;
    &__title {
        line-height: 1.4375;

        margin: 0 0 5px;

        .font-face('GloberBold');
        .font-size(16);
        &_h1 {
            .font-face('GloberSemiBold');
            .font-size(26);
        }
    }
    &_bordered {
        padding-top: 10px;

        border-top: 1px solid @grey-light-3;
    }
    &_seo {
        padding-bottom: 0;
        p {
            margin: 0;
            padding: 0 0 2em;
        }
        ul {
            line-height: 1.6666;

            padding: 0 0 2em 1.25em;

            .font-face('GloberRegular');
            & > li {
                margin: 0;

                list-style-type: disc;
            }
        }
    }
}

.overlay {
    position: fixed;
    z-index: 105;
    top: 0;
    right: 0;
    right: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: @white;

    .opacity(.75);
}

.loader-elem {
    position: relative;
    &:after {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        left: 0;

        overflow: hidden;

        width: 100%;
        height: 100%;

        content: '';

        background: url('@{base-url}/loader.gif') no-repeat 50% 50% @white;

        .opacity(.75);
    }
}

.loader {
    position: relative;

    min-height: 100px;
}

.loader-box {
    position: relative;
    z-index: 10;
    top: 1px;

    clear: both;

    width: 100%;
    min-height: 100px;

    background: url('@{base-url}/loader.gif') no-repeat 50% 50% @white;

    .opacity(.75);
}

.grid-2col {
    .clearfix();
    &__item {
        float: left;

        width: 50%;
        padding: 10px;
        &:nth-child(2n+1) {
            clear: both;
        }
    }
}

.grid-3col {
    .clearfix();
    &__item {
        float: left;

        width: 33.3333%;
        padding: 10px;
        &:nth-child(3n+1) {
            clear: both;
        }
    }
}

.grid-4col {
    .clearfix();
    &__item {
        float: left;

        width: 25%;
        padding: 10px;
        &:not(.slick-slide:nth-child(4n+1)) {
            clear: both;
        }
    }
}

.grid-8col {
    .clearfix();
    &__item {
        float: left;

        width: 12.5%;
        padding: 10px;
        &:not(.slick-slide:nth-child(8n+1)) {
            clear: both;
        }
    }
}

.grid-7col {
    .clearfix();
    &__item {
        float: left;

        width: 14.285714%;
        padding: 10px;
        &:not(.slick-slide:nth-child(7n+1)) {
            clear: both;
        }
    }
}

.grid-9col {
    .clearfix();
    &__item {
        float: left;

        width: 11.1111%;
        padding: 10px;
        &:nth-child(9n+1) {
            clear: both;
        }
    }
}

.main-banner {
    height: 300px;
    margin: -10px 0 15px;

    background: #ffe8d8;
}

.grid-transform-4col {
    margin-right: -15px;
    &__row {
        .clearfix();
    }
    &__col {
        float: left;

        padding: 0 15px 15px 0;
        &.col1 {
            width: 25%;
        }
        &.col2 {
            width: 50%;
        }
        &.col3 {
            width: 75%;
        }
        &.col4 {
            width: 100%;
        }
    }
}

.main-categories {
    &__item {
        position: relative;

        overflow: hidden;

        height: 250px;

        text-align: center;
        &.magenta {
            background: #ffd8ef;
        }
        &.violet {
            background: #ddcef3;
        }
        &.blue {
            background: #d8efff;
        }
        &.orange {
            background: #ffe8d8;
        }
        &.green {
            background: #d8ffe8;
        }
        &.olive {
            background: #efffd8;
        }
        &.grey {
            background: #f2f2f2;
        }
    }
    &__link {
        display: block;

        height: 250px;
        padding: 15px 0 0;

        .transition(all, .3s, ease);
    }
    &__name {
        display: block;

        margin-bottom: 2px;

        .font-size(16);
    }
    &__sub-name {
        display: block;

        .font-face('GloberRegular');
    }
    &__img {
        max-width: 88%;
        margin: 15px 0 0;

        .inline-block();
        .transition(all, .4s, ease-out);
        &_max {
            max-width: 80%;
        }
        &:hover {
            max-width: 100%;
        }
    }
}
