@font-face {
  font-family: 'Enter';
  src: url('../fonts/enter_brash_01-webfont.eot');
  src: url('../fonts/enter_brash_01-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/enter_brash_01-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Rouble';
  src: url('../fonts/rouble.eot');
  src: url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
       url('../fonts/rouble.ttf') format('truetype');
}
/*body {
  font-family: Enter;
  font-size: 30px;
 }*/
.rouble {
  font-family: Rouble;
  font-size: 36px;
 }