label {
  padding-right: 10px;
}



.block {
  background: #edfaed;
  padding: 10px;
  margin: 10px;
}

.form {
  list-style: none;
  padding-left: 10px;
}
.form-row {
  margin-bottom: 20px;
}
.form-row-label {
  font-weight: bold;
}



.navigation {
  list-style: none;
}
.navigation li {
  display: inline;
}