body {
  background: #f0f0f0;
}
body.frame {
  background: transparent;
}

h1 {
  margin-top: 0;
}

label {
  padding-right: 10px;
}
ul li {
  margin-bottom: 10px;
}
ul.inline li, li.inline {
  margin-right: 10px;
  display: inline;
}

.container {
  padding: 10px;
}

.block {
  padding: 10px 10px;
  margin: 10px;

	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
  background: #ffffff;
}
.block.tiny {
  min-width: 100px;
}
.block.small {
  min-width: 200px;
}
.block.medium {
  min-width: 500px;
}
.block.wide {
  min-width: 800px;
}

.block-inline {
  padding-right: 10px;
}
.block-shadow {
  padding: 5px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
  border: solid 1px #ddd;
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

.table td, .table th {
  padding: 5px 15px;
  border: solid 1px #ededed;
}
.table th {
  background: #aaa;
  color: #fff;
}

.logo {
  width: 80px;
  height: 60px;
  margin: 10px;
}

.form {
  list-style: none;
  padding-left: 10px;
}
  .form > ul {
    padding-left: 0;
  }
  .form-row > label {
    display: block;
    font-weight: bold;
  }
  pow.required {
    color: #ff0000;
  }
.form-row {
  margin-bottom: 20px;
  list-style: none;
}
  .form-row .error_list {
    padding-left: 14px;
    font-size: 70%;
    color: #ff0000;
  }


.gray {
  background: #aaa;
}
.text-white {
  color: #fff;
}

.strong {
  font-weight: bold;
}

.navigation {
  list-style: none;
}
.navigation li {
  display: inline;
}


.sorting a
{
  text-decoration: none;
}
  .sorting .active {
    background: #777777;
    color: #ffffff;
    padding: 3px 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
  }



.menu {
  list-style: none;
}
  .menu li {
    display: inline;
    margin-right: 20px;
    padding: 5px 10px;
    text-align: center;

    border: solid 1px #ffffff;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
  }
  .menu li.current {
    background: #aaa;
  }
    .menu li.current a {
      text-decoration: none;
      color: #fff;
    }


.pagination span {
  display: inline-block;
  width: 20px;
  padding: 2px 5px;
  text-align: center;

  border: solid 1px #f0f0f0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.pagination span.current {
  background: #777777;
  color: #f0f0f0;
}
.pagination a {
  text-decoration: none;
}

.left {
  float: left;
}
.right {
  float: right;
}

.clear {
  clear: both;
}

.current, .current a {
  font-weight: bold;
}


.price {
  background: #999999;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
  text-shadow: 0px -1px 0px #374683;
}

#auth-form {
  width: 400px;
}


.add {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/add.png) no-repeat scroll 0 2px;
}
.delete {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/delete.png) no-repeat scroll 0 2px;
}
.user {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/user_suit.png) no-repeat scroll 0 2px;
}
.history {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/time.png) no-repeat scroll 0 2px;
}
.help {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/help.png) no-repeat scroll 0 2px;
}
.catalog {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/book.png) no-repeat scroll 0 2px;
}
.page {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/page_white.png) no-repeat scroll 0 2px;
}
.news {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/newspaper.png) no-repeat scroll 0 2px;
}
.shop {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/map.png) no-repeat scroll 0 2px;
}
.cart {
  padding: 0 0 0 20px;
  background: transparent url(/images/icons/cart.png) no-repeat scroll 0 2px;
}
.cart.cart-add {
  background: transparent url(/images/icons/cart_add.png) no-repeat scroll 0 2px;
}
.cart.cart-show {
  background: transparent url(/images/icons/cart_go.png) no-repeat scroll 0 2px;
}
.cart.cart-delete {
  background: transparent url(/images/icons/cart_delete.png) no-repeat scroll 0 2px;
}
.cart.cart-clear {
  background: transparent url(/images/icons/cart_remove.png) no-repeat scroll 0 2px;
}


#open_auth-block li {
  display: inline;
  float: left;
  margin-right: 10px;
}
#open_auth-block .open_auth-link {
  display: none;
  padding: 0 0 42px 42px;
}
#open_auth_vkontakte-link {
  background: transparent url(/images/oauth_vkontakte.png) no-repeat;
}
#open_auth_facebook-link {
  background: transparent url(/images/oauth_facebook.png) no-repeat;
}
#open_auth_twitter-link {
  background: transparent url(/images/oauth_twitter.png) no-repeat;
}
#open_auth_odnoklassniki-link {
  background: transparent url(/images/oauth_odnoklassniki.png) no-repeat;
}
#open_auth_mailru-link {
  background: transparent url(/images/oauth_mailru.png) no-repeat;
}
#open_auth_google-link {
  background: transparent url(/images/oauth_google.png) no-repeat;
}