@font-face {
  font-family: 'Enter';
  src: url('/css/common/fonts/enter_brash_01-webfont.eot');
  src: url('/css/common/fonts/enter_brash_01-webfont.eot?#iefix') format('embedded-opentype'), url('/css/common/fonts/enter_brash_01-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Rouble';
  src: url('/css/common/fonts/rouble.eot');
  src: url('/css/common/fonts/rouble.eot?#iefix') format('embedded-opentype'), url('/css/common/fonts/rouble.ttf') format('truetype');
}
@font-face {
  font-family: 'Enter Type';
  src: url('/css/common/fonts/enter_type-webfont.eot');
  src: url('/css/common/fonts/enter_type-webfont.eot?#iefix') format('embedded-opentype'), url('/css/common/fonts/enter_type-webfont.woff') format('woff'), url('/css/common/fonts/enter_type-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Enter Type Bold';
  src: url('/css/common/fonts/entertype_bold-webfont.eot');
  src: url('/css/common/fonts/entertype_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/css/common/fonts/enter_type-webfont.woff') format('woff'), url('/css/common/fonts/entertype_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.rouble {
  font-family: Rouble;
  font-size: 36px;
}
@media screen {
  html,
  body,
  div,
  span,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  abbr,
  address,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  samp,
  small,
  strong,
  sub,
  sup,
  var,
  b,
  i,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Arial, sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  input,
  select {
    vertical-align: middle;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a,
  img,
  select:focus {
    outline: none;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  nav ul {
    list-style: none;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  .mFl {
    float: left;
  }
  .mFr {
    float: right;
  }
  .mNoTextDecor {
    text-decoration: none;
  }
  .mDisplayBlock {
    display: block;
  }
  .mHiddenText {
    text-indent: -10000px;
  }
  .mEnter {
    font-family: 'Enter';
  }
  html,
  body {
    background: #ffffff;
    width: 100%;
  }
  html {
    height: 100%;
  }
  body {
    height: auto !important;
    width: 320px;
  }
  .bWrap {
    height: auto;
    min-height: 100%;
    width: 100%;
  }
  .bContentMenu_eItem {
    border-top: 2px solid #dcdcdc;
  }
  .bContentMenu_eLink {
    background: url('/css/mobile/common/img/greenArrow.gif') no-repeat 97% center;
    color: #000000;
    display: block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
  }
}
@media screen {
  .grayButton {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #2a2a2a;
    color: #ffffff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
}
@media screen {
  .bHeaderFirstLine,
  .bHeaderSecondLine {
    background: #000000;
    padding: 10px;
    width: 300px;
  }
  .bHeaderFirstLine {
    -webkit-box-shadow: 0 1px 1px 2px #616161;
    -moz-box-shadow: 0 1px 1px 2px #616161;
    box-shadow: 0 1px 1px 2px #616161;
    background: #242424;
    /* Old browsers */
  
    background: -moz-linear-gradient(top, #242424 0%, #000000 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #242424), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, #242424 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, #242424 0%, #000000 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, #242424 0%, #000000 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, #242424 0%, #000000 100%);
    /* W3C */
  
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#242424', endColorstr='#000000', GradientType=0);
    /* IE6-8 */
  
    margin-bottom: 3px;
  }
  .bHeaderSecondLine {
    background: #000000;
  }
  .bHeaderSecondLine_eLink {
    color: #ffffff;
    font-size: 15px;
    margin: 0 0 0 25px;
  }
  .bLogo {
    background: url('/css/mobile/header/img/logo.png') no-repeat 0 0;
    height: 60px;
    width: 85px;
  }
  .bSelectRegion {
    margin: 10px 0;
    overflow: hidden;
    width: 105px;
  }
  .bSelectRegion_eSelect {
    background: transparent;
    border: none;
    color: #aeabab;
    font-size: 11px;
    text-decoration: underline;
    width: 125px;
    -webkit-appearance: none;
  }
  .bCatalogLink {
    font-size: 22px;
    margin-right: 10px;
  }
  .bSearch {
    height: 25px;
  }
  .bSearch_eText {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #4D4D4D;
    border-right: none;
    height: 25px;
    margin: 0;
    padding: 0 5px;
    width: 105px;
    -webkit-appearance: none;
  }
  .bSearch_eButton {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: url('/css/mobile/header/img/search.png') no-repeat 50% 50%;
    border: 1px solid #0C0C0C;
    height: 25px;
    margin: 0;
    padding: 0;
    width: 30px;
    -webkit-appearance: none;
  }
}
@media screen {
  .bLightGrayWrap {
    border-top: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
  }
  .bContactPhone {
    background: #dcdcdc;
    color: #000000;
    font-size: 15px;
    margin: 1px 0;
    padding: 10px;
    text-decoration: none;
  }
  .bContactPhone_ePhone {
    font-size: 18px;
    margin: 0 15px;
  }
  .bBottomLinks_eLink {
    background: #2a2a2a;
    color: #ffffff;
    float: left;
    font-size: 14px;
    padding: 15px 10px;
    text-decoration: none;
    width: 140px;
  }
  .bCopyright {
    background: #000000;
    color: #ffffff;
    font-size: 8px;
    padding: 5px;
    width: 310px;
  }
}
@media screen {
  .bCategoryMenu {
    background: #000000;
  }
  .bCategoryItem {
    background: #000000;
    float: left;
    text-align: center;
  }
  .bCategoryItem_eLink {
    color: #ffffff;
    display: block;
    height: 105px;
    width: 105px;
  }
  .bCategoryItem_eIcon {
    display: block;
    height: 50px;
  }
  .bCategoryItem_eName {
    display: block;
    font-family: 'Enter';
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 80px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .bLogo {
    background: url("/css/mobile/header/img/logo_R.png") no-repeat 0 0;
    background-size: 85px 60px;
  }
}
@media only screen and (min-device-pixel-ratio: 1.5) {
  .bLogo {
    background: url("/css/mobile/header/img/logo_R.png") no-repeat 0 0;
    background-size: 85px 60px;
  }
}
