.bBuyingSale {
	padding-bottom: 8px;

	.bSumOrderInfo__eLine {
		margin: 0 0 2px;
	}

	.bDelivery {
		font-size: 18px;
	}

	.mOldPrice {
		color: #898989;
		text-decoration: line-through;
		font-size: 14px;
	}

	.mItemImg {
		background: url("@{base-url}/bBuyingSteps/img/bgStatusSale.gif") no-repeat 0 0;
		height: 20px;

		&.mError {
			background-position: 0 -35px;
		}
	}

	.bSumOrderInfo {
		margin-top: 15px;
	}
}

.bSaleData {
	display: inline-block;

	width: 427px;

	vertical-align: top;

	*display: inline;
	zoom: 1;

	.bTitle {
		margin: 0 0 10px;	
	}

	&__eEmptyBlock {
		display: block;

		padding: 13px 0 0;

		font-size: 14px;
	}

	.mSaleInput {
		display: inline-block;

		width: 288px;

		*display: inline;
		zoom: 1;
	}

	.mSaleBtn {
		display: inline-block;

		width: 95px;
		height: 33px;
		padding: 0;

		vertical-align: top;

		cursor: pointer;

		font: normal 14px/33px Tahoma;

		*display: inline;
		zoom: 1;

		&.mDisabled {
			background: #f3f3f3;
			border: 1px solid #a6a6a6;

			color: #a6a6a6;

			cursor: default;
		}
	}
}

.bSaleList {
	width: 500px;

	&__eItem {
		border: 1px solid #9e9e9e;
	    .rounded(4px);

	    float: left;

	    margin: 0 10px 10px 0;
	    padding: 5px 0 5px 8px;

	    vertical-align: top;
	    width: 143px;
		
		&:nth-child(3n+1) {
			clear: left;
		}
	}

	.mEnterSpa {
    	background: #000;

    	.bCustomLabel {
			color: #fff;
		}
   }
}

.bSaleCheck {
	background: url("@{base-url}/bBuyingSteps/img/bCheck.jpg") no-repeat 0 0;
	width: 178px;
	height: 95px;
	float: right;
	display: inline-block;
	margin: 20px 0 0;
}

.bSaleError {
   	color: #ec434f;
}

