.bBuyingInfo {
  padding: 0px 0px 10px 15px;
    
  .bPlaceholder {
    position: absolute;

    font: 14px Tahoma, sans-serif;

    margin-left: 10px;

    color: #a7a7a7;

    z-index: 2;

    font-size: 12px;
    line-height: 34px;
  }

  &.bSelectWrap_eText {
    line-height: 30px;
  }

  .mPhone {

    .bPlaceholder {
      color: @black;
      font-weight: bold;
    }

    .bBuyingLine__eText {
      text-indent: 19px;
    }
  }

  .mInput265 {
    width: 265px;
  }
}

.bSubscibeCheck {
  display: inline-block;
  font-size: 12px;
  margin: 5px 0 0 7px;
  color: #ffa901;

  *display: inline;
  zoom: 1;

  .mCustomLabelBig {
    line-height: 1;
  }
}

.mPayMethods {
  margin: 10px 0 20px;  

  .bBuyingLine__eRight {
    border-bottom: 1px solid #ddd;
  }

  .bInputList {
    font-size: 12px;
  }

  .bTitle {
    margin: 15px 0 15px;
  }
  
  .bCustomLabel{
    font-weight: bold;
    font-size: 14px;
  }

  .bPayMethodTitle {
    margin: 0 0px 15px 40px;
  }
  
  .bPayMethod {
    margin: 0 0 20px 40px;
  }

  .mMethodOption {
    margin-left: 0;
  }

  .bPayMethodDesc {
    margin: 5px 0 0 20px;

    font-size: 12px;
  }

  .bPayMethodAction {
    margin: 7px 0 20px 20px;

    color: #616161;

    .bFootenote {
      margin: 5px 150px 0 0;
    }
  }

  .bBankWrap {
    margin: 5px 0;

    .bSelectWrap {
      display: inline-block;
      vertical-align: top;
      width: 178px;

      margin-right: 10px;
    }

    .bBankLink {
      display: inline-block;
      vertical-align: top;

      line-height: 30px;
    }
  }

  .bSelectWrap_eText {
    color: #616161;
  }
}