.bInputAddress {
  height: 30px;
  margin: 24px 0 0;

  line-height: 30px;

  display: inline-block;

  .bBuyingLine__eText {
    position: relative;

    text-indent: 44px;

    &.mInputShort {
      width: 136px;
      margin-right: 10px;
    }

    &.mInputStreet {
      width: 297px;
      margin-right: 10px;
    }

    &.mInputNumber {
      text-indent: 49px;
    }

    &.mInputBuild {
      text-indent: 32px;
    }

    &.mInputFloor{
      text-indent: 37px;
    }

    &.mInputApartament {
      text-indent: 62px;
    }
  }
}

.bSelectedCity {
  line-height: 16px;
}

.bSClub {
  background: url("/css/skin/img/svyaznoi_club.png") 280px 0px no-repeat;

  &__eText {
    margin: 15px 0 0;
  }

  .mInputShort {
    width: 200px;
    padding-left: 10px;
  }
}