.bInputAddress {
  height: 30px;
  margin: 24px 0 0;
  position: relative;

  line-height: 30px;

  display: inline-block;
}

.bSelectedCity {
  padding: 5px 0 0;
}

.mSClub {
  margin: 10px 0 0;
  padding: 0 0 20px;

  background: url("/css/skin/img/svyaznoi_club.png") 260px -3px no-repeat;

  .bBuyingLine__eText {
    margin: 0 0 10px;
    padding-left: 10px;

    width: 230px;

    position: relative; 

    text-indent: 70px;
  }
  
  .bText {
    width: 255px;
  }
}