.bInputAddress {
  height: 30px;
  margin: 24px 0 0;
  position: relative;

  line-height: 30px;

  display: inline-block;

  .bBuyingLine__eText {
    position: relative;

    text-indent: 49px;

    &.mInputShort {
      width: 132px;
      margin-right: 10px;
    }

    &.mInputStreet {
      width: 297px;
      margin-right: 10px;
    }

    &.mInputNumber {
      text-indent: 49px;
    }

    &.mInputBuild {
      text-indent: 37px;
    }

    &.mInputFloor{
      text-indent: 37px;
      width: 134px;
    }

    &.mInputApartament {
      text-indent: 62px;
    }
  }
}

.bSelectedCity {
  padding: 5px 0 0;
}

.mSClub {
  margin: 10px 0 0;
  padding: 0 0 20px;

  background: url("/css/skin/img/svyaznoi_club.png") 260px -3px no-repeat;

  .bBuyingLine__eText {
    margin: 0 0 10px;
    padding-left: 10px;

    width: 230px;

    position: relative; 

    text-indent: 70px;
  }
  
  .bText {
    width: 255px;
  }
}