.bPointPopup {
  z-index: 10000;

  width: 950px;
  height: 580px;

  text-align: left;
}

.bPointInPopup {
  display: block;

  width: 245px;
  padding: 5px 10px 5px 5px;
  margin: 5px 0;

  cursor: pointer;

  &:hover {
    background: #fff1d8;
  }

  &__eListNum {
    vertical-align: top;
  }

  &__eName {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;

    *display: inline;
    zoom: 1;

    width: 190px;
  }

  .bTime {
    display: block;
    font-size: 12px;
    margin-top: 5px;
  }
}

.bPointList {
  float: left;
  overflow: auto;

  width: 275px;
  height: 520px;
}

.bPointPopupMap {
  float: right;

  width: 675px;
  height: 520px;

  background: #e6e6e6;
}

