.bPointPopup {
  z-index: 10000;

  width: 950px;
  height: 580px;

  text-align: left;
}

.bPointInPopup {
  display: block;

  width: 240px;
  padding: 5px 15px 5px 5px;

  cursor: pointer;

  &:hover {
    background: #fff1d8;
  }

  &__eName {
    font-size: 14px;
  }
}

.bPointList {
  float: left;
  overflow: auto;

  width: 275px;
  height: 520px;
}

.bPointPopupMap {
  float: right;

  width: 675px;
  height: 520px;

  background: #e6e6e6;
}

