.product-container{
	background-color: @white;
	&__brcr-bottom{

	}

	.bBreadcrumbs{
			&__eItem{
				background: none;
				position: relative;
				float: left;
				margin: 0px;
				padding: 0px;
				&:after{
					.icon-arrow();
					content: '\e801';
					padding-left: 3px;
				}
				&:last-child:after {
					content: "";
					padding: 0px;
				}
			}
			&__eLink{
				border-bottom: 1px dotted;

			}
		}
}
.product-card{
	&__section-left{
		display: inline-block;
		float: left;
		margin: 15px 0 0;
		width: 660px;
	}
	&__section-right{
		float: right;
		margin: 15px 0 0 16px;
		width: 260px;
		zoom: 1;
	}
	&__specify{

	}
}
.icon-arrow{
	font-family: "fontello-arrows";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
}
.btn{
	.rounded(5px);
    overflow: visible;
    text-align: center;

	&--post-buy{
        display: block;
        width: auto;
        .box-sizing();
        .inline-block();

		background-color: #cbdf59;
		.box-shadow2(0 3px 0 #b8c64b, 0 5px #feffbe);
        padding: 4px 23px 3px;
		border:1px solid #ccd594;

        text-align: center;
        text-decoration: none;

        color: #000;

        font-size: 18px;
        &:hover{
        	text-decoration: none;
        }
	}
	&--short{
		background: #c1d837;
		border-color: #9cb214;
		box-shadow: none;
		width: 74px;
		font-size: 11px;
		text-align: center;
		padding: 2px 0px 3px;
		margin-top: 3px;
	}

}
.bBtnLine .btn--post-buy, .topbarfix_buy .btn--post-buy{
	width: 72px;
	font-size: 12px;
	padding: 5px 0 6px;
	margin: 0px;
}
.topbarfix_buy .btn--post-buy{
	width: 86px;
	padding: 4px 0px;
}
.cmprCnt_buy .btn--post-buy{
	box-shadow: none;
	background: none;
	background-color: #cbdf59!important;
	color: @white;
	font-size: 16px;
}
//popup
.popup--request{
	background-color: @white;
	width: 480px;
	padding:20px 10px 10px;
	position: relative;

	&__close{
		position: absolute;
		top: 8px;
		right: 8px;
		width:15px;
		height: 15px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABDElEQVQoFZWTPY7CMBBG40iRs1BR7RkQiVIQQUHFERaJCwDH4gYr7RW22pIiShBnoKICYqUweUhBxjhB6yae8ffmx+N4Xr0mabqO43jA/t1Chx6dYCOE2HpaH85lOS+K4tgWIIqiz34Y/npCDLXWG/+q1A8gDg4QuGATRA/n53l+ImNXABtEDyeaLC4BLbT54R4whi0sq2oZBsE3Lbnu5Am2A9SXourLlC4Q7QuMM0mSkQyCHSABVFWNsyzbc2Yu3zTYUzqlNiBfbPy29gm2eyZj1xQesA0yDkrtGuO9ZxdovrS2c8Fb7Un51zaOpk87wEWpmf8h5eIdSAAqMVuoE37dA0/TdPWfvwo94A1nGOFbgEoGigAAAABJRU5ErkJggg==');
	}
	&__head{
		text-align: center;
		font-size: 18px;
	}

}
