.brandMenuWrap {
	margin: 0 0 -9px -10px;
	width: 960px;
	height: 51px;
	overflow: hidden;
	top: -9px;
	
	color: @white;
	position: relative;

	&:before {
		background: url("@{base-url}/brandMenu/img/menu_corner.gif") no-repeat 0 0;
		position: absolute;
		content: "";
		top: 1px;
		right: 40px;
		width: 16px;
		height: 9px;
	}
}

.brandMenu {
	display: table;
	border-top: 1px solid #929292;
	background: #002958;
	padding: 0 5px;
	height: 42px;
	margin-top: 9px;

	.brandLogo {
		display: table-cell;
		font-weight: bold;
		line-height: 42px;
		background: url("@{base-url}/brandMenu/img/logo.png") no-repeat 0 4px;
		padding: 0 20px 0 35px;
	}

	.slideCategory {
		display: table-cell;
		overflow: hidden;

		&__inner {
			overflow: hidden;
		}
	}

	.categoryList {
		width: 4000px;

		&__item {
			display: inline-block;
			color: @white;
			margin-right: 15px;
		}

		&__link {
			color: @white;
		}
	}
}