/* ==========================================================================
   Стили отзывов в карточке товара .tabContent-reviews
   ========================================================================== */
@media only screen and (max-width: 450px) {
	.reviewsBox {
		margin: 0 0 30px;

		&__left {
			float: none;
			width: auto; 
		}

		.reviews {
			display: inline-block;
			vertical-align: top;
		}

		.reviewsName {
		    margin: 0 10px;
		    display: inline-block;
			vertical-align: top;

			*display: inline;
			zoom: 1;
		}

		.reviewsDate {
			color: @typGray;
			display: inline-block;
			vertical-align: top;
			margin: 2px 0 0;

			*display: inline;
			zoom: 1;
		}

		&__right {
			padding: 0;
		}
	}
}