/* ==========================================================================
   Стили отзывов в карточке товара .tabContent-reviews
   ========================================================================== */
.tabContentWrap {
	overflow: hidden;
}

.tabContentInner {
	position: relative;
	top: 0;
	left: 0;
	width: 10000px;
	font-size: 0;
}

.tabContent {
	display: inline-block;
    font-size: 12px;
    margin: 0 0 30px;
    vertical-align: top;
    min-height: 350px;
}

.tabTitle {
	border-bottom: 1px solid @tabGreyBorder;
	border-top: 1px solid @tabGreyBorder;
	background: @tabGrey;
	padding: 10px;
	margin: 0 0 20px;

	&__text {
	    display: inline-block;
	    font-size: 16px;
	    font-weight: bold;
		text-align: center;
		border-bottom: none;

		*display: inline;
		zoom: 1;
	}

	&__add {
		display: inline-block;
	    float: right;
	    font-size: 14px;
	    border-bottom: 1px dotted;

	    *display: inline;
		zoom: 1;
	}
}


.reviewsBox {
	margin: 0 0 30px;

	&__left {
		float: left;
		width: 110px; 
	}

	.reviews {

		.reviewsStar {
			height: 15px;
		}
	}

	.reviewsName {
		font-size: 14px;
	    margin: 6px 0;
	}

	.reviewsDate {
		color: @typGray;
	}

	&__right {
		padding: 0 0 0 120px;
	}

	.reviewsText {

		&__mark {
			color: @typBoxShadowColor;
		    display: block;
		    float: left;
		    font: bold 24px/24px Tahoma;
		    margin-right: 5px;
		    margin-top: -2px;
		    text-align: right;
		    width: 30px;
		}

		&__par {
			padding: 0 0 0 40px;
			font-size: 14px;
		}
	}
}