<!-- кнопка сравнения -->
<div class="btnCmpr"
     data-bind="compareButtonBinding: compare"
     data-id="{{id}}"
     data-type-id="{{typeId}}"
>

    <a id="compareButton-{{id}}" class="btnCmpr_lk jsCompareLink" href="{{addUrl}}" data-is-slot="{{isSlot}}" data-is-only-from-partner="{{isOnlyFromPartner}}">
        <!--noindex--><span class="btnCmpr_tx">Добавить к сравнению</span><!--/noindex-->
    </a>

    <!-- если в сравнении есть несколько товаров из одной категории -->
    <div class="btnCmpr_more" style="display: none">
        <a class="btnCmpr_more_lk" href="{{url}}">Сравнить</a> <span class="btnCmpr_more_qn"></span>
    </div>
</div>