.bSearchSuggest{
    position: absolute;
    z-index: 15;
    top: 27px;
    left: 3px;

    width: 300px;
    padding: 5px 10px;

    color: @black;
    border: 1px solid #C9C9C9;
    .box-shadow(0 4px 5px -1px  @typBoxShadowColor);
	background: @white;

	&__eSelected{
		background-color: lighten(@firmOrange, 25%);
	}

	&__eCategoryList{

	}
	&__eListLine{
		margin: 7px 0 15px;

		text-align: right;

		border-bottom: 1px solid @typLightGray;

		line-height: 0.2;
	}
	&__eListTitle{
		padding: 1px 0 1px 5px;

		color: @black;
		background: @white;

		font-size: 11px;
	}

	&__eCategoryRes{
		display: block;

		margin: 0 -10px;
		padding: 5px 10px;

		color: @black;

		font-size: 12px;
		line-height: 1.1em;

		&.hover{
			color: @black;
			background-color: @typLightGray;
		}
	}

	&__eGoodRes{
		display: block;

		margin-bottom: 5px;

		&.hover{
			color: @black;
			// background-color: @typLightGray;

			.bSearchSuggest__eGoodTitleRes{
				text-decoration: underline;
				background-color: @typLightGray;
			}
		}
	}

	&__eGoodImgRes{

	}

	&__eGoodTitleRes{
		width: 230px;
		margin: 0;
		padding: 12px 10px;

		font-size: 12px;
	}

	&__eRes{
		&.hover{
			
		}
	}
}