.bPageLogin{
	margin-bottom: 40px;
	padding-top: 30px;
	&_eLogo{
		background: url("/css/order/img/orderSprite.png") no-repeat scroll -55px 0 transparent;
		height: 87px;
		width: 200px;
	}
	&_eContent{

	}
}
.bLoginPageForms{
	&_eTitle{
		float: none;
		font-family: 'Enter';
		font-size: 30px;
		font-weight: 100;
		text-transform: uppercase;
	}
	&_eDesc{
		font-family: 'Enter Type';
		font-size: 16px;
	}
}
.bLoginForm{
	margin-bottom: 30px;
	&_eTitle{
		color: @firmOrange;
		font-family: 'Enter';
		font-size: 26px;
		text-transform: uppercase;
		font-weight: 100;
	}
	&_eUr{
		display: block;
		margin-bottom: 10px;
		margin-top: -10px;
	}
}