#auth-block{
  width: 694px;
}
.bPageLogin{
	padding: 30px 0 55px;
	&_eLogo{
	background: url("/css/order/img/orderSprite.png") no-repeat scroll -55px 0 transparent;
	height: 87px;
	width: 103px;
	margin-right: 97px;
		a {
			display: block;
			height: 87px;
			width: 103px;
		}
	}
	&_eContent{

	}
}