/**
* Стили корзины, старая верстка
*/

.basketLine {
	border-bottom: 1px solid @typLightGray;
	margin-bottom: 20px;
	padding-bottom: 15px;

	&__img {
		.inline-block-middle();
		width: 120px;
		position: relative;
		padding: 0 10px;
		a{
			display: block;
			width: 100%;
			img{
				max-width: 96%;
				.inline-block-middle();
			}
			&:after{
				content: "";
				height: 100%;
				width: 0;
				.inline-block-middle();
			}
		}
	}


	&__desc {
		float: right;
		width: 780px;
		margin: 10px 0 0;

		&__name {
			font-size: 20px;
			display: inline-block;
			vertical-align: top;
			width: 480px;
			word-wrap: break-word;

			*display: inline;
			zoom: 1;
		}

		&__available {
			font-size: 12px;
			margin: 5px 0 0;
		}

		&__info {
			float: right;
			width: 270px;
		}

		.descCount {
			float: right;
			margin: 4px 20px 10px 0;
		}

		.descPrice {
			width: 284px;
			font-size: 22px;
			float: right;
			clear: both;

			.price {
				display: inline-block;
				min-width: 125px;
				text-align: right;
				vertical-align: top;
			}

			.button {
				display: inline-block;
				margin: 2px 0 0 10px;
				vertical-align: top;
			}
		}
	}

	.descPriceLine {
		width: 284px;
		float: right;
		clear: both;
	}

	.descPriceOne{
		font-size: 20px;
		color: #777;
		float: left;
		margin: 4px 0 0;

		.price {
			display: inline-block;
			min-width: 125px;
			text-align: right;
		}
	}
}

.basketCredit {
	float: left;
	width: 345px;

	&__text {
		padding-left: 34px;
		font-size: 11px;
	}
}

.basketSum {
	font-size: 14px;
	margin: 5px 20px 0 0;

	&__price {
		font-size: 24px;
		line-height: 42px;
	}
}

.creditRate {
	font-size: 14px;
	width: 370px;
	padding: 0 0 5px;
	line-height: 24px;

	&__title {
		float: left;
	}

	&__price {
		float: right;
		font-size: 24px;
	}

	&__footer {
		font-size: 11px;
		float: left;
		width: 370px;
		margin: 5px 0 0;
	}
}

.backShop {
	line-height: 41px;
	font-size: 14px;
}

.basketBuy {
	float: right;
	margin: 0 20px 35px 20px;

	.bBigOrangeButton {
		font-weight: normal;
		width: 208px;
	}
}






