body{
    margin: 0px;
}

.background_ar_pandra{
    z-index: 99998;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top:0px;
    left: 0px;
    display:none;
}
.ar_pandra{
    text-align: center;
    padding: 10px;
    z-index: 99999;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: white;
}

.close_button_ar_pandra{
    height: 0px;
    overflow: visible;
    right: 0px;
    margin: 0px;
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 26px;
    margin-top: -26px;
    margin-right: -26px;
}

.powered_by_ar_pandra{

}
.footer_ar_pandra{
    padding-top: 10px;
    font-size: 11px;
    font-family: arial, verdana, sans-serif;
}
.footer_ar_pandra_simple{
    padding-top: 4px;
}
.footer_ar_pandra div{
   padding-right: 10px;
    padding-left: 10px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.footer_ar_pandra a{
    color: #000000;
    text-decoration: none;
}

.footer_ar_pandra img{
    padding-left: 2px;
    margin-bottom: -3px;
}

/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
    position: relative;
    width: 100%;
    margin: 0px auto;
    z-index: 0;
}

.als-viewport {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    width: 580px;
}

.als-wrapper {
    padding: 0px;
    margin: 0px;
    position: relative;
    list-style: none;
}

.als-item {
    font-family: arial, verdana, sans-serif;
    line-height: 20px;
    font-size: 11px;
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
}
.als-item-selected{
    background-color: #ECECEC;
}

.als-prev, .als-next {
    position: absolute;
    cursor: pointer;
    clear: both;
}
/*************************************
 * specific styling for #demo1
 ************************************/

#demo1 {

}

#demo1 .als-item {
    margin: 0px 5px;
    padding: 4px 0px;
    min-height: 120px;
    min-width: 100px;
    text-align: center;
}

#demo1 .als-item img {
    max-height: 100px;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

#demo1 .als-prev, #demo1 .als-next {
    top: 50px;
}

#demo1 .als-prev {
    left: 0px;
}

#demo1 .als-next {
    right: 0px;
}