.shopPrintPage{
	.bMap{
		border: none;
		box-shadow:none;
	}
	.bMap__eBody{
		display: block;
		margin: 0 auto;
		width: 696px;
		z-index: 1;
	}
	.bMapInfo{
		font-size:1.1em;
	}
	.topbar,
	#header,
	#upper,
	.searchbox,
	.breadcrumbs,
	.bMap__eImages,
	#map-panorama,
	.printAction,
	.popup,
	.footer,
	.lightbox{
		display: none;
		visibility: hidden;
		opacity: 0;
	}

}