.bMap {
  .rounded(10px);
  .box-shadow(0px 0px 4px #d9d9d9);
  border: 1px solid #d9d9d9;
  clear: both;
  font-size: 0px;
  padding: 10px 20px;
  position: relative;
}
.bMap__eBody,
.bMap__eImages {
  display: inline-block;
  *display: inline;
  height: 429px;
  overflow: hidden;
  vertical-align: top;
  zoom: 1;
}
.bMap__eBody {
  width: 696px;
  z-index: 1;
}
.bMap__eImages {
  margin: 0px 0px 0px 16px;
  width: 166px;
}
.bMap__eImagesTitle {
  font: 16px Tahoma, sans-serif;
  margin: 10px 0px;
  padding: 0px;
}
.bMap__eImgSmall,
.bMap__eContainer {
  cursor: pointer;
  display: inline-block;
  *display: inline;
  height: 49px;
  width: 80px;
  zoom: 1;
}
.bMapShops__eContent{
  height: 490px;
  overflow: hidden;
}
.bMapShops__eMapCityList{
  height: 100%;
  overflow-y: scroll;
  width: 218px;
  &_city{
    cursor:pointer;
    padding: 3px 7px;
    .shopInCity{
      padding: 5px 10px 5px 20px;
      .shopchoose{
        font-size: 12px;
        margin: 10px 0;
      }
    }
  }
}
.bMap__eContainer {
  padding: 1px;
  &.first {
    padding: 2px;
  }
  &.first,
  &.first .bMap__eImgSmall{
    height: 96px;
    width: 162px;
  }
  &.mChecked,
  &:hover {
    border: 1px solid @firmOrange;
    padding: 0px;
  }
  &.mChecked .bMap__eImgBig {
    display: block;
  }
}
.bMap__eContainer.mChecked.first,
.bMap__eContainer.first:hover {
  border: 2px solid @firmOrange;
  padding: 0px;
}
.bMap__eImgSmall {
  border: none;
  height: 49px;
  width: 80px;
}
.bMap__eImgBig {
  display: none;
  height: 429px;
  left: 20px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 696px;
  z-index: 10;
  img {
    height: 429px;
    width: 696px;
  }
}
.bMapInfo {
  margin: 30px 0px 20px;
}
.bMapInfo__eIco,
.bMapInfo__eText {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}
.bMapInfo__eIco {
  height: 50px;
  width: 63px;
}
.bMapInfo__eIco.mCar {
  background: url("@{base-url}/shop/img/car.png") 50% 0px no-repeat;
}
.bMapInfo__eIco.mShop {
  background: url("@{base-url}/shop/img/shop.png") 50% 0px no-repeat;
}
.bMapInfo__eText {
  width: 845px;
}
.bMapInfo__eTitle {
  font: 24px Tahoma, sans-serif;
  margin: 0px 0px 20px;
  padding: 0px;
}
.bMapInfo__eP {
  margin: 0px 0px 15px;
  padding: 0px;
}
.bMap__e360 {
  background: url("@{base-url}/shop/img/360g.png") no-repeat;
  height: 64px;
  left: 31px;
  position: relative;
  top: -80px;
  width: 96px;
}
#staticYMap{
  display: none;
}
.printAction{
  float: right;
  margin: 20px 20px -50px;
  position: relative;
  text-align: center;
  width: 135px;
  z-index: 10;
}
.printLogo{
  display: none;
}
#region_map-container{
  width: 700px;
}