.shopPrintPage{

	@marginLeft: 33mm; //отступ страницы печати
	@widthPrintPage: 650px; // ширина страницы

	.bMap{
		border: none;
		box-shadow:none;
		padding: 0;
		margin-left: @marginLeft;
		#staticYMap{
			display: block;
		}
	}
	.pagehead h1{
		float: none;
		font-family: Arial, sans-serif;
		font-size: 30px;
		font-weight: normal;
		margin-left: @marginLeft;
		width: @widthPrintPage;
	}
	.printLogo{
		display: block;
		position: absolute;
		top: 0;
		//left: mm;
		width:28mm;
	}
	.bMapInfo{
		font-size:1.1em;
		margin-left: @marginLeft;
		width: @widthPrintPage;
		.bMapInfo__eTitle.mShop{
			display: none;
		}
		.bMapInfo__eText{
			width: @widthPrintPage;
		}
	}
	.topbar,
	#header,
	#upper,
	.searchbox,
	.breadcrumbs,
	.bMap__eBody,
	.bMap__eImages,
	#map-panorama,
	.printAction,
	.popup,
	.footer,
	.bMapInfo__eIco.mShop,
	.lightbox{
		display: none;
		width: 0px;
	}
	#page{
		height: 100%;
		//width: @widthPrintPage;
	}
}