//обычные цвета
@white: #fff;
@black: #000;

//фирменный оранжевый
@firmOrange: #f99b1c;

//фирменный голубой
@firmBlue: #4cc5e8;

// 256 оттенков серого
@lightShadow: #a6a6a6;
@lightGray: #cbcbcb;
@gray: #3a3a3a;
@darkGray: #222;
