//обычные цвета
@white:#fff;
@black:#000;

//фирменный оранжевый
@firmOrange:#f99b1c;

//фирменный голубой
@firmBlue:#4FCBF4;

//фирменный красный
@firmRed:#cb3735;

//фирменный зеленый
@firmGreen:#6ea428;

//типичный красный (для цен и подобных выделений)
@typRed:#e8303c;

//типичный серый
@typGray:#a6a6a6;

//типичный светло-серый
@typLightGray:#e6e6e6;

//типичный цвет тени
@typBoxShadowColor:#616161;

//основной цвет для ссылок
@typLinkColor:#404040;