.bWrap{
  background: url('@{base-url}/common/img/background.png') 0 0;
  padding:30px 40px;
}
.bTitle{
	font-size: 36px;
}
.bLabels{
	position: absolute;
}
.bRuble{
	font-family: 'Rouble';
	font-size: 0.85em;
}