.bWrap{
  background: url('@{base-url}/common/img/background.png') 0 0;
  // background: transparent;
  padding:30px 40px;
}
.bTitle{
	color: @lightGray;
	font-size: 36px;
	line-height: 1.2em;
}
.bLabels{
	position: absolute;
}
.bRuble{
	font-family: 'Rouble';
	font-size: 0.85em;
}
.bSlider{
	overflow: hidden;
	position: relative;
	width: 100%;
	&_eArrow{
		display: block;
		height: 100%;
		position: absolute;
		width: 179px;
		z-index: 10;
		&.mLeft{

		}
		&.mRight{
			background: url('@{base-url}/common/img/card_shadow.png') repeat-y 0 0;
			right: 0;
		}
	}
	&_eWrap{
		left: 0;
		position: relative;
		width: 10000px; // HARCODE
	}
}
#console{
	display: none;

	background: @white;
	border-radius: 10px;
	border: 2px solid @firmOrange;
	color:@black;
	padding:30px;
	position: fixed;
	right:15px;
	bottom: 0px;
	height: 100px;
	width: 300px;
	z-index: 10000;
	overflow: auto;
	p{
		margin:10px 0;
	}
}