.bWrap{
  background: url('@{base-url}/common/img/background.png') 0 0;
  // background: transparent;
  padding:30px 40px;
}
.bTitle{
	color: @lightGray;
	font-size: 36px;
	line-height: 1.2em;
}
.bLabels{
	position: absolute;
}
.bRuble{
	font-family: 'Rouble';
	font-size: 0.85em;
}
.bBreadcrumps{
	&__eItem{
		color: @firmOrange;
		display: inline-block;
		font-size: 20px;
		line-height: 1.5em;
		margin: 0 5px;
	}
}
.bSlider{
	overflow: hidden;
	position: relative;
	width: 100%;
	&_eArrow{
		display: none;
		height: 100%;
		position: absolute;
		width: 179px;
		z-index: 10;
		&.mLeft{
			background: url('@{base-url}/common/img/left_arrow.png'), url('@{base-url}/common/img/card_shadow_l.png');
			background-position: 30px center, 0 0;
			background-repeat: no-repeat, repeat-y;
			left: -15px;
		}
		&.mRight{
			background: url('@{base-url}/common/img/right_arrow.png'), url('@{base-url}/common/img/card_shadow.png');
			background-position: 90px center, 0 0;
			background-repeat: no-repeat, repeat-y;
			right: -15px;
		}
	}
	&_eWrap{
		left: 0;
		position: relative;
	}
}
.leftCorner{
	border-bottom: 15px solid transparent;
    border-right: 15px solid #FFFFFF;
    border-top: 15px solid transparent;
    left: -15px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}

#console{
	display: none;

	background: @white;
	border-radius: 10px;
	border: 2px solid @firmOrange;
	color:@black;
	padding:30px;
	position: fixed;
	right:15px;
	top: 0px;
	height: 500px;
	width: 300px;
	z-index: 10000;
	overflow: auto;
	p{
		margin:10px 0;
	}
}