.mFl{
	float:left;
}
.mFr{
	float:right;
}
.mRounded{
	border-radius: 10px;
}
.mBlackBlock{
	background: @black;
	border: 1px solid @gray;
}
.mListDisk{
	list-style-type: disc;
}
.mBold{
	font-weight: bold;
}
.mMB20{
	margin-bottom: 20px;
}
.mMB80{
	margin-bottom: 80px;
}
.mHidden{
	display: none;
}

// typical coloumns
.mPad15_30{
	padding: 15px 30px;
}
.mW570{
	box-sizing: border-box;
	width: 600px;
}
.mW940{
	box-sizing: border-box;
	width: 940px;
}
.mW960{
	box-sizing: border-box;
	width: 960px;
}
.mOrange{
	color: @firmOrange;
}
