.mFl{
	float:left;
}
.mFr{
	float:right;
}
.mRounded{
	border-radius: 10px;
}
.mBlackBlock{
	background: #000000;
	border: 1px solid #3e3e3e;
}

// typical coloumns
.mW600{
	width: 600px;
}
.mW940{
	width: 940px;
}