.bRating{
	background: url('@{base-url}/common/img/rating_unrated.svg') repeat-x 0 0;
	background-size: 15px 15px;
	display: block;
	height: 15px;
    width: 75px;
	.mRate{
		&_1{
			background: url('@{base-url}/common/img/rating_rated.svg') repeat-x 0 0;
			background-size: 15px 15px;
			display: block;
			height: 15px;
			width: 15px;
		}
		&_2{
			background: url('@{base-url}/common/img/rating_rated.svg') repeat-x 0 0;
			background-size: 15px 15px;
			display: block;
			height: 15px;
			width: 30px;
		}
		&_3{
			background: url('@{base-url}/common/img/rating_rated.svg') repeat-x 0 0;
			background-size: 15px 15px;
			display: block;
			height: 15px;
			width: 45px;
		}
		&_4{
			background: url('@{base-url}/common/img/rating_rated.svg') repeat-x 0 0;
			background-size: 15px 15px;
			display: block;
			height: 15px;
			width: 60px;
		}
		&_5{
			background: url('@{base-url}/common/img/rating_rated.svg') repeat-x 0 0;
			background-size: 15px 15px;
			display: block;
			height: 15px;
			width: 75px;
		}
	}
}
.bButton{
	border-radius: 5px;
	display: block;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	&.mGrayBtn{
		background: @gray;
		color: @lightGray;
		font-size: 16px;
		height: 48px;
		line-height: 48px;
		width: 166px;
	}
	&.mOrangeBtn{
		background: @firmOrange;
		color: @gray;
		font-size: 16px;
		height: 48px;
		line-height: 48px;
		width: 166px;
	}
	&.mSmallGrayBtn{
		background: @gray;
		color: @lightGray;
		font-size: 15px;
		height: 32px;
		line-height: 32px;
		width: 105px;
	}
	&.mSmallOrangeBtn{
		background: @firmOrange;
		color: @gray;
		font-size: 15px;
		height: 32px;
		line-height: 32px;
		width: 105px;
	}
}

.bCustomSelect{
	font-size: 16px;
	position: relative;
	width: 166px;
	&.mActive{
		.bCustomSelect_eSelected{
			background: @firmOrange;
			border-radius: 5px 5px 0 0;
			color: @gray;
			z-index: 3;
		}
		.bCustomSelect_eElements{
			display: block;
		}
	}
	&_eSelected{
		color: @lightGray;
		float: left;
		height: 48px;
		line-height: 48px;
		padding: 0 7px;
		position: absolute;
		text-align: center;
		width: 166px;
		z-index: 1;
	}
	&_eElements{
		border-radius: 0 0 5px 5px;
		background: none repeat scroll 0 0 @gray;
		display: none;
	    padding: 48px 7px 5px;
	    position: absolute;
	    text-align: center;
	    z-index: 2;
	}
	&_eOption{
		border-top:1px solid @lightGray;
		color: @lightGray;
		font-size: 16px;
		display: block;
		line-height: 1.5em;
		height: 48px;
		line-height: 48px;
		width: 166px;
	}
}