/* ==========================================================================
   Адаптивные стили описания товара .productDesc
   ========================================================================== */

@media only screen and (max-width: 900px) {

	.chooseModel {
		border-top: medium none;
	    margin: 0 auto 15px;
	    max-width: 562px;
	    padding: 0 10px 10px;
	}
}