.site-menu {
    position: relative;
    &__item {
        margin: 0;
        border-left: 3px solid transparent;
        &:hover {
            background: @orange-light-4;
            border-color: @orange-bright;
            & > .site-menu-sub {
                visibility: visible;

                transition-delay: 100ms;
                transition-property: visibility;

                isplay: block;
            }
        }
    }
    &__link {
        font-size: 1.1666em;

        position: relative;

        display: block;

        padding: 6px 0;
    }
    &__icon {
        width: 61px;

        text-align: center;

        .inline-block(middle);
        &_char {
            font-family: 'EnterIcon';
            font-size: 3.8em;
            line-height: .35;

            height: 31px;
        }
    }
    &__text {
        .inline-block(middle);
    }
    &__img {
        max-width: 31px;
        max-height: 31px;
    }
}

.menu-hide {
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 224px;

    display: block;
    visibility: hidden;
    overflow: auto;

    width: 800px;

    transition-delay: 110ms;
    transition-property: visibility;
}

.site-menu-sub {
    border: 1px solid @grey-light-3;
    background: @white;
    &__item {
        float: left;

        width: 266px;
        margin: 0;
        padding: 0;
        padding: 0 20px 0 0;
        &:nth-child(3n+1) {
            clear: both;
        }
    }
    &__link {
        font-size: 1.1666em;
        font-weight: 600;

        display: block;

        padding: 10px 10px 10px 20px;
    }
}

.site-menu-2sub {
    margin: 0 0 0 30px;
}
