.i-nav {
    background: url('@{base-url}/nav/i-nav.png') no-repeat 0 0;

    &--appliances {
        .i-sprite(-1px, -1px, 32px, 35px);
    }

    &--appliances2 {
        .i-sprite(-35px, -1px, 35px, 32px);
    }

    &--car {
        .i-sprite(-72px, -1px, 35px, 32px);
    }

    &--diy {
        .i-sprite(-35px, -35px, 35px, 35px);
    }

    &--furniture {
        .i-sprite(-72px, -35px, 35px, 32px);
    }

    &--garden {
        .i-sprite(-72px, -69px, 35px, 35px);
    }

    &--gifts {
        .i-sprite(-109px, -1px, 35px, 35px);
    }

    &--household {
        .i-sprite(-109px, -38px, 35px, 32px);
    }

    &--jewelry {
        .i-sprite(-1px, -72px, 35px, 31px);
    }

    &--kids {
        .i-sprite(-38px, -72px, 32px, 35px);
    }

    &--perfumery {
        .i-sprite(-109px, -72px, 35px, 35px);
    }

    &--pets {
        .i-sprite(-1px, -109px, 35px, 35px);
    }

    &--present {
        .i-sprite(-38px, -109px, 35px, 35px);
    }

    &--sport {
        .i-sprite(-75px, -109px, 35px, 35px);
    }
}

// <i class="i-nav i-nav--appliances"></i>
// <i class="i-nav i-nav--appliances2"></i>
// <i class="i-nav i-nav--car"></i>
// <i class="i-nav i-nav--diy"></i>
// <i class="i-nav i-nav--furniture"></i>
// <i class="i-nav i-nav--garden"></i>
// <i class="i-nav i-nav--gifts"></i>
// <i class="i-nav i-nav--household"></i>
// <i class="i-nav i-nav--jewelry"></i>
// <i class="i-nav i-nav--kids"></i>
// <i class="i-nav i-nav--perfumery"></i>
// <i class="i-nav i-nav--pets"></i>
// <i class="i-nav i-nav--present"></i>
// <i class="i-nav i-nav--sport"></i>

.site-menu {
    &__item {
        margin: 0;
    }
    &__link {
        display: block;
        padding: 10px 0;
    }
    &__icon {
        .inline-block(middle);
        width: 64px;
        text-align: center;
    }
    &__text {
        font-family: 'GloberSemiBold';
        font-size: 1.1666em;
        .inline-block(middle);
    }
}
