.i-nav {
    background: url('@{base-url}/nav/i-nav.png') no-repeat 0 0;
    &--appliances {
        .i-sprite(-1px, -1px, 32px, 35px);
    }
    &--appliances2 {
        .i-sprite(-35px, -1px, 35px, 32px);
    }
    &--car {
        .i-sprite(-72px, -1px, 35px, 32px);
    }
    &--diy {
        .i-sprite(-35px, -35px, 35px, 35px);
    }
    &--furniture {
        .i-sprite(-72px, -35px, 35px, 32px);
    }
    &--garden {
        .i-sprite(-72px, -69px, 35px, 35px);
    }
    &--gifts {
        .i-sprite(-109px, -1px, 35px, 35px);
    }
    &--household {
        .i-sprite(-109px, -38px, 35px, 32px);
    }
    &--jewelry {
        .i-sprite(-1px, -72px, 35px, 31px);
    }
    &--kids {
        .i-sprite(-38px, -72px, 32px, 35px);
    }
    &--perfumery {
        .i-sprite(-109px, -72px, 35px, 35px);
    }
    &--pets {
        .i-sprite(-1px, -109px, 35px, 35px);
    }
    &--present {
        .i-sprite(-38px, -109px, 35px, 35px);
    }
    &--sport {
        .i-sprite(-75px, -109px, 35px, 35px);
    }
}

// <i class="i-nav i-nav--appliances"></i>
// <i class="i-nav i-nav--appliances2"></i>
// <i class="i-nav i-nav--car"></i>
// <i class="i-nav i-nav--diy"></i>
// <i class="i-nav i-nav--furniture"></i>
// <i class="i-nav i-nav--garden"></i>
// <i class="i-nav i-nav--gifts"></i>
// <i class="i-nav i-nav--household"></i>
// <i class="i-nav i-nav--jewelry"></i>
// <i class="i-nav i-nav--kids"></i>
// <i class="i-nav i-nav--perfumery"></i>
// <i class="i-nav i-nav--pets"></i>
// <i class="i-nav i-nav--present"></i>
// <i class="i-nav i-nav--sport"></i>

.site-menu {
    position: relative;
    &__item {
        margin: 0;
        &:hover {
            background: @orange-light-4;
            & > .site-menu-sub {
                visibility: visible;

                transition-delay: 100ms;
                transition-property: visibility;

                isplay: block;
            }
        }
    }
    &__link {
        font-size: 1.1666em;

        position: relative;

        display: block;

        padding: 6px 0;
    }
    &__icon {
        width: 64px;

        text-align: center;

        .inline-block(middle);
        &_char {
            font-family: 'EnterIcon';
            font-size: 3.8em;
            line-height: .35;

            height: 31px;
        }
    }
    &__text {
        .inline-block(middle);
    }
    &__img {
        max-width: 31px;
        max-height: 31px;
    }
}

.menu-hide {
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 224px;

    display: block;
    visibility: hidden;
    overflow: auto;

    width: 800px;

    transition-delay: 110ms;
    transition-property: visibility;
}

.site-menu-sub {
    border: 1px solid @grey-light-3;
    background: @white;
    &__item {
        float: left;

        width: 266px;
        margin: 0;
        padding: 0;
        padding: 0 20px 0 0;
        &:nth-child(3n+1) {
            clear: both;
        }
    }
    &__link {
        font-size: 1.1666em;
        font-weight: 600;

        display: block;

        padding: 10px 10px 10px 20px;
    }
}

.site-menu-2sub {
    margin: 0 0 0 30px;
}
