.order-head {
    line-height: 36px;

    height: 40px;
    padding: 0 10px;

    border-bottom: 4px solid @grey-light-3;
}

.order-check {
    &__img {
        max-height: 17px;
        margin-left: 5px;

        .inline-block(middle);
    }
}
