.order-delivery-info {
    position: relative;

    margin: 0 0 10px;
    padding: 10px;

    border: 1px solid @orange-bright;
    background: @orange-light-4;
    &-title {
        margin: 0 0 10px;

        .clearfix();
        &__left {
            float: left;

            .font-size14(16);
        }
        &__right {
            float: right;

            cursor: pointer;

            color: @grey-bright;
        }
    }
    &_point {
        border: 1px solid @grey-light-2;
        background: @white;
    }
    &_empty {
        .order-delivery-info-time ,
        .order-delivery-info-address {
            display: none;
        }
    }
    &_transparent {
        padding: 0;

        border: none;
        background: @white;
    }
    &-time {
        margin: 0 -10px;
        padding: 10px 10px 0;

        border-top: 1px solid @grey-light-2;
        &__text {
            color: @grey-bright;

            .font-face('GloberRegular');
            .inline-block(baseline);
            &:first-child {
                padding: 0;
            }
        }
        &__img {
            padding: 0 2px;

            vertical-align: top;
        }
    }
    &-address {
        position: relative;

        margin-bottom: 10px;
        &__text {
            padding-left: 13px;
            &-mark {
                color: @grey-bright;
            }
        }
        &:after {
            position: absolute;
            top: 5px;
            left: 0;

            width: 8px;
            height: 8px;

            content: '';

            background: inherit;

            .rounded(50%);
        }
        .addrsAutocmplt {
            z-index: 99;

            overflow: hidden;

            max-height: 135px;

            border: 1px solid blue;
        }
        .ui-helper-hidden-accessible {
            display: none;
        }
        .ui-autocomplete {
            z-index: 1;

            overflow-y: scroll;

            height: 125px;
            padding: 5px;

            border: 1px solid #c7c7c7;
            background: @white;
            .ui-menu-item {
                line-height: 23px;
            }
            .ui-corner-all {
                display: block;

                padding: 0 4px;

                cursor: pointer;
                &:hover ,
                &.ui-state-focus {
                    text-decoration: none;

                    background: #fde6c6;
                }
            }
        }
        input {
            border: none;
        }
        .ui-autocomplete-input {
            line-height: 24px;

            width: 205px;
            height: 24px;
            padding: 0 0 0 5px;

            border: none;

            .inline-block();
        }
        .addrsAutocmpltLbl {
            line-height: 24px;

            margin: 0 0 0 5px;

            color: red;

            .inline-block();
        }
        &__text {
            display: block;

            background: @white;
        }
        &__field {
            width: 100%;
            min-height: 32px;
            margin: 10px 0;
            padding: 5px 0 0 15px;

            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAfUlEQVQI12NgQAL/UxkmAbEPQoCBgel/KAMbVPLo/zSGdDA7gYEDJGAPFPgApBcC8T0g3gjEB4Bitxj+OzCw/E9m8AAKrAMK/Afij/9TGEqBtDKyfZuBAqeB+AeQHYyQSGEIAgq++Z/EIAWkc4D4JRBzwRzFCDRaBa4YygYAl4k+pDkf0IQAAAAASUVORK5CYII=') no-repeat 5px 5px @white;

            .clearfix();
            &-item {
                line-height: 24px;

                position: relative;

                float: left;

                height: 24px;
                margin: 0 5px 5px 0;
            }
            &-name {
                display: inline;

                padding: 3px 5px;

                color: @white;
                background: #fbae47;

                .rounded(3px 0 0 3px);
            }
            &-value {
                display: inline;

                padding: 3px 5px 3px 10px;

                background: #fde6c6;

                .rounded(0 3px 3px 0);
            }
        }
    }
    &-date {
        margin: 0 10px 10px 0;
        padding: 8px 30px 6px 10px;

        cursor: pointer;

        border: 1px solid @grey-light-2;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAi0lEQVRIDe2UAQqAIAxFW3TG9Ih2StsgYeo3hRoROJB0xN/jJVGMcbGq1SpYcmc4tGuqZYMjuem9G75GIRyEckzJ/xvedC4O2SVSmfX422RnffhWSyJrPTVptZcfF1rO7dzu1/UezOhqaRGnfkWrG8wGp75Bfntbhug0abEnIbeqrvMng2c4tGeq5QTHpa3kCpv6MAAAAABJRU5ErkJggg==) no-repeat 98% 50%;

        .inline-block();
    }
    &-warn {
        position: relative;

        margin-right: -10px;
        padding: 5px 10px;

        color: @red-normal;
        background: @red-light-4;
        &__icon {
            position: absolute;
            top: 50%;
            right: 10px;

            width: 19px;
            height: 19px;
            margin-top: -19px/2;

            background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAkFBMVEUAAADcRj7dRDfcRDjcRTfbRTf/SUncRDfcTEHqk4v1zcn77Ov++vrcRjrbRTfng3r77uz////snJX++fnzwLzsoZrsnZb1zcr88vHbSDvbRDfvraf1z8z66ejzwb3gX1TeV0vcTED54uDjcmj88fDfWk/cST320M3rnJXbSTzle3LmfnX+/f3hZFnnhn7kdGpKH9CGAAAAD3RSTlMAHXjD5vkHivj/////Fse0VdjAAAAAi0lEQVR4AW2QhRHDMBAE9xRmqiD9d5XhDIcZTmZYk7zzoJcwMl8DEID+oKDvCJg5iIgjj46ar1cF63mfLtIXgmMfjpToJnk9v8eXpF3q7hPp1SV3mDMssn0Fu8jqETBFHBtN8zhv3XS72qd7zF0IVlW3E4VL5TZkqnAn5a5l3rZzsaOvyDfygLZz/gF3oUGtB44FHAAAAABJRU5ErkJggg==');

            .inline-block();
        }
    }
}

.order-payments {
    margin: 0 0 10px;
    &__title {
        .font-size14(16);
    }
    .paymentRow {
        position: relative;

        padding: 5px 0;

        .font-face('GloberRegular');
        &__label {
            vertical-align: middle;
            margin-right: 8px;
        }
        &:last-child {
            padding-bottom: 0;
        }
        .orderPaymentWeb_lst-sm {
            margin-left: 5px;
        }
        .customSel {
            position: relative;

            overflow: hidden;

            width: 155px;
            height: 27px;

            vertical-align: middle;
            &-inner {
                position: absolute;
                top: 1px;
                left: 0;

                width: 170px;
                height: 100%;

                border: none;
                outline: none;
                background: none;
            }
        }
    }
}
