.order-item {
    padding: 10px;

    border-bottom: 1px solid @grey-light-3;
    &__img {
        width: 40px;
        height: 40px;
        margin-right: 5px;

        text-align: center;

        .inline-block(middle);
        .image {
            max-width: 95%;
            max-height: 95%;
        }
    }
    &__name {
        line-height: 1.2;

        .inline-block(middle);
        .font-face('GloberRegular');
    }
    &__data-item {
        margin-left: 20px;

        color: @grey-type;

        .inline-block();
        .font-size14(16);
        &_summ {
            width: 110px;
            padding-right: 10px;

            text-align: right;
            white-space: nowrap;

            color: @black;
        }
        &_count {
            cursor: pointer;

            border-bottom: 1px dotted;
        }
        &_sale {
            color: red;
        }
        &_del {
            cursor: pointer;

            color: @black;
            border-bottom: 1px dotted;
        }
        &-control {
            color: @grey-type;

            .font-size14(12);
            .font-face('GloberRegular');
            .inline-block(middle);
        }
        &-separate {
            color: @grey-type;

            .font-size14(12);
            .font-face('GloberRegular');
            .inline-block(middle);
        }
        &_edit {
            display: none;
            .counter {
                line-height: 24px;

                width: 110px;
                margin-right: 10px;

                .inline-block(middle);
                .font-size14(12);
            }
        }
    }
    &__data {
        text-align: right;

        &-error-quantity {
            color: @red;
            margin-top: 2px;
            .font-size14(14);

        }
        &.edit {
            .order-item__data-item {
                display: none;
                &_edit {
                    display: block;
                }
            }
        }
    }
    &_t {
        line-height: 20px;

        padding-left: 10px;

        border-top: 1px solid green;
        background: yellow;

        .font-size14(12);
    }
}
