/** стили блоков выбора модели **/

@media only screen and (max-width: 900px) {
	.productDesc {
		margin-bottom: 0;
	}

	.productDescInfo{
		float: none;
		width: auto;
	}

	.slidesItems {
		float: none;
		width: auto;
		text-align: center;
		margin: 0 0 30px;
	}

	.productDescHead{
		float: none;
		width: auto;
		padding: 0;
	}

	.buyInfoBuy {

		.btnBuy {
			float: left;
    		margin: 0 0 0 15px;
			width: 132px;
		}

		.counter {
			float: left;
			margin: 0 0 20px;
		}
	}
}

@media only screen and (max-width: 570px) {
	.productDesc {

		.slidesItems {
			float: none; 
			width: auto;
		}

		.buyInfoWrap {
			float: none;
		}

		.buyInfo {
	    	padding-right: 0;
		}

		.deliveryInfo {
			float: none;
		    margin-left: 0;
		    width: auto;
		}
	}

	.btnBuyOneClick {
		display: block;
	}	

	.deliveryList {

		&__item {

			&-oneClick {
				display: none;
			}
		}
	}
}