/** стили блоков выбора модели **/

@media only screen and (max-width: 900px) {
	.productDesc {
		margin-bottom: 0;
	}

	.productDescInfo {
		float: none;
		width: auto;
		padding: 10px 10px;
		background: @tabGrey;
		border-top: 1px solid @tabLightGreyBorder;
	}

	.slidesItems {
		float: none;
		width: auto;
		text-align: center;
		margin: 0 0 30px;
	}

	.productDescHead{
		float: none;
		width: auto;
		padding: 0 10px;
	}
}

@media only screen and (max-width: 570px) {
	.productDesc {

		.buyInfoWrap {
			float: none;
		}

		.buyInfo {
	    	padding-right: 0;
		}

		.deliveryInfo {
			float: none;
		    margin-left: 0;
		    margin-top: 15px;
		    padding-top: 15px;
		    width: auto;
		    border-top: 1px solid @tabLightGreyBorder;
		}
	}

	.slidesItems {
		min-height: 300px;
	}	

	.deliveryList {

		&_item {

			&-oneClick {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 330px) {
	.buyInfoBuy .btnBuy {
		width: 128px;
		float: right;
	}
}