/** стили блоков выбора модели **/

@media only screen and (max-width: 900px) {
	.productDesc {
		margin-bottom: 0;
	}

	.productDescInfo{
		float: none;
		width: auto;
	}

	.productDescImg {
		float: none;
		width: auto;
		text-align: center;

		.productImg {
			width: 100%;
			height: auto;
		}
	}

	.productDescHead{
		float: none;
		width: auto;
	}

	.buyInfoBuy {

		.btnBuy {
			float: right;
			width: 132px;
		}

		.counter {
			float: left;
			margin: 0 0 20px;
		}
	}

	.productDescHead {
		padding: 0 10px;
	}

	.productDescImg {
		padding: 0 30px;
		margin-top: 0;
	}
}

@media only screen and (max-width: 570px) {
	.productDesc {

		.buyInfoWrap {
			float: none; 
			width: auto;
		}

		.buyInfo {
	    	padding-right: 0;
		}

		.deliveryInfo {
			float: none;
		    margin-left: 0;
		    width: auto;
		}
	}

	.btnBuyOneClick {
		display: block;
	}	

	.deliveryList {

		&__item {

			&-oneClick {
				display: none;
			}
		}
	}
}