/* ==========================================================================
   Стили шапки сайта .header
   ========================================================================== */
.productDesc {
	margin: 0 0 40px;

	.buyInfoWrap {
		float: left; 
		overflow: hidden; 
		width: 100%;
	}

	.buyInfo {
		padding-right: 250px;
	}

	.deliveryInfo {
		float: left;
		width: 230px;
		margin-left: -230px;
		position: relative;
	}
}

/* Шапка карточки товара - название товара, артикул и отзывы */
.productDescHead {
	padding-left: 41.48936%;

	&__name {
		margin-bottom: 10px
	}

	&__article {
		display: inline-block;
		color: @typGray;
		font-size: 14px;
		margin-bottom: 20px;

		*display: inline;
		zoom: 1;
	}

	/* Отзывы в карточке товара */
	&__reviews {
		float: right;
		margin-bottom: 20px;
		display: inline-block;

		*display: inline;
		zoom: 1;

		.reviewsCount {
			display: inline-block;
			vertical-align: top;
			color: @typGray;
		    font-size: 15px;
		    line-height: 15px;
		    margin: 0 0 0 5px;
		    *display: inline;
			zoom: 1;
		}

		.reviewsStar {
			display: inline-block;
			vertical-align: top;
			height: 15px;

			*display: inline;
			zoom: 1;
		}
	}
}

/* Картинка товара */
.productDescImg {
	float: left;
	width: 37.23404%;
	margin-top: -50px;
	text-align: center;

	.productDescImgList {
		position: relative;
		overflow: hidden;
		width: 100%;

		&__item {
			overflow: hidden;
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;

			&.page-current {
				z-index: 22;
				top: 0;
				left: 0;
				opacity: 1;
			}

			&.page-right {
				opacity: 0;
    			right: 100%;
			}

			&.page-left {
				opacity: 0;
    			left: -100%;
			}

			&.page-animating {
			    transition: opacity 200ms linear;
			}
		}

		&__img {
			width: 100%;
			height: auto;
		}
	}
}

/* Подробности покупки товара */
.productDescInfo {
	float: right;
	width: 58.51063%;
}

/* Покупка */
.buyInfoBuy {

	.btnBuy {
		float: right;
	}

	.counter {
		float: left;
	}
}