.debug {
    position: fixed;
    bottom: 0;
    background: #ededed;
    padding: 4px 6px;

    &__container {

    }

    &__queryMap {
        width: 961px;
        margin: 5px auto;
        border: #ededed;
        background: #ffffff url('/debug/grid.gif');
    }
}