<div class="g-aboutShopBrief">
    <h1>Интернет-магазин «Enter»</h1>
    <h2>Выгодные цены и комфорт при выборе товара</h2>
    <p>Жизнь современного человека сложно представить без электроники, качественной мебели, красивой одежды, украшений и пр. Мы всегда стремимся окружить себя комфортом, но в поисках качественных и доступных по цене товаров для дома в интернете можно запросто потеряться. Чтобы этого не произошло, воспользуйтесь каталогом интернет-магазина «Enter». Мы гарантируем вежливое обслуживание, а также официальный товар с гарантией и сервисной поддержкой клиентов на всей территории России.</p>

    <h2>Большой ассортимент и доступная стоимость</h2>
    <p>Купить всё необходимое для офиса, квартиры, дома или дачи вам поможет интернет-магазин Enter.</p>
    <p>Ассортимент представленной продукции расширяется практически ежедневно. В режиме онлайн вы сможете посмотреть предложения из категории «Новинки» или сэкономить деньги в разделе «Распродажа».</p>

    <h2>Важные преимущества для наших клиентов</h2>
    <p>Покупать у нас не только выгодно, но и удобно. К каждому товару прилагается подробное описание и качественное фото его внешнего вида. А окончательно определиться с выбором вам всегда помогут отзывы клиентов.</p>
    <p>Оплата товаров может быть выполнена наличными при получении. К безналичному расчету принимаются банковские карты Visa, MasterCard и Maestro.</p>
    <p>Доставка ваших заказов осуществляется удобной транспортной компанией по Москве, Санкт-Петербургу и в любой другой город России. Забрать покупку можно из пункта выдачи или получить посылку от курьера прямо дома. Мы даем официальные гарантии качества представленных товаров.</p>
</div>