<div class="infoBox jsMainCategoryTracking">
    <div class="infoBox_tl">
        А ЕЩЕ У НАС ПОКУПАЮТ
    </div>

    <ul class="lstitem lstitem-center lstitem-7i clearfix">
        {{#categories}}
            <li class="lstitem_i">
                <a class="lstitem_lk" href="{{url}}">
                    <img src="{{image.url}}" alt="" class="lstitem_img zoomOut">
                    <span class="lstitem_n">{{name}}</span>
                </a>
            </li>
        {{/categories}}
    </ul>
</div>