/**
* Выпадающие блоки из блока корзины и логина
*/
.userbar-dd {
	position: absolute;
    z-index: 101;
    top: 50px;

    display: none;

    color: @black;
    border: 1px solid #ccc;
    background: @white;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
       -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
            box-shadow: 0 2px 7px -1px rgba(0, 0, 0, .2);
}

.minicart {
    right: 0;

    width: 227px;

    &__buy {
        padding: 10px;

        border-top: 1px solid #ccc;
    }
    &__btn {
        font-size: 18px;

        padding: 10px 0;
    }
}

.topbarfix {

	&_logOut {
		width: 180px;
		padding: 10px;
	}
}

.hintDd {
		position: absolute;
		top: 50px;
		width: 732px;
		left: -839px;
		background: #fff;
		height: 0;
		/* Переход */
	    .transition(all 0.2s ease-out 0.1s);
	    overflow: hidden;
	    border: 1px solid #ccc;
		border-top: none;
		border-bottom: none;

		.bHeadSection {
			padding: 10px 0 0 10px;
			font-size: 16px;
			margin: 0;
			border-top: 1px solid #ccc;
		}

		&.mhintDdOn {
			height: 270px;
			.drop-shadow(0px, 4px, 11px, 0.2);
			border-bottom: 1px solid #ccc;
		}

		.slideItem {
			width: 700px;
			margin: 0 auto;
		}
	}



.buyInfo {
	border-top: 3px solid #f99b1c;
	text-align: center;
	padding: 10px 0 8px;

	&_pr {
		font-size: 20px;
		font-weight: bold;
		margin: 5px 0;
	}

	&_lk {
		text-decoration: underline;
	}

	&_self {
		color: #f99b1c;
		font-weight: bold;
		font-size: 20px;
	}
}


.ddBlock {
	display: block;
}
/*
Новая верстка - таблица
*/
.topbarfix-cart-wrap{
	max-height: 207px;
	overflow-y: auto;
	overflow-x: hidden;
}
.table-cart{
	border: none;

	&__i{
		height: 55px;
		overflow: hidden;
		font-size: 11px;
		vertical-align: top;
	}
	&__img{
		max-height: 40px;
		max-width: 30px;
		&-wrap{
			padding: 5px;
			width: 40px;
		}

	}
	&__name{
		line-height: 1.2;
		padding: 5px 5px 5px 0;
		width: 100%;
		max-width: 0;
		&-inn{
			max-width: 120px;
			display: block;
			position: relative;
			overflow: hidden;
			max-height: 40px;
			&:after{
				.after-gradient-stub(15px);
			}
		}
	}
	&__inf{
		padding:5px 10px 5px 0px;

		white-space: nowrap;
		.price{
			white-space: nowrap;
			display: block;
			min-width: 50px;
		}
		.quan{
			display: block;
		}
		.del{
			display: block;
			text-decoration: underline;
		}
	}
}