<div class="no-goods table">
    <div class="no-goods__title table-cell">Товары<br/>не найдены</div>
    {{#category}}
    <div class="no-goods__text table-cell">Попробуйте расширить критерии поиска или посмотреть все товары в категории
        <a class="no-goods__link dotted" href="{{url}}">{{name}}</a>
    </div>
    {{/category}}
</div>