<div class="no-goods">
    <div class="no-goods__title">Товары не найдены</div>
    {{#category}}
    <div class="no-goods__text">Попробуйте расширить критерии поиска<br/> или посмотреть все товары в категории
        <a class="no-goods__link dotted" href="{{url}}">{{name}}</a>
    </div>
    {{/category}}
</div>