<div class="goods__item grid-4col__item js-module-require" data-module="enter.product" data-id="{{id}}" data-product='{{productJSON}}' >

    {{#label}}
    <div class="sticker-list">
        <div class="sticker sticker_sale {{class}}">{{name}}</div>
    </div>
    {{/label}}

    <div class="goods__controls">
        <!--<a class="add-control add-control_wish js-favorite-button" href="" data-status="В избранное"></a>-->
        <a class="add-control add-control_compare js-compare-button" href="/compare/add-product/{{id}}" data-id="{{id}}" data-status="В сравнение"></a>
    </div>

    {{#brandImage}}
    <div class="sticker-brand">
        <a href=""><img src="{{brandImage}}" alt=""></a>
    </div>
    {{/brandImage}}

    <a href="{{link}}" class="goods__img">
        <img src="{{image}}" alt="" class="goods__img-image" style="opacity: 1;">
        {{#inStoreLabel}}
            <div class="sticker sticker_info">Товар со склада</div>
        {{/inStoreLabel}}
    </a>

    <div class="goods__rating rating">
        {{#review}}
            <span class="rating-state">
            {{#stars}}
            <i class="rating-state__item rating-state__item_1 icon-rating {{#show}}rating-state__item_fill{{/show}}"></i>
            {{/stars}}
            </span>
            <span class="rating-count">({{count}})</span>
        {{/review}}
    </div>

    <div class="goods__name">
        <div class="goods__name-inn">
            <a href="{{link}}">{{name}}</a>
        </div>
    </div>

    <div class="goods__price-old"><span class="line-through">{{#odlPrice}}{{oldPrice}}</span>&thinsp;<span class="rubl">C</span>{{/odlPrice}}</div>
    <div class="goods__price-now">{{price}}&thinsp;<span class="rubl">C</span></div>

    {{& buyButtonHtml}}

</div>