// попап о снижении цены
.popup-best-price {
    &__desc {
        margin-bottom: 24px;

        color: @grey-bright;

        .font-face('GlobarRegular');
    }
    &__check {
        margin: 0 0 20px;

        color: @grey-bright;

        .font-face('GlobarRegular');
    }
    &__btn {
        text-align: center;
    }
    .popup__title {
        margin-bottom: 20px;
    }
    .form__field {
        margin-bottom: 10px;
    }
}