.one-click {
	.form-order-login__left,
	.checkout-order__right {
		float: none;
		width: auto;
	}
}

.one-click-product {
	.clearfix();
	margin: 0 0 20px;

	&__img {
		vertical-align: middle;
		width: 120px;
		max-height: 120px;

		.image {
			max-width: 100%;
		}
	}

	&__desc {
		vertical-align: middle;
		padding-left: 20px;
	}

	&__name {
		.font-size(18);
	}

	&__price {
		.font-size(30);
	}
}