.popup {
    position: relative;

    display: none;

    padding: 20px;

    border: 1px solid @grey-light-3;
    background: @white;
    // попап войти/регистрация
    &_log {
        overflow: hidden;

        width: 320px;
    }
    // выбор региона
    &_region {
        width: 760px;
    }
    &_540 {
        width: 540px;
    }
    &_440 {
        width: 440px;
    }
    &_360 {
        width: 360px;
    }
    &_640 {
        width: 640px;
    }
    &_920 {
        width: 920px;
    }
    &__title {
        margin: 0 0 32px;

        .font-size(22);
    }
    &__close {
        line-height: 1;

        position: absolute;
        top: 5px;
        right: 5px;

        padding: 0 5px;

        cursor: pointer;

        color: @grey-bright;

        .font-size(24);
        .font-face('GloberRegular');
    }
    &__desc {
        line-height: 1.4;

        margin: 0 0 15px;

        .font-size(14);
    }
}