.popup {
    position: relative;

    display: none;
    overflow: hidden;

    padding: 20px;

    border: 1px solid @grey-light-3;
    background: @white;
    // попап войти/регистрация
    &_log {
        width: 320px;
    }
    // выбор региона
    &_region {
        width: 760px;
    }
    &__title {
        font-size: 1.8333em;

        margin: 0 0 32px;
    }
    &__close {
        font-size: 2em;
        font-weight: 300;
        line-height: 1;

        position: absolute;
        top: 5px;
        right: 5px;

        padding: 0 5px;

        cursor: pointer;

        color: @grey-bright;
    }
    &__desc {
        font-size: 1.1666em;
        line-height: 1.4;

        margin: 0 0 15px;
    }
}

.form {
    &__title {
        font-size: 1.6666em;
        font-weight: 300;

        margin: 0 0 10px;

        text-align: center;
    }
    &__field {
        position: relative;

        margin: 0 0 24px;
    }
    &__it {
        width: 100%;
    }
    &__it-name {
        font-size: 1.1666em;
        font-weight: 600;

        margin: 0 0 22px;
    }
    &__it-btn {
        font-size: 1.1666em;
        line-height: 33px;

        position: absolute;
        top: 1px;
        right: 1px;

        display: block;

        padding: 0 8px;

        color: @grey-bright;
        background: @grey-light-5;
    }
    &__btn-log {
        display: block;

        width: 160px;
        margin: auto;
    }
    &__success-text {
        font-size: 1.33333em;
        font-weight: 300;

        display: none;

        color: @green-normal;
    }
}