.form-region {
    margin: 0 0 10px;
}
.region-subst {
	margin: 0 0 10px;
    &__item {
        margin-right: 30px;

        .inline-block();
        &_toggle {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAQAAAClB0z9AAAAPklEQVQI1zWJsREAEBTFYgBrWMs27x+lXcxkBtVTIKlyIab8jYmK9sutAkR/rwPQciw5VstcVGVVPk4aTgAHJqwlnH1go4cAAAAASUVORK5CYII=') no-repeat 0 50%;
            padding-left: 13px;
        }
    }
    &__link {
        font-size: 1.1666em;
    }
}
