<div class="js-widget {{widgetId}} params_foot clearfix" data-template-selector="#tpl-productFilter-action">
    <a class="params_footBtn btnStyleOrange" href="#productList-container">{{shownProductCount}}</a>
    <a class="js-productFilter-clear params_footBtn btnStyleGrey" href="#">Очистить</a>
</div>