{{#isSliderType}}
    {{>partial/product-list/filter/slider}}
{{/isSliderType}}
{{#isListType}}
    {{>partial/product-list/filter/list}}
{{/isListType}}
{{#isHiddenType}}
    {{>partial/product-list/filter/hidden}}
{{/isHiddenType}}
