<div class="js-widget {{widgetId}} params_foot js-params-btns clearfix" data-template-selector="#tpl-productFilter-action">
    <a class="params_footBtn btnStyleOrange" href="#id-productSorting">{{&shownProductCount}}</a>
    <a class="js-productFilter-clear params_footBtn btnStyleGrey" href="#">Очистить</a>
</div>

<div class="paramsBtnFixed js-params-btns-fixed">
	<div class="js-widget {{widgetId}} params_foot clearfix" data-template-selector="#tpl-productFilter-action">
	    <a class="params_footBtn btnStyleOrange" href="#id-productSorting">{{&shownProductCount}}</a>
	    <a class="js-productFilter-clear params_footBtn btnStyleGrey" href="#">Очистить</a>
	</div>
</div>