<!--
<ul class="filterTags clearfix">
    <li class="filterTags_item">
        <a href="" class="filterTags_link"><span class="filterTags_text">Apple</span></a>
        <a href="" class="filterTags_link"><span class="filterTags_text">Samsung</span></a>
        <a href="" class="filterTags_link"><span class="filterTags_text">Explay</span></a>
        <a href="" class="filterTags_link"><span class="filterTags_text">Apple</span></a>
    </li>

    <li class="filterTags_item">
        <a href="" class="filterTags_link"><span class="filterTags_text">для дома</span></a>
        <a href="" class="filterTags_link"><span class="filterTags_text">для дачи</span></a>
        <a href="" class="filterTags_link"><span class="filterTags_text">для того</span></a>
        <a href="" class="filterTags_link"><span class="filterTags_text">для этого</span></a>
    </li>
</ul><!--/ быстрая фильтрация  -->
