<a href="#" class="js-widget {{widgetId}} js-productList-more catalogMore btnStyleGrey" data-template-selector="#tpl-productList-moreLink" data-filter-selector="" data-container-selector=".js-productList-container">{{name}}</a>
