.bF1SaleCard{
	
	&_eComplete{
		height: 90px;
		line-height: 90px;
		padding-left: 110px;
		
		// personal modificators
		&.mGold{
			background: url('@{base-url}/F1SaleCard/img/f1_golden.png') no-repeat left center;
		}
		&.mPlatinum{
			background: url('@{base-url}/F1SaleCard/img/f1_platinum.png') no-repeat left center;
		}
		&.mBlack{
			background: url('@{base-url}/F1SaleCard/img/f1_black.png') no-repeat left center;
		}
	}

	&_eForm{

	}

	&_eTitle{

	}
}