.bF1SaleCard{
	
	&_eComplete{
		background: url('@{base-url}/F1SaleCard/img/check.png') no-repeat left center;
		height: 50px;
		line-height: 50px;
		padding-left: 50px;
		
		// personal modificators
		// &.mGold{
		// 	background: url('@{base-url}/F1SaleCard/img/f1_golden.png') no-repeat left center;
		// }
		// &.mPlatinum{
		// 	background: url('@{base-url}/F1SaleCard/img/f1_platinum.png') no-repeat left center;
		// }
		// &.mBlack{
		// 	background: url('@{base-url}/F1SaleCard/img/f1_black.png') no-repeat left center;
		// }
	}

	&_eRadiogroup{
		display: none;
		.m2Coupon &{
			display: block;
		}
	}
	&_eSingleCoupon{
		display: block;
		.m2Coupon &{
			display: none;
		}

	}

	&_eForm{
		
	}

	&_eLabel{
		display: inline-block;
		font-size: 14px;
		margin: 0 0 10px;
	}

	&_eRadio{

	}

	&_eTitle{

	}

	&_eErr{
		color: @typRed;
		font-size: 12px;
		margin: 3px 0;
	}

	&_eDel{
		display: inline-block;
		font-size: 12px;
		margin: 0 20px;
		text-decoration: underline;
	}
}