

body.parallax {
  .wrapper.mWrapperMain .top-block,
  .bannersbox {
    position: fixed;
  }

  .gameBandit {
    position: absolute;
    top: 635px;
    z-index: 1;
  }

  .footer__main {
    /*position: absolute;*/
    top: 1255px;
    /*top: 0px;*/
    z-index: 2;
    /*padding-bottom: 0px;*/
  }
}