body.parallax {
  .top-parallax-block,
  .bannersbox {
    position: fixed;
  }

  .center-parallax-block {
    position: absolute;
    top: 635px;
    z-index: 1000;
    width: 100%;

    #slotsBack {
      top: 0px !important;
      background: #000000 url(img/slot_background.png) no-repeat bottom;
      opacity: 0;
    }

    #slotsWrapWrapper {
      #slotsBottomLine {
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .bottom-parallax-block {
    position: relative;
    top: 518px;
    background: #000000;
    padding-bottom: 20px;

    .footer__main {
      background: black;

      #mainPageFooter {
        .copy {
          background: black;
        }
      }
    }
  }
}