.styleHrefSorting () {
  .rounded(4px);
  display: block;

  width: 38px;
  height: auto;

  color: @black;
  border: 1px solid #c7c7c7;
  background-color: @white;
  background-image: none;
  text-align: center;

  &:hover, &.mActiveLink {
    background-color: @black;
    color: @white;
    border-color: @black;
  }
}

.bViewPageLine {
  .rounded(3px 3px 0 0);
  padding: 5px 0 5px 10px;

  color: #515151;
  border-bottom: 1px solid #c7c7c7;
  background-color: #f6f6f6;

  .bTitle {
    display: block;

    padding: 0 0 5px;

    color: #515151;

    font-size: 11px;
  }

  .bSorting {
    float: left;
  }

  .bSortingList {

    &__eItem {
      float: left;

      margin: 0 3px 0 0;
    }

    &__eItemLink {
      .rounded(4px);
      display: block;

      padding: 3px 5px 3px 5px;

      text-decoration: none;

      color: @black;
      border: 1px solid #c7c7c7;
      background-color: @white;

      font-size: 11px;

      &:hover, &.mActiveLink {
        color: @white;
        border-color: @black;
        background-color: @black;
      }
    }
  }
  
  .bViewPageMode {
    float: left;
    margin: 0 0 0 10px;
  }

  .bViewPageModeList {

    &__eItem {
      float: left;

      margin: 0 3px 0 0;
    }

    &__eItemLink {
      .styleHrefSorting;

      padding: 4px 0;
    }

    .bViewPageModeIcon {
      display: block;

      width: 11px;
      height: 11px;
      margin: 0 auto;

      background: url('@{base-url}/bViewPageLine/img/bViewPageModeIcons.png') no-repeat 0 0;
    }

    .mTableView {
      &:hover, &.mActiveLink {
        .bViewPageModeIcon {
          background-position: 0 -14px;
        }
      }
    }

    .mListView {
      .bViewPageModeIcon {
        background-position: -14px 0;
      }

      &:hover, &.mActiveLink {
        .bViewPageModeIcon {
          background-position: -14px -14px;
        }
      }
    }
  }

  .bPagesListTop {
    padding: 0;
  }

  .bPagesList {
    &__eItem {
      float: left;

      margin: 0 3px 0 0;

      border: none;
    }

    &__eItemLink.borderedR {
      .styleHrefSorting;

      padding: 4px 0;
      float: none;

      span {
        height: auto;
        margin: 0;
        padding: 0;
        float: none;
      }
    }
  }

  .bAllPager {
    .styleHrefSorting;
    padding: 3px 0;
    margin: 18px 10px 0 -5px;
    float: right;
  }
}

.bPagesListBottom {
  min-width: 190px;
}