.bViewPageLine {
  .rounded(3px 3px 0 0);
  padding: 5px 0 5px 10px;

  color: #515151;
  border-bottom: 1px solid #c7c7c7;
  background-color: #f6f6f6;

  .bTitle {
    display: block;

    padding: 0 0 5px;

    color: #515151;

    font-size: 11px;
  }

  .bSorting {
    float: left;
  }

  .bSortingList {

    &__eItem {
      float: left;

      margin: 0 3px 0 0;
    }

    &__eItemLink {
      .rounded(4px);
      display: block;

      padding: 3px 5px 3px 5px;

      text-decoration: none;

      color: @black;
      border: 1px solid #c7c7c7;
      background-color: @white;

      font-size: 11px;

      &mActiveLink, &:hover {
        color: @white;
        border-color: @black;
        background-color: @black;
      }
    }
  }
  
  .bViewPageMode {
    float: right;
  }

  .bViewPageModeList {

    &__eItem {
      float: left;

      margin: 0 3px 0 0;
    }

    &__eItemLink {
      .rounded(4px);
      display: block;

      width: 38px;
      padding: 3px 0;

      color: @black;
      border: 1px solid #c7c7c7;
      background-color: @white;

      &mActiveLink, &:hover {
        color: @white;
        border-color: @black;
        background-color: @black;
      }
    }

    .bViewPageModeIcon {
      display: block;

      width: 11px;
      height: 11px;
      margin: 0 auto;

      background: url('@{base-url}/bViewPageLine/img/bViewPageModeIcons.png') no-repeat 0 0;
    }
    .mListView .bViewPageModeIcon {
      background-position: -14px 0;
    }
  }
}