{{#filters}}
    <ul class="filter-selected">
        <li class="filter-selected__item filter-selected__item_name">{{name}}:</li>

        {{^isGroup}}
            {{#links}}
                <li class="filter-selected__item">
                    <a class="filter-selected__link js-filter-clear icon-clear-after" href="{{url}}">{{&name}}</a>
                </li>
            {{/links}}
        {{/isGroup}}

        {{#isGroup}}
            {{#properties}}
                <li class="filter-selected__item">
                    {{#name}}
                        {{name}}
                    {{/name}}

                    {{#links}}
                        <a class="filter-selected__link js-filter-clear icon-clear-after" href="{{url}}">{{&name}}</a>
                    {{/links}}
                </li>
            {{/properties}}
        {{/isGroup}}
    </ul>
{{/filters}}

{{#filters.0}}
    <a class="filter-selected-clear icon-clear js-filter-clear" href="{{cleanUrl}}">
        <span class="dotted">Очистить все</span>
    </a>
{{/filters.0}}