.topbar, #header, .breadcrumbs, .bWidgetBuy__eDelivery-now, .searchbox, #upper, .priceOld, .bGoodsSlider, .bBreadCrumbsBottom, .bReviews, .footer, .bBlackBox, .bBottomBuy, .priceSale, .creditbox, .bProductDesc__eStore-text, .bReviewSection, .bCountSection, .bWidgetBuy__eBuy, .bWidgetBuy__eClick, .bPhotoAction {
	display: none !important;
}
.bWidgetBuy {border: 1px solid @white !important;}
.bProductSection .bProductDesc {margin: 0 !important;}
.bWidgetBuy__eDelivery {margin: 15px 0 0 !important;}
.bProductSection .bDescriptionProduct {width: 900px;}
.bProductSection .bSpecifications__eList {width: 900px;}
.bProductSection .bSpecifications__eList dt {width: 625px;}
.jewel .bProductDesc__eStore-text {display: block !important;}
.jewel .bProductSection .bSpecifications__eList {width: 300px; color: @black;}
.jewel .bProductSection .bSpecifications__eList dd{background: none; padding-left: 0;}
.jewel .bProductSection .bSpecifications__eList dt {width: 125px;}