.topbar, #header, .breadcrumbs, .bWidgetBuy__eDelivery-now, .searchbox, #upper, .priceOld, .bGoodsSlider, .bBreadCrumbsBottom, .bReviews, .footer, .bBlackBox, .bBottomBuy, .priceSale, .creditbox, .bProductDesc__eStore-text, .bReviewSection, .bCountSection, .bWidgetBuy__eBuy, .bWidgetBuy__eClick, .bPhotoAction {
	display: none !important;
}
.bWidgetBuy {
	border: 1px solid @white !important;
	&__eDelivery {
		margin: 15px 0 0 !important;
	}
}

.bProductSection {
	.bProductDesc {
		margin: 0 !important;
	}
	.bDescriptionProduct {
		width: 900px;
	}
	.bSpecifications__eList {
		width: 900px; 
		dt {
			width: 625px;
		}
	}	
}

.jewel {
	.bProductDesc__eStore-text {
		display: block !important;
	}
	.bProductSection {
		.bSpecifications__eList {
			width: 300px; 
			color: @black;
			dd {
			 	background: none; 
			 	padding-left: 0;
			}
			dt {
			 	width: 125px;
			}
		}
	}	
}