<div class="personal-order__modal js-modal">
    <div class="personal-order__modal">
        <div class="personal-order__modal-body">
            <header class="personal-order__modal-head">
                Отменить заказ?
            </header>

            <div class="personal-order__madal-name-item">
                ghbdtlknvdfk ofnod
            </div>

            <button class="personal-order__modal-send">
                Отменить
            </button>

            <a class="personal-order__modal-close js-modal-close"></a>
        </div>
    </div>
</div>


