.fltrBtn {
    position: relative;
    // шапка фильтров в рутовых категориях
    &_hd {
        margin-bottom: 30px;
        padding: 10px 30px 0;
        &_r {
            margin: 3px 0 0 30px;

            color: grey;

            .inline-block();
        }
        &_count {
            .inline-block(middle);
        }

        // отчисть фильтры в рутовых категориях
        &_clr {
            line-height: 13px;

            margin: 0 0 0 15px;

            cursor: pointer;

            .inline-block(middle);
            &_tx {
                border-bottom: 1px dotted grey;

                .inline-block(middle);
            }
            &_btn {
                .inline-block(middle);
            }
        }
    }

    // название фильтра
    &_tggl {
        .font-size(16);

        cursor: pointer;

        color: @black;

        .inline-block();
        &:not(.without-opener):before {
            .font-size(14);

            margin-right: 3px;

            content: '\e805';
            width: 8px;
            line-height: 1;

            color: @grey-type;

            .inline-block();
        }
        &.opn {
            .fltrBtn_tggl {
                &:before {
                    content: '\e800';
                }
            }
        }
    }
    // секция фильтра
    &_kit {
        padding: 10px 30px;

        border-bottom: 1px solid @grey-light-4;

        .clearfix();
        &--mark {
            padding-bottom: 0;

            background: @orange-light-4;
        }
        &-box {
            padding-left: 18px;
        }
        &-ovrflw {
            overflow: auto;

            max-height: 165px;
            padding: 7px 10px 0;
        }
        &-nborder {
              border-top: none;
              padding: 0 30px;
        }
        &_l {
            float: left;

            width: 100px;
            margin: 7px 0 0 0;
        }
        &_r {
            max-height: 135px;
            padding: 0 0 0 100px;
        }
        &--titled {
            height: 55px;
            padding: 8px 10px;
            .fltrBtnBox {
                border: 1px solid @grey-light-2;

                .rounded(2px);
            }
            .fltrBtnBox.opn {
                border: none;
                background: @white;

                .drop-shadow(0px, 3px, 5px, .3);
                .fltrBtnBox_tggl {
                    padding: 5px 11px 2px;

                    border-color: @grey-light-2;
                }
                &.actv {
                    margin: 5px 6px 0 1px;
                    .fltrBtnBox_tggl {
                        margin-bottom: 3px;
                        padding: 5px 10px 2px;
                    }
                }
            }
            .fltrBtnBox_tggl_tx {
                line-height: 16px;

                height: 16px;

                border-color: transparent;
            }
            .fltrBtnBox {
                margin-top: 5px;
            }
            .fltrBtn_kit_l {
                margin-top: 27px;
            }
        }
    }
    &_range {
        width: 100%;

        text-align: center;
    }
    // ссекция кнопки фильтрации
    &_i {
        float: left;

        margin: 0 9px 9px 0;
    }
    // кнопка фильтра
    &_btn {
        position: relative;

        display: table-cell;

        width: 86px;
        height: 35px;
        margin: 0 5px 10px 0;
        padding: 0 10px;

        cursor: pointer;
        text-align: center;
        vertical-align: middle;

        border: 1px solid @grey-light-2;
        background: @white;

        .rounded(4px);
        &:hover {
            text-decoration: none;
        }
        &:last-child {
            margin-right: 0;
        }
        &_img {
            width: 100%;

            vertical-align: middle;
            pointer-events: none;
        }
        &_tx {
            .font-size(11);
        }
        // кнопка - ещё бренды
        &-btn {
            .font-size(14);
            line-height: 33px;

            margin-right: 0;

            color: grey;
            border-style: dashed;

            .inline-block();
            &:hover {
                text-decoration: none;
            }
        }
        &-mini {
            line-height: 31px;
        }
        // отметить фильтр по бренду
        &_clsr {
            .font-size(14.4);
            line-height: 1;

            position: absolute;
            top: -7px;
            right: -7px;

            display: none;

            color: @orange-bright;
            background-color: @white;
        }
        &.act {
            width: 98px;
            height: 41px;

            border-width: 2px;
            border-color: orange;
            .fltrBtn_btn_clsr {
                display: block;
            }
        }
    }
    // строка с параметрами
    &_ln {
        line-height: 1.1666em;

        margin: 0 0 10px;
    }
    // параметры фильтрации
    &_param {
        margin-bottom: 8px;
        padding-right: 10px;

        border-bottom: 1px solid @input-border;
        &:last-child {
            margin-bottom: 0;

            border-bottom: none;
        }
        &_n {
            .font-size(14);

            margin: 0 0 8px;
        }
        &_lbl {
            .font-size(14);

            .inline-block(middle);
        }
        &_it {
            .font-size(14);
            line-height: 1;

            width: 60px;
            padding: 4px 10px;

            color: @grey-type;
            color: @black;
            border: 1px solid @input-border;

            .inline-block(middle);
            &:-ms-input-placeholder {
                color: @grey-type;
            }
        }
        &-2col {
            .fltrBtn_ln {
                width: 100%/2 - 1%;

                .inline-block(middle);
            }
        }
    }
    &_anim-item {
        position: absolute;
        top: 300px;
        right: -8px;

        display: block;

        -webkit-animation: animPuls 7s ease-in-out 1s infinite;
           -moz-animation: animPuls 7s ease-in-out 1s infinite;
             -o-animation: animPuls 7s ease-in-out 1s infinite;
                animation: animPuls 7s ease-in-out 1s infinite;
        &:hover {
            -webkit-animation: none;
               -moz-animation: none;
                 -o-animation: none;
                    animation: none;
            img {
                top: -10px;
                right: 0;
            }
        }
        img {
            position: absolute;
            top: 0;
            right: 0;

            display: block;

            transition: all .2s ease;
        }
    }
    &_lst {
        float: left;

        margin: 0 0 0 30px;
        &-i {
            float: left;

            margin: 0 10px 0 0;
            &-name {
                .font-size(14);
            }
            &.slash-after:after {
                .font-size(23);

                content: '/';
            }
        }
    }
}

// анимация карты на странице с подарками /gift
@keyframes animPuls {
    0% ,
    5% {
        transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    3% ,
    7% {
        transform: scale3d(1.06, 1.06, 1.06);
        transform: scale3d(1.06, 1.06, 1.06);
    }

    9% {
        transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes animPuls {
    0% ,
    5% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }

    3% ,
    7% {
        -webkit-transform: scale3d(1.06, 1.06, 1.06);
                transform: scale3d(1.06, 1.06, 1.06);
    }

    9% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

@-moz-keyframes animPuls {
    0% ,
    5% {
        -moz-transform: scale3d(1, 1, 1);
             transform: scale3d(1, 1, 1);
    }

    3% ,
    7% {
        -moz-transform: scale3d(1.06, 1.06, 1.06);
             transform: scale3d(1.06, 1.06, 1.06);
    }

    9% {
        -moz-transform: scale3d(1, 1, 1);
             transform: scale3d(1, 1, 1);
    }
}

// блок филььтра с параметрами
.fltrBtnBox {
    position: relative;

    margin: 0 5px 0 0;

    border: 1px solid transparent;

    .inline-block();
    .rounded(3px);
    &.opn {
        .fltrBtnBox_tggl {
            z-index: 16;

            border-color: @grey-light-2;
            border-bottom-color: @white;
            &:after {
                content: '\e804';
            }
            .dotted {
                border: none;
            }
        }
        .fltrBtnBox_dd {
            display: block;
        }
        &.actv {
            border-width: 1px;
            border-color: @white;
            .fltrBtnBox_tggl {
                padding: 7px 10px 3px;
            }
            &.fltrBtnBox-mark {
                border-width: 1px;
                border-color: @white;
            }
        }
    }
    &.actv {
        border-width: 2px;
        border-color: @orange-bright;
        .fltrBtnBox_tggl {
            padding: 6px 9px 2px;
        }
        .dotted {
            border: none;
        }
        &.fltrBtnBox-mark {
            border-width: 2px;
            border-color: #ef404a;
        }
    }
    //скидки - красная выпадашка
    &-mark {
        .fltrBtnBox_tggl {
            color: #ef404a;
            &:after {
                color: #ef404a;
            }
            .dotted {
                border-color: #ef404a;
            }
        }
    }
    &_tggl {
        .font-face('GloberRegular');
        .font-size(14);
        line-height: 1;

        position: relative;

        padding: 7px 10px 3px;

        cursor: pointer;

        border: 1px solid transparent;
        background-color: @white;

        .rounded(3px 3px 0 0);
        &:after {
            margin-left: 2px;

            content: '\e800';

            color: @grey-type;

            .inline-block();
        }
        &-dsbld {
            color: #828282;
        }
    }
    // выпадашка с параметрами фильтрации
    &_dd {
        position: absolute;
        z-index: 15;
        top: 25px;

        display: none;

        min-width: 100%;

        white-space: nowrap;

        border: 1px solid @grey-light-2;
        background: @white;

        .box-sizing();
        .drop-shadow(0, 3px, 5px, .2);
        &:after {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 15px;

            content: '';
        }
        &:before {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 15px;

            content: '';
        }
        &-r {
            right: 0;
        }
        &-l {
            left: 0;
        }
        &_inn {
            overflow-x: hidden;
            overflow-y: auto;

            box-sizing: border-box;
            width: 100%;
            max-height: 250px;
            padding: 15px 10px 5px 10px;
        }
    }
}

.fltrBtn_kit-brands {
    &__more {
        display: none;
    }
    &.open {
        .fltrBtn_kit-brands__more {
            display: inline;
        }
        .fltrBtn_kit-brands__btn-more {
            display: none;
        }
        .fltrBtn_tggl:not(.without-opener):before {
            content: '\e800';
        }
    }
}
