.fltr {
    //overflow: hidden;
}

.fltrSet {
    padding: 10px 30px 0;

    border-bottom: 1px solid #e6e6e6;
    &_hd {
        .fltrSet_tggl {
            .inline-block();
        }
    }
    &_tggl {
        padding: 0 0 10px 15px;

        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAQAAADMDLw1AAAAP0lEQVR4AWNo29Ghy4AK2v63/W2b0y+JIgSC7V/a67u54UJw+Kwz+T8TkhBU9aUOd3xCCI0I4xu6uXE7AtOpAAuKTFIzbkfoAAAAAElFTkSuQmCC) no-repeat 0 5px;
        &-dn {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAQAAAChr3WYAAAAXUlEQVR4AV3INxEAIQAF0T+0KEAEOhCCECrSRQMIQQciUEB5OYe33cJEM/+KcNyMnzU6DsCEzwzY9MyWa9nSMxysuqfCpaYm7zPXFA8vt+kl3mZik00zwZcTTuC0APGCTFFAHL6pAAAAAElFTkSuQmCC);
        }
        &-up {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAQAAACBxB0+AAAAUUlEQVR4AWOAgfY+BlTQEdH2vyMCSWASe/v9tv/t9yexI9RUtP0HwY4KqEC3WNtHiFDbx24xsFDbDCAHBmeANGm3/0EItf/p0GZo2wHmIOAOAIYPPCVDpvZWAAAAAElFTkSuQmCC');
        }
        &_tx {
            .font-size(16);

            cursor: pointer;

            border-bottom: 1px dotted;
        }
    }
    &_cnt {
        padding-bottom: 10px;
        display: none;
        .clearfix();
    }
    &.open {
        .fltrSet_tggl {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAQAAAChr3WYAAAAXUlEQVR4AV3INxEAIQAF0T+0KEAEOhCCECrSRQMIQQciUEB5OYe33cJEM/+KcNyMnzU6DsCEzwzY9MyWa9nSMxysuqfCpaYm7zPXFA8vt+kl3mZik00zwZcTTuC0APGCTFFAHL6pAAAAAElFTkSuQmCC);
        }
        .fltrSet_cnt {
            display: block;
        }
    }
}

.filter-components {
    // .custom-label {
    //     padding-left: 31px;
    // }
    .filter-check {
        & + .custom-label {
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAAAAACMfPpKAAAAF0lEQVQY02O4jg0wXP+PCUZFB5UoNgAAMe6q120qOJ0AAAAASUVORK5CYII=') no-repeat 5px 50%;
        }
        &:checked {
            & + .custom-label {
                background-color: @orange-light-3;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAIAAAAmdTLBAAAAJElEQVR4AWO4ThkA6f9PLhh0+tMYiEGj+oFgVP+o/mGR/ykDACFI8yswZzaaAAAAAElFTkSuQmCC');
            }
        }
    }
    .filter-radio {
        & + .custom-label {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAQAAAADHm0dAAAAqUlEQVR4AZXThbWDUAwG4OzCAMzBXHceFqEDkJws8Oq4w1/XV8uHXXfonvjsOOKEh/0TsROfXlEvDhVzlOgx7Z8Scyj2aR49kkCSFUY8GrGCJBI8FNShwmsVdLgWVk+SCu9VkOQ8jDhc4bPVfszHWStGfDZCIT6xm+O7OdgRz0p8V4Ij4qTHdz04IR4mfDeBB0OrhrEaVsCwrobdMpwBw8kynFfDX2D4t3aMfr0PwokQAgAAAABJRU5ErkJggg==');
        }
        &:checked {
            & + .custom-label {
                background-color: @orange-light-3;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAAV1BMVEUAAADZ2dnY2NjY2Njb29vX19fZ2dnZ2dnY2NjY2Njb29vY2Nj////s7Oz/m1j/dhr/pmrb29vp6en19fX7+/v9/f3/28P//fv+/v729vb/agb/ZgD/pWkMhGuTAAAADHRSTlMAL/CDI61J8Mr8/MuFFj4ZAAAAl0lEQVR4Xm2RWQ6DMAxEnYQQoJN9Yev9z1lRikCV3+eTZY3HdCLUIEc5KEE3nY4pl6XkFHV3yd7YipNqTf+T04qbdfrqzhyyOb951w5tjiXaAnPYT8IMWE0kYgXe+0UAahSkEtD2mwYkRa8MuId1QB5IFsA/rAeKpHEBtofdgGXkZ/m9fIYzb/jLy9/G98B3xvfL/4L/2wdPZxiyxlN1vQAAAABJRU5ErkJggg==');
            }
        }
    }
    .filter-values__cell {
        width: 184px;
        height: 41px;
        .custom-label {
            display: block;

            min-height: 30px;
            padding: 5px;

            cursor: pointer;

            background: @white;
            &:hover {
                background: @orange-light-4;
                color: @orange-bright;
            }
        }
        .custom-input {
            &:checked {
                & + .filter-img-box {
                    background: @orange-light-3;
                }
            }
        }
        .customLabel {
            &_wimg {
                position: absolute;

                display: block;

                width: 32px;
                height: 32px;
                margin: -1px 0 0 -1px;
            }
            &_bimg {
                position: relative;

                margin-right: 7px;

                .inline-block(middle);
            }
            &_btx {
                .font-size(14);
                line-height: 1;

                max-width: 132px;

                .inline-block(middle);
            }
        }
    }
}
