.filter-content {
    .clearfix();
    border: 1px solid @grey-light-4;
}

.filter-params {
    float: left;

    width: 170px;

    max-height: 231px;

    overflow: auto;

    position: relative;

    z-index: 10;

    &__item {
        cursor: pointer;
        margin: 0 0 2px;

        &:last-child {
            margin: 0;
        }
        &.mActive {
            border-right: none;
            cursor: default;

            .filter-params__text {
                background: @white;
            }
        }
    }

    &__text {
        display: table-cell;
        padding: 0 10px 0 9px;

        width: 170px;
        height: 40px;

        background: @grey-light-4;

        vertical-align: middle;
    }
}

.filter-values {
    padding-left: 180px;

    margin: 5px 5px 0 0;

    &__inner {
        max-height: 225px;
        overflow: auto;
    }

    &__item {
        .clearfix();

        &.mLineItem {

            .filter-values__cell {
                float: none;
                width: auto;

                .bFilterCheckbox {
                    width: auto;

                    &:hover {
                        width: auto;
                    }
                }
            }
        }

        .bRangeSlider {
            margin-left: 105px;
        }
    }

    &__cell {

        position: relative;
        float: left;
        margin: 0 2px 2px 0;

        width: 220px;
    }

    .custom-label {
        font-size: 1.1666em;
        display: block;
        padding: 8px 10px 8px 25px;
    }
}

.filter-check {
    & + .custom-label {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAAAAAAevcqWAAAAFElEQVQIW2O4jgoYrv9HBsOAjwoA+1TXYHXMYB4AAAAASUVORK5CYII=') no-repeat 5px 50%;
    }
    &:checked {
        & + .custom-label {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAIElEQVR4AWO4TgoAqf5PHKBEdRoDLjQQqkdV0zzmSQEAP/UFJAR7GyQAAAAASUVORK5CYII=');
            background-color: @orange-light-3;
        }
    }
}

.filter-radio {
    & + .custom-label {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAeUlEQVR4AYWRtRUEMAxD/bJJtsqc2SO1lC7NMXfHOmbwL82S7YJCTczoYoUuc00K9oARpWmhtfZaa6EmFMZ7ksOpXpmKw3OBAsol+V6AomA1NX2nqSZjXvxIL8Rs6K5/pNdC17Da/0jvhZXT7ex2Lnd0O645njsfOwBElG3KPajI/gAAAABJRU5ErkJggg==') no-repeat 5px 50%;
    }
    &:checked {
        & + .custom-label {
            background-color: @orange-light-3;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAP1BMVEUAAAD////Z2dnY2NjX19fX19fY2NjX19fg4ODx8fH6+vr+/v7Y2Nju7u7/////+vb/sn7/eyP/agb/iTn/ZgBvubV+AAAADXRSTlMAAliy5vkhzf/////qXbtKdAAAAFBJREFUeAFtz0UChUAAw9AUu/91v3ZckKx44whQyimIPobfbBzR5Gzem2pltbI3EfM3epFQJlIzpUfbuNrYj3Zm/tps823vq6YuiF3ff/2/AD58RSV7nb6dAAAAAElFTkSuQmCC');
        }
    }
}