.filter-content {
    border: 1px solid @grey-light-4;

    .clearfix();
}

.filter-price {
    .clearfix();
    .fltrSet_tggl ,
    .fltrBtnBox {
        margin-right: 100px;
        padding-bottom: 0;

        .inline-block(middle);
    }
}

.filter-params {
    position: relative;
    z-index: 10;

    float: left;
    overflow: auto;

    width: 170px;
    max-height: 231px;
    &__item {
        margin: 0 0 2px;

        cursor: pointer;
        &:last-child {
            margin: 0;
        }
        &.mActive {
            cursor: default;

            border-right: none;
            .filter-params__text {
                background: @white;
            }
        }
    }
    &__text {
        display: table-cell;

        width: 170px;
        height: 40px;
        padding: 0 10px 0 9px;

        vertical-align: middle;

        background: @grey-light-4;
    }
}

.filter-values {
    margin: 5px 5px 0 0;
    padding-left: 180px;
    &__inner {
        overflow: auto;

        max-height: 225px;
    }
    &__item {
        .clearfix();
        &.mLineItem {
            .filter-values__cell {
                float: none;

                width: auto;
                .bFilterCheckbox {
                    width: auto;
                    &:hover {
                        width: auto;
                    }
                }
            }
        }
        .bRangeSlider {
            margin-left: 105px;
        }
    }
    &__cell {
        position: relative;

        float: left;

        width: 220px;
        margin: 0 2px 2px 0;
    }
    .custom-label {
        .font-size(14);

        display: block;

        padding: 8px 10px 8px 25px;
    }
}

.filter-check {
    & + .custom-label {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAAAAAAevcqWAAAAFElEQVQIW2O4jgoYrv9HBsOAjwoA+1TXYHXMYB4AAAAASUVORK5CYII=') no-repeat 5px 50%;
    }
    &:checked {
        & + .custom-label {
            background-color: @orange-light-3;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAIAAAC0tAIdAAAAIElEQVR4AWO4TgoAqf5PHKBEdRoDLjQQqkdV0zzmSQEAP/UFJAR7GyQAAAAASUVORK5CYII=');
        }
    }
}

.filter-radio {
    & + .custom-label {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAeUlEQVR4AYWRtRUEMAxD/bJJtsqc2SO1lC7NMXfHOmbwL82S7YJCTczoYoUuc00K9oARpWmhtfZaa6EmFMZ7ksOpXpmKw3OBAsol+V6AomA1NX2nqSZjXvxIL8Rs6K5/pNdC17Da/0jvhZXT7ex2Lnd0O645njsfOwBElG3KPajI/gAAAABJRU5ErkJggg==') no-repeat 5px 50%;
    }
    &:checked {
        & + .custom-label {
            background-color: @orange-light-3;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAP1BMVEUAAAD////Z2dnY2NjX19fX19fY2NjX19fg4ODx8fH6+vr+/v7Y2Nju7u7/////+vb/sn7/eyP/agb/iTn/ZgBvubV+AAAADXRSTlMAAliy5vkhzf/////qXbtKdAAAAFBJREFUeAFtz0UChUAAw9AUu/91v3ZckKx44whQyimIPobfbBzR5Gzem2pltbI3EfM3epFQJlIzpUfbuNrYj3Zm/tps823vq6YuiF3ff/2/AD58RSV7nb6dAAAAAElFTkSuQmCC');
        }
    }
}

.fltrRange {
    .inline-block(middle);
    &_it {
        .font-size(14);
        line-height: 26px;

        width: 70px;
        height: 26px;
        margin: 0 2px;
        padding: 0 0 0 5px;

        vertical-align: top;

        border: 1px solid @grey-light-2;

        .inline-block();
        &.mLast {
            margin-right: 5px;
        }
    }
    &_lbl {
        .font-size(1.1666em);
        line-height: 26px;

        color: @grey-type;

        .inline-block();
    }
    &_val {
        &.rubl {
            .font-size(1.1666em);
            line-height: 26px;

            color: @grey-type;

            .inline-block();
        }
    }
    &_sldr {
        position: relative;

        width: 430px;
        height: 4px;
        margin: 12px 20px 0;

        background: @grey-light-3;

        .rounded(3px);
        .inline-block();
        .ui-slider-range {
            position: absolute;
            z-index: 1;

            height: 3px;

            background: @grey-type;
        }
        .ui-slider-handle {
            position: absolute;
            z-index: 2;
            top: 3px;

            display: block;

            width: 9px;
            height: 8px;
            margin-left: -5px;

            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAQAAACBxB0+AAAAU0lEQVQIW2NggILyPhgLJhBR+r88AklgEnvZ/dL/ZfcnsSPUVJT+B8HyCqhAg1jpR4hQ6ccGMbBQ6QyoAAjOAGnSLv2DJPSnXJuhbAeSABCW7QAA6R05Rnwz+kMAAAAASUVORK5CYII=');
        }
    }
}

.filter-selected {
    float: left;

    margin: 12px 10px 0 0;
    &__item {
        line-height: 1;

        margin: 0 10px 0 0;

        color: @grey-type;

        .inline-block(top);
        &_name {
            margin-right: 0;
        }
    }
    &-last {
        margin-bottom: 11px;
    }
    &__link {
        .font-face('GloberRegular');

        color: @grey-type;
        &:after {
            .font-size(1.1666em);

            margin: -2px 0 0 3px;
            line-height: 1;

            content: '\e80a';
            vertical-align: top;

            color: @grey-light;
        }
        &:hover {
            color: @grey-type;
        }
    }
}
.filter-selected-clear {
    line-height: 1;

    float: right;

    margin: 12px 0 10px;

    color: @grey-bright;
    &:hover {
        color: @grey-bright;
    }
    &:before {
        .font-size(14);

        margin: -2px 3px 0 0;
        line-height: 1;

        vertical-align: top;

        color: @grey-type;
    }
}
