{{#products.0}}
    <h1>Товары в этом магазине</h1>
    <ul class="bListing clearfix js-listing">
        {{#products}}
            {{>product/list/item/compact}}
        {{/products}}
    </ul>
    <a class="btn-type btn-type--uni" href="{{shopProductUrl}}">Посмотреть все товары</a>
{{/products.0}}