.goodsbox__inner{
  padding:10px;
  width:195px;
  border-radius:5px;
}
.goodsbox__inner.hover{
  border:1px solid #e6e6e6;
  margin:-1px;
  .box-shadow(0 0 11px 7px #e6e6e6);
}


.goodsbox__inner.version2:hover{
  border:1px solid #a6a6a6;
  box-shadow: 0 0 11px 7px #e6e6e6;
  margin:-1px;
}
.goodsbox__inner.version2.js:hover{
  box-shadow:none;
  border:none;
  margin:0;
}
.goodsbox__inner.version2.js.hover{
  border:1px solid #a6a6a6;
  box-shadow: 0 0 11px 7px rgba(230, 230, 230, 1);
  margin:-1px;
}


.goodsbox__inner.version3:hover{
  border:1px solid #a6a6a6;
  box-shadow: 0 0 11px 7px #a6a6a6;
  margin:-1px;
}
.goodsbox__inner.version3.js:hover{
  box-shadow:none;
  border:none;
  margin:0;
}
.goodsbox__inner.version3.js.hover{
  border:1px solid #a6a6a6;
  box-shadow: 0 0 11px 7px rgba(166, 166, 166, 1);
  margin:-1px; 
}



.goodsbox__rating{
  background:url("data:image/gif;base64,R0lGODlhDQALANUAAPKKA/7z5Pi7bPvctPaqSPnMkPSYIf3pz/////auUfvarvnGhPzgvfSeLfe1YP3u2/rQmfi+cvKNCf748Pzmyfe0Xf3t2PWiNvezWvzlxvrUovnKjfe6afSaJPjCe/OQD/atTvrOlv////3q0v3w3vSfMPvet/asS/i8b/SbJ/vbsQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAHAP8ALAAAAAANAAsAAAZQQIRQSAgMj8PBCYNEpgaAAzIwWJwECEgqohkJLyfPYGjZVD4UxKSxQJokjGGg8zgCVEhUYUgyNEEqIxwKCABNJScNIQkpBiRIJ2NCFg4ZQ0EAOw==") repeat-x 0 0;
  height: 11px;
  margin-bottom:10px;
  position:relative;
  width:65px;
  .fill{
    background:url("data:image/gif;base64,R0lGODlhDQALANUAAPKKA/znzPe4ZvSfMPrQmfyyAP716vefAPnFgfrVpfasS/OTFf////vfuvaaAPezWv67AP/79vihAP3u2/WmP/mnAPi+cvKMBvvbsfnJivrTn/STAP25AP748PziwPe1YPvYq/qsAPnHh/OVG/+/APedAPrRnPe6afatTvikAP/////8+fqpAPOMAP3pz/mjAPebAP+9APKNCQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAHAP8ALAAAAAANAAsAAAZVQIZQ6DkNj8fBZYI8JkoVRTNAOC0KpMMj0zAwQIADC0IqhySOh5Bw4JTfEtRqKJK8SQVK5Nhp3UsaSC4bMSwSHCkISBgOMgIZIwcfSBoWXgwrJgJDQQA7") repeat-x 0 0;
    height:11px;
    position:absolute;
    top:0;
    left:0;
    width:0;
  }
  &.rate1 .fill{width:13px}
  &.rate2 .fill{width:26px}
  &.rate3 .fill{width:39px}
  &.rate4 .fill{width:52px}
  &.rate5 .fill{width:65px}
}