.b404 {
  background: @white;
  position: relative;
}
.b404Block,
.b404__eLogo {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.b404InnerWrap {
  height: 100%;
  text-align: center;
  width: 100%;
}
.b404InnerWrap td {
  vertical-align: middle;
}
.b404__eLogo {
  background: url("@{base-url}/404/img/b404Logo.png") no-repeat;
  height: 87px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 95px;
}
.b404Block {
  background: url("@{base-url}/404/img/b404.png") no-repeat;
  height: 305px;
  padding: 120px 0px 0px 500px;
  text-align: left;
}
.b404Block span {
  font-size: 16px;
}
.b404Block h2 {
  font-size: 26px;
  margin: 15px 0px;
  padding: 0px;
}
.b404Block input {
  .rounded(5px);
  border: 1px solid #ddd;
  font-size: 16px;
  height: 27px;
  margin-right: 10px;
  outline: none;
  padding-left: 10px;
  width: 279px;
}
.b404Block input,
.b404Block .bOrangeButton {
  vertical-align: middle;
}