.order-page{
    .pagehead{
        height: 50px;
        line-height: 50px;
        background-color: #ebebeb;
        width: auto;
    }
    h1{
        margin: 0;
        padding: 0px 10px;
    }
    .header{
        margin-bottom: 0;
    }
    .inn{
        padding-left: 0;
        padding-right: 0;
        width: 960px;
    }
}