.order-page{
    .pagehead{
        height: 50px;
        line-height: 50px;
        background-color: #ebebeb;
        width: auto;
    }
    h1{
        margin: 0;
        padding: 0px 10px;
        font-size: 24px;
        color: #363636;
    }
    .header{
        margin-bottom: 0;
    }
    .inn{
        padding-left: 0;
        padding-right: 0;
        width: 960px;
    }
}
.order-new{
    .order__wrap{
        width: 960px;
        margin: 0 auto;
    }
    .content.mContentOrder{
        width: 100%;
    }
    .orderHd-v2{
        width: 100%;
        height: 70px;
        background: #000000;
        margin: 0;
    }
    .order-head__inn{
        width: 960px;
        margin: 0 auto;
    }
    .orderHd-v2 .orderHd_l{
        padding: 12px 30px 12px 20px;
    }
    .orderHd-v2 .orderHd_stps{
        line-height: 65px;
    }
    .orderHd_stps_i:after{
      height: 68px;
    }
}