@txtColor: #363636;
@placeholderColor: #a0a0a0;
@borderColor: #c7c7c7;
@requiredColor: #f99b1c;


.order-ctrl {
    position: relative;

    width: 110px;
    margin-right: 20px;
    margin-bottom: 6px;
    padding-top: 15px;

    .inline-block(middle);
    &.fullwidth {
        width: 100%;
        max-width: 420px;
        margin-right: 0;
    }

    &__custom-select{
        position: relative;

        width: 145px;

        background: #FFFFFF;
        border: 1px solid #c7c7c7;
        .box-sizing();

        & *{
            .box-sizing();
        }
    }

    &__address-error{
        display: none;
        position: absolute;
        right: 0;
        top: -5px;

        color: #d35748;
    }

    &__custom-select-list{
        display: none;

        position: absolute;
        top: 100%;
        left: -1px;
        z-index: 10;

        min-width: 440px;
        margin-top: -1px;
        margin-bottom: 30px;

        background: #fff;
        border: 1px solid #d7d7d7;
        -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.20);
        -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.20);
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.20);

        &.active{
            display: block;
        }
    }

    &__custom-select-item{
        cursor: pointer;

        font-size: 12px;

        &_title{
            position: relative;

            display: block;
            height: 35px;

            padding-left: 8px;
            padding-right: 20px;

            font-size: 14px;
            line-height: 35px;

            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            overflow: hidden;
            outline: none;

            &:after{
                content: '';
                position: absolute;

                top: 15px;
                right: 7px;

                background: none;
                border: 6px solid transparent;
                border-top-color: #868686;
            }
        }
    }

    &__lbl {
        font-size: 12px;

        position: absolute;
        top: -2px;
        left: 0;

        display: none;

        margin-left: 10px;

        color: @borderColor;
        &.nohide {
            display: block;
        }
    }
    &__txt {
        font-size: 12px;

        position: absolute;
        bottom: 10px;
        left: 0;

        margin-left: 10px;

        color: @borderColor;

        .transition(all .2s ease-out);
        &.top {
            bottom: 36px;
        }
    }
    &__input {
        font-size: 14px;
        line-height: 33px;

        position: relative;
        z-index: 1;

        width: 100%;
        height: 35px;
        padding: 0 10px;

        color: @txtColor;
        border: 1px solid @borderColor;
        background-color: @white;

        &_float-label {
            background-color: transparent;
        }

        .box-sizing(border-box);
        .rounded(3px);
        &::-webkit-input-placeholder {
            color: @placeholderColor;
        }
        &::-moz-placeholder {
            color: @placeholderColor;
        }
        &:-ms-input-placeholder {
            color: @placeholderColor;
        }
        &:-moz-placeholder {
            color: @placeholderColor;
        }
    }
    &__err {
        font-size: 12px;

        display: none;

        margin-left: 5px;

        color: #d45745;
    }
    &.required {
        .order-ctrl {
            &__lbl {
                color: @requiredColor;
            }
            &__input {
                &::-webkit-input-placeholder {
                    color: @requiredColor;
                }
                &::-moz-placeholder {
                    color: @requiredColor;
                }
                &:-ms-input-placeholder {
                    color: @requiredColor;
                }
                &:-moz-placeholder {
                    color: @requiredColor;
                }
            }
        }
    }
    &.error {
        .order-ctrl {
            &__input {
                border-color: #d45745;
            }
            &__err {
                .inline-block();
            }
            &__lbl {
                position: static;
                display: block;
                margin-bottom: 5px;

                white-space: nowrap;
                color: #d45745;
            }
            &__txt {
                top: -2px;

                color: #d45745;
            }
            &__address-error {
                display: block;
            }
        }
    }

    &__check{
        white-space: nowrap;
    }

    &_last{
        margin-right: 0;
    }
}


.order-btn {
    font-size: 14px;
    line-height: 33px;

    height: 33px;
    padding: 0 23px;

    border: 1px solid;

    .rounded(3px);
    &--default {
        color: @txtColor;
        background-color: @white;
    }
}

.order-agreement__check {
    border: 1px solid transparent;

    .rounded(3px);
    &.error {
        border-color: #d45745;
    }
}
