.order-payment {
    border: 1px solid #d7d7d7;
    margin: 10px 0 0 10px;

    strong {
        font-size: 16px;
        font-weight: normal;
        .inline-block();
        margin-bottom: 10px;
    }
    .paymentRow {
        margin: 0;
    }
}