@txtColor: #363636;
@txtLightColor: #868686;
@textGrey: #616161;
@bgGrey: #f7f7f7;

.order-bill {
    .clearfix;
    
    &__item {
        margin-top: 20px;

        padding: 15px;
        border: 0;
        background: @white;
        -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.20);
        -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.20);
    }

    &__head {
        .inline-block();
        margin-bottom: 0;

        font-size: 22px;
        color: @txtColor;
    }

    &__later{
        position: relative;
        float: right;

        width: 130px;
        height: 30px;

        border: 1px solid #afafaf;
        background: @white;
        .rounded(3px);

        font-size: 14px;
        color: #5e5e5e;
        text-align: center;
        line-height: 30px;

        &:hover{
            border-color: #868686;

            text-decoration: none;
            color: #363636;

            .order-bill__later-info{
                display: block;
            }
        }
    }

    &__later-info{
        display: none;

        position: absolute;
        top: 40px;
        left: -155px;
        z-index: 10;

        width: 310px;

        background: #f2f2f2;
        padding: 10px;
        -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.20);
        -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.20);
        .rounded(3px);

        font-size: 12px;
        text-align: left;

        line-height: 1.5;
    }

    &__wrap {
        position: relative;

        display: block;
        width: 100%;

        font-size: 0;
    }

    &__goods {
        .inline-block();
        width: 465px;
        height: 100%;
        margin-right: 10px;
    }

    &__seller {
        position: relative;

        margin-bottom: 25px;

        font-size: 14px;
        color: #616161;
    }

    &__oferta {
        font-size: 0;

        width: 15px;
        height: 15px;
        margin: -2px 0 0 3px;

        cursor: pointer;

        background: url('@{base-url}/order-new/img/order-sprite.png') no-repeat -45px -53px;

        .inline-block(middle);
    }

    &__delivery-details {
        .inline-block();
        width: 455px;
    }

    &__adds {
        .clearfix;

        margin: 10px 0 0;
        padding: 10px 480px 0 10px;

        border-top: 4px solid #f2f2f2;
    }

    &__total-inner{
        margin-bottom: 10px;

        text-align: right;
    }

    &__total-price {
        display: inline-block;
        vertical-align: bottom;
        width: 110px;

        text-align: right;
        font-size: 18px;
        color: @txtColor;
    }

    &__serv {
        display: inline-block;
        vertical-align: bottom;

        font-size: 14px;
        line-height: 23px;
        color: #5e5e5e;
    }
}


.order-good {

    &__item {
        position: relative;

        width: 100%;
        padding: 10px 10px 10px 0;

        border-top: 1px solid #e6e6e6;

        .box-sizing(border-box);

        .order-good{

            &__total-price{
                float: right;
            }
        }
    }

    &__more{
        position: absolute;
        top: 5px;
        right: 5px;

        font-size: 12px;
    }

    &__more-btn{
        position: relative;
        z-index: 12;
        border: 6px solid transparent;
        border-top-color: #afafaf;

        font-size: 0;

        outline: 0;
        cursor: pointer;

        &:before{
            content: '';
            position: absolute;
            top: -6px;
            left: -4px;
            z-index: 13;

            border: 4px solid transparent;
            border-top-color: #ffffff;

        }
    }

    &__more-list{
        display: none;

        position: absolute;
        bottom: -94px;
        left: -10px;
        z-index: 11;

        width: 165px;

        background: @white;
        border: 1px solid #d7d7d7;
        -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.20);
        -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.20);

        &:before{
            content: '';

            position: absolute;
            top: -12px;
            left: 9px;

            border: 6px solid transparent;
            border-bottom-color: #d7d7d7;
        }

        &:after{
            content: '';

            position: absolute;
            top: -8px;
            left: 11px;

            border: 4px solid transparent;
            border-bottom-color: #ffffff;
        }
    }

    &__more-item{
        padding: 7px 10px;

        text-align: left;
        color: #363636;

        cursor: pointer;

        &:hover{
            background: #fff7e5;
        }
    }

    &__item-lk {
        display: block;
        float: left;

        width: 70px;
        height: 70px;

        text-align: center;

        &:after {
            width: 0;
            height: 100%;

            content: '';

            .inline-block(middle);
        }

        &:hover{
            text-decoration: none;
        }
    }

    &__img {
        max-width: 65px;
        max-height: 65px;

        .inline-block(middle);
    }

    &__name {
        font-size: 14px;

        display: block;

        margin-bottom: 15px;
        margin-left: 80px;
        margin-right: 20px;

        color: @txtColor;
    }

    &__price-block {
        display: block;

        margin-left: 80px;
    }

    &__price {
        font-size: 16px;

        width: 90px;

        color: #868686;

        .inline-block();
    }

    &__total-price {
        font-size: 16px;

        color: @txtColor;
    }

    &__quantity {
        margin-left: 40px;

        border-bottom: 1px dotted #868686;
        cursor: pointer;

        font-size: 16px;
        color: #868686;

    }

    &__count {
        .inline-block();
        margin-right: 5px;
        border: none;

        .count {

            &__ctrl {
                font-size: 16px;

                width: 25px;
                height: 20px;

                background-color: @white;

                color: #868686;

                &:hover{
                    background: #fff7e5;
                }

                &:disabled{
                    color: #d7d7d7;
                    background: @white;
                }
            }

            &__num {
                width: 35px;
                height: 20px;

                border: none;
                background: #f2f2f2;

                font-size: 16px;
                line-height: 20px;
                color: #868686;
            }
        }
    }

    &__edit {
        .inline-block();
    }

    &__units {
        font-size: 16px;
        color: #868686;
    }

    &__apply {
        font-size: 0;

        width: 25px;
        height: 20px;
        margin-left: 7px;

        cursor: pointer;

        border: 1px solid #d7d7d7;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABHklEQVQoFWNkIBKYmJgE/////zQzMerNzc29mJiYOoBq5RkJaTA1NZVlZGRcB1T3B0gHsODTYGxszApU1AvE3EB12SdPnnzJhE8DMzNzIVCxDlDNYqDi/SC1TEArTS0sLGrQNQKF7YBiCUB8/cuXL70weSagCbFA30cBPRYBE7SyshIDioM8+e3Xr19FV69e/QWTYwIK1AE1vALiCjMzMzWgBNOfP3+6gBoEgGKN58+ffwhTDKKZX7x48UNKSuoqUEEQkG8uLS0tDmT7AhWvP3369HRkxWANIOIZEEhKSjICw9odqNgIqPg+0MM5T548+YNVA1TTWaDpZkC2yL9//1JPnTr1Al0xiI8cD//Y2Njyf/78qXvmzJmb2BSDxAAyOmliqt77sgAAAABJRU5ErkJggg==');
        background-repeat: no-repeat;
        background-position: center;

        .rounded(3px);
        .inline-block();

        color: #868686;

        &:hover {
            background-color: #fff7e5;

            text-decoration: none;
        }
    }

    &__del {
        font-size: 0;

        position: absolute;
        top: 10px;
        right: 5px;

        width: 10px;
        height: 10px;

        cursor: pointer;

        background: url('@{base-url}/order-new/img/order-sprite.png') no-repeat  -27px -53px;
    }
}


.order-discount {
    font-size: 0;
    float: right;

    &__row{
        margin-top: 10px;

        &_hide{
            display: none;
        }
    }

    &__row-inner{
        display: block;
        margin-top: 10px;

        &_right{
            text-align: right;
        }
    }

    &__row-cell{
        display: inline-block;
        vertical-align: middle;
        width: 50%;

        .clearfix;

        img{
            max-width: 100%;
        }
    }

    &__select{
        float: right;
    }

    &__select-img-block{
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    &__ep-coupon-img{
        max-width: 100%;
        height: 30px;

        -webkit-background-size: 100%;
        background-size: 100%;
    }

    &__ep-coupon-icon{
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;

        max-width: 20px;
        max-height: 20px;
        margin: auto;
    }

    &__ep-coupon-txt{
        display: block;
        overflow: hidden;

        font-size: 12px;
    }

    &__ep-coupon-txt-total{
        display: block;

        font-size: 11px;
        color: #5e5e5e;
    }

    &__head {
        font-size: 18px;
        padding-left: 5px;

        margin: 20px 0 0;

        color: @txtColor;
    }

    &__item {
        position: relative;

        display: table;

        width: 100%;

        border-top: 1px solid #e6e6e6;
    }

    &__lk {
        display: table-cell;

        padding: 10px 0;

        vertical-align: middle;
    }

    &__name {
        font-size: 14px;

        display: table-cell;

        width: 100%;
        max-width: 0;
        padding: 10px;

        vertical-align: middle;

        color: @txtColor;
    }

    &__val {
        font-size: 16px;

        display: table-cell;

        padding: 10px 10px 10px 0;

        text-align: right;
        vertical-align: middle;
        white-space: nowrap;

        color: @txtColor;
    }

    &__cell {
        display: table-cell;

        min-width: 10px;
        padding: 10px;

        text-align: center;
        vertical-align: middle;
    }

    &__img {
        &_font {
            font-family: Tahoma, sans-serif;
            font-size: 24px;

            display: block;

            min-width: 38px;

            text-align: center;

            color: #fe4c40;
        }
    }

    &__ep-img-block{
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    &__ep-coupon-img{
        max-width: 100%;
        height: 30px;

        -webkit-background-size: 100%;
        background-size: 100%;
    }

    &__ep-coupon-icon{
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;

        width: 11px;
        max-height: 20px;
        margin: auto;

        img{
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    &__del {
        font-size: 0;

        width: 10px;
        height: 10px;

        cursor: pointer;

        background: url('@{base-url}/order-new/img/order-sprite.png') no-repeat  -27px -53px;

        .inline-block(middle);
    }

    &__tl {
        display: block;

        font-size: 12px;
        color: @txtColor;
        text-align: right;

        cursor: pointer;

        span{
            border-bottom: 1px dotted @txtColor;
        }
    }

    &__pin {
        display: block;
        margin-top: 10px;

        input{
            display: inline-block;
            vertical-align: middle;
            width: 80px;
            height: auto;
            line-height: 1;

            padding: 5px;

            background: #fff;
        }

        label.order-discount__pin-lbl{
            position: static;
            display: inline-block;
            vertical-align: middle;
            width: auto;

            font-size: 14px;
            color: #363636;
        }
    }

    &__pin-inn{
        text-align: right;
    }

    &__current{
        display: block;

        border-top: 1px dotted #afafaf;
        padding: 20px 0 10px;

        font-size: 12px;

        .clearfix;
    }

    &__current-txt{
        float: left;
        max-width: 85%;

        font-size: 12px;
    }

    .order-ctrl {
        width: 185px;
        margin-right: 0;
        margin-bottom: 0;

        padding-top: 0;

        .inline-block(middle);
        &__lbl {
            line-height: 13px;

            top: auto;
            bottom: 38px;

            width: 100%;
            margin-left: 0;
            padding-right: 10px;

            .box-sizing(border-box);

            font-size: 11px;
        }
    }
    .order-btn {
        margin-left: 10px;

        .inline-block(bottom);
    }

    &_inline {
        margin: 15px 0;
        .order-discount__tl {
            text-align: left;
            display: block;
            margin: 0 0 5px;
        }
        .order-ctrl {
            width: 239px;
        }

        .order-discount__pin {
            margin: 5px 0 0;
            width: 239px;
            text-align: right;
            &-label {
                font-size: 12px;
                line-height: 23px;
                .inline-block(top);
                margin-right: 10px;
            }
            &-input {
                height: 23px;
                line-height: 23px;
                width: 68px;
                .inline-block(top);
            }
        }
    }
}


.order-wishes {
    margin: 20px 0;

    padding: 20px; 
    background: @white;
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.20);

    text-align: center;
    &__lk {
        font-size: 16px;

        cursor: pointer;

        color: @txtColor;

        .inline-block(middle);

        span{
            border-bottom: 1px dotted;
        }
        
        &:after{
            content: '';
            
            .inline-block(middle);
            margin-left: 5px;
            margin-top: 3px;

            border: 4px solid transparent;
            border-top: 6px solid #575756;
        }

        &.opened{

            &:after{
                margin-top: -8px;

                border: 4px solid transparent;
                border-top: 4px solid transparent;
                border-bottom: 6px solid #575756;
            }
        }
    }
    &__field {
        display: block;

        width: 420px;
        max-width: 420px;
        height: 125px;
        margin: 10px auto 15px;

        padding: 10px;

        color: @txtColor;
        border: 1px solid #d7d7d7;

        .rounded(3px);
    }
}


.order-total {
    margin: 0 0 5px;
    
    padding: 0 10px 10px 10px;

    border-bottom: 4px solid #e8e8e8;

    text-align: center;

    &__txt {
        margin-right: 10px;

        font-size: 14px;

        color: @txtColor;

        .inline-block(bottom);
    }
    &__sum {
        font-size: 24px;

        color: #363636;

        .inline-block(bottom);
    }
}


.order-agreement {
    &__check {
        font-size: 12px;

        width: 300px;
        margin: 0 auto;
        padding: 10px;

        color: @txtColor;
    }
    &__check-link {
        &:hover {
            text-decoration: none;
        }
    }
    &__oferta {
        cursor: pointer;

        border-bottom: 1px dotted;
    }
}


.order-popup {
    position: fixed;
    z-index: 1002;
    top: 50%;
    left: 50%;

    width: 250px;
    height: 100px;
    margin-top: -50px;
    margin-left: -125px;
    padding: 20px;

    border: 1px solid #f5f5f5;
    background-color: #fff;

    .box-shadow(0 0 10px rgba(0,0,0,.5));
    &__closer {
        position: absolute;
        top: 10px;
        right: 10px;

        width: 10px;
        height: 10px;

        cursor: pointer;

        background: url('@{base-url}/order-new/img/order-sprite.png') no-repeat  -27px -53px;

        .inline-block(middle);
    }
    &__tl {
        font-size: 18px;

        margin: 10px 0 20px;

        text-align: center;

        color: @txtColor;
    }
    &__btn {
        margin: 0 20px;

        .inline-block();
        &:last-child {
            margin: 0;
        }
    }
    &__overlay {
        position: fixed;
        z-index: 1001;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0,0,0,.3);
    }
}


.order {
    
    &__wrapper{
        background: #f2f2f2;
    }

    &__wrap{
        width: 960px;
        margin-left: -10px;

        &, *{
            .box-sizing(border-box);
        }
    }

    &__bonus-cards {
        clear: both;

        margin-top: 20px;

        .bonusCnt_img {
            width: 46px;
        }
    }

    &__total-row{
        display: block;
        margin-bottom: 70px;

        background: @white;
        -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.20);
        -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.20);
        padding: 20px 30px 30px 30px;
    }
}


.order-head {

    &__inn {
        width: 960px;
        margin: 0 auto;
    }
}