.order-payment {
    clear: both;

    margin: 10px 0 0 10px;

    border: 1px solid #d7d7d7;
    strong {
        font-size: 16px;
        font-weight: normal;

        margin-bottom: 10px;

        .inline-block();
    }
    .paymentRow {
        margin: 0;
    }
}
