@txtColor: #363636;
@placeholderColor: #a0a0a0;
@borderColor: #c7c7c7;
@requiredColor: #f99b1c;

.order-ctrl {
    position: relative;

    width: 110px;
    margin-right: 30px;
    margin-bottom: 6px;
    padding-top: 15px;

    .inline-block(middle);
    &.fullwidth {
        width: 100%;
        max-width: 420px;
        margin-right: 0;
    }
    &__lbl {
        font-size: 12px;

        position: absolute;
        top: -2px;
        left: 0;

        display: none;

        margin-left: 10px;

        color: @borderColor;
        &.nohide {
            display: block;
        }
    }
    &__txt {
        font-size: 12px;

        position: absolute;
        top: 24px;
        left: 0;

        margin-left: 10px;

        color: @borderColor;

        .transition(all .2s ease-out);
        &.top {
            top: -2px;
        }
    }
    &__input {
        font-size: 14px;
        line-height: 33px;

        position: relative;
        z-index: 1;

        width: 100%;
        height: 35px;
        padding: 0 10px;

        color: @txtColor;
        border: 1px solid @borderColor;
        background-color: @white;

        &_float-label {
            background-color: transparent;
        }

        .box-sizing(border-box);
        .rounded(3px);
        &::-webkit-input-placeholder {
            color: @placeholderColor;
        }
        &::-moz-placeholder {
            color: @placeholderColor;
        }
        &:-ms-input-placeholder {
            color: @placeholderColor;
        }
        &:-moz-placeholder {
            color: @placeholderColor;
        }
    }
    &__err {
        font-size: 12px;

        display: none;

        margin-left: 5px;

        color: #d45745;
    }
    &.required {
        .order-ctrl {
            &__lbl {
                color: @requiredColor;
            }
            &__input {
                &::-webkit-input-placeholder {
                    color: @requiredColor;
                }
                &::-moz-placeholder {
                    color: @requiredColor;
                }
                &:-ms-input-placeholder {
                    color: @requiredColor;
                }
                &:-moz-placeholder {
                    color: @requiredColor;
                }
            }
        }
    }
    &.error {
        .order-ctrl {
            &__input {
                border-color: #d45745;
            }
            &__err {
                .inline-block();
            }
            &__lbl {
                display: block;

                color: #d45745;
            }
            &__txt {
                top: -2px;

                color: #d45745;
            }
        }
    }
}


.order-btn {
    font-size: 14px;
    line-height: 33px;

    height: 33px;
    padding: 0 23px;

    border: 1px solid;

    .rounded(3px);
    &--default {
        color: @txtColor;
        background-color: @white;
    }
}

.order-agreement__check {
    border: 1px solid transparent;

    .rounded(3px);
    &.error {
        border-color: #d45745;
    }
}
