.order-receiver{
    padding: 10px 0;
    border-bottom: 1px solid #a6a6a6;
    .clearfix();

    &__login{
        float: left;
        width: 620px;
        padding: 0 10px;
        border-right: 1px dashed #afafaf;
        font-size: 0;
    }
    &__social{
        margin-left: 640px;
    }
    &__chip{
     .inline-block(middle);
    }
    &__subscribe-txt{
        .inline-block(middle);
        font-size: 12px;
        color: #363636;
    }
    .order-ctrl{
        width: 280px;
        margin-right: 10px;
    }
    &__hint{
        width: 320px;
        .inline-block(middle);
        height: 35px;
        margin-top: 10px;
        font-size: 12px;
        color: #868686;

        &:after{
            content: '';
            .inline-block(middle);
            width: 0;
            height: 100%;
        }
    }
    &__subscribe{
        width: 320px;
        height: 41px;
        margin-top: 8px;
        .inline-block(middle);

        .customInput-checkbox + .customLabel{
            background-position: 0 50%;
        }
    }
    &__chip{
        margin-right: 5px;
    }
}
.social{
    padding: 50px 0 0;

    &__head{
        margin: 10px 0;
        color: #363636;
        font-size: 16px;
        text-align: center;
    }
    &__list{
        text-align: center;
        font-size: 0;
    }
    &__item{
        .inline-block(middle);
        margin: 0 5px;
    }
    &__register{
        margin: 10px 0;
        color: #363636;
        font-size: 16px;
        text-align: center;

        span {
            border-bottom: 1px dotted;
        }
    }
}