@txtColor: #363636;
@txtLightColor: #868686;
@textGrey: #616161;

.order-delivery {
    &__menu {
        margin-bottom: 17px;

        border-bottom: 4px solid #e8e8e8;
    }
    &__type {
        font-size: 16px;
        line-height: 40px;

        position: relative;

        height: 38px;
        margin: 0 5px 0 0;
        margin-bottom: -4px;
        padding: 0 20px;

        text-align: center;

        border-bottom: 4px solid transparent;

        .inline-block(middle);
        &.active {
            font-weight: bold;

            border-color: #f99b1c;
            .order-delivery__type-inn {
                cursor: default;
                text-decoration: none;
            }
        }
        &-inn {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &__info {
        margin-left: 10px;
        .customSel_def {
            line-height: 14px;
        }
    }
    &__date {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        padding: 7px 35px 7px 5px;

        color: @txtColor;
        border-color: #c7c7c7;
        background-position: 99% 6px;

        .rounded(0);
    }
    &__interval {
        height: 19px;
        padding: 7px 25px 7px 5px;

        color: @txtColor;
        border-color: #c7c7c7;
        background: none;

        .rounded(0);
        &:after {
            position: absolute;
            top: 15px;
            right: 5px;

            width: 0;
            height: 0;

            content: '';

            border-width: 7px 5.5px 0 5.5px;
            border-style: solid;
            border-color: #868686 transparent transparent transparent;
        }
        &.one {
            padding-right: 0;

            cursor: default;

            border: none;
            &:after {
                display: none;

                content: none;
            }
        }
        .customSel_def {
            line-height: 22px;
        }
    }
    &__block {
        margin: 10px 0 0 10px;
        padding: 10px;

        border: 1px solid #d7d7d7;
        &.warn {
            border-color: #fb9c00;
        }
        .order__addr {
            margin-bottom: 0;

            border: none;
        }
        &.empty {
            display: none;
        }
        &.deliv-addr {
            padding: 10px 10px 20px;
        }
    }
    &__change-place {
        float: left;

        margin: 6px 10px 10px 10px;

        cursor: pointer;

        color: #f99b1c;
        border-bottom: 1px dotted;
    }
    &__point-info {
        font-size: 12px;
        word-wrap: break-word;

        color: @txtLightColor;
    }
}
.order-region {
    font-size: 16px;
    color: #ffa400;

    &__change {
        cursor: pointer;

        border-bottom: 1px dotted;
    }
}

.ui-helper-hidden-accessible {
    display: none;
}
