.order-page {
    .s-sales {
        margin: 30px 0;
    }
}

.order-cart {
    margin-top: 10px;
    &__item {
        position: relative;

        display: table;

        width: 100%;

        border-bottom: 1px solid #bababa;
    }
    &__item-del {
        font-size: 0;

        position: absolute;
        top: 23px;
        right: 6px;

        width: 15px;
        height: 15px;

        cursor: pointer;

        background: url('@{base-url}/order-new/img/order-sprite.png') no-repeat -4px -53px;
    }
    &__img {
        position: relative;

        display: table-cell;

        padding: 10px 0;
    }
    &__img-lk {
        width: 130px;
        height: 130px;

        text-align: center;
        text-decoration: none;

        .inline-block();
        img {
            max-width: 120px;
            max-height: 120px;

            .inline-block(middle);
        }
        &:after {
            width: 0;
            height: 100%;

            content: '';

            .inline-block(middle);
        }
        &:hover {
            text-decoration: none;
        }
    }
    &__desc {
        position: relative;

        display: table-cell;

        padding: 10px 5px 45px 14px;

        vertical-align: top;
    }
    &__name {
        font-size: 16px;

        width: 640px;
        &.unavailable {
            .order-cart__name-lk {
                color: #868686;
            }
            .order-cart__is-available {
                color: #d45745;
            }
        }
    }
    &__name-lk {
        color: #363636;
    }
    &__is-available {
        font-size: 14px;
        line-height: 17px;

        margin-top: 10px;
        padding-left: 5px;

        color: #80c342;
        border-left: 3px solid;
    }
    &__price-counter {
        font-size: 0;

        position: absolute;
        bottom: 13px;
        left: 0;

        width: 100%;
        height: 26px;

        text-align: right;
    }
    &__price {
        font-size: 18px;

        color: #5e5d5d;

        .inline-block(middle);
    }
    &__count {
        margin-left: 20px;

        .inline-block(middle);
    }
    &__info {
        display: table-cell;

        padding: 10px 5px;

        vertical-align: bottom;
    }
    &__total {
        font-size: 24px;
        line-height: 37px;

        width: 150px;
        height: 37px;

        text-align: right;
        white-space: nowrap;

        color: #363636;
    }
    &__min-sum {
        display: block;
    }
    &__min-sum-desc {
        font-size: 16px;

        color: #80c342;
    }
    &__total-sum {
        .inline-block();
    }
    &__units {
        font-size: 16px;

        margin-left: 5px;

        color: #5e5d5d;

        .inline-block(middle);
    }
    &__common-total {
        padding: 15px 7px 35px 0;

        text-align: right;

        border-bottom: 1px solid #bababa;
        .order-cart__total {
            width: auto;
        }
    }
    &__sum-txt {
        font-size: 17px;

        margin-right: 5px;

        color: #5e5e5e;

        .inline-block(middle);
    }
    &__btn {
        margin: 20px 0 10px;
    }
    &__back {
        text-align: center;
        a {
            font-size: 18px;

            text-decoration: none;

            color: #363636;
            &:before {
                width: 7px;
                height: 19px;
                margin-right: 8px;

                content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAATCAQAAAD2HN/VAAAAjklEQVR4AWPADViR2No8pnfMAqEcY1azRWZHGVggPEazKLN3FpowOWXTl2YZUI4Kn9k+0yUMjBAes1m96U0rMaicpYrZN1MPuAWmzmZPzPQRFjKbrjTbYCaMkFcyuWZSaoxwk5ml6SXTNIQGRpNss4umpnC+Oq/ZArMN5nxwAUNRsw0mZkh+cpDw5WLACwCynx0N07qtHAAAAABJRU5ErkJggg==');

                .inline-block(middle);
            }
            &:hover {
                text-decoration: none;
            }
        }
        &-txt {
            padding-bottom: 1px;

            border-bottom: 1px solid;
        }
    }
}


// счетчик количества товара
.count {
    font-size: 0;

    overflow: hidden;

    white-space: nowrap;

    border: 1px solid #d3d3d3;

    .rounded(3px);
    &__ctrl {
        font-size: 20px;
        line-height: 1;

        width: 34px;
        height: 23px;

        text-align: center;

        color: #5e5d5d;
        border: none;
        outline: none;
        background-color: #f6f6f6;

        .inline-block();
        &:hover {
            text-decoration: none;
        }
    }
    &__num {
        font-size: 18px;

        width: 35px;
        height: 23px;
        margin: 0;
        padding: 0;

        text-align: center;

        border: 0;
        border-right: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;

        .inline-block();
    }
}
