.order-receiver{
    padding: 10px 0;
    border-bottom: 1px solid #a6a6a6;
    display: table;
    width: 100%;

    &__login{
        display: table-cell;
        vertical-align: top;
        padding: 0 10px;
        font-size: 0;
    }
    &__subscribe-txt{
        color: #363636;
        display: block;
        font-size: 12px;
        line-height: 1.2;
        margin: 5px 0 0 50px;
    }
    .order-ctrl{
        width: 280px;
        margin-right: 10px;
    }
    &__hint{
        width: 320px;
        .inline-block(middle);
        height: 35px;
        margin-top: 10px;
        font-size: 12px;
        color: #868686;

        &:after{
            content: '';
            .inline-block(middle);
            width: 0;
            height: 100%;
        }
    }
    &__subscribe{
        width: 325px;
        height: 41px;
        margin-top: 8px;
        .inline-block(middle);

        .customInput-checkbox + .customLabel{
            background-position: 0 50%;
        }
    }
    &__chip{
        margin-right: 5px;
        float: left;
    }
    &__social{
        border-left: 1px dotted #afafaf;
        display: table-cell;
        vertical-align: top;
        width: 310px;
        min-width: 310px;
        max-width: 310px;
    }
}
.social{
    padding: 50px 0 0;

    &__head{
        margin: 10px 0;
        color: #363636;
        font-size: 16px;
        text-align: center;
    }
    &__list{
        text-align: center;
        font-size: 0;
    }
    &__item{
        .inline-block(middle);
        margin: 0 5px;
    }
    &__register{
        margin: 30px 0 10px;
        color: #363636;
        font-size: 16px;
        text-align: center;

        a {
            border-bottom: 1px dotted;
            &:hover{
                text-decoration: none;
            }
        }
    }
}