@txtColor: #363636;
@txtLightColor: #868686;
@textGrey: #616161;

.order-delivery {

    &__menu {
        border-bottom: 4px solid #ffa400;
    }

    &__type {
        font-size: 16px;
        line-height: 42px;

        position: relative;

        height: 40px;
        margin: 0 12px 0 0;
        margin-bottom: -4px;
        padding: 0 19px;

        color: #363636;
        text-align: center;

        border-bottom: 4px solid transparent;

        .inline-block(middle);

        &.active {
            font-weight: bold;

            color: #fff;
            border-color: #ffa400;
            background-color: #ffa400;

            .order-delivery__type-inn {
                cursor: default;

                text-decoration: none;
            }
        }
        &-inn {
            cursor: pointer;
            text-decoration: none;
        }
    }

    &__info {

        .customSel_def {
            line-height: 14px;
        }
    }

    &__date {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        padding: 7px 35px 7px 5px;

        color: #363636;
        border-color: #c7c7c7;
        background-position: 99% 6px;
        background-color: @white;

        .rounded(0);

        &:not(.orderCol_date){
            background-color: transparent;
        }
    }

    &__interval {
        height: 19px;
        padding: 7px 25px 7px 5px;

        color: #363636;
        border-color: #c7c7c7;
        background: none;

        .rounded(0);

        &:after {
            position: absolute;
            top: 15px;
            right: 5px;

            width: 0;
            height: 0;

            content: '';

            border-width: 7px 5.5px 0 5.5px;
            border-style: solid;
            border-color: #868686 transparent transparent transparent;
        }

        &.one {
            padding-right: 0;

            cursor: default;

            border: none;

            &:after {
                display: none;

                content: none;
            }
        }

        .customSel_def {
            line-height: 22px;
        }
    }

    &__block {
        .clearfix;
        margin-bottom: 10px;
        
        padding: 15px;
        background: #f2f2f2;

        font-size: 14px;

        &.warn {
            border-color: #fb9c00;
        }

        .order__addr {
            margin-bottom: 0;

            border: none;
        }

        &.empty {
            display: none;
        }

        &.deliv-addr {
            padding: 0 15px 15px;
        }
    }

    &__block-inner{
        position: relative;

        margin-bottom: 10px;
        
        background: @white;
        padding: 10px;
        border: 1px solid #d7d7d7;
    }

    &__del{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;

        width: 10px;
        height: 10px;

        background: url('/styles/order-new/img/order-sprite.png') no-repeat -27px -53px;
        cursor: pointer;

        font-size: 18px;
        color: #afafaf;

        &:hover{
            text-decoration: none;
        }
    }

    &__h3{
        margin: 0 0 5px;

        padding-top: 10px;

        font-size: 14px;
        color: #868686;

        &_address{
            padding-top: 20px;
            margin-bottom: 10px;
        }
    }

    &__change-place {
        float: left;
        margin-right: 15px;

        cursor: pointer;
        padding: 7px 10px;
        border: 1px solid #d7d7d7;
        background: @white;

        font-size: 14px;
        color: #363636;

        &:hover{
            border-color: #868686;
        }
    }

    &__point-info {
        font-size: 12px;
        word-wrap: break-word;
        color: @txtLightColor;

        p{
            margin: 0;
        }
    }
}


.order-region {
    display: block;

    padding: 10px 10px 0 15px;
    background: #f2f2f2;

    font-size: 16px;
    color: #363636;

    &__change {
        cursor: pointer;

        border-bottom: 1px dotted;

        color: #5e5e5e;

        &:hover{
            text-decoration: none;
        }
    }

}


.ui-helper-hidden-accessible {
    display: none;
}