.order-error {
    font-size: 16px;

    position: relative;

    margin-top: 20px;
    padding: 10px;

    border: 1px solid;
    &--hint {
        color: #f99b1c;
        background-color: #fff6e5;
    }
    &--warning {
        color: #db4437;
        background-color: #fbeceb;
    }
    &--success {
        color: #009925;
        background-color: #e5f5e9;
    }
    &__closer {
        position: absolute;
        top: 50%;
        right: 10px;

        width: 10px;
        height: 10px;
        margin-top: -5px;

        cursor: pointer;

        background: url('@{base-url}/order-new/img/order-sprite.png') no-repeat  -27px -53px;

        .inline-block(middle);
    }
    a {
        text-decoration: none;

        color: inherit;
        border-bottom: 1px solid;
        &:hover {
            text-decoration: none;

            color: inherit;
        }
    }
}
