.payment-methods {

    &__i {
        margin: 0 -10px;

        padding: 7px 10px;

        .customLabel {
            background-position: 0 50%;
        }

        &.top-space {
            margin-top: 18px;
        }

        label{
            width: 100%;

            font-size: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover{
            background: #fff7e5;
        }
    }

    &__i-txt{
        .inline-block(middle);
        width: 60%;

        font-size: 14px;
    }

    &__img {
        margin-top: -5px;
        margin-left: -2px;

        .inline-block(middle);
    }

    &__discount {
        .inline-block(middle);
        width: 40%;
    }

    &__lst {

        font-size: 14px;

        &:last-child {
            margin: 0;
        }

        &_discount {
            .inline-block(middle);
            width: 100%;

            padding: 0;
            //border-right: 1px dotted #c7c7c7;

            &:hover{
                background-color: transparent;
            }
        }
    }
}


.discount {
    padding: 0 0 0 10px;
    border-left: 1px dotted #c7c7c7;

    &__pay-type {
        font-size: 14px;

        display: block;

        color: #363636;
    }
    &__val {
        display: block;
        width: 100%;

        font-size: 14px;
        color: #ef404a;
        text-align: right;

        &__price {
            white-space: nowrap;
        }
    }

    &.single{
        border-left: none;
    }
}


.payment-discount {
    position: absolute;
    bottom: 0;
    left: 0;

    display: table-cell;

    width: 100%;

    vertical-align: bottom;

    & + .order-bill__body{
        padding-bottom: 163px;//высота 2х строк скидки по способу оплаты+заголовок - max их может быть 2.
    }
}
