.payment-methods {
    &__i {
        line-height: 27px;

        margin-bottom: 3px;

        .customLabel {
            background-position: 0 50%;
        }

        &.top-space {
            margin-top: 18px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover{
            background: #fff7e5;
        }
    }
    &__img {
        margin-top: -5px;
        margin-left: -2px;

        .inline-block(middle);
    }
    &__discount {
        .inline-block(middle);
        width: 40%;

        .box-sizing(border-box);
    }
    &__lst {
        .box-sizing(border-box);

        font-size: 14px;

        &:last-child {
            margin: 0;
        }

        &_discount {
            .inline-block(middle);
            width: 60%;

            padding: 0;
            //border-right: 1px dotted #c7c7c7;

            &:hover{
                background-color: transparent;
            }
        }
    }
}


.discount {
    padding: 0 0 0 10px;
    border-left: 1px dotted #c7c7c7;

    &__pay-type {
        font-size: 14px;

        display: block;

        color: #363636;
    }
    &__val {
        font-size: 14px;

        display: block;

        color: #ef404a;

        &__price {
            white-space: nowrap;
        }
    }

    &.single{
        border-left: none;
    }
}


.payment-discount {
    position: absolute;
    bottom: 0;
    left: 0;

    display: table-cell;

    width: 100%;

    vertical-align: bottom;

    & + .order-bill__body{
        padding-bottom: 163px;//высота 2х строк скидки по способу оплаты+заголовок - max их может быть 2.
    }
}
