.orderFinal__certificate{
  margin:15px 0;
  h2{
    font-size: 19px;
    margin-bottom: 15px;
  }
  input{
    margin: 0 5px 15px 0;
    padding: 2px 8px;
    &.cardNumber{
      width:230px;
    }
    &.cardPin{
      width:90px;
    }
  }
  .process{
    .img{
      .rounded(7px);
      height:35px;
      width: 35px;
      margin:0 15px 15px 0;
      float:left;
      &.red{
        background:#D90000 url("@{base-url}/order/img/x.gif") no-repeat 50% 50%;
      }
      &.green{
        background:#2DB200 url("@{base-url}/order/img/green.gif") no-repeat 50% 50%;
      }
      &.orange{
        background: @firmOrange url("@{base-url}/order/img/ajar.gif") no-repeat 50% 50%;
      }
    }
    p{
      font-size:18px;
      line-height:1.5em;
    }
  }
  .certifText{
    //some rules
  }
}

.socnet-ico-box {
  margin-top: 0;
  .socnet-ico-list {
    float: left;

    margin: 4px 1px 0 0;
  }
  .socnet-ico-list li {
    float: right;
  }
  .socnet-ico-list li a {
    display: block;

    width: 30px;
    height: 30px;

    background: url("@{base-url}/order/img/img_ico_socnet.gif") no-repeat 0 0;
  }
  .socnet-ico-list li.socnet-ico-list__tw a {
    background-position: -30px 0;
  }
  .socnet-ico-list li.socnet-ico-list__vk a {
    background-position: -60px 0;
  }
  .socnet-ico-list li.socnet-ico-list__yt a {
    background-position: -90px 0;
  }
  .socnet-ico-list li.socnet-ico-list__inst a {
    background-position: -120px 0;
  }
  .socnet-ico-list li.socnet-ico-list__fs a {
    background-position: -150px 0;
  }
  .socnet-ico-list li.socnet-ico-list__yam a {
    width: 119px;
    height: 36px;
    margin-left: 14px;

    background-position: -180px 0;
  }
}
