<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
</head>

<body>
<div class="allpage">
<div class="allpageinner">

    <!-- Topbar -->
    <div class="topbar">
        <div class="region">
            Регион: <a href="">Москва</a>
        </div>
        <div class="usermenu">
            <div class="point"><a href="" class="f1">F1 сервис</a></div>
            <div class="point"><a href="" class="entry">Войти на сайт</a></div>
            <div class="point next"><a href="">Помощь покупателю</a></div>
        </div>
    </div>
    <!-- /Topbar -->
    
    
    <!-- Header -->
    <div class="header">
        <div class="logo"><a href="">Enter Связной</a></div>
        <!-- Topmenu -->
        <ul class="topmenu">
            <li><a href="" class="point1">МЕБЕЛЬ</a></li>
            <li><a href="" class="point2">Бытовая техни</a></li>
            <li><a href="" class="point3">Товары для дома</a></li>
            <li><a href="" class="point4">Товары для детей</a></li>
            <li><a href="" class="point5">СДЕЛАЙ САМ (ИНСТРУМЕНТЫ)</a></li>
            <li><a href="" class="point6">Электроника</a></li>
            <li><a href="" class="point7">Украшения и часы</a></li>
            <li><a href="" class="point8">Спорт</a></li>
            <li><a href="" class="point9">ПОДАРКИ</a></li>
        </ul>
        <!-- /Topmenu -->
        <div class="headerright">
            Заказ и консультации
            <div class="vcard"><div class="tel"><span>(495)</span>555-66-77</div></div>
            <a href="">Перезвоните мне</a><br />
            <a href="">Отследить мой заказ</a>
        </div>
    </div>
    <!-- /Header -->
    
    
    <!-- Page head -->
    <div class="pagehead">
        <div class="breadcrumbs"><a href="">Enter.ru</a> &gt; <a href="">Электроника  </a> &gt; <a href="">Мобильные телефоны</a> &gt; <strong>Смартфон Samsung Galaxy S II (GT-I9100) 32 ГБ</strong></div>
        <div class="clear"></div>
        <h1>Смартфон Samsung Galaxy S II (GT-I9100) 32 ГБ</h1>
        <div class="searchbox">
            <form action=""><input type="text" class="searchtext" value="Поиск товаров" onfocus="if (this.value == 'Поиск товаров') this.value = '';" onblur="if (this.value == '') this.value = 'Поиск товаров';"  /><input type="button" class="searchbutton" value="Найти" title="Найти"  id="try-1" /></form>
        </div>
    </div>
    <!-- Page head -->
    
    <!-- Goods info -->
    <div class="goodsphotosmall"><i class="bestseller">Бестселлер</i><a href=""><img src="images/photo52.jpg" alt="" width="160" height="160" title="" /></a></div>
    <div class="fr width219">
        <div class="font11 gray pb10">Перейти в:</div>
        <div class="articlemenu">
            <ul>
                <li><a href="">Карточка товара</a></li>
                <li><a href="" class="current">Отзывы пользователей</a></li>
                <li class="next"><a href="">Где купить в магазинах</a></li>
            </ul>
        </div>
    </div>
    
    <div class="goodsinfosmall">
        <div class="font11 gray pb10">Артикул #530542</div>
        <div class="font14 pb15">Яркое воплощение мечты в реальность!<br />Взяв единожды его в руки, вы уже не избавитесь от желания стать его счастливым обладателем.</div>
        <div class="font18 pb10">2 190 <span class="rubl">p</span></div>
        <div class="goodsbar">
            <a href="" class="link1"></a>
            <a href="" class="link2"></a>
            <a href="" class="link3"></a>
        </div>
    </div> 
    <!-- /Goods info -->   
    
    <div class="clear pb20"></div>
    
    
    
    <!-- Response -->
    <h2 class="bold">Отзывы пользователей (76)</h2>
    <div class="line pb15"></div>
    <table class="gradetable fl ml20">
    <thead>
        <tr>
            <th>Средняя оценка:</th>
            <td class="font18"><img src="skin/img/stars3.png" alt="" width="113" height="21" class="vm mr10" />4.1</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><a href="">5 звезд</a></th>
            <td><div class="grade"><div style="width:80%"></div></div>34</td>
        </tr>
        <tr>
            <th><a href="">4 звезды</a></th>
            <td><div class="grade"><div style="width:60%"></div></div>22</td>
        </tr>
        <tr>
            <th><a href="">3 звезды</a></th>
            <td><div class="grade"><div style="width:40%"></div></div>15</td>
        </tr>
        <tr>
            <th><a href="">2 звезды</a></th>
            <td><div class="grade"><div style="width:20%"></div></div>7</td>
        </tr>
        <tr>
            <th><a href="">1 звезда</a></th>
            <td><div class="grade"><div style="width:10%"></div></div>5</td>
        </tr>
    </tbody>
    </table>
    
    <table class="gradetable fr mr20">
    <thead>
        <tr>
            <th>Лучшая оценка:</th>
            <td class="font18">Дизайн</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Дизайн</th>
            <td><img src="skin/img/grade.png" alt="" width="150" height="8" /> 34</td>
        </tr>
        <tr>
            <th>Надежность</th>
            <td><img src="skin/img/grade.png" alt="" width="150" height="8" /> 22</td>
        </tr>
        <tr>
            <th>Удобство</th>
            <td><img src="skin/img/grade.png" alt="" width="150" height="8" /> 15</td>
        </tr>
        <tr>
            <th>Быстродействие</th>
            <td><img src="skin/img/grade.png" alt="" width="150" height="8" /> 7</td>
        </tr>
    </tbody>
    </table>
    
    <div class="recomendbox">
        <div class="pb10">Рекомендации покупателей: <b class="percentbox">78%</b></div>
        15 из 18 покупателей рекомендуют этот<br />продукт своим друзьям
    </div>
    <!-- /Response  -->
    
    <div class="clear"></div>
    
    <div class="fl mr20">Есть мнение по данному товару?<br />Напиши свой отзыв</div><a href="" class="button bigbuttonlink">Написать отзыв</a>
    <div class="clear pb15"></div>
    
            <!-- Filter -->
            <div class="filter">
                <span class="fl">Сортировать по:</span>
                <div class="filterchoice">
                    <a href="" class="filterlink">Рейтингу</a>
                    <div class="filterlist" style="display:block">
                        <a href="" class="filterlink">Рейтингу</a>
                        <ul>
                            <li><a href="">Цене (убывание)</a></li>
                            <li><a href="">Цене (возрастание)</a></li>
                            <li><a href="">Новинкам</a></li>
                            <li><a href="">Наличию</a></li>
                        </ul>
                    </div>
                </div>
            </div> 
            <!-- /Filter -->
            
            
            <!-- Pageslist -->
            <div class="pageslist">
                <span>Страницы:</span>
                <ul>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li class="current"><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li class="next"><a href="">...29</a></li>
                </ul>
            </div>
            <!-- /Pageslist -->
            <div class="line pb15"></div>
            
    
    <!-- Comments -->
    <div class="comment">
        <div class="commentleft">
            <div class="avatar"><img src="skin/img/avatar.png" alt="" width="54" height="54" /></div>
            Иван<br /><span class="gray">31.04.2011</span><br /><br />Полезный отзыв?
            <div class="vote"><a href="" class="green">Да</a> 12 / <a href="">Нет</a> 3</div>
        </div>
        <div class="commentright">
            <div class="commenttext">
               <span class="ratingview"></span>
                Достоинства:<br />
                Очень хороший аппарат. Являлся счастливым обладателем всех его
                предыдущих версий, однако Apple iPhone 4 превзошел все мои самые смелые
                ожидания. Мощный процессор в сочетании с отличным дисплеем, делают
                впечатление от него просто неизгладимым. <br /><br />
                Недостатки:<br />
                Самым серьезным недостатком стала скудность настройки FTP. Есть всего два
                типа прав (чтение и запись или только чтение) А мне требуется установить
                права на каждую папку в отдельности. Надеюсь скоро этот недочет устранят с
                выходом новой прошивки. <br /><br />
                Резюме:<br />
                Самым серьезным недостатком стала скудность настройки FTP. Есть всего два
                типа прав (чтение и запись или только чтение)<br /><br />
                <strong>Буду рекомендовать друзьям</strong><br /><br />
            </div>
            
            <ul class="gradelist">
                <li><div>Дизайн</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 34</li>
                <li><div>Надежность</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 22</li>
                <li><div>Удобство</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 15</li>
                <li><div>Быстродействие</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 7</li>
            </ul>
            
            <div class="clear"></div>
            
            <a href="" class="commentlinkopen">Комментарии (2)</a>
            <div class="commentanswer" style="display:block">
                <div class="answer">
                    <div class="answerleft">
                        <div class="avatar">.....&nbsp;&nbsp;<img src="skin/img/avatar.png" alt="" width="54" height="54" /></div>
                        Иван<br /><span class="gray">31.04.2011</span>
                    </div>
                    <div class="answerright">Очень хороший аппарат. Являлся счастливым обладателем всех его предыдущих версий, однако Apple iPhone 4 превзошел все мои самые смелые ожидания. Мощный процессор в сочетании с отличным дисплеем, делают впечатление от него просто неизгладимым.</div>
                </div>
                <div class="answer">
                    <div class="answerleft">
                        <div class="avatar">.....&nbsp;&nbsp;<img src="skin/img/avatar.png" alt="" width="54" height="54" /></div>
                        Иван<br /><span class="gray">31.04.2011</span>
                    </div>
                    <div class="answerright">Очень хороший аппарат. Являлся счастливым обладателем всех его предыдущих версий, однако Apple iPhone 4 превзошел все мои самые смелые ожидания. Мощный процессор в сочетании с отличным дисплеем, делают впечатление от него просто неизгладимым.</div>
                </div>
            </div>
            
            <div class="clear"></div>
            
            <div class="sharebox">
                <a href="" class="sharelink">Поделиться</a>
                <div class="sharelist">

                    <ul>
                        <li><a href="" class="facebook">Facebook</a></li>
                        <li><a href="" class="vkontakte">Вконтакте</a></li>
                        <li><a href="" class="mailru">Mail.ru</a></li>
                        <li><a href="" class="odnoklassniki">Одноклассники</a></li>
                        <li><a href="" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <a href="" class="button whitelink">Написать комментарий</a>
            <div class="addcomment" style="display:block">
                <div class="pb10">Текст сообщения</div>
                <div class="textareabox"><textarea rows="4" cols="125">Очень хороший аппарат</textarea></div>
                <input type="button" class="button yellowbutton" value="Отправить" />    
            </div>    
        </div>
    </div>
    
    
    <div class="comment">
        <div class="commentleft">
            <div class="real"><div class="realtext">Реальный<br />покупатель</div><div class="avatar"><img src="skin/img/avatar.png" alt="" width="54" height="54" /></div></div>
            <div class="clear"></div>
            Иван<br /><span class="gray">31.04.2011</span><br /><br />Полезный отзыв?
            <div class="vote"><a href="" class="green">Да</a> 12 / <a href="">Нет</a> 3</div>
        </div>
        <div class="commentright">
            <div class="commenttext">
               <span class="ratingview"></span>
                Достоинства:<br />
                Очень хороший аппарат. Являлся счастливым обладателем всех его
                предыдущих версий, однако Apple iPhone 4 превзошел все мои самые смелые
                ожидания. Мощный процессор в сочетании с отличным дисплеем, делают
                впечатление от него просто неизгладимым. <br /><br />
                Недостатки:<br />
                Самым серьезным недостатком стала скудность настройки FTP. Есть всего два
                типа прав (чтение и запись или только чтение) А мне требуется установить
                права на каждую папку в отдельности. Надеюсь скоро этот недочет устранят с
                выходом новой прошивки. <br /><br />
                Резюме:<br />
                Самым серьезным недостатком стала скудность настройки FTP. Есть всего два
                типа прав (чтение и запись или только чтение)<br /><br />
                <strong>Буду рекомендовать друзьям</strong><br /><br />
            </div>
            
            <ul class="gradelist">
                <li><div>Дизайн</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 34</li>
                <li><div>Надежность</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 22</li>
                <li><div>Удобство</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 15</li>
                <li><div>Быстродействие</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 7</li>
            </ul>
            
            <div class="clear"></div>
            
            <a href="" class="commentlink">Комментарии (2)</a>
            <div class="commentanswer">
                <div class="answer">
                    <div class="answerleft">
                        <div class="avatar">.....&nbsp;&nbsp;<img src="skin/img/avatar.png" alt="" width="54" height="54" /></div>
                        Иван<br /><span class="gray">31.04.2011</span>
                    </div>
                    <div class="answerright">Очень хороший аппарат. Являлся счастливым обладателем всех его предыдущих версий, однако Apple iPhone 4 превзошел все мои самые смелые ожидания. Мощный процессор в сочетании с отличным дисплеем, делают впечатление от него просто неизгладимым.</div>
                </div>
                <div class="answer">
                    <div class="answerleft">
                        <div class="avatar">.....&nbsp;&nbsp;<img src="skin/img/avatar.png" alt="" width="54" height="54" /></div>
                        Иван<br /><span class="gray">31.04.2011</span>
                    </div>
                    <div class="answerright">Очень хороший аппарат. Являлся счастливым обладателем всех его предыдущих версий, однако Apple iPhone 4 превзошел все мои самые смелые ожидания. Мощный процессор в сочетании с отличным дисплеем, делают впечатление от него просто неизгладимым.</div>
                </div>
            </div>
            
            <div class="clear"></div>
            
            <div class="sharebox">
                <a href="" class="sharelink">Поделиться</a>
                <div class="sharelist" style="display:block">
                    <ul>
                        <li><a href="" class="facebook">Facebook</a></li>
                        <li><a href="" class="vkontakte">Вконтакте</a></li>
                        <li><a href="" class="mailru">Mail.ru</a></li>
                        <li><a href="" class="odnoklassniki">Одноклассники</a></li>
                        <li><a href="" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <a href="" class="button whitelink">Написать комментарий</a>
            <div class="addcomment" style="display:block">
                <div class="pb10">Текст сообщения</div>
                <div class="textareabox"><textarea rows="4" cols="125">Очень хороший аппарат</textarea></div>
                <input type="button" class="button yellowbutton" value="Отправить" />    
            </div>    
        </div>
    </div>
    
    
    
    <div class="comment">
        <div class="commentleft">
            <div class="avatar"><img src="skin/img/avatar.png" alt="" width="54" height="54" /></div>
            Иван<br /><span class="gray">31.04.2011</span><br /><br />Полезный отзыв?
            <div class="vote"><a href="" class="green">Да</a> 12 / <a href="">Нет</a> 3</div>
        </div>
        <div class="commentright">
            <div class="commenttext">
               <span class="ratingview"></span>
                Достоинства:<br />
                Очень хороший аппарат. Являлся счастливым обладателем всех его
                предыдущих версий, однако Apple iPhone 4 превзошел все мои самые смелые
                ожидания. Мощный процессор в сочетании с отличным дисплеем, делают
                впечатление от него просто неизгладимым. <br /><br />
                Недостатки:<br />
                Самым серьезным недостатком стала скудность настройки FTP. Есть всего два
                типа прав (чтение и запись или только чтение) А мне требуется установить
                права на каждую папку в отдельности. Надеюсь скоро этот недочет устранят с
                выходом новой прошивки. <br /><br />
                Резюме:<br />
                Самым серьезным недостатком стала скудность настройки FTP. Есть всего два
                типа прав (чтение и запись или только чтение)<br /><br />
                <strong>Буду рекомендовать друзьям</strong><br /><br />
            </div>
            
            <ul class="gradelist">
                <li><div>Дизайн</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 34</li>
                <li><div>Надежность</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 22</li>
                <li><div>Удобство</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 15</li>
                <li><div>Быстродействие</div><img src="skin/img/grade.png" alt="" width="150" height="8" /> 7</li>
            </ul>
            
            <div class="clear"></div>
            <div class="sharebox">
                <a href="" class="sharelink">Поделиться</a>
                <div class="sharelist">
                    <ul>
                        <li><a href="" class="facebook">Facebook</a></li>
                        <li><a href="" class="vkontakte">Вконтакте</a></li>
                        <li><a href="" class="mailru">Mail.ru</a></li>
                        <li><a href="" class="odnoklassniki">Одноклассники</a></li>
                        <li><a href="" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <a href="" class="button whitelink">Написать комментарий</a>
            <div class="addcomment">
                <div class="pb10">Текст сообщения</div>
                <div class="textareabox"><textarea rows="4" cols="125">Очень хороший аппарат</textarea></div>
                <input type="button" class="button yellowbutton" value="Отправить" />    
            </div>    
        </div>
    </div>
    <!-- /Comments  -->
    
     <!-- Pageslist -->
            <div class="pageslist fr">
                <span>Страницы:</span>
                <ul>
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li class="current"><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li class="next"><a href="">...29</a></li>
                </ul>
            </div>
    <!-- /Pageslist -->

    <div class="fl mr20">Есть мнение по данному товару?<br />Напиши свой отзыв</div><a href="" class="button bigbuttonlink">Написать отзыв</a>
    <div class="clear pb15"></div>
    

    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="bottommenu">
        <dl>
            <dt><a href="">Компания Enter</a></dt>
            <dd><a href="">О Компании</a></dd>
            <dd><a href="">Наши преимущества</a></dd>
            <dd><a href="">Контакты</a></dd>
            <dd><a href="">Обратная связь</a></dd>
            <dd><a href="">Карта сайта</a></dd>
        </dl>
        <dl>
            <dt><a href="">Услуги и сервисы</a></dt>
            <dd><a href="">Сервис F1</a></dd>
            <dd><a href="">Доставка товара</a></dd>
            <dd><a href="">Гарантия</a></dd>
            <dd><a href="">Бесплатный возврат</a></dd>
            <dd><a href="">Помощь покупателю</a></dd>
        </dl>
        <dl>
            <dt><a href="">Хотите работать у нас?</a></dt>
            <dd><a href="">Работа в Enter &gt;&gt;&gt;</a></dd>
            <dd>Краткий текст о сайте вакансий, призыв устроиться в Enter.ru</dd>
        </dl>
        <dl class="next">
            <dt>Единая справочная</dt>
            <dd class="vcard"><strong class="tel">8 (800) 555-66-77</strong></dd>
            <dd>Круглосуточно. Без выходных</dd>
        </dl>
    </div>
    
    <div class="social">
        Посетите нас
        <a href="" class="twitter">twitter</a>
        <a href="" class="facebook">facebook</a>
        <a href="" class="vkontakte">vkontakte</a>
        <a href="" class="livejournal">livejournal</a>
        <a href="" class="youtube">youtube</a>
        <a href="" class="mobile">mobile</a>
    </div>
    
    <div class="subscribeform">
        <form action=""><input type="text" class="text" value="Введите Ваш E-mail" onfocus="if (this.value == 'Введите Ваш E-mail') this.value = '';" onblur="if (this.value == '') this.value = 'Введите Ваш E-mail';"  /><input type="button" class="subscribebutton" value="Подписаться на рассылку" /></form>
    </div>
    
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
            <div>
                <a href="">Политика конфидециальности</a>
                <a href="">Условия продажи в интернет-магазине</a>
                <b><i class="mistakeimg"></i><a href="" class="orange">сообщить!</a></b>
            </div>
        </div>
        <div class="counter">
            <a href=""><img src="images/counter1.gif" alt="" width="80" height="30" /></a>
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
