<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
</head>

<body>
<div class="allpage">
<div class="allpageinner">

    <!-- Topbar -->
    <div class="topbar">
        <div class="region">
            Регион: <a href="">Москва</a>
        </div>
        <div class="usermenu">
            <div class="point"><a href="" class="f1">F1 сервис</a></div>
            <div class="point"><a href="" class="entry">Войти на сайт</a></div>
            <div class="point next"><a href="">Помощь покупателю</a></div>
        </div>
    </div>
    <!-- /Topbar -->
    
    
    <!-- Header -->
    <div class="header">
        <div class="logo"><a href="">Enter Связной</a></div>
        <!-- Topmenu -->
        <ul class="topmenu">
            <li><a href="" class="point1">МЕБЕЛЬ</a></li>
            <li><a href="" class="point2">Бытовая техни</a></li>
            <li><a href="" class="point3">Товары для дома</a></li>
            <li><a href="" class="point4">Товары для детей</a></li>
            <li><a href="" class="point5">СДЕЛАЙ САМ (ИНСТРУМЕНТЫ)</a></li>
            <li><a href="" class="point6">Электроника</a></li>
            <li><a href="" class="point7">Украшения и часы</a></li>
            <li><a href="" class="point8">Спорт</a></li>
            <li><a href="" class="point9">ПОДАРКИ</a></li>
        </ul>
        <!-- /Topmenu -->
        <div class="headerright">
            Заказ и консультации
            <div class="vcard"><div class="tel"><span>(495)</span>555-66-77</div></div>
            <a href="">Перезвоните мне</a><br />
            <a href="">Отследить мой заказ</a>
        </div>
    </div>
    <!-- /Header -->
    
    
    <!-- Page head -->
    <div class="pagehead">
        <div class="breadcrumbs"><a href="">Enter.ru</a> &gt; <a href="">Электроника  </a> &gt; <a href="">Мобильные телефоны</a> &gt; <strong>Смартфон Samsung Galaxy S II (GT-I9100) 32 ГБ</strong></div>
        <div class="clear"></div>
        <h1>Где купить Смартфон Samsung Galaxy S II  (GT-I9100) 32 ГБ</h1>
        <div class="searchbox">
            <form action=""><input type="text" class="searchtext" value="Поиск товаров" onfocus="if (this.value == 'Поиск товаров') this.value = '';" onblur="if (this.value == '') this.value = 'Поиск товаров';"  /><input type="button" class="searchbutton" value="Найти" title="Найти"  id="try-1" /></form>
        </div>
    </div>
    <!-- Page head -->
    
	
	<!-- shop list -->
	<div class='bInShop'>
		<div class='bInShop__eLeft'>
			<div class='bInShop__eMap'><img src='images/in_map.png'></div>
			<div class='bInShop__eCurrent'><h2>г. Москва</h2> <a href class='bGrayButton'>Другой город</a></div>
			
			<div class='bInShopLine mInF'>
				<div class='bInShopLine__eTitle'>Адреса магазинов</div>
				<div class='bInShopLine__eCount mInF'>Наличие</div>
				<div class='bInShopLine__eButton'></div>
			</div>
			<div class='bInShopLine'>
				<div class='bInShopLine__eTitle'><a href style='font: 14px Tahoma, sans-srif'>м. Белорусская, магазин на ул. Грузинский вал, д. 31</a></div>
				<div class='bInShopLine__eCount'><i class='mIn3'></i> <span>Очень много</span></div>
				<div class='bInShopLine__eButton'><a href class='bGrayButton'>Купить в этом магазине</a></div>
			</div>
			<div class='bInShopLine'>
				<div class='bInShopLine__eTitle'><a href style='font: 14px Tahoma, sans-srif'>м. Ленинский проспект, магазин на ул. Орджоникидзе, д. 11, стр. 10</a></div>
				<div class='bInShopLine__eCount'><i class='mIn2'></i> <span>Много</span></div>
				<div class='bInShopLine__eButton'><a href class='bGrayButton disable'>Купить в этом магазине</a></div>
			</div>
			<div class='bInShopLine'>
				<div class='bInShopLine__eTitle'><a href style='font: 14px Tahoma, sans-srif'>м. Киевская, магазин на ул. Б. Дорогомиловская, д. 8</a></div>
				<div class='bInShopLine__eCount'><i class='mIn1'></i> <span>Мало</span></div>
				<div class='bInShopLine__eButton'><a href class='bGrayButton disable'>Купить в этом магазине</a></div>
			</div>
			<div class='bInShopLine'>
				<div class='bInShopLine__eTitle'><a href style='font: 14px Tahoma, sans-srif'>м. Белорусская, магазин на ул. Грузинский вал, д. 31</a></div>
				<div class='bInShopLine__eCount'><i class='mIn3'></i> <span>Очень много</span></div>
				<div class='bInShopLine__eButton'><a href class='bGrayButton'>Купить в этом магазине</a></div>
			</div>
			<div class='bInShopLine'>
				<div class='bInShopLine__eTitle'><a href style='font: 14px Tahoma, sans-srif'>м. Ленинский проспект, магазин на ул. Орджоникидзе, д. 11, стр. 10</a></div>
				<div class='bInShopLine__eCount'><i class='mIn2'></i> <span>Много</span></div>
				<div class='bInShopLine__eButton'><a href class='bGrayButton'>Купить в этом магазине</a></div>
			</div>
			<div class='bInShopLine'>
				<div class='bInShopLine__eTitle'><a href style='font: 14px Tahoma, sans-srif'>м. Киевская, магазин на ул. Б. Дорогомиловская, д. 8</a></div>
				<div class='bInShopLine__eCount'><i class='mIn1'></i> <span>Мало</span></div>
				<div class='bInShopLine__eButton'><a href class='bGrayButton'>Купить в этом магазине</a></div>
			</div>
			<div class='bInShopLine'>
				<div class='bInShopLine__eTitle'><a href style='font: 14px Tahoma, sans-srif'>м. Белорусская, магазин на ул. Грузинский вал, д. 31</a></div>
				<div class='bInShopLine__eCount'><i class='mIn3'></i> <span>Очень много</span></div>
				<div class='bInShopLine__eButton'><a href class='bGrayButton'>Купить в этом магазине</a></div>
			</div>
			<div class='bInShopLine'>
				<div class='bInShopLine__eTitle'><a href style='font: 14px Tahoma, sans-srif'>м. Ленинский проспект, магазин на ул. Орджоникидзе, д. 11, стр. 10</a></div>
				<div class='bInShopLine__eCount'><i class='mIn2'></i> <span>Много</span></div>
				<div class='bInShopLine__eButton'><a href class='bGrayButton'>Купить в этом магазине</a></div>
			</div>
			<div class='bInShopLine'>
				<div class='bInShopLine__eTitle'><a href style='font: 14px Tahoma, sans-srif'>м. Киевская, магазин на ул. Б. Дорогомиловская, д. 8</a></div>
				<div class='bInShopLine__eCount'><i class='mIn1'></i> <span>Мало</span></div>
				<div class='bInShopLine__eButton'><a href class='bGrayButton'>Купить в этом магазине</a></div>
			</div>
			
			<div class='bInShop__eButton'><a href class='bBigOrangeButton'>Сохранить и продолжить</a></div>
		</div>
		
		<div class='bInShop__eRight'>
			<div class='bInShop__eArticul'>Артикул #454-9953</div>
			<div class='bInShop__eImage'><img src="images/photo52.jpg" alt="" width="160" height="160" title="" /></div>
			<div class='bInShop__ePrice'>2 190 <span class="rubl">p</span></div>
			<div class='bInShop__eButton'><a href class='bOrangeButton'><i></i> Купить с доставкой</a></div>
			<div class='bInShop__eButton'><a href class='bOrangeButton disable'><i></i> Купить с доставкой</a></div>
			<p class='bInShop__eDescription'>В Samsung Galaxy Nexus i9250 вложены совершенно вызывающие возможности: Super AMOLED дисплей диагональю 4,65 ГГц, и, ....</p>
			<div class='bInShop__eButton'><a href class='bWhiteButton'>Подробнее о товаре</a></div>
			<div class='bInShop__eButton'><a href class='bWhiteButton disable'>Подробнее о товаре</a></div>
		</div>
	</div>
	<!-- /shop list -->    


    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="bottommenu">
        <dl>
            <dt><a href="">Компания Enter</a></dt>
            <dd><a href="">О Компании</a></dd>
            <dd><a href="">Наши преимущества</a></dd>
            <dd><a href="">Контакты</a></dd>
            <dd><a href="">Обратная связь</a></dd>
            <dd><a href="">Карта сайта</a></dd>
        </dl>
        <dl>
            <dt><a href="">Услуги и сервисы</a></dt>
            <dd><a href="">Сервис F1</a></dd>
            <dd><a href="">Доставка товара</a></dd>
            <dd><a href="">Гарантия</a></dd>
            <dd><a href="">Бесплатный возврат</a></dd>
            <dd><a href="">Помощь покупателю</a></dd>
        </dl>
        <dl>
            <dt><a href="">Хотите работать у нас?</a></dt>
            <dd><a href="">Работа в Enter &gt;&gt;&gt;</a></dd>
            <dd>Краткий текст о сайте вакансий, призыв устроиться в Enter.ru</dd>
        </dl>
        <dl class="next">
            <dt>Единая справочная</dt>
            <dd class="vcard"><strong class="tel">8 (800) 555-66-77</strong></dd>
            <dd>Круглосуточно. Без выходных</dd>
        </dl>
    </div>
    
    <div class="social">
        Посетите нас
        <a href="" class="twitter">twitter</a>
        <a href="" class="facebook">facebook</a>
        <a href="" class="vkontakte">vkontakte</a>
        <a href="" class="livejournal">livejournal</a>
        <a href="" class="youtube">youtube</a>
        <a href="" class="mobile">mobile</a>
    </div>
    
    <div class="subscribeform">
        <form action=""><input type="text" class="text" value="Введите Ваш E-mail" onfocus="if (this.value == 'Введите Ваш E-mail') this.value = '';" onblur="if (this.value == '') this.value = 'Введите Ваш E-mail';"  /><input type="button" class="subscribebutton" value="Подписаться на рассылку" /></form>
    </div>
    
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
            <div>
                <a href="">Политика конфидециальности</a>
                <a href="">Условия продажи в интернет-магазине</a>
                <b><i class="mistakeimg"></i><a href="" class="orange">сообщить!</a></b>
            </div>
        </div>
        <div class="counter">
            <a href=""><img src="images/counter1.gif" alt="" width="80" height="30" /></a>
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
