<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
</head>


<body>
	
	<!-- popup -->
	<div class='bMobDownWrapAbs'>
		<div class='bMobDownWrapRel'>
			
			<div class='bMobDown mBR5 mW2 mW900'>
				<div class='bMobDown__eWrap'>
					<div class='bMobDown__eClose'></div>
					<h2>Оформить и забрать в магазине</h2>
					<div class='b1Click__eTop pb20'>Москва, м.Киевская, ул. Б. Дорогомиловская, д. 8. Время работы: с 9.00 до 22.00</div>
					<div class="clear line pb20"></div>
					
					<div class="basketline">
				        <div class="basketleft">
				            <a href=""><img src="images/photo56.jpg" alt="" width="120" height="120" /></a>  
				        </div>
				        <div class="basketright">
				            <div class="goodstitle">
				                <div class="font24 pb5"><a href="">Кресло ЭКТОРП ТУЛЬСТА, Идему красный</a></div>
				                <div class="font11">Есть в наличии</div>
				            </div>
				            <div class="basketinfo pb15">
				                <div class="left font14">Цена:<br /><span class="font14">66 000 <span class="rubl">p</span></span></div> 
				                <div class="right"><div class="numerbox"><b title="Уменьшить"></b><span>2 шт.</span><b title="Увеличить"></b></div></div>    
				            </div>
				        </div>
						<div class="clear"></div>
						<div class='b1Click__eTop mPR'> 
							<div class='b1Click__ePrice'>Сумма заказа: <span class='b1Click__ePriceBig'>233 395 <span class="rubl">p</span></span></div> 
						</div>
				    </div>
					
					<div class="clear"></div>
					
					<div class='b1Click'>
						<div class='b1Click__eTop'> 
							Это быстро! Просто заполните 2 поля.<br>
							После оформления заказа с вами обязательно свяжется специалист нашего Контакт-cENTER
							<div class="clear"></div>
							<div class='b1Click__eInp'><span>Имя получателя:</span><input value='Вася'></div>
							<div class='b1Click__eInp'><span>Телефон для связи:</span><input value='8 (800) 800 80 80'></div>
							<div class="bFormB2"><a class='bBigOrangeButton' href>Оформить заказ</a></div>
						</div>
					</div>
		
				</div>
			</div>
			
		</div>
	</div>
	<!-- /popup -->
	
<div class="graying"></div>	
<div class="allpage">
<div class="allpageinner">

    <!-- Topbar -->
    <div class="topbar">
        <div class="region">
            Регион: <a href="">Москва</a>
        </div>
        <div class="usermenu">
            <div class="point"><a href="" class="f1">F1 сервис</a></div>
            <div class="point"><a href="" class="entry">Войти на сайт</a></div>
            <div class="point next"><a href="">Помощь покупателю</a></div>
        </div>
    </div>
    <!-- /Topbar -->
    
    
    <!-- Header -->
    <div class="header">
        <div class="logo"><a href="">Enter Связной</a></div>
        <!-- Topmenu -->
        <ul class="topmenu">
            <li><a href="" class="point1">МЕБЕЛЬ</a></li>
            <li><a href="" class="point2">Бытовая техни</a></li>
            <li><a href="" class="point3">Товары для дома</a></li>
            <li><a href="" class="point4">Товары для детей</a></li>
            <li><a href="" class="point5">СДЕЛАЙ САМ (ИНСТРУМЕНТЫ)</a></li>
            <li><a href="" class="point6">Электроника</a></li>
            <li><a href="" class="point7">Украшения и часы</a></li>
            <li><a href="" class="point8">Спорт</a></li>
            <li><a href="" class="point9">ПОДАРКИ</a></li>
        </ul>
        <!-- /Topmenu -->
        <div class="headerright">
            Заказ и консультации
            <div class="vcard"><div class="tel"><span>(495)</span>555-66-77</div></div>
            <a href="">Перезвоните мне</a><br />
            <a href="">Отследить мой заказ</a>
        </div>
    </div>
    <!-- /Header -->
    
    
    <!-- Page head -->
    <div class="pagehead">
        <div class="breadcrumbs"><a href="">Enter.ru</a> &gt; <strong>Моя корзина</strong></div>
        <div class="clear"></div>
        <h1>Моя корзина</h1>
        <div class="searchbox">
            <form action=""><input type="text" class="searchtext" value="Поиск товаров" onfocus="if (this.value == 'Поиск товаров') this.value = '';" onblur="if (this.value == '') this.value = 'Поиск товаров';"  /><input type="button" class="searchbutton" value="Найти" title="Найти"  id="try-1" /></form>
        </div>
    </div>
    <!-- Page head -->
    
    <!-- Basket -->
    <div class="basketline">
        <div class="basketleft">
            <a href=""><img src="images/photo55.jpg" alt="" width="120" height="120" /></a>
            <div class="ac font11"><a href="" class="f1link">Сервис F1</a> Сервис F1</div>        
        </div>
        <div class="basketright">
            <div class="goodstitle">
                <div class="font24 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                <div class="font11">Есть в наличии</div>
            </div>
            <div class="basketinfo pb15">
                <div class="left font11">Цена:<br /><span class="font12">9 190 <span class="rubl">p</span></span></div> 
                <div class="right"><div class="numerbox"><b title="Уменьшить"></b><span>1 шт.</span><b title="Увеличить"></b></div></div>    
            </div>
            <div class="basketinfo">
                <div class="left font24">9 190 <span class="rubl">p</span></div> 
                <div class="right"><a href="" class="button whitelink mr5">Удалить</a><a href="" class="button whitelink">Отложить в Wishlist</a></div>    
            </div>
            
            <div class="clear pb15"></div>
            
            <div class="service form bBacketServ mSmall mBR5">
               <table cellspacing=0>
 					<tr><th colspan=3>Для этого товара есть услуги:</th></tr>
					<tr><td>Установка кресел и диванов</td>
						<td class='mPrice'></td> <td class='mEdit'></td> </tr>
					<tr><td>Чистка кресел и диванов</td>
						<td class='mPrice'></td> <td class='mEdit'></td> </tr>
					<tr><td>Ремонт и восстановление кресел и диванов</td>
						<td class='mPrice'></td> <td class='mEdit'></td> </tr>
					<tr><td class='bBlueButton'><a href class='link1'>Выбрать услуги</a></td>
						<td></td><td></td></tr>
				</table>
            </div>

        </div>
    </div>
    <!-- /Basket -->  
    
    
    <!-- Basket -->
    <div class="basketline">
        <div class="basketleft">
            <a href=""><img src="images/photo56.jpg" alt="" width="120" height="120" /></a>
            <div class="ac font11"><a href="" class="f1link">Сервис F1</a> Сервис F1</div>        
        </div>
        <div class="basketright">
            <div class="goodstitle">
                <div class="font24 pb5"><a href="">Кресло ЭКТОРП ТУЛЬСТА, Идему красный</a></div>
                <div class="font11">Есть в наличии</div>
            </div>
            <div class="basketinfo pb15">
                <div class="left font11">Цена:<br /><span class="font12">66 000 <span class="rubl">p</span></span></div> 
                <div class="right"><div class="numerbox"><b title="Уменьшить"></b><span>2 шт.</span><b title="Увеличить"></b></div></div>    
            </div>
            <div class="basketinfo">
                <div class="left font24">132 000 <span class="rubl">p</span></div> 
                <div class="right"><a href="" class="button whitelink mr5">Удалить</a><a href="" class="button whitelink">Отложить в Wishlist</a></div>    
            </div>
            
            <div class="clear pb15"></div>
            
            <div class="service form bBacketServ mBig mBR5">
               <table cellspacing=0>
 					<tr><th colspan=3>Выбранные услуги:</th></tr>
					<tr><td>Установка кресел и диванов<br><a href class='bBacketServ__eMore'>Подробнее об услуге</a></td>
						<td class='mPrice'>990 <span class="rubl">p</span></td> 
						<td class='mEdit'><div class="numerbox mInlineBlock mVAMiddle"><b title="Уменьшить"></b><span>1 шт.</span><b title="Увеличить"></b></div> <a href="" class="button whitelink ml5 mInlineBlock mVAMiddle">Отменить</a></td> </tr>
					<tr><td>Ремонт и восстановление кресел и диванов<br><a href class='bBacketServ__eMore'>Подробнее об услуге</a></td>
						<td class='mPrice'>1 990 <span class="rubl">p</span></td>
						<td class='mEdit'><div class="numerbox mInlineBlock mVAMiddle"><b title="Уменьшить"></b><span>1 шт.</span><b title="Увеличить"></b></div> <a href="" class="button whitelink ml5 mInlineBlock mVAMiddle">Отменить</a></td> </tr>
					<tr><td class='bBlueButton'><a href class='link1'>Выбрать услуги</a></td>
						<td></td><td></td></tr>
				</table>
            </div>

        </div>
    </div>
    <!-- /Basket --> 
    
    
    <!-- Total -->
    <div class="fl font11 gray">
        <strong>Условия доставки</strong><br />Доставляем по России, Казахстану, Белоруссии<br />Срочная доставка*<br />При покупке свыше 3 000 рублей доставка - бесплатно*<br />При заказе товара в кредит скидки интернет-магазина не предоставляются<br />Купили, не понравился товар, вернем деньги или обменяем<br />Все региональные доставки застрахованы за наш счет
    </div>
    <div class="basketinfo">
        <div class="left">
            <div class="font16">Сумма заказа:</div>
            <div class="font34"><strong>141 190 <span class="rubl">p</span></strong></div>
        </div> 
        <div class="right pt20">
            <a href="" class="button bigbuttonlink width214 mb15">Оформить заказ</a>
            <div class="pb5"><strong><a href="" class="red underline">Купить быстро в 1 клик</a></strong></div>
            <div class="font11 gray">От вас потребуется только имя и телефон для связи.</div>
        </div>    
    </div>
    <!-- /Total -->  
    
    <div class="clear pb20"></div>
    
            <!-- Carousel -->
            <div class="carouseltitle">
                <div class="rubrictitle"><h3>С этим товаров часто покупают</h3></div>
                <div class="scroll">
                    (страница <span>1</span> из <span>10</span>)
                    <a href="" class="back disabled" title="Предыдущие 3"></a>
                    <a href="" class="forvard" title="Следующие 3"></a>
                </div>
            </div>
            
            <div class="line pb10"></div>
            <div class="clear"></div>
            
            <div class="bigcarousel">
                    <div class="goodsbox">
                        <div class="photo"><span class="buy"><b>84%</b> купили</span><img src="images/photo29.jpg" alt="" title="" width="120" height="120" /></div>
                        <h3><a href="">Three LCD Screen Guards/ Protectors for Samsung...</a></h3>
                        <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                        <strong class="pb10">2 190 <span class="rubl">p</span></strong>                        
                        <!-- Hover -->
                        <div class="boxhover">
                            <b class="rt"></b><b class="lb"></b>
                            <div class="rb">
                                <div class="lt" onclick="window.location.href=''">
                                    <div class="photo"><span class="buy"><b>84%</b> купили</span><img src="images/photo29.jpg" alt="" title="" width="120" height="120" /></div>
                                    <h3><a href="">Three LCD Screen Guards/ Protectors for Samsung...</a></h3>
                                    <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                                    <strong class="pb10">2 190 <span class="rubl">p</span></strong> 
                                    <div class="goodsbar">
                                        <a href="" class="link1"></a>
                                        <a href="" class="link2"></a>
                                        <a href="" class="link3"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Hover -->
                    </div>
                    
                    <div class="goodsbox">
                        <div class="photo"><span class="buy"><b>10%</b> купили</span><img src="images/photo30.jpg" alt="" title="" width="120" height="120" /></div>
                        <h3><a href="">Jabra Bluetooth-гарнитура BT-2080</a></h3>
                        <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                        <strong class="pb10">2 190 <span class="rubl">p</span></strong>                        
                        <!-- Hover -->
                        <div class="boxhover">
                            <b class="rt"></b><b class="lb"></b>
                            <div class="rb">
                                <div class="lt" onclick="window.location.href=''">
                                    <div class="photo"><span class="buy"><b>10%</b> купили</span><img src="images/photo30.jpg" alt="" title="" width="120" height="120" /></div>
                                    <h3><a href="">Jabra Bluetooth-гарнитура BT-2080</a></h3>
                                    <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                                    <strong class="pb10">2 190 <span class="rubl">p</span></strong> 
                                    <div class="goodsbar">
                                        <a href="" class="link1"></a>
                                        <a href="" class="link2"></a>
                                        <a href="" class="link3"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Hover -->
                    </div>
                    
                    <div class="goodsbox">
                        <div class="photo"><span class="buy"><b>3%</b> купили</span><img src="images/photo31.jpg" alt="" title="" width="120" height="120" /></div>
                        <h3><a href="">Nokia micro SD 8Gb MU-43</a></h3>
                        <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                        <strong class="pb10">2 190 <span class="rubl">p</span></strong>                         
                        <!-- Hover -->
                        <div class="boxhover">
                            <b class="rt"></b><b class="lb"></b>
                            <div class="rb">
                                <div class="lt" onclick="window.location.href=''">
                                    <div class="photo"><span class="buy"><b>3%</b> купили</span><img src="images/photo31.jpg" alt="" title="" width="120" height="120" /></div>
                                    <h3><a href="">Nokia micro SD 8Gb MU-43</a></h3>
                                    <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                                    <strong class="pb10">2 190 <span class="rubl">p</span></strong> 
                                    <div class="goodsbar">
                                        <a href="" class="link1"></a>
                                        <a href="" class="link2"></a>
                                        <a href="" class="link3"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Hover -->
                    </div>
                    
                    <div class="goodsbox">
                        <div class="photo"><span class="buy"><b>100%</b> купили</span><img src="images/photo32.jpg" alt="" title="" width="120" height="120" /></div>
                        <h3><a href="">Monster Cable Solo HD 129509-00 (белый)</a></h3>
                        <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                        <strong class="pb10">2 190 <span class="rubl">p</span></strong> 
                        <!-- Hover -->
                        <div class="boxhover">
                            <b class="rt"></b><b class="lb"></b>
                            <div class="rb">
                                <div class="lt" onclick="window.location.href=''">
                                    <div class="photo"><span class="buy"><b>100%</b> купили</span><img src="images/photo32.jpg" alt="" title="" width="120" height="120" /></div>
                                    <h3><a href="">Monster Cable Solo HD 129509-00 (белый)</a></h3>
                                    <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                                    <strong class="pb10">2 190 <span class="rubl">p</span></strong> 
                                    <div class="goodsbar">
                                        <a href="" class="link1"></a>
                                        <a href="" class="link2"></a>
                                        <a href="" class="link3"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Hover -->
                    </div>
                    
                    <div class="goodsbox">
                        <div class="photo"><span class="buy"><b>100%</b> купили</span><img src="images/photo33.jpg" alt="" title="" width="120" height="120" /></div>
                        <h3><a href="">Samsung CAD300UBEC</a></h3>
                        <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                        <strong class="pb10">2 190 <span class="rubl">p</span></strong> 

                        <!-- Hover -->
                        <div class="boxhover">
                            <b class="rt"></b><b class="lb"></b>
                            <div class="rb">
                                <div class="lt" onclick="window.location.href=''">
                                    <div class="photo"><span class="buy"><b>100%</b> купили</span><img src="images/photo33.jpg" alt="" title="" width="120" height="120" /></div>
                                    <h3><a href="">Samsung CAD300UBEC</a></h3>
                                    <div class="goodsrating"><span class="ratingview"></span>(23)</div>
                                    <strong class="pb10">2 190 <span class="rubl">p</span></strong> 
                                    <div class="goodsbar">
                                        <a href="" class="link1"></a>
                                        <a href="" class="link2"></a>
                                        <a href="" class="link3"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Hover -->
                    </div>
               
            </div>
            <!-- Carousel -->

    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="bottommenu">
        <dl>
            <dt><a href="">Компания Enter</a></dt>
            <dd><a href="">О Компании</a></dd>
            <dd><a href="">Наши преимущества</a></dd>
            <dd><a href="">Контакты</a></dd>
            <dd><a href="">Обратная связь</a></dd>
            <dd><a href="">Карта сайта</a></dd>
        </dl>
        <dl>
            <dt><a href="">Услуги и сервисы</a></dt>
            <dd><a href="">Сервис F1</a></dd>
            <dd><a href="">Доставка товара</a></dd>
            <dd><a href="">Гарантия</a></dd>
            <dd><a href="">Бесплатный возврат</a></dd>
            <dd><a href="">Помощь покупателю</a></dd>
        </dl>
        <dl>
            <dt><a href="">Хотите работать у нас?</a></dt>
            <dd><a href="">Работа в Enter &gt;&gt;&gt;</a></dd>
            <dd>Краткий текст о сайте вакансий, призыв устроиться в Enter.ru</dd>
        </dl>
        <dl class="next">
            <dt>Единая справочная</dt>
            <dd class="vcard"><strong class="tel">8 (800) 555-66-77</strong></dd>
            <dd>Круглосуточно. Без выходных</dd>
        </dl>
    </div>
    
    <div class="social">
        Посетите нас
        <a href="" class="twitter">twitter</a>
        <a href="" class="facebook">facebook</a>
        <a href="" class="vkontakte">vkontakte</a>
        <a href="" class="livejournal">livejournal</a>
        <a href="" class="youtube">youtube</a>
        <a href="" class="mobile">mobile</a>
    </div>
    
    <div class="subscribeform">
        <form action=""><input type="text" class="text" value="Введите Ваш E-mail" onfocus="if (this.value == 'Введите Ваш E-mail') this.value = '';" onblur="if (this.value == '') this.value = 'Введите Ваш E-mail';"  /><input type="button" class="subscribebutton" value="Подписаться на рассылку" /></form>
    </div>
    
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
            <div>
                <a href="">Политика конфидециальности</a>
                <a href="">Условия продажи в интернет-магазине</a>
                <b><i class="mistakeimg"></i><a href="" class="orange">сообщить!</a></b>
            </div>
        </div>
        <div class="counter">
            <a href=""><img src="images/counter1.gif" alt="" width="80" height="30" /></a>
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
