<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/custom-form-elements.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
<script>
/* Всплывающее окно ---------------------------------------------------------------------------------------------------*/
$(document).ready(function(){
	$('#try-1').click(function() {
    $('#popup_1').lightbox_me({
        centered: true, 
        onLoad: function() { 
            $('#popup_1').find('input:first').focus()
            }
        });
    return false;
});
});
/* Всплывающее окно ---------------------------------------------------------------------------------------------------*/
</script>
</head>

<body>
<div class="allpage">
<div class="allpageinner buyingpage">


    <!-- Map -->
    <div class="popup popupbox width920" id="popup_1">
        <i title="Закрыть" class="close">Закрыть</i>
        <h2 class="pouptitle">Магазины Enter на карте</h2>
        <div class="mapbox">
            <b class="mark" style="top:50px; left:250px"></b>
            <b class="mark" style="top:150px; left:550px"></b>
            <b class="mark" style="top:200px; left:700px"></b>
            <b class="mark" style="top:300px; left:100px"></b>
            <div class="bigmark" style="left:500px; top:300px"><b class="corner"></b><div><span class="font16">Академическая, пр-т 60-летия Октября, д. 20</span><br />Работаем с 9:00 до 22:00<br />Телефон: (499) 444-33-22</div></div>
            <img src="images/map4.jpg" alt="" width="920" height="489" />        
        </div>
        
        
        <div class="selectbox selectbox429 fr"><i></i>
            <select class="styled" name="1">
                <option value="1">Академическая, пр-т 60-летия Октября, д. 20</option>
                <option value="2">Академическая, пр-т 60-летия Октября, д. 20</option>
                <option value="3">Академическая, пр-т 60-летия Октября, д. 20</option>
            </select>
        </div>
        <div class="fr pt5 mr10">Выберите магазин из списка:</div> 
    </div>
    <!-- /Map -->


    <!-- Header -->
    <div class="basketheader">
        <div class="bNLogo">Оформление заказа<br>Заполните форму</div>
        <div class="headerright mNLogo">
            <h2>Круглосуточный контакт сEnter<h2>
            <div>8 (800) 700-00-09</div>
			<span>Звонок бесплатный. Радость в подарок :)</span>
        </div>
    </div>
    <!-- /Header -->
 
   <!-- Form -->
    <form action="" class="form bFormTable" >
	
	

		<div class="line"></div>
		<div class='bFormSave'>
			<h2>Номер вашего заказа: 8K3-5П45В</h2>
			<p>Дата заказа: 15.10.2011 г.<br>Сумма заказа: 32 990 <span class="rubl">p</span></p>
			<span>В ближайшее время мы свяжемся с вами для уточнения параметров заказа.</span>
		</div>
        <div class="line"></div>
		<p class='bFormSave__eBtm'>Нажмите кнопку &laquo;<a href>Запомнить мои данные</a>&raquo; &mdash; при следующих покупках вам не придется заново указывать свои контакты и данные для доставки. Кстати, вы еще и сможете отслеживать статус заказа!</p>
 		<div class="bFormB2"><span><input type="button" class="button bigbutton" id="bigbutton" value="Запомнить мои данные" /> </span> <a href>Продолжить к покупки</a> <span>></span></div>
		<!-- form table -->

    </form>
    <!-- /Form -->
    
    
    
    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
<div class="footer lowfooter">
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
            <div>
                <a href="">Политика конфидециальности</a>
                <a href="">Условия продажи в интернет-магазине</a>
                <b><i class="mistakeimg"></i><a href="" class="orange">сообщить!</a></b>
            </div>
        </div>
        <div class="counter">
            <a href=""><img src="images/counter1.gif" alt="" width="80" height="30" /></a>
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
