<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/custom-form-elements.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
</head>

<body>
<div class="allpage">
<div class="allpageinner buyingpage">

    <!-- Header -->
    <div class="basketheader">
        <div class="logo"><a href="">Enter Связной</a></div>
        <ul class="steplist">
            <li><a href=""><span>Шаг 1</span>Данные<br />покупателя</a></li>
            <li><span>Шаг 2</span>Способ доставки<br />и оплаты</li>
            <li><span>Шаг 3</span>Подтверждение<br />заказа</li>
        </ul>
        <div class="headerright">
            Заказ и консультации
            <div class="vcard"><div class="tel"><span>(495)</span>555-66-77</div></div>
        </div>
    </div>
    <!-- /Header -->
    
    
    <!-- Page head -->
    <div class="pagehead">
        <div class="breadcrumbs"><a href="">Enter.ru</a> &gt; <strong>Корзина</strong></div>
        <div class="clear"></div>
        <h1>Оформление заказа - Шаг 1</h1>
        <div class="line"></div>
    </div>
    <!-- Page head -->
    
    <div class="clear"></div>
    
    <!-- Cheque -->
    <div class="cheque">
        <div class="chequetop">
            <div class="chequebottom">
                <div class="top font16">Ваш заказ:</div>
                <ul>
                    <li>Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб (1 шт.)<br /><strong>33 990 <span class="rubl">p</span></strong></li>
                </ul>
                <div class="total">
                    Сумма заказа:<br />
                    <strong class="font14">33 990 <span class="rubl">p</span></strong><br />
                    Дата доставки: 5 октября 20011 г.
                </div>
            </div>
        </div>
    </div>
    <!-- /Cheque -->
    
    
    <!-- Form -->
    <form action="" class="form">
        <div class="fl width215 mr20">
            <div class="pb40"><strong class="font16">Данные покупателя:</strong></div>
            <div class="gray pb10">Заполнить данные, используя</div>
            <ul class="backetsharelist">
                <li><a href="" class="facebook">Facebook</a></li>
                <li><a href="" class="vkontakte">Вконтакте</a></li>
                <li><a href="" class="mailru">Mail.ru</a></li>
                <li><a href="" class="odnoklassniki">Одноклассники</a></li>
                <li><a href="" class="twitter">Twitter</a></li>
            </ul>
        </div>
        
        <div class="fl width430">
        
            <ul class="checkboxlist pb10">
                <li class="font16"><label for="radio-1">Уже покупали у нас?</label><input id="radio-1" name="radio-1" type="radio" value="radio-1" /></li>
                <li class="font16"><label for="radio-2">Я покупаю впервые!</label><input id="radio-2" name="radio-1" type="radio" value="radio-2" /></li>
            </ul>
            
            <div class="pb10">E-mail или мобильный телефон:</div>
            <input type="text" value="ivanov@mail.ru" class="text width418 mb15">
            
            <div class="pb10"><a href="" class="fr orange underline">Забыли пароль?</a>Пароль:</div>
            <input type="password" value="Пароль" class="text width418 mb5">
        </div>
            
        <div class="line pb20"></div>
        <div class="pl235"><input type="button" class="button bigbutton" value="Продолжить оформление" /></div>
    </form>
    <!-- /Form -->
    
    
    
    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
<div class="footer lowfooter">
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
            <div>
                <a href="">Политика конфидециальности</a>
                <a href="">Условия продажи в интернет-магазине</a>
                <b><i class="mistakeimg"></i><a href="" class="orange">сообщить!</a></b>
            </div>
        </div>
        <div class="counter">
            <a href=""><img src="images/counter1.gif" alt="" width="80" height="30" /></a>
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
