<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/custom-form-elements.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
<script>
/* Всплывающее окно ---------------------------------------------------------------------------------------------------*/
$(document).ready(function(){
	$('#try-1').click(function() {
    $('#popup_1').lightbox_me({
        centered: true, 
        onLoad: function() { 
            $('#popup_1').find('input:first').focus()
            }
        });
    return false;
});
});
/* Всплывающее окно ---------------------------------------------------------------------------------------------------*/
</script>
</head>

<body>
<div class="allpage">
<div class="allpageinner buyingpage">


    <!-- Map -->
    <div class="popup popupbox width920" id="popup_1">
        <i title="Закрыть" class="close">Закрыть</i>
        <h2 class="pouptitle">Магазины Enter на карте</h2>
        <div class="mapbox">
            <b class="mark" style="top:50px; left:250px"></b>
            <b class="mark" style="top:150px; left:550px"></b>
            <b class="mark" style="top:200px; left:700px"></b>
            <b class="mark" style="top:300px; left:100px"></b>
            <div class="bigmark" style="left:500px; top:300px"><b class="corner"></b><div><span class="font16">Академическая, пр-т 60-летия Октября, д. 20</span><br />Работаем с 9:00 до 22:00<br />Телефон: (499) 444-33-22</div></div>
            <img src="images/map4.jpg" alt="" width="920" height="489" />        
        </div>
        
        
        <div class="selectbox selectbox429 fr"><i></i>
            <select class="styled" name="1">
                <option value="1">Академическая, пр-т 60-летия Октября, д. 20</option>
                <option value="2">Академическая, пр-т 60-летия Октября, д. 20</option>
                <option value="3">Академическая, пр-т 60-летия Октября, д. 20</option>
            </select>
        </div>
        <div class="fr pt5 mr10">Выберите магазин из списка:</div> 
    </div>
    <!-- /Map -->


    <!-- Header -->
    <div class="basketheader">
        <div class="bNLogo">Оформление заказа<br>Заполните форму</div>
        <div class="headerright mNLogo">
            <h2>Круглосуточный контакт сEnter<h2>
            <div>8 (800) 700-00-09</div>
			<span>Звонок бесплатный. Радость в подарок :)</span>
        </div>
    </div>
    <!-- /Header -->
    
    
    <!-- Page head -->
    <div class="pagehead">
        <div class="clear"></div>
        <div class="line"></div>
		
		<div class='bFormAuth'> Уже покупали у нас? <a href>Авторизуйтесь</a> и вы сможете использовать ранее введенные данные</div>
        
		<div class="line"></div>
    </div>
    <!-- Page head -->
    
    <div class="clear"></div>
    
    <!-- Cheque -->
    <div class="cheque">
        <div class="chequetop">
            <div class="chequebottom">
                <div class="top font16">Ваш заказ:</div>
                <ul>
                    <li>Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб (1 шт.)<br /><strong>33 990 <span class="rubl">p</span></strong></li>
                    <li>Экторп тульста кресло, Идему красный (1 шт.)<br /><strong>9 500 <span class="rubl">p</span></strong></li>
                    <li>Настройка смартфона<br /><strong>750 <span class="rubl">p</span></strong></li>
                    <li>Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб (1 шт.)<br /><strong>33 990 <span class="rubl">p</span></strong></li>
                    <li>Экторп тульста кресло, Идему красный (1 шт.)<br /><strong>9 500 <span class="rubl">p</span></strong></li>
                    <li>Настройка смартфона<br /><strong>750 <span class="rubl">p</span></strong></li>
                    <li>Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб (1 шт.)<br /><strong>33 990 <span class="rubl">p</span></strong></li>
                    <li>Экторп тульста кресло, Идему красный (1 шт.)<br /><strong>9 500 <span class="rubl">p</span></strong></li>
                    <li>Настройка смартфона<br /><strong>750 <span class="rubl">p</span></strong></li>
                    <li>Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб (1 шт.)<br /><strong>33 990 <span class="rubl">p</span></strong></li>
                    <li>Экторп тульста кресло, Идему красный (1 шт.)<br /><strong>9 500 <span class="rubl">p</span></strong></li>
                    <li>Настройка смартфона<br /><strong>750 <span class="rubl">p</span></strong></li>
                    <li>Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб (1 шт.)<br /><strong>33 990 <span class="rubl">p</span></strong></li>
                    <li>Экторп тульста кресло, Идему красный (1 шт.)<br /><strong>9 500 <span class="rubl">p</span></strong></li>
                    <li>Настройка смартфона<br /><strong>750 <span class="rubl">p</span></strong></li>
                    <li>Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб (1 шт.)<br /><strong>33 990 <span class="rubl">p</span></strong></li>
                    <li>Экторп тульста кресло, Идему красный (1 шт.)<br /><strong>9 500 <span class="rubl">p</span></strong></li>
                    <li>Настройка смартфона<br /><strong>750 <span class="rubl">p</span></strong></li>
                    <li>Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб (1 шт.)<br /><strong>33 990 <span class="rubl">p</span></strong></li>
                    <li>Экторп тульста кресло, Идему красный (1 шт.)<br /><strong>9 500 <span class="rubl">p</span></strong></li>
                    <li>Настройка смартфона<br /><strong>750 <span class="rubl">p</span></strong></li>
                </ul>
                <div class="total">
                    Сумма заказа:<br />
                    <strong class="font14">33 990 <span class="rubl">p</span></strong><br />
                    Дата доставки: 5 октября 20011 г.
                </div>
            </div>
        </div>
    </div>
    <!-- /Cheque -->
    

	<!-- popup -->
    <div class="hideblock bGrayPopupBlock mCalendar">
        <i title="Закрыть" class="close">Закрыть</i> 
		<h2><b>Выберите дату и время доставки</b></h2>
		<div class='line'></div>
		<div class='mCalendar__eTop'>
			<a href class='bCalLeft mDisabled'></a>
			<span>10 декабря 2011 г. - 16 декабря 2011 г.</span>
			<a href class='bCalRight'></a>
		</div>
		<table cellpadding='0' cellspacing='0'>
			<tr><th></th> <th>Пн<br>10</th> <th>Вт<br>11</th> <th>Ср<br>12</th> <th>Чт<br>13</th> <th>Пт<br>14</th> <th>Сб<br>15</th> <th>Вс<br>16</th></tr>
			<tr><td><div class='mEmpty'>С 9:00<br> до 14:00</div></td> <td><div></div></td> <td><div></div></td> <td><div class='mChecked'></div></td> <td><div></div></td> <td><div></div></td> <td><div></div></td> <td><div></div></td></tr>
			<tr><td><div class='mEmpty'>С 14:00<br> до 18:00</div></td> <td><div></div></td> <td><div></div></td> <td><div></div></td> <td><div></div></td> <td><div class='mEmpty'></div></td> <td><div></div></td> <td><div></div></td></tr>
			<tr><td><div class='mEmpty'>С 9:00<br> до 18:00</div></td> <td><div class='mEmpty'></div></td> <td><div></div></td> <td><div></div></td> <td><div></div></td> <td><div class='mEmpty'></div></td> <td><div></div></td> <td><div></div></td></tr>
		</table>
		<div class='mCalendar__eBottom'>Среда 12 декабря 2011 г. (с 9:00 до 14:00)</div>
    </div>
    <!-- /popup -->
	
    
    <!-- Form -->
    <form action="" class="form bFormTable" >
	
		<!-- form table -->
		<table cellspacing=0>
			<tr><td colspan=2><strong class="font18">Способ получения заказа</strong></td></tr>
			<tr>
				<td class='width215'><div class="pb15">Выберите ваш город:</div></td>
				<td class='width430'><div class="pb15 mFormWrap"><div class='mBtnWrap'><a class="button yellowbutton" href="">Другой город</a></div><strong class="mr10">Москва, Россия</strong> </div></td>
			</tr>
			<tr>
				<td class='width215'><div class="pb15">Выберите способ:</div></td>
				<td class='width430'>
					<ul class="checkboxlist2">
		                <li><label for="checkbox-1"><strong>Курьерская доставка MAX24</strong></label><input id="checkbox-1" name="checkbox-1" type="radio" value="checkbox-1" /><div class="font11 pt5">Выбранный товар будет доставлен нашим курьером на следующий день после заказа - максимум через 24 часа. Служба доставки работает для вас с 9 до 24 часов, 7 дней в неделю. В Москве, Санкт-Петербурге, Нижнем Новгороде, Казани, Самаре, Ростове-на-Дону, Екатеринбурге, Новосибирске при заказе более чем на 3 000 рублей, доставка осуществляется бесплатно.</div></li>
		                <li><label for="checkbox-2"><strong>Курьером (в пределах МКАДа), 250.00 руб.</strong></label><input id="checkbox-2" name="checkbox-1" type="radio" value="checkbox-2" /><div class="font11 pt5">Выбранный товар будет доставлен нашим курьером на следующий день после заказа - максимум через 24 часа. Служба доставки работает для вас с 9 до 24 часов, 7 дней в неделю. В Москве, Санкт-Петербурге, Нижнем Новгороде, Казани, Самаре, Ростове-на-Дону, Екатеринбурге, Новосибирске при заказе более чем на 3 000 рублей, доставка осуществляется бесплатно.</div></li>
		                <li><label for="checkbox-3"><strong>Самовывоз - Пункты выдачи заказов (г. Москва), 0 руб.</strong></label><input id="checkbox-3" name="checkbox-1" type="radio" value="checkbox-3" /></li>
		            </ul>
				</td>
			</tr>
			<tr>
				<td class='width215'><div class="pb15">Выберите магазин для самовывоза:</div></td>
				<td class='width430'><div class="pb15 mFormWrap"><div class='mBtnWrap'><a class="button yellowbutton" href="">Другой магазин</a></div><strong class="mr10">Академическая, пр-т 60-летия Октября, д.20</strong> </div></td>
			</tr>
			<tr>
				<td class='width215'><div class="pb15">Выберите дату доставки:</div></td>
				<td class='width430'><div class="pb15 mFormWrap"><div class='mBtnWrap'><a class="button yellowbutton" href="">Другая дата</a></div><strong class="mr10">18.11.2011 с 18:00 до 21:00</strong></div></td>
			</tr>
			
			<tr><td colspan=2><strong class="font18">Представьтесь</strong></td></tr>
			<tr>
				<td class='width215'><div class="pb10">Имя получателя:</div></td>
				<td class='width430'><input type="text" value="Василий" class="text width418 mb15 mRed"></td> <!-- mRed - ошибка -->
			</tr>
			<tr>
				<td class='width215'><div class="pb10">Фамилия получателя:</div></td>
				<td class='width430'><input type="text" value="Иванов" class="text width418 mb15 active"></td>
			</tr>
			<tr>
				<td class='width215'><div class="pb10">Мобильный телефон для связи:</div></td>
				<td class='width430'>
					<input type="text" value="456217894" class="text width418 mb10 textdisabled">
		            <div class="ml20 pb15"><label for="checkbox-8"><span class='font11'>Я хочу получать СМС уведомления об изменении статуса заказа</span></label><input id="checkbox-8" name="checkbox-3" type="checkbox" value="checkbox-1" /></div>
				</td>
			</tr>
			<tr>
				<td class='width215'><div class="pb10">Адрес доставки:</div></td>
				<td class='width430'>
					<input type="text" value="Например: ул. Неизвестная 7, к.1, кв.23" class="text width418 mb5">
				</td>
			</tr>
			<tr>
				<td class='width215'><div class="pb10">Хотите что-то добавить?</div></td>
				<td class='width430'>
		            <div class="textareabox mb5 textdisabled"><textarea cols="125" style='width: 410px' rows="4">Очень хороший аппарат</textarea></div>
		            <div class="font11">Укажите контактный телефон и удобное время для звонка, а также пожелания по заказу.</div>
				</td>
			</tr>
			<tr><td colspan=2><strong class="font18">Способы оплаты</strong></td></tr>
			<tr>
				<td class='width215'><div class="pb15">Выберите способ оплаты:</div></td>
				<td class='width430'>
					<ul class="checkboxlist2 pb10">
		                <li><label for="checkbox-4"><strong>Наличный расчет</strong></label><input id="checkbox-4" name="checkbox-2" type="radio" value="checkbox-1" /><div class="font11 pt5">Вы оплачиваете заказ наличными курьеру при его получении. Вместе с заказом Вы получаете кассовый и товарный чек, содержащий все товарные позиции Вашего заказа.</div></li>
		                <li><label for="checkbox-5"><strong>Оплата онлайн банковской картой</strong></label><input id="checkbox-5" name="checkbox-2" type="radio" value="checkbox-2" /><div class="font11 pt5">Оплата осуществляется через интернет сразу после оформления заказа. К оплате принимаются банковские карты платежных систем Visa, MasterCard. НЕ принимаются банковские карты American Express, Diners Club, STB Card. Предоплаченный заказ вручается ТОЛЬКО лицу, указанному в качестве держателя карты по документу, удостоверяющему личность. Услуга бесплатная.</div></li>
		                <li><label for="checkbox-6"><strong>Банковский перевод для частных лиц</strong></label><input id="checkbox-6" name="checkbox-2" type="radio" value="checkbox-3" /><div class="font11 pt5">Вы можете оплатить заказ через любой банк, действующий на территории России. Сделайте заказ, и мы пришлем Вам заполненную квитанцию для оплаты. С ее помощью Вы сможете оплатить заказ в банке. Срок зачисления денежных средств - 2-3 рабочих дня. После поступления денег мы сразу доставляем Ваш заказ.</div></li>
		                <li><label for="checkbox-7"><strong>Оплата через Qiwi, Элекснет, Мастер-банк, Webmoney, RBKMoney, CONTACT</strong></label><input id="checkbox-7" name="checkbox-2" type="radio" value="checkbox-4" /><div class="font11 pt5">Вы можете оплатить заказ через любую из удобных вам систем: Qiwi, Webmoney, RBKMoney, Элекснет, CONTACT - кроме того, оплатить заказ можно также через банкоматы «Мастер-банк». Важно! Через данные системы можно оплачивать заказы суммой не более 15 000 рулей.</div></li>
		            </ul>
				</td>
			</tr>
		     
  		</table>

		<div class="line"></div>
		<div class="bFormL">
			<label for="checkbox-13"><strong>Я ознакомлен и согласен с &laquo;<a href>Условиями продажи</a>&raquo; и &laquo;<a href>Правовой информацией</a>&raquo;</strong></label>
			<input id="checkbox-13" name="checkbox-13" type="radio" value="checkbox-13" /></div>
        <div class="line pb20"></div>
 		<div class="bFormB"><span><</span> <a href>Вернуться к покупкам</a><input type="button" class="button bigbutton" id="bigbutton" value="Оформить заказ" /></div>
		<!-- form table -->

    </form>
    <!-- /Form -->
    
    
    
    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
<div class="footer lowfooter">
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
            <div>
                <a href="">Политика конфидециальности</a>
                <a href="">Условия продажи в интернет-магазине</a>
                <b><i class="mistakeimg"></i><a href="" class="orange">сообщить!</a></b>
            </div>
        </div>
        <div class="counter">
            <a href=""><img src="images/counter1.gif" alt="" width="80" height="30" /></a>
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
