/* CSS Document */
.filterlist {
behavior: url(border-radius.htc);
behavior: url(ie-css3.htc)
}

.pageslist .current A, .pageslist .current A:hover {
behavior: url(border-radius.htc);
}

.goodsbox {
behavior: url(border-radius.htc);
}

.bottommenu {
behavior:url(border-radius.htc);
}



