<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/index.js"></script>
</head>

<body>
<div class="bannersbox">
    <div class="bannersboxinner">
        <div class="banner banner3"><a href=""><img src="images/banner3.png" alt="" width="159" height="186" /></a></div>
        <div class="banner banner4"><a href=""><img src="images/banner4.png" alt="" width="182" height="236" /></a></div>
    </div>
</div>


<div class="allpage">

    <!-- Topmenu -->
	<div class='bHeaderWrap'>
		<div class='bHeader'>
			<a href class='bToplogo'></a>
			<a href class='bToplink' alt='Мебель' title='Мебель'><span class='mMebel'></span></a>
			<a href class='bToplink' alt='Бытовая техника' title='Бытовая техника'><span class='mTehn'></span></a>
			<a href class='bToplink' alt='Товары для дома' title='Товары для дома'><span class='mDom'></span></a>
			<a href class='bToplink' alt='Красота и здоровье' title='Красота и здоровье'><span class='mZdor'></span></a>
			<a href class='bToplink' alt='Для мам и детей' title='Для мам и детей'><span class='mDeti'></span></a>
			<a href class='bToplink' alt='Сделай сам (инструменты)' title='Сделай сам (инструменты)'><span class='mSam'></span></a>
			<a href class='bToplink' alt='Электроника' title='Электроника'><span class='mElectro'></span></a>
			<a href class='bToplink' alt='Украшения и часы' title='Украшения и часы'><span class='mUkr'></span></a>
			<a href class='bToplink' alt='Спорт' title='Спорт'><span class='mSport'><i></i></span></a>
			<a href class='bToplink' alt='Зоотовары' title='Зоотовары'><span class='mZoo'></span></a>
			<a href class='bToplink' alt='Сад и огород' title='Сад и огород'><span class='mSad'></span></a>
			<a href class='bToplink' alt='Подарки и хобби' title='Подарки и хобби'><span class='mPodarki'></span></a>
			<div class='bHeader__eLong'></div>
		</div>
	</div>
    <!-- /Topmenu -->
    
    <div class="searchbox">
    <form action="">
        <input type="text" class="text" value="Поиск среди 30 000 товаров" /><input type="button" class="searchbutton" value="Найти" title="Найти" />
    </form>
    </div>
    
    
    <div class="bigbanner">
			<div class='bCarouselWrap'>
				<div class='bCarousel'>
					<div class='bCarousel__eBtnL'></div>
					<div class='bCarousel__eBtnR'></div>
				</div>
			</div>
		
		<div class='bIndexCard'>
			<div class='bIndexCard__eInfo'>
				Приходите в любой магазин Enter в москве 10 декабря:<br><br>
				<a href='http://www.enter.ru/shops/moskva/enter-na-ul-gruzinskiy-val-d-31'>Москва, ул. Грузинский вал, 31</a><br>
				<a href='http://www.enter.ru/shops/moskva/magazin-na-ul-b-dorogomilovskaya-d-8'>Москва, ул. Дорогомиловская, 8</a><br>
				<a href='http://www.enter.ru/shops/moskva/magazin--na-ul-ordgonikidze-d-11'>Москва, ул. Орджникидзе 11, стр.10</a><br><br>
				Сделайте покупку на сумму от 1000 рублей<br>
				Оставьте нам фото с вашей улыбкой и<br>
				Получите золотой кулон в виде сердца! В подарок! :)<br><br>
				<span>* Количество купонов ограничено. Одному покупателю - один подарок!</span>
			</div>
		</div>
	</div>
	
	<div class='bIndexLinks2'>
		<div class='bIndexLinks2__eBanners'>
			<div class='bIndexLinks2__eBan'>
		        <div class="vcardtitle">Контакт с ENTER</div>
		        <div class="vcard"><span class="tel">8 (800) 700 00 09</span></div>
		        <div class="address">Звонок бесплатный. Радость в подарок :)</div>
		    </div>
			<div class='bIndexLinks2__eBan'><a href><img src='images/img_main_mobile_apps.jpg'></a></div>
			<div class='bIndexLinks2__eBan'><a href><img src='images/img_main_f1service.jpg'></a></div>
		</div>
		<div class='bIndexLinks2__eLinks'>
			<a href='http://www.enter.ru/about_company'>О компании</a><a href='http://www.enter.ru/f1'>Сервис F1</a><a href='http://www.enter.ru/credit'>Покупка в кредит</a><a href='http://hh.ru/employer.do?employerId=799483' target='blank'>Работать у нас</a>
			<a href='http://www.enter.ru/shops'>Наши магазины</a><a href='http://www.enter.ru/how_make_order'>Как сделать заказ</a><a href>Мобильные приложения</a><a href>Обратная связь</a>
		</div>
	</div>
	
    
    <div class="copy">
		<div class="social_network"><span class="gray font11">Посетите нас</span>   
		  	<a href="http://twitter.com/#!/enter_ru" title="twitter" target="blank"></a>
		  	<a href="http://www.facebook.com/enter.ru" title="facebook" target="blank"></a>
		  	<a href="http://vkontakte.ru/public31456119" title="vkontakte" target="blank"></a>
		</div>
        <div class="pb5">&copy; &laquo;Enter&raquo; 2002-2011. Все права защищены. <a href='http://www.enter.ru/terms'>Условия продажи</a> <a href='http://www.enter.ru/legal'>Правовая информация</a> <a href='http://www.enter.ru/callback'>Обратная связь</a> <a href>Личный кабинет</a></div>
    </div>
    
            
    <div class="clear"></div>
</div>
    
</body>
</html>
