<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
</head>

<body>
<div class="allpage">
<div class="allpageinner">
<div class="graying"></div>
<div class="dragbox"><div style="left:500px; top:400px"><img src="images/photo62.jpg" alt="" width="61" height="60" /></div></div>

    <!-- Topbar -->
    <div class="topbar">
        <div class="region">
            Регион: <a href="">Москва</a>
        </div>
        <div class="usermenu">
            <div class="point"><a href="" class="f1">F1 сервис</a></div>
            <div class="point"><a href="" class="entry">Войти на сайт</a></div>
            <div class="point next"><a href="">Помощь покупателю</a></div>
        </div>
    </div>
    <!-- /Topbar -->
    
    
    <!-- Header -->
    <div class="header">
        <div class="logo"><a href="">Enter Связной</a></div>
        <!-- Topmenu -->
        <ul class="topmenu">
            <li><a href="" class="point1">МЕБЕЛЬ</a></li>
            <li><a href="" class="point2">Бытовая техни</a></li>
            <li><a href="" class="point3">Товары для дома</a></li>
            <li><a href="" class="point4">Товары для детей</a></li>
            <li><a href="" class="point5">СДЕЛАЙ САМ (ИНСТРУМЕНТЫ)</a></li>
            <li><a href="" class="point6">Электроника</a></li>
            <li><a href="" class="point7">Украшения и часы</a></li>
            <li><a href="" class="point8">Спорт</a></li>
            <li><a href="" class="point9">ПОДАРКИ</a></li>
        </ul>
        <!-- /Topmenu -->
        <div class="headerright">
            Заказ и консультации
            <div class="vcard"><div class="tel"><span>(495)</span>555-66-77</div></div>
            <a href="">Перезвоните мне</a><br />
            <a href="">Отследить мой заказ</a>
        </div>
    </div>
    <!-- /Header -->
    
    
    <!-- Page head -->
    <div class="pagehead">
        <div class="breadcrumbs"><a href="">Enter.ru</a> &gt; <strong>Списки желаний</strong></div>
        <div class="clear"></div>
        <h1>Списки желаний <i class="heart"></i></h1>
        <div class="searchbox">
            <form action=""><input type="text" class="searchtext" value="Поиск товаров" onfocus="if (this.value == 'Поиск товаров') this.value = '';" onblur="if (this.value == '') this.value = 'Поиск товаров';"  /><input type="button" class="searchbutton" value="Найти" title="Найти"  id="try-1" /></form>
        </div>
        <div class="clear pb20"></div>
        <div class="line"></div>
    </div>
    <!-- Page head -->
    
    <!-- Column685 -->
    <div class="float100">
		<div class="column685 ">
        
            <div class="wishline">
                <div class="photo"><a href=""><img src="images/photo55.jpg" alt="" width="120" height="120" /></a></div>
                <div class="whishinfo">
                    <div class="breadcrumbs"><a href="">Электроника</a> &gt; <a href="">Мобильные телефоны</a></div>
                    <div class="cb font16 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                    <div class="font16 pb10"><strong>31 190 <span class="rubl">p</span></strong></div>
                    <div class="">
                        <input type="button" class="button yellowbutton fl mr10" value="Купить" />
                        <div class="filterchoice">
                            <a href="" class="filterlink">Переместить</a>
                            <div class="filterlist">
                                <a href="" class="filterlink">Переместить</a>
                                <ul>
                                    <li><a href="">Переместить</a></li>
                                    <li><a href="">На день рождения Вовану (1)</a></li>
                                    <li><a href="">На новый год (0)</a></li>
                                </ul>
                            </div>
                            <a href="">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wishline">
                <div class="photo"><a href=""><img src="images/photo31.jpg" alt="" width="120" height="120" /></a></div>
                <div class="whishinfo">
                    <div class="breadcrumbs"><a href="">Электроника</a> &gt; <a href="">Мобильные телефоны</a></div>
                    <div class="cb font16 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                    <div class="font16 pb10"><strong>31 190 <span class="rubl">p</span></strong></div>
                    <div class="">
                        <input type="button" class="button yellowbutton fl mr10" value="Купить" />
                        <div class="filterchoice">
                            <a href="" class="filterlink">Переместить</a>
                            <div class="filterlist" style="display:block">
                                <a href="" class="filterlink">Переместить</a>
                                <ul>
                                    <li><a href="">Переместить</a></li>
                                    <li><a href="">На день рождения Вовану (1)</a></li>
                                    <li><a href="">На новый год (0)</a></li>
                                </ul>
                            </div>
                            <a href="">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wishline">
                <div class="photo"><a href=""><img src="images/photo33.jpg" alt="" width="120" height="120" /></a></div>
                <div class="whishinfo">
                    <div class="breadcrumbs"><a href="">Электроника</a> &gt; <a href="">Мобильные телефоны</a></div>
                    <div class="cb font16 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                    <div class="font16 pb10"><strong>31 190 <span class="rubl">p</span></strong></div>
                    <div class="">
                        <input type="button" class="button yellowbutton fl mr10" value="Купить" />
                        <div class="filterchoice">
                            <a href="" class="filterlink">Переместить</a>
                            <div class="filterlist">
                                <a href="" class="filterlink">Переместить</a>
                                <ul>
                                    <li><a href="">Переместить</a></li>
                                    <li><a href="">На день рождения Вовану (1)</a></li>
                                    <li><a href="">На новый год (0)</a></li>
                                </ul>
                            </div>
                            <a href="">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- /Column685-->
    
        
    <!-- Column215 -->
	<div class="column215">
        <div class="pb15"><strong class="orange font19">Мой новый список желаний</strong></div>
        <div class="pb10">Краткое описание, которое можно добавить только при регистрации</div>
        <div class="pb10">Номер списка: <b class="questionicon"></b> <strong>457278</strong></div>
        
        <ul class="wishlinks pb10">
            <li><a href="">Добавить описание</a></li>
            <li><a href="">Переименовать</a></li>
            <li><a href="">Удалить</a></li>
        </ul>
        
        <div class="font11 pb10">Отправить этот лист на:</div>
        <div class="pb10"><a href="" class="button whitelink mr10">E-mail</a><a href="" class="button whitelink">Печать</a></div>
        <div class="pb20"><a class="share" href="">Поделиться</a> </div>
        
        
        <h2>Все мои списки</h2>
        <div class="line pb10"></div>
        <ul class="wishlistmenu pb15">
            <li><a class="current" href="">Новый список желаний (6)</a></li>
            <li><a href="">На день рождения Вовану (1)</a></li>
            <li><a href="">На новый год (0)</a></li>
        </ul>
        <a href="" class="button whitelink">Создать новый список</a>
    </div>
    <!-- /Column215 -->
        
    
    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="bottommenu">
        <dl>
            <dt><a href="">Компания Enter</a></dt>
            <dd><a href="">О Компании</a></dd>
            <dd><a href="">Наши преимущества</a></dd>
            <dd><a href="">Контакты</a></dd>
            <dd><a href="">Обратная связь</a></dd>
            <dd><a href="">Карта сайта</a></dd>
        </dl>
        <dl>
            <dt><a href="">Услуги и сервисы</a></dt>
            <dd><a href="">Сервис F1</a></dd>
            <dd><a href="">Доставка товара</a></dd>
            <dd><a href="">Гарантия</a></dd>
            <dd><a href="">Бесплатный возврат</a></dd>
            <dd><a href="">Помощь покупателю</a></dd>
        </dl>
        <dl>
            <dt><a href="">Хотите работать у нас?</a></dt>
            <dd><a href="">Работа в Enter &gt;&gt;&gt;</a></dd>
            <dd>Краткий текст о сайте вакансий, призыв устроиться в Enter.ru</dd>
        </dl>
        <dl class="next">
            <dt>Единая справочная</dt>
            <dd class="vcard"><strong class="tel">8 (800) 555-66-77</strong></dd>
            <dd>Круглосуточно. Без выходных</dd>
        </dl>
    </div>
    
    <div class="social">
        Посетите нас
        <a href="" class="twitter">twitter</a>
        <a href="" class="facebook">facebook</a>

        <a href="" class="vkontakte">vkontakte</a>
        <a href="" class="livejournal">livejournal</a>
        <a href="" class="youtube">youtube</a>
        <a href="" class="mobile">mobile</a>
    </div>
    
    <div class="subscribeform">
        <form action=""><input type="text" class="text" value="Введите Ваш E-mail" onfocus="if (this.value == 'Введите Ваш E-mail') this.value = '';" onblur="if (this.value == '') this.value = 'Введите Ваш E-mail';"  /><input type="button" class="subscribebutton" value="Подписаться на рассылку" /></form>
    </div>
    
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
            <div>
                <a href="">Политика конфидециальности</a>
                <a href="">Условия продажи в интернет-магазине</a>
                <b><i class="mistakeimg"></i><a href="" class="orange">сообщить!</a></b>
            </div>
        </div>
        <div class="counter">

            <a href=""><img src="images/counter1.gif" alt="" width="80" height="30" /></a>
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->





<!-- Lightbox -->
<div class="lightbox">
    <div class="lightboxinner">
        
        <div class="dropbox" style="left:365px"><p>Перетащите сюда</p></div>
        <div class="dropbox" style="left:517px"><img src="images/photo62.jpg" alt="" width="61" height="60" /></div>
        <div class="dropbox active" style="left:703px"><p>Отпустите мышь</p></div>
        
        <ul class="lightboxmenu">
            <li><a href="" class="point point2"><b>1</b>Моя корзина<span class="total">64 543 <span class="rubl">p</span></span></a></li>
            <li><a href="" class="point point3"><b>5</b>Список желаний</a></li>
            <li><a href="" class="point point4"><b>10</b>Сравнение</a></li>
        </ul> 
    </div>
</div>
<!-- /Lightbox -->

    
</body>
</html>
