<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>

<style>
body {padding:20px}
body, a, td {font:normal 12px "tahoma"}
td {color:#545454}
a {color:#8a8a8a; text-decoration:none}
a:hover {text-decoration:underline}
tr.even td {background-color:#f1f1f1; color:#636363; font-weight:bold}
B {font-size:14px}
tr.odd {background-color:#fff}
H4 {color:#2e87c8; font-size:18px; font-weight:normal}
SPAN {font-size:11px; color:#999}
.red {color:#e81a1a}
</style>
</head>

<body>
<h4>Enter.ru :: Список страниц</h4>

<table border="0" cellpadding="6" cellspacing="1" bgcolor="#e5e5e5">
   
   
   <tr class="even">
      <td colspan="3"><b>Список страниц</b></td>
   </tr>
   <tr class="odd">
      <td><a href="entry.html" target="_blank">entry.html</a></td>
	  <td>Страница входа</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="index.html" target="_blank">index.html</a></td>
	  <td>Главная</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="topmenu.html" target="_blank">topmenu.html</a></td>
	  <td>Верхнее меню</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="registration.html" target="_blank">registration.html</a></td>
	  <td>Регистрация<br /><span>При клике по ссылке "Войти на сайт" открывается окно с формой регистрации</span></td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="password_restoration.html" target="_blank">password_restoration.html</a></td>
	  <td>Восстановление пароля<br /><span>При клике по ссылке "Войти на сайт" открывается окно с формой восстановления пароля</span></td>
      <td class="red">+ +</td>
   </tr>
   
   
   
   <tr class="even">
      <td colspan="3"><b>Разводящие страницы</b></td>
   </tr>
   <tr class="odd">
      <td><a href="rubric.html" target="_blank">rubric.html</a></td>
	  <td>Рубрика</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="category.html" target="_blank">category.html</a></td>
	  <td>Категория</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="category2.html" target="_blank">category2.html</a></td>
	  <td>Категория 2</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="goods_list.html" target="_blank">goods_list.html</a></td>
	  <td>Список товаров в категории</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="series_list.html" target="_blank">series_list.html</a></td>
	  <td>Список серий</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="series.html" target="_blank">series.html</a></td>
	  <td>Серия</td>
      <td class="red">+ +</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Заглушки</b></td>
   </tr>
   <tr class="odd">
      <td><a href="plug.html" target="_blank">plug.html</a></td>
	  <td>Заглушки</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Карточка товара</b></td>
   </tr>
   <tr class="odd">
      <td><a href="article.html" target="_blank">article.html</a></td>
	  <td>Карточка товара</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="article_furniture.html" target="_blank">article_furniture.html</a></td>
	  <td>Карточка товара. Мебель</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="article_watch.html" target="_blank">article_watch.html</a></td>
	  <td>Карточка товара. Следить</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="article_delivery.html" target="_blank">article_delivery.html</a></td>
	  <td>Карточка товара. Доставка</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="article_f1.html" target="_blank">article_f1.html</a></td>
	  <td>Карточка товара. Услуга F1<br /><span>При клике по стрелочкам раскрывается описание пунктов.</span></td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="article_tags.html" target="_blank">article_tags.html</a></td>
	  <td>Карточка товара. Метки</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="article_share.html" target="_blank">article_share.html</a></td>
	  <td>Карточка товара. Поделиться</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="article_media_all.html" target="_blank">article_media_all.html</a></td>
	  <td>Карточка товара. Медиатека<br /><span>При клике на иконки в разделе "Фото и видео товара" открываются окна медиа-контентом</span></td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="article_shop.html" target="_blank">article_shop.html</a></td>
	  <td>Карточка товара. Где купить</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="article_comments.html" target="_blank">article_comments.html</a></td>
	  <td>Карточка товара. Отзывы</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="article_comments_add.html" target="_blank">article_comments_add.html</a></td>
	  <td>Карточка товара. Добавление отзыва</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="article_print.html" target="_blank">article_print.html</a></td>
	  <td>Карточка товара. Печать</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Список товаров</b></td>
   </tr>
   <tr class="odd">
      <td><a href="produce_table.html" target="_blank">produce_table.html</a></td>
	  <td>Товары таблицей</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="produce_list.html" target="_blank">produce_list.html</a></td>
	  <td>Товары списком</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="produce_fast_view.html" target="_blank">produce_fast_view.html</a></td>
	  <td>Быстрый просмотр<br /><span>При клике по ссылке "Быстрый просмотр" в первом блоке с товаром открывается окно с карточкой товара.</span></td>
      <td class="red">+ +</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Корзина. Оформление</b></td>
   </tr>
   <tr class="odd">
      <td><a href="basket.html" target="_blank">basket.html</a></td>
	  <td>Корзина</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="buying_1.html" target="_blank">buying_1.html</a></td>
	  <td>Оформление. Шаг 1</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="buying_1_new.html" target="_blank">buying_1_new.html</a></td>
	  <td>Оформление. Шаг 1. Новый пользователь</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="buying_2.html" target="_blank">buying_2.html</a></td>
	  <td>Оформление. Шаг 2<br /><span>Показаны разные состояния элементов формы<br />При клике оп кнопке "Выбрать на карте" появляется всплывающее окно с картой. </span></td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="buying_3.html" target="_blank">buying_3.html</a></td>
	  <td>Оформление. Шаг 3</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="buying_4.html" target="_blank">buying_4.html</a></td>
	  <td>Оформление. Шаг 4</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="buying_5.html" target="_blank">buying_5.html</a></td>
	  <td>Оформление. Спасибо за покупку</td>
      <td class="red">+ -</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Купить в один клик</b></td>
   </tr>
   <tr class="odd">
      <td><a href="buying_one_click.html" target="_blank">buying_one_click.html</a></td>
	  <td>Купить в один клик<br /><span>При клике по ссылке "Купить быстро в 1 клик" открывается всплывающее окно с формой.</span></td>
      <td class="red">+ +</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Результаты поиска</b></td>
   </tr>
   <tr class="odd">
      <td><a href="search_result.html" target="_blank">search_result.html</a></td>
	  <td>Результаты поиска</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="search_result_analog.html" target="_blank">search_resul_analogt.html</a></td>
	  <td>Результаты поиска. Аналогии</td>
      <td class="red">+ +</td>
   </tr>
   <tr class="odd">
      <td><a href="search_noresult.html" target="_blank">search_noresult.html</a></td>
	  <td>Результаты поиска. Ничего не найдено<br /><span>При клике по кнопке "Найти" в форме поиска появляется всплывающее окно.</span></td>
      <td class="red">+ +</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Расширенный поиск</b></td>
   </tr>
   <tr class="odd">
      <td><a href="broadened_search.html" target="_blank">broadened_search.html</a></td>
	  <td>Расширенный поиск</td>
      <td class="red">+ -</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Список желаний</b></td>
   </tr>
   <tr class="odd">
      <td><a href="wish_list.html" target="_blank">wish_list.html</a></td>
	  <td>Список желаний</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="wish_list_share.html" target="_blank">wish_list_share.html</a></td>
	  <td>Список желаний. Поделиться в соцсетях</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="wish_list_email.html" target="_blank">wish_list_email.html</a></td>
	  <td>Список желаний. Поделиться в соцсетях</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="wish_list_rename.html" target="_blank">wish_list_rename.html</a></td>
	  <td>Список желаний. Переименовать</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="wish_list_add.html" target="_blank">wish_list_add.html</a></td>
	  <td>Список желаний. Создать</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="wish_list_delete.html" target="_blank">wish_list_delete.html</a></td>
	  <td>Список желаний. Удалить</td>
      <td class="red">+ -</td>
   </tr>
   <tr class="odd">
      <td><a href="wish_list_print.html" target="_blank">wish_list_print.html</a></td>
	  <td>Список желаний. Печать</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Геотаргетинг</b></td>
   </tr>
   <tr class="odd">
      <td><a href="city_choice.html" target="_blank">city_choice.html</a></td>
	  <td>Выбор города<br /><span>При клике по ссылке "Москва" в шапке сайта появляется всплывающее окно со списком городов.</span></td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Панель Litebox</b></td>
   </tr>
   <tr class="odd">
      <td><a href="litebox.html" target="_blank">litebox.html</a></td>
	  <td>Панель Litebox</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="litebox_ligin.html" target="_blank">litebox_ligin.html</a></td>
	  <td>Панель Litebox. Для авторизованного пользователя</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="litebox_basket.html" target="_blank">litebox_basket.html</a></td>
	  <td>Панель Litebox. Добавление в корзину</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="litebox_recommendation.html" target="_blank">litebox_recommendation.html</a></td>
	  <td>Панель Litebox. Рекомендация</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="litebox_wishlist.html" target="_blank">litebox_wishlist.html</a></td>
	  <td>Панель Litebox. Список желаний</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="litebox_drag_and_drop.html" target="_blank">litebox_drag_and_drop.html</a></td>
	  <td>Панель Litebox. Перетягивание</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="litebox_comparison.html" target="_blank">litebox_comparison.html</a></td>
	  <td>Панель Litebox. Сравнение</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="litebox_comparison_table.html" target="_blank">litebox_comparison_table.html</a></td>
	  <td>Панель Litebox. Окно сравнения<br /><span>При клике по ссылке "Сравнение" в панели  Litebox появляется всплывающее с таблицей сравнения.</span></td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="litebox_comparison_print.html" target="_blank">litebox_comparison_print.html</a></td>
	  <td>Панель Litebox. Сравнение. Печать</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Помощь пользователю</b></td>
   </tr>
   <tr class="odd">
      <td><a href="about.html" target="_blank">about.html</a></td>
	  <td>О компании</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="about_order.html" target="_blank">about_order.html</a></td>
	  <td>Как сделать заказ</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="about_delivery.html" target="_blank">about_delivery.html</a></td>
	  <td>Как получить заказ</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="about_payment.html" target="_blank">about_payment.html</a></td>
	  <td>Как оплатить</td>
      <td class="red">+</td>
   </tr>
   
   
   
   <tr class="even">
      <td colspan="3"><b>Магазины сети</b></td>
   </tr>
   <tr class="odd">
      <td><a href="shop_list.html" target="_blank">shop_list.html</a></td>
	  <td>Список магазинов</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="shop_map.html" target="_blank">shop_map.html</a></td>
	  <td>Магазины на карте</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="shop_card.html" target="_blank">shop_card.html</a></td>
	  <td>Карточка магазина</td>
      <td class="red">+</td>
   </tr>
   
   <tr class="even">
      <td colspan="3"><b>Мой кабинет</b></td>
   </tr>
   <tr class="odd">
      <td><a href="my_cabinet.html" target="_blank">my_cabinet.html</a></td>
	  <td>Мой кабинет</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Мои товары</b></td>
   </tr>
   <tr class="odd">
      <td><a href="my_order_archive.html" target="_blank">my_order_archive.html</a></td>
	  <td>Архив заказов</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_order_list.html" target="_blank">my_order_list.html</a></td>
	  <td>Мои заказы</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_order_delete.html" target="_blank">my_order_delete.html</a></td>
	  <td>Мои заказы. Аннулирован</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_mark.html" target="_blank">my_mark.html</a></td>
	  <td>Мои метки</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_mark_delete.html" target="_blank">my_mark_delete.html</a></td>
	  <td>Мои метки. Удаление</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_mark_rename.html" target="_blank">my_mark_rename.html</a></td>
	  <td>Мои  метки. Переименовать</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Мои отзывы и комментарии</b></td>
   </tr>
   <tr class="odd">
      <td><a href="my_reference.html" target="_blank">my_reference.html</a></td>
	  <td>Архив отзывы и оценки</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_comments.html" target="_blank">my_comments.html</a></td>
	  <td>Мои комментарии</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Мои персональные данные</b></td>
   </tr>
   <tr class="odd">
      <td><a href="my_profile_edit.html" target="_blank">my_profile_edit.html</a></td>
	  <td>Изменить мои данные</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_password_edit.html" target="_blank">my_password_edit.html</a></td>
	  <td>Изменить пароль</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_delivery.html" target="_blank">my_delivery.html</a></td>
	  <td>Адреса доставки</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_company_details.html" target="_blank">my_company_details.htm</a></td>
	  <td>Реквизиты компании</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_avatar.html" target="_blank">my_avatar.html</a></td>
	  <td>Аватар</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Мои рассылки и оповещения</b></td>
   </tr>
   <tr class="odd">
      <td><a href="my_posting.html" target="_blank">my_posting.html</a></td>
	  <td>Подписка на рассылку</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="my_notice.html" target="_blank">my_notice.html</a></td>
	  <td>Подписка на уведомления</td>
      <td class="red">+</td>
   </tr>
   
   <tr class="even">
      <td colspan="3"><b>Помощь пользователю</b></td>
   </tr>
   <tr class="odd">
      <td><a href="help_menu.html" target="_blank">help_menu.html</a></td>
	  <td>Помощь пользователю. Главная</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="help.html" target="_blank">help.html</a></td>
	  <td>Помощь пользователю. Выбранный раздел</td>
      <td class="red">+</td>
   </tr>
   
   <tr class="even">
      <td colspan="3"><b>Условия продажи</b></td>
   </tr>
   <tr class="odd">
      <td><a href="term.html" target="_blank">term.html</a></td>
	  <td>Условия продажи<br /><span>При клике по понктам меню раскрываются скрытые блоки</span></td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Услуги</b></td>
   </tr>
   <tr class="odd">
      <td><a href="service.html" target="_blank">service.html</a></td>
	  <td>Главная</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="service_f1.html" target="_blank">service_f1.html</a></td>
	  <td>Сервис F1</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Ошибки</b></td>
   </tr>
   <tr class="odd">
      <td><a href="error_404.html" target="_blank">error_404.html</a></td>
	  <td>Ошибка 404</td>
      <td class="red">+</td>
   </tr>
   <tr class="odd">
      <td><a href="error_503.html" target="_blank">error_503.html</a></td>
	  <td>Ошибка 503</td>
      <td class="red">+</td>
   </tr>
   
   <tr class="even">
      <td colspan="3"><b>Письмо</b></td>
   </tr>
   <tr class="odd">
      <td><a href="mail_register.html" target="_blank">mail_register.html</a></td>
	  <td>Регистрация нового пользователя.</td>
      <td class="red">+</td>
   </tr>
   
   
   <tr class="even">
      <td colspan="3"><b>Кнопки</b></td>
   </tr>
   <tr class="odd">
      <td><a href="buttons.html" target="_blank">buttons.html</a></td>
	  <td>Кнопки</td>
      <td class="red">+</td>
   </tr>
   
   
   
</table>   

</body>
</html>
