<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
</head>

<body>
<div class="allpage">
<div class="allpageinner">

                        <div class="rating">
                            <div class="ratingbox">
                                <div class="current" style="width: 36px;">88</div>
                                <div><a class="ra1" title="Плохо" href="#">1</a></div>
                                <div><a class="ra2" title="Приемлемо" href="#">2</a></div>
                                <div><a class="ra3" title="Средне" href="#">3</a></div>
                                <div><a class="ra4" title="Хорошо" href="#">4</a></div>
                                <div><a class="ra5" title="Отлично" href="#">5</a></div>
                             </div>
                        </div>
                        
                        
    <div class="clear"></div>

</div>
</div>

</body>
</html>
