<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
</head>

<body>
<div class="allpage">
<div class="allpageinner">

    <!-- City choice -->
    <div class="popup popupbox" id="popup_1" lstyle="display:block">
        <i title="Закрыть" class="close">Закрыть</i>
        <div class="font16 pb20">Выберите Ваш город:</div>
        <ul class="fl citylist">
            <li><a href="">Москва</a></li>
            <li><a href="">Санкт-Петербург</a></li>
            <li><a href="">Волгоград</a></li>
            <li><a href="">Воронеж</a></li>
            <li><a href="">Екатеринбург</a></li>
            <li><a href="">Казань</a></li>
            <li><a href="">Краснодар</a></li>
            <li><a href="">Красноярск</a></li>
            <li><a href="">Нижний Новгород</a></li>
        </ul>
        <ul class="fr citylist">
            <li><a href="">Новосибирск</a></li>
            <li><a href="">Омск</a></li>
            <li><a href="">Пермь</a></li>
            <li><a href="">Ростов на Дону</a></li>
            <li><a href="">Самара</a></li>
            <li><a href="">Саратов</a></li>
            <li><a href="">Тольятти</a></li>
            <li><a href="">Уфа</a></li>
            <li><a href="">Челябинск</a></li>
        </ul>
        <div class="clear pb20"></div>
        <input type="button" class="button whitebutton" value="Подтвердить" />
    </div>
    <!-- /City choice -->
    
    

    <!-- Topbar -->
    <div class="topbar">
        <div class="region">
            Регион: <a href="" id="try-1">Москва</a>
        </div>
        <div class="usermenu">
            <div class="point"><a href="" class="f1">F1 сервис</a></div>
            <div class="point"><a href="" class="entry">Войти на сайт</a></div>
            <div class="point next"><a href="">Помощь покупателю</a></div>
        </div>
    </div>
    <!-- /Topbar -->
    
    
    <!-- Header -->
    <div class="header">
        <div class="logo"><a href="">Enter Связной</a></div>
        <!-- Topmenu -->
        <ul class="topmenu">
            <li><a href="" class="point1">МЕБЕЛЬ</a></li>
            <li><a href="" class="point2">Бытовая техни</a></li>
            <li><a href="" class="point3">Товары для дома</a></li>
            <li><a href="" class="point4">Товары для детей</a></li>
            <li><a href="" class="point5">СДЕЛАЙ САМ (ИНСТРУМЕНТЫ)</a></li>
            <li><a href="" class="point6">Электроника</a></li>
            <li><a href="" class="point7">Украшения и часы</a></li>
            <li><a href="" class="point8">Спорт</a></li>
            <li><a href="" class="point9">ПОДАРКИ</a></li>
        </ul>
        <!-- /Topmenu -->
        <div class="headerright">
            Заказ и консультации
            <div class="vcard"><div class="tel"><span>(495)</span>555-66-77</div></div>
            <a href="">Перезвоните мне</a><br />
            <a href="">Отследить мой заказ</a>
        </div>
    </div>
    <!-- /Header -->
    
    
    
    <!-- Page head -->
    <div class="pagehead">
        <div class="breadcrumbs"><a href="">Enter.ru</a> &gt; <strong>Сервис F1</strong></div>
        <div class="clear"></div>
        <h1>Сервис F1</h1>
        <div class="searchbox">
            <form action=""><input type="text" class="searchtext" value="Поиск товаров" onfocus="if (this.value == 'Поиск товаров') this.value = '';" onblur="if (this.value == '') this.value = 'Поиск товаров';"  /><input type="button" class="searchbutton" value="Найти" title="Найти"  id="try-1" /></form>
        </div>
        <div class="clear"></div>
    </div>
    <!-- Page head -->
    
    
    <!-- Column685 -->
    <div class="float100">
		<div class="column685 pr">
        
            <h2 class="bold motton">Встраиваемая техника</h2>
            <div class="line pb20"></div>
            
            <div class="serviceblock mNewSB">
                <div class="photo"><a href=""><img src="images/photo66.jpg" alt="" width="160" height="120" /></a></div>
                <div class="info">
                    <h3>Услуги для встраиваемых посудомоечных машин</h3>
                    <div class="font16 pb5">Установка встраиваемого электрического духового шкафа (минимум) &mdash; <div class="font16 mInlineBlock"><strong>990 <span class="rubl">p</span></strong></div></div>
                    <div class="pb20">
                        Подключение посудомоечной машины к водоснабжению и сливу, подключение к
                        имеющейся розетке в пределах досягаемости провода из комплекта техники. По
                        завершению работ мы продемонстрируем работу установленной техники и обучим вас
                        пользоваться всеми ее функциями.
                    </div>
                    <div class="font16 pb5">Установка встраиваемого электрического духового шкафа (стандарт) &mdash; <div class="font16 mInlineBlock"><strong>1 530 <span class="rubl">p</span></strong></div></div>
                    <div class="pb20">
                        "Установка встраиваемой посудомоечной машины (минимум)" + удлинение провода электроснабжения до 3м включительно, монтаж новой розетки.
                    </div>
                </div>
            </div>
            
			<div class='line pb30'></div>

			<div class="serviceblock mNewSB">
                <div class="photo mSBlocker"><a href=""><img src="images/photo66.jpg" alt="" width="160" height="120" /></a></div>
                <div class="info">
                    <h3>Услуги для встраиваемых посудомоечных машин</h3>
                    <div class="font16 pb5">Установка встраиваемого электрического духового шкафа (минимум) &mdash; <div class="font16 mInlineBlock"><strong>990 <span class="rubl">p</span></strong></div></div>
                    <div class="pb20">
                        Подключение посудомоечной машины к водоснабжению и сливу, подключение к
                        имеющейся розетке в пределах досягаемости провода из комплекта техники. По
                        завершению работ мы продемонстрируем работу установленной техники и обучим вас
                        пользоваться всеми ее функциями.
                    </div>
					<div class="font16 pb5">Установка встраиваемого электрического духового шкафа (минимум) &mdash; <div class="font16 mInlineBlock"><strong>990 <span class="rubl">p</span></strong></div></div>
                    <div class="pb20">
                        Подключение посудомоечной машины к водоснабжению и сливу, подключение к
                        имеющейся розетке в пределах досягаемости провода из комплекта техники. По
                        завершению работ мы продемонстрируем работу установленной техники и обучим вас
                        пользоваться всеми ее функциями.
                    </div>
					<div class="font16 pb5">Установка встраиваемого электрического духового шкафа (минимум) &mdash; <div class="font16 mInlineBlock"><strong>990 <span class="rubl">p</span></strong></div></div>
                    <div class="pb20">
                        Подключение посудомоечной машины к водоснабжению и сливу, подключение к
                        имеющейся розетке в пределах досягаемости провода из комплекта техники. По
                        завершению работ мы продемонстрируем работу установленной техники и обучим вас
                        пользоваться всеми ее функциями.
                    </div>
                    <div class="font16 pb5">Установка встраиваемого электрического духового шкафа (стандарт) &mdash; <div class="font16 mInlineBlock"><strong>1 530 <span class="rubl">p</span></strong></div></div>
                    <div class="pb20">
                        "Установка встраиваемой посудомоечной машины (минимум)" + удлинение провода электроснабжения до 3м включительно, монтаж новой розетки.
                    </div>
                </div>
            </div>

			<div class='line pb30'></div>

			<div class="serviceblock mNewSB">
                <div class="photo"><a href=""><img src="images/photo66.jpg" alt="" width="160" height="120" /></a></div>
                <div class="info">
                    <h3>Услуги для встраиваемых посудомоечных машин</h3>
                    <div class="font16 pb5">Установка встраиваемого электрического духового шкафа (минимум) &mdash; <div class="font16 mInlineBlock"><strong>990 <span class="rubl">p</span></strong></div></div>
                    <div class="pb20">
                        Подключение посудомоечной машины к водоснабжению и сливу, подключение к
                        имеющейся розетке в пределах досягаемости провода из комплекта техники. По
                        завершению работ мы продемонстрируем работу установленной техники и обучим вас
                        пользоваться всеми ее функциями.
                    </div>
                    <div class="font16 pb5">Установка встраиваемого электрического духового шкафа (стандарт) &mdash; <div class="font16 mInlineBlock"><strong>1 530 <span class="rubl">p</span></strong></div></div>
                    <div class="pb20">
                        "Установка встраиваемой посудомоечной машины (минимум)" + удлинение провода электроснабжения до 3м включительно, монтаж новой розетки.
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Column685-->
    
        
    <!-- Column215 -->
	<div class="column215">
        
        <h2>Выбираем услуги</h2>
        <div class="line pb10"></div>
        
        <h2>Мебель</h2>
        <ul class="leftmenu pb10">
            <li><a href="">Общие услуги Мебель</a></li>
            <li><a href="">Кухни</a></li>
            <li><a href="">Мебель для ванных</a></li>
            <li><a href="">Мягкая мебельь</a></li>
        </ul>
        
        <h2>Бытовая техника</h2>
        <ul class="leftmenu pb10">
            <li><strong class="motton">Встраиваемая техника</strong></li>
            <li><a href="">Климатическая техника</a></li>
            <li><a href="">Крупногабаритная кухонная техника</a></li>
            <li><a href="">Малогабаритная кухонная техника</a></li>
            <li><a href="">Техника по уходу за одеждой</a></li>
        </ul>
        
        <h2>Цифровая техника</h2>
        <ul class="leftmenu pb10">
            <li><a href="">ПК</a></li>
            <li><a href="">ТВ и видео</a></li>
            <li><a href="">Мобильные телефоны</a></li>
            <li><a href="">Видеоигры, приставки и хобби</a></li>
            <li><a href="">Аксессуары</a></li>
            <li><a href="">Портативная электроника</a></li>
        </ul>
        
        <h2>Спорт</h2>
        <ul class="leftmenu pb10">
            <li><a href="">Велоспорт</a></li>
            <li><a href="">Зимние виды спорта</a></li>
        </ul>
    </div>
    <!-- /Column215 -->
        
    
    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="bottommenu">
        <dl>
            <dt><a href="">Компания Enter</a></dt>
            <dd><a href="">О Компании</a></dd>
            <dd><a href="">Наши преимущества</a></dd>
            <dd><a href="">Контакты</a></dd>
            <dd><a href="">Обратная связь</a></dd>
            <dd><a href="">Карта сайта</a></dd>
        </dl>
        <dl>
            <dt><a href="">Услуги и сервисы</a></dt>
            <dd><a href="">Сервис F1</a></dd>
            <dd><a href="">Доставка товара</a></dd>
            <dd><a href="">Гарантия</a></dd>
            <dd><a href="">Бесплатный возврат</a></dd>
            <dd><a href="">Помощь покупателю</a></dd>
        </dl>
        <dl>
            <dt><a href="">Хотите работать у нас?</a></dt>
            <dd><a href="">Работа в Enter &gt;&gt;&gt;</a></dd>
            <dd>Краткий текст о сайте вакансий, призыв устроиться в Enter.ru</dd>
        </dl>
        <dl class="next">
            <dt>Единая справочная</dt>
            <dd class="vcard"><strong class="tel">8 (800) 555-66-77</strong></dd>
            <dd>Круглосуточно. Без выходных</dd>
        </dl>
    </div>
    
    <div class="social">
        Посетите нас
        <a href="" class="twitter">twitter</a>
        <a href="" class="facebook">facebook</a>

        <a href="" class="vkontakte">vkontakte</a>
        <a href="" class="livejournal">livejournal</a>
        <a href="" class="youtube">youtube</a>
        <a href="" class="mobile">mobile</a>
    </div>
    
    <div class="subscribeform">
        <form action=""><input type="text" class="text" value="Введите Ваш E-mail" onfocus="if (this.value == 'Введите Ваш E-mail') this.value = '';" onblur="if (this.value == '') this.value = 'Введите Ваш E-mail';"  /><input type="button" class="subscribebutton" value="Подписаться на рассылку" /></form>
    </div>
    
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
            <div>
                <a href="">Политика конфидециальности</a>
                <a href="">Условия продажи в интернет-магазине</a>
                <b><i class="mistakeimg"></i><a href="" class="orange">сообщить!</a></b>
            </div>
        </div>
        <div class="counter">

            <a href=""><img src="images/counter1.gif" alt="" width="80" height="30" /></a>
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
