<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
</head>

<body>
<div class="allpage">
<div class="allpageinner">

    <!-- Topbar -->
    <div class="topbar">
        <div class="region">
            Регион: <a href="">Москва</a>
        </div>
        <div class="usermenu">
            <div class="point"><a href="" class="f1">F1 сервис</a></div>
            <div class="point"><a href="" class="entry">Войти на сайт</a></div>
            <div class="point next"><a href="">Помощь покупателю</a></div>
        </div>
    </div>
    <!-- /Topbar -->
    
    
    <!-- Header -->
    <div class="header">
        <div class="logo"><a href="">Enter Связной</a></div>
        <!-- Topmenu -->
        <ul class="topmenu">
            <li><a href="" class="point1">МЕБЕЛЬ</a></li>
            <li><a href="" class="point2">Бытовая техни</a></li>
            <li><a href="" class="point3">Товары для дома</a></li>
            <li><a href="" class="point4">Товары для детей</a></li>
            <li><a href="" class="point5">СДЕЛАЙ САМ (ИНСТРУМЕНТЫ)</a></li>
            <li><a href="" class="point6">Электроника</a></li>
            <li><a href="" class="point7">Украшения и часы</a></li>
            <li><a href="" class="point8">Спорт</a></li>
            <li><a href="" class="point9">ПОДАРКИ</a></li>
        </ul>
        <!-- /Topmenu -->
        <div class="headerright">
            Заказ и консультации
            <div class="vcard"><div class="tel"><span>(495)</span>555-66-77</div></div>
            <a href="">Перезвоните мне</a><br />
            <a href="">Отследить мой заказ</a>
        </div>
    </div>
    <!-- /Header -->
    
    
    <!-- Page head -->
    <div class="pagehead">
        <div class="breadcrumbs"><a href="">Enter.ru</a> &gt; <strong>Условия продажи</strong></div>
        <div class="clear"></div>
        <h1>Условия продажи</h1>
        <div class="searchbox">
            <form action=""><input type="text" class="searchtext" value="Поиск товаров" onfocus="if (this.value == 'Поиск товаров') this.value = '';" onblur="if (this.value == '') this.value = 'Поиск товаров';"  /><input type="button" class="searchbutton" value="Найти" title="Найти"  id="try-1" /></form>
        </div>
        <div class="clear pb20"></div>
        <div class="line"></div>
    </div>
    <!-- Page head -->
    
    
        <!-- Term -->
        <dl class="tearmlist">
            <dt>1. Определения</dt>
            <dd>
                <ul>
                    <li>1.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>1.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>1.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                    <li>1.4.<div>Акцепт –  действия Клиента по формированию Заказа и (или) по оплате Товара посредством наличных или  безналичных денежных средств или электронных средств платежа. Акцепт считается состоявшимся при формировании Заказа или посредством оплаты наличными или безналичными денежными средствами, либо электронными средствами платежа.</div></li>
                    <li>1.5.<div>Дата оплаты – в зависимости от способа платежа – поступление наличных денежных средств в кассу Продавца; поступление денежных средств на расчетный счет Продавца; прием денежных средств платежным агентом; отражение поступления денежных средств Продавцу в соответствии с ФЗ «О национальной платежной  системе». </div></li>
                    <li>1.6.<div>Товар – товарно-материальные средства, предлагаемые Продавцом в магазинах Enter, каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>


            <dt>2. Общие положения</dt>
            <dd>
                <ul>
                    <li>2.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>2.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>2.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
            <dt>3. Предмет</dt>
            <dd>
                <ul>
                    <li>3.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>3.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>3.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
            <dt>4. Порядок заказа и оплаты Товара</dt>
            <dd>
                <ul>
                    <li>4.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>4.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>4.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
            <dt>5. Доставка товара</dt>
            <dd>
                <ul>
                    <li>5.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>5.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>5.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
            <dt>6. Подключение, наладка, ввод в эксплуатацию и т.п. услуги (Сервисные услуги)</dt>
            <dd>
                <ul>
                    <li>6.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>6.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>6.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
            <dt>7. Возврат и обмен товара</dt>
            <dd>
                <ul>
                    <li>7.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>7.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>7.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
            <dt>8. Гарантии качества Товара и Услуг. Требования Клиента, связанные с недостатками Товаров и Услуг </dt>
            <dd>
                <ul>
                    <li>8.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>8.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>8.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
            <dt>9. Возврат денежных средств</dt>
            <dd>
                <ul>
                    <li>9.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>9.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>9.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
            <dt>10. Переход права и рисков. Прочие положения</dt>
            <dd>
                <ul>
                    <li>10.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>10.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>10.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
            <dt>11. Ответственность сторон </dt>
            <dd>
                <ul>
                    <li>11.1.<div>Продавец – Общество с ограниченной ответственностью «Связной Маркет», зарегистрированное в качестве юридического лица по законодательству Российской Федерации, имеющее место нахождения 127006, Москва. Ул. Малая Дмитровка, д.5/9, ИНН 7710881860, ОГРН 1117746043381.</div></li>
                    <li>11.2.<div>Клиент – физическое или юридическое лицо, заказавшее и (или) оплатившее Товар в магазине, в том числе посредством дистанционного терминала, каталога Enter, или на сайте www.enter.ru . </div></li>
                    <li>11.3.<div>Заказ – автоматически формируемый документ, определяющий набор Товаров и Услуг, приобретенных Клиентом. Заказ формируется в магазинах Enter, в том числе посредством стационарных терминалов Enter, в каталогах Enter или на сайте www.enter.ru. </div></li>
                </ul>
            </dd>
            
        </dl>
        <!-- /Term -->
    
    
    

    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="bottommenu">
        <dl>
            <dt><a href="">Компания Enter</a></dt>
            <dd><a href="">О Компании</a></dd>
            <dd><a href="">Наши преимущества</a></dd>
            <dd><a href="">Контакты</a></dd>
            <dd><a href="">Обратная связь</a></dd>
            <dd><a href="">Карта сайта</a></dd>
        </dl>
        <dl>
            <dt><a href="">Услуги и сервисы</a></dt>
            <dd><a href="">Сервис F1</a></dd>
            <dd><a href="">Доставка товара</a></dd>
            <dd><a href="">Гарантия</a></dd>
            <dd><a href="">Бесплатный возврат</a></dd>
            <dd><a href="">Помощь покупателю</a></dd>
        </dl>
        <dl>
            <dt><a href="">Хотите работать у нас?</a></dt>
            <dd><a href="">Работа в Enter &gt;&gt;&gt;</a></dd>
            <dd>Краткий текст о сайте вакансий, призыв устроиться в Enter.ru</dd>
        </dl>
        <dl class="next">
            <dt>Единая справочная</dt>
            <dd class="vcard"><strong class="tel">8 (800) 555-66-77</strong></dd>
            <dd>Круглосуточно. Без выходных</dd>
        </dl>
    </div>
    
    <div class="social">
        Посетите нас
        <a href="" class="twitter">twitter</a>
        <a href="" class="facebook">facebook</a>
        <a href="" class="vkontakte">vkontakte</a>
        <a href="" class="livejournal">livejournal</a>
        <a href="" class="youtube">youtube</a>
        <a href="" class="mobile">mobile</a>
    </div>
    
    <div class="subscribeform">
        <form action=""><input type="text" class="text" value="Введите Ваш E-mail" onfocus="if (this.value == 'Введите Ваш E-mail') this.value = '';" onblur="if (this.value == '') this.value = 'Введите Ваш E-mail';"  /><input type="button" class="subscribebutton" value="Подписаться на рассылку" /></form>
    </div>
    
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
            <div>
                <a href="">Политика конфидециальности</a>
                <a href="">Условия продажи в интернет-магазине</a>
                <b><i class="mistakeimg"></i><a href="" class="orange">сообщить!</a></b>
            </div>
        </div>
        <div class="counter">
            <a href=""><img src="images/counter1.gif" alt="" width="80" height="30" /></a>
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
