<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
</head>

<body class="printpage">
<div class="allpage">
<div class="allpageinner">

    <!-- Header -->
        <div class="fl pt20">
            <div class="pb10"><img src="skin/img/hart.png" alt="" width="106" height="52" /></div>
            <div class="font24 pb10">Мой новый список желаний</div>
            <div class="font14">Краткое описание, которое можно добавить только при регистрации<br />Номер списка: <strong>457278</strong></div>
        </div>
        <div class="fr pt20">
            <div class="pb40"><a href=""><img src="skin/img/logo.png" alt="" width="77" height="71" /></a></div>
            <a href="" class="font14 underline">Вернуться</a>       
         </div>
    <!-- /Header -->
    
    <div class="clear pb20"></div>
    <div class="line pb20"></div>
    
            <div class="wishline">
                <div class="photo"><a href=""><img src="images/photo55.jpg" alt="" width="120" height="120" /></a></div>
                <div class="whishinfo">
                    <div class="breadcrumbs"><a href="">Электроника</a> &gt; <a href="">Мобильные телефоны</a></div>
                    <div class="cb font16 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                    <div class="font16 pb10"><strong>31 190 <span class="rubl">p</span></strong></div>
                    <input type="button" class="button yellowbutton fl mr10" value="Купить" />
                </div>
            </div>
            
            <div class="wishline">
                <div class="photo"><a href=""><img src="images/photo31.jpg" alt="" width="120" height="120" /></a></div>
                <div class="whishinfo">
                    <div class="breadcrumbs"><a href="">Электроника</a> &gt; <a href="">Мобильные телефоны</a></div>
                    <div class="cb font16 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                    <div class="font16 pb10"><strong>31 190 <span class="rubl">p</span></strong></div>
                    <input type="button" class="button yellowbutton fl mr10" value="Купить" />
                </div>
            </div>
            
            <div class="wishline">
                <div class="photo"><a href=""><img src="images/photo33.jpg" alt="" width="120" height="120" /></a></div>
                <div class="whishinfo">
                    <div class="breadcrumbs"><a href="">Электроника</a> &gt; <a href="">Мобильные телефоны</a></div>
                    <div class="cb font16 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                    <div class="font16 pb10"><strong>31 190 <span class="rubl">p</span></strong></div>
                    <input type="button" class="button yellowbutton fl mr10" value="Купить" />
                </div>
            </div>
            
            <div class="wishline">
                <div class="photo"><a href=""><img src="images/photo55.jpg" alt="" width="120" height="120" /></a></div>
                <div class="whishinfo">
                    <div class="breadcrumbs"><a href="">Электроника</a> &gt; <a href="">Мобильные телефоны</a></div>
                    <div class="cb font16 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                    <div class="font16 pb10"><strong>31 190 <span class="rubl">p</span></strong></div>
                    <input type="button" class="button yellowbutton fl mr10" value="Купить" />
                </div>
            </div>
            
            <div class="wishline">
                <div class="photo"><a href=""><img src="images/photo31.jpg" alt="" width="120" height="120" /></a></div>
                <div class="whishinfo">
                    <div class="breadcrumbs"><a href="">Электроника</a> &gt; <a href="">Мобильные телефоны</a></div>
                    <div class="cb font16 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                    <div class="font16 pb10"><strong>31 190 <span class="rubl">p</span></strong></div>
                    <input type="button" class="button yellowbutton fl mr10" value="Купить" />
                </div>
            </div>
            
            <div class="wishline">
                <div class="photo"><a href=""><img src="images/photo33.jpg" alt="" width="120" height="120" /></a></div>
                <div class="whishinfo">
                    <div class="breadcrumbs"><a href="">Электроника</a> &gt; <a href="">Мобильные телефоны</a></div>
                    <div class="cb font16 pb5"><a href="">Смартфон Samsung Galaxy S II (GT-I9100) 16 Гб</a></div>
                    <div class="font16 pb10"><strong>31 190 <span class="rubl">p</span></strong></div>
                    <input type="button" class="button yellowbutton fl mr10" value="Купить" />
                </div>
            </div>
    
    <div class="clear"></div>

</div>
</div>

<!-- Footer -->
            <div class="printfooter">
                <div class="fl font14">Ссылка на список:<br /><a href="">http://www.enter.ru/goods/534915.htm</a></div>
                <div class="headerright">
                    Заказ и консультации
                    <div class="vcard"><div class="tel"><span>(495)</span>555-66-77</div></div>
                </div>
            </div>
<!-- Footer -->            
</body>
</html>
