<div class="fltrBtn">
    <div class="fltrBtn_hd">
        <div class="fltrBtn_tggl js-productCategory-rootPage-brands-title"><span class="fltrBtn_tggl_tx">Популярные бренды</span></div>

        <div class="fltrBtn_hd_r js-productCategory-rootPage-brands-selectedBrandsWrapper">
            {{>product-category/rootPage/_selectedBrands}}
        </div>
    </div>

    <div class="fltrBtn_kit">
        {{#mainBrands}}
                <a href="{{url}}" class="fltrBtn_i {{#active}}act{{/active}} js-productCategory-rootPage-brands-link"><!--img class="fltrBtn_icon_img" src="{{imageUrl}}" alt="{{name}}" /-->
                <img class="fltrBtn_i_img" src="/styles/catalog/img/brand.png" alt="{{name}}" />
                <span class="fltrBtn_i_clsr">&#215;</span>
            </a>
        {{/mainBrands}}

        {{#otherBrandsCount}}
            <a class="fltrBtn_i fltrBtn_i-btn js-productCategory-rootPage-brands-else" href="#"><span class="fltrBtn_i_tx">{{showOtherBrandsText}}</span></a>

            <span class="js-productCategory-rootPage-brands-other" style="display: none;">
                {{#otherBrands}}
                    <a href="{{url}}" class="fltrBtn_i {{#active}}fltrBtn_icon-act{{/active}} js-productCategory-rootPage-brands-link">
                        <img class="fltrBtn_i_img" src="{{imageUrl}}" alt="{{name}}" />
                        <span class="fltrBtn_i_clsr">&#215;</span>
                    </a>
                {{/otherBrands}}
            </span>
        {{/otherBrandsCount}}
    </div>
</div>