<div>
    <h1><a href="#" class="js-productCategory-rootPage-brands-title">Популярные бренды</a></h1>

    <div class="js-productCategory-rootPage-brands-selectedBrandsWrapper">
        {{>product-category/rootPage/_selectedBrands}}
    </div>

    {{#mainBrands}}
        <a href="{{url}}" class="{{#active}}active{{/active}} js-productCategory-rootPage-brands-link"><img src="{{imageUrl}}" alt="{{name}}" /></a>
    {{/mainBrands}}

    <a class="js-productCategory-rootPage-brands-else" href="#">{{showOtherBrandsText}}</a>

    <div class="js-productCategory-rootPage-brands-other" style="display: none;">
        {{#otherBrands}}
            <a href="{{url}}" class="{{#active}}active{{/active}} js-productCategory-rootPage-brands-link"><img src="{{imageUrl}}" alt="{{name}}" /></a>
        {{/otherBrands}}
    </div>
</div>