<span>Выбраны {{selectedBrandsCount}} из {{brandsCount}}</span>

{{#selectedBrandsCount}}
    <a href="#" class="js-productCategory-rootPage-selectedBrands-clear">Очистить</a>
{{/selectedBrandsCount}}