<span class="fltrBtn_count">Выбраны {{selectedBrandsCount}} из {{brandsCount}}</span>

{{#selectedBrandsCount}}
    <span class="fltrBtn_clr js-productCategory-rootPage-selectedBrands-clear">
    	<span class="fltrBtn_clr_btn">&#215;</span>
    	<span class="fltrBtn_clr_tx">Очистить</span>
    </span>
{{/selectedBrandsCount}}