.order-disount {
    &__title {
        margin: 0 0 8px;

        cursor: pointer;
    }
    &__it {
        line-height: 31px;

        width: 125px;
        height: 30px;
        margin: 0 10px 10px 0;

        text-align: center;

        .inline-block(middle);
    }
    &-pin {
        .inline-block(middle);
        &__label {
            margin: 0 2px 10px 0;

            .inline-block(middle);
            .font-size14(12);
        }
        &__it {
            width: 45px;
        }
    }
    &__btn {
        line-height: 31px;

        height: 30px;
        padding: 0 26px;

        .font-size14(14);
    }
    &__error {
        margin-bottom: 5px;

        color: yellow;
    }
}