.order-warning {
    line-height: 1.2;

    position: relative;

    margin: 5px 0 0;
    padding-left: 30px;

    color: #6f7173;

    .font-face('GloberRegular');
    .inline-block();
    &:before {
        position: absolute;
        bottom: 5px;
        left: 0;

        width: 23px;
        height: 19px;

        content: '';

        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAATCAYAAAB7u5a2AAABRElEQVR4Aa2TA4ilURzF7zpz7dxm13rTy02uyWPt2J5cL4xtm2E8YWwzW2P7zHeeze/U6fbXr9uFcFTIEI/hLwq4CrmFABEowcFVXnCoeCVB9wnnyljOXVcQrDVjecDB4ocEvMd6P3B7A/RkgDHz7oFbxBMEiCXuFhuDAKCFg3nW3TmOcN1RLHUDVFuc4fGEu3ocbxEgjnSgmUaAavhvCD9in/Nwf1FPgM5jFQBV5c3Y0PXOgQPFPxMAMJIHUKWepnCw39EdP0OAWDcD9ClBId/DHK7uf+YIPFYyzNwcCZzuAcpf6tjcsfZ+4kf4i1PJMHPaNyBLAcS+twY/5bytp9dqZRBY7ASFjgRrcHDe2nEoJMOqp+vVP7QpnLEtK0yP4wUCxA6L7poc8gyPI4UFuUye9k1/lYJzmeHn5HLXPUzIbXIfAC8eVHfo8yiPAAAAAElFTkSuQmCC');
    }
}