/* ==========================================================================
   Подвал сайта .footer .socLink .publicInfoList .publicInfoText .footerCopy
   ========================================================================== */

.footer {
	padding: 15px 0 0;

	border-top: 1px solid @tabGreyBorder;
	background: @tabGrey;
}

.aboutList {
	float: left;

	margin: 6px 0 0;

	&__item {
		display: inline-block;
		zoom: 1;

		margin-right: 20px;

		vertical-align: top;

		*display: inline;
	}
}

.socLink {
	float: right;

	margin: 0 0 15px;

	font-size: 0;

	&__item {
		display: inline-block;
		zoom: 1;

		width: 26px;
		height: 26px;
		margin-right: 5px;

		vertical-align: top;
		vertical-align: top;

		color: #515151;
		background: url("@{base-url}/footer/img/socialicon.png") no-repeat 0 0;

		*display: inline;

		&.mTw {
			background-position: -27px 0;
		} 

		&.mVk {
			background-position: -54px 0;
		}

		&.mYt {
			background-position: -81px 0;
		}
	}

	&__link {
		display: block;

		width: 26px;
		height: 26px;
	}
}

.publicInfoList {
	clear: both;

	margin: 0 0 20px;

	&__item {
		display: inline-block;
		zoom: 1;

		margin: 0 20px 0 0;

		vertical-align: top;

		*display: inline;
	}

	&__link {
		color: #5e5d5d;
	}
}

.appList {
	width: 550px;
	margin: 0 auto;

	text-align: center;

	&__item {
		float: left;

		//width: 18.0851%;
		margin-right: 15px;

		&-last {
			margin-right: 0;
		}

		img {
			.rounded(4px);
		}
	}
}

.publicInfoText {
	text-align: center;

	color: #8c8b8b;
}

.footerCopy {
	padding: 2px 0;

	background: @black;

	&__link {
		float: right;

		color: @white;
	}
}