@media only screen and (max-width: 900px) {
	.socLink {
	    display: block;
	    float: none;
	    margin: 15px auto;
	    width: 125px;
	}

	.aboutList {
	    display: block;
	    text-align: center;

	    &__item {
			margin-right: 15px;
		}
	}

	.publicInfoList {
	    text-align: center;

	    &__item {
			margin-right: 15px;
		}
	}
}