<div class="bPromoCatalogSliderWrap_eSlide">
    <a class="bPromoCatalogSliderWrap_eSlideLink" href="<%=linkUrl%>">
        <img src="<%=imgUrl%>" alt="<%=title%>"/>
    </a>

    <div class="bPromoCatalogProducts clearfix">
    <% for( var i = 0; i < products.length; i++ ) { %>
        <div class="prodItem">
            <a href="<%= products[ i ].link %>" title="<%= products[ i ].name %>">

                <% if ( !products[ i ].isBuyable ) { %>
                <div class="bProductDescSticker">
                    <img src="/images/shild_sold_out.png" alt="Нет в наличии" />
                </div>
                <% } %>

                <div class="prodImg">
                    <img src="<%= products[ i ].image %>" alt="<%= products[ i ].name %>" />
                </div>
                
                <div class="prodDesc">
                    <div class="prodDesc__inner">
                        <div class="prodName"><%= products[ i ].name %></div>
                        <div class="prodPrice"><%= products[ i ].price %> <span class="rubl">p</span></div>
                    </div>
                </div> 
            </a>
        </div>
    <% } %>
    </div>
</div>