.custom-placeholder{
    position: absolute;
    bottom: 10px;
    left: 0;

    margin-left: 10px;

    font-size: 12px;
    color: #868686;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    &.top{
        bottom: 36px;
    }
}