.form-ctrl {
    &__group {
        position: relative;

        margin: 0 0 20px 0;
        &--inline {
            margin: 0 20px 20px 0;

            .inline-block();
            &:last-child {
                margin: 0 0 20px 0;
            }
        }
    }
    &__line{
        white-space: nowrap;
        font-size: 0;
    }
    &__inf {
        position: absolute;
        top: 8px;
        left: 275px;

        display: block;

        width: 19px;
        height: 19px;

        cursor: pointer;

        background: no-repeat 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAA5klEQVQoz41SQQ6CMBDsjR9445+8gW9xYNKDkegFUaIHuWk4aEIVHDcIpYCJTNJk225mZ3ZXKQvtI0CEAkZOhED7aorMQ6irnCUNGzklc+oKYeY5SckKcSqfYximRJysBqb4zN84S2LHiDB1Pho++HLuwhi2wnU1lLtwK6p2PPFtS+tKzCDIbdKVxy46SNwjJwKFqLQPN9676Chxj5KIFAozE/5gIhoHxygUTDNrxEYSXVMwP9j2TsGBzdH2xdq6dLU5Tnu/Y7ROx30ja+lZPSrZ9m06BcOYz/kUFs904YYs3rf/2/sB+Dc7oEscnqEAAAAASUVORK5CYII=);
    }
    &-err {
        position: absolute;
        bottom: 10px;
        left: 15px;

        color: @error;
    }
    &__input {
        line-height: 33px;

        position: relative;

        width: 300px;
        height: 35px;
        padding: 0 0 0 90px;

        border: 1px solid @input-border;

        .rounded(4px);
        .box-sizing();
        &-lbl {
            font-size: 12px;
            line-height: 33px;

            position: absolute;
            top: 0;
            left: 0;

            width: 80px;
            height: 35px;
            padding: 0 5px 0 12px;

            color: #363636;
            border: 1px solid @input-border;
            background-color: #efefef;

            .rounded(4px 0 0 4px);
            .box-sizing();
            .form-ctrl__input--err + & {
                line-height: 31px;

                color: @white;
                border: 2px solid @error;
                background: @error;
            }
            &--required {
                &:after {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20px;

                    position: absolute;
                    top: 2px;
                    left: 2px;

                    content: '*';

                    color: @orange-2;
                }
                .form-ctrl__input--err + & {
                    &:after {
                        color: @white;
                    }
                }
            }
        }
        &--err {
            line-height: 31px;

            padding: 0 3px 0 88px;

            border-width: 2px;
            border-color: @error;
        }
        &:not(.form-ctrl__input--err):focus ,
        &:not(.form-ctrl__input--err):focus + .form-ctrl__input-lbl {
            border-color: @input-focused-border;
        }
    }
    &__textarea {
        font-size: 14px;

        width: 608px;
        height: 63px;
        padding: 10px;

        resize: none;

        color: #363636;
        border: 1px solid @input-border;

        .rounded(3px);
        &-lbl {
            font-size: 12px;
            font-weight: bold;

            display: block;

            margin: 0 0 8px 0;

            color: #363636;
            &--err {
                font-size: 12px;

                position: absolute;
                top: 15px;
                left: 10px;

                display: none;

                padding: 0 3px;

                color: @error;
                background-color: @white;
            }
        }
        &--err {
            border-color: @error;
            & + .form-ctrl__textarea-lbl--err {
                display: block;
            }
        }
    }
    &__btn-container {
        margin: 20px 0 0;

        text-align: center;
    }
}
