.i-info {
    position: relative;

    display: block;
    &__tx {
        .inline-block-middle();
    }
    &__icon {
        margin-left: 2px;

        cursor: pointer;

        .inline-block-middle();
    }
    &-popup {
        position: absolute;
        z-index: 5;

        visibility: hidden;
        overflow: hidden;
        cursor: default;

        padding: 10px;

        border: 1px solid #c7c7c7;
        background: @white;

        .opacity(0);
        .transition(all .2s ease-out);
        .box-shadow(0 0 15px rgba(0, 0, 0, .4));
        &--open {
            visibility: visible;
            overflow: visible;

            .opacity(1);
        }
        &__inn {
            overflow: hidden;
        }
        &--best-price {
            top: 50px;
            right: 0;

            width: 250px;
        }
        &--action {
            right: -1px;
            bottom: 42px;

            width: 100%;
            padding: 0;

            text-align: center;
            &:after {
                right: 10px;
                bottom: -8px;

                .pseudo-class();
                .pseudo-corner-bottom(8px, #fff);
            }
            &:before {
                right: 8px;
                bottom: -10px;

                .pseudo-class();
                .pseudo-corner-bottom(10px, #c7c7c7);
            }
        }
    }
}

.action-hint {

    &__desc {
        padding: 10px;
        text-align: center;
    }

    &__img {
        display: block;
        max-width: 100%;
        margin: 0 auto 10px;
    }

    &__lk {
        color: #363636;
        border-bottom: 1px solid;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}