// сравнить в шапке
.btnCmpr {
    margin: 0 0 0 13px;

    &_lk {
        .inline-block();
		min-height: 18px;
        background: url("@{base-url}/btn/img/icon_compare.png") no-repeat 0 2px;
        padding: 0 0 4px 28px;

        &:hover {
        	text-decoration: none;
        }

        &-act {
        	background-position: 0 -31px;
        }
    }

    &_tx {
        border-bottom: 1px dotted;
        font-size: 14px;
    }

    &_more {
    	margin: 7px 0 0 28px;

		&_lk {
			.inline-block();
			text-decoration: underline;
			font-size: 14px;
			margin-right: 2px;
		}

		&_qn {
			background: none repeat scroll 0 0 #666;
			.rounded(4px);
		    color: @white;
		    .inline-block();
		    height: 20px;
		    line-height: 20px;
		    text-align: center;
		    width: 25px;
		}
    }
}
// сравнить в листингах
.btnCmprb {
	.inline-block();
	border: 1px solid #c7c7c7;
	.rounded(3px);
	background: url("@{base-url}/btn/img/icon_compare.png") no-repeat 3px -82px @white;
	height: 27px;
	width: 25px;

	&-act {
		background-position: 3px -58px;
		background-color: #fff5e0;
		border-color: #fb9c00;
	}
}

.btn-closer1 {
    .btn-closer();
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAm0lEQVQoz2NgQAI/Z8t4APEmIH4HxP+hNIjvwYAOgIJsQLwEqhAXBsmzIWsipAGuEdlJ/0nAHgxQN8MF/729///XpmQIf7ElhL/KH1nTJgYkT4MxSMO/z6/+/95ZAtbw+/hkdJveMWBzAkgDCPw5uxCrEzFsgjkJpAFkI9ypaDZh+AnmJJhTsfkJJfTQFGDw4RFNcjyRnSJITXsAyaCRVz4DvP0AAAAASUVORK5CYII=');
}

.btn-closer2 {
    .btn-closer();
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAQAAADY4iz3AAAAe0lEQVR4AX2QMQ4DIQwEXd3beOi9wJ/Y4oorKNJR5AFUKeg2SyxZQULHCtvSyGuwxUGBo4O6rtqmZjhwgotOHIESLPBnxa2KwaP8sCpeyncgN/RAlYMvgUaEuqWBAPkmUtklK4HBml1/s1rY5qx84c01ozz+63Eb0m6HX9UrCKn6mPj8AAAAAElFTkSuQmCC');
}

.btn-closer3 {
    .btn-closer();
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAQAAADY4iz3AAAAe0lEQVR4AYWQMQrDMAxFNeVsutTbO2f2GHoATxl7nS4mN/hV+NA0JaV+YBke+sIKH5LOQAw6Sezs18SCTixMVhbfslSiSzLofj7VhG5VZ6seDKumTfcSqzAjEKaE9BBv3OWoEpva0XXMWh37MSutZp0r+fNff7ZhLnb4Atzh3EEGE5V0AAAAAElFTkSuQmCC');
}

// белая (посмотреть)
.btn1 {
    .rounded(4px);
    .box-sizing();
    .inline-block();
    padding: 0 10px;

    text-align: center;
    vertical-align: top;

    border: 1px solid @lightgrey-2;
    background: @white;

    &:disabled {
        .opacity(0.6);
        color: @lightgrey-5;
    }

    &:hover {
        text-decoration: none;
    }
}

// светло-серая (старая посмотреть)
.btn2 {
    .grayGradDark();
    .rounded(4px);
    .inline-block();
    padding: 5px 10px;

    text-align: center;
    text-decoration: none;

    color: @black;
    border: 1px solid @lightgreyBr;
}

// оранжевая (оформить заказ)
.btn3 {
    .rounded(4px);
    padding: 0 15px;

    color: @white;
    border: 1px solid #ff6c00;
    background: @submitBg;
}
// закрывашка попапов
.clsr2 {
    background: url("/styles/popup/img/closer.gif") no-repeat 50% 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}