.btnCmpr {
    margin: 0 0 0 13px;

    &_lk {
        .inline-block();
		min-height: 18px;
        background: url("@{base-url}/btn/img/icon_compare.png") no-repeat 0 2px;
        padding: 0 0 4px 28px;

        &:hover {
        	text-decoration: none;
        }

        &-act {
        	background-position: 0 -31px;
        }
    }

    &_tx {
        border-bottom: 1px dotted;
        font-size: 14px;
    }

    &_more {
    	margin: 7px 0 0 28px;

		&_lk {
			.inline-block();
			text-decoration: underline;
			font-size: 14px;
			margin-right: 2px;
		}

		&_qn {
			background: none repeat scroll 0 0 #666;
			.rounded(4px);
		    color: @white;
		    .inline-block();
		    height: 20px;
		    line-height: 20px;
		    text-align: center;
		    width: 25px;
		}
    }
}

.btnCmprb {
	.inline-block();
	border: 1px solid #c7c7c7;
	.rounded(3px);
	background: url("@{base-url}/btn/img/icon_compare.png") no-repeat 3px -82px @white;
	height: 25px;
	width: 25px;

	&-act {
		background-position: 3px -58px;
		background-color: #fff5e0;
		border-color: #fb9c00;
	}
}

.btn-closer1 {
	.btn-closer();
}

.btn-closer2 {
	.btn-closer(13px, 13px, #c7c7c7, @white, 12px, 12px);
}

.btn-closer3 {
	.btn-closer(13px, 13px, #7d7d7d, @white, 12px, 12px);
}