.button-container {
	text-align: center;
}

.button {
	.rounded(3px);
	padding: 0 20px;
	border: none;
	.inline-block(top);
	font-weight: normal;
	text-align: center;
	
	&_action {
		background: #f99b1c;
		color: @white;
	}

	&_size-xs {

	}

	&_size-s {

	}

	&_size-m {
		font-size: 18px;
		height: 35px;
		line-height: 35px;
	}

	&_size-l {
		height: 45px;
		line-height: 45px;
		padding: 0 30px;
		font-size: 22px;
	}

	&:hover {
		text-decoration: none;
	}
}