@full-size: 100%;
.main{
    background: @white;
    .wrapper{
        width: 960px;
        padding: 0;
    }
}

.content{
    padding: 0 0 214px;
}

.i-shopInfo{
    background-image: url('@{base-url}/index/img/i-delivery.png');
    &-delivery{
        .sprite-temp(0, 0, 33px, 33px);
    }
    &-deliveryself{
        .sprite-temp(-33px, 0, 33px, 33px);
    }
    &-payment{
        .sprite-temp(0, -33px, 33px, 33px);
    }
    &-wow{
        .sprite-temp(-33px, -33px, 33px, 33px);
    }
}

.i-shopinfo{
    background-image: url('@{base-url}/index/img/i-shopinfo.png');
    &-delivery1{
        .sprite-temp(-10px, -10px, 101px, 87px);
    }
    &-delivery2{
        .sprite-temp(-131px, -10px, 100px, 64px);
    }
    &-delivery3{
        .sprite-temp(-160px, -106px, 120px, 113px);
    }
    &-delivery4{
        .sprite-temp(-10px, -227px, 87px, 88px);
    }
    &-payment1{
        .sprite-temp(-117px, -227px, 88px, 72px);
    }
    &-payment2{
        .sprite-temp(-251px, -10px, 92px, 64px);
    }
    &-payment3{
        .sprite-temp(-225px, -227px, 62px, 78px);
    }
    &-payment4{
        .sprite-temp(-363px, -10px, 67px, 77px);
    }
    &-payment5{
        .sprite-temp(-339px, -107px, 60px, 77px);
    }
    &-selfdelivery1{
        .sprite-temp(-339px, -204px, 86px, 72px);
    }
    &-selfdelivery2{
        .sprite-temp(-307px, -296px, 76px, 68px);
    }
    &-selfdelivery3{
        .sprite-temp(-10px, -384px, 85px, 54px);
    }
    &-selfdelivery4{
        .sprite-temp(-115px, -384px, 60px, 60px);
    }
}

// слайдер вертикальный
.slidesbnnr{
    position: relative;

    overflow: hidden;

    height: 299px;

    border: 1px solid #c7c7c7;
    border-top: none;
    &_lst{
        position: relative;
        top: 0;
    }
    &_img{
        display: block;
    }
    &_lk{
        display: block;
    }
    &_thmbs{
        position: absolute;
        top: 5px;
        right: 5px;
        &_i{
            margin: 0 0 3px;
        }
        &_img{
            display: block;
            overflow: hidden;

            width: 83px;
            height: 53px;

            cursor: pointer;

            border: 1px solid transparent;

            .opacity(.6);
            .rounded(3px);
            .transition(all .3s ease-out);
            &-act
            ,
            &:hover{
                border-color: @white;

                .opacity(1);
            }
        }
    }
}

@shopInfo-item-width: 235px;
.shopInfo{
    margin: 15px 10px;
    &_i{
        float: left;

        width: 205px;
        height: 35px;
        margin: 0 8px;
        padding: 4px 6px;

        cursor: pointer;

        border: 1px dotted @black;
        &:last-child{
            margin-right: 0;
        }
    }
    &_r{
        .inline-block-middle();
    }
    &_l{
        margin: 0 2px 0 0;

        .inline-block-middle();
    }
    &_tx{
        margin: 0;
    }
    &_tl{
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
    }
}

@shopInfoTab-corner-left: @shopInfo-item-width/2 - 40;
.shopInfoTab{
    position: relative;

    display: none;

    margin: 20px 0;
    padding: 15px 15px 20px;

    text-align: center;

    border: 1px solid @black;
    &:before{
        left: @shopInfoTab-corner-left;

        .pseudo-corner-top(12px, @black, -12px);
    }
    &:after{
        left: @shopInfoTab-corner-left + 2;

        .pseudo-corner-top(10px, @white, -10px);
    }
    &-v2{
        &:before{
            left: @shopInfo-item-width + @shopInfoTab-corner-left;
        }
        &:after{
            left: @shopInfo-item-width + @shopInfoTab-corner-left + 2;
        }
    }
    &-v3{
        &:before{
            left: 2*@shopInfo-item-width + @shopInfoTab-corner-left;
        }
        &:after{
            left: 2*@shopInfo-item-width + @shopInfoTab-corner-left + 2;
        }
    }
    &-v4{
        &:before{
            left: 3*@shopInfo-item-width + @shopInfoTab-corner-left;
        }
        &:after{
            left: 3*@shopInfo-item-width + @shopInfoTab-corner-left + 2;
        }
    }
    &_lst{
        width: @full-size;
        margin: 0 0 20px;

        .table();
    }
    &_i{
        vertical-align: top;

        .table-cell();
    }
    &_iconw{
        width: 120px;
        margin: 0 auto;
    }
    &_icon{
        overflow: hidden;

        width: 120px;
        height: 120px;

        text-align: center;
        vertical-align: middle;

        border: 1px solid @black;

        .rounded(50%);
        .table-cell();
    }
    &_tx{
        margin: 10px 0 0;

        text-align: center;
        text-transform: uppercase;
    }
    &_btn{
        font-size: 14px;
        line-height: 1;

        padding: 5px 20px;

        border: 1px solid @black;

        .rounded(3px);
        .inline-block();
        &:hover{
            text-decoration: none;
        }
    }
}


.slidesBox{
    border: 1px solid #c1d837;

    &-items{
        width: 473px;
        height: 533px;

        .inline-block();
        .slidesBox_inn{
            width: 473px;
            height: 483px;
        }
        .slidesBox_lst{
            width: 2000px;
        }
        .slidesBox_i{
            width: 473px;
            height: 483px;
            .item{
                float: left;

                width: 207px;
                margin: 7px 19px 0 10px;
            }
        }
    }
    &_h{
        height: 50px;

        text-align: center;

        background: #c1d837;
        &_c{
            height: 50px;
            margin: 0 20px;

            .inline-block-middle();
        }
    }
    &_t{
        font-size: 18px;

        margin: 5px 0;

        text-transform: uppercase;

        color: @white;

        .inline-block-middle();
    }
    &_btn{
        width: 10px;
        height: 22px;

        cursor: pointer;

        background-repeat: no-repeat;
        background-position: 0 0;

        .inline-block-middle();
        &-l{
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAoUlEQVQY02NgQAG/DP/t/SiEIvSY89+1f7+/y6EI/p3y7//fWhShP57//v87tooZSeiz6L/n/z79UEJR92/jv/9/ElG1pgK1rkER+qH678u/pyhO2c/y7+S/f79dUR3SBHRIP4rQd4V/f/5dvs2ORfA+B6p3IdonoAlitQjmpE/CaMJYHA/25gYMb0ID5DNagGANOngg16EJQqNDngFbxAEAZfV2DQiSf2EAAAAASUVORK5CYII=');
        }
        &-r{
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAj0lEQVQY02P4KPRv7y9DBlTwXf7f73/XHnOiCf+t+/f/7xQ0wVXM/479+//HE034h9K/z/+efxZFE/6T+O//v40M6ODfGqARqWiCn4T/Pf335YcqmvBv13///p3cz4LuuH6g45rQBO9z/Lv87893BcKCfydgaMdiEVYnYXE82JsbCAUI1qDDEshYowNbxAEA2ud2F3hMdY8AAAAASUVORK5CYII=');
        }
    }
    &_dott{
        line-height: 7px;

        cursor: pointer;
        &_i{
            font-size: 7px;
            line-height: 7px;

            width: 7px;
            height: 7px;
            margin: 0 1px;

            background: @white;

            .inline-block();
            .rounded(50%);
            .opacity(.5);
            &-act{
                .opacity(1);
            }
        }
    }
    &_inn{
        overflow: hidden;
    }
    &_lst{
        position: relative;
        left: 0;
    }
    &_i{
        float: left;
    }
    &-bg2{
        border-color: #49c7ed;
        .slidesBox_h{
            background: #49c7ed;
        }
    }
    &-bg3{
        border-color: #292929;
        .slidesBox_h{
            background: #292929;
        }
    }
    &-full{
        width: @full-size;

        .box-sizing();
        .slidesBox_t{
            text-transform: none;
        }
        .slidesBox_inn{
            height: 320px;
        }
        .slidesBox_lst{
            width: 2000px;
        }
        .slidesBox_i{
            position: relative;

            height: 320px;
        }
    }
    // превью товаров на слайдере
    &_items{
        position: absolute;
        bottom: 20px;

        width: @full-size;

        text-align: center;
        &_i{
            margin: 0 7px;
            padding: 5px;

            background: @white;

            .inline-block();
            .rounded(3px);
        }
        &_img{
            width: 50px;
            height: 50px;
        }
    }
    &_btnview{
        font-size: 14px;
        line-height: 1.2;

        position: absolute;
        right: 40px;
        bottom: 30px;

        padding: 5px 20px;

        text-align: center;

        color: @white;
        background: #292929;

        .opacity(.8);
        .rounded(3px);
        .transition(all .3s ease-out);
        &:hover{
            text-decoration: none;

            .opacity(.9);
        }
    }
}

.item{
    margin: 0 0 10px;
    &_imgw{
        display: block;

        text-align: center;
    }
    &_n{
        overflow: hidden;

        height: 34px;
        margin: 0 0 7px;
        a{
            &:hover{
                text-decoration: none;

                border-bottom: 1px solid #a0a0a0;
            }
        }
    }
    &_pr{
        font-size: 21px;
        line-height: 24px;

        .inline-block();
    }
    &_btn{
        font-size: 14px;

        float: right;
    }
}

.infoBox{
    margin: 0 20px 30px;
    &_tl{
        font-size: 18px;

        margin: 0 0 20px;

        text-transform: uppercase;
    }
}

.lstitem{
    margin: 0 0 20px;
    &_i{
        margin: 0 15px 10px 0;

        .inline-block-middle();
    }
    &-7i{
        .lstitem_i{
            display: block;
            float: left;

            width: @full-size/7;
            margin: 0;
        }
    }
    &-center{
        text-align: center;
        *{
            display: block;
        }
        .lstitem_img{
            width: 120px;
            margin: 0 0 10px;
        }
    }
    &_lk{
        font-size: 14px;
        &:hover{
            text-decoration: none;
            .lstitem_n{
                border-bottom: 1px solid #a0a0a0;
            }
        }
    }
    &_n{
        display: inline;
    }
}
