//слайдеры рекомендаций, новинок
@full-size: 100%;
.slidesBox {
    border: 1px solid #c1d837;
    margin: 0;

    &-items {
        width: 464px;
        height: 533px;

        .inline-block();
        .slidesBox_inn {
            width: 464px;
            height: 483px;
        }
        .slidesBox_i {
            width: 473px;
            height: 483px;
            .item {
                float: left;

                width: 207px;
                height: 230px;
                margin: 7px 19px 0 10px;
            }
        }
        &-l {
            float: left;
        }
        &-r {
            float: right;
        }
    }
    &_h {
        height: 50px;

        text-align: center;

        background: #c1d837;

        .noselect();
        &_c {
            height: 50px;
            margin: 0 20px;

            .inline-block-middle();
        }
    }
    &_t {
        font-size: 18px;
        height: 25px;
        max-width: 350px;
        overflow: hidden;

        margin: 5px 0;

        text-transform: uppercase;

        color: @white;

        .inline-block-middle();
        .noselect-undo();
    }
    &_btn {
        width: 10px;
        height: 22px;
        padding: 10px;

        cursor: pointer;

        background-repeat: no-repeat;
        background-position: 50%;

        .inline-block-middle();
        &-l {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAoUlEQVQY02NgQAG/DP/t/SiEIvSY89+1f7+/y6EI/p3y7//fWhShP57//v87tooZSeiz6L/n/z79UEJR92/jv/9/ElG1pgK1rkER+qH678u/pyhO2c/y7+S/f79dUR3SBHRIP4rQd4V/f/5dvs2ORfA+B6p3IdonoAlitQjmpE/CaMJYHA/25gYMb0ID5DNagGANOngg16EJQqNDngFbxAEAZfV2DQiSf2EAAAAASUVORK5CYII=');
        }
        &-r {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAj0lEQVQY02P4KPRv7y9DBlTwXf7f73/XHnOiCf+t+/f/7xQ0wVXM/479+//HE034h9K/z/+efxZFE/6T+O//v40M6ODfGqARqWiCn4T/Pf335YcqmvBv13///p3cz4LuuH6g45rQBO9z/Lv87893BcKCfydgaMdiEVYnYXE82JsbCAUI1qDDEshYowNbxAEA2ud2F3hMdY8AAAAASUVORK5CYII=');
        }
    }
    &_dott {
        line-height: 7px;
        &_i {
            font-size: 7px;
            line-height: 7px;

            width: 7px;
            height: 7px;
            margin: 0 1px;

            cursor: pointer;

            background: @white;

            .inline-block();
            .rounded(50%);
            .opacity(.5);
            &-act {
                .opacity(1);
            }
        }
    }
    &_inn {
        overflow: hidden;
    }
    &_lst {
        position: relative;
        left: 0;

        width: 7000px;

        .transition(all .2s ease);
    }
    &_i {
        float: left;

        background: @white;
    }

    &_img {
        display: block;
    }
    &-bg2 {
        border-color: @firmBlue;
        .slidesBox_h {
            background: @firmBlue;
        }
    }
    // слайдер новинок
    &-bg3 {
        border-color: @darkgrey4;
        .slidesBox_h {
            background: @darkgrey4;
        }
    }
    // слайдер во всю ширину страницы
    &-full {
        margin-left: -10px;
        margin-right: -10px;

        .box-sizing();
        .slidesBox_t {
            min-width: 320px;

            text-transform: none;
        }
        .slidesBox_i {
            position: relative;
        }
    }
    // слайдер - ВАМ БЫЛО ИНТЕРЕСНО
    &-intrested {
        margin-bottom: 30px;

        border: none;
        background: #f2f2f2;


        .slidesBox_h {
            background: #d7d7d7;
        }
        .slidesBox_t {
            color: #363636;
        }
        .slidesBox_inn {
            box-sizing: border-box;
            padding: 25px 20px;
        }
        .slidesBox_dott_i {
            background: @white;
            &-act {
                background: #363636;
            }
        }
        .slidesBox_btn-l {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAYAAAD5Jg1dAAAA2UlEQVR4AY3TtVkAQRAFYFxCLMLddd/bbQDtAu0CLwDvAi+AEEuxCpAYifC5w2XmO7d/dWZTrA1Apyd3mpub81VUUlKSG4CzQD4458pUSGBF0Audm7CaHIiQJ/fkNf1f1NnZWSTgSuANySq1tgBsx02SQypiV9dYhASvqaijo6PWA3eCLqzpyBBwKPAZQI/eL3I27hcwbzVZIejRA8c1NTXZiWBFRUXO1x+j6eDcgsHMwdjT4xsaChRmTbiyeWBLCaGSFMCtkRRmmtmJK+ekCb8vBelOeeLF9QrDxFb02cqDfwAAAABJRU5ErkJggg==');
        }
        .slidesBox_btn-r {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAYAAAD5Jg1dAAAAwklEQVR4AWPQ1tYWMjM13WtiYmLIgA8YGhrKm5ua/jY3MbkmIyPDiVcxUGEdEP83NTGZwkAAMAOtPwZSDHSCJ16VpqamSkDrPwM1PAc6R5SQ4kSQqUANGxkIAaCiNWD3Ghml4lVopqEhDFT81MzE5IuBgYEqXsVAD7kCFf4DajgJ5LLgd6+JST/ICUDchFehgoICB9DUy0CFf4BOUKBcobmx8QSY1ZR4BjN4KAlwRBQCTdtAYaLATGaEEy7FWYHozAUAVpNW8G+jBSUAAAAASUVORK5CYII=');
        }
    }
    // превью товаров на слайдере
    &_items {
        position: absolute;
        bottom: 20px;

        width: @full-size;

        text-align: center;
        &_i {
            position: relative;

            margin: 0 7px;
            padding: 5px;

            background: @white;

            .inline-block();
            .opacity(.9);
            .rounded(3px);
            .transition(all .2s ease-in);
            &:hover {
                .opacity(1);
                .slideItem_flt {
                    top: 0;

                    overflow: visible;

                    .opacity(.9);
                }
            }
            .slideItem_flt {
                position: absolute;
                top: -10px;
            }
            .slideItem_flt_i {
                bottom: 5px;

                margin-left: -69px;
            }
        }
        &_img {
            display: block;

            width: 70px;
            height: 70px;
        }
    }
    &_btnview {
        font-size: 14px;
        line-height: 1.2;

        position: absolute;
        right: 40px;
        bottom: 20px;

        padding: 3px 25px 5px;

        text-align: center;

        color: @white;
        background: @darkgrey4;

        .opacity(.8);
        .rounded(3px);
        .transition(all .3s ease-out);
        &:hover {
            text-decoration: none;

            .opacity(.9);
        }
    }
}

.slider-goods-boxes {
    .clearfix();
    &__item {
        background: none;
        height: auto;
    }
    &__box {
        float: left;

        box-sizing: border-box;
        width: 220px;
        height: 340px;
        margin: 0 5px;
        padding: 10px;

        text-align: center;

        background: @white;

        .drop-shadow(0, 0, 6px, .1);
    }
    &__rating {
        margin: 0 0 10px;
        height: 13px;
    }
    &__link {
        display: block;

        margin: 0 0 10px;
        &-image {
            height: 150px;
            display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            .justify-content(center);
            .align-items(center);
            margin: 0 auto 10px;

            //-ms-flex: positive-flex;

           /* -webkit-box-flex: 1;   !* OLD - iOS 6-, Safari 3.1-6 *!
            //width: 20%;            !* For old syntax, otherwise collapses. *!
            -webkit-flex: 1;       !* Safari 6.1+. iOS 7.1+, BB10 *!
            -ms-flex: 1;           !* IE 10 *!
            flex: 1;               !* NEW, Spec - Firefox, Chrome, Opera *!
*/

            .image {
                max-width: 150px;
                max-height: 100%;
            }
        }
        &-name {
            overflow: hidden;

            height: 31px;

            .inline-block(top);
        }
    }
    &__price {
        margin: 0 0 20px;
        &-current {
            font-size: 20px;

            margin-right: 5px;

            .inline-block(middle);
        }
        &-old {
            font-size: 14px;

            color: #868686;

            .inline-block(middle);
        }
    }
}
