//слайдеры рекомендаций, новинок
@full-size: 100%;
.slidesBox {
	border: 1px solid #c1d837;
	&-items {
		height: 533px;
		width: 473px;
		.inline-block();

		.slidesBox_inn {
			width: 473px;
			height: 483px;
		}

		.slidesBox_lst {
			width: 2000px;
		}

		.slidesBox_i {
			width: 473px;
			height: 483px;

			.item {
			    float: left;
			    margin: 7px 19px 0 10px;
			    width: 207px;
			}
		}
	}
	&_h {
		background: #c1d837;
		text-align: center;
		height: 50px;
		&_c {
			.inline-block-middle();
			margin: 0 20px;
			height: 50px;
		}
	}
	&_t {
		font-size: 18px;
		text-transform: uppercase;
		.inline-block-middle();
		color: @white;
		margin: 5px 0;
	}
	&_btn {
		.inline-block-middle();
		width: 10px;
		height: 22px;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: 0 0;
		&-l {
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAoUlEQVQY02NgQAG/DP/t/SiEIvSY89+1f7+/y6EI/p3y7//fWhShP57//v87tooZSeiz6L/n/z79UEJR92/jv/9/ElG1pgK1rkER+qH678u/pyhO2c/y7+S/f79dUR3SBHRIP4rQd4V/f/5dvs2ORfA+B6p3IdonoAlitQjmpE/CaMJYHA/25gYMb0ID5DNagGANOngg16EJQqNDngFbxAEAZfV2DQiSf2EAAAAASUVORK5CYII=");
		}
		&-r {
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAAj0lEQVQY02P4KPRv7y9DBlTwXf7f73/XHnOiCf+t+/f/7xQ0wVXM/479+//HE034h9K/z/+efxZFE/6T+O//v40M6ODfGqARqWiCn4T/Pf335YcqmvBv13///p3cz4LuuH6g45rQBO9z/Lv87893BcKCfydgaMdiEVYnYXE82JsbCAUI1qDDEshYowNbxAEA2ud2F3hMdY8AAAAASUVORK5CYII=");
		}
	}
	&_dott {
		line-height: 7px;
		cursor: pointer;
		&_i {
			.inline-block();
			width: 7px;
			height: 7px;
			.rounded(50%);
			background: @white;
			.opacity(0.5);
			margin: 0 1px;
			font-size: 7px;
			line-height: 7px;
			&-act {
				.opacity(1);
			}
		}
	}
	&_inn {
		overflow: hidden;
	}
	&_lst {
		position: relative;
		left: 0;
	}
	&_i {
		float: left;
	}
	&-bg2 {
		border-color: @firmBlue;
		.slidesBox_h {
			background: @firmBlue;
		}
	}
	// слайдер новинок
	&-bg3 {
		border-color: @darkgrey4;
		.slidesBox_h {
			background: @darkgrey4;
		}
	}
	// слайдер во всю ширину страницы
	&-full {
		width: @full-size;
		.box-sizing();

		.slidesBox_t {
			text-transform: none;
		}

		.slidesBox_inn {
			height: 320px;
		}

		.slidesBox_lst {
			width: 2000px;
		}

		.slidesBox_i {
			height: 320px;
			position: relative;
		}
	}

	// превью товаров на слайдере
	&_items {
		position: absolute;
		width: @full-size;
		text-align: center;
		bottom: 20px;

		&_i {
			.inline-block();
			background: @white;
			.rounded(3px);
			padding: 5px;
			margin: 0 7px;
		}

		&_img {
			width: 50px;
			height: 50px;
		}
	}

	&_btnview {
		background: @darkgrey4;
		.opacity(0.8);
		.rounded(3px);
		color: @white;
		font-size: 14px;
		line-height: 1.2;
		text-align: center;
		padding: 5px 20px;
		position: absolute;
		right: 40px;
		bottom: 30px;
		.transition(all .3s ease-out);
		&:hover {
			.opacity(0.9);
			text-decoration: none;
		}
	}
}