// слайдер баннеров
.slidesbnnr{
    position: relative;

    overflow: hidden;

    height: 300px;

    border: 1px solid @darkgrey3;
    border-top: none;
    &_lst{
        position: relative;
        top: 0;
    }
    &_img{
        display: block;
    }
    &_lk{
        display: block;
    }
    &_thmbs{
        position: absolute;
        top: 5px;
        right: 5px;
        &_i{
            margin: 0 0 6px;
            background: @white;
            .rounded(3px);
            width: 83px;
            height: 53px;
        }
        &_img{
            display: block;
            overflow: hidden;

            width: 83px;
            height: 53px;

            cursor: pointer;

            .opacity(.6);
            .rounded(3px);
            &-act,
            &:hover{
                border: 1px solid @white;
                position: relative;
                top: -1px;
                left: -1px;

                .opacity(1);
            }
        }
    }
}
