.tchiboProducts {

	.productInner {
		z-index: 98;

		&:hover {
			z-index: 100;
		}

		.bProductDescSticker {
			z-index: 102;
			top: 5px;
    		left: 5px;
		}

		&__hover {
		    width: 98%;

			&:hover {
				z-index: 100;
				.box-shadow(0 0 3px rgba(0,0,0,0.5));
				background: @white;

				.bBtnLine,
				.bOptionsSection {
					display: block;
				}
			}
		}

		&__imgBox {
			width: 100%;
			text-align: center;
		}

		&__imgLink {
			display: table-cell;
			vertical-align: middle;
		}

		&__img {
			width: 70%;
			height: auto;
			vertical-align: middle;
		}

		&__desc {
			width: 100%;
			background: @white;
			background: rgba(255, 255, 255, 0.5);
		    margin: -20px 0 0;
		    position: relative;

			padding: 5px 0 5px;

			.inner {
				width: 200px;
				margin: 0 auto;
				padding: 0;
			}

			.name {
				margin: 0 10px 2px 0;
				font-size: 14px;
				display: block;
				overflow: hidden;
			}

			.price {
				font-size: 18px;
				font-weight: bold;
				float: left;
			}

			.bOptions {
				background-image: url("@{base-url}/tchiboProducts/img/options.png");
			}

			.bBtnLine {
				margin-top: 5px;

				.btnBuy {
					height: 22px;

					.btnBuy__eLink {
						.orangeGradLight();
						border-color: #002958;

						&.mBought {
						    background: none repeat scroll 0 0 #E6E6E6;
						    border: 1px solid #E6E6E6;
						    box-shadow: none;
						    color: #A6A6A6;
						    cursor: default;
						}

						&.mDisabled {
						    background: none repeat scroll 0 0 #F1F0F0;
						    border: 1px solid #F1F0F0;
						    box-shadow: none;
						    color: #CBCBCB;
						    cursor: default;
						}

						&.mShopsOnly {
						    .blackGrad();
						    border: 1px solid #A1A1A1;
						    display: inline-block;
						    vertical-align: top;
						}
					}
				}

				.btnBuy__eLink {
					width: 70px;
					height: 22px;
					font-size: 13px;
					line-height: 22px;

					&.mDisabled {
						width: 100px;
					}
				}

				.btnView {
					height: 22px;
					font-size: 13px;
					line-height: 22px;
				}
			}

			.bOptionsSection {
				margin-top: 8px;

				.bCorner {
					border-width: 7px;
					top: -7px;
				}

				.bCornerDark {
					border-width: 8px;
					top: -8px;
				}
			}
		}
	}
}