.tchiboProducts {

	.productInner {
		z-index: 98;

		&:hover {
			z-index: 100;

			.bBtnLine,
			.bOptionsSection {
				display: block;
			}

			.productInner__hover {
				.box-shadow(0 0 4px rgba(0,0,0,0.5));
				.rounded(4px);
				background: @white;
			}
		}

		&__hover {
			display: block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    overflow: hidden;
		    width: 98%;

			&:hover {
				z-index: 100;

				padding: 5px;

				left: -5px;
				top: -5px;
			}
		}

		&__imgBox {
			//position: absolute;
			width: 100%;
			//height: 100%;
			//top: 0;
			//left: 0;
			text-align: center;

			margin: 10px 0;

			//vertical-align: middle;
			//display: table;
		}

		&__imgLink {
			display: table-cell;
			vertical-align: middle;
		}

		&__img {
			width: 70%;
			height: auto;
			vertical-align: middle;
		}

		&__desc {
			//background: url("@{base-url}/tchiboNavSlider/img/bgWhiteIe.png");
			width: 100%;
			// position: absolute;
			// left: 0;
			// bottom: 0;
			padding: 5px 0 5px;

			.inner {
				width: 200px;
				margin: 0 auto;
				padding: 0;
			}

			.name {
				margin: 0 10px 2px 0;
				font-size: 14px;
				display: block;
				overflow: hidden;
			}

			.price {
				font-size: 18px;
				font-weight: bold;
				float: left;
			}

			.bOptions {
				background-image: url("@{base-url}/tchiboProducts/img/options.png");
			}

			.bBtnLine {
				margin-top: 5px;

				.btnBuy {
					height: 22px;

					.btnBuy__eLink {
						.orangeGradLight();
						border-color: #002958;

						&.mBought {
						    background: none repeat scroll 0 0 #E6E6E6;
						    border: 1px solid #E6E6E6;
						    box-shadow: none;
						    color: #A6A6A6;
						    cursor: default;
						}
					}
				}

				.btnBuy__eLink {
					width: 70px;
					height: 22px;
					font-size: 13px;
					line-height: 22px;

					&.mDisabled {
						width: 100px;
					}
				}

				.btnView {
					height: 22px;
					font-size: 13px;
					line-height: 22px;
				}
			}

			.bOptionsSection {
				margin-top: 8px;

				.bCorner {
					border-width: 7px;
					top: -7px;
				}

				.bCornerDark {
					border-width: 8px;
					top: -8px;
				}
			}
		}
	}
}