<div class="navHead">
    <div class="navHead_col navIco"><span class="navIco_link"></span></div>
    
    <a class="navHead_col navHead_col-ico" href="/">
        <img class="navHead_icoImg" src="/v2/css/modules/header/img/logo.gif" />
    </a>

    <span class="navHead_col navHead_col-text jsSelectCity">Москва</span>
</div>

<ul class="navList">
    {{#elements}}
        <li class="navList_item">
            <span class="navList_text">
                <span class="navListIco" style="{{style}}"></span>
                <span class="navListName">{{name}}</span>
            </span>

            {{>partial/main-menu/level-2}}
        </li>
    {{/elements}}
</ul>
