<ul class="navList">
    {{#elements}}
        <li class="navList_item">
            <span class="navList_text">
                <span class="navListIco"{{#style}} style="{{style}}"{{/style}}>
                    {{char}}
                    {{#image}}<img src="{{image}}" />{{/image}}
                </span>
                <span class="navListName">{{&name}}</span>
            </span>

            {{>partial/main-menu/level-2}}
        </li>
    {{/elements}}
</ul>
