
{{#delivery}}
    <ul class="bDelivery">
        {{#standart}}
            <li class="bDelivery__eItem mDeliveryPrice">
                {{#isPriceEqualZero}}
                    <span><span class="bJustText">Доставка</span> <strong>бесплатно</strong></span>
                {{/isPriceEqualZero}}

                {{^isPriceEqualZero}}
                    <span><span class="bJustText">Доставка</span> <strong>{{price}}</strong> <span class="rubl">p</span></span>
                {{/isPriceEqualZero}}

                {{#date.name}}
                    <div class="bJustText">{{date.name}}</div>
                {{/date.name}}
            </li>
        {{/standart}}


        {{#self}}
            <li class="bDelivery__eItem mDeliveryFree">
                {{#isPriceEqualZero}}
                    <span><span class="bJustText">Самовывоз</span> <strong>бесплатно</strong></span>
                {{/isPriceEqualZero}}

                {{#isPriceNaN}}
                    <span><span class="bJustText">Самовывоз</span> <strong>{{price}}</strong> </span>
                {{/isPriceNaN}}

                {{^isPriceEqualZero}}
                    {{^isPriceNaN}}
                        <span><span class="bJustText">Самовывоз</span> <strong>{{price}}</strong> <span class="rubl">p</span></span>
                    {{/isPriceNaN}}
                {{/isPriceEqualZero}}

                {{#date.name}}
                    <div class="bJustText">{{date.name}}</div>
                {{/date.name}}
            </li>
        {{/self}}


        {{#now}}
            <li class="bDelivery__eItem mDeliveryNow{{#isInShopOnly}} mOpen{{/isInShopOnly}}{{^isInShopOnly}} mClose{{/isInShopOnly}}" style="display: list-item;">
                <span class="bDeliveryNowClick dotted">Сегодня есть в магазинах</span>

                <div class="{{^isInShopOnly}} hf{{/isInShopOnly}}">Cегодня, без предзаказа</div>
                <ul class="bDeliveryFreeAddress">
                    {{#shop}}
                        <li class="bDeliveryFreeAddress__eShop">
                            <a class="bDeliveryFreeAddress__eLink" data-lat="{{latitude}}" data-lng="{{longitude}}" href="{{url}}">{{name}}</a>
                        </li>
                    {{/shop}}
                </ul>
            </li>
        {{/now}}
    </ul>
{{/delivery}}