<!--noindex-->
{{#delivery}}
    <ul class="bDelivery">
        {{#standart}}
            <li class="bDelivery__eItem mDeliveryPrice">
                {{#isPriceEqualZero}}
                    <span><span class="bJustText">Доставка</span> <strong>бесплатно</strong></span>
                {{/isPriceEqualZero}}

                {{^isPriceEqualZero}}
                    <span><span class="bJustText">Доставка</span> <strong>{{&price}}</strong>&nbsp;<span class="rubl">p</span></span>
                {{/isPriceEqualZero}}

                {{#date.name}}
                    <div class="bJustText">{{date.name}}</div>
                {{/date.name}}
            </li>
        {{/standart}}


        {{#self}}
            <li class="bDelivery__eItem mDeliveryFree">
                {{#isPriceEqualZero}}
                    <span><span class="bJustText">Самовывоз</span> <strong>бесплатно</strong></span>
                {{/isPriceEqualZero}}

                {{#isPriceNaN}}
                    <span><span class="bJustText">Самовывоз</span> <strong>{{&price}}</strong> </span>
                {{/isPriceNaN}}

                {{^isPriceEqualZero}}
                    {{^isPriceNaN}}
                        <span><span class="bJustText">Самовывоз</span> <strong>{{&price}}</strong>&nbsp;<span class="rubl">p</span></span>
                    {{/isPriceNaN}}
                {{/isPriceEqualZero}}

                {{#ab_paid_delivery}}
                    {{^isOnlyFromPartner}}
                    <div class="bJustText">для заказов от {{limit}}&nbsp;<span class="rubl">p</span></div>
                    {{/isOnlyFromPartner}}
                {{/ab_paid_delivery}}

                {{#date.name}}
                    <div class="bJustText">{{date.name}}</div>
                {{/date.name}}

                {{^isOnlyFromPartner}}
                    В любом магазине ENTER
                {{/isOnlyFromPartner}}
            </li>
        {{/self}}


        {{#pickpoint}}
            <li class="bDelivery__eItem mDeliveryPrice">
                {{#isPriceEqualZero}}
                    <span><span class="bJustText">Самостоятельно забрать в постамате PickPoint</span> <strong>бесплатно</strong></span>
                {{/isPriceEqualZero}}

                {{^isPriceEqualZero}}
                    <span><span class="bJustText">Самостоятельно забрать в постамате PickPoint</span> <strong>{{&price}}</strong>&nbsp;<span class="rubl">p</span></span>
                {{/isPriceEqualZero}}

                {{#date.name}}
                    <div class="bJustText">{{date.name}}</div>
                {{/date.name}}
            </li>
        {{/pickpoint}}
    </ul>
{{/delivery}}
<!--/noindex-->