<div class="btnOneClickBuy">
    <a href="{{ url }}"
       id="{{ id }}"
       class="btnOneClickBuy__eLink {{ class }}"
       data-product-ui="{{ productUi }}"
       {{# shop }}      data-shop="{{ shop }}" {{/ shop }}
       {{# sender }}    data-sender="{{ sender }}" {{/sender}}
       {{# sender2 }}   data-sender2="{{ sender2 }}"{{/sender2}}
        {{# location }}    data-location="{{ location }}" {{/location}}
            >{{ text }}</a>
</div>