<span class="id-favoriteButton-{{ui}}">
    <a
        href="{{url}}"
        class="jsFavoriteLink product-card-tools__lk{{#isInFavorite}} product-card-tools__lk--active{{/isInFavorite}}"
        data-ajax="true"
    >
        <i class="product-card-tools__icon i-tools-icon i-tools-icon--wish"></i>
        <span class="product-card-tools__tx">{{text}}</span>
    </a>
</span>