<!-- Блок отзыввов -->
<div class="bSimplyDescReviews">
    <div class="bSimplyDescReviews__eStars">
    {{#stars}}
        <img class="bSimplyDescReviews__eStarsImg" src="{{image}}">
    {{/stars}}
    </div>

    <div class="bSimplyDescReviews__eLink"><span>({{count}})</span></div>
</div>
<!--/ Блок отзыввов -->
