<li data-product="{&quot;article&quot;:&quot;457-1460&quot;,&quot;name&quot;:&quot;\u0421\u0443\u0448\u0438\u043b\u044c\u043d\u0430\u044f \u043c\u0430\u0448\u0438\u043d\u0430 Siemens WT46S515OE&quot;,&quot;isUpsale&quot;:false}" data-category="slider-53426f386d066-category-3789" class="bSlider__eItem jsSliderItem" style="display: list-item;">
    <div class="product__inner">
        <a href="/product/appliances/sushilnaya-mashina-siemens-wt46s515oe-2020201002755?sender=enter|40489" class="productImg"><img alt="Сушильная машина Siemens WT46S515OE" src="http://fs10.enter.ru/1/1/120/d3/87292.jpg"></a>
        <div class="productName"><a href="/product/appliances/sushilnaya-mashina-siemens-wt46s515oe-2020201002755?sender=enter|40489">Сушильная машина Siemens WT46S515OE</a></div>
        <div class="productPrice"><span class="price">29 090 <span class="rubl">p</span></span></div>

        <div class="bWidgetBuy__eBuy btnBuy">
            <a data-upsale="{&quot;url&quot;:&quot;\/ajax\/upsale\/40489&quot;,&quot;fromUpsale&quot;:false}" data-group="40489" class="id-cartButton-product-40489 btnBuy__eLink jsBuyButton" href="/cart/add-product/40489">Купить</a>
        </div>

    </div>
</li>