<div style="float: left; width: 33%">
    <p>Префикс: {{prefix}}</p>
    <p>URL: <a href="{{link}}">{{webname}}</a></p>
    <p>Цена: {{price}}</p>
    <img src="{{image}}" />
    <p><a href="#" data-id="{{id}}" class="jsGetSmartChoiceByProductId">Похожие товары</a></p>
</div>

