<div class="js-listing-variation" data-variation-id="{{id}}">
    {{^values.0}}
        <a href="#" class="listing-variations__val js-listing-variation-link">{{lowerName}}</a>
    {{/values.0}}

    {{#values.0}}
        {{lowerName}}
    {{/values.0}}

    <div class="js-listing-variation-item">
        <span class="js-listing-variation-item-opener js-listing-variation-item-title"></span>
        <ul>
            {{#values}}
                <li><label><input type="radio" name="variation[{{variation.product.ui}}][{{id}}]" data-product-id="{{product.id}}" data-product-ui="{{product.ui}}" {{#checked}}checked="checked"{{/checked}} /> {{name}}</label></li>
            {{/values}}
        </ul>
    </div>
</div>