/* ==========================================================================
   Табы подробностей о товаре .productDescTab
   ========================================================================== */
   
.productDescTab {
	display: table;
	border-top: 1px solid @tabGreyBorder;
	width: 100%;
	margin: 0 0 30px;

	&__item {
		display: table-cell;
		text-align: center;
		border-right: 1px solid @tabGreyBorder;

		&-last {
			border-right: none;
		}
	}

	&__link {
		display: block;
		color: @tabGreyText;
		font-size: 20px;
		line-height: 44px;
		border-bottom: 1px solid @tabGreyBorder;
		background: @tabGrey;

		&:hover,
		&-active {
			background: @white;
			border-bottom: none;
			color: @darkGreyText;
			text-decoration: none;
		}
	}
}