.topbar {
  font-size: 14px;
  font-family:Tahoma, sans-serif;
  height: 25px;
  padding-top: 7px;
  position: relative;
  .bRegion, .usermenu {
    float:left;
    a {
      text-decoration: underline;
    }
     b {
      padding: 0px 10px;
    }
  }
  .usermenu {
    float: right;
  }
  .hBasket {
    background: url("@{base-url}/header/img/h_basket.png") no-repeat;
    padding: 9px 0px 3px 30px;
  }
}
.headerContactPhone{
  font-weight: bold;

  &__eTitle{
    margin: 0 5px 0 15px;
  }

  &__ePhones{
    margin: 0 15px 0 5px;
  }
}

// #extramenu-root{
//   &-80{
//     .corner{
//       //left: 154px;
//       left: 146px;
//     }
//   }
//   &-1{
//     .corner{
//       //left:212px;
//       left: 198px;
//     }
//   }
//   &-21{
//     .corner{
//       //left:279px;
//       left: 257px;
//     }
//   }
//   &-2545{
//     .corner{
//       left:326px;
//     }
//   }
//   &-443{
//     .corner{
//       //left:347px;
//       left: 392px;
//     }
//   }
//   &-320{
//     .corner{
//       //left:408px;
//       left: 445px;
//     }
//   }
//   &-1438{
//     .corner{
//       //left:467px;
//       left:503px;
//     }
//   }
//   &-224{
//     .corner{
//       //left:535px;
//       left: 556px;
//     }
//   }
//   &-788{
//     .corner{
//       //left:600px;
//       left: 617px;
//     }
//   }
//   &-923{
//     .corner{
//       //left:676px;
//       left: 683px;
//     }
//   }
//   &-647{
//     .corner{
//       //left:742px;
//       left: 743px;
//     }
//   }
//   &-185{
//     .corner{
//       //left:803px;
//       left:794px;
//     }
//   }
//   /*
//   &-311{
//     .corner{
//       left:858px;
//     }
//   }*/
//  &-225{
//     .corner{
//       left:856px;
//     }
//   }
// }