@headerSprite-url:"@{base-url}/header/img/headerSprite.png";
.topbar {
  font-size: 11px;
  height: 25px;
  padding-top: 7px;
  .bRegion {
    font-size: 14px;
    font-family:Tahoma, sans-serif;
    a {
      text-decoration: underline;
    }
     b {
      padding: 0px 10px;
    }
  }
  .usermenu {
    float: right;
  }
  .hBasket {
    background: url("@{base-url}/header/img/h_basket.png") no-repeat;
    padding: 9px 0px 3px 30px;
  }
}

#header {
  background: url("@{headerSprite-url}") no-repeat 0px -161px;
  height: 112px;
  margin: 10px 0px 20px;
  padding: 20px 22px 0px 0px;
  width: 910px;
  .bToplink {
    display: block;
    float: left;
    height: 71px;
    margin: 10px 0px 0px 18px;
  }
  .extramenu {
    background: #fff;
    .rounded(5px);
    border: 2px solid #ffa901;
   .box-shadow(0px 0px 7px #616161);
    left: 0px;
    position: absolute;
    text-align: left;
    top: 155px;
    width: 914px;
    z-index: 20;
  }
  #topmenu-root-80 {
    background: url("@{headerSprite-url}") no-repeat 0px 0px;
    width: 38px;
    &:hover {
      background-position: 0px -71px;
    }
  }
  #topmenu-root-1 {
    background: url("@{headerSprite-url}") no-repeat -38px 0px;
    width: 43px;
    &:hover {
      background-position: -38px -71px;
    }
  }
  #topmenu-root-21 {
    background: url("@{headerSprite-url}") no-repeat -81px 0px;
    width: 54px;
    &:hover {
      background-position: -81px -71px;
    }
  }
  #topmenu-root-443 {
    background: url("@{headerSprite-url}") no-repeat -135px 0px;
    width: 47px;
    &:hover {
      background-position: -135px -71px;
    }
  }
  #topmenu-root-320 {
    background: url("@{headerSprite-url}") no-repeat -182px 0px;
    width: 39px;
    &:hover {
      background-position: -182px -71px;
    }
  }
  #topmenu-root-1438 {
    background: url("@{headerSprite-url}") no-repeat -221px 0px;
    width: 54px;
    &:hover {
      background-position: -221px -71px;
    }
  }
  #topmenu-root-224 {
    background: url("@{headerSprite-url}") no-repeat -275px 0px;
    width: 34px;
    &:hover {
      background-position: -275px -71px;
    }
  }
  #topmenu-root-788 {
    background: url("@{headerSprite-url}") no-repeat -309px 0px;
    width: 61px;
    &:hover {
      background-position: -309px -71px;
    }
  }
  #topmenu-root-923 {
    background: url("@{headerSprite-url}") no-repeat -370px 0px;
    width: 54px;
    &:hover {
      background-position: -370px -71px;
    }
  }
  #topmenu-root-647 {
    background: url("@{headerSprite-url}") no-repeat -424px 0px;
    width: 43px;
    &:hover {
      background-position: -424px -71px;
    }
  }
  #topmenu-root-185{
    background: url("@{headerSprite-url}") no-repeat -467px 0px;
    width: 42px;
    &:hover {
      background-position: -467px -71px;
    }
  }
  #topmenu-root-311{
    background: url("@{headerSprite-url}") no-repeat -509px 0px;
    width: 41px;
    &:hover {
      background-position: -509px -71px;
    }
  }
  #topLogo{
    background: url("@{headerSprite-url}") no-repeat -683px 0;
    display: block;
    float: left;
    height: 91px;
    text-indent: -1000px;
    width: 130px;
  }
}

.extramenu{
  .corner{
    /* top: -14px;*/
    background: url("@{headerSprite-url}") no-repeat -897px 0;
    display: block;
    font-size: 0px;
    height: 15px;
    line-height: 0px;
    position: relative;
    top: -15px;
    width: 20px;
  }
  dl{
    float: left;
    margin: 8px 6px 12px 12px;
    overflow: hidden;
    width: 210px;
  }
  dt{
    font-size: 16px;
    padding: 10px 0px 5px;
  }
  dd{
    margin-bottom: 1px;
    a{
      display: block;
      font-size: 11px;
      padding: 2px 9px;
      text-decoration: none;
      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
  li{
    float: left;
    font-size: 11px;
    margin: 10px 6px 20px 21px;
    overflow: hidden;
    width: 201px;
    img{
      border: 1px solid #ececec;
      float: left;
      margin-right: 13px;
    }
  }
}