<a href="{{ url }}"
   id="{{ id }}"
   class="product-card-tools__lk {{ class }}"
   data-product-ui="{{ productUi }}"
    {{# shop }}      data-shop="{{ shop }}" {{/ shop }}
    {{# sender }}    data-sender="{{ sender }}" {{/sender}}
    {{# sender2 }}   data-sender2="{{ sender2 }}"{{/sender2}}
    >
    <i class="product-card-tools__icon i-product i-product--onclick"></i>
    <span class="product-card-tools__tx">{{ text }}</span>
</a>