.bBreadcrumbs {
	margin: 0 0 15px;

	&__eItem {
		float: left;

		margin: 0 10px 0 0;

		font-size: 12px;
		color: #545454;
		
		&:after {
			content: '>';
			color: #545454;
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 10px;
		}

		&:last-child {
			&:after {
				content: '';
			}
		}
	}

	&__eLink {
		border-bottom: 1px solid #545454;
		color: #545454;

		&:hover {
			text-decoration: none;

			border-bottom: none;
		}
	}

	&--light {
		margin: 0 0 10px;

		.bBreadcrumbs__eItem {
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAQAAABwz0azAAAAWUlEQVR4AWPIZa8UrWSAQIYGn/qHDUYNDCAIIuLq3zZEgThMDAwMi/65/W//3w1kgxXwNGxqOFPIyVDI0KBSf7lhUQMHUE+tecOrhjyIASx/HzGEMhxkAAMA3eshfb0oo6gAAAAASUVORK5CYII=') no-repeat 100% 5px;

			font-size: 12px;
			color: #545454;

            &:last-child {
              background: none;
            }
		}

		.bBreadcrumbs__eLink {
			border-bottom: 1px solid #9c9c9c;
			color: #545454;
		}
	}
}