.bBreadcrumbs {
	margin: 0 0 10px;

	&__eItem {
		float: left;

		margin: 0 5px 0 0;
		padding: 0 12px 0 0;

		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAQAAABwz0azAAAAWUlEQVR4AWPIZa8UrWSAQIYGn/qHDUYNDCAIIuLq3zZEgThMDAwMi/65/W//3w1kgxXwNGxqOFPIyVDI0KBSf7lhUQMHUE+tecOrhjyIASx/HzGEMhxkAAMA3eshfb0oo6gAAAAASUVORK5CYII=') no-repeat 100% 5px;

		font-size: 12px;
		color: #545454;

		&.mLast,
		&:last-child {
			background: none;
		}
	}

	&__eLink {
		border-bottom: 1px solid #9c9c9c;
		color: #545454;

		&:hover {
			text-decoration: none;

			border-bottom: none;
		}
	}
}