.bCatalogList {
	margin-right: -20px;

	&__eItem {
		.rounded(4px);
		float: left;

		width: 298px;
		height: 106px;
		margin: 0 20px 20px 0;

		border: 1px solid @typLightGray;
		background: #f6f6f6;

		&.mLast {
			margin-right: 0;
		}
	}

	&__eLink {
		display: block;

		height: 106px;

		font-size: 14px;

		&:hover {
			text-decoration: none;

			.bCategoriesName {
				text-decoration: underline;
			}
		}
	}

	.bCategoriesImg {
		display: inline-block;
		float: left;

		width: 106px;
		height: 106px;
		margin: 0 10px 0 0;

		text-align: center;

		background: #ffffff;

		*display: inline;
		zoom: 1;

		.rounded(4px 0 0 4px);

		overflow: hidden;

		&__eImg {
			width: 96px;
			max-height: 96px;
			margin-top: 5px;
		}
	}

	.bCategoriesName {
		display: table-cell;
		zoom: 1;

		width: 242px;
		height: 106px;

		vertical-align: middle;

		*display: inline;

		zoom: 1;
	}
}