.bCatalog {

	&.mCustomCss {

		.bCustomFilter {
			position: relative;
			background-repeat: no-repeat;
			background-position: 0 0;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 4px;
		}

		.bTitlePage {
			color: #fff;
			font-size: 48px;
			font-weight: normal;
			margin: 50px 0 35px;
		}

		.bCatalogList__eItem {
			margin: 0 10px 10px 0;
			background: rgb(246,246,246);
			background: rgba(246,246,246,0.9);
		}

		.bFilter, .bSortingLine {
			background: rgb(246,246,246);
			background: rgba(246,246,246,0.9);
			.rounded(3px);
		}

		.bSortingLine {
			margin-bottom: 0;
			padding: 7px 10px 10px;

			&.mPagerBottom {
				margin-bottom: 10px;
			}
		}

		.bFilterSlider .ui-slider-handle {
			background: url('@{base-url}/bCatalog/img/bBtnSliderCustom.png') no-repeat 0 0;
		}

		.bFilterSlider .ui-slider-range {
			background: @black;
		}

		.bFilterValues {
			width: 720px;
		}

		.specialPrice {
		    background: @white;
		    margin: 0 0 10px -20px;
		    padding: 10px 0 0 10px;
		    width: 940px;
		}

		.specialBorderBox {
		    background: @white;
		    margin: -10px 0 10px -20px;
		    padding: 10px 0;
		    width: 960px;

		    &_render {
		    	border-bottom: none;
		    }
		}
	}

	&__all-product{
		float: right;

		font-size: 18px;

		a{
			display: block;

			&:hover{
				text-decoration: none;
			}
		}
	}

	&__all-product-icon{
		vertical-align: middle;
		height: 40px;
		margin: 0 10px 0;

		font-family: 'menuIconFont';
		font-size: 80px;
		color: #000;
		line-height: .5;

		overflow: hidden;
	}

	&__all-product-txt{
		vertical-align: baseline;
		border-bottom: 1px dotted #000;
	}
}