/* ==========================================================================
   Адаптиыне стили корзины .cartItem
   ========================================================================== */
@media only screen and (max-width: 700px) {
    .cartItem {
		border-bottom: 1px solid @tabGreyBorder;
		padding: 20px 0;
		display: block;
		position: relative;

		&_col {
			display: block;

			&-img {
				float: left;
    			width: 100px;
			}

			&-desc {
				padding: 0 10px 0 120px;
				min-height: 100px;

				.price {
					display: none;
				}
			}

			&-price {
				width: 100%;
				padding: 0;

				.priceNum {
					display: block;
					float: left;
					width: 100px;

					color: #777777;
					font-size: 20px;
					line-height: 41px;
					text-align: center;

					margin-right: 10px;
				}

				.price {
					float: right;

				    margin-right: 10px;

				    text-align: right;
				}

				.delete {
					display: block;

					text-indent: -99999px;

					position: absolute;
					top: -10px;
					right: 10px;

					background-position: 100% 0;

					width: 19px;
					height: 19px;
				}

				.change {
					float: left;
				}
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.cartItem {

		&_col {

			&-img {
				width: 90px;
				padding-top: 5px;

				.img {
					width: 80px;
				}
			}

			&-desc {
				font-size: 16px;
	    		padding: 0 10px 0 90px;
	    		min-height: 90px;

				.name {
					font-size: 16px;
					min-height: 70px;
				}
			}

			&-price {

				.priceNum {
					float: left;
					width: 80px;
					font-size: 15px;
					margin-right: 10px;
				}

				.price {
				    font-size: 15px;
				    width: 65px;
				}
			}
		}
	}

	.cartLine {
		background: @tabGrey;
		border-bottom: 1px solid @tabGreyBorder;
		margin: 0 0 10px;

		&_left {
			float: none;
			padding: 10px;
    		margin: 0;
    		line-height: 22px;
    		display: none;

    		&-double {
    			display: block;
    		}

			.price {
				float: right;
			}
		}

		&_right {
			float: none;
			padding: 10px 10px 8px 10px;

			.customLabel {
			    display: block;
			    line-height: 1;
    			padding: 6px 0 7px 29px;
			}

			.creditText {
			   display: inline-block;
			   vertical-align: top;

			   *display: inline;
				zoom: 1;
			}

			.creditSum {
				float: right;

				.price {
					font-size: 14px;
				}
			}
		}
	}

	.cartBuy {
	    padding: 0 10px;
	    text-align: center;
	}
}