.bBacketServ.extWarr{
  &.mBig {
    display: none;
  }
  a.link_extWarr {
    background-color: #e5e5e5;
    background-image: url("@{base-url}/common/img/bg_buttons.png");
    background-position: 0px -128px;
    background-repeat: repeat-x;
    border-color: #c9c9c9;
    border-radius: 5px;
    border: 1px solid;
    color: @firmBlue;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 18px;
    margin-top: 8px;
    overflow: visible;
    padding: 4px 10px 0px;
    &:hover {
      background-color: #c5c5c5;
      background-position: 0px -160px;
      text-decoration: none;
    }
  }
}