.extWarranty{
  &.bBlueButton{
    margin:20px 0;
    h3{
      color: @firmBlue;
      margin: 0 0 7px 0;
      font: bold 14px Tahoma, sans-serif;
    }
    div{
      font: 14px Tahoma, sans-serif;
      margin-bottom: 10px;
    }
    .link1{
      color: @firmBlue;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &.hideblock{
    background: @white url('/images/F1_logo_extWarranty.jpg') 0 0 no-repeat;
    display:none;
    top: 250px;
    left: 50%;
    margin-left:-370px;
    padding: 10px 20px 20px 75px;
    div{
      max-height: 320px;
      overflow-y: scroll;
    }
    h2{
      color: @firmBlue;
      margin: 0 0 10px 0;
      font: bold 16px Tahoma, sans-serif;
    }
    table{
      width: 650px;
    }
    th{
      text-align: right;
      text-decoration: underline;
      font: 12px Tahoma, sans-serif;
    }
  }
}