<div class="content">
    <div class="contentBox960">

    	<div class="pageNav">
    		<a class="pageNav_link" href=""><span class="pageNav_text">Электроника</span></a>    
    		<a class="pageNav_link" href=""><span class="pageNav_text">Планшеты</span></a>
    	</div><!--/ хлебные крошки -->

        {{#filterBlock}}
            {{>partial/product-list/filter}}
        {{/filterBlock}}

		<!-- листинг товаров  -->
        {{#productBlock}}
            {{>partial/product-list/default}}
        {{/productBlock}}
    </div>
</div>

