<div class="content">
    <div class="contentBox960">
        <div class="catalogHead clearfix">
        	<div class="catalogHead_title">Бренды и параметры</div>

        	<a class="catalogHead_btn btnStyleOrange" href="">Показать товар (29)</a>
        	<a class="catalogHead_btn btnStyleGrey" href="">Еще параметры</a>
        </div>

        <div class="filter">
        	<ul class="filterTags clearfix">
        		<li class="filterTags_item filterTags_item-selected"><span class="filterTags_text">Explay</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Apple</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Samsung</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Explay</span></li>
        		<li class="filterTags_item filterTags_item-selected"><span class="filterTags_text">Apple</span></li>

        		<li class="filterTags_sep"></li>

        		<li class="filterTags_item"><span class="filterTags_text">Samsung</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Explay</span></li>
        		<li class="filterTags_item filterTags_item-selected"><span class="filterTags_text">Apple</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Samsung</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Explay</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Apple</span></li>
        		<li class="filterTags_item filterTags_item-selected"><span class="filterTags_text">Samsung</span></li>

        		<li class="filterTags_sep"></li>

        		<li class="filterTags_item"><span class="filterTags_text">Explay</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Apple</span></li>
        		<li class="filterTags_item filterTags_item-selected"><span class="filterTags_text">Samsung</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Explay</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Apple</span></li>

        		<li class="filterTags_sep"></li>

        		<li class="filterTags_item"><span class="filterTags_text">Explay</span></li>
        		<li class="filterTags_item"><span class="filterTags_text">Apple</span></li>
        		<li class="filterTags_item filterTags_item-selected"><span class="filterTags_text">Samsung</span></li>

        		<li class="filterTags_clear"><a class="link" href=""><span class="text">Очистить все</span></a></li>
        	</ul>


        </div>

        <div class="catalogList">
        	<div class="catalogList_item">
        		<a href="" class="name">Планшетный компьютер Explay Surfer 8.01</a>

        		<div class="reviews">
        			<img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/starEmpty.png" class="reviews_star">
                    <span class="reviews_count">16</span>
                </div>

        		<div class="price">
        			<div class="price_old">29 999 <span class="rubl">p</span></div>
        			<div class="price_now">19 999 <span class="rubl">p</span></div>
        		</div>

        		<a class="img" href=""><img src="http://fs01.enter.ru/1/1/163/bb/277081.jpg" /></a>
        	</div>

        	<div class="catalogList_item">
        		<a href="" class="name">Планшетный компьютер Explay Surfer 8.01</a>

        		<div class="reviews">
        			<img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/starEmpty.png" class="reviews_star">
                    <span class="reviews_count">16</span>
                </div>

        		<div class="price">
        			<div class="price_old">29 999 <span class="rubl">p</span></div>
        			<div class="price_now">19 999 <span class="rubl">p</span></div>
        		</div>

        		<a class="img" href=""><img src="http://fs01.enter.ru/1/1/163/bb/277081.jpg" /></a>
        	</div>

        	<div class="catalogList_item">
        		<a href="" class="name">Планшетный компьютер Explay Surfer 8.01</a>

        		<div class="reviews">
        			<img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/starEmpty.png" class="reviews_star">
                    <span class="reviews_count">16</span>
                </div>

        		<div class="price">
        			<div class="price_old">29 999 <span class="rubl">p</span></div>
        			<div class="price_now">19 999 <span class="rubl">p</span></div>
        		</div>

        		<a class="img" href=""><img src="http://fs01.enter.ru/1/1/163/bb/277081.jpg" /></a>
        	</div>

        	<div class="catalogList_item">
        		<a href="" class="name">Планшетный компьютер Explay Surfer 8.01</a>

        		<div class="reviews">
        			<img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/starEmpty.png" class="reviews_star">
                    <span class="reviews_count">16</span>
                </div>

        		<div class="price">
        			<div class="price_old">29 999 <span class="rubl">p</span></div>
        			<div class="price_now">19 999 <span class="rubl">p</span></div>
        		</div>

        		<a class="img" href=""><img src="http://fs01.enter.ru/1/1/163/bb/277081.jpg" /></a>
        	</div>

        	<div class="catalogList_item">
        		<a href="" class="name">Планшетный компьютер Explay Surfer 8.01</a>

        		<div class="reviews">
        			<img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/starEmpty.png" class="reviews_star">
                    <span class="reviews_count">16</span>
                </div>

        		<div class="price">
        			<div class="price_old">29 999 <span class="rubl">p</span></div>
        			<div class="price_now">19 999 <span class="rubl">p</span></div>
        		</div>
        		
        		<a class="img" href=""><img src="http://fs01.enter.ru/1/1/163/bb/277081.jpg" /></a>
        	</div>

        	<div class="catalogList_item">
        		<a href="" class="name">Планшетный компьютер Explay Surfer 8.01</a>

        		<div class="reviews">
        			<img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/starEmpty.png" class="reviews_star">
                    <span class="reviews_count">16</span>
                </div>

        		<div class="price">
        			<div class="price_old">29 999 <span class="rubl">p</span></div>
        			<div class="price_now">19 999 <span class="rubl">p</span></div>
        		</div>

        		<a class="img" href=""><img src="http://fs01.enter.ru/1/1/163/bb/277081.jpg" /></a>
        	</div>

        	<div class="catalogList_item">
        		<a href="" class="name">Планшетный компьютер Explay Surfer 8.01</a>

        		<div class="reviews">
        			<img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/starEmpty.png" class="reviews_star">
                    <span class="reviews_count">16</span>
                </div>

        		<div class="price">
        			<div class="price_old">29 999 <span class="rubl">p</span></div>
        			<div class="price_now">19 999 <span class="rubl">p</span></div>
        		</div>

        		<a class="img" href=""><img src="http://fs01.enter.ru/1/1/163/bb/277081.jpg" /></a>
        	</div>

        	<div class="catalogList_item">
        		<a href="" class="name">Планшетный компьютер Explay Surfer 8.01</a>

        		<div class="reviews">
        			<img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/star.png" class="reviews_star">
	                <img src="/v2/css/modules/productDesc/img/starEmpty.png" class="reviews_star">
                    <span class="reviews_count">16</span>
                </div>

        		<div class="price">
        			<div class="price_old">29 999 <span class="rubl">p</span></div>
        			<div class="price_now">19 999 <span class="rubl">p</span></div>
        		</div>

        		<a class="img" href=""><img src="http://fs01.enter.ru/1/1/163/bb/277081.jpg" /></a>
        	</div>
        </div>
    </div>
</div>

