.jewel {
  .flybox {
    border: 2px solid #000;
    .close {
      background: url("@{base-url}/pandoraPopups/img/closeBtnBlack.png") no-repeat 0 0; 
    }
    .bigbuttonlink {
      background-color: #000;
      border-color: #000;
      font-weight: normal;
    }
    .corner {
      background: url("@{base-url}/pandoraPopups/img/closeBtnBlack.png") no-repeat 0 0; 
    }
  }
}