.bread-crumbs {
	margin: 0 0 5px;

	&__i {
		.inline-block();
		color: #545454;

		&:after {
			content: '>';
			font-size: 10px;
			padding-left: 5px;
		}

		&:last-child {

			&:after {
				content: '';
			}
		}
	}

	&__lk {
		color: #545454;
		border-bottom: 1px solid #9c9c9c;

		&:hover {
			text-decoration: none;
		}
	}
}