/** Листинг товаров **/

.brandItems {
    border-top: 1px solid #f9f9f9;
    margin: 0 0 5px;
    &_n {
        .opacity(0);
        display: block;
    }
    &_img {
        text-align: center;
        display: block;
        margin: 0 auto 8px;
    }
    .lstn_btn {
        .inline-block();
        vertical-align: middle;
        .opacity(0);
    }
    &_i {
        float: left;
        width: 240px;
        height: 240px;
        &:hover {
            .goodsbox {
                z-index: 10;
                border: 1px solid #AAAAAA;
            }
            .brandItems_n {
                .opacity(1);
            }
            .lstn_btn {
                .opacity(1);
            }
        }
    }

    &-3col {
        .brandItems_i {
            width: 320px;
            height: 380px;

            .goodsbox {
                width: 297px;
                height: 360px;

                &__inner {
                    width: 297px;
                    height: 361px;

                    img.mainImg {
                        width: 297px;
                    }

                    .lstn_pr {
                        width: 178px;
                    }
                }
            }
        }
    }
}
