/** Навигация внутри раздела **/
.bBrandSubNav {
  margin: 7px 10px 10px; 
  padding: 0 5px;

  text-transform: uppercase;

  border-bottom: 2px solid #5E5E5E; 

  &__eTitle {
    float: left;

    margin-top: 3px;

    color: #5E5E5E;

    font-family: 'Enter Type'; 
    font-size: 16px;
  }

  .bBrandSubNavList {
    float: right;

    width: 670px;

    &__eItem {
      float: left;

      margin: 3px 5px 2px 0;

      font-family: Tahoma;
      font-size: 11px;
    }

    &__eLink {
      display: block;

      padding: 0 7px;

      border: 1px solid #fff;

      line-height: 18px;

      &:hover, &.active {
        text-decoration: none;

        color: #000;
        border: 1px solid #5E5E5E;
        background: #D7D7D7;
      }
    }
  }
}