/**  Баннер раздела, по хорошему все стили должны быть в вордпрессе **/
.banner-categories {
  .banner-categories__title {
    position: relative;
    z-index: 2;

    padding: 95px 0 0 15px;

    text-transform: uppercase;

    font-family: 'Enter Type';
    font-size: 48px;
  }
}

/*** Стили для брендированной страницы листинга ***/
.bBrandCatalog {
  width: 960px;
  margin: 0 0 0 -10px;

  .line {
    border: none;
  }

  .notBuying {
    z-index: 9;
    background: @white;
  }

  .allpager, .allpagerJewel {
    margin-right: 10px;
  }

  #ajaxgoods_top.popup {
    border: 2px solid #000;
  }

  .bNavLoader__eM p {
    color: #000;
  }

  .bNavLoader__eIco {
    background: url("/css/ajaxPopup/img/arrow_bg_b.png") no-repeat;
  }

  .allpagerJewel {
    margin: 5px 10px 0 0;
  }

  .goodsbox {
    position: relative;

    width: 218px;
    height: 220px;
    min-height: 220px;
    margin: 0;
    padding: 0;
    padding: 7px 10px 10px;

    border: 1px solid #f9f9f9;
    border-top: 1px solid @white;
    border-left: 1px solid @white;

    .notBuying {
      visibility: hidden;
    }

    &:hover .notBuying {
      visibility: visible;
    }
  }

  .goodsbox__inner {
    .rounded(0);
    position: relative;

    width: 218px;
    height: 221px;
    margin: 0;
    padding: 0;

    border: none !important;
    box-shadow: none;
  }

  .bNavLoader__eIco {
    background: url("/css/ajaxPopup/img/arrow_bg_b.png") no-repeat;
  }

  #ajaxgoods_top.popup {
    border: 2px solid #000;
  }

  .bNavLoader__eM p {
    color: #000;
  }
}

.pagehead {
  padding-bottom: 0;
}

body.jewel {

  .banners-section, .big-banner-section {
    margin-left: -10px!important;
  }
}