.bForm {
  margin: 0px 0px 100px;
}
.bInputBlock {
  margin: 0px 0px 16px;
}
.bInputBlock__eP,
.bInputBlock__eH2 {
  color: #333;
  padding: 0px;
}
.bInputBlock__eH2 {
  font-size: 12px;
  font-weight: bold;
}
.bComment,
.bInputBlock__eP {
  font-size: 11px;
}
.bInputBlock__eP {
  margin: 2px 0px 5px;
}
.bInputBlock__eInput,
.bInputBlock__eTextarea {
  .rounded(5px);
  border: 1px solid #c9c9c9;
  margin: 5px 0px 0px;
  width: 480px;
}
.bInputBlock__eInput {
  height: 20px;
}
.bInputBlock__eTextarea {
  height: 70px;
}
.bComment {
  background: url("@{base-url}/user/img/attention.gif") no-repeat;
  color: #333;
  height: 17px;
  margin: 20px 0px 11px;
  padding: 2px 0px 0px 26px;
}
.bYellowButton {
  margin: 11px 0px;
}