.leftmenu li {
  background: url("@{base-url}/user/img/arrow.png") no-repeat 0 0;
  padding: 0px 0px 5px 16px;
}
.cabinethelp {
  background: url("/css/skin/img/attention.gif") no-repeat 0px 0px;
  font-size: 11px;
  padding: 20px 0px 10px;
}