.help {
    color: #434343;
	font-size: 11px;
	left: 0;
	top: -38px;
	position: absolute;
	width: 156px;
}
.doublehelp {
  background: url("@{base-url}/user/img/help.png") no-repeat 0px 0px;
  height: 46px;
  margin-top: 10px;
  padding: 15px 0px 0px 40px;
}