.catLst {
	margin: 0 0 10px;
	&_i {
		width: @full-size/3;
		float: left;
		margin: 0 0 10px;
	}

	&_lk {
		font-size: 14px;
		color: #545454;
		border-bottom: 1px solid #a8a8a8;

		&:hover {
			text-decoration: none;
		}
	}
}