.fltr {
    &_slctd {
        float: left;
        margin: 10px 5px 0 12px;
        &_i {
            .inline-block();
            color: #7d7d7d;
            margin: 0 10px 0 0;
            line-height: 1;

            &-n {
                font-weight: bold;
                margin-right: 0;
            }

            &-clsr {
                float: right;
            }
        }

        &-last {
            margin-bottom: 11px;
        }
    }

    &_clsr {
        float: right;
        margin: 10px 0 11px;
        line-height: 1;

        &:hover {
            text-decoration: none;
        }

        &_tx {
            border-bottom: 1px dotted #424242;
            color: #424242;
        }
    }
}

.txmark1 {
    color: #8a8a8a;
}

.lstdotted {
    &_i {
        margin: 0 0 10px;
    }
    &_lk {
        border-bottom: 1px dotted #a6a6a6;
        &:hover {
            text-decoration: none;
        }
    }
}