<div class="content">
	<div class="pageTitle">Электроника</div>
	
    <ul class="rootCategories clearfix">	
		<li class="rootCategories_item">
			<a href="" class="rootCategories_link">
				<span class="rootCategories_img"><img src="http://fs10.enter.ru/6/1/163/11/222171.jpg" alt="" class="img"></span>
				<span class="rootCategories_name">Какая-то категория</span>
			</a>
		</li>

		<li class="rootCategories_item">
			<a href="" class="rootCategories_link">
				<span class="rootCategories_img"><img src="http://fs05.enter.ru/6/1/163/91/212639.jpg" alt="" class="img"></span>
				<span class="rootCategories_name">Ещё одна какая-то категория товаров</span>
			</a>
		</li>

		<li class="rootCategories_item">
			<a href="" class="rootCategories_link">
				<span class="rootCategories_img"><img src="http://fs10.enter.ru/6/1/163/11/222171.jpg" alt="" class="img"></span>
				<span class="rootCategories_name">Какая-то категория</span>
			</a>
		</li>

		<li class="rootCategories_item">
			<a href="" class="rootCategories_link">
				<span class="rootCategories_img"><img src="http://fs05.enter.ru/6/1/163/91/212639.jpg" alt="" class="img"></span>
				<span class="rootCategories_name">Ещё одна какая-то категория товаров</span>
			</a>
		</li>

		<li class="rootCategories_item">
			<a href="" class="rootCategories_link">
				<span class="rootCategories_img"><img src="http://fs10.enter.ru/6/1/163/11/222171.jpg" alt="" class="img"></span>
				<span class="rootCategories_name">Какая-то категория</span>
			</a>
		</li>

		<li class="rootCategories_item">
			<a href="" class="rootCategories_link">
				<span class="rootCategories_img"><img src="http://fs05.enter.ru/6/1/163/91/212639.jpg" alt="" class="img"></span>
				<span class="rootCategories_name">Ещё одна какая-то категория товаров</span>
			</a>
		</li>

		<li class="rootCategories_item">
			<a href="" class="rootCategories_link">
				<span class="rootCategories_img"><img src="http://fs10.enter.ru/6/1/163/11/222171.jpg" alt="" class="img"></span>
				<span class="rootCategories_name">Какая-то категория</span>
			</a>
		</li>

		<li class="rootCategories_item">
			<a href="" class="rootCategories_link">
				<span class="rootCategories_img"><img src="http://fs05.enter.ru/6/1/163/91/212639.jpg" alt="" class="img"></span>
				<span class="rootCategories_name">Ещё одна какая-то категория товаров</span>
			</a>
		</li>
    </ul>
</div>

