.mFurniture{
	background: url('@{base-url}/categoryMenu/img/icons_id_80.png') no-repeat 0 0;
}
.mAppliances{
	background: url('@{base-url}/categoryMenu/img/icons_id_1.png') no-repeat 0 0;
}
.mBeauty{
	background: url('@{base-url}/categoryMenu/img/icons_id_21.png') no-repeat 0 0;
}
.mPerfumery{
	background: url('@{base-url}/categoryMenu/img/icons_id_2545.png') no-repeat 0 0;
}
.mHousehold{
	background: url('@{base-url}/categoryMenu/img/icons_id_443.png') no-repeat 0 0;
}
.mChildren{
	background: url('@{base-url}/categoryMenu/img/icons_id_320.png') no-repeat 0 0;
}
.mPets{
	background: url('@{base-url}/categoryMenu/img/icons_id_1438.png') no-repeat 0 0;
}
.mHandmade{
	background: url('@{base-url}/categoryMenu/img/icons_id_224.png') no-repeat 0 0;
}
.mElectronics{
	background: url('@{base-url}/categoryMenu/img/icons_id_788.png') no-repeat 0 0;
}
.mJewel{
	background: url('@{base-url}/categoryMenu/img/icons_id_923.png') no-repeat 0 0;
}
.mSport{
	background: url('@{base-url}/categoryMenu/img/icons_id_647.png') no-repeat 0 0;
}
.mGifts{
	background: url('@{base-url}/categoryMenu/img/icons_id_185.png') no-repeat 0 0;
}
.mAuto{
	background: url('@{base-url}/categoryMenu/img/icons_id_225.png') no-repeat 0 0;
}

.bCategoryMenu{
	background: @black;
}
.bCategoryItem{
	background: @black;
	float: left;
	text-align: center;
	width: 33%;
	&_eLink{
		color:@white;
		display: block;
		height: 105px;
		text-decoration: none;
	}
	&_eIcon{
		display: block;
		height: 50px;
		margin: 5px auto;
		width: 76px;
	}
	&_eName{
		display: block;
		font-family: 'Enter';
		font-size: 14px;
		margin: 0 auto;
		text-transform: uppercase;
		width: 80px;
	}
}