.bCategoryMenu{
	background: @black;
}
.bCategoryItem{
	background: @black;
	float: left;
	text-align: center;
	&_eLink{
		color:@white;
		display: block;
		height: 105px;
		width: 105px;
	}
	&_eIcon{
		display: block;
		height: 50px;
	}
	&_eName{
		display: block;
		font-family: 'Enter';
		font-size: 14px;
		margin: 0 auto;
		text-transform: uppercase;
		width: 80px;
	}
}