.bCategoryMenu{
	background: @black;
}
.bCategoryItem{
	background: @black;
	float: left;
	text-align: center;
	width: 33%;
	&_eLink{
		color:@white;
		display: block;
		height: 105px;
		text-decoration: none;
	}
	&_eIcon{
		display: block;
		height: 50px;
		margin: 5px auto;
		width: 76px;
	}
	&_eName{
		display: block;
		font-family: 'Enter';
		font-size: 14px;
		margin: 0 auto;
		text-transform: uppercase;
		width: 80px;
	}
}

// menu modificators
.mCategoryIcon_80{
	background: url('@{base-url}/categoryMenu/img/icons_id_80.png') no-repeat 0 0;
}
.mCategoryIcon_1{
	background: url('@{base-url}/categoryMenu/img/icons_id_1.png') no-repeat 0 0;
}
.mCategoryIcon_21{
	background: url('@{base-url}/categoryMenu/img/icons_id_21.png') no-repeat 0 0;
}
.mCategoryIcon_2545{
	background: url('@{base-url}/categoryMenu/img/icons_id_2545.png') no-repeat 0 0;
}
.mCategoryIcon_443{
	background: url('@{base-url}/categoryMenu/img/icons_id_443.png') no-repeat 0 0;
}
.mCategoryIcon_320{
	background: url('@{base-url}/categoryMenu/img/icons_id_320.png') no-repeat 0 0;
}
.mCategoryIcon_1438{
	background: url('@{base-url}/categoryMenu/img/icons_id_1438.png') no-repeat 0 0;
}
.mCategoryIcon_224{
	background: url('@{base-url}/categoryMenu/img/icons_id_224.png') no-repeat 0 0;
}
.mCategoryIcon_788{
	background: url('@{base-url}/categoryMenu/img/icons_id_788.png') no-repeat 0 0;
}
.mCategoryIcon_923{
	background: url('@{base-url}/categoryMenu/img/icons_id_923.png') no-repeat 0 0;
}
.mCategoryIcon_647{
	background: url('@{base-url}/categoryMenu/img/icons_id_647.png') no-repeat 0 0;
}
.mCategoryIcon_185{
	background: url('@{base-url}/categoryMenu/img/icons_id_185.png') no-repeat 0 0;
}
.mCategoryIcon_225{
	background: url('@{base-url}/categoryMenu/img/icons_id_225.png') no-repeat 0 0;
}