.categories-grid {
    &__item {
        margin: 0 0 5px;
        padding: 0;
    }
    &__link {
        display: table;

        width: 100%;
        padding: 5px;
        &:hover {
            background: @orange-light-4;
        }
    }
    &__img {
        display: table-cell;

        width: 70px;
        height: 70px;

        text-align: center;
        vertical-align: middle;
        .image {
            max-width: 70px;
            max-height: 70px;
        }
    }
    &__text {
        display: table-cell;

        padding-left: 10px;

        vertical-align: middle;

        .font-size(14);;
    }
}
