<!-- Списки выбранных параметров -->
{{#filters}}
<div class="bFilterFoot__eInner">
    <ul class="bFilterCheckedParams clearfix">
        <li class="bFilterCheckedParams__eItem mTitle">{{name}}</li>

        {{#links}}
            {{^last}}
                <li class="bFilterCheckedParams__eItem mParams">
                    <a class="bDelete jsHistoryLink" href="{{url}}"></a><span class="bParamsName">{{&name}}</span>
                </li>
            {{/last}}
            {{#last}}
                <li class="bFilterCheckedParams__eItem mParams mClearAll">
                    <a class="bDelete jsHistoryLink" href="{{url}}"><strong class="bParamsName">Очистить все</strong></a>
                </li>
            {{/last}}
        {{/links}}
    </ul>
</div>
{{/filters}}
<!-- /Списки выбранных параметров -->