<!-- Списки выбранных параметров -->
{{#filters}}
    <div class="bFilterFoot__eInner">
        <ul class="bFilterCheckedParams clearfix">
            <li class="bFilterCheckedParams__eItem mTitle">{{name}}</li>

            {{#links}}
                <li class="bFilterCheckedParams__eItem mParams">
                    <a class="bDelete js-category-filter-deleteLink" href="{{url}}">&#215;</a><span class="bParamsName">{{&name}} {{&unit}}</span>
                </li>
            {{/links}}

            {{#last}}
                <li class="bFilterCheckedParams__eItem mParams mClearAll">
                    <a class="js-category-filter-deleteLink" href="{{cleanUrl}}"><span class="bDelete">&#215;</span><strong class="bParamsName">Очистить все</strong></a>
                </li>
            {{/last}}
        </ul>
    </div>
{{/filters}}
<!-- /Списки выбранных параметров -->