.eprize {

	&__logo {
		.inline-block();
		width: 264px;
		height: 76px;
		margin-left: 7px;

		text-indent: -9999px;

		background: url("@{base-url}/enterPrize/img/bgLogo.png") no-repeat 0 0;
	}

	.finishedBox {
		margin: 8px 0 0;

		.mBtnOrange {
		    width: 250px;
			margin: 8px 0 0;
		}
	}
}

.enterprizeConfirm {
	margin: 0 0 200px 25px;

	font-size: 14px;

	.backForm {
		display: inline-block;
    	zoom: 1;

		margin: 15px 0 0;

		text-decoration: underline;

		font-size: 12px;

    	*display: inline;
	}

	.confirmForm {
		margin: 0 0 15px;
	}

	.labelCode {
		display: inline-block;
    	zoom: 1;

    	margin: 5px 5px 0 0;

    	*display: inline;
	}

	.text {
	    width: 50px;
	    height: 31px;

	    line-height: 31px;
	}

	.newCode {
		display: inline-block;
		zoom: 1;

		height: 33px;
		margin: 0 5px;
		padding: 4px 17px;

		vertical-align: top;

		*display: inline;
	}

	.confirmCode {
		.rounded(4px);
		display: inline-block;
		zoom: 1;

		margin: 0 0 0 5px;
		padding: 4px 17px;

		vertical-align: top;

		border: 1px solid #F28900;

		*display: inline;
	}

	.textConfirm {
		margin: 0 0 20px;

		strong {
			font-size: 16px;
		}
	}
}

.titleForm {
    margin: 40px 0 20px 0;

    text-align: center;
    text-transform: uppercase;

	font-family: 'Enter';
    font-size: 26px;
    font-weight: normal;
}

.jsEnterprizeForm {
    width: 368px;
	margin: 0 auto;

	.formDefault__btnSubmit {
		margin: 20px auto 30px;
	}

	.red {
		margin: 0 0 10px;
	}
}

.bInputList {

	&.mEnterPrizeSubscr {

		.bErrorText__eInner {
		    top: -8px;
		    left: 25px;

		    padding: 0;
		}
	}
}

.enterprizeAuthBox {

	&__title {
		height: 88px;
		padding-left: 280px;

		text-transform: uppercase;

		background: url("@{base-url}/enterPrize/img/bgLogo.png") no-repeat 50% 0;

		font-size: 24px;
		font-weight: bold;
	}

	&__form {
		width: 330px;
		margin: 20px auto 0;
	}
}

.enterprizeWar {
	margin: 0 0 10px 25px;

	font-weight: bold;
}

.enterprizeMore {
    margin: 40px 0 50px 25px;

    text-transform: uppercase;

	font-family: "Enter";
    font-size: 20px;

	a {
		text-decoration: underline;
	}
}

.getCuponEP {
	width: 100px;
	margin: 0 auto 50px;
}

.completeTitleEP {
    margin: 0 0 0 15px;

    &__title {
    	text-transform: uppercase;

    	font-family: "Enter";
    	font-size: 22px;
    }

    &__text {
    	margin: 0;
    }
}

.lastFishka {
    margin: 0 0 20px 25px;

	font-size: 14px;

    &__link {
    	text-decoration: underline;
    }
}

.epSliderTitle {
	margin: 0 0 10px 25px;

	font-size: 16px;
}

.epSliderBody {
    margin: 0 0 50px 25px; 

    .bSlider__eInner {
        width: 845px;
    }
}
.enterprize{
	#sp-fancybox-overlay{
		position: fixed!important;
	}
}