.enterPrizeDesc {
	color: #ddd;
	margin: 15px 0 0 31px;
	font-size: 14px;
	line-height: 1.6;

	&__text {
		text-decoration: underline;
		cursor: pointer;
	}

	a {
		color: @white;
		text-decoration: underline;
	}
}

.enterPrizeListTitle {
	font-size: 16px;
	color: #bbb;
	font-weight: bold;
	margin: 0 0 15px 36px;
}

.enterPrizeFinish {
	color: #BBBBBB;
    font-size: 14px;
    margin: 0 0 50px 39px;
}