.enterPrizeDesc {
	color: #ddd;
	margin: 15px 0 0 31px;
	font-size: 14px;
	line-height: 1.6;

	&__text {
		text-decoration: underline;
		cursor: pointer;
	}

	a {
		color: @white;
		text-decoration: underline;
	}
}

.enterPrizeListWrap {
	display: none;
	margin: 20px 0 0;

	&.mComplete {
		color: #000;
		display: block;

		.enterPrizeListTitle,
		.enterPrizeList__item {
			color: #000;
			margin-left: 25px;
		}
		
	}
}

.enterPrizeListTitle {
	font-size: 16px;
	color: #bbb;
	font-weight: bold;
	margin: 0 0 15px 36px;
}

.enterPrizeFinish {
	color: #BBBBBB;
    font-size: 14px;
    margin: 0 0 50px 39px;
}

.enterPrizeList {
	margin: 0 0 20px 0;

	&__item {
		color: #bbb;
		margin: 0 0 15px 36px;
		border-left: 3px solid;
		padding-left: 10px;
		font-size: 12px;

		&.mBlue {
			border-color: @firmBlue;
		}

		&.mOrange {
			border-color: @firmOrange;
		}

		&.mGreen {
			border-color: @firmGreen;
		}
	}
}

.epToggleRules {
	margin: 0 0 30px 25px;

	.enterPrizeDesc {
		color: @black;
		line-height: 1.8;

		margin: 0;
	}

	.enterPrizeList__item,
	.enterPrizeFinish {
		color: @black;
	}
}