.bStoreItem{
	margin: 15px 0;
	padding: 0 15px;
	&_eMap{
		border: 2px solid #dcdcdc;
		height: 170px;
		margin-bottom: 15px;
		width: 100%;
	}
	&__eAddress{
		font-size: 18px;
		margin: 8px 0;
	}
	&_eRegtime{
		font-size: 14px;
		margin: 8px 0;
	}
}