.popup {

    &-w635 {
        width: 635px;
    }

    &-simple {
        border: 1px solid #777777;
        .box-shadow(none);
        .rounded(4px);
        width: 628px;
        padding: 0;
        .transition(all 0.5s ease);

        .close {
            background: url("@{base-url}/popup/img/closer.gif") no-repeat 50% 50% !important;
            height: 41px;
            width: 41px;
            right: 10px;
        }
    }

    &_inn {
        padding: 10px 20px 30px 10px;
        max-height: 600px;
        overflow-y: scroll;
    }

    &_hd {
        border-bottom: 1px solid #c7c7c7;
        padding: 0 5px;

        &_tl {
            font-size: 22px;

            &:last-child{
                margin-bottom: 15px;
            }
        }

        &_tx {
            font-size: 14px;
            color: #4f4f4f;
            margin: 0 0 8px;
        }
    }
}

.shopsPopup {
    padding: 10px 10px 0;
    width: 640px;
}