.popup {
    &--add-review {
        display: block;

        width: 630px;
        padding: 20px;
        border: 1px solid #c7c7c7;
        .box-shadow(0 0 32px 0 rgba(0, 0, 0, 0.3));

        .rounded(0px);
    }
    &__tl {
        font-size: 16px;
        font-weight: bold;

        margin: 0 0 5px 0;

        color: @product-font;
    }
    &__product-line {
        margin: 0 0 20px 0;
        &-tl {
            font-size: 18px;

            width: 568px;

            color: @product-font;

            .inline-block-middle();
        }
        &-img {
            width: 100%;
            &-wrap {
                position: relative;

                overflow: hidden;

                width: 46px;
//                height: 46px;

                .rounded(3px);
                .inline-block-middle();
            }
        }
    }
    &-rating {
        line-height: 1;

        margin: 0 0 10px;

        &:hover .popup-rating__i{
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABHElEQVR42qWTzUrDQBSFj+7EhehSULCv4Iu4c6U+igV3FropLZ2sfCBfwVXxB7USNWkhUPR8kMWAZhLrgcvlzv3uSSYzUZveh9rTf5RPtFtmmpG1rj4zXdnki6x19Ba0Y4MSEzL1398i6HJRm5Cp1VVPA22XEx17uMAgioJ1+j+fONVpEXRj6NYxrweWRGwSr8HBM8c8J9ArMj2XQSuArgHPHPNC+UhHXnx0VB0NKnjmFGs+1gF3AqDNAA5ev+llpH3v8zVlQh9OKRm8T5nQV0qzobYMtX3gFZyaVN+PZbT/hU8gJ8dHDacmeb8XhipuqAfvPoJOJG2QqVmnD9dsMtXAwIOfftbva1ORqN0/p++4Tv10h8BKiD6cIn0DiAVcswv8ev0AAAAASUVORK5CYII=');
        }
        &__state {
            font-size: 0;

            .inline-block-middle();
        }
        &__i {
            width: 17px;
            height: 17px;
            margin: 0 1px 0 0;

            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABVklEQVR42qWTO0oDURiFT8RCsfABNoKCbkGwsnEHWlmIWrkCa2FsDUQxmGRi5zK00A3YWSkYMCrGYJ6TUvR8YDHFZIzxwOWf8/jnzn2MfkM7pxn9B62CpnuhnqgaFt2SDntlfVE1DBqhJqOymlGofSpcf4WXceDmSxl+0RVcg+Itq4leQctubHRCraJR4ej4Seve7IY6d+jG639hD/xc97hQDHB0fHLk6aOfE1jiBCzetotaaR5rSinAJ0eePvoFWnktWqhEJZ1oAJAjT5/i+DjTvD/zwWbBNKNkZPDJkVcS6nnNOfQcFbWV5KPjk1MamMUbtpbkoeMrDdWcxj3TZ/dUs/BKoLFOURtUODo+OfXDz/2oXQca9Yx7HlVfuHcqHB2fnPrBgV2PV497N9/5kq2zmVQ4Oj65tKPLesZHN2wHgUbiHtz+Dr5fcpT20y0QVgrwycW1b0WW4Gp4YMfiAAAAAElFTkSuQmCC');

            .inline-block-middle();
            .transition(all .2s ease-out);
            cursor: pointer;

            &--fill {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABHElEQVR42qWTzUrDQBSFj+7EhehSULCv4Iu4c6U+igV3FropLZ2sfCBfwVXxB7USNWkhUPR8kMWAZhLrgcvlzv3uSSYzUZveh9rTf5RPtFtmmpG1rj4zXdnki6x19Ba0Y4MSEzL1398i6HJRm5Cp1VVPA22XEx17uMAgioJ1+j+fONVpEXRj6NYxrweWRGwSr8HBM8c8J9ArMj2XQSuArgHPHPNC+UhHXnx0VB0NKnjmFGs+1gF3AqDNAA5ev+llpH3v8zVlQh9OKRm8T5nQV0qzobYMtX3gFZyaVN+PZbT/hU8gJ8dHDacmeb8XhipuqAfvPoJOJG2QqVmnD9dsMtXAwIOfftbva1ORqN0/p++4Tv10h8BKiD6cIn0DiAVcswv8ev0AAAAASUVORK5CYII=');
            }
            
            &:hover ~ .popup-rating__i {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABVklEQVR42qWTO0oDURiFT8RCsfABNoKCbkGwsnEHWlmIWrkCa2FsDUQxmGRi5zK00A3YWSkYMCrGYJ6TUvR8YDHFZIzxwOWf8/jnzn2MfkM7pxn9B62CpnuhnqgaFt2SDntlfVE1DBqhJqOymlGofSpcf4WXceDmSxl+0RVcg+Itq4leQctubHRCraJR4ej4Seve7IY6d+jG639hD/xc97hQDHB0fHLk6aOfE1jiBCzetotaaR5rSinAJ0eePvoFWnktWqhEJZ1oAJAjT5/i+DjTvD/zwWbBNKNkZPDJkVcS6nnNOfQcFbWV5KPjk1MamMUbtpbkoeMrDdWcxj3TZ/dUs/BKoLFOURtUODo+OfXDz/2oXQca9Yx7HlVfuHcqHB2fnPrBgV2PV497N9/5kq2zmVQ4Oj65tKPLesZHN2wHgUbiHtz+Dr5fcpT20y0QVgrwycW1b0WW4Gp4YMfiAAAAAElFTkSuQmCC');
            }

        }
        &__tl {
            font-size: 12px;
            font-weight: bold;

            margin: 0 10px 0 0;

            .inline-block-middle();
        }
    }
    &-form {
        overflow: hidden;
    }
    .closer {
        font-size: 24px;

        top: 5px;
        right: 5px;
    }
}
.popup-form-success {
    color: @product-font;

    &__txt {
        font-size: 18px;
        &--small{
            font-size: 14px;
            a{
                color: #49C6ED;
            }
        }
    }
    &__subscribtion {
        font-size: 14px;
        margin-top: 20px;

        .customInput-defcheck + .customLabel {
            background-position: 0 3px;
        }
        &--already-done{
            text-align: center;
        }
    }
}
