.popup{

    &--skinny{
        display: inline-block;
        padding: 0;
        .box-shadow(none);
        border: 1px solid #c7c7c7;
        width: auto;

        .rounded(0px);
        overflow: visible;
        white-space: nowrap;
        font-size: 0px;

        .closer{
            width: 25px;
            height: 25px;
            line-height: 24px;
            font-size: 19px;
            text-align: center;
            background: #e6e6e6;
            color: @black;
            .rounded(25px);
            right: -30px;
            top: 0px;
        }
    }
}