.popup {
    &--add-review {
        display: block;

        width: 630px;
        padding: 20px;
        border: 1px solid #c7c7c7;
        .box-shadow(0 0 32px 0 rgba(0, 0, 0, 0.3));

        .rounded(0px);
    }
    &__tl {
        font-size: 16px;
        font-weight: bold;

        margin: 0 0 5px 0;

        color: @product-font;
    }
    &__product-line {
        margin: 0 0 20px 0;
        &-tl {
            font-size: 18px;

            width: 100%;

            color: @product-font;

            display: block;
            min-height: 46px;

            span{
                max-width: 89%;
                .inline-block(middle);
            }
            &:after{
                content: '';
                .inline-block(middle);
                height: 46px;
                width: 0;
            }
        }
        &-img {
            height: 100%;

            &-wrap {
                position: relative;

                overflow: hidden;

                height: 46px;
                min-width: 46px;
                float: left;
                margin-right: 5px;
            }
        }
    }
    &-rating {
        line-height: 1;

        margin: 0 0 10px;

        &:hover .popup-rating__i{
            &:before { content: '\e801'; }
        }
        &__state {
            font-size: 0;

            .inline-block-middle();
        }
        &__i {
            .inline-block();

            font-size: 12px;
            font-family: "rate-stars";
            font-style: normal;
            font-weight: normal;
            speak: none;

            display: inline-block;
            text-decoration: inherit;
            width: 1em;

            text-align: center;
            font-variant: normal;
            text-transform: none;

            line-height: 1em;
            color: @firmOrange;
            margin-right: 2px;
            .transition(all .2s ease-out);
            cursor: pointer;
            &:before { content: '\e800'; }

            &--fill {
                &:before { content: '\e801'; }
            }
            
            &:hover ~ .popup-rating__i {
                &:before { content: '\e800'; }
            }

        }
        &__tl {
            font-size: 12px;
            font-weight: bold;

            margin: 0 10px 0 0;

            .inline-block-middle();
        }
    }
    &-form {
        overflow: hidden;
    }
    .closer {
        font-size: 24px;

        top: 5px;
        right: 5px;
    }
}
.jewel {
    .popup-rating__i{
        color: #363636;
    }
}
.popup-form-success {
    color: @product-font;

    &__txt {
        font-size: 18px;
        &--small{
            font-size: 14px;
            a{
                color: #49C6ED;
            }
        }
    }
    &__subscribtion {
        font-size: 14px;
        margin-top: 20px;

        .customInput-defcheck + .customLabel {
            background-position: 0 3px;
        }
        &--already-done{
            text-align: center;
        }
    }
}
