<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/custom-form-elements.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
</head>

<body>

<div class="allpage">
<div class="allpageinner buyingpage">


    <!-- Header -->
	<div class='bBuyingHead'>
		<a href='/'></a><br>
		<span>Ваш заказ принят, спасибо!</span>
	</div>
    <!-- /Header -->

 	
	<div class='m1Click'>
			
			<div class='m1ClickRight'>
				<div class="m1ClickRight__eArrow"></div>
				<dl class='bBuyingLine'><dd><label><b></b> <span class='mInlineBlock'>Сохранить информацию о заказе для<br> последующих покупок</span><input class='bBuyingLine__eRadio' name='r1' type='radio'></label></dd></dl>
				<div>Для чего это нужно:</div>
				<ul>
					<li>вы экономите время при повторном оформлении заказа;</li>
					<li>можете отслеживать состояния заказов в личном кабинете;</li>
					<li>просматривать историю свои заказов и делать повторные покупки.</li>
				</ul>
			</div>
		
			<h3>Номер вашего заказа: 8КЗ-5П45В</h3>
			<p>
				Дата заказа: 15.10.2011 г.<br>
				Сумма заказа: 32 990 &#8399;<br><br>
				В ближайшее время мы вам скоро перезвоним :)<br>
				Специалист нашего Контакт-cENTERа уточнит, где и<br>
				когда будет удобно получить заказ.
			</p>
	</div>

	<div class='line pb30'></div>
	
	<div class='m1Click pb20'><a class='bBigOrangeButton' href>Завершить оформление</a></div>
	

	<ul class='bBuyingFooter'>
		<li>
			<div class='bBuyingFooter__eEnter'></div>
			<h3>Ответы на вопросы</h3>
			<span>Наш Контакт cENTER<br><b>8 (800) 700 00 09</b><br> 24 часа в сутки / 7 дней в неделю. Звонок бесплатный. Радость в подарок :)</span>
		</li>
		<li>
			<div class='bBuyingFooter__eZakaz'></div>
			<h3>Безопасные покупки</h3>
			<span>Вы приобретаете качественный товар. Получаете и оплачиваете любым удобным для Вас способом.</span>
		</li>
		<li>
			<div class='bBuyingFooter__ePeople'></div>
			<h3>Сопровождение заказа</h3>
			<span>После оформления заказа, с Вами свяжется специалист нашего Контакт cENTER для подтверждения заказа.</span>
		</li>
		<li>
			<div class='bBuyingFooter__eCar'></div>
			<h3>Собственная служба доставка и сервис</h3>
			<span>Наша служба F1 доставит заказ вовремя.<br>Соберет, настроит и покажет, как работает.</span>
		</li>
		<li>
			<div class='bBuyingFooter__eFinger'></div>
			<h3>Как для себя</h3>
			<span>Вы можете обменять товар в течение 30 дней<br> и в течение 14 дне вернуть в магазин. </span>
		</li>
	</ul>

</div>
</div>

<!-- Footer -->
<div class="footer lowfooter">
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
        </div>
        <div class="counter">
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
