<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
</head>

<body class='b404'>
	<table class='b404InnerWrap'>
		<td>
			<a class='b404__eLogo' href='http://enter.ru'></a>
			<div class='b404Block'>
				<span>Упс! Запрашиваемая вами страница не найдена.</span>
				<h2><b>Вы легко можете найти то,<br> что искали!</b></h2>
				<form><input type='text' value='Поиск среди 20 000 тысяч товаров'><a class='bOrangeButton' href>Найти</a></form><br>
				<span>или позвоните нам в контакт cENTER <b>8 (800) 700 00 09</b><br> Звонок бесплатный. Радость в подарок.</span><br><br>
				<a class='bBigOrangeButton' href='http://enter.ru'>Перейти на главную</a>
			</div>
		</td>
	</table>
</body>
</html>
