<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enter.ru</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="skin/inner.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jslib/jquery-1.4.2.js"></script>
<script type="text/javascript" src="jslib/custom-form-elements.js"></script>
<script type="text/javascript" src="jslib/prettyCheckboxes.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.widget.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="jslib/jquery.ui.slider.js"></script>
<script type="text/javascript" src="jslib/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="jslib/main.js"></script>
<script>
/* Всплывающее окно ---------------------------------------------------------------------------------------------------*/
$(document).ready(function(){
	$('#try-1').click(function() {
    $('#popup_1').lightbox_me({
        centered: true, 
        onLoad: function() { 
            $('#popup_1').find('input:first').focus()
            }
        });
    return false;
});
});
/* Всплывающее окно ---------------------------------------------------------------------------------------------------*/
</script>
</head>

<body>
	
	<!-- popup -->
	<div class='bMobDownWrapAbs'>
		<div class='bMobDownWrapRel'>
			
			<div class='bMobDown mBR5 mW2 mW750'>
				<div class='bMobDown__eWrap'>
					<img class='fr pt20 mr20' src='images/bWtf.png'/>
					<h2>Кто-то был быстрее вас.</h2>
					<h2>Некоторых товаров уже нет в наличии:</h2>
					<div class='bFormSave'>
						<span>Мягкая игрушка Fancy &laquo;Медведь Топа&raquo; (1 из 5 шт.)</span>
						<h2>1400 <span class='rubl'>p</span></h2>
					</div>
					<div class='bFormSave'>
						<span>Чайник со свистком 2,5 л (1 шт.)</span>
						<h2>990 <span class='rubl'>p</span></h2>
					</div>
					<a class='bOrangeButton mr20' href>Оформить заказ без этих товаров</a>
					<a class='bOrangeButton' href>Подобрать похожий товар</a>
				</div>
			</div>
			
		</div>
	</div>
	<!-- /popup -->
	
<div class="graying"></div>
<div class="allpage">
<div class="allpageinner buyingpage">


    <!-- Header -->
	<div class='bBuyingHead'>
		<a href='/'></a>
		<i>Оформление заказа</i><br>
		<span>Финальный шаг :)</span>
	</div>
    <!-- /Header -->

 	<div class='bBuyingInfo'>
 		<h2>Информация о заказе</h2>
		<dl class='bBuyingLine'>
			<dt>Ваш город:</dt>
			<dd>
				<div><p></p><input class='bBuyingLine__eText' type='text'> <a class='bGrayButton' href>Другой город</a></div>
			</dd>
		</dl>
		<dl class='bBuyingLine'>
			<dt>Выберите способ:</dt>
			<dd>
				<div>
					<p></p>
					<label class='mDisabled'><b></b> Доставка заказа курьером<input class='bBuyingLine__eRadio' name='r1' type='radio'></label>
					<i>Мы привезем заказ по любому удобному вам адресу. Пожалуйста, укажите дату и время доставки.</i>
				</div>
				
				<div>
					<p></p>
					<label class='mChecked'><b></b> Самостоятельно заберу в магазине, бесплатно.<input class='bBuyingLine__eRadio' name='r1' type='radio'></label>
					<i>Вы можете самостоятельно забрать товар из ближайшего к вам магазина Enter. Услуга бесплатная! Пожалуйста, выберите магазин.</i>
				</div>
				
			</dd>
		</dl>
		<span>Отличный выбор! Для вашего удобства мы сформировали несколько заказов в зависимости от типа доставки:</span>
 	</div>


	<!--  buying wrap -->
	<div class='bBuyingLineWrap'>
		
		<dl class='bBuyingLine'>
			<dt><h2>Доставим 12 декабря<br>с 9:00 до 14:00</h2><i>Стоимость доставки 290 <span class="rubl">p</span><i></dt>
			<dd>
				<div>
					<p></p>
					<ul class='bBuyingDates'>
						<li class='bBuyingDates__eLeft mDisabled'><b></b><span></span></li>
						<li class='bBuyingDates__eDisable'>10 <span>Пн</span></li> 
						<li class='bBuyingDates__eDisable'>11 <span>Вт</span></li> 
						<li class='bBuyingDates__eCurrent'>12 <span>Ср</span></li> 
						<li class='bBuyingDates__eEnable'>13 <span>Чт</span></li> 
						<li class='bBuyingDates__eEnable'>14 <span>Пт</span></li> 
						<li class='bBuyingDates__eEnable'>15 <span>Сб</span></li> 
						<li class='bBuyingDates__eEnable'>16 <span>Вс</span></li>
						<li class='bBuyingDates__eRight'><b></b><span></span></li>
					</ul>
				</div>
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt></dt>
			<dd>
				<div>
					<p>1 400 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
						<a class='bImgButton mArrows' href></a>
					</p>
					<img src='images/z_img1.png'> 
					<span class='bBuyingLine__eInfo'>
						Мягкая игрушка Fancy &laquo;Медведь Топа&raquo;
						<br><span>(1 шт.)</span>
					</span>
				</div>
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt></dt>
			<dd>
				<div>
					<p>999 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href>
							<span class='bTooltip' style='top:-38px; left:-36px'><span class='bTooltip__eText'>Удалить товар</span><span class='bTooltip__eArrow'></span></span>
						</a>
						<a class='bImgButton mArrows' href></a>
					</p>
					<img src='images/z_img2.png'> 
					<span class='bBuyingLine__eInfo'>
						Чайник со свистком 2,5 л
						<br><span>(1 шт.)</span>
					</span>
				</div>
			</dd>
		</dl>
		
		<div class='bBuyingLineWrap__eSum'>Итого с доставкой: <b>2 689 <span class="rubl">p</span></b></div>
	</div>
    <!--  /buying wrap -->


	<!--  buying wrap -->
	<div class='bBuyingLineWrap'>
		
		<dl class='bBuyingLine'>
			<dt><h2>Доставим 16 декабря<br>с 12:00 до 18:00</h2><i>Стоимость доставки 700 <span class="rubl">p</span><i></dt>
			<dd>
				<div>
					<p></p>
					<ul class='bBuyingDates'>
						<li class='bBuyingDates__eLeft mDisabled'><b></b><span></span></li>
						<li class='bBuyingDates__eDisable'>10 <span>Пн</span></li> 
						<li class='bBuyingDates__eDisable'>11 <span>Вт</span></li> 
						<li class='bBuyingDates__eCurrent'>12 <span>Ср</span></li> 
						<li class='bBuyingDates__eEnable'>13 <span>Чт</span></li> 
						<li class='bBuyingDates__eEnable'>14 <span>Пт</span></li> 
						<li class='bBuyingDates__eEnable'>15 <span>Сб</span></li> 
						<li class='bBuyingDates__eEnable'>16 <span>Вс</span></li>
						<li class='bBuyingDates__eRight'><b></b><span></span></li>
					</ul>
					<span class='bBuyingDatePopup' style='top: 2px; left: 152px'>
						<h3 class='bBuyingDatePopup__eTitle'>12 декабря</h3>
						<span class='bBuyingDatePopup__eLine'><i class='bBuyingDatePopup__eOK'></i> c 9:00 до 14:00</span>
						<span class='bBuyingDatePopup__eLine'><i></i> c 14:00 до 18:00</span>
						<span class='bBuyingDatePopup__eLine'><i></i> c 18:00 до 21:00</span>
					</span>
				</div>
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt></dt>
			<dd>
				<div>
					<p>24 190 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
					</p>
					<img src='images/z_img3.png'> 
					<span class='bBuyingLine__eInfo'>
						Угловой диван-кровать Вика 32
						<br><span>(1 шт.)</span>
					</span>
				</div>
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt></dt>
			<dd>
				<div>
					<p>1 950 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
					</p>
					<img src='images/z_img4.png'> 
					<span class='bBuyingLine__eInfo'>
						Утилизация демонтированной мебели
						<br><span>(1 шт.)</span>
					</span>
				</div>
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt></dt>
			<dd>
				<div>
					<p>5 950 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
					</p>
					<img src='images/z_img5.png'> 
					<span class='bBuyingLine__eInfo'>
						Тумба для ТВ Гриф МА-369
						<br><span>(1 шт.)</span>
					</span>
				</div>
			</dd>
		</dl>
		
		<div class='bBuyingLineWrap__eSum'>Итого с доставкой: <b>30 840 <span class="rubl">p</span></b></div>
	</div>
    <!--  /buying wrap -->




	<!--  buying wrap -->
	<div class='bBuyingLineWrap'>
		
		<dl class='bBuyingLine'>
			<dt><h2>Доставим 12 декабря<br>с 9:00 до 21:00</h2><i>Бесплатно<i></dt>
			<dd>
				<div>
					<p></p>
					<ul class='bBuyingDates'>
						<li class='bBuyingDates__eLeft mDisabled'><b></b><span></span></li>
						<li class='bBuyingDates__eDisable'>10 <span>Пн</span></li> 
						<li class='bBuyingDates__eDisable'>11 <span>Вт</span></li> 
						<li class='bBuyingDates__eDisable'>12 <span>Ср</span></li> 
						<li class='bBuyingDates__eDisable'>13 <span>Чт</span></li> 
						<li class='bBuyingDates__eDisable'>14 <span>Пт</span></li> 
						<li class='bBuyingDates__eDisable'>15 <span>Сб</span></li> 
						<li class='bBuyingDates__eCurrent'>16 <span>Вс</span></li>
						<li class='bBuyingDates__eRight'><b></b><span></span></li>
					</ul>
				</div>
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt>м. Белорусская, магазин на ул. Грузинский вал, д. 31</dt>
			<dd>
				
				<div>
					<p>9 900 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
						<a class='bImgButton mArrows' href>
							<span class='bTooltip' style='top:-38px; left:-87px'><span class='bTooltip__eText'>Поместить товар в другой заказ</span><span class='bTooltip__eArrow'></span></span>
						</a>
						<a class='bImgButton mMap' href></a>
					</p>
					<img src='images/z_img6.png'> 
					<span class='bBuyingLine__eInfo'>
						Сноуборд Salomon Salvatore Sanchez
						<br><span>(1 шт.) Только самовывоз</span>
					</span>
				</div>
				
				<div>
					<p>3 900 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
						<a class='bImgButton mMap' href>
							<span class='bTooltip' style='top:-38px; left:-64px'><span class='bTooltip__eText'>Выбрать другой магазин</span><span class='bTooltip__eArrow'></span></span>
						</a>
					</p>
					<img src='images/z_img7.png'> 
					<span class='bBuyingLine__eInfo'>
						Сноубордические ботинки Head Classic
						<br><span>(1 шт.)  Только самовывоз</span>
					</span>
				</div>
				
				<div>
					<p>9 900 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
						<a class='bImgButton mArrows' href></a>
						<a class='bImgButton mMap' href></a>
						<span class='bButtonPopup' style='top: 165px; left: 203px'>
							<span class='bButtonPopup__eTitle'>Переместить товар:</span>
							<a class='bButtonPopup__eLine'>В доставку 16 декабря</a>
							<a class='bButtonPopup__eLine'>В самовывоз 12 декабря</a>
						</span>
					</p>
					<img src='images/z_img6.png'> 
					<span class='bBuyingLine__eInfo'>
						Сноуборд Salomon Salvatore Sanchez
						<br><span>(1 шт.) Только самовывоз</span>
					</span>
				</div>
				
				<div>
					<p>3 900 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
						<a class='bImgButton mMap' href></a>
					</p>
					<img src='images/z_img7.png'> 
					<span class='bBuyingLine__eInfo'>
						Сноубордические ботинки Head Classic
						<br><span>(1 шт.)  Только самовывоз</span>
					</span>
				</div>
				
				<div class='bBracket'>
					<div class='bBracket__eBg'>
						<div class='bBracket__eBottom'>
							<div class='bBracket__eTop'></div>
							<div class='bBracket__eCurrent'></div>
						</div>
					</div>
				</div>
				
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt>м. Ленинский проспект, ул. Орджоникидзе, д. 11, стр. 10</dt>
			<dd>

				<div>
					<p>4 495 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
						<a class='bImgButton mMap' href></a>
					</p>
					<img src='images/z_img8.png'> 
					<span class='bBuyingLine__eInfo'>
						Смартфон Samsung Wave 525 черный
						<br><span>(1 шт.)  Только самовывоз</span>
					</span>
				</div>
				
				<div class='bBracket'>
					<div class='bBracket__eBg'>
						<div class='bBracket__eBottom'>
							<div class='bBracket__eTop'></div>
							<div class='bBracket__eCurrent'></div>
						</div>
					</div>
				</div>
				
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt>м. Киевская, ул. Б. Дорогомиловская, д. 8</dt>
			<dd>
				
				<div>
					<p>750 <span class="rubl">p</span></p>
					<p>
						<a class='bImgButton mBacket' href></a>
						<a class='bImgButton mMap' href></a>
					</p>
					<img src='images/z_img9.png'> 
					<span class='bBuyingLine__eInfo'>
						Фигурка South Park Cartman Talking Wacky Wobbeler
						<br><span>(1 шт.)  Только самовывоз</span>
					</span>
				</div>
				
				<div class='bBracket'>
					<div class='bBracket__eBg'>
						<div class='bBracket__eBottom'>
							<div class='bBracket__eTop'></div>
							<div class='bBracket__eCurrent'></div>
						</div>
					</div>
				</div>
				
			</dd>
		</dl>
		
		<div class='bBuyingLineWrap__eSum'>Итого: <b>19 045 <span class="rubl">p</span></b></div>
	</div>
    <!--  /buying wrap -->
    
	
	<dl class='bBuyingLine mSumm'>
		<dt>< <a href>Редактировать товары</a></dt>
		<dd>
			<div>Сумма всех заказов: <h3>52 574 <span class="rubl">p</span></h3></div>
		</dd>
	</dl>
	
	
	<div class='bBuyingInfo'>
 		<h2>Информация о счастливом получателе</h2>
		
		<dl class='bBuyingLine'>
			<dt>Имя и Фамилия получателя*:</dt>
			<dd>
				<div><p></p><input class='bBuyingLine__eText mInputLong' type='text'></div>
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt>Телефон для связи*:</dt>
			<dd>
				<div><p></p><input class='bBuyingLine__eText mInputLong' type='text'></div>
				<div>
					<p></p>
					<label><b></b> <h5>Я хочу получать СМС уведомления об изменении статуса заказа</h5> <input class='bBuyingLine__eRadio' name='r1' type='radio'></label>
				</div>
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt>Адрес доставки*:</dt>
			<dd>
				<div><p></p><input class='bBuyingLine__eText mInputLong' type='text'></div>
			</dd>
		</dl>
		
		<dl class='bBuyingLine'>
			<dt>Пожелания и дополнения</dt>
			<dd>
				<div>
					<p></p>
					<textarea class='bBuyingLine__eTextarea'></textarea>
					<i class='mILong'>Сколько раз повернуть направо, наличие бабушек у подъезда или цвет глаз секретаря - укажите любую информацию, которая поможет нам еще быстрее выполнить Ваш заказ.</i>
				</div>
				<div>
					<p></p>
					<label><b></b> <h5>Сохранить мои данные ля следующих покупок</h5> <input class='bBuyingLine__eRadio' name='r1' type='radio'></label>
				</div>
			</dd>
		</dl>
		
		<h2>Об оплате</h2>
		
		<dl class='bBuyingLine'>
			<dt>Выберите удобный для вас способ:</dt>
			<dd>
				<div>
					<p></p>
					<label><b></b> Оплата наличными<input class='bBuyingLine__eRadio' name='r1' type='radio'></label>
					<i>Оплатить товар наличными вы можете и при курьерской доставке, и если решили забрать товар из ближайшего магазина Enter самостоятельно.</i>
				</div>
				
				<div>
					<p></p>
					<label class='mChecked'><b></b> Оплата банковской картой курьеру или в магазине<input class='bBuyingLine__eRadio' name='r1' type='radio'></label>
					<i>Наши курьеры принимаю к оплате не только наличные, но и банковские карты. Так же картой можно заплатить при получении заказа в магазине.</i>
				</div>
				
				<div>
					<p></p>
					<label><b></b> Оплата банковской картой, сейчас на сайте<input class='bBuyingLine__eRadio' name='r1' type='radio'></label>
					<i>Вы можете оплатить ваш заказ прямо сейчас. Коплате принимаются банковские карты платежных систем Visa, MasterCard, Diners Club, JCB. Услуга бесплатная, никаких дополнительных процентов вы не платите.</i>
				</div>
				
			</dd>
		</dl>
		
		<div class='line'></div>
		
		<dl class='bBuyingLine'>
			<dt></dt>
			<dd>
				<div>
					<label class='mLabelLong'>
						<b></b> 
						<h4>Я ознакомлен и согласен с &laquo;<a href>Условиями продажи</a>&raquo; и &laquo;<a href>Правовой информацией</a>&raquo;*</h4> 
						<input class='bBuyingLine__eRadio' name='r1' type='radio'>
					</label>
				</div>
				<div>
					<p></p>
					<i class='mILong'>* Поля обязательные для заполнения</i>
				</div>
			</dd>
		</dl>
		
 	</div>

	
	<dl class='bBuyingLine mConfirm'>
		<dt>< <a href>Вернуться к покупкам</a></dt>
		<dd>
			<div><a class='bBigOrangeButton' href>Завершить оформление</a></div>
		</dd>
	</dl>


	<ul class='bBuyingFooter'>
		<li>
			<div class='bBuyingFooter__eEnter'></div>
			<h3>Ответы на вопросы</h3>
			<span>Наш Контакт cENTER<br><b>8 (800) 700 00 09</b><br> 24 часа в сутки / 7 дней в неделю. Звонок бесплатный. Радость в подарок :)</span>
		</li>
		<li>
			<div class='bBuyingFooter__eZakaz'></div>
			<h3>Безопасные покупки</h3>
			<span>Вы приобретаете качественный товар. Получаете и оплачиваете любым удобным для Вас способом.</span>
		</li>
		<li>
			<div class='bBuyingFooter__ePeople'></div>
			<h3>Сопровождение заказа</h3>
			<span>После оформления заказа, с Вами свяжется специалист нашего Контакт cENTER для подтверждения заказа.</span>
		</li>
		<li>
			<div class='bBuyingFooter__eCar'></div>
			<h3>Собственная служба доставка и сервис</h3>
			<span>Наша служба F1 доставит заказ вовремя.<br>Соберет, настроит и покажет, как работает.</span>
		</li>
		<li>
			<div class='bBuyingFooter__eFinger'></div>
			<h3>Как для себя</h3>
			<span>Вы можете обменять товар в течение 30 дней<br> и в течение 14 дне вернуть в магазин. </span>
		</li>
	</ul>

</div>
</div>

<!-- Footer -->
<div class="footer lowfooter">
    <div class="footerbottom">
        <div class="copy">
            &copy; &laquo;Enter&raquo; 2002-2011. Все права защищены.<br />
            Указанная стоимость товаров и условия их приобретения действительны по состоянию на текущую дату.
        </div>
        <div class="counter">
            <a href=""><img src="images/counter2.gif" alt="" width="50" height="30" /></a>
            <a href=""><img src="images/counter3.gif" alt="" width="50" height="30" /></a>       
        </div>
    </div>
</div>
<!-- /Footer -->
    
</body>
</html>
