<div class="productInner__hover js-listing-item"
     {{#isSlot}}data-is-slot="true"{{/isSlot}}
     {{#isOnlyFromPartner}}data-is-only-from-partner="true"{{/isOnlyFromPartner}}
     {{#ecommerce}}data-ecommerce='{{ecommerce}}'{{/ecommerce}}
        >
    {{#review.count}}
    <div class="productInner__reviews">
        <span class="product-card-rating__state">
            {{#review.stars}}
            <i class="product-card-rating__i {{#star}}product-card-rating__i--fill{{/star}}"></i>
            {{/review.stars}}
        </span>

        <span class="product-card-rating__tx">({{review.count}})</span>
    </div>
    {{/review.count}}

    <div class="productInner__imgBox">
        <a class="productInner__imgLink js-listing-item-img" href="{{link}}" {{#isNewWindow}}target="_blank"{{/isNewWindow}}>
            <img class="productInner__img" src="{{image}}" alt="{{name}}" />
        </a>
    </div><!--/ картинка продукта -->

    <div class="productInner__desc">
        <div class="inner">
            <a class="name" href="{{link}}" {{#isNewWindow}}target="_blank"{{/isNewWindow}}>{{name}}</a>

            {{#oldPrice}}
            <div class="productInner__price-old">
                <span class="td-lineth">{{price}}</span> <span class="rubl">p</span>&nbsp;
                - {{oldPrice}} <span class="rubl">p</span>
            </div>
            {{/oldPrice}}

            <div class="clearfix">
                <div class="price" class="">{{&price}} <span class="rubl">p</span></div>

                <div class="bBtnLine">
                    <a href="" class="btnCmprb jsCompareListLink" data-id="{{id}}" data-bind="compareListBinding: compare" {{#isSlot}}data-is-slot="true"{{/isSlot}} {{#isOnlyFromPartner}}data-is-only-from-partner="true"{{/isOnlyFromPartner}}></a>
                    {{#cartButton}}{{> cart/_button-product }}{{/cartButton}}
                </div>
            </div>

            {{#variations.0}}
                <span class="bOptions"><span class="bDecor">Варианты</span></span>
            {{/variations.0}}

            {{#variations.0}}
                <div class="bOptionsSection">
                    <i class="bCorner"></i>
                    <i class="bCornerDark"></i>

                    <ul class="bOptionsList">
                        {{#variations}}
                        <li class="bOptionsList__eItem">{{name}}</li>
                        {{/variations}}
                    </ul>
                </div>
            {{/variations.0}}
        </div>
    </div><!--/ описание продукта -->
</div>