.bGrayButton {
  .rounded(5px);
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #4b4b4b;
  display: inline-block;
  *display: inline;
  font: 14px Tahoma, sans-serif;
  padding: 6px 15px;
  zoom: 1;
  &:hover {
    background: #e4e4e4;
    border: 1px solid #cecece;
    color: #000;
    text-decoration: none;
  }
  &.disable {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #d0d0d0;
    cursor: default;
    text-decoration: none;
  }
}
// .bWhiteButton {
  // .rounded(5px);
  // background: @white;
  // border-radius: 5px;
  // border: 1px solid #ddd;
  // color: #4b4b4b;
  // display: inline-block;
  // *display: inline;
  // font: 14px Tahoma, sans-serif;
  // padding: 6px 15px;
  // zoom: 1;
  // &:hover {
    // background: @white;
    // border: 1px solid #cecece;
    // color: @black;
    // text-decoration: none;
  // }
  // &.disable {
    // background: @white;
    // border: 1px solid #ddd;
    // color: #cdcdcd;
    // cursor: default;
    // text-decoration: none;
  // }
// }
.bOrangeButton {
  .rounded(5px);
  background: #f89b1c;
  border: 1px solid #e26500;
  color: @white;
  display: inline-block;
  *display: inline;
  font: 14px Tahoma, sans-serif;
  padding: 6px 15px;
  zoom: 1;
  behavior: url(@pie);
  i {
    background: url("@{base-url}/common/img/in_deliver.png") 0px 0px no-repeat;//иконка корзины
    display: inline-block;
    *display: inline;
    height: 18px;
    margin-right: 7px;
    vertical-align: top;
    width: 19px;
    zoom: 1;
  }
  &:hover {
    background: #ee8900;
    border: 1px solid #cb5b00;
    color: @white;
    text-decoration: none;
  }
  .disable {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #cdcdcd;
    cursor: default;
    text-decoration: none;
    i {
      background: url("@{base-url}/common/img/in_deliver.png") 0px -18px no-repeat;//иконка корзины
    }
  }
}
.bBigOrangeButton {
  .rounded(5px);
  background: #f89b1c;
  border: 1px solid #e26500;
  color: @white;
  display: inline-block;
  *display: inline;
  font: bold 24px Tahoma, sans-serif;
  padding: 6px 80px;
  text-align: center;
  zoom: 1;
  // behavior: url(@pie);
  &:hover {
    background: #ee8900;
    border: 1px solid #cb5b00;
    color: @white;
    text-decoration: none;
  }
  &.disable {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #cdcdcd;
    cursor: default;
    text-decoration: none;
  }
}
.bBlueButton .link1,
.bSet__ePrice .link1,
.button {
  .rounded(5px);
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  overflow: visible;
  behavior: url(@pie);
}
.bBlueButton .link1,
.whitelink {
  .grayGradLight();
  border-color: #c9c9c9;
  color: #010101;
  display: inline-block;
  font-size: 11px;
  height: 18px;
  padding: 4px 10px 0px;
}
.bBlueButton .link1:hover,
.whitelink:hover {
  .grayGradDark();
  text-decoration: none;
}
.yellowbutton {
  .orangeGradLight();
  border-color: #f28900;
  color: @white;
  font-size: 11px;
  height: 24px;
  padding: 0px 7px 3px;
  &:hover {
    .orangeGradDark();
  }
  &.mDisabled{
    .opacity(0.5);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    color: @typGray;
    cursor: default;
    background: #f3f3f3;
    border: 1px solid @typGray;
  }
}
.whitebutton {
  .grayGradLight();
  border-color: #c9c9c9;
  color: #010101;
  font-size: 11px;
  height: 24px;
  padding: 0px 7px 3px;
  &:hover {
    .grayGradDark();
  }
}
.bigbutton {
  .orangeGradLight();
  border-color: #f28900;
  color: @white;
  font-size: 14px;
  height: 33px;
  padding: 0px 7px 3px;
  -webkit-appearance: none;
}
.bSet__ePrice .link1:hover,
.bigbutton:hover {
  .orangeGradDark();
}
.bigbutton.mDisabled {
  background: #f9f9f9;
  border-color: #e4e4e4;
  color: #dcdcdc;
  cursor: default;
}
.bSet__ePrice .link1 {
  .orangeGradLight();
  border-color: #f28900;
  color: @white;
  display: inline-block;
  font-size: 14px;
  height: 26px;
  padding: 7px 11px 0px;
  &:hover {
    .orangeGradDark();
    color: @white;
    text-decoration: none;
  }
  &.disabled {
    background: #f9f9f9;
    border-color: #e4e4e4;
    color: #dcdcdc;
    cursor: default;
  }
}
// drop-down
.bSelectWrap{
  .rounded(5px);
  background: url("@{base-url}/common/img/bSelectDown.png") right center no-repeat;
  border: 1px solid #9e9e9e;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  height: 30px;
  overflow: hidden;
  position: relative;
  &_eText{
    line-height: 30px;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
  }
  &.mFastInpSmall {
    vertical-align: top;
    width: 190px;
    .bSelect{
      width: 215px;
    }
  }
  &.mFastInpBig {
    width: 400px;
    .bSelect{
      width: 425px;
    }
  }
}
.bSelect {
  background: transparent;
  border: none;
  box-shadow: none;
  color: transparent;
  font-size: 16px;
  height: 30px;
  padding: 5px;
  position: absolute;
  -webkit-appearance: none;
  z-index: 2;
  &.mDisabled {
    border: 1px solid #ddd;
    color: #cdcdcd;
    cursor: default;
  }
  &_eItem{
    color: black;
    height: 30px;
  }
}