.bOrangeButton {
  .rounded(5px);
  background: #f89b1c;
  border: 1px solid #e26500;
  color: @white;
  display: inline-block;
  *display: inline;
  font: 14px Tahoma, sans-serif;
  padding: 6px 15px;
  zoom: 1;
  i {
    background: url("@{base-url}/common/img/in_deliver.png") 0px 0px no-repeat;//иконка корзины
    display: inline-block;
    *display: inline;
    height: 18px;
    margin-right: 7px;
    vertical-align: top;
    width: 19px;
    zoom: 1;
  }
  &:hover {
    background: #ee8900;
    border: 1px solid #cb5b00;
    color: @white;
    text-decoration: none;
  }
  .disable {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #cdcdcd;
    cursor: default;
    text-decoration: none;
    i {
      background: url("@{base-url}/common/img/in_deliver.png") 0px -18px no-repeat;//иконка корзины
    }
  }
}
.bBigOrangeButton {
  .rounded(5px);
  background: #f89b1c;
  border: 1px solid #e26500;
  color: @white;
  display: inline-block;
  *display: inline;
  font: bold 24px Tahoma, sans-serif;
  padding: 6px 80px;
  text-align: center;
  zoom: 1;
  &:hover {
    background: #ee8900;
    border: 1px solid #cb5b00;
    color: @white;
    text-decoration: none;
  }
  &.disable {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #cdcdcd;
    cursor: default;
    text-decoration: none;
  }
}
.button {
  .rounded(5px);
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  overflow: visible;
}
.bigbutton {
  .orangeGradLight();
  border-color: #f28900;
  color: @white;
  font-size: 14px;
  height: 33px;
  padding: 0px 7px 3px;
  -webkit-appearance: none;
  font-weight: normal;
}
.bigbutton:hover {
  .orangeGradDark();
}
.bigbutton.mDisabled {
  background: #f9f9f9;
  border-color: #e4e4e4;
  color: #dcdcdc;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 ); // IE6-9
}