/*обычные цвета*/
@white:#fff;
@black:#000;

/*фирменный оранжевый*/
@firmOrange:#ffa901;

/*фирменный голубой*/
@firmBlue:#4FCBF4;

/*типичный серый*/
@typGray:#a6a6a6;
/*типичный светло-серый*/
@typLightGray:#e6e6e6;
/*типичный цвет тени*/
@typBoxShadowColor:#616161;