html {
  font-size: 100.01%;
  height: 100%;
  width: 100%;
}
body {
  background: #f6f1e9;
  color: @black;
  font: normal 75% tahoma, verdana, arial, helvetica, sans-serif;
  height: auto !important;
  margin: 0px;
  padding: 0px;
}
.allpage {
  background-color: @white;
  height: auto;
  margin: 0px auto;
  min-height: 100%;
  padding: 0px 20px;
  width: 920px;
}
* html .allpage {
  height: 100%;
}
.allpageinner {
  padding-bottom: 438px;
  position: relative;
}
*+html .allpageinner {
  float: left;
  width: 100%;
}
/* for IE7 */
td,
th,
ul,
ol,
li,
dl,
dt,
dd,
input,
textarea,
select,
label,
button {
  font: normal 1em tahoma, verdana, arial, helvetica, sans-serif;
}
ul,
dl,
dd,
ol,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0px;
}
img {
  border: 0px;
}
h1 {
  float: left;
  font-family: "Enter";
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  width: 560px;
}
h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  padding: 0px 0px 11px;
  &.bold {
    font-weight: bold;
  }
}
a {
  color: @black;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: @typLinkColor;
  text-decoration: underline;
}
a.underline {
  text-decoration: underline;
}
a.underline:hover {
  color: @typLinkColor;
}
.dashedLink{
  text-decoration: none;
  border-bottom: 1px dashed;
  &:hover{
    text-decoration: none;
    border-bottom: 1px dashed;
  }
}
a.nodecor {
  text-decoration: none;
}
.red,
.red:hover {
  color: @firmRed !important;
}
.redprice,
.redprice:hover {
  color: @typRed !important;
}
.gray {
  color: @typGray;
}
.orange,
.orange:hover,
.orange.underline:hover {
  color: @firmOrange;
}
.green {
  color: @firmGreen;
}
.motton,
a.motton:hover {
  color: @firmBlue;
}
.white,
.white:hover {
  color: @white;
}
.black {
  color: @black;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.clear {
  clear: both;
  font-size: 0px;
  line-height: 0px;
  width: 100%;
}
// true clear fix!
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.float100 {
  float: left;
  width: 100%;
}

.ar {
  text-align: right;
}
.ac {
  text-align: center;
}
.al {
  text-align: left;
}
.vm {
  vertical-align: middle;
}
.pr {
  position: relative;
}
.pr_imp {
  position: relative !important;
}
.db {
  display: block;
}
input,
select {
  vertical-align: middle;
}
input,
textarea {
  outline: none;
}
table {
  border-collapse: collapse;
}
.nowrap {
  white-space: nowrap;
}
.through {
  text-decoration: line-through;
}
.hidden {
  display: none;
}
.p0 {
  padding: 0px !important;
}
.pt5 {
  padding-top: 5px;
}
.pt7 {
  padding-top: 7px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pb3 {
  padding-bottom: 3px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb8 {
  padding-bottom: 8px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
/*.customalign h2.pb30 {
  padding-bottom: 30px;
}*/
.pb40 {
  padding-bottom: 40px;
}
.pl20 {
  padding-left: 20px;
}
.pl35 {
  padding-left: 35px;
}
.pl235 {
  padding-left: 235px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb70 {
  margin-bottom: 70px;
}
.mt5 {
  margin-top: 5px;
}
.mt-30 {
  margin-top: -30px;
}
.mt32 {
  margin-top: 32px;
}
.ml5 {
  margin-left: 5px;
}
.ml20 {
  margin-left: 20px;
}
.ml70 {
  margin-left: 70px;
}
.ml30 {
  margin-left: 30px;
}
.ml-10 {
  margin-left: -10px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr110 {
  margin-right: 110px;
}
.auto {
  margin: 0px auto;
}
.font09 {
  font-size: 0.9em;
}
.font9 {
  font-size: 9px;
}
.font10 {
  font-size: 10px;
}
.font11 {
  font-size: 11px;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font19 {
  font-size: 19px;
}
.font24 {
  font-size: 24px;
}
.font30 {
  font-size: 30px;
}
.font34 {
  font-size: 34px;
}
.font36 {
  font-size: 36px;
}
.font48 {
  font-size: 48px;
}
.lh13 {
  line-height: 1.3em;
}
.lh15,
ul.lh15 li {
  line-height: 1.5em;
}
.width70 {
  width: 70px;
}
.width117 {
  width: 117px;
}
.width140 {
  width: 140px;
}
.width181 {
  width: 181px;
}
.width215 {
  width: 215px;
}
.width219 {
  width: 219px;
}
.width230 {
  width: 230px;
}
.width250 {
  width: 250px;
}
.width290 {
  width: 290px;
}
.width315 {
  width: 315px;
}
.width327 {
  width: 327px;
}
.width345 {
  width: 345px;
}
.width358 {
  width: 358px;
}
.width360 {
  width: 360px;
}
.width370 {
  width: 370px;
}
.width400 {
  width: 400px;
}
.width415 {
  width: 415px;
}
.width418 {
  width: 418px;
}
.width430 {
  width: 430px;
}
.width450 {
  width: 450px;
}
.width483 {
  width: 483px;
}
.width500 {
  width: 500px;
}
.width545 {
  width: 545px;
}
.width645 {
  width: 645px;
}
.width685 {
  width: 685px;
}
.width694 {
  width: 694px;
}
.width874 {
  width: 874px;
}
.width920 {
  width: 920px;
}
.width33ps {
  width: 33%;
}
.height170 {
  height: 170px;
}
.height220 {
  height: 220px;
}
.height250 {
  height: 250px;
}
.mW750 {
  width: 750px;
}
.mW1000 {
  width: 1000px;
}
.column215 {
  float: left;
  margin-left: -100%;
  position: relative;
  width: 215px;
  z-index: 5;
}
.column685 {
  margin: 0px 0px 0px 235px;
  position: relative;
  z-index: 1;
}
.mBR5 {
  border-radius: 5px;
}
.mSmall{
  font: 12px Tahoma, sans-serif;
  line-height: 1.6;
}
.mBig{
  font: 16px Tahoma, sans-serif;
  line-height: 1.6;
}
.border-none {
  border: 0 none;
}
.grayUnderline {
  border-bottom: 1px solid @typLightGray;
}
.rubl {
  font-family: "Rouble";
  font-size: 90%;
  margin: 0px 0px 0px -5px;
}
.line {
  border-top: 1px solid @typLightGray;
  clear: both;
  font-size: 0px;
  line-height: 0px;
}
.placeholder {
  color: #ddd;
}
.fm{
  text-align:left;
}
.hf{
  display:none;
}
.f1 {
  background: url("@{base-url}/common/img/icons.png") no-repeat 0px -111px;
  padding: 3px 0px 3px 29px;
}
.entry {
  background: url("@{base-url}/common/img/icons.png") no-repeat 0px -139px;
  padding: 3px 0px 3px 29px;
}
.mTah12 {
  font-size: 12px;
  font-family: Tahoma, sans-serif;
}
.article {
  border-bottom: 1px solid @typLightGray;
  color: @typGray;
  float: left;
  font-size: 11px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
  width: 100%;
}
.error_list {
  color: red;
}
.graying {
  background: @black;
  bottom: 0px;
  filter: e("progid:DXImageTransform.Microsoft.Alpha(opacity=50)");
  height: 100%;
  left: 0px;
  .opacity(0.5);
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 99;
}
.text {
  .rounded(5px);
  border: 1px solid #c9c9c9;
  height: 22px;
  padding: 0px 5px;
  &:hover {
    border-color: #ffd073;
  }
  &.active {
    background-color: #fff3db;
    border-color: #ffd073;
  }
  &.textdisabled {
    border-color: #e4e4e4;
    color: @typGray;
  }
}
.popupbox {
//  padding: 20px 20px 30px;
}
.pouptitle {
  float: left;
  font-family: "Enter";
  font-size: 30px;
  margin: 0px;
  text-transform: uppercase;
  width: 560px;
}
.mInlineBlock {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.selectbox {
  .rounded(5px);
  .grayGradDark();
  border: 1px solid #c9c9c9;
  height: 22px;
  line-height: 22px;
  padding: 0px 10px;
  position: relative;
  &:hover {
    .grayGradDark2();
  }
  .select {
    height: 22px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }
  .styled {
    cursor: pointer;
    filter: e("progid:DXImageTransform.Microsoft.Alpha(opacity=0)");
    height: 22px;
    margin-left: -10px;
    .opacity(0);
    position: relative;
    z-index: 2;
  }
  i {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAKCAYAAABv7tTEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABh0RVh0Q3JlYXRpb24gVGltZQAxNi4xMS4yMDEyvvBtbAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAACRSURBVCiRrdDBCQIxEIXhP/FkDxYxYMjJBmxCsDbBIrwteMlmITnZgTUIwjJ7MbDEXXPxwcAk5JuBGABxfs/vjCmGXA5GnBcgNRDALsXwBLDAA+ga4FIAgM1D/waOwH0FXIHz/MKURpzfAjfgUIFTimGcI1uaPPSvauMiWIw4v/l8DgCq+lVGVZuD6tj2kz+hCU0WNx9hq/02AAAAAElFTkSuQmCC) no-repeat -62px -24px;
    display: block;
    height: 7px;
    margin-top: -3px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 11px;
  }
}
.selectbox170 {
  width: 148px;
  .select {
    width: 135px;
  }
  .styled {
    width: 170px;
  }
}
.selectbox225 {
  width: 203px;
  .select {
    width: 190px;
  }
  .styled {
    width: 225px;
  }
}
.bMobDown {
  .box-shadow(0px 0px 10px #333);
  background: @white;
  border: 2px solid @firmOrange;
  display: inline-block;
  *display: inline;
  margin: 0px auto;
  padding: 15px 0px 30px;
  text-align: left;
  zoom: 1;
}
.dragbox {
  bottom: 41px;
  height: 100%;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 101;
  div {
    background-color: @white;
    cursor: pointer;
    height: 60px;
    position: absolute;
    width: 60px;
    z-index: 102;
  }
}
.noti {
  .rounded(15px);
  display: none;
  width: 300px;
  height: 200px;
  background-color: @white;
  text-align: center;
  font-size: 18px;
}
.noti > div{
  margin-top: 50px;
}
.notBuying{
  border:1px solid @typLightGray;
  padding:7px;
  position: relative;
  .corner{
    border-bottom: 9px solid @typLightGray;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    position: absolute;
    top: -9px;
    width: 0;
    div{
      border-bottom: 7px solid @white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      bottom: -9px;
      left: -8px;
      position: absolute;
    }
  }
}