// old brash
// @font-face {
// 	font-family: 'Enter';
// 	src: url('/css/common/fonts/enter_brash_01-webfont.eot');
// 	src: url('/css/common/fonts/enter_brash_01-webfont.eot?#iefix') format('embedded-opentype'),
// 	url('/css/common/fonts/enter_brash_01-webfont.ttf') format('truetype');
// }

// new brash
@font-face {
	font-family: 'Enter';
	src: url('/css/common/fonts/new_enter_brush.eot');
	src: url('/css/common/fonts/new_enter_brush.eot?#iefix') format('embedded-opentype'),
	url('/css/common/fonts/new_enter_brush.ttf') format('truetype');
}
@font-face {
	font-family: 'Rouble';
	src: url('/css/common/fonts/rouble.eot');
	src: url('/css/common/fonts/rouble.eot?#iefix') format('embedded-opentype'),
	url('/css/common/fonts/rouble.ttf') format('truetype');
}
@font-face {
	font-family: 'Enter Type';
	src: url('/css/common/fonts/enter_type-webfont.eot');
	src: url('/css/common/fonts/enter_type-webfont.eot?#iefix') format('embedded-opentype'),
	url('/css/common/fonts/enter_type-webfont.woff') format('woff'),
	url('/css/common/fonts/enter_type-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Enter Type Bold';
	src: url('/css/common/fonts/entertype_bold-webfont.eot');
	src: url('/css/common/fonts/entertype_bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/css/common/fonts/enter_type-webfont.woff') format('woff'),
	url('/css/common/fonts/entertype_bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.rouble{
	font-family: Rouble;
	font-size: 36px;
}