#upper{
  .border-radius(0, 6px, 6px, 0);
  .box-shadow(0 0 7px @typBoxShadowColor);
  background:@firmOrange url("@{base-url}/common/img/upArrow.png") no-repeat 5px 3px;
  position:fixed;
  top:0;
  left:50%;
  margin-left: -25px;
  margin-top:-30px;
  padding: 2px 15px 5px 30px;
  a{
    font-size:16px;
    color:@white;
    &:hover{
      text-decoration:none;
    }
  }
}
