<div class="priceRange">
    <input type="text" class="js-productFilter priceRange_amount" name="{{elements.0.name}}" value="{{elements.0.value}}" />
    <div class="js-rangeSlider priceRange_slider" data-value="{{&dataValue}}"></div>
    <input type="text" class="js-productFilter priceRange_amount" name="{{elements.1.name}}" value="{{elements.1.value}}" />
    <span class="priceRange_rubl rubl">p</span>
</div><!--/ фильтр цен -->