// widget delivery
.bWidgetBuy {
    border: 1px solid #c7c7c7;
    padding: 10px 5px; 
    &__eClick {
        font-size: 14px;
        text-align: center;
        margin: 24px 0 0;
        a {
            text-decoration: underline;
        }
    }
    &__eDelivery {
        margin: 30px 0 0;
        &-item {
            background: url("@{base-url}/rightBarCard/img/ico.png") no-repeat 0 1px;
            padding-left: 25px;
            margin: 0 0 12px;
            span {
                font-size: 14px;
            }
        }
        &-price {
            background-position: 0 -34px;
        }
        &-now {
            display: none;
            cursor: pointer;
            &.mOpen {
                background-position: 5px -235px;
            }
            &.mClose {
                background-position: 5px -129px;
            }
        }
    }
    .bAwardSection {
        text-align: center;
    }
}
.bDeliveryFreeAddress {
    margin: 10px 0 10px;
    display: none;

    &__eShop {
        font-size: 11px;
        padding: 0 0 10px;
    }
    
    .mOpen &{
        display: block;
    }

}

// counter
.bCountSection {
    font-size: 14px;
    margin: 0 0 10px 59px;
    line-height: 24px;
    width: 115px;
    button {
        background: url("@{base-url}/rightBarCard/img/bg_count_btn.png") no-repeat 0 0;
        display: block;
        width: 20px;
        height: 24px;
        cursor: pointer;
        text-align: center;
        border: none;
        float: left;
        margin-right: 3px;
        padding: 0;
    }
    &__eNum {
        border: 1px solid #c7c7c7;
        .rounded(3px);
        height: 22px;
        line-height: 14px;
        padding: 0;
        text-align: center;
        width: 33px;
        padding: 0;
        float: left;
        margin-right: 3px;
    }
}
// widget services
.bWidgetService {
    border: 1px solid #41c7ef;
    padding: 0 0 10px;
    &__eHead {
        background: url("@{base-url}/rightBarCard/img/ico.png") #41c7ef no-repeat 8px -81px;
        padding: 7px 10px 8px 33px;
        color: #fff;
        font-size: 14px;
        line-height: 1.2;
        strong {
            display: block;
        }
    }
    &__eAll {
        padding: 15px 0 0 32px;
        span {
            font-size: 14px;
        }
    }
    &__eInputList {
        font-size: 14px;
        .bHint {
            margin: 2px 0 0;
            .bHint_ePopup {
                left: -200px;
                width: 238px;
                z-index: 11;
            }
        }
        li {
            margin: 11px 0 0;
            padding: 0 0 0 11px;
            .bDeSelect {
                padding: 5px 0 0 21px;
                a {
                    text-decoration: none;
                    border-bottom: 1px dotted;
                    font-size: 12px;
                }
            }
            .bCustomInput[type="checkbox"],
            .bCustomInput[type="radio"] {
                display:none;            
            }
            .bCustomInput[type="checkbox"]+.bCustomLabel, 
            .bCustomInput[type="radio"]+.bCustomLabel {
              cursor: pointer;
            }
            .bCustomInput[type="checkbox"]+.bCustomLabel::before,
            .bCustomInput[type="radio"]+.bCustomLabel::before {
                content: "";
                display: inline-block;
                height: 16px;
                width: 16px;
                margin: 0;
                background: url("@{base-url}/rightBarCard/img/ico.png") no-repeat 0 -163px;
                vertical-align: top;
            }
            .bCustomInput[type="checkbox"]+.bCustomLabel::before {
                background-position: 0 -212px;
            }
            .bCustomInput[type="radio"]+.bCustomLabel::before {
                background-position: 0 -163px;
            }
            .bCustomInput[type="checkbox"]:checked+.bCustomLabel::before,
            .bCustomInput[type="radio"]:checked+.bCustomLabel::before {
                background-position: 0 -187px;
            }
            .bCustomInput[type="checkbox"]:checked+.bCustomLabel,
            .bCustomInput[type="radio"]:checked+.bCustomLabel {
                .dotted {
                    border-bottom: none;
                }
            }
            .bCustomLabel {
                display: block;
                &__eText {
                    display: inline-block;
                    width: 182px;
                }
                &__ePrice {
                    margin: 5px 0 0;
                }
            }
        }
    }
}

.mWidget {
    .rounded(5px);
    margin: 0 0 10px;
}