<div class="content">
    <div class="contentBox960">
        <div class="pageTitle">Корзина</div>

        {{#productBlock}}
            {{#products}}
            <!-- товар в корзине -->
            <div class="cartItem clearfix">
                <a href="{{url}}" class="cartItem_col cartItem_col-img">
                    <img class="img" src="{{image}}" alt="{{&name}}" />
                </a>

                <div class="cartItem_col cartItem_col-desc">
                    <a class="name" href="{{url}}">
                        {{#namePrefix}}<span class="name_cat">{{namePrefix}}</span>{{/namePrefix}}
                        {{name}}
                    </a>

                    <div class="price">{{shownSum}} <span class="rubl">p</span></div>
                </div>

                <div class="cartItem_col cartItem_col-price">
                    <div class="priceNum">{{shownPrice}} <span class="rubl">p</span></div><!--/ дубль для мобилки -->

                    <div class="price">{{shownPrice}} <span class="rubl">p</span></div>

                    <div class="change">
                        {{#cartSpinner}}
                            {{>partial/cart/spinner}}
                        {{/cartSpinner}}

                        <a class="delete" href="">Удалить</a>
                    </div>
                </div>
            </div>
            <!--/ товар в корзине -->
            {{/products}}
        {{/productBlock}}

        <!-- итоговая стоимость заказа/купить в кредит -->
        <div class="cartLine clearfix">
            <div class="cartLine_left cartLine_left-double clearfix">
                Итого 4 товара на сумму: <span class="price">55 555 <span class="rubl">p</span></span>
            </div><!--/ дубль для мобилки -->

            <div class="cartLine_right clearfix">
                <input class="customInput customInput-checkbox jsCustomRadio" type="checkbox" id="creditinput" name="" />

                <label class="customLabel" for="creditinput">
                    <strong class="creditText">Купить в кредит</strong>
                    <span class="creditSum">от <span class="price">3 443 <span class="rubl">p</span></span> в месяц</span>
                </label>
            </div>

            <div class="cartLine_left clearfix">
                Итого 4 товара на сумму: <span class="price">55 555 <span class="rubl">p</span></span>
            </div>
        </div>
        <!--/ итоговая стоимость заказа/купить в кредит -->

        <!-- оформить заказ -->
        <div class="cartBuy">
            <a class="btnStyleOrange cartBuy_btn" href="">Оформление заказа</a>
        </div>
        <!--/ оформить заказ -->
    </div>
</div>