<div class="content">
    <div class="contentBox960">
        <div class="pageTitle">Корзина</div>

        {{#productBlock}}
            {{#products}}
            <!-- товар в корзине -->
            <div class="js-cartProduct-container cartItem clearfix">
                <a href="{{url}}" class="cartItem_col cartItem_col-img">
                    <img class="img" src="{{image}}" alt="{{&name}}" />
                </a>

                <div class="cartItem_col cartItem_col-desc">
                    <a class="name" href="{{url}}">
                        {{#namePrefix}}<span class="name_cat">{{namePrefix}}</span>{{/namePrefix}}
                        {{name}}
                    </a>

                    {{#sum}}
                        {{>partial/cart/productSum}}
                    {{/sum}}
                </div>

                <div class="cartItem_col cartItem_col-price">
                    <div class="priceNum">{{shownPrice}} <span class="rubl">p</span></div><!--/ дубль для мобилки -->

                    <div class="price">{{shownPrice}} <span class="rubl">p</span></div>

                    <div class="change">
                        {{#cartSpinner}}
                            {{>partial/cart/spinner}}
                        {{/cartSpinner}}

                        {{#cartDeleteButton}}
                            {{>partial/cart/deleteButton}}
                        {{/cartDeleteButton}}
                    </div>
                </div>
            </div>
            <!--/ товар в корзине -->
            {{/products}}
        {{/productBlock}}

        {{#cart}}
            {{>partial/cart/total}}
        {{/cart}}

        {{^cart}}
        <div class="cartEmpty">
            <div class="cartEmpty_title">В вашей корзине еще нет товаров.</div>

            <div class="cartEmpty_now"><a href="/">Перейти к покупкам &rsaquo;</a></div>
        </div>     
        {{/cart}}
    </div>
</div>

{{#cart}}
    {{>partial/cart/bar}}
{{/cart}}