<div class="content">
    <div class="contentBox960">
    	<!-- товар в корзине -->
    	<div class="cartItem clearfix">
    		<a href="" class="cartItem_col cartItem_col-img">
                <img class="img" src="http://fs01.enter.ru/1/1/120/bb/277081.jpg" />
            </a>

            <div class="cartItem_col cartItem_col-desc">
                <a class="name" href="">
                    <span class="name_cat">Сушилка для овощей и фруктов</span>
                    Для овощей и фруктов Alcatel OT8020D черный
                </a>

                <div class="price">3 232 <span class="rubl">p</span></div>
            </div>

    		<div class="cartItem_col cartItem_col-price">
				<div class="price">2 232 <span class="rubl">p</span></div>

                <div class="change">
    				<div class="counter">
                        <button class="js-buySpinner-dec counter__btn counter__btn-plus">-</button>
                        <input type="text" value="1" class="js-buySpinner-value counter__input">
                        <button class="js-buySpinner-inc counter__btn counter__btn-minus">+</button>
                        <span class="counter__num">шт.</span>
                    </div>

                    <a class="delete" href="">Удалить</a>
                </div>
    		</div>
    	</div>
    	<!--/ товар в корзине -->

    	<!-- товар в корзине -->
        <div class="cartItem clearfix">
            <a href="" class="cartItem_col cartItem_col-img">
                <img class="img" src="http://fs01.enter.ru/1/1/120/bb/277081.jpg" />
            </a>

            <div class="cartItem_col cartItem_col-desc">
                <a class="name" href="">
                    <span class="name_cat">Сушилка для овощей и фруктов</span>
                    Для овощей и фруктов Alcatel OT8020D черный
                </a>

                <div class="price">3 232 <span class="rubl">p</span></div>
            </div>

            <div class="cartItem_col cartItem_col-price">
                <div class="price">2 232 <span class="rubl">p</span></div>

                <div class="change">
                    <div class="counter">
                        <button class="js-buySpinner-dec counter__btn counter__btn-plus">-</button>
                        <input type="text" value="1" class="js-buySpinner-value counter__input">
                        <button class="js-buySpinner-inc counter__btn counter__btn-minus">+</button>
                        <span class="counter__num">шт.</span>
                    </div>

                    <a class="delete" href="">Удалить</a>
                </div>
            </div>
        </div>
        <!--/ товар в корзине -->

    	<!-- товар в корзине -->
        <div class="cartItem clearfix">
            <a href="" class="cartItem_col cartItem_col-img">
                <img class="img" src="http://fs01.enter.ru/1/1/120/bb/277081.jpg" />
            </a>

            <div class="cartItem_col cartItem_col-desc">
                <a class="name" href="">
                    <span class="name_cat">Сушилка для овощей и фруктов</span>
                    Для овощей и фруктов Alcatel OT8020D черный
                </a>

                <div class="price">3 232 <span class="rubl">p</span></div>
            </div>

            <div class="cartItem_col cartItem_col-price">
                <div class="price">2 232 <span class="rubl">p</span></div>

                <div class="change">
                    <div class="counter">
                        <button class="js-buySpinner-dec counter__btn counter__btn-plus">-</button>
                        <input type="text" value="1" class="js-buySpinner-value counter__input">
                        <button class="js-buySpinner-inc counter__btn counter__btn-minus">+</button>
                        <span class="counter__num">шт.</span>
                    </div>

                    <a class="delete" href="">Удалить</a>
                </div>
            </div>
        </div>
        <!--/ товар в корзине -->

        <div class="cartLine clearfix">
            <div class="cartLine_right">
                <input class="customInput customInput-checkbox jsCustomRadio" type="checkbox" id="creditinput" name="" />

                <label class="customLabel" for="creditinput">
                    <strong>Купить в кредит</strong><br/>
                    от <span class="price">3 443 <span class="rubl">p</span></span> в месяц
                </label>
            </div>

            <div class="cartLine_left">
                Итого 4 товара на сумму: <span class="price">55 555 <span class="rubl">p</span></span>
            </div>
        </div>

        <div class=""><a class="btnStyle " href="">Оформление заказа</a></div>
    </div>
</div>