.i-info {
    display: block;

    cursor: pointer;
    &__tx {
        .inline-block-middle();
    }
    &__icon {
        margin-left: 2px;
    }
}

// название товара
.product-name {
    font-size: 26px;

    margin: 0;
}

// ссылка на оффер староннего поставщика
.vandor-offer {
    &__lk {
        color: #9c9c9c;

        .inline-block();
        &:hover {
            text-decoration: none;
        }
    }
}

// карточка товара
.product-card {
    margin: 10px 0 20px;
    &__l {
        float: left;

        width: 350px;
        margin: 0 60px 0 0;
    }
    &__c {
        float: left;

        width: 280px;
    }
    &__r {
        float: right;

        width: 220px;
    }
}

// описание товара
.product-card-desc {
    color: #9c9c9c;
}

// фильтр моделей
.product-card-filter {
    margin: 0 0 15px;
    &__tl {
        font-size: 14px;

        margin: 5px 5px 0 0;

        .inline-block();
    }
    &__box {
        .inline-block();
    }
}

// красткие характеристики
.product-card-prop {
    margin: 0 0 15px;

    color: #9c9c9c;
    &__i {
        width: 135px;
        margin: 0 0 8px;

        .inline-block();
        &--val {
            margin-left: 5px;
        }
    }
}

// старая цена
.product-card-old-price {
    font-size: 18px;

    color: #ef404a;
    &__inn {
        position: relative;
        &:after {
            position: absolute;
            top: 50%;
            left: 0;

            width: 100%;
            height: 1px;

            content: '';

            background: #8c8989;
        }
    }
}

// цена
.product-card-price {
    font-size: 36px;

    color: #363636;
}

// блок акций
.product-card-action {
    font-weight: bold;

    position: relative;

    margin: 0 0 10px;
    padding: 5px 10px;

    color: #ef404a;
    border: 1px dotted #ef404a;
    &__tx {
        width: 177px;
    }
}

.buy-on-credit {
    &__tl {
        font-size: 18px;

        display: block;

        margin: 0 0 2px;

        color: #f99b1c;
    }
    &__tx {
        font-size: 11px;

        color: #8c8c8c;
    }
    &__mark {
        color: #363636;
        background: none;
    }
}

.buy-now-inshop {
    padding: 7px 10px 10px;

    cursor: pointer;

    border: 1px solid #80c342;
    &__tl {
        font-size: 14px;

        color: #80c342;
        border-bottom: 1px solid #80c342;

        .inline-block();
    }
    &__line {
        margin: 3px 0 0;
    }
    &__mark {
        color: #9c9c9c;
    }
}

.product-card-discount-switch {
    margin: 5px 0 10px;
    &__i {
        .inline-block-middle();
        &--tx {
            max-width: 110px;
            margin: 0 2px 0 5px;

            color: #8c8c8c;
        }
    }
}

//блок с дисконтами
.product-discounts {
    margin: 0 -10px;

    text-align: center;

    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    &-list {
        font-size: 0;
        font-size: 0;

        width: 700px;
        margin: 0 auto;
        padding: 20px 10px;

        white-space: nowrap;
        &__i {
            width: 140px;
            height: 30px;
            margin: 0 0 0 140px;

            .inline-block();
            &:first-child {
                margin: 0;
            }
        }
        &__lk {
            &:hover {
                text-decoration: none;
            }
        }
    }
}