//
.i-product {
    background-image: url('@{base-url}/product/img/i-product.png');
    &--finger-positive {
        .sprite-temp(-25px, 0, 25px, 25px);
    }
    &--finger-negative {
        .sprite-temp(0, 0, 25px, 25px);
    }
    &--pdf {
        .sprite-temp(-53px, -22px, 19px, 25px);
    }
    &--fishka {
        .sprite-temp(0, -25px, 23px, 23px);
    }
    &--info-normal {
        vertical-align: middle;

        .sprite-temp(-23px, -25px, 15px, 15px);
    }
    &--info-warn {
        vertical-align: middle;

        .sprite-temp(-38px, -25px, 15px, 15px);
    }
    &--star-empty {
        .sprite-temp(-23px, -47px, 11px, 10px);
    }
    &--star-fill {
        .sprite-temp(-34px, -47px, 11px, 10px);
    }
    &--hint {
        .sprite-temp(-50px, 0, 10px, 10px);
    }
    &--onclick {
        .sprite-temp(-60px, 0, 21px, 22px);
    }
}

.i-tools-icon {
    background-image: url('@{base-url}/product/img/i-tools-icons.png');

    .transition(all .2s ease-out);
    &--header-compare {
        .sprite-temp(0, 0, 25px, 25px);
    }
    &--product-compare {
        .sprite-temp(-25px, 0, 22px, 21px);
    }
    &--wish {
        .sprite-temp(-47px, 0, 22px, 22px);
    }
}

.i-paysystem-icon {
    background-image: url('@{base-url}/product/img/payment-system-sprite.png');
    &--psb {
        .sprite-temp(0, 0, 22px, 22px);
    }
    &--mastercard {
        .sprite-temp(-22px, 0, 35px, 22px);
    }
    &--visa {
        .sprite-temp(-57px, 0, 43px, 22px);
    }
}