@full-grids: 100%;

.product-cart-get{
    display: block;
    margin: 10px 0;

    &, *{
        .box-sizing();
    }

    &__title{
        display: block;
        margin-bottom: 3px;

        font-size: 12px;
        color: #868686;
    }

    &__grids{
        display: block;

        border: 1px solid #ebebeb;

        font-size: 0;
    }

    &__grids-cell{
        .inline-block(middle);
        width: @full-grids;
        height: 27px;

        padding: 2px;
        text-align: center;

        &:before{
            content: '';

            .inline-block(middle);
            height: 100%;
        }

        img{
            .inline-block(middle);
            max-width: 100%;
            max-height: 100%;
        }

        &_2{
            width: @full-grids/2;
        }

        &_3{
            width: @full-grids/3;
        }

        &_4{
            width: @full-grids/4;
        }
    }

}