.product-tabs {
    margin: 10px -10px 0;
    padding: 0 20px;

    white-space: nowrap;

    border-bottom: 4px solid #e8e8e8;
    &__i {
        font-size: 16px;
        line-height: 50px;

        position: relative;

        height: 45px;
        margin: 0 5px 0 0;
        padding: 0 20px;

        text-align: center;

        .inline-block();
        &--active ,
        &:hover {
            .product-tabs__lk {
                border: none;
            }
            &:after {
                position: absolute;
                bottom: -4px;
                left: 0;

                width: 100%;
                height: 4px;

                content: '';

                background: #f99b1c;
            }
        }
        &--active {
            font-weight: bold;
        }
    }
    &__lk {
        text-decoration: none;

        border-bottom: 1px solid;
        &:hover {
            text-decoration: none;
        }
    }
}

.product-section {
    overflow: hidden;

    margin: 0 -10px;
    &__props {
        float: left;

        width: 500px;
        padding: 20px 10px;
        .product-section__tl {
            padding: 0;
        }
    }
    &__tl {
        font-size: 16px;
        font-weight: bold;

        margin: 10px 0 5px;
        padding: 0 0 0 10px;
    }
    &__sbtl {
        font-size: 14px;

        margin: 10px 0 5px;
    }
    &__desc {
        float: right;
        overflow: visible;

        width: 400px;
        margin-top: 10px;
        padding: 10px 20px;

        background-color: #f7f7f7;
        .product-section__tl {
            padding: 0;
        }
    }
    &__content {
        font-size: 14px;
        line-height: 24px;

        padding: 10px 0 0;
    }
}

.props-list {
    overflow: hidden;
    &__name {
        &--tl {
            float: left;
            clear: both;

            width: 270px;
            margin: 5px 0;
            padding: 0 0 2px 0;

            border-bottom: 1px solid #ececec;
        }
        &-i {
            position: relative;
            top: 4px;

            padding-right: 5px;

            background: #fff;
        }
    }
    &__val {
        float: right;

        width: 220px;
        margin: 5px 0;
        padding: 4px 0 0;
        &-hint-lk {
            margin: -2px 0 0 2px;

            .inline-block-middle();
        }
    }
}

.reviews {
    padding: 0 0 20px 10px;
    &__l {
        float: left;

        width: 680px;
    }
    &__r {
        float: right;

        min-width: 200px;
        max-width: 215px;
        padding-left: 10px;
    }
    &__i {
        margin: 0 0 0 -10px;
        padding: 0 0 15px 10px;

        border-bottom: 1px solid #e8e8e8;
    }
    &-percentage {
        &__tl {
            font-size: 12px;

            margin: 10px 0;

            color: #363636;

            .inline-block();
        }
        &-item {
            white-space: nowrap;
            .product-card-rating {
                margin: 0 0 8px;
            }
        }
    }
    &__cpt {
        font-size: 14px;

        margin: 5px 0 10px;

        color: #8c8c8c;
    }
    &__author {
        .inline-block();
    }
    &__date {
        .inline-block();
    }
    &__tl {
        font-size: 12px;
        font-weight: bold;

        margin: 5px 0 8px;
    }
    &__tx {
        font-size: 14px;
        line-height: 18px;

        margin-bottom: 20px;
    }
    &-voting {
        margin: -15px 0 0;

        text-align: right;
        &__tl {
            font-size: 14px;

            color: #8c8c8c;

            .inline-block-middle();
        }
    }
    &-vote {
        font-size: 14px;
        line-height: 34px;

        position: relative;

        height: 34px;
        margin-left: 5px;
        padding-left: 30px;

        .inline-block-middle();
        .opacity(.4);
        &:hover {
            text-decoration: none;

            .opacity(1);
        }
        &--positive:after {
            position: absolute;
            top: 0;
            left: 0;

            content: '';

            background-image: url('@{base-url}/product/img/i-product.png');

            .sprite-temp(-25px, -0px, 25px, 25px);
        }
        &--negative:after {
            position: absolute;
            top: 6px;
            left: 0;

            content: '';

            background-image: url('@{base-url}/product/img/i-product.png');

            .sprite-temp(-0px, -0px, 25px, 25px);
        }
    }
}

.btn--more-reviews {
    clear: both;
}

.bottom-content {
    font-size: 11px;

    color: #545454;
    &__tl {
        font-weight: bold;
    }
    &__p {
        margin: 10px 0;
    }
    &__text {
        margin-top: 20px;
    }
}
.product-guides {
    margin: 20px 0 0;
    &-list {
        &__i {
            line-height: 25px;

            height: 25px;
            margin: 10px 0 0;

            color: #363636;
        }
        &__lk {
            &:hover {
                text-decoration: none;
            }
            &-tl {
                border-bottom: 1px solid #9c9c9c;
            }
        }
        &__icon {
            margin-right: 10px;
        }
    }
}
