#fpc_effect-back {
    background-color: #eeeef4;
    height: 370px;
    width: 300px;
    * {
        box-sizing: border-box;
    }
}
#fpc_box {
    background-color: #ffffff;
    height: 370px;
    position: relative;
    width: 350px;
    &:hover {
        #fpc_page-tip {
            &:before {
                border-right: solid 1px #ffffff;
            }
            &:after {
                border-top: solid 1px #ffffff;
            }
        }
        #fpc_corner-box {
            height: 50px;
            width: 50px;
        }
    }
    div#fpc_corner-box {
        &:hover {
            height: 100px;
            width: 100px;
            #fpc_page-tip {
                &:before {
                    border-right: solid 2px #ffffff;
                }
                &:after {
                    border-top: solid 2px #ffffff;
                }
            }
        }
    }
}
#fpc_content {
    padding: 20px;
    &:before {
        content:"";
        float: right;
        height: 80px;
        width: 80px;
    }
}
#fpc_page-tip {
    -webkit-transition-duration: .3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.7);
    background: -webkit-linear-gradient(45deg, #dddddd 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eeeeee 39%, rgba(200,200,200,0) 41%);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    &:before {
        background-color: #ffffff;
        background: -webkit-radial-gradient(-180% 200%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.1) 93%);
        border-top-right-radius: 60%;
        content: "";
        display: block;
        height: 50%;
        position: absolute;
        right: 100%;
        top: 0%;
        width: 50%;
        z-index: 2;
    }
    &:after {
        background-color: #ffffff;
        background: -webkit-radial-gradient(-250% 320%, circle, rgba(255,255,255,0) 85%, rgba(0,0,0,.10) 93%);
        border-top-right-radius: 60%;
        content: "";
        display: block;
        height: 50%;
        position: absolute;
        right: 0%;
        top: 100%;
        width: 50%;
        z-index: 2;
    }
}
#fpc_corner-box {
    -webkit-transition-duration: .3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.7);
    height: 20px;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    &:before {
        content: "";
        display: block;
        height: 133%;
        position: absolute;
        right: 0;
        top: 0;
        width: 133%;
    }
}
#fpc_corner-contents {
    -webkit-mask: -webkit-linear-gradient(45deg, transparent 49%, #000000 53%);
    -webkit-transition-duration: .3s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.7);
    display: block;
    height: 125%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 125%;
    &:after {
        background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 37%, #dddddd 62%, rgba(230, 230, 230, 0.1) 64%, rgba(255, 255, 255, 0) 67%), -webkit-radial-gradient(-50% 150%, circle, transparent 74%, rgba(0, 0, 0, 0.2) 74%, transparent 81%);
        content: "";
        display: block;
        height: 133%;
        position: absolute;
        right: 0;
        top: 0;
        width: 133%;
    }
    &:before {
        background-color: #eeeef4;
        content: "";
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}
#fpc_corner-button {
    background-color: transparent;
    color: #ffffff;
    display: inline-block;
    font-family: Verdana, Geneva, sans-serif;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    .fishka {
        .box-sizing(border-box);
        background-image: url(http://content.enter.ru/wp-content/uploads/2014/03/fishka_fuksiya_b1.png);
        background-size: contain;
        color: #363636;
        font-family: Tahoma, Verdana, Geneva, sans-serif;
        font-size: 11px;
        height: 100px;
        line-height: 13px;
        padding: 30px 5px;
        text-align: center;
        text-align: center;
        width: 100px;
    }
    strong {
        display: block;
        font-size: 13px;
        font-weight: bold;
    }
}
