.product-section {
    margin: 0 -10px 0;
    padding-top: 20px;
    &__props {
        float: left;

        width: 500px;
        padding: 0 10px 10px;
        .product-section__tl {
            margin: 5px 0 15px;
        }
    }
    &__tl {
        font-size: 16px;
        font-weight: bold;

        margin: 5px 0 15px 10px;
    }
    &__sbtl {
        font-weight: bold;

        margin: 10px 0 5px;
    }
    &__desc {
        float: left;
        overflow: visible;

        width: 400px;
        margin-top: 10px;
        padding: 5px 20px 10px;

        background-color: #f7f7f7;
        .product-section__tl {
            margin: 5px 0 15px;
        }
    }
    &__content {
        font-size: 14px;
        line-height: 24px;

        padding: 10px 0 0;
    }
    &__h3 {
        font-size: 14px;
        font-weight: normal;

        margin: 20px 0 15px;

    }
    &--inn {
        padding: 0 10px;
    }
    &--border-top {
        margin-bottom: 0;
        padding: 5px 10px 10px;

        border-top: 1px solid #e6e6e6;
    }
}
