.product-tabs-scroll {
    border-bottom: 4px solid #e8e8e8;
    margin: 10px -10px 0;
    &.pp-fixed {
        position: fixed;
        z-index: 99;
        top: 50px;
        left: 0;
        margin: 0;

        width: 100%;

        background: @white;
        -webkit-box-shadow: 0 4px 28px 0 rgba(0, 0, 0, .5);
           -moz-box-shadow: 0 4px 28px 0 rgba(0, 0, 0, .5);
                box-shadow: 0 4px 28px 0 rgba(0, 0, 0, .5);
        .product-ep {
            // visibility: visible;
            // overflow: visible;

            // height: auto;

            // .opacity(1);
        }
    }

    .product-tabs {
        width: 920px;
        margin: 0 auto;
    }
}

.product-tabs {

    padding: 0 20px;
    &__i {
        font-size: 16px;
        line-height: 50px;

        position: relative;

        height: 45px;
        margin: 0 5px 0 0;
        padding: 0 20px;

        text-align: center;

        .inline-block();
        &.active {
            font-weight: bold;
            .product-tabs__lk {
                border: none;
            }
            &:after {
                position: absolute;
                bottom: -4px;
                left: 0;

                width: 100%;
                height: 4px;

                content: '';

                background: #f99b1c;
            }
        }
    }
    &__lk {
        text-decoration: none;

        color: @product-font;
        border-bottom: 1px solid;
        &:hover {
            text-decoration: none;

            border-bottom: none;
        }
    }
    &__right {
        position: relative;

        float: right;
    }
}

.product-ep {
    visibility: visible;
    overflow: hidden;

    height: 0;
    margin: -5px 0 0;

    .opacity(0);
    .transition(all .2s ease);
    &-fishka {
        font-size: 16px;
        line-height: 62px;

        width: 64px;

        text-align: center;

        background: url('@{base-url}/product/img/i-product-ep-fishka.png') no-repeat 0 0;

        .inline-block-middle();
    }
    &-desc {
        width: 130px;
        margin: 0 0 0 5px;

        color: #363636;

        .inline-block-middle();
    }
}

.props-list {
    &__name {
        &--tl {
            float: left;
            clear: both;

            width: 270px;
            margin: 5px 0;
            padding: 0 0 2px 0;

            border-bottom: 1px solid #ececec;
        }
        &-i {
            position: relative;
            top: 4px;

            padding-right: 5px;

            color: @product-font;
            background: #fff;
        }
    }
    &__val {
        float: right;

        width: 220px;
        margin: 5px 0;
        padding: 4px 0 0;

        color: @product-font;
    }
    &__hint {
        position: relative;

        margin: 0 0 0 2px;

        .inline-block-middle();
        .i-product--hint {
            margin: 2px 0 0;

            .opacity(.7);
            .transition(all .2s ease-out);
            &:hover {
                .opacity(1);
            }
        }
    }
}

.reviews {
    padding: 0 0 0 10px;
    &__l {
        float: left;

        width: 680px;
    }
    &__r {
        float: right;

        min-width: 200px;
        max-width: 215px;
        padding-left: 10px;
    }
    &__i {
        margin: 0 0 20px -10px;
        padding: 0 10px 15px 10px;

        border-bottom: 1px solid #e8e8e8;
    }
    &__msg{
        line-height: 26px;
        margin-right: 15px;
        .inline-block();
    }
    &-percentage {
        &__tl {
            font-size: 12px;

            margin: 20px 0 10px;

            color: @product-font;

            .inline-block();
        }
        &-item {
            white-space: nowrap;
            .product-card-rating {
                margin: 0 0 8px;
                &__i {
                    margin-right: 1px;
                }
            }
        }
    }
    &__cpt {
        font-size: 14px;

        margin: 0 0 5px;

        color: #8c8c8c;
    }
    &__author {
        .inline-block();
    }
    &__date {
        .inline-block();
    }
    &__tl {
        font-size: 12px;
        font-weight: bold;

        margin: 5px 0 5px;

        color: @product-font;
    }
    &__tx {
        font-size: 14px;
        line-height: 18px;

        margin-bottom: 15px;

        color: @product-font;
    }
    &-voting {
        margin: -5px 0 0;

        text-align: right;
        &__tl {
            font-size: 14px;

            color: #8c8c8c;

            .inline-block-middle();
        }
    }
    &-vote {
        font-size: 14px;
        line-height: 34px;

        position: relative;

        height: 34px;
        margin-left: 5px;
        padding-left: 30px;

        .inline-block-middle();
        &:after {
            .opacity(.4);
            .transition-duration(.3s);
        }
        &:hover {
            text-decoration: none;
            &:after {
                .opacity(1);
            }
        }
        &--positive:after {
            position: absolute;
            top: 0;
            left: 0;

            content: '';

            background-image: url('@{base-url}/product/img/i-product.png');

            .sprite-temp(-25px, -0px, 25px, 25px);
        }
        &--negative:after {
            position: absolute;
            top: 6px;
            left: 0;

            content: '';

            background-image: url('@{base-url}/product/img/i-product.png');

            .sprite-temp(-0px, -0px, 25px, 25px);
        }
    }
}

.btn--more-reviews {
    clear: both;
}

.bottom-content {
    font-size: 11px;

    color: #545454;
    &__tl {
        font-weight: bold;
    }
    &__p {
        margin: 10px 0;
    }
    &__text {
        margin-top: 20px;
    }
}

.product-guides {
    margin: 15px 0 0;
    &-list {
        &__i {
            line-height: 25px;

            height: 25px;
            margin: 10px 0 0;

            color: #363636;
        }
        &__lk {
            &:hover {
                text-decoration: none;
            }
            &-tl {
                border-bottom: 1px solid #9c9c9c;
            }
        }
        &__icon {
            margin-right: 10px;
        }
    }
}
