.star {
	.inline-block();
	
	font-size: 14px;
    font-family: "rate-stars";
    font-style: normal;
    font-weight: normal;
    speak: none;
 
    display: inline-block;
    text-decoration: inherit;
    width: 1em;

    text-align: center;
    font-variant: normal;
    text-transform: none;

    line-height: 1em;
    color: @firmOrange;
}
.star-fill{
    &:before { content: '\e801'; }
}
.star-half {
	&:before { content: '\e802'; } 
}

.star-empty {
	&:before { content: '\e800'; } 
}

.jewel {
    .star{
        color: @black;
    }
    .bReviews .bReviewsSummary__eCol .reviewsBarBg {
      background-color: #edecee;
    }
    .bReviews .bReviewsSummary__eCol .reviewsBarBg .reviewsBar{
        background-color: @black;
    }
}
.stars-list{
    .inline-block();
        &__item{
            cursor: pointer;
        }
    }