.star {
	.inline-block();
	width: 15px;
	height: 14px;
	background: url('/images/reviews_star.png');
}

.star-half {
	background-image: url('/images/reviews_star_half.png');
}

.star-empty {
	background-image: url('/images/reviews_star_empty.png');
}