.trustfactor-top {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom: 1;

	img {
		display: inline-block;
		vertical-align: top;
		*display: inline;
		zoom: 1;
	}
}

.trustfactor-content {
	margin-top: 20px;
}

.trustfactor-right {
	margin-bottom: 8px;
}

.trustfactor-main {
	margin-left: -5px;
}