.friendship {
	.pagehead {
	  background: url("@{base-url}/subscribe/img/bg_subscribe_friend.gif") no-repeat 50% 50px;
	    h1 {
			color: #CE65A4;
			text-transform: uppercase;
			padding: 141px 0 0 35px;
		}
	}
}
.content-section {
	padding: 0 35px 50px;
	.content-section__text {
		float: left;
		font-size: 18px;
		font-family:'Enter Type';
		line-height: 25px;
		width: 460px;
		 a {
			color: #43C6ED;
		}
		.title {
			font-size: 24px;
			text-transform: uppercase;
			font-family: "Enter";
		}
			.title_blue {
				color: #43C6ED;
			}
			.title_green {
				color: #C0D737;
			}
			.title_orange {
				color: #F69A31;
			}
	}
}
	.content-section__form {
		display: block;
		float: right;
		width: 320px;
		.subscribe-form__title {
			font-size: 24px;
			text-transform: uppercase;
			font-family: "Enter";
			text-align: center;
			padding: 19px 0 0 26px;
		}
		.subscribe-form__email {
			.rounded(4px);
		    background: @white;
		    border: 1px solid #c9c9c9;
		    float: left;
		    height: 26px;
		    line-height: 26px;
		    margin: 16px 0;
		    padding: 0 0 0 10px;
		    position: relative;
		    behavior: url('@{pie}');
		    -webkit-appearance: none;
		    width: 308px;
		    &.mError{
		    	background: #F28C92;
		    }
		}
		.subscribe-form__btn {
			.orangeGradLight();
			border: 1px solid #DB8A00;
			.rounded(5px);
			width: 160px;
			height: 33px;
			font-family: Tahoma;
			font-size: 16px;
			color: #fff;
			cursor: pointer;
			margin: 0 0 0 93px;
			padding: 0;
			display: block;
		}
		.subscribe-form__btn:hover {
			.orangeGradDark();
		}
	}	
.share-section {
	margin: 80px 0 0;
	font-size: 21px;
	font-family:'Enter Type';
	.share-sectio__action {
		float: left;
		a{
			color: #44C7EE;
		}
	}
	.share-sectio__link {
		float: right;
		ul {
			margin: 8px 0 0;
			li a {
			background: url("@{base-url}/subscribe/img/ico_share.gif") no-repeat 0 0;
			float: left;
			width: 16px;
			height: 16px;
			margin-left: 8px;
			display: block;
			}
			.fb {
				background-position: -21px 0;
			}
			.tw {
				background-position: -42px 0;
			}
		}
	}	
}