.tchiboCatalog {
	width: 966px;
	margin: 10px 0 10px -10px;

	.tchiboCatalogInner {
		position: relative;

		float: left;
		overflow: hidden;

		width: 479px;
		height: 479px;
		margin: 0 3px 40px 0;

		&.mLast {
			margin-right: 0;
		}

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	&__img {
		display: block;
	}
	.titleCat {
		.inline-block();

		width: 210px;
		padding: 0 0 0 20px;

		color: #002a5a;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAATElEQVQoz2NggAGtKH8gFmAgCmhFxQPxHyA+S1gTQvEf4jRpRc1F0zCqiXJNOBQLQE1E1zB3BCqGaCBBMURDPPGKMTURoRihSZ8YZQD1OpTf/FXeGwAAAABJRU5ErkJggg==) no-repeat 0 7px;

		font-size: 27px;

			&:hover {
				text-decoration: none;
			}
	}

	.tchiboCatalogInnerBanner {
		clear: both;

		margin: 0 0 40px;
	}

	&__title {
		position: absolute;
		bottom: 0;
		left: 0;

		display: block;

		width: 469px;
		min-height: 80px;
    	padding: 10px 0 10px 10px;

		color: #040003;
		background: url("@{base-url}/tchibo/img/bgWhiteIe.png");
		background: rgba(255, 255, 255, 0.8);

		font-size: 18px;
	}

	&__list {
		float: right;

		width: 230px;

		.item {
			margin: 0 10px 0 10px;
			padding: 0 0 5px 16px;

			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAPklEQVQoz2NgAAGtKH0g9mfACSAK3gDxHyCOx6WoF6rgDyGFc8lV6E+Mwjdg95KvkKD76KKAiMAkKlqIiGAAqY1MkbmMuo4AAAAASUVORK5CYII=) no-repeat 0 6px;
		}

		.link {
			color: #002a5a;

			font-size: 14px;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.b-subscribe-to-sale {
	padding: 15px 0;
	
	margin: 0 0 20px;
	background: #f2f2f2;

	&.subscribe-form {
		text-align: center;
	}

	&__title {
		font-size: 20px;
		color: #002957;
		.inline-block();
		line-height: 37px;
		margin-right: 20px;
	}

	&__form {
		.inline-block();
	}

	&__input {
		width: 280px;
		height: 35px;
		padding: 0 10px;

		border: 1px solid #a0a0a0;

		font-size: 14px;
		line-height: 35px;
		margin: 0 8px 0 0;

		&.mError {
			border-color: #ff0000;
		}
	}

	&__button {
		width: 125px;
		height: 37px;
		background: #002957;
		vertical-align: top;

		text-align: center;

		color: @white;
		border: none;

		line-height: 37px;

		font-size: 16px;
		padding: 0;
		cursor: pointer;
	}

	&__check {
		background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABiklEQVR42q3VvUoDQRAH8K30IfxGtNDOQkFsbHwBrRTFhxDs8gYBFawSNYpRjFpFYixVMI1iRMQv/AhILILRaEjudm/37842pyjkuMvAwN4c+2OYPfYYEqwBcTans4h1Bj9Je8kgi+nFPLIhQDrwG7SXDEKZ0V0sEEoWo5b9hFLyT40sX6AUVYj9cYjtYajiTUBQOpDnC7AjzbCjrRCn4WCgfM1oqN2A1s4IlKjUAKXQyf+fWykHvjlgMB7vg3q/qzFDpwqZz0DphFL4FbwMcTBtMHulC85tovahOA974LFu2FtDUOX8j645RHbRYFa0Dfxwhqq1Qfl8AHut12wU6SmoSgFQEvIxCb7UCSvSBJGagOJf3kAKcRKCvdxhUOcsDFm40HMbNM9cdy7frkHhGVTWB+zkGHVjZsX1mjBrtQfyfhcUXkEX/cxpaJQg9xCuYvTGH0ghX45gb/RrsAXieBaKl6nsH1R0GJcRiPQkVOmJSoFA9yO3irTyDNb/+qJLsb4XbIo11vMX8A2V+owdvYNMqAAAAABJRU5ErkJggg==');
		line-height: 20px;
    	padding: 0 0 0 25px;
    	text-align: left;
    	margin: 10px 0 0;
    	color: #002957;
	}
}

.bPromoCatalog {
	position: relative;
}

.bPromoCatalogSlider {

	&.mTchiboSlider {
		margin: 0 0 20px;
		overflow: hidden;
		width: 940px;

		.bPromoCatalogSliderWrap_eSlide {
			width: 940px;

			&:first-child {
				margin: 0;
			}
		}

		.bPromoCatalogSliderWrap_eSlideLink {
			width: 940px;
			height: 380px;
		}

		.bottomLifted {
			box-shadow: none;

			&:after,
			&:before {
				box-shadow: none;
			}
		}

		.topLifted {
			box-shadow: none;

			&:after,
			&:before {
				box-shadow: none;
			}
		}
	}

	.bProductDescSticker {

		&.stockSticker {
		    border-radius: 4px;
		    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		    left: 50%;
		    margin: -70px 0 0 -73px;
		    position: absolute;
		    top: 50%;
		}
	}

	.bPromoCatalogSlider_eArrow {
		background-repeat: no-repeat;
		width: 25px;
		height: 65px;
		top: 0;
		bottom: 0;
		margin: auto;

		&.mArRight {
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAABBCAQAAACOPcdyAAABw0lEQVR4AbXXJZwbURSF8XNfmbmmXP8rqqgytzMvsoxelBlNyFWWSQ65gkrsol1Sy+titsx0TeHcwvP/ZCb5Hkl6JLwJ05D0+fucbzWR5D26Jq5cXzeQ+IHsQebzeE+TyyOXtmORnA6LNHmPZDb65f2IdTuqNAHi9e6ZDIxavnWAJkBawTGphWvxliYicaOskEp4gibA7UnThmTsCL8jowkQr3BNqI9ZuaWLJkByXMrSOiW3+gVNgOSpbMBtf9hAro+Z14OZOOJv0QSIF7sueaGpEgSId7lHmipFgORLqt5ArnxOFad8iSaApkoTINkgTzVVigCaKkc01XJ4kiM/SJUgP0iVID9IlSCaKkk0VXc4uM2RH6RKESDZLQ+/pEoTTdVANFWaaKoGAsTX3HlpMX+LW2t8FzkRVmiSPJTdpl8s3uvuM/+L/d/Xxub2yXRtjCzZ3QqO/L/5kq5Eo2lWPpo8ftCNcfkdmW2FKYanTesYqn4dvY6lG/HEsFpqgkHNtPK7k0EZIIkmSBJN8D/slT9Y5iiiCf6v04X5DGM6KWmCrhScAkiiCZJEEwQoognS52RNkCSxJmg98//fm0V2SBPkxgfJEBxxfoVTuQAAAABJRU5ErkJggg==');
			right: 10px;
		}

		&.mArLeft {
			left: 10px;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAABBCAMAAAAT6v/LAAAAvVBMVEX///+wsLCvr6+wsLC7u7uvr6+vr6////+vr6+urq6wsLCvr6+AgICysrKvr6+urq6urq61tbWwsLCtra3///+wsLCvr6+wsLCurq4AAACysrKurq6dnZ22travr6+tra2/v7+wsLCurq6vr6+urq6vr6+vr6+SkpKtra2tra2urq6vr6+urq6wsLCxsbGurq6wsLCtra2xsbGwsLCurq6tra2xsbGvr6+wsLCkpKSwsLCvr6+vr6+xsbGxsbGKmloUAAAAP3RSTlMAZDD3D9z/AbChd94EP/z9FhjnRAPBjIvNAU/3DSPwMgjPdJ26Y+sHIlqjdkWKYlvOgz50pF2cM/4OiMBGdYm399DCAAAAvUlEQVR42tWTxQ4CURAEGxsWd1tkcXf3//8sjly6D5AQoK6Vl5fUzEDhU8IfECIYMi7CjkW4iVosTkUimUpTkclajop8wYqglKxcocK1ao2KesM8Kpota4PSsS4XPesPREcbqo4jUBwbczF5p+P0xY6zr3acv9Nx8fGOWNoKnLV8g436B3Bsq+9rB+gGuptQ+2drOh8104NQ7rF6Euqsdgf5ixUBtaPX19ve/rqtB+gb49x/pO1Yt4VsC8X8ATu2E+iV9a6DAAAAAElFTkSuQmCC');

		}
	}
}

.bPaginator {
	&.mTchiboPaginator {
		margin: 0 auto;
		text-align: center;
		position: absolute;
		z-index: 10;
		top: auto;
		bottom: 30px;
		width: 940px;
		height: 10px;

		.bPaginatorSlider {
			display: none;
		}

		.bPaginator_eWrap {
			.inline-block();
			font-size: 0;
			width: auto !important;
			left: 0 !important;
		}

		.bPaginator_eLink {
			text-indent: -9999px;
			border: none;
			.inline-block();
			float: none;
			width: 10px;
			height: 10px;
			margin: 0 0 0 8px !important;
			line-height: 10px;
			background: #002957;
			.rounded(50%);
			.opacity(.3);

			&.active {
				.opacity(1);
			}
		}
	}
}