.tchiboTitle {
	.rounded(4px);
	padding: 5px 5px 8px;
	padding-left: 65px;
	background: url("@{base-url}/tchibo/img/tchiboLogoTitle.png") no-repeat 10px 7px @tchiboBlue;
	color: #fff;
	font-size: 30px;
	line-height: 50px;
	font-weight: 100;
}