.jewel {
  #reviewsWrapper {
    border-bottom: 0;
  }
  .reviewsBar {
    background-color: #999;
  }
  .reviewsBarBg {
    background-color: #edecee;
  }
  .popup {
    border: 2px solid #000;
    .close {
      background: url("/css/pandoraPopups/img/closeBtnBlack.png") no-repeat 0 0;
    }
  }
  .bHint_ePopup {
    left: -290px;
    border-color: #000;
    .close {
      background: url("/css/pandoraPopups/img/closeBtnBlack.png") no-repeat 0 0;
    }
  }

  .mSmallBtns a {
    text-indent: 0;
    background: none;
  }
  .bProductSection .inStock {
    color: #000;
  }
  .bProductSection {
    .btnBuy__eLink, .btnBuy__eLink:hover {
      float: right;
      display: block;
      background: #000;
      color: #fff;
      box-shadow: none;
      text-indent: 0;
      text-align: center;
      .rounded(4px);
      border: 1px solid #000;
    }
    .mBought, .mBought:hover {
      background: #fff;
      color: #000;
    }
    .bSliderAction__eList .btnBuy {
      margin: 0 0 0 1px;
    }
  }
  .bSpecifications {
    color: #6E6E6E;
    font-size: 12px;
    margin: 10px 0 0;
    dd {
      background: url("@{base-url}/pandoraProduct/img/h3_corner.gif") no-repeat 0 4px;
      padding-left: 7px;
      margin: 0 0 5px;
      border: none;
      width: 145px;
    }
    dt {
      padding: 0;
      width: 125px;
      margin: 0 0 5px;
    }
  }
  .bProductSection .bSpecifications__eList dd span {
    bottom: 0;
  }
}
