.brandSectionPandora__product {
  padding: 0 10px 0 20px;
  width: 930px;
  .goodsphoto {
    width: 590px;
    }
  .goodsinfo {
    padding: 10px 0px 0 10px;
    width: 329px;
    border-left: 1px solid #ededed;
  }
  .bGood__eArticle {
    border-bottom: none;
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #6D6D6D;
      span {
        font-size: 10px;
      }
    }
  .descriptionlist {
    color: #6E6E6E;
    h3 {
      background: url("@{base-url}/pandoraProduct/img/h3_corner.gif") no-repeat 0 4px;
      padding-left: 7px;
    }
    .point .title {
      border-bottom: none;
      width: 150px;
    }
    .point .description {
      padding-left: 0;
      width: 175px;
    }
    .point {
      padding-bottom: 5px;
    }
  }
  .buy1click {
    margin-right: 43px;
  }
  .rubrictitle h3 {
    font-weight: normal;
    font-family: 'Enter Type';
    text-transform: uppercase;
  }
}

.product-desc {
  padding: 0 0 0 5px;
  font-size: 12px;
  .product-price {
    font-size: 34px;
    float: left;
    font-weight: bold;
    width: 170px;
    padding-left: 5px;
  }
  .available {
    float: left;
    padding: 13px 0 0;
    font-size: 14px;
  }
  .bCountSet span {
    line-height: 22px;
    border: 1px solid #c7c7c7;
    text-align: center;
    display: block;
    float: left;
    color: #000;
    .rounded(3px);
    width: 32px;
    margin-left: 4px;
  }
  &__text {
    font-size: 13px;
    color: #6E6E6E;
    line-height: 1.4;
  }
}
.bGood {
  .product-desc__buy {
    width: 330px !important;
    margin-bottom: 5px;
    .ptoduct-count {
      position: relative;
      left: 0;
      float: left;
      border-radius: 0;
      border: none;
      width: 86px;
      .bCountSet__eM, .bCountSet__eP {
        .grayGradDark();
        .rounded(3px);
        width: 18px;
        border: 1px solid #c7c7c7;
        line-height: 22px;
        color: #000;
        font-weight: bold;
      }
    }
    &.goodsbarbig.mSmallBtns .cart-add {
      float: left;
      display: block;
      background: url("@{base-url}/pandoraProduct/img/btn-buy.gif") no-repeat;
      width: 125px;
      height: 29px;
      margin: -3px 0 0 71px;
    }
    &.goodsbarbig.mSmallBtns a.link1.disabled {
      background: url("/css/item/img/itemSprite.png") 0px -93px no-repeat !important;
      cursor: default;
      float: right;
      width: 120px;
    }
  }
}
