.jewel {
	#reviewsWrapper {
		border-bottom: 0;
	}

	.reviewsBar {
		background-color: #999;
	}

	.reviewsBarBg {
		background-color: #edecee;
	}

	.popup {
		border: 2px solid #000;
		.close {
			background: url("/css/pandoraPopups/img/closeBtnBlack.png") no-repeat 0 0;
		}
	}

	.bHint_ePopup {
		left: -290px;

		border-color: #000;
		.close {
			background: url("/css/pandoraPopups/img/closeBtnBlack.png") no-repeat 0 0;
		}
	}

	div.submit input {
		border: 1px solid #000;
		background: #000;

		font-weight: normal;
	}

	.mSmallBtns a {
		text-indent: 0;

		background: none;
	}

	.bProductSection .inStock {
		color: #000;
	}

	.btnBuy__eLink, .btnBuy__eLink:hover {
		.rounded(4px);
		display: block;
		float: right;

		text-align: center;
		text-indent: 0;

		color: #fff;
		border: 1px solid #000;
		background: #000;
		box-shadow: none;

		.mBought, .mBought:hover {
			color: #000;
			background: #fff;
		}
	}

	.bProductSection {
		.bSliderAction__eList .btnBuy {
			margin: 0 0 0 1px;
		}
	}

	.bSpecifications {
		color: #6E6E6E;

		font-size: 12px;
		
		dd {
			width: 145px;
			margin: 0 0 5px;
			padding-left: 7px;

			border: none;
			background: url("@{base-url}/pandoraProduct/img/h3_corner.gif") no-repeat 0 4px;
		}
		dt {
			width: 125px;
			margin: 0 0 5px;
			padding: 0;
		}
	}

	.bProductSection .bSpecifications__eList dd span {
		bottom: 0;
	}
}
