/**
* Стили личного кабинета, старая верстка
*/

.user {
	padding: 0 0 35px;

	.title {
		color: #ffa901;
		font-size: 16px;
		margin: 0 0 5px;
	}

	.userInfoAction {
		margin: 0 0 20px;

		.text {
			display: inline-block;
			padding: 0px 5px;
			margin-left: 5px;
			height: 28px;
			line-height: 28px;
			width: 200px;
			vertical-align: top;

			*display: inline;
			zoom: 1;
		}
	}

	.bSubscibe {
		font-size: 14px;
		line-height: 24px;
		margin-top: 10px;

		b {
			margin-top: 0;
		}
	}
}

.btnSave {
	margin: 10px 0 0;
}

.userInfoEdit {
	padding: 0 0 35px;

	&__label {
		font-size: 12px;
		margin: 0 0 8px;
		display: block;
		clear: both;
	}

	.text {
		display: block;
		margin: 0 0 15px;
		padding: 0px 5px;
		height: 28px;
		line-height: 28px;
		width: 390px;
	}

	&__checkBox {
		margin: 0 0 30px;
	}

	.checkBox {
		margin-right: 5px;
	}

	.attention {
		font-size: 11px;
		margin: 15px 0 0;
	}

	.helpfr {
		left: -267px;
		top: 39px;
		width: 274px;
	}
}


.userAvatar {
	margin: 0 0 10px;
}

.userName {
	font-size: 16px;
	margin: 0 0 15px;

	&__name {
		display: block;
		font-weight: normal;
		font-size: 18px;
	}
}

.userTitle {
	font-size: 16px;
	margin: 0 0 15px;
}

.userTitleOrder {
	color: #ffa901;
	font-size: 16px;
	margin: 0 0 10px;
}

.uderInfo {
	margin: 0 0 20px;

	&__item {
		margin: 0 0 5px;
	}
}

.userMore {
	padding: 0 0px 10px 25px;
	background: url("/css/user/img/attention.gif") no-repeat 0px 0px;
	font-size: 10px;
}

.btnMore {
	margin-left: 25px;
}