.mProductSectionSet {
  .bProductDescText {
    font-size: 14px;
    margin: 0 0 10px;
  }
  .bProductDescMore {
    font-size: 14px;
    margin: 0 0 15px;
    &__eMoreInfo {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .bProductDesc__ePhoto {
    width: 700px;
    height: 700px;
    box-shadow: 1px 1px 5px #bababa;
    margin: 15px 0 0;
  }
  .bProductDesc__ePhoto-bigImg {
    width: 700px;
    height: 700px;
    img {
      max-width: 700px;
      max-height: 700px;
    }
  }
  .mWidget {
    padding-top: 3px;
  }
  .bStoreDesc {
    margin-left: 5px;
  }
  .creditbox {
    margin: 0 0 16px;
  }
  .bWidgetBuy__eClick,
  .bWidgetBuy__eDelivery {
    margin: 15px 0 0;
  }
  .bProductList {
    margin: 20px 0 0;
  }
}
.mSmallBtns {
  a {
    text-indent: -9999px;
    display: block;
    width: 38px;
    height: 25px;
    background: url("/css/catalog/img/catalogSprite.png") -64px 0 no-repeat;
    &:hover {
      background-position: -102px 0;
    }
  }
}

.mSliderAction840 {
  .bSliderAction__eInner {
    width: 840px;
  }
}