.bGoodItemHead{
	padding: 10px;
}
.bGoodImgBlock{
	background: #FFF;
	position: relative;
	&_eMainLink{
	}
	&_eMainImg{
		display: block;
		height: 480px;
		margin: 15px auto;
		position: relative;
		width: 480px;
	}
}
.bPreviewImg{
	position: absolute;
	left: 15px;
	bottom: 15px;
	&_eLink{
		box-shadow: 0 0 1px 2px #a6a6a6;
		display: block;
		margin-top: 10px;
		overflow: hidden;
	}
	&_eImage{
		height: 70px;
		width: 70px;
	}
}
.bGoodDescBlock{
	color:#dcd9e3;
	&_eRating{

	}
	&_eShortDesc{

	}
	&_eSubBlock{
		background: #222222;
		margin:30px 0;
		padding: 25px 20px;
	}
	&_ePrice{
		font-size: 34px;
	}
	&_eBayBtn{
		margin-right: 15px;
	}
	&_eCompBtn{

	}
}