/* ==========================================================================
   Layout - default styles
   ========================================================================== */
@media only screen and (max-width: 900px) {
	.content {
	    padding-bottom: 243px;
	}
}
@media only screen and (max-width: 700px) {
	/* Middle
	-----------------------------------------------------------------------------*/
	.pageTitle {
	    display: block;
	}	

	.pageNav {
		display: block;
	}
}

@media only screen and (max-width: 610px) {
	/* Middle
	-----------------------------------------------------------------------------*/
	.content {
	    padding-bottom: 658px;
	}	
}