/* ==========================================================================
   Карточка товара -> табы подробного описания товара .productDescTab 
   ========================================================================== */

.productDescTab {
	display: table;
	border-top: 1px solid @tabGreyBorder;
	width: 100%;
	margin: 0 0 30px;
	behavior: url('js/display-table.min.htc');
	dt-display: table;

	&_item {
		display: table-cell;
		text-align: center;
		border-right: 1px solid @tabGreyBorder;
		-dt-display: table-cell;
		color: @tabGreyText;
		font-size: 20px;
		border-bottom: 1px solid @tabGreyBorder;
		background-color: @tabGrey;
		padding: 8px 0;
		cursor: pointer;

		&:hover,
		&-active {
			background-color: @white;
			color: @darkGreyText;
			text-decoration: none;
		}

		&:last-child {
			border-right: none;
		}
	}

	.tabText {
		display: inline-block;
		vertical-align: top;

		*display: inline;
		zoom: 1;
	}

	.tabImg {
		display: inline-block;
		vertical-align: top;

		*display: inline;
		zoom: 1;

		&_view {
			padding-top: 4px;
		}
	}

	.reviews {
		display: inline-block;
	    vertical-align: top;
	    font-size: 12px;
	    margin: 6px 0 0;

	    *display: inline;
		zoom: 1;
	}

	.reviewsStar {
		height: 16px;
	}
}