/* ==========================================================================
   Блока каунтера .counter
   ========================================================================== */

.counter {
	width: 155px;

	color: @tabGreyText;

	&__btn {
		float: left;

		width: 40px;
		height: 40px;
		margin: 0;
		padding: 0;

		text-align: center;

		color: @tabGreyText;
		border: 1px solid @tabLightGreyBorder;
		background: @tabGrey;

		font-size: 18px;
		font-weight: bold;
		line-height: 38px;

		&-plus {
			.rounded(4px 0 0 4px);
		}

		&-minus {
			.rounded(0 4px 4px 0);
		}
	}

	&__input {
		.rounded(0);
		float: left;

		width: 40px;
		height: 38px;
		padding: 0;

		text-align: center;

		color: @tabGreyText;
		border: 1px solid @tabLightGreyBorder;
		border-right: none;
		border-left: none;
		background: @white;

		font-size: 18px;
		line-height: 38px;
	}	

	&__num {
		display: inline-block;

    	padding: 0 0 0 6px;

		vertical-align: top;

		color: @typGray;

		font-size: 15px;
		line-height: 40px;
	}
}