.bLightGrayWrap{
	border-top: 2px solid #dcdcdc;
	border-bottom: 2px solid #dcdcdc;
}
.bContactPhone{
	background: #dcdcdc;
	color: @black;
	font-size: 16px;
	margin: 1px 0;
	padding:10px 13px;
	&_ePhone{
		font-size: 20px;
		margin: 0 20px;
	}
}
.bBottomLinks{
	&_eLink{
		background: #2a2a2a;
		color: @white;
		float: left;
		font-size: 16px;
		height: 30px;
		padding: 13px 10px;
		width: 160px;
	}
}
.bCopyright{
	background: @black;
	color: @white;
	font-size: 9px;
    padding: 5px 10px;
    width: 340px;
}