.table-favorites {
    &__cell-left {
        width: 80px;
    }
    &__img {
        display: block;

        max-width: 100%;
    }
    &__cell-right {
        width: 110px;

        text-align: center;
    }
    &__name {
        font-size: 14px;

        margin: 0 0 10px;
    }
    &__price {
        font-size: 16px;
    }
    &__delete {
        color: #363636;
        .undrl {
            color: #363636;
        }
    }
    .btnBuy {
        margin: 0 0 8px;
    }
}
