<span class="fltrBtn_count">Выбраны {{selectedBrandsCount}} из {{brandsCount}}</span>

{{#selectedBrandsCount}}
    <span class="fltrBtn_clr js-category-v2-root-selectedBrands-clear">
    	<span class="fltrBtn_clr_btn btn-closer3">&#215;</span>
    	<span class="fltrBtn_clr_tx">Очистить</span>
    </span>
{{/selectedBrandsCount}}