.sorting {
    margin: 0 0 10px;
    padding: 10px 30px;

    border-bottom: 1px solid @grey-light-4;

    .clearfix();
    &_bottom {
        margin: 0;

        border-top: 1px solid @grey-light-4;
        border-bottom: none;
    }
    &_i {
        margin-bottom: 0;

        .inline-block(middle);
        &-tl {
            margin-right: 5px;

            color: @grey-normal;
        }
        &.act {
            .sorting_lk {
                color: @white;
                border-color: @grey-normal;
                background: @grey-normal;
            }
        }
    }
    &_lk {
        margin-right: 2px;
        padding: 4px 10px 2px;

        border: 1px solid @input-border;
        background: @white;

        .inline-block();
        .transition();
        &:hover {
            text-decoration: none;

            color: @white;
            background: @grey-normal;
        }
        &-page {
            line-height: 21px;

            width: 22px;
            height: 22px;
            padding: 0;

            text-align: center;

            .rounded(50%);
        }
    }
}
