.bread-crumbs {
    margin: 13px 0 0 65px;

    color: @grey-type;

    .font-size(16);
    &__item {
        margin-right: 4px;
        padding-right: 13px;

        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAQAAABwz0azAAAASklEQVQIW2NQYTcUZYABMx/Th8ZGcK5JnNlbsyg418jY9KFpNwMTmKPNY7rJ7IwMJ0hcxfSy2SIFDiDT2Nz0lWkeVL2xpKk9TC8A5fUOgCPsNUkAAAAASUVORK5CYII=') no-repeat 100% 50%;

        .inline-block();
        &:last-child {
            background: none;
        }
    }
    &__link {
        color: @grey-type;
    }
    &_mini {
        .font-size(12);
        .font-face('GloberRegular');
        margin-bottom: 0;
        padding: 0;
    }
}

.breadcrumbs-bottom {
    .bread-crumbs {
        margin-left: 0;
    }
}