// base

@white: #fff;
@black: #000;

@text-color: #363636;
@link-border: #a0a0a0;

@input-border: #c7c7c7;

// orange

@orange-normal: #FFA400;
@orange-bright: #FF6600;
@orange-type: #FF8600;
@orange-light: #FFB633;
@orange-light-2: #FFC866;
@orange-light-3: #FFDB99;
@orange-light-4: #FFF6E5;

//blue

@blue-normal: #51C9EF;
@blue-bright: #2098DC;
@blue-type: #35B3E7;
@blue-light: #74D4F2;
@blue-light-2: #97DFF5;
@blue-light-3: #B9E9F9;
@blue-light-4: #EDF9FD;

//lime

@lime-normal: #CEDC00;
@lime-bright: #A1B900;
@lime-type: #BACD00;
@lime-light: #D8E333;
@lime-light-2: #E2EA66;
@lime-light-3: #EBF199;
@lime-light-4: #F9FBEB;

//pink

@pink-normal: #CEDC00;
@pink-bright: #A1B900;
@pink-type: #BACD00;
@pink-light: #D8E333;
@pink-light-2: #E2EA66;
@pink-light-3: #EBF199;
@pink-light-4: #F9FBEB;

//red

@red-normal: #DB4437;
@red-bright: #B61912;
@red-type: #CB2B21;
@red-light: #E2695F;
@red-light-2: #E98F87;
@red-light-3: #F1B4AF;
@red-light-4: #FBECEB;

//green

@green-normal: #009925;
@green-bright: #005A0B;
@green-type: #007A15;
@green-light: #33AD51;
@green-light-2: #66C27C;
@green-light-3: #99D6A8;
@green-light-4: #E5F5E9;

//grey

@grey-normal: #363636;
@grey-bright: #5E5E5E;
@grey-type: #868686;
@grey-light: #AFAFAF;
@grey-light-2: #D7D7D7;
@grey-light-3: #EBEBEB;
@grey-light-4: #F2F2F2;

//gradients
.blueGradient() {
	.linear-gradient( 135deg, @blue-normal, @blue-bright );
}

.orangeGradient() {
	.linear-gradient( 315deg, @orange-bright, @orange-normal );
}