@font-face {
  font-family: 'GloberRegular';
  src: url('/css/common/fonts/GloberRegular/GloberRegular.eot');
  src: url('/css/common/fonts/GloberRegular/GloberRegular.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberRegular/GloberRegular.woff') format('woff'),
       url('/css/common/fonts/GloberRegular/GloberRegular.ttf') format('truetype'),
       url('/css/common/fonts/GloberRegular/GloberRegular.svg#GloberRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberRegularItalic';
  src: url('/css/common/fonts/GloberRegularItalic/GloberRegularItalic.eot');
  src: url('/css/common/fonts/GloberRegularItalic/GloberRegularItalic.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberRegularItalic/GloberRegularItalic.woff') format('woff'),
       url('/css/common/fonts/GloberRegularItalic/GloberRegularItalic.ttf') format('truetype'),
       url('/css/common/fonts/GloberRegularItalic/GloberRegularItalic.svg#GloberRegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberBlack';
  src: url('/css/common/fonts/GloberBlack/GloberBlack.eot');
  src: url('/css/common/fonts/GloberBlack/GloberBlack.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberBlack/GloberBlack.woff') format('woff'),
       url('/css/common/fonts/GloberBlack/GloberBlack.ttf') format('truetype'),
       url('/css/common/fonts/GloberBlack/GloberBlack.svg#GloberBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberBlackItalic';
  src: url('/css/common/fonts/GloberBlackItalic/GloberBlackItalic.eot');
  src: url('/css/common/fonts/GloberBlackItalic/GloberBlackItalic.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberBlackItalic/GloberBlackItalic.woff') format('woff'),
       url('/css/common/fonts/GloberBlackItalic/GloberBlackItalic.ttf') format('truetype'),
       url('/css/common/fonts/GloberBlackItalic/GloberBlackItalic.svg#GloberBlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberBold';
  src: url('/css/common/fonts/GloberBold/GloberBold.eot');
  src: url('/css/common/fonts/GloberBold/GloberBold.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberBold/GloberBold.woff') format('woff'),
       url('/css/common/fonts/GloberBold/GloberBold.ttf') format('truetype'),
       url('/css/common/fonts/GloberBold/GloberBold.svg#GloberBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberBoldItalic';
  src: url('/css/common/fonts/GloberBoldItalic/GloberBoldItalic.eot');
  src: url('/css/common/fonts/GloberBoldItalic/GloberBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberBoldItalic/GloberBoldItalic.woff') format('woff'),
       url('/css/common/fonts/GloberBoldItalic/GloberBoldItalic.ttf') format('truetype'),
       url('/css/common/fonts/GloberBoldItalic/GloberBoldItalic.svg#GloberBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberBookItalic';
  src: url('/css/common/fonts/GloberBookItalic/GloberBookItalic.eot');
  src: url('/css/common/fonts/GloberBookItalic/GloberBookItalic.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberBookItalic/GloberBookItalic.woff') format('woff'),
       url('/css/common/fonts/GloberBookItalic/GloberBookItalic.ttf') format('truetype'),
       url('/css/common/fonts/GloberBookItalic/GloberBookItalic.svg#GloberBookItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberHeavy';
  src: url('/css/common/fonts/GloberHeavy/GloberHeavy.eot');
  src: url('/css/common/fonts/GloberHeavy/GloberHeavy.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberHeavy/GloberHeavy.woff') format('woff'),
       url('/css/common/fonts/GloberHeavy/GloberHeavy.ttf') format('truetype'),
       url('/css/common/fonts/GloberHeavy/GloberHeavy.svg#GloberHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberHeavyItalic';
  src: url('/css/common/fonts/GloberHeavyItalic/GloberHeavyItalic.eot');
  src: url('/css/common/fonts/GloberHeavyItalic/GloberHeavyItalic.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberHeavyItalic/GloberHeavyItalic.woff') format('woff'),
       url('/css/common/fonts/GloberHeavyItalic/GloberHeavyItalic.ttf') format('truetype'),
       url('/css/common/fonts/GloberHeavyItalic/GloberHeavyItalic.svg#GloberHeavyItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberLight';
  src: url('/css/common/fonts/GloberLight/GloberLight.eot');
  src: url('/css/common/fonts/GloberLight/GloberLight.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberLight/GloberLight.woff') format('woff'),
       url('/css/common/fonts/GloberLight/GloberLight.ttf') format('truetype'),
       url('/css/common/fonts/GloberLight/GloberLight.svg#GloberLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberLightItalic';
  src: url('/css/common/fonts/GloberLightItalic/GloberLightItalic.eot');
  src: url('/css/common/fonts/GloberLightItalic/GloberLightItalic.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberLightItalic/GloberLightItalic.woff') format('woff'),
       url('/css/common/fonts/GloberLightItalic/GloberLightItalic.ttf') format('truetype'),
       url('/css/common/fonts/GloberLightItalic/GloberLightItalic.svg#GloberLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberSemiBold';
  src: url('/css/common/fonts/GloberSemiBold/GloberSemiBold.eot');
  src: url('/css/common/fonts/GloberSemiBold/GloberSemiBold.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberSemiBold/GloberSemiBold.woff') format('woff'),
       url('/css/common/fonts/GloberSemiBold/GloberSemiBold.ttf') format('truetype'),
       url('/css/common/fonts/GloberSemiBold/GloberSemiBold.svg#GloberSemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberSemiBoldItalic';
  src: url('/css/common/fonts/GloberSemiBoldItalic/GloberSemiBoldItalic.eot');
  src: url('/css/common/fonts/GloberSemiBoldItalic/GloberSemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberSemiBoldItalic/GloberSemiBoldItalic.woff') format('woff'),
       url('/css/common/fonts/GloberSemiBoldItalic/GloberSemiBoldItalic.ttf') format('truetype'),
       url('/css/common/fonts/GloberSemiBoldItalic/GloberSemiBoldItalic.svg#GloberSemiBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberThin';
  src: url('/css/common/fonts/GloberThin/GloberThin.eot');
  src: url('/css/common/fonts/GloberThin/GloberThin.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberThin/GloberThin.woff') format('woff'),
       url('/css/common/fonts/GloberThin/GloberThin.ttf') format('truetype'),
       url('/css/common/fonts/GloberThin/GloberThin.svg#GloberThin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberThinItalic';
  src: url('/css/common/fonts/GloberThinItalic/GloberThinItalic.eot');
  src: url('/css/common/fonts/GloberThinItalic/GloberThinItalic.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberThinItalic/GloberThinItalic.woff') format('woff'),
       url('/css/common/fonts/GloberThinItalic/GloberThinItalic.ttf') format('truetype'),
       url('/css/common/fonts/GloberThinItalic/GloberThinItalic.svg#GloberThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberxBoldItalic';
  src: url('/css/common/fonts/GloberxBoldItalic/GloberxBoldItalic.eot');
  src: url('/css/common/fonts/GloberxBoldItalic/GloberxBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberxBoldItalic/GloberxBoldItalic.woff') format('woff'),
       url('/css/common/fonts/GloberxBoldItalic/GloberxBoldItalic.ttf') format('truetype'),
       url('/css/common/fonts/GloberxBoldItalic/GloberxBoldItalic.svg#GloberxBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GloberxBold';
  src: url('/css/common/fonts/GloberxBold/GloberxBold.eot');
  src: url('/css/common/fonts/GloberxBold/GloberxBold.eot?#iefix') format('embedded-opentype'),
       url('/css/common/fonts/GloberxBold/GloberxBold.woff') format('woff'),
       url('/css/common/fonts/GloberxBold/GloberxBold.ttf') format('truetype'),
       url('/css/common/fonts/GloberxBold/GloberxBold.svg#GloberxBold') format('svg');
  font-weight: normal;
  font-style: normal;
}