@font-face {
    font-family: 'EnterIcon';
    font-weight: normal;
    font-style: normal;

    src: url('@{fonts}/enter-icon/enter-icon.eot');
    src: url('@{fonts}/enter-icon/enter-icon.eot?#iefix') format('embedded-opentype'),
    url('@{fonts}/enter-icon/enter-icon.woff') format('woff'),
    url('@{fonts}/enter-icon/enter-icon.ttf') format('truetype'),
    url('@{fonts}/enter-icon/enter-icon.svg#enter-icon') format('svg');
}

@font-face {
    font-family: 'Fontello';
    font-weight: normal;
    font-style: normal;

    src: url('@{fonts}/fontello/fontello.eot');
    src: url('@{fonts}/fontello/fontello.eot?#iefix') format('embedded-opentype'),
    url('@{fonts}/fontello/fontello.woff') format('woff'),
    url('@{fonts}/fontello/fontello.ttf') format('truetype'),
    url('@{fonts}/fontello/fontello.svg#enter-icon') format('svg');
}

@font-face {
    font-family: 'GloberRegular';
    font-weight: normal;
    font-style: normal;

    src: url('@{fonts}/GloberRegular/GloberRegular.eot');
    src: url('@{fonts}/GloberRegular/GloberRegular.eot?#iefix') format('embedded-opentype'),
    url('@{fonts}/GloberRegular/GloberRegular.svg#GloberRegular') format('svg'),
    url('@{fonts}/GloberRegular/GloberRegular.woff') format('woff'),
    url('@{fonts}/GloberRegular/GloberRegular.woff2') format('woff2'),
    url('@{fonts}/GloberRegular/GloberRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'GloberSemiBold';
    font-weight: normal;
    font-style: normal;

    src: url('@{fonts}/GloberSemiBold/GloberSemiBold.eot');
    src: url('@{fonts}/GloberSemiBold/GloberSemiBold.eot?#iefix') format('embedded-opentype'),
    url('@{fonts}/GloberSemiBold/GloberSemiBold.svg#GloberSemiBold') format('svg'),
    url('@{fonts}/GloberSemiBold/GloberSemiBold.woff') format('woff'),
    url('@{fonts}/GloberSemiBold/GloberSemiBold.woff2') format('woff2'),
    url('@{fonts}/GloberSemiBold/GloberSemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'GloberBold';
    font-weight: normal;
    font-style: normal;

    src: url('@{fonts}/GloberBold/GloberBold.eot');
    src: url('@{fonts}/GloberBold/GloberBold.eot?#iefix') format('embedded-opentype'),
    url('@{fonts}/GloberBold/GloberBold.svg#GloberBold') format('svg'),
    url('@{fonts}/GloberBold/GloberBold.woff') format('woff'),
    url('@{fonts}/GloberBold/GloberBold.woff2') format('woff2'),
    url('@{fonts}/GloberBold/GloberBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ruble';
    font-weight: normal;
    font-style: normal;

    src: url('@{fonts}/ruble/glober-rubl.eot');
    src: url('@{fonts}/ruble/glober-rubl.eot?#iefix') format('embedded-opentype'),
    url('@{fonts}/ruble/glober-rubl.svg#glober-rubl') format('svg'),
    url('@{fonts}/ruble/glober-rubl.woff') format('woff'),
    url('@{fonts}/ruble/glober-rubl.woff2') format('woff2'),
    url('@{fonts}/ruble/glober-rubl.ttf') format('truetype');
}

.rubl {
    font-family: 'Ruble';
}

.font-face( @font ) {
    font-family: @font, Tahoma, Geneva, Helvetica, sans-serif;
}

.font-size( @size ) {
    font-size: @size/12em;
}

.font-size14( @size ) {
    font-size: @size/14em;
}


[class^='icon-']:before ,
[class*=' icon-']:before ,
[class^='icon-']:after ,
[class*=' icon-']:after {
    font-family: 'Fontello';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;

    display: inline-block;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
    content: '\e80a';
}
.icon-down-dir:before {
    content: '\e800';
}
.icon-star:before {
    content: '\e801';
}
.icon-star-empty:before {
    content: '\e802';
}
.icon-infinity:before {
    content: '\e803';
}
.icon-up-dir:before {
    content: '\e804';
}
.icon-right-dir:before {
    content: '\e805';
}
.icon-left-dir:before {
    content: '\e806';
}
.icon-close:before {
    content: '\e807';
}
.icon-star-half:before {
    content: '\e808';
}
.icon-star-half-alt:before {
    content: '\e809';
}
