@font-face {
    font-family: 'EnterIcon';
    font-weight: normal;
    font-style: normal;

    src: url('@{fonts}/enter-icon/enter-icon.eot');
    src: url('@{fonts}/enter-icon/enter-icon.eot?#iefix') format('embedded-opentype'),
    url('@{fonts}/enter-icon/enter-icon.woff') format('woff'),
    url('@{fonts}/enter-icon/enter-icon.ttf') format('truetype'),
    url('@{fonts}/enter-icon/enter-icon.svg#enter-icon') format('svg');
}