.wrapper {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    padding-left: 224px;
    &__inner {
        border-left: 1px solid @grey-light-3;
    }
    &_transform {
        padding-left: 64px;
    }
}

&__inner {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
}

.left-bar {
    float: left;

    width: 224px;
    &_transform {
        width: 64px;
        .site-menu {
            &__text {
                display: none;
            }
        }
    }
}

.footer {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
}

.grid-4col {
    overflow: hidden;

    .clearfix();
    &__item {
        float: left;

        width: 25%;
        padding: 10px;
    }
}

.grid-8col {
    overflow: auto;

    .clearfix();
    &__item {
        float: left;

        width: 15.5%;
        padding: 10px;
    }
}

.grid-9col {
    overflow: auto;

    .clearfix();
    &__item {
        float: left;

        width: 11.1111%;
        padding: 10px;
    }
}
