/* ==========================================================================
   Layout - default styles
   ========================================================================== */
html {
    &.no-scroll {
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;

        height: 100%;
        max-height: 100%;
        body{
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: hidden;

            height: 100%;
            max-height: 100%;
        }
    }
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* Middle
-----------------------------------------------------------------------------*/
.pageTitle {
    font-size: 19px;
    line-height: 40px;

    display: none;

    padding: 0 10px;

    border-bottom: 1px solid #b1b1b1;
}

.contentBox940 {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.contentBox960 {
    max-width: 960px;
    margin: 0 auto;
}

.contentBox640 {
    max-width: 620px;
    margin: 0 auto;
}

.viewportSizeWrapper {
    overflow: hidden;

    width: 100%;
}
