/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 100%;

    color: @text-color;

    .font-face('GloberSemiBold');
}

body {
    font-size: 75%;
    line-height: 1.41666;
}

* {
    .box-sizing();
}

a {
    text-decoration: none;

    color: @text-color;
    &:active ,
    &:hover {
        color: @orange-bright;
    }
}

.link-color {
    color: @orange-bright;
}
*:before ,
*:after {
    .box-sizing();
}

* {
    outline: none;
}

.underline {
    border-bottom: 1px solid;
    &:hover {
        text-decoration: none;
    }
}

.dotted {
    border-bottom: 1px dotted @link-border;
}

.line-through {
    position: relative;
    &:before {
        position: absolute;
        top: 50%;
        left: 0;

        width: 100%;
        height: 1px;
        margin-top: -2px;

        content: '';

        background: @grey-type;
    }
}

ul ,
ol ,
nav {
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 10px;

        list-style-type: none;
    }
}

p {
    line-height: 1.6666;

    .font-face('GloberRegular');
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.rubl-css {
    position: relative;
    &:after {
        font-size: .7em;
        line-height: 1;

        position: absolute;
        top: 26%;
        right: 3px;
        left: -1px;

        content: '—';
    }
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #fff6e5;
    text-shadow: none;
}

::selection {
    background: #fff6e5;
    text-shadow: none;
}

.hf {
    display: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio ,
canvas ,
iframe ,
img ,
svg ,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    margin: 0;
    padding: 0;

    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.mb-15 {
    margin-bottom: 15px;
}
.it {
    line-height: 36px;

    height: 35px;
    padding: 0 10px;

    vertical-align: middle;

    border: 1px solid @input-border;
    &.error {
        border-color: @red-normal;
        & + .placeholder {
            top: -17px;

            color: @red-normal;
        }
    }
    &:focus ,
    &.valid {
        & + .placeholder {
            top: -17px;
        }
    }
}
.errtx {
    position: absolute;
    top: -17px;
    left: 100px;

    color: @red-normal;

    .font-face('GloberRegular');
    .transition();
}
.placeholder {
    position: absolute;
    top: 11px;
    left: 10px;

    color: @grey-type;

    .font-face('GloberRegular');
    .transition();
    &_str {
        padding-left: 10px;

        background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAfUlEQVQI12NgQAL/UxkmAbEPQoCBgel/KAMbVPLo/zSGdDA7gYEDJGAPFPgApBcC8T0g3gjEB4Bitxj+OzCw/E9m8AAKrAMK/Afij/9TGEqBtDKyfZuBAqeB+AeQHYyQSGEIAgq++Z/EIAWkc4D4JRBzwRzFCDRaBa4YygYAl4k+pDkf0IQAAAAASUVORK5CYII=');
    }
}

.textarea {
    display: block;

    width: 100%;
    height: 85px;
    padding: 10px;

    resize: none;

    border: 1px solid @input-border;
    &.error {
        border-color: @red-normal;
    }
}

.label {
    display: block;

    margin: 0 0 3px;

    .font-size(14);
}

.align-center {
    text-align: center;
}
/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active ,
.visuallyhidden.focusable:focus {
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before ,
.clearfix:after {
    display: table; /* 2 */

    content: ' '; /* 1 */
}

.clearfix:after {
    clear: both;
}
