<div class="buyInfoBuy">
    <!-- Каунтер -->
    {{#product.cartSpinner}}
        {{>partial/cart/spinner}}
    {{/product.cartSpinner}}
    <!--/ Каунтер -->

    <!-- Кнопка купить -->
    {{#product.cartButton}}
        {{>partial/cart/button}}
    {{/product.cartButton}}
    <!--/ Кнопка купить -->

    {{#product.cartQuickButton}}
        {{>partial/cart/quickButton}}
    {{/product.cartQuickButton}}
</div>

<a href="/cart" class="buyingBtn">
    <strong>1</strong> шт. в <span class="buyingBtn_cart"><span class="borderBs">корзине</span></span>
</a>