<div class="content">
    <div class="contentBox940 contentBoxVar">
        <!-- Название товара, артикул, отзывы -->
        <div class="productDescHead">

            <h1 class="productDescHead__name">{{product.title}}</h1>

            {{#product.article}}
                <div class="productDescHead__article">Артикул: {{product.article}}</div>
            {{/product.article}}

            {{#product.rating}}
                <div class="productDescHead__reviews">
                    {{#product.rating}}
                        {{>partial/rating/star-list}}
                    {{/product.rating}}
                    <span class="reviewsCount">{{product.rating.reviewCount}}</span>
                </div>
            {{/product.rating}}
        </div>
        <!--/ Название товара, артикул, отзывы -->

        <div class="productDesc clearfix">

            <!-- Изображение товара -->
            <div class="productDescImg">
                <div class="productDescImgList jsSlides">
                    {{#product.photos}}
                        <img class="productDescImgList_img" src="{{url}}" alt="{{&name}}" />
                    {{/product.photos}}
                </div>
            </div>
            <!--/ Изображение товара -->

            <!-- Информация о покупке -->
            <div class="productDescInfo clearfix">
                {{#product.hasModel}}
                <div class="chooseModel">
                    {{#product.modelBlock}}
                        {{>partial/product-model/property-list}}
                    {{/product.modelBlock}}

                    {{#product.moreModelBlock}}
                        <!-- Другие параметры выбора модели -->
                        <div class="chooseModel__moreBox">
                            {{>partial/product-model/property-list}}
                        </div>
                        <!--/ Другие параметры выбора модели -->

                        <div class="chooseModel__moreLink">Ещё модели</div>
                    {{/product.moreModelBlock}}
                </div>
                {{/product.hasModel}}

                <!-- Выбор варианта покупки, каунтер -->
                <div class="buyInfoWrapGrey clearfix">
                    <div class="buyInfoWrap">
                        <div class="buyInfo">

                            <div class="buyInfoPrice">
                                <!-- Купить по полной цене -->
                                <div class="buyInfoPrice__item">
                                    <input class="customInput customInput-radio jsCustomRadio" type="radio" id="buyprice" name="selectbuy" checked="checked" />

                                    <label class="customLabel" for="buyprice">
                                        {{#product.shownOldPrice}}<span class="oldPrice">{{product.shownOldPrice}} p</span>{{/product.shownOldPrice}}
                                        <span class="nowPrice">{{product.shownPrice}} p</span>
                                    </label>
                                </div>
                                <!--/ Купить по полной цене -->

                                <!-- Купить в кредит -->
                                <div class="buyInfoPrice__item">
                                    <input class="customInput customInput-radio jsCustomRadio" type="radio" id="creditinput" name="selectbuy" />

                                    <label class="customLabel" for="creditinput">
                                        <span class="creditPrice">В кредит от <strong>2 232</strong> р в месяц</span>
                                    </label>
                                </div>
                                <!--/ Купить в кредит -->
                            </div>

                            <!-- Купить дешевле -->
                            <div class="buyInfoLess"><a class="buyInfoLess__link" href="">Хочешь дешевле?</a></div>
                            <!--/ Купить дешевле -->

                            <div class="buyInfoBuy clearfix">
                                <!-- Каунтер -->
                                <div class="counter">
                                    <button class="counter__btn counter__btn-plus">+</button>
                                    <input class="counter__input" type="text" id="" name="" value="1" />
                                    <button class="counter__btn counter__btn-minus">-</button>
                                    <span class="counter__num">шт.</span>
                                </div>
                                <!--/ Каунтер -->

                                <!-- Кнопка купить -->
                                {{#product.cartButton}}
                                    {{>partial/cart/product-button}}
                                {{/product.cartButton}}
                                <!--/ Кнопка купить -->
                            </div>

                            <div class="btnBuyOneClick"><a class="btnBuyOneClick__link" href="">Купить в один клик</a></div>
                        </div>
                    </div>
                    <!--/ Выбор варианта покупки, каунтер -->

                    <!-- Информация о доставке -->
                    <div class="deliveryInfo">

                        <ul class="deliveryList">
                            <li class="deliveryList__item deliveryList__item-standart">
                                Доставка <strong>250 p</strong>
                                <span class="descText">Завтра, 15.02.2014</span>
                            </li>

                            <li class="deliveryList__item deliveryList__item-self">
                                Самовывоз <strong>бесплатно</strong>
                                <span class="descText">Завтра, 15.02.2014</span>
                            </li>

                            <li class="deliveryList__item deliveryList__item-now">
                                <span class="descTextDotted">Сегодня есть в магазинах</span>

                                <ul class="addressShopsList">
                                    <li class="addressShopsList__item"><a class="" href="">м. Ленинский проспект, ул. Орджоникидзе, д. 11, стр. 10</a></li>
                                    <li class="addressShopsList__item"><a class="" href="">м. ВДНХ, пр-кт Мира, д. 211, ТРЦ "Золотой Вавилон"</a></li>
                                    <li class="addressShopsList__item"><a class="" href="">м. Коньково, ул. Профсоюзная, вл. 118, ТЦ "Тропа"</a></li>
                                    <li class="addressShopsList__item"><a class="" href="">м. Ленинский проспект, ул. Орджоникидзе, д. 11, стр. 10</a></li>
                                    <li class="addressShopsList__item"><a class="" href="">м. ВДНХ, пр-кт Мира, д. 211, ТРЦ "Золотой Вавилон"</a></li>
                                    <li class="addressShopsList__item"><a class="" href="">м. Коньково, ул. Профсоюзная, вл. 118, ТЦ "Тропа"</a></li>
                                </ul>
                            </li>

                            <li class="deliveryList__item deliveryList__item-oneClick">
                                <a class="" href="">Купить в один клик</a>
                            </li>
                        </ul>
                    </div>
                    <!--/ Информация о доставке -->
                </div>
            </div>
            <!--/ Информация о покупке -->
        </div>
    </div>

    <!-- Информация о товаре - табы -->
    <div class="contentBox960">
        <ul class="productDescTab">
            <li class="productDescTab_item">
                <a class="productDescTab_link productDescTab_link__active" href="">
                    <span class="tabText">Подробности</span>
                    <img class="tabImg tabImg_view" src="/v2/css/modules/productDescTab/img/video.png" />
                    <img class="tabImg tabImg_view" src="/v2/css/modules/productDescTab/img/grad260.png" />
                </a>
            </li>

            <li class="productDescTab_item">
                <a class="productDescTab_link" href="#reviewsTab">
                    <span class="tabText">Отзывы</span>
                    <span class="tabImg reviews">
                        {{#product.rating}}
                            {{>partial/rating/star-list}}
                        {{/product.rating}}
                    </span>
                </a>
            </li>

            <li class="productDescTab_item">
                <a class="productDescTab_link" href="#accessoriesTab">Аксессуары</a>
            </li>

            <li class="productDescTab_item productDescTab_item__last">
                <a href="#alsoTab" class="productDescTab_link">С этим товаром покупают</a>
            </li>
        </ul>
    </div>
    <!-- Информация о товаре - табы -->

    <div class="contentBox940">
        <!-- Таб - Подробнее -->
        <div class="tabContent specifications clearfix">
            <div class="specificationspMedia">
                Видео и остальной треш
            </div>

            <div class="specificationsListCol">
            {{#product.propertyChunks}}
                <ul class="specificationsList">
                {{#properties}}
                    {{#isTitle}}
                        <li class="specificationsList__item specificationsList__item-title">{{name}}</li>
                    {{/isTitle}}

                    {{^isTitle}}
                        <li class="specificationsList__item">{{name}} : {{value}}</li>
                    {{/isTitle}}
                {{/properties}}
                </ul>
            {{/product.propertyChunks}}

                <p class="specificationsText">{{product.description}}</p>
            </div>
        </div>
        <!--/ Таб - Подробнее -->
    </div>

    <div class="contentBox960" id="reviewsTab">
        <div class="tabTitle clearfix">
            <div class="tabTitle__text">Отзывы пользователей</div>
            <a class="tabTitle__add" href="">Добавить отзыв</a>
        </div>
    </div>

    {{#product.reviewBlock}}
    <div class="contentBox940">
        <!-- Таб - Отзывы -->
        <div class="tabContent tabContent-reviews">
        {{#product.reviewBlock.reviews}}
            <div class="reviewsBox">
                <div class="reviewsBox__left">
                    <div class="reviews">
                        {{>partial/rating/star-list}}
                    </div>

                    <div class="reviewsName">{{author}}</div>

                    <div class="reviewsDate">{{createdAt}}</div>
                </div>

                <div class="reviewsBox__right">
                    <div class="reviewsText">
                        <span class="reviewsText__mark">«</span>
                        <p class="reviewsText__par">
                            {{extract}}
                        </p>
                    </div>

                    <div class="reviewsText">
                        <span class="reviewsText__mark">+</span>
                        <p class="reviewsText__par">
                            {{pros}}
                        </p>
                    </div>

                    <div class="reviewsText">
                        <span class="reviewsText__mark">−</span>
                        <p class="reviewsText__par">
                            {{cons}}
                        </p>
                    </div>
                </div>
            </div>
        {{/product.reviewBlock.reviews}}
        </div>
        <!--/ Таб - Отзывы -->
    </div>
    {{/product.reviewBlock}}

    <div class="contentBox960" id="accessoriesTab">
        <div class="tabTitle clearfix">
            <div class="tabTitle__text">Аксессуары</div>
        </div>
    </div>

    <div class="contentBox940">
        <!-- Таб - Аксессуары -->
        {{#product.accessorySlider}}
            {{>partial/product-slider/default}}
        {{/product.accessorySlider}}
        <!--/ Таб - Аксессуары -->
    </div>

    <div class="contentBox960" id="alsoTab">
        <div class="tabTitle clearfix">
            <div class="tabTitle__text">С этим товаром покупают</div>
        </div>
    </div>

    <div class="contentBox940">
        <!-- Таб - С этим товаром покупают -->
        {{#product.accessorySlider}}
            {{>partial/product-slider/default}}
        {{/product.accessorySlider}}
        <!--/ Таб - С этим товаром покупают -->
    </div>
</div><!--/ Контент -->