.btnBuy {

	&.mBtnLifeGift {
		width: 171px;
		height: 50px;
		margin: 10px auto;
	}
}

.bLifeGiftLink {
	background: url("@{base-url}/lifeGift/img/btnBuy.gif") no-repeat 0 0;
	width: 171px;
	height: 50px;
	display: block;
	margin: 0 auto;
	border-radius: 4px;
}

.mLiftGift {

	.bTitle {
		font-size: 16px;
		color: #c52126;
		margin: 0 0 15px;
	}

	.bSubTitle {
		font-size: 12px;
		display: block;
	}

	.bPrice {
		font-size: 26px;
		margin: 10px 0 0;
		text-align: center;
	}
}

.bLiftGiftLogo {
	text-align: center;
	margin: 10px 0 5px;

	img {
		width: 132px;
	}
}

.bLiftGiftFootnote {
	font-size: 11px;
	padding-bottom: 10px;
}