.btnBuy {

	&.mBtnLifeGift {
		width: 172px;
        height: 37px;
		margin: 10px auto;
	}
}

.bLifeGiftLink {
	.gradient(#c52126, #c52126, #f2292f);
	.rounded(5px);
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
    display: block;
	width: 170px;
	height: 35px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #c52126;
	font-size: 18px;
	line-height: 35px;

    &:hover {
    	.gradient(#991a1e, #991a1e, #f2292f);
    	text-decoration: none;
    	color: @white;
    }
}

.mLiftGift {

	.bTitle {
		font-size: 16px;
		color: #c52126;
		margin: 0 0 15px;
	}

	.bSubTitle {
		font-size: 12px;
		display: block;
	}

	.bPrice {
		font-size: 26px;
		margin: 10px 0 0;
		text-align: center;
	}
}

.bLiftGiftLogo {
	text-align: center;
	margin: 10px 0 5px;

	img {
		width: 132px;
	}
}

.bLiftGiftFootnote {
	font-size: 11px;
	padding-bottom: 10px;
}