/* ==========================================================================
   Категории товаров
   ========================================================================== */

.rootCategories {
	
	&_item {
		float: left;
	    overflow: hidden;

    	width: 25%;
	}

	&_link {
	    display: block;

	    height: 195px;

	    text-align: center;

	    border-right: 1px solid @black;
	    border-bottom: 1px solid @black;
	}

	&_img {
		display: block;

		height: 130px;
		padding: 10px 0;

		.img {
			height: 130px;
		}
	}

	&_name {
		display: block;

		font-size: 16px;
	}
}
