AddDefaultCharset utf-8
SetEnv APPLICATION_ENV dev

Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  RewriteRule ^f1.*$ index.light.php [L]
  RewriteRule ^region/init/$ index.light.php [L]
  RewriteRule ^user/shortinfo/?$ index.light.php [L]
  RewriteRule ^product/delivery1click/? index.light.php [L]
  RewriteRule ^product/delivery-info.* index.light.php [L]
  RewriteRule ^cart/add.* index.light.php [L]
  RewriteRule ^cart/delete.* index.light.php [L]
  RewriteRule ^cart/clear.* index.light.php [L]
  RewriteRule ^cart/warranty/.* index.light.php [L]
  RewriteRule ^category/main_menu/? index.light.php [L]
  RewriteRule ^product-view/.* index.light.php [L]
  RewriteRule ^product-buy/.* index.light.php [L]
  RewriteRule ^orders/1click.* index.light.php [L]

  # dark
  RewriteRule ^search* dark.php [L]
  RewriteRule ^product/([a-zA-Z_0-9-]+(\/{1})[a-zA-Z_0-9-]+)$ dark.php [L]
  RewriteRule ^catalog/([a-zA-Z_0-9-]+(\/{0,1})[a-zA-Z_0-9-]+)/$ dark.php [L]
  RewriteRule ^catalog/([a-zA-Z_0-9-]+(\/{0,1})[a-zA-Z_0-9-]+)/_slider$ dark.php [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^wp-admin/$ /content/wp-admin/index.php [L]
  RewriteRule ^wp-admin/(.*)$ /content/wp-admin/$1 [L]
  RewriteRule ^wp-(.*)$ /content/wp-$1 [L]

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteRule .* - [L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# php
php_flag short_open_tag On
php_value date.timezone "Europe/Moscow"
