AddDefaultCharset utf-8

Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  RewriteRule ^region/init$ region_init.php [L]
  RewriteRule ^user/shortinfo$ user_shortinfo.php [L]
  RewriteRule ^product/delivery1click delivery1click.php [L]
  RewriteRule ^product/delivery-info.* delivery_info.php [L]

  RewriteCond %{QUERY_STRING} ^admitad_uid=(.*)
  RewriteRule ^(.*)$ admitad.php [QSA,L]

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteRule .* - [L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
